.mw-pre-el-seven {
    --seven-text-accent-color-one: currentColor;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;

    &:after, &:before {
        content: " ";
        display: block;
        border-bottom: 1px solid var(--seven-text-accent-color-one);
        border-top: 1px solid var(--seven-text-accent-color-one);
        height: 5px;
    }

}





