.mw-pre-el-underline-three {
    --mw-pre-el-underline-three-color: currentColor;
    --mw-pre-el-underline-three-size: 3px;
    --mw-pre-el-underline-three-pb-size: 3px;
    padding-bottom: var(--mw-pre-el-underline-three-pb-size);
    position: relative;

    &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        fill: var(--mw-pre-el-underline-three-color);
        background-color: var(--mw-pre-el-underline-three-color);
        content: "";
        display: block;
        width: 100%;
        height: var(--mw-pre-el-underline-three-size);
        mask-repeat: repeat-x;
        mask-position: center;
        mask-size: 100%;
        mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 257 5.83"><defs><style>.cls-1{fill:%2300101c;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect class="cls-1" width="257" height="5.83"/></g></g></svg>');
        -webkit-mask-repeat: repeat-x;
        -webkit-mask-position: center;
        -webkit-mask-size: 100%;
        -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 257 5.83"><defs><style>.cls-1{fill:%2300101c;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect class="cls-1" width="257" height="5.83"/></g></g></svg>');
    }
}




