 

/* You can choose default font-family */

.richtext { 
 }
.richtext pre, .richtext menu, .richtext hr, .richtext dir, .richtext center, .richtext ul, .richtext p,
.richtext ol, .richtext noframes, .richtext h6, .richtext h5, .richtext h4, .richtext h3, .richtext h2,
.richtext h1, .richtext frameset, .richtext frame, .richtext form, .richtext fieldset, .richtext dt,
.richtext dl, .richtext div, .richtext dd, .richtext blockquote, .richtext address {
	display:block
}
.richtext li {
	display:list-item
}
.richtext head {
	display:none
}
.richtext table {
	display:table;
	border-spacing:2px
}
.richtext tr {
	display:table-row
}
.richtext thead {
	display:table-header-group
}
.richtext tbody {
	display:table-row-group
}
.richtext tfoot {
	display:table-footer-group
}
.richtext col {
	display:table-column
}
.richtext colgroup {
	display:table-column-group
}
.richtext th, .richtext td {
	display:table-cell;
	vertical-align:inherit
}
.richtext caption {
	display:table-caption
}
.richtext th, .richtext strong, .richtext b, .richtext h6, .richtext h5, .richtext h4, .richtext h3, .richtext h2, .richtext h1 {
	font-weight:bolder
}
.richtext th, .richtext caption, .richtext center {
	text-align:center
}
.richtext body {
	margin:8px
}
.richtext h1 {
	font-size:2em;
	margin:.67em 0;
	font-size:24px
}
.richtext h2 {
	font-size:1.5em;
	margin:.75em 0;
	font-size:22px
}
.richtext h3, .richtext big {
	font-size:1.17em
}
.richtext h3 {
	margin:.83em 0;
	font-size:20px
}
.richtext menu, .richtext dir, .richtext dl, .richtext ol, .richtext form, .richtext fieldset, .richtext ul, .richtext blockquote, .richtext p, .richtext h4 {
	margin:1.12em 0
}
.richtext h5, .richtext sup, .richtext sub, .richtext small {
	font-size:.83em
}
.richtext h5 {
	margin:1.5em 0;
	font-size:16px
}
.richtext h6 {
	font-size:.75em;
	margin:1.67em 0
}
.richtext blockquote, .richtext dd, .richtext menu, .richtext dir, .richtext ul, .richtext ol {
	/*margin-left:40px*/
}
.richtext blockquote {
	margin-right:40px
}
.richtext address, .richtext var, .richtext em, .richtext cite, .richtext i {
	font-style:italic
}
.richtext samp, .richtext kbd, .richtext code, .richtext tt, .richtext pre {
	font-family:monospace
}
.richtext pre {
	white-space:pre
}
.richtext select, .richtext input, .richtext textarea, .richtext button {
	display:inline-block
}
.richtext sub {
	vertical-align:sub
}
.richtext sup {
	vertical-align:super
}
.richtext foot, .richtext tbody, .richtext thead {
	vertical-align:middle
}
.richtext del, .richtext strike, .richtext s {
	text-decoration:line-through
}
.richtext hr {
	border:1px inset
}
.richtext ol {
	list-style-type:decimal
}
.richtext ol ol, .richtext ul ul, .richtext ul ol, .richtext ol ul {
	margin-top:0;
	margin-bottom:0
}
.richtext ins, .richtext u, .richtext:visited, .richtext:link {
	text-decoration:underline
}
.richtext br:before {
	content:"\A"
}
.richtext:after, .richtext:before {
	white-space:pre-line
}
.richtext:focus {
	outline:thin dotted invert
}
.richtext BDO[DIR="ltr"], .richtext *[DIR="ltr"] {
	direction:ltr
}
.richtext BDO[DIR="ltr"], .richtext BDO[DIR="rtl"] {
	unicode-bidi:bidi-override
}
.richtext BDO[DIR="rtl"], .richtext *[DIR="rtl"] {
	direction:rtl
}
.richtext *[DIR="ltr"], .richtext *[DIR="rtl"] {
	unicode-bidi:embed
}


