
@editorSpacing: 5px;

.mw-small-editor{
    position: absolute;
    z-index: 1;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    &.mw-small-editor-skin-default{

    }
    .mw-bar{
        .mw-bar-row{
            white-space: nowrap;
        }
    }
}




.mw-editor-wrapper{
    &.mw-editor-wrapper-document-mode{
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1023;
        background-color: white;

    }
    .mw-editor-controller-component-select{
        display: inline-block;
        position: relative;
    }
    &.mw-editor-default{
        border:1px solid #DDDDDD;

        .mw-editor-area{
            background-color: #fff;
            padding: @editorSpacing;
            min-height: 100px;
        }
        .mw-editor-state-component{

        }
    }
    .mw-editor-controller-component,
    .mw-bar-control-item{
        display: inline-block;
    }

}

.mw-small-editor-skin-default, .mw-editor-default{
    .mw-bar-control-item[data-disabled="true"] {
        .mw-editor-controller-component-select{
            pointer-events: none;
            opacity: .55;
        }

    }
    .mw-editor-controller-component-select{

        .mw-editor-select-display-value{
            text-align: left;
        }
        .mw-editor-select-display-value:after{
            content: "\F0140";
            display: inline-block;
            font: normal normal normal 24px/1 "Material Design Icons";
            font-size: inherit;
            text-rendering: auto;
            line-height: inherit;
            position: relative;
            left: 5px;
        }
        .mw-editor-controller-component-select-values-holder{
            position: absolute;
            top: 100%;
            left: 0;
            background: #fff;
            border: 1px solid #ccc;
            opacity: 0;
            visibility: hidden;
            transition: .3s;
            line-height: normal;
            cursor: pointer;
            min-width: 100%;
        }
        &.active{
            z-index: 10;
            .mw-editor-controller-component-select-values-holder{
                opacity: 1;
                visibility: visible;
            }
        }
        .mw-editor-dropdown-option{
            padding: 6px 10px;
            &+.mw-editor-dropdown-option{
                border-top: 1px solid #ccc;
            }
        }
    }
    .mw-editor-controller-component[data-tooltip]:after{
        position: absolute;
        content: attr(data-tooltip);
        background: #111;
        color: #fff;
        font-size: 11px;
        font-weight: bold;
        border-radius: 3px;
        padding: 5px;
        bottom: 110%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        pointer-events: none;
        transition: .2s;
        line-height: normal;
        margin-bottom: 5px;
    }
    .mw-editor-controller-component[data-tooltip]:hover:after,
    .mw-editor-controller-component[data-tooltip]:focus:after{
        opacity: 1;
        margin-top:0;
        bottom: 100%;
    }
    .mw-bar-row {
        border-bottom:1px solid #DDDDDD;
        background-color: #fff;
        padding: @editorSpacing;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        .mw-bar-control-item{
            vertical-align: middle;
            line-height: 0;
            &+.mw-bar-control-item{
                margin-left: @editorSpacing;
            }
        }
        .mw-bar-control-item-group{
            position: relative;
            .mw-editor-controller-component + .mw-editor-controller-component {
                margin-left: @editorSpacing;
            }
            .mw-editor-controller-button{
                vertical-align: top;
            }
            &>.mw-editor-controller-button{
                display: none;
            }
            &.mw-editor-control-group-media-matches{
                .mw-editor-controller-button{
                    display: inline-block;
                }
                .mw-bar-control-item-group-contents {
                    visibility: hidden;
                    opacity: 0;
                    transition: .3s;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    white-space: nowrap;
                    box-shadow:  0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
                    padding: @editorSpacing;
                    background-color: #F5F5F5;
                    z-index: 15;

                }
                &.active {
                    z-index: 25;
                    .mw-bar-control-item-group-contents {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }

        }

    }
    .mw-bar-delimiter{
        display: inline-block;
        height: 16px;
        width: 2px;
        margin: 2px;
        background-color: #b7b7b7;
        border-left: 1px solid #eaeaea;
        vertical-align: middle;
    }
    .mw-editor-controller-button{
        font-size: 19px;
        padding: 0;
        width: 32px;
        line-height: 2.308rem;
        &.mw-editor-group-button{
            width: auto;
            padding: 0 5px;
            display: none;
            .mw-editor-group-button-icon{
                vertical-align: middle;
            }
            .mw-editor-group-button-caret{
                font-size: 10px;
                vertical-align: middle;
                margin: 0;
                color: #999;
                position: relative;
                top: -1px;
                &:after{
                    content: '\25BC';
                }
            }
        }
    }
}
