/****************************
    Variables
*****************************/


@borderColor: #e5e5e5;
@fieldBorderColor: rgba(207,207,207,1);
@buttonColor: #ffffff;
@invert: #262626;
@boxbg: #fafafa;



@default: #f5f5f5;
@defaultTextColor: #686868;
@defaultBorderColor: #cfcfcf;
@invert: #2b2b2b;
@invertTextColor: #fff;
@invertBorderColor: #2b2b2b;
@info: #009cff;
@infoTextColor: #fff;
@infoBorderColor: #009cff;
@warn: #fa8e36;
@warnTextColor: #fff;
@warnBorderColor: #fa8e36;
@important: #f12b1c;
@importantTextColor: #fff;
@importantBorderColor: #f12b1c;
@notification: #469a36;
@notificationTextColor: #fff;
@notificationBorderColor: #469a36;

@radius: 2px;
@defaultRoundedRadius: 30px;

@linkColor: #009cff;
@textColor: #2b2b2b;

@smallHeight: 1.538rem;
@mediumHeight: 2.308rem;
@normalHeight: 2.923rem;
@largeHeight: 3.385rem;