/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
	outline: none;
}
.slides, .flex-control-nav, .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {
	margin: 0;
	padding: 0;
}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
	width: 100%;
	display: block;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
	display: block;
}
/* FlexSlider Default Theme
*********************************/
.flexslider {
	margin:0;
	position: relative;
	zoom: 1;
}
.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.loading .flex-viewport {
	max-height: 300px;
}
.flexslider .slides {
	zoom: 1;
}
.flex-caption {
	/*background:none;
-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000);*/
	zoom: 1;
}
.flex-caption {
	width: 350px;
	padding: 2%;
	margin: 0;
	position: absolute;
	left:50px;
	top:15%;
	color: #fff;
	text-shadow:0 1px 0 rgba(0,0,0, 0.7);
	font-size: 12px;
	line-height: 18px;
}
.flex-caption h2 {
	color:#FFF;
	font-size:22px;
	text-transform:capitalize;
	background: rgba(0,0,0,.8);
	padding:10px;
}
.flex-caption .slide-txt {
	color:#FFF;
	font-size:14px;
	background: rgba(0,0,0,.8);
	padding:10px;
}
/* Direction Nav */
.flex-direction-nav a {
	width: 40px;
	height: 62px;
	margin: -20px 0 0;
	display: block;
	background: url(../images/sliders/flexslider_arrow.png) no-repeat 0 0 #3e4756;
	position: absolute;
	top: 50%;
	cursor: pointer;
	text-indent: -9999px;
	opacity: 0;
	z-index:10;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.flex-direction-nav .flex-next {
	background-position: 100% 0;
	right: 0;
}
.flex-direction-nav .flex-prev {
	left: 0;
}
.flexslider:hover .flex-next {
	opacity: 1;
	right: 0px;
}
.flexslider:hover .flex-prev {
	opacity: 1;
	left: 0px;
}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
	opacity: 1;
	background-color:#0083b7;
}
.flex-direction-nav .flex-disabled {
	opacity: .3!important;
	filter:alpha(opacity=30);
	cursor: default;
}
/* Control Nav */
.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: 0;
	left:0;
	text-align:center;
}
.flex-control-nav li {
	padding: 12px 2px 10px;
	display: inline-block;
	zoom: 1;
*display: inline;
}
.flex-control-paging li a {
	width: 10px;
	height: 10px;
	display: block;
	background: url(../images/sliders/slider_dots.png) no-repeat top left;
	cursor: pointer;
	text-indent: -9999px;
}
.flex-control-paging li a:hover {
	background: url(../images/sliders/slider_dots.png) no-repeat bottom left;
}
.flex-control-paging li a.flex-active {
	cursor: default;
	background: url(../images/sliders/slider_dots.png) no-repeat bottom left;
}
.flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden;
}
.flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
}
.flex-control-thumbs img {
	width: 100%;
	display: block;
	opacity: .7;
	cursor: pointer;
}
.flex-control-thumbs img:hover {
	opacity: 1;
}
.flex-control-thumbs .flex-active {
	opacity: 1;
	cursor: default;
}
 @media screen and (max-width: 860px) {
.flex-direction-nav .flex-prev {
	opacity: 1;
	left: 0;
}
.flex-direction-nav .flex-next {
	opacity: 1;
	right: 0;
}

}

/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.flex-caption{
			display:none;
		}
		
		}

@media only screen and (min-width: 480px) and (max-width: 767px) {
		
	.flex-caption{
		display:none;
	}
	
	}
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	.flex-caption1{
		display:none;
	}
	
	}
