/* ========= Breadcrumbs =========== */
.breacrumbs{
	background:url(../images/sliders/123.jpg) repeat top center #ddd;
	padding:25px 0;
	color:#FFF;
	font-weight:600;
}
.breacrumbs i{
	padding:0 5px;
	font-size:10px;
}
.breacrumbs h1{
	color:#FFF;
}
.breacrumbs a{
	color:#000;
}
.breacrumbs a:hover{
	color:#fff;
}
.breacrumbs span:before{
	content:"\f061";
	font-family:'FontAwesome';
	margin:0 7px 0 5px;
	font-weight:300;
	position:relative;
	top:1px;
}
.breacrumbs span:after{
	content:"/";
	font-family:'FontAwesome';
	margin:0 5px;
	position:relative;
	top:1px;
}
.breacrumbs span.no-icons:before{
	content:"";
	margin-left:0;
	}
/* ========= Typography =========== */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Dosis', sans-serif;
}
h1, h3{
	color:#73af4e;
}
h2{
	color:#0083b7;
}
h4{
	color:#555555;
}
h1, h2, h3, h4{
	font-weight: 600;
}
h5, h6{
	font-weight: normal;
	color:#444444;
}

/* ========= Dividers =========== */
.divider1{
	background:url(../images/dividers/bar_seperator_3.png) repeat;
	height:4px;
	display:block;
	margin-bottom:15px;
}
.divider3{
	background:url(../images/dividers/sep_small.png) no-repeat center center;
	height:10px;
	display:block;
	margin-bottom:15px;
}
.divider2{
	background:url(../images/dividers/bar_seperator_2.png) no-repeat center center;
	height:44px;
	display:block;
	margin:15px 0;
}
/* ========= End =========== */

/* ========= CSS3 Shadows =========== */
.shadow-wrapper {
	position: relative;
	width: auto;
	padding:5px;
	background:#FFF;
	border:1px solid #FFF;
	margin:0 0 18px 0;	
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
/*.span12 .shadow-wrapper:before, .span12 .shadow-wrapper:after {
	bottom:15px;
}*/

.shadow-wrapper:before, .shadow-wrapper:after {
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 5px;
	bottom: 4px;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2);
	z-index: -1;
}
.shadow-wrapper:after {
	left: auto;
	right: 5px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
}
/* ========= End =========== */	

/* ========= Portfolio Stye =========== */
.tags{
	padding:0 0 8px 0;
	border-bottom: 1px dotted #B4B4B4;
	margin:0 50px 10px 50px; 
}
.zoom-icons{
	text-align:center;
	padding:10px 0;
	position:absolute;
	top:50%;
	margin:-26px 0 0 -44px;
	left:50%;
}
.zoom-icons a, .zoom-icons2 a{
	display:inline-block;
	width:44px;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	text-align:center;
	line-height:44px;
	color:#fff;
	height:44px;
	text-shadow:none;
	background:url(../images/icons/icon_portfolio.png) no-repeat top left;
}
.zoom-icons a:hover, .zoom-icons2 a:hover{
	background:url(../images/icons/icon_portfolio.png) no-repeat top right;
}
.port3-head{
	background:#0083b7;
	text-align:center;
	color:#FFF;
	padding:10px 0 1px 0;
}
.port3-head, .details{
	text-shadow:0 1px 0 rgba(0, 0, 0, 0.3);
	color:#FFF;
}
.port3-head h3, .details h2, .port3-head p, .details p, .port3-head h3 a{
	color:#fff;
	margin-bottom:5px;
}
.port3-head:before {
	position: absolute;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-top: 5px solid #FFF;
	content: ' ';
	left: 50%;
	top: 5px;
	background: transparent;
	z-index:1000;
}
/* ========= End =========== */	


/* ========= Services Icons =========== */
.service-wrap{
	margin:10px 0 11px;
}
.service-wrap.text-center{
	text-align:center;
}
.service-ico{
	background:url(../images/icons/hex_icon_blue.png) no-repeat top center;
	height:64px;
	width:58px;
	line-height:55px;
	text-align:center;
}
.service-wrap.text-center .service-ico{
	margin:0 auto 10px auto;
}
.service-ico.green{
	background:url(../images/icons/hex_icon_green.png) no-repeat top center;
}
.service-styel2 .service-ico{
	float:left;
	margin:0 15px 10px 0;
}
.service-3outer{
	background:#f6f7f9;
	border-width:1px 0;
	border-style:solid;
	border-color:#cdd5df;
	margin:0;
	padding:10px 0;
}
.service-txt{
	float:left;
	margin:0 12px 10px 0;
	background:#181f29;
	padding:12px 0;
	width:50px;
	font-size:26px;
	font-weight:600;
	color:#ffffff;
	text-align:center;
}
.service-styel2 h3{
	line-height:60px;
}
.service-styel3 h3{
	font-size:17px;
	color:#353535;
}
.service-styel3 h3 span{
	display:block;
	color:#0083b7;
	text-transform:uppercase;
}
.service-wrap p{
	clear:left;
}
/* ========= End =========== */

/* ========= Blog Stye =========== */
.blog-txt{
	padding:5px 0;
	border-width:1px 0;
	border-style:dotted;
	border-color:#B4B4B4;
	margin:8px 0 20px 0;
}
.blog-txt span{
	padding:0 0 0 5px;
}
.blog-txt span i{
	color:#959ea9;
}
.port3-head .blog-txt{
	padding:5px 0;
	border-width:1px 0;
	border-style:dotted;
	border-color:#333;
	margin:8px 0 20px 0;
	text-align:left;
}
.shadow-wrapper .port3-head .date-txt{
	margin:-20px 8px 0 5px;
	background:#00587b;
	border:none;
	color:#FFF;
}
.port3-head .blog-txt i{
	color:#80c1db;
	text-shadow:none;
}
.port3-head .blog-txt a{
	color:#FFF;
}
.port3-head .blog-txt a:hover{
	color:#000;
	text-shadow:none;
}
.top-mar{
	margin-top:8px;
}
.blog-date{
	line-height:40px;
}
.blog-head{
	padding:0 0 5px 0;
}
.date-txt{
	background:url(../images/body-bg.png) repeat;
	border:1px dotted #B4B4B4;
	border-radius:100px;
	float:left;
	height:45px;
	width:55px;
	text-align:center;
	line-height:20px;
	padding:10px 0 0 0;
	margin:-20px 5px 0 -5px;
	font-size:24px;
	font-weight:600;
	color:#0083b7;
}
.shadow-wrapper .date-txt{
	background:#fff;
	margin:-20px 5px 0 3px;
}
.date-txt span{
	font-size:14px;
	display:block;
	padding:0;
}
/* ========= End =========== */

/* ========= Bullets Style =========== */
ul.bullets-style{
	margin:10px 0;
	list-style-type:none;
}
ul.bullets-style li {
    margin: 0 0 5px;
    position: relative;
}
.arrow-list li:before, .arrow-list-2 li:before, .arrow-list-3 li:before, .arrow-list-4 li:before{
	font-family:'FontAwesome';
	margin-right:8px;
	position:relative;
	top:1px;
}
.arrow-list li:before{
	content:"\f0a9";
}
.arrow-list-2 li:before{
	content:"\f054";
}
.arrow-list-3 li:before{
	content:"\f0da";
}
.arrow-list-4 li:before{
	content:"\f061";
}
.arrow-list.dark li:before, .arrow-list-2.dark li:before, .arrow-list-3.dark li:before, .arrow-list-4.dark li:before{
	color:555;
}
.arrow-list.green li:before, .arrow-list-2.green li:before, .arrow-list-3.green li:before, .arrow-list-4.green li:before{
	color:#73af4e;
}
.arrow-list.blue li:before, .arrow-list-2.blue li:before, .arrow-list-3.blue li:before, .arrow-list-4.blue li:before{
	color:#0083b7;
}
.arrow-list.light li:before, .arrow-list-2.light li:before, .arrow-list-3.light li:before, .arrow-list-4.light li:before{
	color:#bbbbbb;
}
/* ========= End =========== */

/* ========= Buttons Style =========== */
.btn.square, .btn-small.square, .btn-large.square{
	border-radius:0;
}
.btn.round2, .btn-small.round2, .btn-large.round2{
	border-radius:100px;
}
.for-shortcode .btn{
	margin:0 10px 10px 0;
}
a.button-lightblue, a.button-green, a.button-blue, a.button-dark, a.button-navyblue, a.button-light{
	background-image:url(../images/btn_glow.png);
	font-family: 'Open Sans';
	background-repeat:repeat-x;
	background-position:left bottom;
	font-weight:500;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
	color:#FFF;
	-webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
a.button-lightblue.btn:hover, a.button-green.btn:hover, a.button-blue.btn:hover, a.button-dark.btn:hover, a.button-navyblue.btn:hover, a.button-light.btn:hover{
  text-decoration: none;
  background-image:url(../images/btn_glow_hover.png);
  background-position:left top;
}

a.button-lightblue, a.button-lightblue.btn:hover, a.button-lightblue.btn.active, a.button-lightblue.btn:active{
	background-color:#c7d0db;
	color:#333;
	text-shadow:0 1px 0 rgba(204,204,204, 0.8);
}
a.button-green, a.button-green.btn:hover, a.button-green.btn.active, a.button-green.btn:active{
	background-color:#73af4e;
	color:#FFF;
}
a.button-blue, a.button-blue.btn:hover, a.button-blue.btn.active, a.button-blue.btn:active{
	background-color:#0083b7;
	color:#FFF;
}
a.button-dark, a.button-dark.btn:hover, a.button-dark.btn.active, a.button-dark.btn:active, a.button-navyblue.btn:active{
	background-color:#444444;
	color:#FFF;
}
a.button-navyblue, a.button-navyblue.btn:hover, a.button-navyblue.btn.active, a.button-navyblue.btn:active{
	background-color:#1c2431;
	color:#FFF;
}
a.button-light, a.button-light.btn:hover, a.button-light.btn.active, a.button-light.btn:active{
	background-color:#1c2431;
	color:#FFF;
}
a.button-light, a.button-light.btn:hover, a.button-light.btn.active, a.button-light.btn:active{
	background-color:#bababa;
	color:#1c1b1b;
	text-shadow:0 1px 0 rgba(204,204,204, 0.8);
}
/* ========= End =========== */

/* ========= Tabs =========== */

.tabs {
	padding:30px;
	height:auto!important;
	position:relative;
	border-bottom: 1px solid #f3f3f3;
}
.tab-menu {
	margin: 0 0 -1px 0;
	padding: 0;
	list-style: none;
	height: 40px;
}
.tab-menu li {
	float: left;
	margin:0 1px 0 0 !important;
	padding:0;
	line-height: 31px;
	overflow: hidden;
	position: relative;
	background:#dddddd;
	width: auto !important;
}
.tab-menu li a {
	text-decoration: none;
	color: #3e3e3e;
	display: block;
	padding:4px 15px 4px 15px;
	outline: none;
	text-shadow:0 1px 0 rgba(204,204,204, 0.8);
}

/* Tab Blue */
html .tab-menu.tab-blue li.active a:hover, html .tab-menu.tab-blue li.active a, html .tab-menu.tab-blue li a:hover{
	background: #0083b7;
	text-shadow:0 1px 0 rgba(0,0,0, 0.8);
	color:#FFF;
}
html .tab-menu.tab-green li.active a:hover, html .tab-menu.tab-green li.active a, html .tab-menu.tab-green li a:hover{
	background: #73af4e;
	text-shadow:0 1px 0 rgba(0,0,0, 0.3);
	color:#FFF;
}
html .tab-menu.tab-blue.round li.active a:hover, html .tab-menu.tab-blue.round li.active a, html .tab-menu.tab-blue.round li a:hover, .tab-menu.round li, html .tab-menu.tab-green.round li.active a:hover, html .tab-menu.tab-green.round li.active a, html .tab-menu.tab-green.round li a:hover, .tab-green.round li{
	border-radius:3px 3px 0 0;
}

/* Tab Blue End */
/*TAB CONTAINER*/
.tab-container {
	overflow: hidden;
	clear:both;
	float: left;
	background: none repeat scroll 0 0 #FFFFFF;
}
.tab-content-1 {
	padding:12px 12px 7px 12px;
	position:relative;
}
/* ========= End =========== */

/* ========= Dropcaps =========== */
.dropcap {
	float: left;
	font: 30px "Dosis", sans-serif;
	margin-right: 15px;
}
.dropcap2 {
	background: none repeat scroll 0 0 #0083b7;
	color: #fff;
	float: left;
	font: 18px "Dosis", sans-serif;
	margin-right: 15px;
	padding: 8px 15px;
	text-shadow: 0 1px 1px #333;
}
.dropcap3 {
	background: none repeat scroll 0 0 #73AF4E;
	color: #fff;
	float: left;
	font: 18px "Dosis", sans-serif;
	margin-right: 15px;
	padding: 8px 15px;
	text-shadow: 0 1px 1px #333;
}
.dropcap4 {
	background: none repeat scroll 0 0 #444444;
	color: #fff;
	float: left;
	font: 18px "Dosis", sans-serif;
	margin-right: 15px;
	padding: 8px 15px;
	text-shadow: 0 1px 1px #333;
}
.dropcap2, .dropcap3, .dropcap4 {
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
}
.dropcap5 {
	background: url(../images/btn_glow.png) repeat-x scroll 50% 0 #eee;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	color: #333;
	float: left;
	font: 18px "Dosis", sans-serif;
	margin-right: 15px;
	padding: 8px 15px;
	text-shadow: 0 1px 1px #fff;
}
.dropcap6 {
	background: url(../images/btn_glow.png) repeat-x scroll 50% 0 #BABABA;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	color: #fff;
	float: left;
	font: 18px "Dosis", sans-serif;
	margin-right: 15px;
	padding: 8px 15px;
	text-shadow: 0 1px 1px #333;
}
.dropcap7 {
	background: url(../images/btn_glow.png) repeat-x scroll 50% 0 #0083b7;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	color: #fff;
	float: left;
	font: 18px "Dosis", sans-serif;
	margin-right: 15px;
	padding: 8px 15px;
	text-shadow: 0 1px 1px #333;
}
.dropcap8 {
	background: url(../images/btn_glow.png) repeat-x scroll 50% 0 #73AF4E;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	color: #fff;
	float: left;
	font: 18px "Dosis", sans-serif;
	margin-right: 15px;
	padding: 8px 15px;
	text-shadow: 0 1px 1px #333;
}


/* ========= End =========== */

/* ========= jQuery Toggles =========== */

#toggle {
	border: 0px;
}
h2.trigger {
	padding:5px 8px;
	background:#fff;
	margin:0 0 10px 0;
	font-size:14px;
	color:#3e3e3e;
	cursor:pointer;
	border:1px solid #dddddd;
}
h2.trigger span {
	text-decoration: none;
	float:left;
	display: block;
	height:20px;
	margin:2px 8px 0 0;
	background: url(../images/icons/arrow_icons.png) no-repeat center -14px #73af4e;
	border-radius:1000px;
	padding:0;
	width:20px;	
}
h2.active span {
	background: url(../images/icons/arrow_icons.png) no-repeat center 7px #73af4e;
}
/* jQuery Toggles */
.toggle_container {
	margin: 0 0 0 0;
	padding: 0px 0px;
	overflow: hidden;
	clear: both;
}
.toggle_container .block {
	padding:8px;
	margin-bottom:10px;
	color:#555555;
	background:#fcfcfc;
	border:1px solid #dddddd;
}
.toggle_container .block p{
	margin:0;
}
.toggle-round h2.trigger {
	border-radius:1000px;
}
.toggle-round .toggle_container .block {
	padding:0 10px;
	margin-bottom:10px;
	background:none;
	border:none;
}
.toggle-blue h2.trigger span {
	background: url(../images/icons/arrow_icons.png) no-repeat center -14px #0083b7;
}
.toggle-blue h2.active span {
	background: url(../images/icons/arrow_icons.png) no-repeat center 7px #0083b7;
}
/* Accordion */
h2.accordion-title {
	font-size:14px;
	margin:0 0 10px 0;
	clear:both;
	padding:10px 0 10px 10px;
	line-height:18px;
	display:block;
	text-transform:capitalize;
}
h2.accordion-title.active {
}
ul.ts-accordion {
	list-style: none;
	margin-left: 0px;
	overflow:hidden
}
ul.ts-accordion li {
	list-style: none;
	margin:0;
	padding:0
}
div.accordion-content {
	padding:0 0 10px 0;
	clear:both;
}
.acc-round div.accordion-content{
	padding:0 10px 10px 10px;
}
	
h2.accordion-title span.accordion-icon {
	width:20px;
	height: 20px;
	float:left;
	background: url(../images/icons/arrow_icons.png) no-repeat center -14px #0083b7;
	margin:0 10px 5px 0;
	cursor: pointer;
	display: block
}
h2.accordion-title.active span.accordion-icon {
	background: url(../images/icons/arrow_icons.png) no-repeat center 7px #0083b7;
}
.ts-accordion.acc-green h2.accordion-title.active span.accordion-icon {
	background: url(../images/icons/arrow_icons.png) no-repeat center 7px #73af4e;
}
.ts-accordion.acc-green h2.accordion-title span.accordion-icon {
	background: url(../images/icons/arrow_icons.png) no-repeat center -14px #73af4e;
}

.ts-accordion.acc-round h2.accordion-title.active span.accordion-icon, .ts-accordion.acc-round h2.accordion-title span.accordion-icon, .ts-accordion.acc-round h2.accordion-title{
	border-radius:1000px;
}
div.accordion-title p {
	margin-bottom: 0px;
}
/* Accordion */
h2.accordion-title, h2.accordion-title.active {
	background:#fff;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
	color:#3e3e3e;
	cursor:pointer;
}
/* ========= End =========== */

/* ========= Heading Style =========== */
.head-two{
	background:url(../images/dividers/bar_seperator_3.png) repeat-x center center;
	font-size:20px;
	padding:0 0 0 10px;
	margin:0 0 10px 0;
}
.head-two span{
	padding:8px;
	background:url(../images/body-bg.png) repeat;
}
.head-two.green{
	color:#73af4e;
}
.head-two.ali-center{
	text-align:center;
}
/* ========= End =========== */

/* ========= Testimonials Style =========== */
.testimonial-fullwidth{
	background:#eeeeee;
	border-width:1px 0;
	border-style:solid;
	border-color:#dddddd;
	margin-top:15px;
	padding:12px 0 0 0;
}

/* Control Nav */
.test-img2{background:url(../images/shadow_bg.png) no-repeat bottom center; padding:14px 0 10px 0; float:left; margin:0 15px 15px 0; width:95px;}
.test-img2 img{border:1px solid #0083b7; border-radius:1000px;}
.test-txt{overflow:hidden;}
.test-txt p{margin-bottom:12px;}
.test-txt .author{color:#0083b7; font-size:15px; font-weight:600; font-style:italic; border-top:1px dotted #B4B4B4; padding:10px 0 0 0;}
.test-txt .author span{color:#555;}
.testimonials-slider.flexslider{margin-bottom:30px;}
.testimonials-slider .flex-viewport {
    padding-bottom: 10px;
}
.testimonials-slider .flex-control-nav {width: 80%; position: absolute; bottom: -20px; text-align: left; padding-left:109px; left:0;}
.testimonials-slider .flex-control-nav li {margin: 0 3px; display: inline-block; zoom: 1; *display: inline;}
.testimonials-slider .flex-control-paging li a {width: 8px; height: 8px; display: block; background:url(../images/sliders/testimonials_dots.png) no-repeat; cursor: pointer; text-indent: -9999px; border-radius:0; box-shadow:none;}
.testimonials-slider .flex-control-paging li a:hover, .testimonials-slider .flex-control-paging li a.flex-active { background:url(../images/sliders/testimonials_dots.png) no-repeat top right;}
/* ========= End =========== */


/* ========= Images Alignment =========== */
.imgalg-left, .imgalg-right{
	border:2px solid #FFF;
	box-shadow:0 2px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:0 2px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 2px 2px rgba(0, 0, 0, 0.1);
	-o-box-shadow:0 2px 2px rgba(0, 0, 0, 0.1);
}
.imgalg-left{
	float:left;
	margin:6px 15px 13px 0;
}
.imgalg-right{
	float:right;
	margin:6px 0 13px 15px;
}
/* ========= End =========== */

/* ================ Socail Icons ======================== */
.tipsy {
	padding: 5px 3px;
	background-repeat: no-repeat;
	background-image: url(../images/tipsy.gif);
}
.tipsy img{
	-moz-box-shadow:0 1px 2px #424242;
	-webkit-box-shadow:0 1px 2px #424242;
	-o-box-shadow:0 1px 2px #424242;
}
.tipsy-inner {
	padding: 5px 8px 4px 8px;
	background-color: black;
	color: white;
	font-size:14px;
	max-width: 200px;
	text-align: center;
	border-radius:4px;
}
.tipsy-inner {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.tipsy-north {
	background-position: top center;
}
.tipsy-south {
	background-position: bottom center;
}
.tipsy-east {
	background-position: right center;
}
.tipsy-west {
	background-position: left center;
}
.social-icons{
	padding:0;
}
.social-icons ul{
	margin:0;
	padding:5px 0 0 0;
}
.social-icons ul li{
	display:inline-block;
	padding:0 2px 10px 2px;
	margin:0;
}
.social-icons ul li a{
	width:20px;
	height:15px;
	display:block;
	text-indent:-9999px;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
	-o-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
	-moz-transition: background 0.25s ease-out 0s, color 0.15s ease-out 0s;
	-webkit-transition: background 0.25s ease-out 0s, color 0.15s ease-out 0s;
	-o-transition: background 0.25s ease-out 0s, color 0.15s ease-out 0s;
	transition: background 0.25s ease-out 0s, color 0.15s ease-out 0s;
}
.social-icons.blue ul li a{
	background:url(../images/icons/social_icons_blue.png) no-repeat #FFF;
}
.social-icons.green ul li a{
	background:url(../images/icons/social_icons_green.png) no-repeat #FFF;
}
/*.social-icons ul li a:hover{background:#bc4444 url(../images/social_icons.png) no-repeat;}*/
.social-icons ul li a.twitter{background-position:4px 5px;}
.social-icons ul li a.twitter:hover{background-position:4px -25px;}

.social-icons ul li a.facebook{background-position:-24px 5px;}
.social-icons ul li a.facebook:hover{background-position:-24px -25px;}

.social-icons ul li a.gplus{background-position:-51px 5px;}
.social-icons ul li a.gplus:hover{background-position:-51px -25px;}

.social-icons ul li a.dribble{background-position:-81px 5px;}
.social-icons ul li a.dribble:hover{background-position:-81px -25px;}

.social-icons ul li a.flickr{background-position:-110px 5px;}
.social-icons ul li a.flickr:hover{background-position:-110px -25px;}

.social-icons ul li a.pinterest{background-position:-138px 5px;}
.social-icons ul li a.pinterest:hover{background-position:-138px -25px;}

.social-icons ul li a.forrst{background-position:-166px 5px;}
.social-icons ul li a.forrst:hover{background-position:-166px -25px;}

.social-icons ul li a.vemio{background-position:-195px 5px;}
.social-icons ul li a.vemio:hover{background-position:-195px -25px;}
/* ========= end =========== */	

/* 
=============================================================================
	Alert Box
=============================================================================
*/
.notification{
	padding:10px;
	margin-bottom:20px;
	text-shadow:0 1px 0 rgba(255,255,255, 0.7)
}
.notification.error{
	background:#ffeded;
	border:solid 1px #fbc4c4;
	color:#de5959;	
}
.notification.success{
	background:#eff9e6;
	border:solid 1px #b3dc82;
	color:#5f9025;	
}
.notification.warning{
	background:#fbfae4;
	border:solid 1px #ded58a;
	color:#8f872e;	
}
.notification.notice{
	background:#eaf7fe;
	border:solid 1px #b6d7e8;
	color:#5091b2;	
}
/* blockquote */
blockquote:before {
    content: "\f10d";
	font-family:'FontAwesome';
	margin-right:8px;
	position:relative;
	top:1px;
	color:#0083B7;
	font-size:18px;
}
blockquote {
    background-image: url(../images/quote.html);
    background-position: 0 0;
    background-repeat: no-repeat;
    clear: both;
    margin: 0 0 20px 0;
	padding:0;
	font-size:16px;
	font-style:italic;
	line-height:22px;
	border:none;
}
blockquote.left, blockquote.right  {
	float:right;
	margin:0 0 0 20px;
	width:65%;
	}

blockquote.left{
	float:left;
	margin-left:0px;
	margin-right:20px;
}
/* Highlight */
.highlight1{color:#fff; background:#444; text-shadow:0 1px 0 rgba(0, 0, 0, 0.7);}	
.highlight2{background:#E9E9E9; color:#000;}
.highlight1{padding:2px 5px;}	
.highlight2{padding:2px 5px;}
.highlight3{border-bottom:dotted 1px #bc4444}
/* ========= end =========== */	
/* 
=============================================================================
	Home Portfolio & Blog Slider Style
=============================================================================
*/
.jcarousel-skin-tango .jcarousel-container { /*    border: 1px solid #346F97;*/ }
.jcarousel-skin-tango .jcarousel-direction-rtl { direction: rtl; }
.jcarousel-skin-tango .jcarousel-container-horizontal { width: 100%; }
.jcarousel-skin-tango .jcarousel-clip { overflow: hidden; }
.jcarousel-skin-tango .jcarousel-clip-horizontal { width:  100%; }
.jcarousel-skin-tango .jcarousel-item { width: 220px; }
.jcarousel-skin-tango .jcarousel-item-horizontal { margin-left: 0; margin-right: 0; margin-bottom:0; }
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal { margin-left: 10px; margin-right: 0; }
.jcarousel-skin-tango .jcarousel-item-placeholder { background: #fff; color: #000; }

/* Horizontal Buttons */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: -38px;
    right: 10px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    background: transparent url(../images/carousel_nav.png) no-repeat top right;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal { }
.jcarousel-skin-tango .jcarousel-next-horizontal:hover/*,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus*/ { background-position:-28px -27px; }
.jcarousel-skin-tango .jcarousel-next-horizontal:active { }
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active { cursor: default; background-position:-28px -54px; }
.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
	top: -38px;
	right: 36px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    background: transparent url(../images/carousel_nav.png) no-repeat ;
}
.jcarousel-skin-tango .shadow-wrapper{
	box-shadow:0 0px 0px rgba(0, 0, 0, 0.1);
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal { }
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover/*, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus */{ background-position:0 -27px; }
.jcarousel-skin-tango .jcarousel-prev-horizontal:active { }
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active { cursor: default; background-position:0 -54px;}
/* ========= end =========== */