@import url("ooyes.framework.css");

body{
  font:12px Verdana, Arial, sans-serif;
  color: #131313;
  background: black url(../img/bg.jpg) no-repeat center top;
}
a{
  font:12px Verdana, Arial, sans-serif;
  color: #131313;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
  font-family: Helvetica, helvetica, Verdana, Arial, sans-serif;
  color: #3b3b3b;
}


address{
  font-style: normal;
}


#wrapper{
  width: 952px;
  margin: 0 auto;
}
#header{
  margin-top: 38px;
  width: 952px;

}
#header_top{
  width: 952px;
  background:#F9C027;
  height: 105px;
}
#logo{
  float: left;
  width:550px;
  height: 105px;
  background: url(../img/logo.jpg) no-repeat;
}
#logo a{
  display: block;
  margin: 25px 0 0 40px;
  width: 240px;
  height: 55px;
  float: left;
  text-indent: -9999px;
}
#top_nav{
  float: right;
  width:350px;
  margin:40px 13px 0 0;
}
#top_nav ul{
  float: right;
  list-style: none;
}
#top_nav li{
  float: left;
  font-size: 11px;
}
#top_nav li a{
  margin: 0 7px;
  font-size: 12px;
}
#top_nav li a:hover{
  text-decoration: underline;
}
#top_nav p{
  text-align: right;
  padding:6px 7px 0 0;
  clear: both;
}
#nav{
  clear: both;
  height: 57px;
  width:952px;
  background: url(../img/nav.jpg) repeat-x;
}
#nav ul{
  float: left;
  margin-left: 88px;
}
#nav ul li{
  float: left;
  list-style: none;
}
#nav ul li a{
  display: block;
  height: 35px;
  padding: 22px 20px 0 20px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;

}
#nav ul li a:hover, #nav ul li a.active, #nav ul li.active a{
  background: url(../img/nav_hover.jpg) repeat-x;
  color: #191A1C;
}
#nav_cart{
  color: #F8BF27;
  float: right;
  width:190px;
  text-align: right;
  margin-right:20px;
  margin-top: 7px;
  font-weight: bold;
}
#nav_cart a{
  color: #F8BF27;
  font-weight: bold;
}
#nav_cart a:hover{
  text-decoration: underline;
}


#nav_cart img{
  position: relative;
  top: 4px;
  margin: 0 3px
}
#content{
  clear: both;
  width:902px;
  padding: 25px;
  background:white url(../img/content.jpg) repeat-x;
  min-height: 500px;
  zoom:1;
}
#content:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;

}

#footer{
  clear: both;
  zoom:1;
  padding-bottom: 20px;
}
#footer:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;

}


#footer_share{
  background: url(../img/fshare.jpg) repeat-x;
  height:62px;
  width: 904px;
  overflow: hidden;
  zoom:1;
  padding:15px 24px 0;
}
#footer_share h2{
  float: left;
  width:470px;
  color: white;
  font-size:29px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 12px;
}
#footer_share .tw{
  margin-left: 17px;
}


#footer_nav{
  width: 952px;
  text-align: center;
  background:#F9C028;
  padding: 12px 0;
}
#footer_nav a{
  margin-right: 5px;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
}
#footer_nav a:hover{
  text-decoration: underline;
}


#copy{
  color: white;
  clear: both;
  padding-top:7px;
}
.fb{
  display: inline-block;
  background: url(../img/fb.png) no-repeat;
  padding: 21px 0 21px 55px;
  width: 168px;
  color:#39517B;
}
.tw{
  display: inline-block;
  background: url(../img/tw.png) no-repeat;
  padding: 21px 0 21px 52px;
  width: 135px;
  color:#39517B;
}
#yes{
  float: right;
  width: 300px;
  text-align: right;
}
#yes a{
  color: white
}
#yes a:hover{
  color: #AAAAAA;
}
#copy address{
  float: left;
  width: 400px;
}
#copy address a{
  color: white;
}
#rotator_holder{
  width:952px;
  height: 420px;
  border-bottom: 7px solid #212121;
  margin-left:-25px;
  margin-top:-25px;
}
#rotator{
  width:952px;
  height: 420px;
}

/*
 * jQuery Nivo Slider v2.4

 */


/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:89;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:99;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:99;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}


/*
 * end jQuery Nivo Slider v2.4

 */


 .btn{
   display: inline-block;
   position: relative;
 }
 .btn .b_left{
   display: inline-block;
   width:6px;
   height:22px;
   background: url(../img/btn_left.png) no-repeat;
 }
 .btn .b_right{
   display: inline-block;
   width:6px;
   height:22px;
   background: url(../img/btn_right.png) no-repeat;
 }
 .btn .b_mid{
   background: #3B3B3B;
   color:white;
   font-size: 11px;
   display: inline-block;
   height: 21px;
   padding: 0 5px

 }
  .btn .b_mid span{
    position: relative;
    top: 4px;
  }


 .btn:hover span span{
   text-decoration: underline;
 }




  .btnH{
   display: inline-block;
   position: relative;
 }
 .btnH .b_left{
   display: inline-block;
   width:6px;
   height:22px;
 }
 .btnH:hover .b_left{
   background: url(../img/btn_left.png) no-repeat;
 }
 .btnH .b_right{
   display: inline-block;
   width:6px;
   height:22px;
 }
  .btnH:hover .b_right{
   background: url(../img/btn_right.png) no-repeat;
 }
 .btnH .b_mid{
   color: #2D2D2D;
   font-size: 11px;
   display: inline-block;
   height: 21px;
   padding: 0 5px

 }
 .btnH .b_mid:hover{
  background: #3B3B3B;
   color:white;
 }


  .btnH .b_mid span{
    position: relative;
    top: 4px;
  }






  .btn2{
   display: inline-block;
   position: relative;
 }
 .btn2 .b_left{
   display: inline-block;
   width:10px;
   height:38px;
   background: url(../img/btn_2_left.png) no-repeat;
 }
 .btn2 .b_right{
   display: inline-block;
   width:10px;
   height:38px;
   background: url(../img/btn_2_right.png) no-repeat;
 }
 .btn2 .b_mid{
   background: #1B1B1B;
   color:#F8BF27;
   font-size: 20px;
    display: inline-block;
    height: 38px;
    line-height: 7px;
    *line-height: 21px;/*  ?! */
    padding: 0 5px;

 }
  .btn2 .b_mid span{
    position: relative;
    top: 14px;
    *top: 7px;
  }


 .btn2:hover span span{
   text-decoration: underline;
 }





 .in_featured{
   width: 952px;
   margin-left: -25px;
   background: white url(../img/home_r.jpg) repeat-x;
   min-height: 200px;
 }

 .product{
   width:216px;
   height: 231px;
   background: url(../img/noactive_p.gif) no-repeat;
   position: relative;
   display: block;
 }
 .product_item{
   width:216px;
   position: relative;
   display: block;
   float: left;
   margin-right: 30px;
   margin-bottom: 20px;
 }
 .product:hover, .product_active{
   background: url(../img/active_p.gif) no-repeat;
 }
 .best_seller{
   position: absolute;
   width:85px;
   height: 83px;
   background: url(../img/best_seller.png) no-repeat;
   top: -4px;
   right: -5px;
 }

 .ai{
   display: inline-block;
   padding-left: 25px;
    width: 194px;
   font-family: Arial;
   background:url("../img/ai.jpg") no-repeat -246px 0 ;
   letter-spacing: 0px;
   font-size: 11px;
   height: 18px;
   padding-top: 4px;
   margin-top: 5px;
 }

 .ai:hover{
   background: url(../img/ai.jpg) no-repeat;
 }


 .product .img{
   width:210px;
   display: block;
   height: 180px;
   margin: 2px;
   background-position: center center;
   background-repeat: no-repeat;
   position: relative;
   top: 2px;
 }
 .product strong{
   text-transform: uppercase;
   color: #3A3A3A;
   display: block;
   padding: 0 10px;
   text-align: center;
   position: absolute;
   bottom: 8px;
   left: 0;
   width:196px
 }
 .in_featured .product{
   float: left;
   margin:55px 0 0 22px;
 }
 .in_new{
   float: left;
   width:270px;
   margin: 55px 11px 0 27px;
 }
 .in_new  h1{
   font-size: 16px;
   padding-bottom: 7px;
 }
  .in_new  h2{
   font-size: 22px;
   padding-bottom: 7px;
 }
 .home_dealer{
   float: left;
   width:385px;
      margin:55px 19px 0 0
 }
  .home_dealer h1{
    padding-bottom: 35px;
  }
  #sidebar{
    float: left;
    width:166px;
    margin-right: 25px;
  }
  #tilos_store{
    width:166px;
    height: 111px;
    background: url(../img/tilos_store.jpg) no-repeat;
    position: relative;
    margin-bottom: 15px;
  }
  .x{
    position: absolute;
    left: -9999px;
    top: -9999px;
  }
  #tilos_store_txt{
    float: left;
    width: 110px;
    margin: 81px 0 0 34px;
    border: none;
    background: none;
    padding: 1px;
  }
  #tilos_store_sbm{
    cursor: pointer;
    display: block;
    position: absolute;
  left: 14px;
background: none;
    top: 80px;
    width: 20px;
    height: 20px;
    border: none;
  }
  .sidebox{
    width:166px;
    zoom:1;
    background: #F7F7F7;
    margin: 15px 0;
    clear: both;
    padding-bottom: 10px;
    border-bottom: 1px solid #F1F1F1;
    float: left;
  }
  .sidebox:after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;

  }
  .sidebox h2{
    width: 166px;
    height: 19px;
    padding: 5px 0 0 10px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background: url(../img/side_title.jpg) no-repeat;
    text-transform: capitalize;

    }
  .sidebox h2 a{
    color: white;
     font-size: 12px;
    font-weight: bold;
  }

  .sidebox ul{
    list-style: none;
    padding-top: 10px;
  }
  .sidebox ul ul{
    list-style: none;
    padding-top: 0;
  }
  .sidebox li{
    list-style: none;
  }
  .sidebox li a{
    font-size:11px;
    display: block;
    padding: 3px 0 3px 10px;
    text-transform: capitalize;
    background:

  }
  .sidebox li li a{
    padding-left: 20px;
    font-size: 10px;
  }
  .sidebox li li li a{
    padding-left: 30px;
    font-size: 10px;
  }


  .sidebox li a:hover, .sidebox li a.active, .sidebox li.active a{
    background: #FFFFFe;/* msie */
    text-decoration: underline;
    font-weight: normal;
  }
  .sidebox li.active{
    background: white;
  }


  #main{
    float: left;
    width:710px;
    zoom:1;
  }
  #main:after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;

  }
  h2.title{
    font-size:24px;
    text-transform: uppercase;
    background:#D3D3D3;
    padding: 12px;
  }
  h3.title{
    font-size:24px;
    text-transform: uppercase;
    padding: 6px;
  }
  h4.title{
    font-size:18px;
    text-transform: uppercase;
  }
  .gbox{
    background:#EEEEEE;
  }
  .gbox_top{
    background: url(../img/b_tl.jpg) no-repeat;
  }
  .gbox_top .gbox_top{
    background: url(../img/b_tr.jpg) no-repeat top right;
  }
  .gbox_bot{
    background: url(../img/b_bl.jpg) no-repeat;
  }
  .gbox_bot .gbox_bot{
    background: url(../img/b_br.jpg) no-repeat bottom right;
  }
  .gbox_top, .gbox_bot{
    height: 5px;
    overflow: hidden;
  }
  .photoslider_holder{
    width:591px;
    margin: 0 auto;
    overflow: hidden;
    zoom:1;              /* there is only one browser - MSIE ! */
    position:  relative;
  }
  #photoslider{
    padding: 20px 0 10px;
    position: relative;
  }


  #photoslider li{
    list-style: none;
    float: left;
    width: 185px;
    height: 158px;
    margin: 0 7px;
  }
  #photoslider li a span{
    display: block;
    width:175px;
    height: 116px;
    background-repeat:no-repeat;
    background-position: center;
    background-color: white;
    border:5px solid #101010;
  }
  #photoslider li a strong{
    display: block;
    color: #3B3B3B;
    font-weight: normal;
    padding-top: 2px;
    padding-left: 4px;
    text-align: center;
  }
  #photoslider li a:hover strong{
    text-decoration: underline;
  }

  .photo_slide_left, .photo_slide_right{
    position: absolute;
    top: 50%;
    margin-top:-15px;
    display: block;
    width:27px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    background: url(../img/arr.png) no-repeat;
  }
  .photo_slide_left{
    left:15px;
    background-position: -27px -31px;
  }
  .photo_slide_left:hover{
    background-position: 0px -31px;;
  }

  .photo_slide_right{
    right:15px;
  }
  .photo_slide_right:hover{
    background-position: -28px 0;
  }
  #pic_gal .slide_engine li{
   display: block;
   width:117px;
   height: 80px;
  }
   #pic_gal .slide_engine li a{
   display: block;
   width:117px;
   height: 80px;
   background-repeat: no-repeat;
   background-position: center;
   background-color:#101010;
    margin: 4px 0 0px;
  }

  #pic_gal{
    position: relative;
    padding:15px 0 17px
  }
  #pic_gal ul{
    float: left;
    width:117px;
    margin:0px 2px;
  }
  #pic_gal ul li a{

  }
  .contact_form{
    float: left;
    width: 316px;

  }


  .field{
    display: block;
    width: 317px;
    height:34px;
    background: url(../img/form.jpg) no-repeat;
    overflow: hidden;
    margin-bottom: 7px;
  }
  .field.error{
    background:url(../img/form.jpg) no-repeat 0 -181px;
  }
  .field input{
    width: 295px;
    padding: 5px;
    border: none;
    background: none;
    float: left;
    margin: 5px;
  }

   .field select{
    width: 300px !important;
    padding: 5px;
    border: none;
    background: none;
    float: left;
    margin: 5px;
  }


  .area{
    display: block;
    width: 317px;
    height:138px;
    background: url(../img/form.jpg) no-repeat 0 -43px;
    overflow: hidden;
    position: relative;
    margin-bottom: 17px;
  }
  .area.error{
 background:url(../img/form.jpg) no-repeat 0 -224px;
  }

   .area textarea{
    width: 295px;
    padding: 5px;
    border: none;
    background: none;
    float: left;
    margin: 5px;
    height: 120px;
    position: relative;
    z-index: 1;
    overflow-y:auto;
  }
  .formlogo{
   bottom: 9px;
    position: absolute;
    right: 9px;
    opacity:.3;
    filter:alpha(opacity=30);
    z-index: 0;
  }

  .more_contacts{
    float: right;
    width:332px;
  }

  .more_contacts table td{
    vertical-align: top;
    padding: 0px 10px 30px;
  }
   .more_contacts table td img{
     position: relative;
   }
   .lbuy{
     background: url(../img/lbuy.jpg) no-repeat;
   padding: 4px 0 4px 26px;
    width: 60px;
     color: #231F1F;
     font-size: 11px;
   }
   .lbuy:hover{
     text-decoration: underline;
   }
   #checkout{
     width: 710px;
     margin:80px auto;
   }

   #cart{
     width: 660px;
     margin: 25px auto 15px;
   }
    #cart table{
      width: 660px;
     border-top: 1px solid #E2E8DF;
     margin-top: 15px;
     margin-bottom: 25px;
   }
   #cart td{
      border-bottom: 1px solid #E2E8DF;
      padding:9px;
   }
   #cart th{
      border-bottom: 1px solid #E2E8DF;
      padding:9px;
      font-weight: normal;
      text-align: left;
      font-size: 11px;
   }
   .remove_from_cart{
      background: url("../img/remove.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    height: 12px;
    overflow: hidden;
    text-indent: -9999px;
    width: 12px;
    margin: 0 auto;
   }
   .remove_from_cart:hover{
     background-position: 0 -13px;
   }
   .name_of_product{
     width: 320px;
     font-weight: bold;
   }
   .product_price{
     text-align: center;
     width: 70px;
   }
   .product_remove{
     text-align: center;
     width: 45px;
   }
   #total{
     clear: both;
     float: right;
     width: 165px;
     text-align: center;
     padding:0 0 10px;
      border-bottom: 1px solid #E2E8DF;
   }
   #finish strong{
     display: block;
     width: 30px;
     text-align: center;
     font-size:18px;
     margin: 0 auto;
     color: #414141;
     position: relative;
     top: 22px;
     left: 46px;
   }
   .select_qty{
     width: 50px;
   }
   .module_edit_bar_delete{
  display: none;
}
   #product_image{
     float: left;
     width: 216px;
   }
   #product_image input{
     display: none;
   }


   #products_slide ul{
     float: left;
     list-style: none;
     width:67px;
     margin:0 2px;
   }
   #products_slide ul li{
     width:67px;
     height: 72px;
     margin:0 0 4px;
   }
   #products_slide ul li a{
     width:65px;
     height: 70px;
     display: block;
     border: 1px solid #D9D9D9;
     background-repeat: no-repeat;
     background-position: center;

   }
   #products_slide .photoslider_holder{
     width: 211px;
     overflow: hidden;
   }
   .product_slide_left, .product_slide_right{
      font-weight: bold;
      color: #262626;
      text-transform: uppercase;
      cursor: pointer;
      background: url(../img/pslide.jpg) no-repeat 0 1px;
      margin-top: 5px;
   }
   .product_slide_left:hover, .product_slide_right:hover{
    text-decoration: underline;
   }


   .product_slide_left{
     padding-left: 19px;
     float: left;
     margin-left: 2px;
   }
   .product_slide_right{
     padding-right: 19px;
     float: right;
     background-position: 100% -20px;
     margin-right: 3px;
   }

   #product_main{
     float: left;
     width:460px;
     margin-left: 30px;
   }

   .borc{
     float: right;
     width:173px;
   }
   .borc div{
     text-align: center;
     font-weight: bold;
     color: #262626;
     padding: 5px 0;
   }


   .pprice{
     float: left;
     width: 200px;
   }
   .buy{
     display: block;
     background: url(../img/ord.jpg) no-repeat;
     width: 171px;
padding: 9px 0 6px 55px;
     font-size: 18px;
     font-weight: bold;
     text-transform: uppercase;
     color: #231F1F;
   }
   .con_tag{
     display: block;
     background: url(../img/bb.jpg) no-repeat;
     width: 171px;
     padding:9px 0 6px 0px;
     font-size: 18px;
     color: #fff;
     text-align: center;
     font-weight: bold;
     text-transform: uppercase;
   }

   #d_map{
     position: relative;
     height:345px;
     background: url(../img/d_map.jpg) no-repeat;
   }
   .dbox{
     position: absolute;
     width: 278px;
     height: 143px;
     background: url(../img/dbox.png) no-repeat;

   }

.dbox h2{
  padding: 13px 19px;
  text-transform: uppercase;
  font-size: 18px;
}
.dbox_content{
  padding: 5px 15px 5px 19px;
  font-size: 11px;
}
.dbox_content .btn{
  margin-top:-1px;
  *margin-top:0px;

}
.download{
  width:666px;
  height: 79px;
  background: url(../img/downloadbg.jpg) no-repeat;
  padding: 15px;
}
.d_download{
  display: block;
  width: 153px;
  height: 32px;
  padding-top: 6px;
  background: url(../img/d_download.png) no-repeat;
  text-align: center;
  text-transform: uppercase;
  color:#F8BF27;
  font-size: 20px;
}
.d_download:hover{
  text-decoration: underline;
}
.download .d_download{
  float: left;
  margin-right: 15px;
}
.search_result{
  height: 118px;
  overflow: hidden;
  zoom:1;
  position: relative;
  border: 1px solid #000;
  margin-bottom: 25px;
}
.search_result .img{
  display: block;
  float: left;
  height: 118px;
  width:107px;
  background-color: #EFEFEF;
  background-repeat: no-repeat;
  background-position: center;
}

.search_result_content{
  padding:10px 15px;
  float: left;
  width:565px;
}
.search_result_content li{
  list-style: none;
  padding: 0 0 6px 0
}

.paging{
  padding: 10px 0;
  clear: both;
}


.paging li{
  float: left;
  list-style: none
}

.paging li a{
  display: block;
  padding: 3px 8px;
}
.paging li a.active, .paging li a:hover{
  background: url(../img/nav_hover.jpg) repeat-x left bottom;
}
.xhidden{
  position: absolute;
  left: -9999px;
  top: -9999px;
}
.richtext ol, .richtext ul{
  padding-left: 14px;
}

.stabs .item{
  float: left;
  margin-right: 15px;
}
.stabs .item label{
  display: block;
  padding: 5px 0 5px;
}

#module_info{
  position: fixed;
  bottom:20px;
  left: 20px;
  width: 150px;
  padding: 10px;
  background: #434343;
  opacity:.8;
  filter:alpha(opacity=80);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius:6px;
  border-radius: 6px;
  color:white;
  font-size: 10px;
}
#module_info ol{
  padding: 5px 0 0 20px;
  margin-top: 10px;
  cursor: pointer;
}
#module_info h3{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    color: white;
}
.active_m_find{
  outline: 5px solid #CC0033 !important;
}
.active_m_find_li{
  outline: 2px solid #CC0033 !important;
  padding-bottom: 5px;
}
.checkout_form label{
  display: block;
  padding-bottom: 5px;
  padding-top: 5px;
}


.drop_list{
  display: none;
  background: white;
  cursor: pointer;
  width: 100%;
  position: absolute;
  left: 0;
  height: 200px;
  overflow-x:hidden;
  overflow-y:auto;
border: 1px solid #D5D5D5;
border-top:none;

}
.drop_list li{
    list-style: none
}


.drop_white{
  padding:1px 5px 2px 8px;
  *padding:1px 5px 0px 8px;

    border: 1px solid #D5D5D5;
  width:62%;
  background: white;

  cursor: pointer;
}
#d_bar .drop{
  float: left;
}
.drop{
  position: relative;
  z-index: 10;
}
.drop a{
  display: block;
  padding: 5px 10px;
}

.drop a:hover{
  color: white;
  background:#0078F0;
}
.drop .val{
  display: block;
  padding: 5px 0 0 0;
  padding: 2px 0 3px;
}


.drop_arr{
  display: block;
  float: right;
  margin: 9px 6px;;
  width:7px;
  height: 4px;
  background: url(../img/drop.gif) no-repeat;
}
.drop.active .drop_arr{
  background-position: 0 -40px;
}
.drop_white li span{
  display: block;
  cursor: pointer;
  padding: 3px 7px;
}
.drop_white li span:hover{
  background: #AAAAAA;
  color: white;
}

#become_aff_content{
  height: 100px;
}






































