<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<a href="http://workspace.ooyes.net/wfl_dev/affiliate_center/affiliate/affiliate.php?id=1500003&group=9" title="Water" target="_blank"><img src="http://workspace.ooyes.net/wfl_dev/affiliate_center/banners/imgcontainer.php?group_id=9&banner_id=1&aff_id=1500003" width="260" height="80" border="0" />Click</a>
</body>
</html>
