/*
 * Based on the 'Birds of Paradise' theme 
 * http://joebergantine.com/werkstatt/birds-of-paradise 
 */
 
 
 .luminous { border-color: #666; }

.luminous .character{color:#DCA3A3;}
.luminous .comment{color:#8F6843; font-style:italic;}
.luminous .comment_note{color:#D24421; 
font-style:normal; font-weight:bold;}
.luminous .constant{color:#EFAC32; font-weight:bold;}
.luminous .delimiter{ font-weight:bold;} 
.luminous .esc{color:#FFFF00 ;}
.luminous .function{color:#EFAC32;}
.luminous .heredoc{color:#D9D762;}
.luminous .htmltag{font-weight:bold; color:#EFCB43;}
.luminous .keyword{font-weight:bold; color:#EF5D32; }
.luminous .numeric {color:#6C99BB;}
.luminous .operator{color:#F68895;}
.luminous .obj{color:#8E83BD;}
.luminous .oo{}
.luminous .preprocessor{color:#FF9D5B;}
.luminous .shebang{font-weight:bold; font-style:normal; 
color:#FFFFFF;}
.luminous .string{color:#D9D762;}
.luminous .type{color:#EFAC32; }
.luminous .user_function{color: #FFE432; font-weight:bold;}
.luminous .value{color:#FF9074;}
.luminous .variable{color:#7DAF9C;}

/* italicised because otherwise it seems to blend into the rest of the
 * source too much */
.luminous .doccomment{color:#D2D2D2; font-style:italic;}
.luminous .doctag {color:#C6D25A;}
.luminous .docstr {color:#FF9B9B;}
.luminous .docproperty{color:#D2B777; font-weight:bold;}

.luminous .diff_header_new{background-color:#2F33AB;}
.luminous .diff_header_old{background-color:#2F33AB;}
.luminous .diff_range{background-color:#2F33AB;}



/* .luminous .lang_latex{color:#b1b1ff;} */
.luminous .latex_function{color:#FFDCA8;}
.luminous .latex_operator{color:#888888;}

.luminous .code {}

.luminous .long_delim{font-weight:bold;}


.luminous .generics{color:#adff5a;}



.luminous .regex{color:#A19BE9;}
.luminous .regex_subpattern{font-weight:bold; 
color:#B383ED;}
.luminous .regex_class_marker{color:#7CB7E1; font-weight:bold;}
.luminous .regex_subpattern_marker{color:#D684EE; 
font-weight:bold;}
.luminous .regex_repeat_marker{color:#b1b1ff;}
.luminous .regex_operator{color:#8FC08F;}

.luminous .make_target{color:#FFD5FF;}
.luminous .make_dep{color: #b1b1ff;}

.luminous .whitespace_space{background-color:#C877A5;}
.luminous .whitespace_tab{background-color:#7D85D1;}

.luminous .link, .luminous .link:visited
{
  color:#FFC0FF;
}
.luminous .link:hover
{
  color:#FFC0FF;
}

/* line numbers */
.luminous .line-numbers {
  background-color:#3E2C29;
  border-right:1px solid #F5AEA3;
  color: #CA7A2A;
}


.luminous
{
  background-color:#322323;
  color:#E6E1C4;
}



.luminous .code.numbered > span:nth-child(2n)
{
  background-color: #3E2C29;
}

.luminous .code .highlight
{
  background-color:#1F1611;
}

.luminous .code.numbered .highlight:nth-child(2n)
{
  background-color: #1F1611;
}
  
/* this stuff has to come after the other rules because it will probably
 * override some of them
 */
.luminous .diff_old{
  background-color:#660000;
  background-color: rgba(232, 87, 82, 0.35);
  color: #E6E1DC;
}
.luminous .diff_new{
  background-color:#144212;
  background-color: rgba(0, 191, 0, 0.35);
  color: #E6E1DC;
}
.luminous .diff_unchanged, .luminous .diff_unchanged * {
  color: #888A85;
  background-color: transparent;
}
