.mw-handle-item{
    position: absolute;
    z-index: 9;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid #0078ff;
    transition: opacity .2s;
    pointer-events: none;
    &.mw-handle-item-dragging{
        border-color: transparent;
        * {
            opacity: 0 !important;
        }
    }
    &.mw-handle-item-hidden{
        opacity: 0;
        visibility: hidden;
    }
/*    .mw-handle-item-handle{
        &:after{
            content: '|||';
            display: block;
            color: #fff;
            padding: 5px;
        }
        width: 30px;
        height: 30px;
        background: #1a73b4;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        cursor: grab;
        pointer-events: all;
    }*/
    .mw-handlemenu-item{
        pointer-events: all;
    }
}

.mw-draggable-helper{
    position: absolute;
    z-index: 10;
    background-color: rgba(119, 117, 117, 0.49);
    pointer-events: none;
}

/*  Handles content  */

$handleHeight: 42;

.mw-le-handle-menu{
    position: absolute;
    height: #{$handleHeight}px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    padding: 3px 12px;
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    pointer-events: all;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    *{
        vertical-align: middle;
    }
}

#mw-handle-item-element-menu{
   top: -#{$handleHeight}px;
   left: -2px;
}
#mw-handle-item-layout-menu{
    top: 7px;
    right: 7px;
}


.mw-le-handle-menu-buttons{
    display: inline-block;
    & > .mw-le-handle-menu-button{
        display: inline-flex;
        width: 32px;
        height: 32px;
        margin: 0 2px;
        border-radius: 3px;
        cursor: pointer;
        text-align: center;
        justify-content: center;
        align-items: center;
        transition: .3s;
        font-size: 19px;
        &:hover{
            background-color: #e9e9e9;
        }
    }
}

.mw-le-handle-menu-button-sub-menu{
    padding: 10px 0;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transform: scaleY(.5);
    transform-origin: center top;
    transition: .2s;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: rgb(17 17 26 / 10%) 0px 4px 16px, rgb(17 17 26 / 5%) 0px 8px 32px;
    .mw-le-handle-menu-button{
        display: block;
        white-space: nowrap;
        padding: 5px 10px;
        text-align: left;
        transition: background-color .3s;
        &:hover{
            background-color: #efecec;
        }
    }
}
.mw-le-handle-menu-button.sub-menu-active{
    & > .mw-le-handle-menu-button-sub-menu{
        visibility: visible;
        opacity: 1;
        transform: scaleY(1);
    }
}


.mw-le-handle-menu-button-content{
    display: inline-flex;
    white-space: nowrap;
    flex-wrap: nowrap;
    .mw-le-handle-menu-button-text{
        font-size: 14px;
    }
    align-items: center;
}

.mw-le-handle-menu-title{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 6px 0 0;
    font-size: 12px;
    -webkit-user-select: none;
    user-select: none;
    height: #{$handleHeight}px;
    cursor: grab;
}

.mw-le-handle-menu-button-icon{
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
    margin-inline: 6px;
    svg,.mdi,.material-icons,.fa{
        max-width:25px;
        max-height: 25px;
        display: inline-block;
    }
    * {
        max-width:31px;
        max-height: 31px;
    }
}

.mw-le-handle-menu-title-text{
    font-size: 14px;
}

.mw-handle-item-layout-plus{
    $height: 30;
    font-size: 12px;
    display: inline-flex;
    position: absolute;
    pointer-events: all;
    min-width: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    height: #{$height}px;
    padding: 0 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    &.mw-handle-item-layout-plus-top{
        top: 0;
        margin-top: -#{$height / 2}px;
    }
    &.mw-handle-item-layout-plus-bottom{
        bottom: 0;
        margin-bottom: -#{$height / 2}px;
    }
    &:hover{
        background-color: #e9e9e9;
    }
}
.mw-handle-item-element-image-control{
    position: absolute;
    top: 20%;
    left: 50%;
    width: 44px;
    height: 44px;
    margin-left: -22px;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    cursor: pointer;
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 20px auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M8.5,13.5L11,16.5L14.5,12L19,18H5M21,19V5C21,3.89 20.1,3 19,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19Z' /%3E%3C/svg%3E");
    &>input{
        position: absolute;
        top: 0;
    }
}
