.mw-handle-item{
    position: absolute;
    z-index: 9;
    cursor: grab;
    border: 2px solid #0a53be;
    transition: opacity .2s;
    pointer-events: none;
    &.mw-handle-item-hidden{
        opacity: 0;
        visibility: hidden;
    }
    .mw-handle-item-handle{
        width: 30px;
        height: 30px;
        background: red;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        cursor: grab;
        pointer-events: all;
    }
}
