
/*=========================================================================
Elements
========================================================================= */


/*=========================================================================
LIST ELEMENTS
========================================================================= */

.list-style-1 { display: block; margin: 0 0 0; list-style-position: inside; }

.list-style-1 li { border-bottom: 1px dotted #E9E9EA; float: none; margin: 0 !important; padding: 4px 0 4px 4px; }

.list-style-1 li a img { padding-right: 12px; width: auto !important; }

.list-style-1 li a { color: #777777; }

.list-style-1 li a:hover { color: #5BB75B; }

.list-style-2 { display: block; margin: 0 0 0; }

.list-style-2 li { border-bottom: 1px dotted #E9E9EA; display: block; float: none; margin: 0 !important; padding: 4px 0 4px 24px; }

.list-style-2 li a img { padding-right: 12px; width: auto !important; }

.list-style-2 li a { color: #777777; }

.list-style-2 li a:hover { color: #5BB75B; }

.arrow-list, .arrow-list-2, .circle-list, .check-list, .check-list-2, .star-list, .plus-list, .dash-list { list-style: none; margin: 0; padding: 0 0 0 24px; }

.arrow-list { background: url("../img/icons/list-arrow.png") no-repeat scroll 5px 9px transparent; }

.arrow-list-2 { background: url("../img/icons/list-arrow-2.png") no-repeat 2px 8px; }

.circle-list { background: url("../img/icons/list-circle.png") no-repeat 4px 9px; }

.check-list { background: url("../img/icons/list-check.png") no-repeat 3px 7px; }

.check-list-2 { background: url("../img/icons/list-check-2.png") no-repeat 0 7px; }

.star-list { background: url("../img/icons/list-star.png") no-repeat 0 5px; }

.plus-list { background: url("../img/icons/list-plus.png") no-repeat 3px 7px; }

.dash-list { background: url("../img/icons/list-dash.png") no-repeat 3px 12px; }

/*=========================================================================
ALER BOXES
========================================================================= */

.message-box-error, .message-box-success, .message-box-info, .message-box-notice { display: block; padding: 10px 20px 10px 44px; }

.message-box-error strong, .message-box-success strong, .message-box-info strong, .message-box-notice strong { float: left; font-size: 12px; line-height: 1.8em; font-family: 'Open Sans', Arial, Tahoma, sans-serif; font-weight: 800; text-shadow: 0 0; text-transform: capitalize; }

.message-box-error { background: #f9e5e6 url("../img/icons/icon-box-error.png") no-repeat 10px 9px; border: 1px solid #f7c7c9; border-left-width: 4px; color: #b3696c; }

.message-box-success { background: #e3ebc6 url("../img/icons/icon-box-success.png") no-repeat 12px 8px; border: 1px solid #c2d288; border-left-width: 4px; color: #8fa442; }

.message-box-info { background: #d8ecf5 url("../img/icons/icon-box-info.png") no-repeat 10px 8px; border: 1px solid #9ac9df; border-left-width: 4px; color: #528da9; }

.message-box-notice { background: #fcf7d9 url("../img/icons/icon-box-notice.png") no-repeat 10px 9px; border: 1px solid #f5dc7d; border-left-width: 4px; color: #c4a21b; }

/*=========================================================================
Message Boxes
========================================================================= */
.message-box { position: relative; margin: 0 0 20px; padding: 10px 20px; font-size: 14px; line-height: 1.2em; border-width: 1px; border-style: solid; }

.message-box strong { float: left; font-size: 12px; line-height:16px; font-family: 'Open Sans', Arial, Tahoma, sans-serif; font-weight: 800; text-shadow: 0 0; padding: 0 7px 0 0; text-transform: capitalize; }

.message-box .closemsg { position: absolute; display: block; width: 9px; height: 10px; right: 12px; top: 14px; background-position: 0 0; background-repeat: no-repeat; cursor: pointer; }

.message-box.info { background-color: #dff2fa; color: #2e7893; border-color: #85cfec; }

.message-box.note { background-color: #f8f2cb; color: #8f5c0b; border-color: #edca42; }

.message-box.confirm { background-color: #e5f2c0; color: #4a630e; border-color: #aacf49; }

.message-box.error { background-color: #ffd4d4; color: #cd0a0a; border-color: #d97676; }

/*=========================================================================
blockquotes
========================================================================= */

blockquote { background: url("../img/icons/qoute.png") no-repeat scroll left top transparent; border: 0 none; font-size: 14px; line-height: 1.8em; font-family: 'georgia'; font-style: italic; margin-bottom: 30px; padding-left: 40px; }

blockquote.black { background: url("../img/icons/qoute.png") no-repeat scroll 10px 30px #4A5151; color: #fff; padding: 30px 30px 30px 30px; border-radius: 6px 6px 6px 6px; -moz-border-radius: 6px 6px 6px 6px; -webkit-border-radius: 6px 6px 6px 6px; behavior: url(js/PIE.html); }

blockquote.blue { background: url("../img/icons/qoute.png") no-repeat scroll 10px 30px #3D5B99; color: #fff; float: right; padding: 30px 30px 30px 30px; border-radius: 6px 6px 6px 6px; -moz-border-radius: 6px 6px 6px 6px; -webkit-border-radius: 6px 6px 6px 6px; behavior: url(js/PIE.html); }

blockquote.red { background: url("../img/icons/qoute.png") no-repeat scroll 10px 30px #D82B31; color: #fff; float: right; padding: 30px 30px 30px 30px; border-radius: 6px 6px 6px 6px; -moz-border-radius: 6px 6px 6px 6px; -webkit-border-radius: 6px 6px 6px 6px; behavior: url(js/PIE.html); }

/*=========================================================================
dropcap
========================================================================= */

.dropcap { float: left; font: 30px "Open Sans", sans-serif; margin-right: 15px; }

.dropcap2 { background: none repeat scroll 0 0 #222; border-radius: 6px 6px 6px 6px; -moz-border-radius: 6px 6px 6px 6px; -webkit-border-radius: 6px 6px 6px 6px; color: #fff; float: left; font: 18px "Open Sans", sans-serif; margin-right: 15px; padding: 8px 15px; text-shadow: 0 1px 1px #333; behavior: url(js/PIE.html); }

.dropcap3 { background: none repeat scroll 0 0 #3D5B99; border-radius: 6px 6px 6px 6px; -moz-border-radius: 6px 6px 6px 6px; -webkit-border-radius: 6px 6px 6px 6px; color: #fff; float: left; font: 18px "Open Sans", sans-serif; margin-right: 15px; padding: 8px 15px; text-shadow: 0 1px 1px #333; behavior: url(js/PIE.html); }

.dropcap4 { background: none repeat scroll 0 0 #D82B31; border-radius: 6px 6px 6px 6px; -moz-border-radius: 6px 6px 6px 6px; -webkit-border-radius: 6px 6px 6px 6px; color: #fff; float: left; font: 18px "Open Sans", sans-serif; margin-right: 15px; padding: 8px 15px; text-shadow: 0 1px 1px #333; behavior: url(js/PIE.html); }

.dropcap5 { background: url("../img/button-shadow.png") repeat-x scroll 50% 0 #eee; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; color: #333; float: left; font: 18px "Open Sans", sans-serif; margin-right: 15px; padding: 8px 15px; text-shadow: 0 1px 1px #fff; behavior: url(js/PIE.html); }

.dropcap6 { background: url("../img/button-shadow.png") repeat-x scroll 50% 0 #777; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; color: #fff; float: left; font: 18px "Open Sans", sans-serif; margin-right: 15px; padding: 8px 15px; text-shadow: 0 1px 1px #333; behavior: url(js/PIE.html); }

.dropcap7 { background: url("../img/button-shadow.png") repeat-x scroll 50% 0 #3D5B99; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; color: #fff; float: left; font: 18px "Open Sans", sans-serif; margin-right: 15px; padding: 8px 15px; text-shadow: 0 1px 1px #333; behavior: url(js/PIE.html); }

.dropcap8 { background: url("../img/button-shadow.png") repeat-x scroll 50% 0 #D82B31; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; color: #fff; float: left; font: 18px "Open Sans", sans-serif; margin-right: 15px; padding: 8px 15px; text-shadow: 0 1px 1px #333; behavior: url(js/PIE.html); }

/*=========================================================================
Site Buttons
========================================================================= */

.button-red, .button-red { background: url("../img/button-shadow.png") repeat-x scroll 50% 0 #d82b31; }

.button-brown, .button-brown { background: url("../img/button-shadow.png") repeat-x scroll 50% 0 #ad2f0a; }

.button-green, .button-green { background: url("../img/button-shadow.png") repeat-x scroll 50% 0 #51A351; }

.button-blue, .button-blue { background: url("../img/button-shadow.png") repeat-x scroll 50% 0 #3d5b99; }

.button-pink, .button-pink { background: url("../img/button-shadow.png") repeat-x scroll 50% 0 #f1039a; }

.button-white, .button-white { background: url("../img/button-shadow.png") repeat-x scroll 50% 0 #eee; }

.button-black, .button-black { background: url("../img/button-shadow.png") repeat-x scroll 50% 0 #333; }

.button-red, .button-red:visited, .button-brown, .button-brown:visited, .button-green, .button-green:visited, .button-blue, .button-blue:visited, .button-pink, .button-pink:visited, .button-white, .button-white:visited, .button-black, .button-black:visited { color: #fff; border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.7), inset 0px 1px 0px rgba(255, 255, 255, 0.4); -webkit-box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.7), inset 0px 1px 0px rgba(255, 255, 255, 0.4); -moz-box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.7), inset 0px 1px 0px rgba(255, 255, 255, 0.4); display: inline-block; font-size: 14px; font-family: "Open Sans", sans-serif; padding: 10px 15px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6); behavior: url(js/PIE.html); }

.button-white, .button-white:visited { color: #333; text-shadow: 0 1px 1px #eee; }

.button-red:hover, .button-brown:hover, .button-green:hover, .button-blue:hover, .button-pink:hover, .button-white:hover, .button-black:hover { background: url("../img/button-shadow.png") repeat-x scroll 50% -42px #444; color: #fff; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset; -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset; display: inline-block; text-shadow: 0 1px 1px #000; behavior: url(js/PIE.html); }
 .button-red:active, .button-brown:active, .button-green:active, .button-blue:active, .button-pink:active, .button-white:active, .button-black:active, {
background: #000;
}

.button-border { background: url("../img/transparent-dark2.png") repeat scroll 0 0 transparent; margin: 0 5px 0 5px; padding: 5px 5px 6px 5px; border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; display: inline-block; behavior: url(js/PIE.html); }

.button-radius-50 { border-radius: 50px; -moz-border-radius: 50px; -webkit-border-radius: 50px; behavior: url(js/PIE.html); }

.button-small { font-size: 12px; margin-bottom: 20px; padding: 3px 10px; text-transform: lowercase; }

.button-small:hover { background: url("../img/button-shadow.png") repeat-x scroll 50% -82px #F3F3F3; color: #333333; text-shadow: 0 1px #FFFFFF; }

/*=========================================================================
Sitemap
========================================================================= */

.treeview, .treeview ul { padding: 0; margin: 0; list-style: none; }

.treeview ul { margin-top: 4px; }

.treeview .hitarea { background: url("../img/icons/treeview-default.gif") -64px -25px no-repeat; height: 16px; width: 16px; margin-left: -16px; float: left; cursor: pointer; }

/* fix for IE6 */
* html .hitarea { display: inline; float:none; }

.treeview li { line-height: 12px; margin: 0; padding: 3px 0pt 3px 16px; }

.treeview a.selected { }

#treecontrol { margin: 1em 0; display: none; }

.treeview .hover { color: #5BB75B; cursor: pointer; }

.treeview li { background: url("../img/icons/treeview-default-line.gif") 0 0 no-repeat; }

.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }

.treeview .expandable-hitarea { background-position: -80px -3px; }

.treeview li.last { background-position: 0 -1766px }

.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url("../img/icons/treeview-default.gif"); }

.treeview li.lastCollapsable { background-position: 0 -111px }

.treeview li.lastExpandable { background-position: -32px -67px }

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }

.treeview-red li { background-image: url("../img/icons/treeview-red-line.gif"); }

.filetree span, .treeview li a, .treeview-red li span { color: #777777; line-height: 13px; padding-left: 3px; }

.treeview-black li span, .treeview-gray li span { line-height: 13px; padding-left: 3px; }

#treecontrol a { color: #5BB75B; font-size: 11px; padding-right: 15px; vertical-align: middle; }

.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable { background-image: url("../img/icons/treeview-red.gif"); }

.treeview-black li { background-image: url("../img/icons/treeview-black-line.gif"); }

.treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable { background-image: url("../img/icons/treeview-black.gif"); }

.treeview-gray li { background-image: url("../img/icons/treeview-gray-line.gif"); }

.treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable { background-image: url("../img/icons/treeview-gray.gif"); }

.treeview-famfamfam li { background-image: url("../img/icons/treeview-famfamfam-line.gif"); }

.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable { background-image: url("../img/icons/treeview-famfamfam.gif"); }

.treeview .placeholder { background: url("../img/icons/ajax-loader.gif") 0 0 no-repeat; height: 16px; width: 16px; display: block; }

.filetree li { padding: 3px 0 2px 16px; }

.filetree span.folder, .filetree span.file { padding: 1px 0 1px 21px; display: block; }

.filetree span.folder { background: url("../img/icons/folder.png") 0 0 no-repeat; }

.filetree li.expandable span.folder { background: url("../img/icons/folder-closed.png") 0 0 no-repeat; }

.filetree span.file { background: url("../img/icons/file.png") 0 0 no-repeat; }

/*=========================================================================
Accordion
========================================================================= */

#accordion { width:100%; }

#accordion div { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #F3F3F3; padding:22px 22px 7px 22px; }

#accordion p { margin-bottom:15px; border:none; text-decoration:none; }

#accordion a { cursor:pointer; color: #333333; display:block; padding:10px 22px; margin-top:0; font-weight:bold; border:1px solid #f3f3f3; background: none repeat scroll 0 0 rgba(0, 0, 0, 0.03); text-shadow: 0 1px 1px #FFFFFF; }

#accordion a:hover { color:#FFFFFF; background: #4A5151; text-shadow: 0 1px 1px #333333; behavior: url(js/PIE.html); }

#accordion a.selected { color:#FFFFFF; background: #4A5151; background: -moz-linear-gradient(top, #4A5151 0%, #373E3E 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4A5151), color-stop(100%, #373E3E)); background: -webkit-linear-gradient(top, #4A5151 0%, #373E3E 100%); background: -o-linear-gradient(top, #4A5151 0%, #373E3E 100%); background: -ms-linear-gradient(top, #4A5151 0%, #373E3E 100%); background: linear-gradient(top, #4A5151 0%, #373E3E 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4A5151', endColorstr='#373E3E', GradientType=0 );
text-shadow: 0 1px 1px #333333; behavior: url(js/PIE.html); }

.faq-accordion span { font-family: "Open Sans", sans-serif; font-size: 15px; font-weight: 400; }

.faq-accordion .qa-text { display: block; padding-left: 30px; }

.faq-accordion .qa { color: #5BB75B; float: left; font-weight: 700; }

.faq-accordion p { padding: 0 0 0 30px; }

/*=========================================================================
TABS
========================================================================= */

.tabs { padding:30px; height:auto!important; position:relative; border-bottom: 1px solid #f3f3f3; }

.tab-menu { margin: 0; padding: 0; float: left; list-style: none; height: 40px; border-bottom: 1px solid #f3f3f3; width: 100% !important; }

.tab-menu li { float: left; margin:0 1px 0 0 !important; padding:0; line-height: 31px; border-top: 1px solid #f3f3f3; border-right: 1px solid #f3f3f3; border-left: 1px solid #f3f3f3; border-bottom: 1px solid #fff; margin-bottom: -1px; overflow: hidden; position: relative; background: none repeat scroll 0 0 #f3f3f3; width: auto !important; }

.tab-menu li a { text-decoration: none; color: #333; display: block; font-size:12px; font-weight:bold; padding:4px 15px 4px 15px; outline: none; text-shadow:0 1px 1px #fff; }

.tab-menu li a:hover { background: none repeat scroll 0 0 #e7e7e7; }

html .tab-menu li.active, html .tab-menu li.active a:hover { background: none repeat scroll 0 0 #fff; width: auto; }

/*TAB CONTAINER*/
.tab-container { border:1px solid #f3f3f3; border-top: none; overflow: hidden; clear:both; float: left; width:99.7%; margin-bottom:30px; background: none repeat scroll 0 0 #FFFFFF; }

.tab-content-1 { padding:22px 22px 7px 22px; position:relative; }

.tab-container-two { border:1px solid #f3f3f3; border-top: none; overflow: hidden; clear:both; float: left; width:442px; margin-bottom: 0; background: none repeat scroll 0 0 #fff; }

.tab-content-img1 { background: none repeat scroll 0 0 #fff; border: 1px solid #f3f3f3; padding: 4px; margin: 4px 10px 10px 0; float: left; }

.tab-content-img2 { background: none repeat scroll 0 0 #fff; border: 1px solid #f3f3f3; padding: 4px; margin: 4px 0 10px 10px; float: right; }
