/* Global styles */


body{
  background: #F3F3F3;
  font: 16px/1.5 Roboto, Arial, sans-serif;
  color: #696969;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 300;
  line-height: normal;
}


.title{
  border-bottom: 1px solid #BFC0C4;
  box-shadow: 0 2px 1px 0 white;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0 0 10px;
}


hr{
  border-bottom: 1px solid #BFC0C4;
  box-shadow: 0 2px 1px 0 white;
}

/* /Global styles */

.page-post-content{
  clear: both;
  padding: 12px 0;
}


#header{
  background: #242B35;
  padding: 10px 20px 0;
}
#header .nav a, #header .nav a.active:hover{
  color: white;
}



#header .nav a:hover, #header .navbar .nav a, #header .nav-tabs a.active{
  color:#242B35;
}

#header .nav li{
  position: relative;
}

#header ul.dropdown-menu{
  margin-top: 0;
  font-size: 14px;

}
#header ul.dropdown-menu a{
  color: #242B35;
}
#header ul.dropdown-menu li:hover > a{
  color: white;
}

#header .nav li:hover > ul.dropdown-menu{
    display: block;
}




#logo{
  float: left;
  margin-bottom: 10px;
  display: block;
  color: white;
  font-size: 35px;
  text-decoration: none;
  font-weight: 200;
}

#main-navigation{
  float: right;
  margin-top: 10px;
}

#mw-welcome{
  padding-left: 30px;
}

#mw-welcome h1:first-child,
#mw-welcome h2:first-child,
#mw-welcome h3:first-child,
#mw-welcome h4:first-child,
#mw-welcome h5:first-child,
#mw-welcome h6:first-child{
  padding-top: 0;
  padding-bottom: 10px;
  margin-top: 0;

}

#content{
  padding-top: 50px;
}

#home-top{
  padding-top: 50px;
}

.module-posts-template-columns .span4{
  padding-bottom: 25px;
}

.module-posts-template-columns .description{
  width: 85%;
}

.module-posts-template-columns .img-polaroid,
.module-posts-template-columns .img-rounded{
  display: block;
  max-height: 210px;
  height: 210px;
  overflow: hidden;
  text-align: center;
}




@media (max-width: 979px) {
  .module-posts-template-columns .img-polaroid,
  .module-posts-template-columns .img-rounded{
    max-width:290px;
  }
}

@media (max-width: 768px) {
  .module-posts-template-columns .img-polaroid,
  .module-posts-template-columns .img-rounded{
     height: auto;
   }
}



.module-posts-template-columns img{
  margin-left: auto;
  margin-right: auto;
}



.module-posts-template-columns{
  padding-left: 0;
  padding-right: 0;
}

.module-posts-template-columns img{
    max-height: 210px;
    vertical-align: middle;
}

.price{
  font-size: 24px;
  line-height: 30px;
  color: #0088CC;
  white-space: nowrap;
}

.module-posts-template-columns .price{
  margin-top:15px;
  display:table-cell;
  text-align: right;
  width: 30%;
}

.symbol{
  font-size: 35px;
  font-weight: 100;
  color: #0088CC;
}

.lead{
  font-weight: 300;
}

.thumbnail, .well{
  background-color: white;
}



.product-title-price{
    display: table;
    padding: 7px 0;
    width: 100%;
}

.product-title-price h3{
  display: table-cell;
  padding-right: 10px;
  width: 70%;
}


.module-posts-head{
  padding-bottom:12px;
}
.module-posts-template-columns .description{
  padding-bottom: 5px;
}

.module-posts-head h3{
  padding-bottom: 0;
  margin-bottom: 0;
  line-height:normal;
}

.mw-image-carousel .carousel-control{
  visibility: hidden;
  font-size: 46px;
}

.mw-image-carousel:hover .carousel-control{
  visibility: visible;
}


.section-title{
  text-align: center;
  position: relative;
  margin: 40px 0;
}

.section-title hr{
  position: absolute;
  width: 35%;
  border-top: 1px solid #BEC0C3;
  border-bottom: 1px solid white;
}
.section-title hr.left{
  left: 0;
}

.section-title hr.right{
  right: 0;
  top: 0
}

/* Sidebar */

.sidebar-title{
  padding: 10px 0;
  border-bottom: 1px solid #bfc0c4;
  box-shadow: 0px 2px 1px 0px white;
}

.sidebar-box ul,
.sidebar-box ol{
  list-style: none;
}
.sidebar-box li{
  line-height: 25px;
}

.sidebar-box li a{
  color: #242B35;
}

.sidebar-box .navbar-inner{
  padding-top: 20px;
  padding-bottom: 20px;
}

.sidebar-box .nav li.depth-1 ul{
  margin-left: 30px;
}

.sidebar-box .nav li.depth-1 li a{
  display: block;
}
.sidebar-box .nav li.depth-1 > a.active-parent{
  background: #eee;
}

.sidebar-box .nav li.depth-1 li.active > a{
  text-decoration: underline;
}

/* /Sidebar */

/* Blog */

.post-list{
  padding-top: 30px;
}

.post-single{
  background: white;
  margin-bottom: 40px;
  position: relative;
}

.post-single img{
  margin-right: 30px;
}

.post-content img{
  margin: 12px 0;
}
.post-gallery{
  padding: 12px 0;
}

.post-comments{
  padding: 12px 0;
}

/*

.post-list .post-single .btn{
  position: absolute;
  bottom: 20px;
  right: 20px;
}

@media (max-width: 979px) {
    .post-list .post-single .btn{
      position: static;
    }
}

*/




.post-single .lead{
  margin-bottom: 0;
}

.post-single-title-date{
  padding-bottom: 12px;
}


    /* Comments  */

    .mw-cooments-form .captcha .add-on{
      background-color: white;
    }

    .mw-cooments-form input[type='text'],
    .mw-cooments-form textarea{
      width: 100%;
    }

    .mw-cooments-form textarea{
      height: 100px;
    }

    .mw-cooments-form input[type='submit']{
      margin-right: -15px;
      position: relative;
      z-index: 1;
    }

    .comment-content{
      padding-left: 10px;
    }


    .comment{
      clear: both;
      overflow: hidden;
      zoom:1;
      padding: 20px 0;

    }

    .comment img.pull-left{
      margin-right: 30px;
    }

    .comment-author{
      font-weight: bold;
      color: #333;
    }


    /* /Comments  */

/* /Blog  */

.icon {
	background: url('../img/icons.png') no-repeat 0 0;
	width: 33px;
	height: 33px;
	display: inline-block;
    position: relative;
    top: 9px;
    margin: 0 5px;
    border-radius:33px;
}

.icon.tw{background-position: 4px -344px;}
.icon.fb{background-position: 10px -397px;}
.icon.yt{background-position: 4px -448px;}


.icon:hover{
  background-color: #1A1E25;
}

@media (max-width: 767px) {
    .product-description{
      clear: both;
    }
}


/* Shop */


.mw-cart-table td, .mw-cart-table th{
  vertical-align: middle;
   text-align: center;
}

.mw-cart-table-price{
  white-space: nowrap;
}
.mw-cart-table .mw-cart-table-product{
  text-align: left;
}

.mw-cart-table th{
  text-align: center;
  font-size: 13px;
}

.mw-cart-table td input{
  margin: 0;
}

/* /Shop */


/* Contacts */

.contact-form input[type='text'],
.contact-form input[type='email'],
.contact-form textarea{
  width: 318px;
}

.contact-form input.mw-captcha-input{
  width: 206px;
}

.thumbnail > .module-google-maps iframe{
  border-radius: 4px;
}


.contact-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-list li{
    margin: 15px 0;
    clear: both;
    position: relative;
    overflow: hidden;
    zoom:1;
}

.contact-icon{
  display: inline-block;
  width: 34px;
  height: 34px;
  background: url(../img/contact_icons.png) no-repeat;
}

.contact-icon.mail{
  background-position: 0 -47px;
}

.contact-list .contact-icon{
  float: left;
  margin-right: 12px;
}

.contact-list .contact-icon + span{
  top: 5px;
  position: relative;
}


/* /Contacts */


img.mw-captcha-img{ width:100px; height: 20px; cursor:pointer;}


/* Social Icons */

i.social {
	background: url('../img/social_icons.png') no-repeat 0 0;
	width: 33px;
	height: 33px;
	display: inline-block;
}
i.tw { background-position: 0px 0px; }
i.fb { background-position: -39px 0; }
i.flickr { background-position: -78px 0; }
i.in { background-position: -117px 0; }
i.gp { background-position: -156px 0; }
i.pin { background-position: -195px 0; }
i.tumblr { background-position: -233px 0; }
i.wp { background-position: 0 -51px; }
i.yt { background-position: -39px -51px; }
i.vim { background-position: -78px -51px; }
i.picasa { background-position: -116px -51px; }
i.forrst { background-position: -156px -51px; }
i.rss { background-position: -194px -51px; }
i.myspace { background-position: -233px -51px; }

.social-icons a{
  margin: 0 7px 10px 0;
  display: inline-block;
}




/* /Social Icons */



/* Login and Register */


.login-register{
  width:  40%;
  margin: auto;
}

.already-have-an-account{
  float: left;
  white-space: nowrap;
  margin:2px 0 0 12px;
}



/* /Login and Register */




/* Footer */

#footer{
  background: #242B35;
  padding: 20px 0 0;
  margin-top: 45px;
  color: white;
}

#footer a{color: white;}

#footer .muted{color: #999999;}

#footer hr {
  border-top: 1px solid black;
  border-bottom: 1px solid #363B43;
  margin: 8px 0px 0px 0px;
}

#footer-social h3{
  font-weight: bold;
  padding-right: 7px;
}

#footer-bottom{
  padding-top: 20px;
}

#footer address{
  color:#6D6E71;
}

#footer .MW{
  color:#6D6E71;
}
