.our-team .mw-social-ico-facebook,
.our-team .mw-social-ico-twitter,
.our-team .mw-social-ico-google-plus 
{
	margin: 0 5px;
}

.hr-top { margin-top: 0; }

.social-icons2 { 
	margin: 10px 7px 0 15px;
	display: inline-block;
}