
body{
  background: #F3F3F3;
  font: 14px/1.5 Roboto, Arial, sans-serif;
  color: #696969;
}

h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}


#header{
  background: #242B35;
  padding: 10px 20px 0;
}
#header .nav a, #header .nav a.active:hover{
  color: white;
}

#header .nav a:hover{
  color:#242B35;
}

#logo{
  float: left;
  margin-bottom: 10px;
  display: block;
  color: white;
  font-size: 35px;
  text-decoration: none;
  font-weight: 200;
}

#main-navigation{
  float: right;
  margin-top: 10px;
}

#home-top{
  padding-top: 50px;
}

.module-posts-template-columns{
  padding-bottom: 25px;
}

.module-posts-template-columns .description{
  width: 85%;
}

.module-posts-template-columns img{
  max-height: 210px;
}

.module-posts-template-columns .price{
  float: right;
  margin-top:19px;
  font-size: 21px;
  font-weight: 200;
  color: #0088CC;
}

.product-title-price{
  width: 85%;
}


.module-posts-head{
  padding-bottom:12px;
}
.module-posts-template-columns .description{
  padding-bottom: 5px;
}

.module-posts-head h3{
  padding-bottom: 0;
  margin-bottom: 0;
  line-height:normal;
}


.section-title{
  text-align: center;
  position: relative;
  margin: 40px 0;
}

.section-title hr{
  position: absolute;
  width: 35%;
  border-top: 1px solid #BEC0C3;
  border-bottom: 1px solid white;
}
.section-title hr.right{
  right: 0;
  top: 0
}


#footer{
  background: #242B35;
  padding: 20px 0 0;
  color: white;
}

#footer a{
  color: white;
}
