.form-control-live-edit-label-wrapper {
    cursor: inherit;
    display: block;
    line-height: 22px;
    min-height: 45px;
    border-width: 0px;
    border-width: 0px;
    outline:0; /* I have also tried outline:none */
    -webkit-appearance:none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-appearance:none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 3 7px;
    position: relative;

}

.form-control-live-edit-label-wrapper textarea.form-control-live-edit-input {
    padding-top: 10px
}

@-moz-document url-prefix() {
    .form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select {
        padding-top: 10px
    }
}

.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select {
    text-transform: capitalize;
}

.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select option {
    @apply text-black dark:text-white;
}

.form-control-live-edit-label-wrapper .v-slider-thumb__surface.elevation-2 {
    color: #f0f0f0;
}

.form-control-live-edit-label-wrapper .form-control-live-edit-label-wrapper .text-align .active {
    background-color: #f0f0f0 !important;
    border-color: #f0f0f0 !important
}

.form-control-live-edit-label-wrapper .form-control-live-edit-input, .form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select {
    border: none;
    flex: 1 1 0%;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    caret-color: #000;
    min-height: 45px;
    width: 100%;
    border-width: 0px;
    outline:0; /* I have also tried outline:none */
    -webkit-appearance:none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-color: #f0f0f0;
    padding-inline-start: 10px
}

.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select:disabled, .form-control-live-edit-label-wrapper .form-control-live-edit-input:disabled {
    background-color: #f0f0f0;
    opacity: .7
}

.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select:focus, .form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select:focus-visible, .form-control-live-edit-label-wrapper .form-control-live-edit-input:focus, .form-control-live-edit-label-wrapper .form-control-live-edit-input:focus-visible {
    border-width: 0px;
    outline:0; /* I have also tried outline:none */
    -webkit-appearance:none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-color: transparent
}

.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select:focus + .form-control-live-edit-bottom-effect:after, .form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select:focus-visible + .form-control-live-edit-bottom-effect:after, .form-control-live-edit-label-wrapper .form-control-live-edit-input:focus + .form-control-live-edit-bottom-effect:after, .form-control-live-edit-label-wrapper .form-control-live-edit-input:focus-visible + .form-control-live-edit-bottom-effect:after {
    width: 100%;
    transition-duration: .3s
}

.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-control-input-range-slider, .form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select.form-control-input-range-slider {
    background-color: transparent;
    max-width: 45px;
    height: 35px;
    min-height: unset
}

.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-control-input-range-slider:focus, .form-control-live-edit-label-wrapper .form-control-live-edit-input.form-control-input-range-slider:focus-visible, .form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select.form-control-input-range-slider:focus, .form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select.form-control-input-range-slider:focus-visible {
    background-color: #4A4A4AFF;
}

.form-control-live-edit-label-wrapper .form-control-live-edit-bottom-effect {
    bottom: 0;
    height: 1px;
    left: 6px;
    position: absolute;
    width: calc(100% - 12px);
    background-color: #e7e7e7;
    box-sizing: border-box
}

.form-control-live-edit-label-wrapper .form-control-live-edit-bottom-effect:focus-visible {
    border: none
}

.form-control-live-edit-label-wrapper .form-control-live-edit-bottom-effect:after {
    background-color: #0e0e0e;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    transition: width .25s cubic-bezier(.4, 0, .68, .06);
    width: 0
}

.form-control-live-edit-label-wrapper .form-control-live-edit-bottom-effect.bottom-effect-textarea {
    bottom: 5px
}

.form-control-live-edit-label-wrapper .form-control-live-edit-settings-btn {
    position: absolute;
    top: 10px;
    right: 16px;
    cursor: pointer
}

.mw-filepicker-component-navigation-header .form-control-live-edit-label-wrapper {
    width: 100%
}


