<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="wrapper">
	<div id="header">
		<a href="#" id="top_phone"><img src="<? print TEMPLATE_URL ?>images/top_phone.jpg" border="0" /></a>
		<a href="#" id="logo"><img src="<? print TEMPLATE_URL ?>images/logo.jpg" alt="logo" border="0" /></a> 
		<a href="#" id="login">Login</a>
		</div>
		
		<div class="c" style="height: 22px;">&nbsp;</div>
</div>


<div id="coxnav">
		<div class="wrapper">
		
			<div class="menu">
			
				<ul>
				<li class="page_item page-item-57 parent">
<a class="parent parentfirst" href="/" title="Home">Home</a>
</li>
<li class="page_item page-item-46 parent">
<a class="parent" title="Dish Network" href="https://www.digital-connections.tv//offers/dish-network/">Dish Network</a>
</li>
<li class="page_item page-item-34 parent">
<a class="parent" title="Xfinity" href="https://www.digital-connections.tv//offers/comcast/">Xfinity</a>
</li><li class="page_item page-item-34 parent">
<a class="parent" title="Xfinity" href="https://www.digital-connections.tv//offers/comcast/">Xfinity</a>
</li>
<li class="page_item page-item-40 parent">
<a class="parent" title="DirecTV" href="https://www.digital-connections.tv//offers/direct-tv/">DirecTV</a>
</li>
<li class="page_item page-item-49 parent">
<a class="parent" title="DirecTV for Business" href="https://www.digital-connections.tv//offers/direct-tv-for-business/">DirecTV for Business</a>
</li>
<li class="page_item page-item-57 parent">
<a class="parent parentlast" title="Wild Blue Internet" href="https://www.digital-connections.tv//offers/wild-blue-internet/">Wild Blue Internet</a>
</li>

<li class="current_page_item parent">
<a class="parent parentlast" title="Wild Blue Internet" href="https://www.digital-connections.tv//offers/wild-blue-internet/">Cox</a>
</li>
</ul>
			
			</div>
		</div>
</div>

<div class="cox_body_container">

<div class="webstore_container" align="center">
	
	<div class="cox_content">
		<div class="cox_home_shadow"></div>
		
		<div class="cox_home_tit">Web Store </div>
		<div class="phone_icon"><img src="<? print TEMPLATE_URL ?>images/phone_icon_10.jpg" alt="phone" /></div> 
		<div class="phone_text">Order by phone <span class="red">1-866-Instals (467-8257)</span></div>
		
		
		<div class="webstore_search">
			<div class="webstore_cat_tit">Categories</div>
			<div class="webstore_search_lable">Search</div>
			<input type="text" class="webstore_search_txt" />
			<div class="webstore_search_but"><input type="image" src="<? print TEMPLATE_URL ?>images/webstore_search_but.png" /></div>
		</div>
		
		<div class="b" style="float:left">
			<div class="bm" style="float:left; width:930px;">
			  
			
				<div class="webstore_left">
				
				  	<div class="webstore_left_links">
						<ul>
							<li><a href="#">New Products</a></li>
							<li><a href="#">Satellite</a></li>
							<li><a href="#">Cable</a></li>
							<li><a href="#">Installation Supplies</a></li>
							<li><a href="#">Grounding Supplies</a></li>
							<li><a href="#">Alignment Tools</a></li>
							<li><a href="#">Off Air</a></li>
							<li><a href="#">Mounts</a></li>
							<li><a href="#">Television</a></li>
							<li><a href="#">Video Distribution</a></li>
							<li><a href="#">Bargain Bin</a></li>
							
						</ul>
					</div>
					
			  </div>
				<div class="webstore_rt">
			  	<div class="webstore_mycart_container">
					<div class="webstore_mycart_blk">
						<div class="webstore_mycart_gray_tit_part">
							<div class="webstore_cart_icon"><img src="<? print TEMPLATE_URL ?>images/cart_icon.jpg" alt="cart" /></div>
						<div class="webstore_cart_tit">My Cart</div>
						</div>
						<div class="webstore_cart_drop_record">
							<div class="webstore_cart_drop">
						<select style="opacity:0; height:20px; padding-top:7px; height:30px;">
						  <option >1</option>
						</select>
						</div>
						<div class="webstore_cart_drop_lable">A150BGN</div>
						<div class="webstore_cart_drop_lable">$123.56</div>
						<a href="#" id="webstore_cart_rec_del">Delete this product</a>
						</div>
					<div class="webstore_cart_drop_record">
							<div class="webstore_cart_drop">
						<select style="opacity:0; height:20px; padding-top:7px; height:30px;">
						  <option >1</option>
						</select>
						</div>
						<div class="webstore_cart_drop_lable">A150BGN</div>
						<div class="webstore_cart_drop_lable">$123.56</div>
						<a href="#" id="webstore_cart_rec_del">Delete this product</a>
						</div>
						<div class="webstore_totals">
							TOTAL:&nbsp;&nbsp;&nbsp;$244.68


						</div>
					</div>
				</div>
				
				
				<div class="webstore_form_left">
					<div class="webstore_form_tit">Personal Information</div>
				
				<div class="webstore_form_lable">First Name <span class="required_red">(required)</span> </div>
				<input type="text" class="webstore_form_text" />
				
				<div class="webstore_form_lable">Last Name <span class="required_red">(required)</span> </div>
				<input type="text" class="webstore_form_text" />
				
				<div class="webstore_form_lable">Email <span class="required_red">(required)</span> </div>
				<input type="text" class="webstore_form_text" />
				
				<div class="webstore_form_lable">Phone Number</div>
				<input type="text" class="webstore_form_text" />
				<div class="webstore_chkbox">
				  
				      <input type="checkbox" name="checkbox" value="checkbox" />
			        
				  </div>
				<div class="webstore_agree">I agree with <A href="#">terms and conditions</A></div>
				
				<div class="webstore_continue_shopping_but"><input type="image" src="<? print TEMPLATE_URL ?>images/continue_shopping_but.jpg" /></div>
			  	</div>
				
				<div class="webstore_form_rt">
					<div class="webstore_form_tit">Shipping Address</div>
				
				    <div class="webstore_form_lable">City <span class="required_red">(required)</span> </div>
				    <input type="text" class="webstore_form_text" />
				
				<div class="webstore_form_lable">Address <span class="required_red">(required)</span> </div>
				<input type="text" class="webstore_form_text" />
				
				<div class="webstore_form_lable">State/Province</div>
				<input type="text" class="webstore_form_text" />
				
				<div class="webstore_form_lable">Zip/Postal Code </div>
				<input type="text" class="webstore_form_text" />
				<div class="webstore_continue_shipping_but"><input type="image" src="<? print TEMPLATE_URL ?>images/webstore_paypal_but.jpg" />
				</div>
			  	</div>
				
			  </div>
          
         
		  </div>
			
		</div>
		
		<div class="bb" style="float:left"></div>
		
		
		<div style="width:931px; float:left; margin-top:10px; margin-bottom:40px;">
<a href="https://www.digital-connections.tv//info/affiliates/"> 
		<img alt="" src="<? print TEMPLATE_URL ?>images/ip2.jpg"> </a> </div>
		
		
		
		
	</div>
	
</div>

<div id="footer" >

    <div id="footer_nav">
    <div class="wrapper">
    <div id="soc">
        <span>Socialize</span>
        <a href="https://www.facebook.com/pages/Digital-Connections-Inc/247969741895199" target="_blank" id="fb"></a>
        <a href="http://twitter.com/#%21/Digital__TV" target="_blank" id="tw"></a>

    </div>
        <ul>
        
        
         <li style="wight: 55px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
         
        
        <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1065179-51']);
  _gaq.push(['_setDomainName', '.digital-connections.tv']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
        

           <li class="page_item page-item-17"><a href="https://www.digital-connections.tv//info/company/" title="Company">Company</a></li>
<li class="page_item page-item-19"><a href="https://www.digital-connections.tv//info/coverge/" title="Coverage">Coverage</a></li>
<li class="page_item page-item-20"><a href="https://www.digital-connections.tv//info/contact-us/" title="Contact us">Contact us</a></li>
<li class="page_item page-item-65"><a href="https://www.digital-connections.tv//info/affiliates/" title="Affiliates">Affiliates</a></li>
<li class="page_item page-item-74"><a href="https://www.digital-connections.tv//info/blog/" title="Blog">Blog</a></li>
<li class="page_item page-item-108"><a href="https://www.digital-connections.tv//info/privacy/" title="Privacy">Privacy</a></li>
<li class="page_item page-item-136"><a href="https://www.digital-connections.tv//info/pay-invoice/" title="Pay invoice">Pay invoice</a></li>
   

          <li><a href="http://www.probusinesstools.com/websites/digitalconn/index.asp" target="_blank">Partner login</a></li>
          
          
        </ul>

        <div class="c" style="height: 15px;">&nbsp;</div>
        <address>All Rights Reserved www.Digital-Connections.tv 2012 </address>


    <div id="i"><a href="http://ooyes.net/" target="_blank" id="Website Design">Website Design</a> by <a id="Web Design Company" target="_blank" href="http://ooyes.net/">ooYes</a>!</div>


        <div class="c" style="height: 25px;">&nbsp;</div>

        </div>
    </div>






	</div>
	<div id="su-footer-links" style="text-align: center;"></div> 

</div>
</body>
</html>
