/*Actions*/
.add {
	background:url(add.png) no-repeat left center;
}
.done {
	background:url(done.png) no-repeat left center;
}
.type-done .done {
	background:url(inactive-done.png) no-repeat left center;
}
.edit {
	background:url(edit.png) no-repeat left center;
}
.delete {
	background:url(delete.png) no-repeat left center;
}
/*Paging*/
.page-next,.next {
	background:url(arrows/next.png) no-repeat left center;
}
.page-back,.previous {
	background:url(arrows/previous.png) no-repeat left center;
}
.page-first,.first {
	background:url(arrows/first.png) no-repeat left center;
}
.page-last,.last {
	background:url(arrows/last.png) no-repeat left center;
}
.home {
	background:url(home.png) no-repeat left center;
}


/*Indecators*/
.projects li,.project {
	background:url(projects.png) no-repeat left center;
}
.contexts li,.context {
	background:url(contexts.png) no-repeat left center;
}
.sections li,.section {
	background:url(sections.png) no-repeat left center;
}
.plugins li,.plugin {
	background:url(plugin.png) no-repeat left center;
}
.reminders li,.reminders dt,.reminder {
	background:url(reminders.png) no-repeat left center;
}
.edit-projects {
	background:url(edit-projects.png) no-repeat left center;
}
.edit-contexts {
	background:url(edit-contexts.png) no-repeat left center;
}
.tasks {
	background:url(tasks.png) no-repeat left center;
}
.settings {
	background:url(settings.png) no-repeat left center;
}
.logout {
	background:url(exit.png) no-repeat left center;
}
.calendar {
	background:url(calendar.png) no-repeat left center;
}
.info {
	background:url(info.png) no-repeat left center;
}
.inbox {
	background:url(inbox.png) no-repeat left center;
}
.next-task {
	background:url(sudden.png) no-repeat left center;
}
.search {
	background:url(find.png) no-repeat left center;
}



#warning-message,.warning {
	background:url(warning.png) no-repeat left center;
}
#error-message,.error {
	background:url(error.png) no-repeat left center;
}
#success-message,.success {
	background:url(ok.png) no-repeat left center;
}


.menu-with-icon li {
	background-position:4px 5px;
}