*{
  margin: 0;
  padding: 0;
}

a, a *{
  cursor: pointer;
}

a, input, textarea, select{
  outline: none;
}


img{
  border: none
}


.richtext pre, .richtext menu, .richtext hr, .richtext dir, .richtext center, .richtext ul, .richtext p, .richtext ol,  .richtext noframes, .richtext h6, .richtext h5, .richtext h4, .richtext h3, .richtext h2, .richtext h1, .richtext frameset,  .richtext frame, .richtext form, .richtext fieldset, .richtext dt, .richtext dl, .richtext div, .richtext dd, .richtext blockquote,  .richtext address {
	display:block
}
.richtext li {
	display:list-item
}
.richtext head {
	display:none
}
.richtext table {
	display:table;
	border-spacing:2px
}
.richtext tr {
	display:table-row
}
.richtext thead {
	display:table-header-group
}
.richtext tbody {
	display:table-row-group
}
.richtext tfoot {
	display:table-footer-group
}
.richtext col {
	display:table-column
}
.richtext colgroup {
	display:table-column-group
}
.richtext th, .richtext td {
	display:table-cell;
	vertical-align:inherit
}
.richtext caption {
	display:table-caption
}
.richtext th, .richtext strong, .richtext b, .richtext h6, .richtext h5, .richtext h4, .richtext h3, .richtext h2, .richtext h1 {
	font-weight:bolder
}
.richtext th, .richtext caption, .richtext center {
	text-align:center
}
.richtext body {
	margin:8px
}
.richtext h1 {
	font-size:2em;
	margin:.67em 0;
	font-size:24px
}
.richtext h2 {
	font-size:1.5em;
	margin:.75em 0;
	font-size:22px
}
.richtext h3, .richtext big {
	font-size:1.17em
}
.richtext h3 {
	margin:.83em 0;
	font-size:20px
}
.richtext menu, .richtext dir, .richtext dl, .richtext ol, .richtext form, .richtext fieldset, .richtext ul, .richtext blockquote, .richtext p, .richtext h4 {
	margin:1.12em 0
}
.richtext h5, .richtext sup, .richtext sub, .richtext small {
	font-size:.83em
}
.richtext h5 {
	margin:1.5em 0;
	font-size:16px
}
.richtext h6 {
	font-size:.75em;
	margin:1.67em 0
}
.richtext blockquote, .richtext dd, .richtext menu, .richtext dir, .richtext ul, .richtext ol {
	margin-left:40px
}
.richtext blockquote {
	margin-right:40px
}
.richtext address, .richtext var, .richtext em, .richtext cite, .richtext i {
	font-style:italic
}
.richtext samp, .richtext kbd, .richtext code, .richtext tt, .richtext pre {
	font-family:monospace
}
.richtext pre {
	white-space:pre
}
.richtext select, .richtext input, .richtext textarea, .richtext button {
	display:inline-block
}
.richtext sub {
	vertical-align:sub
}
.richtext sup {
	vertical-align:super
}
.richtext foot, .richtext tbody, .richtext thead {
	vertical-align:middle
}
.richtext del, .richtext strike, .richtext s {
	text-decoration:line-through
}
.richtext hr {
	border:1px inset
}
.richtext ol {
	list-style-type:decimal
}
.richtext ol ol, .richtext ul ul, .richtext ul ol, .richtext ol ul {
	margin-top:0;
	margin-bottom:0
}
.richtext ins, .richtext u, .richtext:visited, .richtext:link {
	text-decoration:underline
}
.richtext br:before {
	content:"\A"
}
.richtext:after, .richtext:before {
	white-space:pre-line
}
.richtext:focus {
	outline:thin dotted invert
}
.richtext BDO[DIR="ltr"], .richtext *[DIR="ltr"] {
	direction:ltr
}
.richtext BDO[DIR="ltr"], .richtext BDO[DIR="rtl"] {
	unicode-bidi:bidi-override
}
.richtext BDO[DIR="rtl"], .richtext *[DIR="rtl"] {
	direction:rtl
}
.richtext *[DIR="ltr"], .richtext *[DIR="rtl"] {
	unicode-bidi:embed
}
.padding0 {
	padding: 0 !important;
}
.margin0 {
	margin: 0 !important;
}
.c{
	height: 1px;
	overflow: hidden;
    zoom:1;
    clear: both;
    float: none;
}

.left {
	float: left !important;
}
.right{
  float: right !important;
}

.relative{
  position: relative;
}

.xhidden{
  position: absolute;
  left: -9999px;
  top: -9999px;
}

/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/*
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#fff;}
#colorbox{}
    #cboxTopLeft{width:25px; height:25px; background:url(../img/border1.png) no-repeat 0 0;}
    #cboxTopCenter{height:25px; background:url(../img/border1.png) repeat-x 0 -50px;}
    #cboxTopRight{width:25px; height:25px; background:url(../img/border1.png) no-repeat -25px 0;}
    #cboxBottomLeft{width:25px; height:25px; background:url(../img/border1.png) no-repeat 0 -25px;}
    #cboxBottomCenter{height:25px; background:url(../img/border1.png) repeat-x 0 -75px;}
    #cboxBottomRight{width:25px; height:25px; background:url(../img/border1.png) no-repeat -25px -25px;}
    #cboxMiddleLeft{width:25px; background:url(../img/border2.png) repeat-y 0 0;}
    #cboxMiddleRight{width:25px; background:url(../img/border2.png) repeat-y -25px 0;}
    #cboxContent{background:#fff; overflow:hidden;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:20px;}
        #cboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; color:#999;}
        #cboxCurrent{position:absolute; bottom:0px; left:160px; color:#999;}
        #cboxSlideshow{position:absolute; bottom:0px; right:42px; color:#444;}
        #cboxPrevious{position:absolute; bottom:0px; left:0; color:#444;}
        #cboxNext{position:absolute; bottom:0px; left:80px; color:#444;}
        #cboxLoadingOverlay{background:#fff url(../img/loading.gif) no-repeat 5px 5px;}
        #cboxClose{position:absolute; bottom:0; right:0; display:block; color:#444;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to IE9.
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
*/
.cboxIE6 #cboxTopLeft{background:url(../img/ie6/borderTopLeft.png);}
.cboxIE6 #cboxTopCenter{background:url(../img/ie6/borderTopCenter.png);}
.cboxIE6 #cboxTopRight{background:url(../img/ie6/borderTopRight.png);}
.cboxIE6 #cboxBottomLeft{background:url(../img/ie6/borderBottomLeft.png);}
.cboxIE6 #cboxBottomCenter{background:url(../img/ie6/borderBottomCenter.png);}
.cboxIE6 #cboxBottomRight{background:url(../img/ie6/borderBottomRight.png);}
.cboxIE6 #cboxMiddleLeft{background:url(../img/ie6/borderMiddleLeft.png);}
.cboxIE6 #cboxMiddleRight{background:url(../img/ie6/borderMiddleRight.png);}

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}


/* Begin  */


body{
    font:12px Verdana, Arial, sans-serif;
    color: #5D595B;
    background: #F7F7F7;
}

#wrapper{
  width: 980px;
  margin: 0 auto;
}
#header{
  zoom:1;
  overflow: hidden;
  padding-bottom: 28px;
}


#phone{
  float: right;
  width: 300px;
  height: 35px;
  overflow: hidden;
  background: url(../img/header_top.jpg) no-repeat;
  margin-top: 33px;
}

#facebook_top{
  float: right;
  display: block;
  width:135px;
  height: 33px;
  text-indent: -9999px;
}
#logo{
  float: left;
  display: block;
  width: 325px;
  height: 84px;
  background: url(../img/logo.jpg) no-repeat;
  text-indent: -9999px;
}

#nav{
  float: right;
  margin-top: 20px;
}

#nav li{
  float: left;
  list-style: none;

}
#nav a{
  color: #238BC7;
  font-size: 14px;
  font-family: Tahoma, Arial, sans-serif;
  text-decoration: none;
  display: block;
  padding:10px 20px 11px;
}
#nav li:hover, #nav li.active{
  background: url(../img/nav_left.jpg) no-repeat;

}

#nav li:hover a, #nav li.active a{
  background: url(../img/nav_right.jpg) no-repeat right top;
  color: white;
}
 #nav li.active a{
   font-weight: bold;
 }

 .box{
   position: relative;
   zoom:1;
   border: 1px solid #E5E5E5;
   /*-webkit-border-radius: 11px;
   -moz-border-radius: 11px;
   border-radius: 11px;*/

 }

.tl, .tr, .bl, .br{
  display: block;
  width:10px;
  height: 10px;
  position: absolute;
  z-index: 5;
}
.tl{
  top: -1px;
  left: -1px;
  background: url(../img/tl.png) no-repeat;
}
.tr{
  top: -1px;
  right: -1px;
  background: url(../img/tr.png) no-repeat;
}
.bl{
  bottom: -1px;
  left: -1px;
  background: url(../img/bl.png) no-repeat;
}
.br{
  bottom: -1px;
  right: -1px;
  background: url(../img/br.png) no-repeat;
}

#HeadRotator{
  padding: 15px;
  background: white;
  overflow: hidden;
  zoom:1;
  position: relative;
}

#footer{
  clear: both;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  zoom:1;
}


#footerbox{
  width:978px;
  height:108px;
  padding-top: 25px;
  background: url(../img/footer.jpg) no-repeat;
  position: relative;
}

#f_time{
  float: left;
  margin-left: 123px;
  width:147px;
}

#footerbox address{
  float: left;
  display: block;
  width: 195px;
  font-style: normal;
  margin-left: 130px;
}

#footerbox h5{
  font-size:12px;
  font-weight: normal;
  color: #238BC7;
  padding-bottom: 7px;
  text-transform: uppercase;
}
#reserve{
   display: block;
   position: absolute;
   width:319px;
   height:120px;
   right: 0;
   top: 0;
   text-indent: -9999px;
}


.shadow-content{
    position: relative;
    z-index: 2;
}
.shadow{
  position: relative;
}


.shadow_img{
  position: absolute;
  z-index: 0;
  width: 100%;
  height:12px;
  left: 0;
  bottom: -6px;
}

#copy{
  display: block;
  font-style: normal;
  float: left;
  width:450px;
}

#wd{
  float: right;
  width:310px;
  text-align: right;
}
#wd a{
  text-decoration: none;
  font-style: italic;
  color: #238BC7;
}
#wd a:hover{
  text-decoration: underline;
}




#SliderControlls{
  float: right;
  margin:5px 0 -7px 0;
}

.slider_ctrl{
  display: block;
  float: left;
  width:24px;
  height: 23px;
  background: url(../img/slidectrl.jpg) no-repeat;
  text-indent: -9999px;
  cursor: pointer;
  margin-left: 5px;
}
.slider_ctrl_active{
  background-position: -29px 0;
}

.frames{
  width: 949px;
  height:276px;
  position: relative;
  overflow: hidden;
  zoom:1;
}

.frame{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 949px;
  height:276px;
}

#Scroll{
  clear: both;
  padding-top: 30px;
  position: relative;

}
#ScrollContainer{
    width: 980px;
  height: 340px;
  overflow: hidden;
  position: relative;
  zoom:1;
}


#Scroll .shadow{
  float:left;
  width:313px;
  height:330px;
  margin-right: 20px;

}
#Scroll .shadow .box{
   height:330px;
   background: white;
}
#Scroll .img{
  display: block;
  width: 311px;
  height: 183px;
  background-repeat: no-repeat;
  background-position: center top;
}

#Scroll h3{
  color: #1790BF;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: normal;
  padding-top:14px;
  padding-bottom:10px;
    font-family: Tahoma, Arial, sans-serif;
}

.scroll_info{
  padding:0 15px 15px;
}
.scroll_info p{
  padding-bottom: 12px;
}


.more{
  width: 112px;
  height: 21px;
  background: url(../img/more.jpg) no-repeat;
  text-align: center;
  padding-top: 6px;
  text-decoration: none;
  display: inline-block;
  color: white;
  font-family: Tahoma, Arial, sans-serif;
  text-transform: uppercase;
}
.more:hover{
  text-decoration: underline;
}

.slide_left, .slide_right{
  display: block;
  width: 24px;
  height: 36px;
  position: absolute;
  top: 50%;
  margin-top: -18px;
  cursor: pointer;
}
.slide_left{
  left: -24px;
  background: url(../img/slideleftt.jpg) no-repeat;
}
.slide_right{
  right: -24px;
  background: url(../img/slideright.jpg) no-repeat;
}

.inner_top{
  background: white;
  padding: 15px;
}

.a{
    display: inline-block;
    background: url(../img/ftitle.jpg) no-repeat;
    padding-left: 12px;
    text-decoration: none;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
a.a:hover strong{
  text-decoration: underline;
}


.a strong{
  display: inline-block;
  background: url(../img/ftitle.jpg) no-repeat right top;
  padding-right: 12px;
  padding: 15px 12px 15px 0;
  font-weight: normal;
  text-decoration: none;
  color: white;
}

#main{
  clear: both;
  padding-top: 20px;
}

#contact_form{
  margin-top: 10px;
  float: left;
  width: 380px;
}

.field{
  width: 377px;
  height:36px;
  background: url(../img/field.jpg) no-repeat;
  margin-bottom: 15px;
  position: relative;
}
.field input{
  width:361px;
  padding: 10px 8px;
  background: none;
  border: none;
}
.area{
  width: 377px;
  height:140px;
  background: url(../img/area.jpg) no-repeat;
  margin-bottom: 15px;
  position: relative;
}
.area textarea{
  width:361px;
  padding: 10px 8px;
  background: none;
  border: none;
  resize:none;
  height: 120px;
  overflow: auto;
}

#contact_form p{
  padding: 5px 0 10px 12px;
}
.text-centered{
  text-align: center;
}

#contacts_info{
  float: right;
  width:540px;
  margin-top: 10px;
}

.h5{
  font-weight: normal;
  color: #238BC7;
  font-family: Tahoma, Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}

a.h5:hover{
  text-decoration: underline;
}

#contacts_info h5{
  padding-bottom: 6px;
}
#contacts_info p{
  padding: 5px 0;
}
.col{
  float: left;
}

.err{
  display: block;
  position: absolute;
  bottom: -12px;
  left: 10px;
  font-size: 11px;
  color: red;
  position: absolute;
  visibility: hidden;
}

div.error .err{
  visibility: visible;
}

#sidebar{
  float: left;
  width:315px;
}

#sidetitle{
    background: url(../img/sidetitle.jpg) repeat-x;
    color: white;
    font-size: 21px;
    font-weight: normal;
    padding: 11px;
}
#sidenav ul{
  list-style: none;
  padding: 10px 0 20px;
}
#sidenav a{
  display: block;
  border-bottom: 1px solid #E6E5E5;
  padding: 8px 15px;
    font-weight: normal;
  color: #238BC7;
  font-family: Tahoma, Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}
#sidenav a:hover, #sidenav a.active, #sidenav li.active a{
  text-decoration: underline;
}


#sidenav .box{
  background: white;
}

#sidenav{
  margin-bottom:20px;
}

#sidecontent{
  float: right;
  width:635px;
}

.richtext img{
  padding: 7px;
  background: white;
  border: 1px solid #E1E1E1;
}
.richtext h1,
.richtext h2,
.richtext h3,
.richtext h4,
.richtext h5{
  color: #238BC7;
  font-weight: normal;
}

.title{
  font-size:24px;
  color:#238BC7;
  font-weight: normal;
  text-transform: uppercase;
}

#List{
  width:980px;
  padding-top: 15px;
}
#List ul{
  width:980px;
  list-style: none;
  overflow: hidden;
  zoom:1;
}

#List li{
  float: left;
  width: 297px;
  height:255px;
  margin-right: 40px;
margin-bottom: 20px;
}

#List .img{
  display: block;
  background: white;
  border: 1px solid #E5E5E5;

}
#List .img div.shadow-content{
  padding: 4px;
  background: white;
}


#List .img div.shadow-content div{
    width:287px;
    height:161px;
    background-repeat: no-repeat;
    background-position: center top;
}
#List h3{
  padding: 8px 0 8px;
}


#List h3, #List h3 a{
  color: #238BC7;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;

}

.gallery li a{
    width:287px;
    height:161px;
    display: block;
    text-decoration: none;
    text-indent: -9999px;
}












































