.mw-le-resizable {
    position: relative;
    &.mw-le-resizable-disabled{
        .mw-le-resizer{
            display: none;
        }
    }
}
.mw-le-resizer {
    position: absolute;
    pointer-events: all;
}

.mw-le-resizer-r {
    cursor: e-resize;
    height: 100%;
    right: 0;
    top: 0;
    width: 5px;
}

.mw-le-resizer-l {
    cursor: e-resize;
    height: 100%;
    left: 0;
    top: 0;
    width: 5px;
}

.mw-le-resizer-b {
    bottom: 0;
    cursor: n-resize;
    height: 5px;
    left: 0;
    width: 100%;
}

.mw-le-resizer-t {
    top: 0;
    cursor: n-resize;
    height: 5px;
    left: 0;
    width: 100%;
}

[data-hide-resizer="true"] {
    .mw-le-resizer{
        display: none !important;
    }
}
[data-hide-outline="true"] {
    border-color: transparent !important
}

