config/*
vendor/*
userfiles/language/
userfiles/css/
userfiles/media/*
userfiles/export/*
userfiles/import/*
userfiles/cache/*
storage/cache/*
old_mw/
phpinfo.php
.idea
.env
/stats2
dwsync.xml
/userfiles/backup
/storage
/storage/.gitignore
/storage/.htaccess
/storage/app/.gitignore
/storage/framework/.gitignore
/storage/framework/cache/.gitignore
/storage/framework/sessions/.gitignore
/storage/framework/views/.gitignore
/storage/logs/.gitignore
/userfiles/img
/userfiles/install_log.txt
/userfiles/modules/mw_market
/userfiles/modules/whmcs
/userfiles/modules/white_label
/userfiles/modules/whmcs_client
/cloudsigma
/mw2015
/