/cache/
_notes
media
temp
download
Thumbs.db
*Thumbs.db
.DS_Store
.DS_Store?
._notes
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
/service
/whmcs/home/peter117/public_html/config.php
/whmcs/home/peter117/public_html/index.php
/whmcs/home/peter117/public_html/webinstall.php
/whmcs/home/peter118/www/config.php
/whmcs/home/peter118/www/index.php
/whmcs/home/peter118/www/webinstall.php
/whmcs/scripts/postwwwacct
/whmcs/scripts/wwwacct

/.idea/.name
/application/classes/__history/MwController.php.~1~
/application/classes/__history/SplClassLoader.php
/application/classes/__history/stateful.php
/application/classes/__history/time.php
/application/classes/__history/unzip.php
/application/classes/__history/view.php
/application/classes/mw/cookies/cookie.txt
