version: '3'
services:
  composer_installation:
    container_name: composer_installation
    image: composer
    volumes:
      - ./:/app
    command: composer install --ignore-platform-reqs
  php-apache:
    image: mitlabs/apache-php8.0
    ports:
      - 80:80
    volumes:
     - ./:/var/www/html
    links:
      - 'mariadb'
  mariadb:
    image: mariadb:10.3
    volumes:
    - mariadb:/var/lib/mysql
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "no"
      MYSQL_ROOT_PASSWORD: "root"
      MYSQL_USER: 'laravel'
      MYSQL_PASSWORD: 'laravel'
      MYSQL_DATABASE: 'laravel'
    ports:
      - 3306:3306
volumes:
  mariadb:
