<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         verbose="true"
         syntaxCheck="false">
    <logging>
           <log type="testdox-text" target="php://stdout"/>
    </logging>
    <testsuites>
        <testsuite name="Microweber Test Suite">
            <directory>./src/Microweber/tests/</directory>
        </testsuite>
        <testsuite name="Microweber Modules Test Suite">
            <directory>./userfiles/modules/*/tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
    </php>
</phpunit>
