/***************************************************

                    Purple Scheme

****************************************************/

body{ background-color: #F2EEF4; }

#header, #footer, #footer a, #header .edit, #header .edit a{ color: #fff; }

.box-container{  background-color: white; color: #555566; padding: 20px; }
.box-container .box-container{  padding: 0; }

.box-container .well{
  background-color: transparent;
}

/* Header */
#header{ background-color:#A41DCC; }
#logo small{ color: rgba(255, 255, 255, 0.5); }

/* /Header */

.mw-cart-action-holder, hr{ border-top-color: rgba(238, 238, 238, 0.38);}
#footer { background: #A41DCC; }
#footer .container .mw-ui-row{ border-top: none; }
#powered, #powered a, #copyright{ color: rgba(255, 255, 255, 0.7); }
.inner-bottom-box{ background: transparent }

.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    background-color: #AE9CB4;
    color: #FFFFFF;
}
.btn-default:hover,
.btn-default:focus{
  background-color: #A591AC;
}

/* Modules */

.mw-search-default input,
.mw-search-autocomplete .mw-search-autocomplete-field-holder input{
  background-color: white;
}

.module-posts-template-sidebar .date{ color: #ABABAB; }
.module-posts-template-sidebar p, .module-posts-template-sidebar .btn-link{ color: #808080; }
.mw-cart-small{ background: white; }

.module-navigation-default > ul > li > ul{ padding-top: 0; }

.module-navigation-default li li a{
  border:none;
}

.module-navigation-default a{ background-color: transparent; }

#header .pagination > a.active, #footer .pagination > a.active, .pagination > .active > a,
.pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover,
.pagination > .active > a:focus, .pagination > .active > span:focus,
.btn-default,
.btn-action, .product-price-holder .btn, .btn-action-default,
.btn-action:hover, .product-price-holder .btn:hover, .btn-action-default:hover,
.btn-action:focus, .product-price-holder .btn:focus, .btn-action-default:focus,
.module-navigation-default li:hover a,
.module-navigation-default li a:hover,
.module-navigation-default li:hover a.active,
.module-navigation-default a.active,
.module-navigation-default a.active:hover,
.module-navigation-default a.active:active,
.module-navigation-default a.active:focus,
.module-navigation-default li a:focus{
  background-color: #A41DCC;
  color: white;
}

.mwcommentsmodule input[type="email"], .mwcommentsmodule textarea, .mwcommentsmodule input[type="text"],
.mwcommentsmodule .comments-template-stylish .comment .comment-content {
   border-color: #efefef;
   background-color: white;
}

