@import url("liveadmin.css");

input, a, textarea, select{
  outline: none;
}

h2{ /*  ask the designer */
    font-size: 18px;
    font-weight: normal;
    padding: 10px 0;
}

.vspace{
  padding: 11px 0 12px;
  height: 1px;
  overflow: hidden;
  position: relative;
}

#mw-admin-container{
  background: url("../img/treebg.gif") repeat-y -167px 0;
}
body.action-orders #mw-admin-container,
body.action-shipping #mw-admin-container
{background-image:none;}


#mw_toolbar_logo{
  background-image: url(../img/logo_admin.png);
}
#mw_toolbar_nav{
  height: 49px;
  border-bottom: 1px solid #fff;
}
#mw_toolbar_nav .ilive{
  opacity:0.4;
}

#mw_toolbar_nav .mw-ui-btn:hover .ilive{
  opacity:1;
}


#mw_tabs li a{
  padding: 17px 20px;
}

#stats{
    background: #F4F4F4;
    border-bottom: 1px solid #E5E5E5;
    padding: 20px;
}

#stats svg{
  min-width: 100%;
}

#stats rect{
  fill:#6E6E6E;
  stroke-width:0;
}
#stats circle{
  fill:#ffffff;
  stroke:#696969;
}

#stats_nav{
  clear: both;
  overflow: hidden;
  position: relative;
  zoom:1;
}

#stats li{
  float: left;
  list-style: none;
  margin-right: 20px;
  cursor: pointer;
  color: #434343;
}

#stats li a{
  display: inline-block;
  white-space: nowrap;
  padding: 4px 0px;
  width:90px;
  text-align: center;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  -webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}
#stats li a.active{
  background: url(../img/grad.php?top=F5F5F5&bot=E1E1E1);
  border: 1px solid #DFDDDD;
  border-top-color: #E9E6E6;
  border-bottom-color: #A1A0A0;
}

#main{
  width: 1000px;
  padding-bottom: 60px;
  zoom:1;
}

#main.liquid{
  width: auto;
  min-width: 1000px;
  background: white; /* no sidebar */
}

#main:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#users_online{
  width:220px;
  margin-left: 20px;
  float: left;
}

.users_online{
  width: 150px;
  height: 105px;
  padding-top: 45px;
  margin: 0 auto;
  text-align: center;
  background:#D8FFC2;
  color: #4C7301;
  font-size: 50px;
  border-radius:100%;
}

#visits_info_table{
  float: left;
}


.stats_table{
  float: left;
  width: 750px;
}

#main.liquid .stats_table{
  width: auto;
}

#main.liquid #users_online{
  width: 15%;
}
#main.liquid #visits_info_table{
  width: 80%;
}

#main.liquid #visits_info_table table{
  width: 100%;
}



.stats_table th{
  font-size: 11px;
  font-weight: normal;
  padding: 3px 10px;
  text-align: left;
  border-bottom: 1px solid #E5E5E5;
}

.stats_table td{
  border-bottom: 1px solid #E5E5E5;
  background: #ffffff;
  padding: 5px 10px;
}
.stats_table tbody tr:nth-child(2n+1) td{

  background: #F4F4F4;
}

#footer{
  clear: both;
  background: #E9E9E9;
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
}
#footer-content{
  overflow: hidden;
  position: relative;
  padding:12px;
}

#PowerdBy{
  float: right;
  white-space: nowrap;
}


a:hover > .ilogout, .ilogout:hover{background-position:-880px -47px;}


.shipping-country-holder{
  background: white;
  border: 1px solid #E8E8E8;
  margin-bottom: 19px;
  width: 774px;
  clear: both;
  outline: none;
}
.shipping-country-holder.mw-focus{
  box-shadow:0 0 1px 0px #235F99;
}

.mw-shipping-items{
  float: right;
  width: 776px;
}

.shipping-truck{
  display: inline-block;
  width: 111px;
  height:61px;
  background:url(../img/quick.icons.png) no-repeat -1148px -25px;
}

.shipping-truck-red{
  background-position: -1148px -86px
}

.mw-shipping-left-bar{
  float: left;
  width: 120px;
}





