@import url("liveadmin.css");

input, a, textarea, select{
  outline: none;
}

h2{ /*  ask the designer */
    font-size: 18px;
    font-weight: normal;
    padding: 10px 0;
}

.vspace{
  padding: 11px 0 12px;
  height: 1px;
  overflow: hidden;
  position: relative;
}
/*


body.view-shop.action-Array .mw-admin-wrapper,
body.view-content .mw-admin-wrapper
{background: url("../img/treebg.gif") repeat-y -167px 0;}
body.view-modules .mw-admin-wrapper{background: url("../img/treebg.gif") repeat-y -304px 0;}

*/


#mw-admin-container{


}





#mw-admin-container:after, .admin-main-wrapper:after, #mw-admin-content:after{
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#mw-admin-content{
  min-width: 980px;
}

.admin-main-wrapper{
    overflow: visible;
    text-overflow:ellipsis;
}




#mw_toolbar_logo{
  background-image: url(../img/logo_admin.png);
}
#mw_toolbar_nav{
  height: 48px;
  background-image: url(../img/navbg_admin.jpg);
}
#mw_toolbar_nav .ilive{
  opacity:0.4;
}

#mw_toolbar_nav .mw-ui-btn:hover .ilive{
  opacity:1;
}

#mw_tabs{
  height: 49px;
}

#mw_tabs li a{
  padding: 15px 20px;
}

#stats{
    background: #F4F4F4;
    border-bottom: 1px solid #E5E5E5;
    padding: 20px;
}

#stats svg{
  min-width: 100%;
}

#stats rect{
  fill:#6E6E6E;
  stroke-width:0;
}
#stats circle{
  fill:#ffffff;
  stroke:#696969;
}

#stats_nav{
  clear: both;
  overflow: hidden;
  position: relative;
  zoom:1;
}

#stats li{
  float: left;
  list-style: none;
  margin-right: 20px;
  cursor: pointer;
  color: #434343;
}

#stats li a{
  display: inline-block;
  white-space: nowrap;
  padding: 4px 0px;
  width:90px;
  text-align: center;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#stats li a.active{
  background: url(../img/grad.php?top=F5F5F5&bot=E1E1E1);
  border: 1px solid #DFDDDD;
  border-top-color: #E9E6E6;
  border-bottom-color: #A1A0A0;
}

#main{
  width: 960px;
  padding-bottom: 60px;

}

#main.liquid{
  width: auto;
  min-width: 960px;
  background: white; /* no sidebar */
}

#main:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#users_online{
  width:220px;
  margin-left: 20px;
  float: left;
}

.users_online{
  width: 150px;
  height: 115px;
  padding-top: 40px;
  margin: 21px 0 0;
  text-align: center;
  background:#D8FFC2;
  color: #4C7301;
  font-size: 50px;
  border-radius:100%;
}

#visits_info_table{
  float: left;
}


.stats_table{
  float: left;
  width: 750px;
}

#main.liquid .stats_table{
  width: auto;
}

#main.liquid #users_online{
  width: 175px;
}
#main.liquid #visits_info_table{
  width: 80%;
}

#main.liquid #visits_info_table table{
  width: 99%;
}



.stats_table th{
  font-size: 11px;
  font-weight: normal;
  padding: 3px 10px;
  text-align: left;
  border-bottom: 1px solid #E5E5E5;
}

.stats_table td{
  border-bottom: 1px solid #E5E5E5;
  background: #ffffff;
  padding: 5px 10px;
}
.stats_table tbody tr:nth-child(2n+1) td{

  background: #F4F4F4;
}

#footer{
  clear: both;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
#footer-content{
  overflow: hidden;
  position: relative;
}


@media all and (max-width: 1020px){
    #footer{
      position: static;
    }

}


#PowerdBy{
  white-space: nowrap;
  font-size: 11px;
  position: static;
  right: 0;
  bottom: 0;
}

#PowerdByLink{
    color: #6e6e6e;
    float: right;
    display: inline-block;
    padding: 7px 10px;
}

#PowerdByInfo{
  float: right;
  visibility: hidden;
  position: relative;
  margin-right: 10px;
  margin-top: 7px;
  color: #A1A0A0;
  white-space: nowrap;
  opacity:0;
  top: 8px;
  overflow: hidden;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

#PowerdBy:hover #PowerdByInfo{
    opacity:1;
    top: 0;
    visibility: visible;
}

#PowerdBy:hover #PowerdByLink{
    background: #a8a8a8;
    color: white;
}


a:hover > .ilogout, .ilogout:hover{background-position:-880px -47px;}


.shipping-country-holder{
  border: 1px solid #E8E8E8;
  margin-bottom: 19px;
  position: relative;
  width: 774px;
  clear: both;
  outline: none;
  background-color: white;
  background-image:  url(../img/cf_middle_border.png), url(../img/shipping_supported.png);
  background-position:  165px 50%, 5px 5px;
  background-repeat:  repeat-y, no-repeat;
}
.shipping-country-holder.mw-focus{
  box-shadow:0 0 1px 0px #235F99;
}
.country-id-0{
  display: none;
}

.mw-shipping-items{
  float: right;
  width: 776px;
}

.mw-shipping-items{

}

.shipping-truck{
  display: inline-block;
  width: 111px;
  height:61px;
  background:url(../img/quick.icons.png) no-repeat -1148px -25px;
}

.mw-shipping-left-bar .shipping-truck{
  margin-bottom: 12px;
}

.shipping-truck-red{
  background-position: -1148px -86px
}

.mw-shipping-left-bar{
  float: left;
  width: 120px;
}

.shipping-country-row{
  clear: none;
  overflow: hidden;
  position: relative;
  width: 774px;
}
form .shipping-country-row:first-child{
  border-bottom: 1px solid #ECECEC;
}


.shipping-country-row label{
  white-space: nowrap;
  float: left;
  margin: 4px 7px 0 0;
}
.shipping-handle-field{
  float: none;
  position: absolute;
  right: 17px;
  top: -8px;
}

.shipping-country-row select{
  width: 255px;
  float: left;
}
.same-as-country-selector{
  width: 255px;
  float: left;
}

.shipping-country-row input[type='text'], .shipping-country-row input[type='number']{
  float: left;
  padding: 5px 10px;
}


.shipping-country-holder .shipping-arrow{
  margin: 0 15px;
}

.shipping-country-holder .mw-ui-delete-x{
  position: absolute;
  top: 1px;
  right: 2px;
}

.shipping-country-label{
  float: left;
  width: 165px;
  text-align: center;
  padding-top: 17px;
}

.shipping-country-setting{
  float: left;
  width: 580px;
  padding: 12px;
}


.shipping-arrow{
  display: block;
  float: left;
  width: 28px;
  height: 28px;
  background: url(../img/quick.icons.png) no-repeat -1280px 0;
}

.shipping-price-field{
  width: 60px;
}
.shipping-country-holder .mw-ui-btn-small{
  margin: -11px 13px 0 0;
  padding: 2px 10px;
  position: relative;
  float: right;
}



.mw-set-shipping-gw-options{
  position: relative;
}

.mw-set-payment-options{
  width:665px;
  padding: 25px;
}

#mw-login{
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -220px;
  width: 322px;
  padding: 20px;
}

#mw-login .mw-ui-field{
  width: 300px;
}

.mw-edit-user-table{
 width: 100%;
 border-top: none;
 border-bottom: none;
 border-radius:0;
}

.mw-edit-user-table td{
  text-align: left;
}

.mw-edit-user-cell, .mw-ui-admin-table tr td.mw-edit-user-cell{
   background: none repeat scroll 0 0 #EFECEC;
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 6px #DDDDDD inset;
    padding: 15px;
}

#mw-users-manage-edit-rotattor > div{
  width:757px;
}

#mw_index_users




