
html,body{
  min-height: 100%;
}

body.mw-live-edit.dragStart .edit{

  padding-top: 20px;
  padding-bottom: 20px;
}

body.mw-live-edit.dragStart .edit:after, body.mw-live-edit.dragStart .edit:before{
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 20px;
  background:#ffffb9 !important;
}
body.mw-live-edit.dragStart .edit:after{
  bottom: 0;
}
body.mw-live-edit.dragStart .edit:before{
  top: 0;
}

#mw-saving-loader{
	height:48px;
	width:48px;
	background-image: url(images/saving.gif);
	background-color:#FFFFB9 !important;
	background-repeat: no-repeat;
	background-position: center center;
	  display:none;
	position:absolute;
	bottom:10px;
	right:30px;
}

#mw_tabs li.active a{padding:15px 20px;}


.sortable-placeholder, .ui-sortable-placeholder, .ui-state-highlight, .sortable-dragging {
	padding-top:5px;
	padding-bottom:5px;
	margin-top:10px;
	margin-bottom:10px;
	background-image: url(images/drop.png);
	background-color:#FFFFB9 !important;
	background-repeat: no-repeat;
	background-position: center center;
	outline: 1px dashed #a5b3ac;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #000;
	text-decoration: none;
	font-style: normal;
	line-height: 11px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	height:  55px;
	min-height:  50px;
	width:100%;	
	opacity:0.9;
	 
	/*padding-right: 3%;
	padding-left: 3%;    */     
}
.empty-column {
	width:95%;
	height:30px;
	margin-bottom:30px;
	madasdasdrgin-bottom:-40px;
	padding-bottom:-20px;
	margin-top:30px;
	height: 150px;
}


.empty-element-edit-area{
	 background-color:#FF0000 !important;
	display:none !important;
	height:  15px !important;
	visibility:hidden;
	opacity:0.1;
	 
}


.empty-element-edit-area:hover,.empty-element-column:hover {
	 
	 visibility:visible;
	 
}

.empty-element {
	/*background-image: url(images/drop.png); */
	background-color:transparent !important;
	background-repeat: no-repeat;
	background-position: center center;

	font-size: 11px;
	font-style: normal;
	line-height: 11px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	width:100%;
    min-height: 40px;
    display: none;

}

body.dragStart .empty-element { display: block; }

.empty-element:hover, .empty-element.hover {
  background-color:#FFFFB9 !important;
}


.mw-col .mw_drag_current:first-child+.empty-element{
  min-height: 100% !important;
  position: absolute !important;
  top: 0;

}


.empty-columasdn {
	width:95%;
	height:20px;
	margin:1%;
	margin:5px;
	padding-bottom:-20px;
	margin-top:-55px;
	padding-top:65px;
	margin-bottom:60px;
}
.empty-column-big {
	height:150px;
	margin-top:10px;
	margin-bottom:45px;
}
.empty-column:hover {
}
.empty-column span {
	color: #AAAAAA;
	font-size: 20px;
	text-align: center;
}
.empty {
	width:100%;
	line-height:20px !important;
	margin-top:20px;
	margin-bottom:20px;
	background-image: none;
	background-color:#CCCCCC !important;
	clear: both !important;
	display:block !important;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: none;
}





.ui-resizable-handle { position: absolute;font-size: 0.1px; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }



body .mw-col > .ui-resizable-e {
	width: 20px;
	right: 0;
	top: 0;
	height: 100%;
    background-image: url(../img/resize_color.gif);
    background-position: right center;
    background-repeat: repeat-y;
    /*cursor: url(http://pecata/1k/application/includes/img/blank.gif), url(http://pecata/1k/application/includes/img/blank.cur), none;*/
    cursor: none;
}
body .mw-col > .ui-resizable-e *{
  cursor: none;
}



.resize_arrows{
  display: block;
  position: absolute;
  left: 3px;
  left: 12px;
  top: 0;
  margin-top: -14px;
  background: url(../img/resize_arrows.png) no-repeat;
  width: 13px;
  height: 14px;
  visibility: hidden;
}
.ui-resizable-e:hover .resize_arrows{
  visibility: visible;
}

.ui-resizable-e { cursor: e-resize; width: 1px; right: -1px; top: 0; height: 100%;}

.mw_image_resizer .ui-resizable-w { cursor: w-resize; width: 1px; left: -1px; top: 0; height: 100%; }
.mw_image_resizer .ui-resizable-se { cursor: se-resize; width: 9px; height: 9px; right: -5px; bottom: -5px; }
.mw_image_resizer .ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.mw_image_resizer .ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.mw_image_resizer .ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}/*!
 * jQuery UI Selectable 1.8.20
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Selectable#theming
 */
.ui-selectable-helper { position: absolute; z-index: 100; border:1px dotted black; }



#mw_toolbar_nav .back_to_admin{
  margin-right: 150px;
  float: right;
}

.mw-horizontal-resizer{
  position: absolute !important;
  margin-top: 20px;
  z-index: 998;
  width: 12px;
  height: 12px;
  background: rgba(170, 170, 170, 1);
  cursor: e-resize;
}
.mw-vertical-resizer{
  position: absolute !important;
  margin-top: 20px;
  z-index: 998;
  width: 12px;
  height: 12px;
  background: rgba(170, 170, 170, 1);
  cursor: n-resize;
}



.edit .module_loading{
   transform:scale(0,0);
  -ms-transform:scale(0,0);
  -moz-transform:scale(0,0);
  -webkit-transform:scale(0,0);
  -o-transform:scale(0,0);

}
.edit .module_activated{
    transition: transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  transform:scale(1,1);
  -ms-transform:scale(1,1);
  -moz-transform:scale(1,1);
  -webkit-transform:scale(1,1);
  -o-transform:scale(1,1);
}




.dragStart .module:hover{
  cursor: not-allowed;
  position: relative;
}

.dragStart .module:hover:after{
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #62B2DA;
  opacity: 0.8;
  cursor: not-allowed;
}


.edit[contenteditable=true]{
  
}

.edit[contenteditable=true]:before{
    content:"Type to edit.";
     background: #62B2DA;


    color: white;
    cursor: move;
    display: inline-block;
    font-size: 11px;
    left: 0;
    line-height: 15px;
    padding: 0 4px;
    position: absolute;
    text-align: center;
    bottom: 100%;
}








