*{
  margin: 0;
  padding: 0;
}
a, input, textarea, select{
  outline: none;
}
html, body{
  overflow: hidden !important;
}

body{
  font: 12px Verdana, Arial, sans-serif;
}


.semi_hidden{
  position: absolute;
  top: -9999px;
  left: -9999px;
}



.msie_uploader{
  position: absolute;
  z-index: 1;
  top: -9999px;
  font-size: 100px;
  opacity:0;
  filter:alpha(opacity=0);
}
.drag_files_label{
  padding-top: 30px;
  font-style: italic;
  opacity:.5;
}

#drag_files_here.drag_files_over{
  background: #ADDBF5
}
#drag_files_here.drag_files_over .drag_files_label{
  font-style: normal;
  opacity:1;
}

#get_image_from_url h3{
  text-align: center;
  padding-top: 65px;
  padding-bottom: 22px;
  color: #595959;
  font-size: 14px;
}

#get_image_from_url .fancy_input{
  margin: 0 6px 0 22px;
}

#get_image_from_url .fancy_input input{
  width: 250px;
}

#image_types_desc{
  text-align: center;
  color: #B9B9B9;
  font-size: 11px;
  padding-top: 33px;
}

#image_status{
  display: block;
  float: right;
  width: 16px;
  height: 16px;
  margin: 8px 8px 0 0;
}

#image_status.loading{
  background: url(../img/img_check_loading.gif) no-repeat;
}
#image_status.error{
  background: url(../img/imginvalid.png) no-repeat;
}
#image_status.valid{
  background: url(../img/imgvalid.png) no-repeat;
}

#pop_up_link .field_wrapper{
  width: 300px;
}

#pop_up_link .fancy_input input {
  width: 255px;
}

.popup_title{
  font-size: 18px;
  font-weight: normal;
  background:#EEEEEE;
  padding: 25px;
  border-bottom: 1px solid #E0E0E0;
}

#link_tool_holder{
  width: 302px;
  margin: 10px auto;
}

#link_tool_holder #insert_link_list{
    margin-top: 3px;
}

#link_tool_holder .mw_dropdown_val{
  width:214px;
}
#link_tool_holder h3{
  font-size: 18px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 2px;
}


#pop_up_link .link_type_to{
  margin-top: 25px;
}

.upload_file_link{
  color: #5B9FCB;
  cursor: pointer;
}

.field_wrapper.active .upload_file_link{
  color: white;
}
.type_to_file .link_type_holder{
  margin-top: 9px;
}

#file_link_progres{
  height:100%;
  background: #5B9FCB;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
}

