*{
  margin: 0;
  padding: 0;
}
a, input, textarea, select{
  outline: none;
}
html, body{
  overflow: hidden !important;
  height: 100%;
}

body{
  font: 12px Verdana, Arial, sans-serif;
}






#image_status, .image_status{
  display: block;
  width: 20px;
  height: 16px;
  float: left;
  background: url(../img/image_status.png) no-repeat;
}
/*
#image_status.loading{
  background: white url(../img/img_check_loading.gif) no-repeat;
}
#image_status.error{
  background: white url(../img/imginvalid.png) no-repeat;
}
#image_status.valid{
  background: white url(../img/imgvalid.png) no-repeat;
}*/

#image_status.link, .image_status.link{background-position: 0 -18px;}

#image_status.youtube, #image_status.vimeo,
.image_status.youtube, .image_status.vimeo
{background-position: 0 -40px;}


.image_status + .mw-ui-invisible-field{
  margin-left: 10px;
}

#settings-container > .mw-module-live-edit-settings > .module-custom-fields-admin{
  padding:20px;
}






