@import url("toolbar_2.css");
  .helper{

    background: #ccc;

    position: absolute;

    z-index: 997;

    width: 100px;

    height: 200px;

    opacity:.7;

  }

#mw-temp {
 display: none	!important;
}
.row {
	margin-left: 0px !important;
	min-height:40x;
}
 
.ui-state-highlight2, .also-resize {
	background-color: #990099 !important;
}
.also-resize-inner {
	background-color: #990000 !important;
}
.hl1 {
	background-color: #FFFF00 !important;
}
.hl2 {
	background-color: #33CCFF !important;
}


.ui-sortable:not(.edit):hover, .col:hover {
/*outline: 1px dotted #0CF;*/
}
.columns_set {
	float:left;

}



.column-min-height {
	min-height:100px;
}
.col, .row, .element {
	position:relative;
}
.edit {
	position:relative;
}

.mw-sorthandle {
    z-index: 9;
	width:100%;
    visibility: hidden;
	position:absolute;
	left: 0px;
    top: 0;
	border: none;
	height:25px;
}

.mw-sorthandle-moveit{
  position: absolute;
  left: 3px;
  top: 3px;
  line-height: normal;
  display: inline-block;
  color: white;
  cursor: move;
  text-align: center;
  font-size: 11px;
  line-height: 15px;
  padding: 0px 4px;
  border:1px solid #2680D3;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

background-image: linear-gradient(bottom, rgb(42,131,221) 26%, rgb(80,173,240) 63%);
background-image: -o-linear-gradient(bottom, rgb(42,131,221) 26%, rgb(80,173,240) 63%);
background-image: -moz-linear-gradient(bottom, rgb(42,131,221) 26%, rgb(80,173,240) 63%);
background-image: -webkit-linear-gradient(bottom, rgb(42,131,221) 26%, rgb(80,173,240) 63%);
background-image: -ms-linear-gradient(bottom, rgb(42,131,221) 26%, rgb(80,173,240) 63%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.26, rgb(42,131,221)),
	color-stop(0.63, rgb(80,173,240))
);
}



.mw-sorthandle-parent-outline{
    outline:1px solid #358BC3 ;
}

.moveit-hover, .moveit-hover:hover{
  outline:1px solid #5CA1CC ;
}




 
.mw_delete_element {
	float:right;
}

.element {
	word-wrap: break-word;
}
.eleme1nt:hover {
	outline: 2px solid #e8e8e8;
}
.mw-sorthandle-row {
 	top:0px;
}

.ui-resizable-helper {
	border: 2px dotted #00F;
}

        
.modules-list {
	list-style-position: inside;
	list-style-image: none;
	list-style-type: none;
	width:90%;
	overflow:hidden;
	height: 75px;
}
.modules-list img {
	border: 0 none;
	max-width: none;
	vertical-align: middle;
}
.modules-list li {
	float:left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	text-decoration: none;
    text-align: center;
    line-height: normal;
    cursor: move;
    margin: 2px 5px 0 5px;
}
 .mw_module_hold{
    padding: 6px 6px;
    display: inline-block;
 }

.module-item:hover .mw_module_hold{

  background: url(../img/module_hover_right.jpg) no-repeat right top;
}

.module-item:hover{
   background: url(../img/module_hover_left.jpg) no-repeat;
}

.module-item span{
  font-size: 11px;
  text-align:center;
  display: block;
  clear: both;
  padding-top: 4px;
  min-width: 95px;
  max-width: 95px;
}

.module_name{
  white-space: nowrap;
  display: block;
  overflow: hidden;
}

#mw_css_editor  {
	padding:0px !important;
}

#mw_html_css_editor {
 width:90% !important;
 padding:0px !important;
}
/* Vertical Tabs
----------------------------------*/



#mw_css_editor .ui-tabs-vertical {
	width: 55em;
}
#mw_css_editor .ui-tabs-vertical .ui-tabs-nav {
	padding: .2em .1em .2em .2em;
	float: left;
	width: 12em;
}
#mw_css_editor .ui-tabs-vertical .ui-tabs-nav li {
	clear: left;
	width: 100%;
	border-bottom-width: 1px !important;
	border-right-width: 0 !important;
	margin: 0 -1px .2em 0;
}
#mw_css_editor .ui-tabs-vertical .ui-tabs-nav li a {
	display:block;
}
#mw_css_editor .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected {
	padding-bottom: 0;
	padding-right: .1em;
	border-right-width: 1px;
	border-right-width: 1px;
}
#mw_css_editor .ui-tabs-vertical .ui-tabs-panel {
	padding: 1em;
	float: right;
	width: 75%;
}
#mw_css_editor .css_editor_tab_float {
	 
	float: left;
	 
}



#mw_css_editor .ui-tabs .ui-tabs-nav li a {
	
padding:0px !important;	
}

.mw-styles-list ul {
	width:100% !important;	
	list-style:none !important;	
	list-style-type:none !important;	
}

.mw-styles-list ul li{
	width:48px !important;
	float:left !important;	
	list-style:none !important;	
	list-style-type:none !important;	
}

.style-item {
 	float:left !important;	
	margin-left:10px;
	list-style:none !important;	
	list-style-type:none !important;	
}

.box_content {
 overflow-y: scroll;
}


/*  modules slider */
.modules_bar_slider{
  position: relative;
  float: right;
  height: 75px;
  margin-top: -8px;
}
  .modules_bar{
    overflow: hidden;
    position: relative;
    margin: 0 auto;
  }
  .modules_bar_slide_left, .modules_bar_slide_right{
    display: block;
    width: 20px;
    height: 75px;
    background: url(../img/module_scrollbar.jpg) no-repeat;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    top: -5px;
    z-index: 2;
  }
  .modules_bar_slide_left.active, .modules_bar_slide_right.active{
    box-shadow:inset 0px 0px 4px #484848;
  }
.modules_bar_slide_right{
  background-position: 100% 0;
  right: 0;
}
.modules_bar_slide_left{
  left: 0;
}

#module_category_selector, #module_layout_selector{
  clear: both;
  margin:16px 20px;
}

#module_category_selector span, #module_layout_selector span{
  float: left;
  width: 94px;
  white-space: nowrap;
}

.semi_hidden{
  position: absolute;
  top: -9999px;
  left: -9999px;
}


/* tabs */
.mw_toolbar_tab{
  position: absolute;
  top: -9999px;
  left: -9999px;
  background:#E9E9E9;
  height: 72px;
  border-bottom: 1px solid #DADADA;
}
.mw_tab_active{
  position: static;
}

/* tabs navigation */

#mw_toolbar_nav{
    width: 100%;
    height:52px;
    position: relative;
    z-index: 2;
background: url(../img/navbg.jpg) repeat-x;
}




#mw_tabs{
  float: left;
  list-style: none;
}

#mw_tabs li{
  float: left;
    background: url(../img/nav_item_border.jpg) no-repeat right top;
}
#mw_tabs li a{
  display: block;
  padding:19px 20px 19px;
  text-decoration: none;
  outline: none;
  color: #212121;
  text-shadow:1px 1px 0px white;
}
#mw_tabs li:last-child {
  background-image: none;
}

#mw_tabs li.active{
  background: url(../img/nav_active_left.jpg) no-repeat;
  margin-left: -2px;
  padding-left: 2px;
}

#mw_tabs li.active a{

  background:url(../img/nav_active_right.jpg) no-repeat right top;
}

#mw_toolbar_logo{
  display: block;
  float: left;
  text-indent: -9999px;
  background: url(../img/mw_live.png) no-repeat;
  width:159px;
  height: 29px;
  overflow: hidden;
  margin: 14px 20px;
}




.columns_set{
  padding: 9px;
  display: none;
  display: inline-block;
  top: -30px;
  left: 0;
  position: absolute;
  background: #4B4B4B;
  border: 1px solid #393939;
  font-size: 11px;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.mw-sorthandle-row:hover .columns_set{
  display: block;
}

.columns_set a{
  color: white;
  background: none
  text-decoration: none;
  display: inline-block;
  padding: 3px 5px;
  line-height: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.columns_set a:hover, .columns_set a.active{
  text-decoration: none;
  box-shadow:0 1px 2px #3F3F3F;
background-image: linear-gradient(bottom, rgb(33,118,215) 10%, rgb(43,149,224) 55%);
background-image: -o-linear-gradient(bottom, rgb(33,118,215) 10%, rgb(43,149,224) 55%);
background-image: -moz-linear-gradient(bottom, rgb(33,118,215) 10%, rgb(43,149,224) 55%);
background-image: -webkit-linear-gradient(bottom, rgb(33,118,215) 10%, rgb(43,149,224) 55%);
background-image: -ms-linear-gradient(bottom, rgb(33,118,215) 10%, rgb(43,149,224) 55%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.1, rgb(33,118,215)),
	color-stop(0.55, rgb(43,149,224))
);
}


#mw-text-editor{
  width: 100%;
  height:35px;
  background: #F5F5F5;
  border-top: 1px solid white;
  border-bottom: 1px solid #E5E5E5;
  z-index: 996;
  box-shadow:0 1px 0 #F3F3F3;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

#mw-text-editor.hover{
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

#mw_history_files {

 display: none;


}


.image_resizer{
  display: inline-block !important;
}

.image_resizer .ui-resizable-e, .image_resizer .ui-resizable-s{
  display: none !important;
}

.image_resizer .ui-resizable-se{
    display: block !important;
    background: url("jquery-ui-smoothness/images/ui-icons_454545_256x240.png") no-repeat -64px -224px;
    height: 16px;
    width: 16px;
}




div.mw_drag_started, li.module-item.ui-draggable-dragging{
  padding:20px;
  background:white;
  list-style: none;
}

.mw-element-hover .mw-sorthandle{
    visibility: visible;
}

.mw-element-name-handle{
    display: inline-block;
    white-space: nowrap;
    font-size: 11px;
    padding: 0 10px;
    text-transform: capitalize;
    float: left;
}

.mw_module_helper{
  position: absolute;
  top: 0;
  left: 0;
  background: red;
  width: 200px;
  height: 200px;
}


.column .ui-resizable-handle{
    visibility:hidden;
}
.column:hover .ui-resizable-handle{
    visibility:visible;
}
.element-active .mw-sorthandle:first-child{
  visibility: visible;
}

.element-active{

outline:1px solid #D4D4D4;

}

.row:hover .mw-sorthandle-row:first-child{
  visibility: visible;
}


.ui-draggable-dragging{

  opacity:0.7;
}


.mw_module_image{
  display: block;
  position: relative;
  height: 32px;
  margin: 0 auto;
}

.mw_module_image img{
  position: relative;
  z-index: 1;
}

.mw_module_image_shadow{
    display: inline-block;
    visibility: hidden;
    height: 12px;
    position: absolute;
    width: 64px;
    z-index: 0;
    background: url(../img/module_shadow.png) no-repeat;
}

#show_hide_sub_panel{
  display: block;
  position: fixed;
  z-index: 999;

  right: 200px;
  right: 20px;
    top: 16px;
  overflow: hidden;
  width: 58px;
  height: 17px;
  background: url(../img/onoff_bg.png) no-repeat;
  cursor: pointer;
}

#show_hide_sub_panel_slider{
  display: block;
  position: relative;
  z-index: 1;
  top: 1px;
  width: 23px;
  height: 16px;
  background: url(../img/onoff_slider.png) no-repeat;
}

#show_hide_sub_panel_info{
  position: absolute;
  font-size: 10px;
  color: #6f6f6f;
  top: 1px;
  right: 6px;
  line-height: normal;
  text-shadow:1px 0 0 #fff;
}


/*  HTML5 WYSIWYG Editor  */

.mw_editor{
  line-height: normal;
}

.mw_editor_btn{
  display: inline-block;
  float: left;
  cursor: pointer;
  height: 25px;
  padding: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.editor_wrapper{
  padding: 4px 20px;
}

.mw_editor_btn:hover, .mw_editor_btn_active{
  border: 1px solid #D2D2D2;
  padding: 0;
  background-image: linear-gradient(bottom, #E5E5E5 39%, #F3F3F3 70%);
  background-image: -o-linear-gradient(bottom, #E5E5E5 39%, #F3F3F3 70%);
  background-image: -moz-linear-gradient(bottom, #E5E5E5 39%, #F3F3F3 70%);
  background-image: -webkit-linear-gradient(bottom, #E5E5E5 39%, #F3F3F3 70%);
  background-image: -ms-linear-gradient(bottom, #E5E5E5 39%, #F3F3F3 70%);

  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.39, #E5E5E5),
  	color-stop(0.7, #F3F3F3)
  );
}

.mw_editor_btn_mousedown, .mw_editor_btn_mousedown:hover{

box-shadow:inset 0 0 3px #828282;
background-image: linear-gradient(bottom, rgba(183,184,184, 0.5) 21%, rgba(207,207,207, 0.5) 61%);
background-image: -o-linear-gradient(bottom, rgba(183,184,184, 0.5) 21%, rgba(207,207,207, 0.5) 61%);
background-image: -moz-linear-gradient(bottom, rgba(183,184,184, 0.5) 21%, rgba(207,207,207, 0.5) 61%);
background-image: -webkit-linear-gradient(bottom, rgba(183,184,184, 0.5) 21%, rgba(207,207,207, 0.5) 61%);
background-image: -ms-linear-gradient(bottom, rgba(183,184,184, 0.5) 21%, rgba(207,207,207, 0.5) 61%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.21, rgba(183,184,184, 0.5)),
	color-stop(0.61, rgba(207,207,207, 0.5))
);
}

.mw_editor_btn_active{
  box-shadow:inset 0 0 4px #ccc;
}

.mw_dlm{
  height: 17px;
  width: 1px;
  overflow: hidden;
  position: relative;
  background:#D1D1D1;
  display: inline-block;
  float: left;
  margin-top: 6px;
}

.mw_editor_btn .ico{
  background-image: url(../img/editor.png);
  background-repeat: no-repeat;
  height: 25px;
  width:25px;
  display: inline-block;
}

.wysiwyg_external{
  position: fixed;
  top: -9999px;
  z-index: 999;
}


.mw_editor_bold .ico{background-position: -89px 5px;}
.mw_editor_italic .ico{background-position: -119px 5px;}
.mw_editor_underline .ico{background-position: -150px 6px;}

.mw_editor_font_color  .ico {background-position: -181px 3px;width: 33px;}
.mw_editor_font_background_color  .ico {background-position: -215px 6px;width: 33px;}

.mw_editor_undo .ico{background-position: -12px 4px;}
.mw_editor_redo .ico{background-position: -42px 4px;}
.mw_editor_justifyleft .ico{background-position: -525px 4px;}
.mw_editor_justifycenter .ico{background-position: -551px 4px;}
.mw_editor_justifyright .ico{background-position: -577px 4px;}
.mw_editor_justifyfull .ico{background-position: -603px 4px;}
.mw_editor_ul .ico{background-position: -427px 4px;}
.mw_editor_ol .ico{background-position: -401px 4px;}
.mw_editor_indent .ico{background-position: -452px 4px;}
.mw_editor_outdent .ico{background-position: -479px 4px;}

.mw_editor_link .ico{background-position: -285px 4px;}
.mw_editor_image .ico{background-position: -321px 4px;}
.mw_editor_remove_formatting .ico{background-position: -351px 4px;}







.mw_editor_element .ico{background-position: -637px 4px;}



.wysiwyg_checker{
  display: none;;
}

/* dropdowns */
.mw_dropdown_type_wysiwyg {
    height:25px;
    width: 75px;
    float: left;
    border:1px solid transparent;
    color: #595959;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.mw_dropdown_type_wysiwyg:hover{
  border-color:#D2D2D2;
background-image: linear-gradient(bottom, rgb(229,229,229) 1%, rgb(243,243,243) 51%);
background-image: -o-linear-gradient(bottom, rgb(229,229,229) 1%, rgb(243,243,243) 51%);
background-image: -moz-linear-gradient(bottom, rgb(229,229,229) 1%, rgb(243,243,243) 51%);
background-image: -webkit-linear-gradient(bottom, rgb(229,229,229) 1%, rgb(243,243,243) 51%);
background-image: -ms-linear-gradient(bottom, rgb(229,229,229) 1%, rgb(243,243,243) 51%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.01, rgb(229,229,229)),
	color-stop(0.51, rgb(243,243,243))
);
}

.mw_dropdown_type_wysiwyg ul{
  padding: 0;
  margin: 0;
}

.mw_dropdown_type_wysiwyg a{
  color: #595959;
  text-decoration: none;
  font-size: 11px;
  display: block;
  padding: 2px 10px;
}
.mw_dropdown_type_wysiwyg a:hover{
  background: #F0F0F0;
}

.mw_dropdown_type_wysiwyg .mw_dropdown_val{
  padding: 6px;
  width:47px;
}
.dd_rte_arr{
   background: url(../img/dd_wysiwyg_arr.png) no-repeat;
   display: block;
   height: 3px;
   width: 5px;
   float: right;
margin-right: 6px;
    margin-top: 12px;
}

.mw_dropdown_type_wysiwyg .mw_dropdown_fields{
  top: 22px;
}

.mw_dropdown_type_wysiwyg .mw_dropdown_fields ul{
  width: 200px;
  padding: 5px 0;
  border:1px solid #D2D2D2;
  box-shadow:inset -2px -2px 2px #F6F6F6;
  -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
 background: white;
}


.mw_dropdown_action_font_size{
  width: 46px;
}

.mw_dropdown_action_font_size .mw_dropdown_val{
  width: 19px;
}
.mw_dropdown_action_font_size .mw_dropdown_fields ul{
  width: 50px;
}

.mw_editor_btn, .mw_dropdown_type_wysiwyg{
  margin-left: 1px;
  margin-right: 1px;
}

.mw_dlm{
  margin-left: 12px;
  margin-right: 12px;
}

#mw_small_editor{
  position: fixed;
  visibility:hidden;
  z-index: 999;
  width:211px;
  height: 68px;
  border:1px solid #DCDCDC;
  background: #F5F5F5;
  -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

#mw_small_editor .mw_dlm{
  margin-left: 0px;
  margin-right: 0px;
}
#mw_small_editor .mw_small_editor_top .mw_dlm{
    margin-left: 4px;
    margin-right: 4px;
}

.mw_small_editor_bottom,
.mw_small_editor_top{
  padding: 3px;
}

.mw_small_editor_top{
  border-bottom: 1px solid #DCDCDC;
}


/*  End WYSIWYG  */


.module.denied{
  cursor: not-allowed;
  cursor: no-drop;
}

.dd_search input{
height: 13px;
    margin: 9px 0 5px 13px;
    padding: 4px;
    width: 110px;
}






