/*
 Copyright 2010 Mark Watkinson
 
 This file is part of Luminous.
 
 Luminous is free software: you can redistribute it and/or
 modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
 Luminous is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with Luminous.  If not, see <http://www.gnu.org/licenses/>.
 
 */







/*******************************************************************************
 * FONTS.
 * 
 * We override the fonts because the line numbering relies on a consistent
 * line-height. Unfortunately, some fonts, when italicised, gain a pixel or two
 * and this results in a drift which pushes the line numbers and lines out of
 * sync.
 */ 

/* IE fonts */

@font-face { 
  font-family: VeraMono;
  src: url('../client/font/VeraMono.eot');  
  font-weight: normal;
  font-style: normal;
}
@font-face { 
  font-family: VeraMono;
  src: url('../client/font/VeraMoIt.eot');  
  font-weight: normal;
  font-style: italic;
}
@font-face { 
  font-family: VeraMono;
  src: url('../client/font/VeraMoBd.eot');  
  font-weight: bold;
  font-style: normal;
}
@font-face { 
  font-family: VeraMono;
  src: url('../client/font/VeraMoBI.eot');  
  font-weight: bold;
  font-style: italic;
}
/* Others */

@font-face { 
  font-family: VeraMono;
  src: url('../client/font/VeraMono.ttf');  
  font-weight: normal;
  font-style: normal;
}
@font-face { 
  font-family: VeraMono;
  src: url('../client/font/VeraMoIt.ttf');  
  font-weight: normal;
  font-style: italic;
}
@font-face { 
  font-family: VeraMono;
  src: url('../client/font/VeraMoBd.ttf');  
  font-weight: bold;
  font-style: normal;
}
@font-face { 
  font-family: VeraMono;
  src: url('../client/font/VeraMoBI.ttf');  
  font-weight: bold;
  font-style: italic;
}






.luminous_inline, .luminous_inline div, .luminous_inline pre {
  display:inline-block;
  *display: inline; /* IE6 hack. */
}



.luminous .link, .link:visited {
  text-decoration:underline !important;
}
.luminous .link:hover {
  text-decoration:none !important;
}

.luminous pre, .luminous .code_container
{
  font-size:inherit !important;
  font-family:inherit !important;
  width:auto !important;
}

.luminous table.code_container {
  max-height: 100%;
}

.luminous pre {
  max-height:100% !important;
}

div.code_container
{
  overflow:auto;
  max-width:100% !important;
  /* Necessary for IE 7 */
  position:relative !important;
}


div.luminous 
{
  position:relative !important;
  font-size:inherit; 
  text-align:left !important;
  min-width:100% !important;
  max-width:100% !important; 
}
div.luminous_inline {
  min-width: 1px !important;
  max-width: none !important;
  line-height: normal !important;
}




/* IE < 8 needs it like this */
div.luminous, .luminous .line, .luminous pre
{
  font-family:  "DejaVu Sans Mono", "Bitstream Vera Sans Mono",  VeraMono, 
    "Andale Mono", "Lucida Sans Typewriter",  "FreeMono",  
    "Liberation Mono",  "Consolas","Lucida Console", monospace !important;
  font-size:inherit; 
}

.luminous .line
{
  padding:0px;
  border:0px;
  margin:0px;
  padding-left:1em;
  display:block;

}

.luminous pre.code, .luminous pre.line_numbers 
{
  font-size:inherit !important;
  font-family:inherit !important;
  
  margin:0px !important;
  position:relative;
  padding:0px !important;
  background:none !important;
}


div.luminous span.line_number {
  margin:0px !important;
  text-align:center !important;
  -moz-user-select: none;
  -khtml-user-select: none;
}

div.luminous .line_number_emphasised {
 font-weight:bold;
}

/* The table related rules only apply to the line numbered widget. */
div.luminous td.line_number_bar {
  padding:0px !important;
  vertical-align:top !important;
  border-left:0px !important;
  border-top:0px !important;
  border-bottom:0px !important;
  text-align:right !important;
  cursor: default;
}

div.luminous td.code
{
  padding:0px !important;
  border:0px !important;
  vertical-align:top !important;
  width:100% !important;
}

div.luminous table
{
  border: 0px !important;
  width:100% !important;
  padding:0px !important;
  border-collapse:collapse !important;
  margin:0px !important;
  
}

/* None-line numbered widget */
div.luminous div.code
{
  padding-left:1em !important;
  position:relative !important;
}
div.luminous_inline div.code
{
  padding-left:0em !important;
}

