<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title></title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  
  <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="vertical_files/jquxery-1.js"></script>
  <script type="text/javascript" src="js/validations.js"></script>  
	<script type="text/javascript" src="js/jScrollPane.js"></script>
   <script type="text/javascript" src="carousel/tools.js"></script>
     <script type="text/javascript" src="vertical_files/jquery.js"></script>
     <script type="text/javascript" src="vertical_files/apps1.js"></script>
  
  <link rel="stylesheet" href="css/general.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="css/jScrollPane.css" type="text/css" media="screen" />
  <!--[if IE 7]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->	
  <!--[if IE 8]><link rel="stylesheet" href="css/ie8.css" type="text/css" media="screen" /><![endif]-->	  
<style>body{height:100%;width:100%;margin:0;padding:0;}#wrapper{height:670px; width:670px;position:absolute;top:40; left:0px;overflow:hidden;}#mask{width:100%;height:500%;overflow:hidden;}.item{width:100%;display:block;}.content{top:0px;margin:0 auto;position:relative;}.selected{background:#fff;font-weight:700;}</style>
 
 <script type="text/javascript">
			
$(document).ready(function() {
	$(".panel0").addClass("selected");
	
	$('a.panel').click(function () {
		$(".contantMain").click();
	
			
		current = $(this);
		var currentItem = ($(".menuTree .selected").attr("href"));
	
		var sel=$(this).attr('href');	
		$.each($(".menuTree a"),function(){
				$(".menuTree a").removeClass("selected")
			});

			$(this).addClass('selected');		
		var height  = $(sel).height();
			$('#wrapper').css("height",height);
			$('.contentMain').css("height",height+100);
			$('#wrapper').scrollTo($(this).attr('href'), 1000);		
			
	
		
		
		return false;
	});
	
	//$("#form .item2").validate();	
	
	


	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

});











































	 (function($){
			$.fn.extend({
			customStyle : function(options) {
				if(!$.browser.msie || ($.browser.msie&&$.browser.version>6)) {
					return this.each(function() {
						var currentSelected = $(this).find(':selected');
						$(this).after('<span class="customStyleSelectBox"><span class="customStyleSelectBoxInner">'+currentSelected.text()+'</span></span>').css({position:'absolute', opacity:0,fontSize:$(this).next().css('font-size')});
						var selectBoxSpan = $(this).next();
						var selectBoxWidth = parseInt($(this).width()) - parseInt(selectBoxSpan.css('padding-left')) -parseInt(selectBoxSpan.css('padding-right'));            
						var selectBoxSpanInner = selectBoxSpan.find(':first-child');
						selectBoxSpan.css({display:'inline-block'});
						selectBoxSpanInner.css({width:selectBoxWidth, display:'inline-block'});
						var selectBoxHeight = parseInt(selectBoxSpan.height()) + parseInt(selectBoxSpan.css('padding-top')) + parseInt(selectBoxSpan.css('padding-bottom'));
						$(this).height(selectBoxHeight).change(function() {
							selectBoxSpanInner.text($(this).find(':selected').text()).parent().addClass('changed');
						});
				 });
				}
			}
			});
		})(jQuery);

		$(function() {
			$('select.styled').customStyle();
		});

	</script>
	<script type="text/javascript">
		$(function(){

			if($('.images .image').length == 1){
				$('.carousel_nav').addClass('hidden');
			}

			$('.carousel_nav').tabs('.images > .image', {
				effect: 'fade',
				fadeInSpeed: 'slow',
				fadeOutSpeed: 'slow',
				rotate: true
			}).slideshow({
				interval: 3000,
				clickable: false
			});

			$('.carousel_nav').data('slideshow').play();
		});
	</script>
  </head>
<body>
<div class="wrapAll">
	<div class="wrapTop">
		<div class="wrapContent">
			<div class="Header">
				<a class="Logo" href="" title=""><img src="images/Logo.png" alt=""/></a>
				<div class="RightColumn">
				<div class="callIcon">Call now for FREE consultation
						<div class="phone"><img src="images/phone-top.png" alt=""/></div>
					</div>
					<a href="#" class="liveChatIcon">Click here to start Live Chat</a>
					
				</div>
				<div class="clear"></div>
			</div>	
			<div class="wrapNavigation">
				<div class="Navigation">
					<div class="menuTop">
						<ul>
							<li><a class="itemLink itemFirst" href="" title="Home"></a></li>
							<li><a class="itemLink" href="" title="Learn about Wills">Learn about Wills</a></li>
							<li><a class="itemLink" href="" title="Get Started">Get Started</a></li>
							<li><a class="itemLink" href="" title="About us">About us</a></li>
							<li><a class="itemLink" href="" title="Contact us">Contact us</a></li>
							<li><a class="itemLink" href="" title="Prices">Prices</a></li>
							<li><a class="itemLink active" href="" title="Will Manager">Will Manager</a></li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="relativeContainer">
				<div id="carousel" class="pngfix">
					<div class="images">
					<div style="display: none;" class="image"><img src="images/carousel-1.jpg" alt="" style=""/></div>
					<div style="display: none;" class="image"><img src="images/carousel-2.jpg" alt="" style=""/></div>
					<div style="display: none;" class="image"><img src="images/carousel-3.jpg" alt="" style=""/></div>
					<div style="display: none;" class="image"><img src="images/carousel-4.jpg" alt="" style=""/></div>
					<div style="display: none;" class="image"><img src="images/carousel-5.jpg" alt="" style=""/></div>
						<div class="carousel_nav">
							<a href="#"></a>
							<a href="#"></a>
							<a href="#"></a>
							<a href="#"></a>
							<a href="#"></a>
						</div> 									
					</div>				     
				</div>
			<div style="clear: both;"></div>
				<div class="menuSecond">
					<div class="leftHolder"></div>
					<div class="centerHolder">
						<a href="#" title="HOW CAN WE HELP YOU TO MANAGE YOUR WEALTH?">HOW CAN WE HELP YOU TO MANAGE YOUR WEALTH?</a>
						<div class="subscribeBoxHolder">
							<form class="subscribeForm" action="?">
								<span>SUBSCRIBE FOR NEWSLETTER</span>
								<input type="text" value = "Type your e-mail here" onclick="value=''" onblur="this.value=!this.value?'Type your e-mail here':this.value;" />
								<input type="submit" class="Submit" value = "SUBSCRIBE"/>
								<div class="clear"></div>
							</form>
						</div>
						<div class="clear"></div>
				
					</div>
					<div class="rightHolder"></div>
				<div class="clear"></div>
				</div>
			</div>
			
		</div>	
	</div>
	<div class="clear"></div>
	<div class="wrapMiddle">
		<div class="wrapContent">
			<div class="contentLeft">
			<!--left box 1-->
				<div class="Box">
					<!--TreeMenu-->
					<div class="menuTreeHolder">
						<ul class="menuTree">
							<li class="titleSteps">
								<label>Creating your will</label>
								<span>By steps</span>
							</li>
							<li><a href=".item1" title="" class="panel"><span class="leftCorner"></span><span class="rightCorner"></span>1 -  Client Details</a></li>
							<li><a href=".item2" title="" class="panel"><span class="leftCorner"></span><span class="rightCorner"></span>2 - Client Background</a></li>
							<li><a href=".item3" title="" class="panel"><span class="leftCorner"></span><span class="rightCorner"></span>3 - RESIDUARY ESTATE</a></li>
							<li><a href=".item4" title="" class="panel" ><span class="leftCorner"></span><span class="rightCorner"></span>4 - EXECUTORS / TRUSTEES</a></li>
							<li><a href=".item5" title="" class="panel"><span class="leftCorner"></span><span class="rightCorner"></span>5 - SPECIFIC GIFTS</a></li>
							<li><a href=".item6" title="" class="panel"><span class="leftCorner"></span><span class="rightCorner"></span>6 - CHARITABLE GIFTS</a></li>
							<li><a href=".item7" title="" class="panel"><span class="leftCorner"></span><span class="rightCorner"></span>7 - Lasting Power of Attorney</a></li>
							<li><a href=".item8" title="" class="panel selected"><span class="leftCorner"></span><span class="rightCorner"></span>8 - Funeral Arrangements</a></li>
						</ul>
					</div><!--end TreeMenu-->
					<div class="paragraph">If you have any problems with the filing the form plase contact us in our Live chat agent online.</div>
					<div class="chatLiveHolder">
						<a href="#" title="" class="chatLiveRight">Click here to start Live Chat</a>
					</div>
				</div><!--end left box 1-->
				
			</div>
			<div class="contentMain">
				<div id="wrapper">
					<div class="item9 manager">
						<div class="content">
							<h1>WELCOME TO YOUR WILL MANAGER</h1>
							<label>To edit your will, please enter in the box below your access code.<br/>
								If you have forgotten your access code please call us on 0044 857 896 541. <br/>
								Thank you!
							</label>	<br/><br/>
							<div class="form formThankU">
								<h1>Enter your access code</h1>	
								<label>Your reference number is</label>
								<span class="inputHolder">
									<input type="text" value = "001542" />
								</span>					
							</div>
								<br/>
							<div class="centered">
								<a href="" class="pane bttnHolder">
									<span class="bttn">Login</span>
								</a>
							</div>
							<br/>
							
						</div>
					</div>
					
				</div>
			</div>			
			
			<div class="clear"></div>
		</div>	
	</div>
	<div class="clear"></div>
	<div class="wrapBottom">
		<div class="wrapContent">
			<div class="bottomDivider"></div>
			<div class="bottomContainer">
				<div class="leftHolder"><div class="bottomLogo">We are part of the society of will writers</div></div>
				<div class="rightHolder">
					<span class="span">Become our friend</span>
					<span class="facebook"></span>
					<span class="twitter"></span>
					<span class="youtube"></span>
				</div>
				<div class="clear"></div>
			</div>
			<div class="Footer">
				<a href = "#" title="" class="logoBottom"><img src="images/logoBottom.png" alt="" /></a>
				<div class="menuBottom">
					<ul>
						<li><a href="" title="Learn about Wills">Learn about Wills</a></li>
						<li><a href="" title="Get Started"> Get Startedе</a></li>
						<li><a href="" title=" About Us"> About Us</a></li>
						<li><a href="" title="Contact Us">Contact Us</a></li>
						<li><a href="" title="Prices">Prices</a></li>
						<li><a href="" title="Will Manager">Will Manager</a></li>
					</ul>
				</div>
				<div class="clear"></div>	
			</div>
		</div>
	</div>
	<div class="wrapBottom">
		<div class="finisher">
			<span style="float:left">© All rights reserved 2002-2011 <a href="" title="">Global Wills.com</a> .</span>
			<span style="float:right">Powered by Microweber Webdesign by <a href="" title="">ooYes!</a></span>
		<div class="clear"></div>	
		</div>
	</div>
</div>
</body>
</html>