.module-categories-template-default li{
  list-style: none
}

.module-categories-template-default li li a{ padding-left: 30px; }
.module-categories-template-default li li li a{ padding-left: 45px; }
.module-categories-template-default li li li li a{ padding-left: 60px; }
