.contentpanel div,.contentpanel  span,.contentpanel  applet,.contentpanel  object,.contentpanel  iframe,.contentpanel h1,.contentpanel  h2,.contentpanel  h3,.contentpanel  h4,.contentpanel  h5,.contentpanel  h6,.contentpanel  p,.contentpanel  blockquote,.contentpanel  pre,.contentpanel a,.contentpanel  abbr,.contentpanel  acronym,.contentpanel  address,.contentpanel  big,.contentpanel  cite,.contentpanel  code,.contentpanel del,.contentpanel  dfn,.contentpanel  em,.contentpanel  font,.contentpanel  img,.contentpanel  ins,.contentpanel  kbd,.contentpanel  q,.contentpanel  s,.contentpanel  samp,.contentpanel small,.contentpanel  strike,.contentpanel  strong,.contentpanel  sub,.contentpanel  sup,.contentpanel  tt,.contentpanel  var,.contentpanel 
b,.contentpanel  u,.contentpanel  i,.contentpanel  center,.contentpanel dl,.contentpanel  dt,.contentpanel  dd,.contentpanel  ol,.contentpanel  ul,.contentpanel  li,.contentpanel fieldset,.contentpanel  form,.contentpanel  label,.contentpanel  legend,.contentpanel 
table,.contentpanel  caption,.contentpanel  tbody,.contentpanel  tfoot,.contentpanel  thead,.contentpanel  tr,.contentpanel  th,.contentpanel  td table,.contentpanel  table tr td,.contentpanel  table tr th {
 
}
 .contentpanel  a img,.contentpanel  :link img,.contentpanel  :visited img { border: none; }
 .contentpanel  ul {
	list-style: none;
}

.contentpanel table td, .contentpanel table tr th {
 
	margin: 10px !important;
	border: 0;
	outline: 0;
	background: transparent;
	border-collapse: collapse;
}
.contentpanel table, .contentpanel input, .contentpanel select, .contentpanel textarea {
	color: #282828;
	 
}
.contentpanel table tr:hover {
	background-color:#FFF4D5
}

.contentpanel .post-date {
 font-size:11px;
 color:#666
}

.contentpanel a, .contentpanel a:link, .contentpanel a:visited {
	text-decoration: none;
}
.contentpanel h2 {
	margin: 0 0 5px;
	font-size: 12px;
}

.contentpanel .nav {
 width:691px;	
}
.contentpanel .nav ul li{
 width:250px;	
}

.contentpanel  .nav ul li.active {
	 color:#F90;
	 
}
.contentpanel .add-post-title {
 font-size:16px;	
}

.contentpanel label {
	font-size:14px;
	font-weight:bold;
}

.contentpanel .nav ul li a {
	color:#555555;
	text-decoration:none;
	padding-left:15px;
	padding-right:15px;
	padding-top:20px;
	height:32px;
	float:left
}

.contentpanel .nav ul li a:hover {
	text-decoration:none;
	height:32px;
	padding-top:20px;
	  color:#F90;
		background-image: none;
}

.contentpanel .nav ul li a.active {
	text-decoration:none;
	height:32px;
	padding-top:20px;
	background-image: none;
	background-repeat: repeat-x;
}

.contentpanel .nav ul li:first-child {
	padding-left:9px;
	height:32px;
	 width:250px;	
	border:none;
	
}

 .contentpanel .nav ul li:first-child:hover {
	background-image: none;
	
}

.contentpanel .nav ul li:first-child.active {
	padding-left:9px;
	height:32px;
	width:88px;
	padding-bottom:20px;
	 	background-image: none;
}



.contentpanel p {
	margin-bottom: 20px;
}
.contentpanel select {
	padding: 7px 7px 5px;
	width: 650px;
	background: #eaeaea;
	border: 1px solid #8c8c8c;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.contentpanel option {
		padding: 2px 5px;
	}
	
	.contentpanel a.post-title {
		 font-size:16px;
		 padding:3px;
	}
	
	
.contentpanel input[type=text] {
	padding: 7px;
	width: 650px;
	background: #eaeaea;
	border: 1px solid #8c8c8c;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
	.contentpanel input[type=text]:hover, .contentpanel input[type=text]:focus {
		background: #efefef;
	}
.contentpanel input[type=button], .contentpanel input[type=submit], .contentpanel input[type=reset] {
	margin: 8px 2px 0 0;
	padding: 0 15px;
	text-transform: uppercase;
	height: 28px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.contentpanel input[type=reset] {
	background: #37302b;
	border: 1px solid #1e1a18;
}
	input[type=reset]:hover {
		background: #1e1a18;
	}
.contentpanel textarea {
	padding: 7px;
	width: 650px;
	height: 157px;
	background: #eaeaea;
	border: 1px solid #8c8c8c;
	overflow-y: hidden;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
	.contentpanel textarea:hover, textarea:focus {
		background: #efefef;
	}
.contentpanel label {
	cursor: pointer;
}
.contentpanel .text-left     { text-align: left; }
.contentpanel .text-right    { text-align: right; }
.contentpanel .text-center   { text-align: center; }
.contentpanel .text-justify  { text-align: justify; }
.contentpanel .left 		   { float: left; }
.contentpanel .right		   { float: right; }
.contentpanel .center		   { margin: 0 auto; }
.contentpanel .clear {
	display: block;
	clear: both;
	width: 0px;
	height: 0px;
	overflow: hidden;
	font-size: 1px;
}
.box {
	margin-top: 10px;
}
	.box-title {
		margin-bottom: 4px;
		padding: 1px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		background: #1e1a18;
		color: #94918f;
	}
		.box-title div:first-child {
			padding: 0 17px;
			height: 35px;
			line-height: 35px;
			background: #322c27;
			border: 1px solid #61554e;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			position: relative;
		}
			.box .box-toggle {
				position: absolute;
				top: 17px;
				right: 15px;
				width: 5px;
				height: 3px;
				background: url('images/box-open.gif') no-repeat;
			}
			.box.closed .box-toggle {
				top: 13px;
				height: 10px;
				background: url('images/box-closed.gif') no-repeat;
			}
	.box.closed .box-content {
		display: none;
	}
		#sidebar ul.box-content a {
			color: #4c413a;
		}
	#contentpanel .box .box-content { position: relative; } /* IE Hack */
.box.width-45 {
	float: left;
	width: 355px;
}
	.box.width-45 input[type=text], .box.width-45 textarea {
		width: 295px;
	}
	.box.width-45 select {
		width: 311px;
	}
	.box.width-45 .box-content { width: 313px; } /* IE Hack */
.box.width-55 {
	float: left;
	width: 422px;
}
	.box.width-55 input[type=text], .box.width-55 textarea {
		width: 362px;
	}
	.box.width-55 select {
		width: 378px;
	}
	.box.width-55 .box-content { width: 380px; } /* IE Hack */
.box.width-45.right { float: right; }
.box.width-55.right { float: right; }
.col-45 { margin-bottom: 20px; width: 45%; }
/********** End of Global Styles **********/

/********** Messages **********/
.msg-error, .msg-success, .msg-attention, .msg-info {
	padding-left: 17px;
	height: 30px;
	line-height: 30px;
	position: relative;
}
	.remove-btn {
		position: absolute;
		top: 0;
		right: 17px;
		padding-right: 20px;
		background: url('images/remove-btn.png') no-repeat center right;
		color: #333 !important;
	}
		.remove-btn:hover {
			color: #666 !important;
		}
.msg-error {
	background: #f0cec4;
	color: #a24057;
	border: 1px solid #a24057;
}
.msg-success {
	background: #eaf8d5;
	color: #829b36;
	border: 1px solid #829b36;
}
.msg-attention {
	background: #fffbcc;
	color: #c0a443;
	border: 1px solid #c0a443;
}
.msg-info {
	background: #d2eef1;
	color: #369fb4;
	border: 1px solid #369fb4;
}
/********** End of Messages **********/

/********** Site Skeleton **********/
 
.contentpanel {
	float: right;
	width: 100%;
}
 
/********** End of Site Skeleton **********/
 

/********** Menubar **********/
#menubar div:first-child {
	padding: 0 17px;
	height: 44px;
	line-height: 18px;
	font-size: 13px;
}
	#mainnav {
		float: left;
	}
		#mainnav {
			padding: 2px 0;
		}
			#mainnav li {
				float: left;
				margin: 2px 5px 0 0;
				padding: 8px 15px;
			}
				#mainnav a {
					color: #7f746d;
				}
					#mainnav a:hover, #mainnav .active a {
						color: #fff;
					}
			#mainnav .active { 
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
			}
	#loginbar {
		float: right;
		height: 44px;
		line-height: 44px;
		color: #7f746d;
	}
/********** End of Menubar **********/

/********** Sidebar Modules **********/
#sidebar .box {
	margin-top: 20px;
}
	#sidebar .box-title {
		margin-bottom: 10px;
	}
#sidebar .box:first-child {
	margin-top: 10px;
}
#sidebar .box.closed {
	margin-bottom: -10px;
}
#sidebar .userbar {
	color: #505050;
}
	#sidebar .user-avatar {
		float: left;
		margin-right: 10px;
		border: 3px solid #fff;
	}
		#sidebar .user-avatar:hover {
			border: 3px solid #ddd;
		}
		#sidebar .user-avatar img {
			float: left;
		}
	#sidebar .userbar .left {
		margin-bottom: 12px;
	}
	#sidebar .userbar span {
		color: #94918f;
	}
	#sidebar .action-links li {
		display: inline;
		padding: 0 2px 0 5px;
		line-height: 12px;
		font-size: 11px;
		border-left: 1px solid #bbb;
	}
	#sidebar .action-links li:first-child {
		padding-left: 0;
		border: 0;
	}
		#sidebar .action-links a:hover {
			color: #555;	
		}
#sidebar ul.box-content {
	margin-top: -5px;
}
	#sidebar ul.box-content li {
		padding: 0 19px;
		height: 25px;
		line-height: 25px;
	}
	#sidebar ul.box-content li.active {
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
	}
		#sidebar ul.box-content li.active a {
			color: #fff;
		}
#sidebar .calendar .top {
	padding: 0 10px;
	text-transform: uppercase;
}
	#sidebar .calendar .top .current-month {
		float: left;
		margin-left: 32px;
		text-transform: none;
	}
#sidebar .calendar table {
	margin: 7px auto 0;
	width: 185px;
}
	#sidebar .calendar table th {
		padding: 4px 0;
		color: #fff;
	}
	#sidebar .calendar table td {
		padding: 3px;
		text-align: center;
	}
	#sidebar .calendar table td.another-month {
		color: #aaa;
	}
	#sidebar .calendar table td.current {
		background: #2d2824;
		color: #fff;
	}
/********** End of Sidebar Modules **********/

/********** Contentpanel Modules **********/
#contentpanel .box-content {
	padding: 20px 20px 0;
	border: 1px solid #8c8c8c;
}
	#contentpanel .hint {
		display: block;
		padding-top: 5px;
		color: #868686;
	}
#contentpanel .tabular-view {
	padding: 0;
}
	#contentpanel table {
		width: 100%;
	}
		#contentpanel table th {
			text-align: left;
			padding: 10px 25px;
			background: #dedede;
			border-bottom: 1px solid #8c8c8c;
		}
		#contentpanel table td {
			padding: 15px 25px;
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #dedede;
		}
		#contentpanel table .even td {
			background: #efefef;
		}
		#contentpanel tr:last-child td { border: 0; }
#contentpanel .settings {
	color: #626262;
}
		#contentpanel .settings .labels {
			float: left;
			padding-top: 6px;
			width: 145px;
		}
		#contentpanel .settings .inputs {
			float: left;
			margin-bottom: 15px;
			width: 260px;
		}
			#contentpanel .settings .inputs input[type=text], #contentpanel .settings .inputs select {
				padding: 6px 7px;
				width: 250px;
				background: #f7f7f7;
				color: #626262;
				border: 1px solid #aaaaaa;
			}
				#contentpanel .settings .inputs input[type=text]:hover, #contentpanel .settings .inputs select:hover, #contentpanel .settings .inputs input[type=text]:focus, #contentpanel .settings .inputs select:focus {
					border: 1px solid #909090;
				}
			#contentpanel .settings .inputs select {
				width: 266px;
				height: 31px;
				line-height: 31px;
			}
		#contentpanel .settings .hints {
			float: right;
			padding-top: 10px;
			line-height: 14px;
			width: 320px;
			color: #a4a4a4;
			font-size: 11px;
		}
		#contentpanel .padding {
			padding-top: 4px;
		}
			#contentpanel .padding input {
				position: relative;
				top: 2px;
			}
		#contentpanel .settings .inputs.radio-list {
			padding-top: 9px;
			line-height: 23px;
		}
			#contentpanel .settings .inputs input[type=text].custom {
				margin-left: 7px;
				padding: 4px 7px;
				width: 40px;
			}
#contentpanel .gallery ul {
	padding: 2px;
	height: 87px;
}
	#contentpanel .gallery li {
		float: left;
		margin: 5px;
		padding: 2px;
		border: 1px solid #aaa;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		position: relative;
	}
		#contentpanel .gallery li img {
			float: left;
		}
		#contentpanel .gallery li .gallery-actions {
			display: none;
			position: absolute;
			top: 13px;
			left: 11px;
			width: 51px;
			background: #585858;
			border: 1px solid #1f1f1f;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
		}
			#contentpanel .gallery li .gallery-actions a {
				display: block;
				height: 23px;
				line-height: 23px;
				text-transform: uppercase;
				color: #999;
				font-size: 10px;
				text-align: center;
				border-top: 1px solid #1f1f1f;
			}
				#contentpanel .gallery li .gallery-actions a:hover {
					background: #e9683e;
					color: #fff;
				}
			#contentpanel .gallery li .gallery-actions a:first-child {
				border-top: 0;
			}
		#contentpanel .gallery li:hover .gallery-actions {
			display: block;
		}
#contentpanel .new-media {
	color: #626262;
}
	#contentpanel .new-media input[type=button] {
		margin-left: 1px;
		padding: 0 7px;
		height: 25px;
		line-height: 25px;
		background: #dedede;
		color: #626262;
		text-transform: none;
		font-weight: normal;
		border: 1px solid #aaa;
		-moz-border-radius: 12px;
		-webkit-border-radius: 12px;
	}
	#contentpanel .new-media input[type=button]:first-child {
		margin-left: 12px;
	}
	#contentpanel .new-media input[type=button].inactive {
		background: #e3e3e3;
		color: #a2a2a2;
		border: 1px solid #cacaca;
	}
/********** End of Contentpanel Modules **********/

/********** Login **********/
#login {
	margin: 40px auto;
	padding: 25px;
	width: 255px;
	background: #fff;
	border: 7px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
	#login h2 {
		padding-bottom: 5px;
		margin-bottom: 20px;
		font-size: 18px;
		font-weight: normal;
		border-bottom: 1px solid #ddd;
	}
	#login label {
		color: #7a7a7a;
		font-weight: bold;
	}
	#login input[type=text] {
		margin: 5px 0 10px;
		width: 241px;
		background: #f8f8f8;
		border: 1px solid #aaa;
	}
	#login p {
		margin: 10px 0 5px;
	}
	#login input[type=submit] {
		float: right;
	}
/********** End of Login **********/

/********** Modal **********/
#mask {
  display:none;
  position:absolute;
  top:0;
  left:0;
  background: url('images/mask.gif');
  z-index:9000;
}
.modal-container {
  display:none;
  position:absolute;
  top:0;
  left:0;
  z-index:9999;
}
#modal {
	margin: 40px auto;
	padding: 25px;
	width: 255px;
	background: #fff;
	border: 7px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
	#modal h2 {
		padding-bottom: 5px;
		font-size: 18px;
		font-weight: normal;
		border-bottom: 1px solid #ddd;
	}
	#modal label {
		color: #7a7a7a;
		font-weight: bold;
	}
	#modal input[type=text] {
		margin: 5px 0 10px;
		width: 241px;
		background: #f8f8f8;
		border: 1px solid #aaa;
	}
/********** End of Modal **********/

/********** Color Switcher **********/
 
#color-switcher {
	position: absolute;
	top: 20px;
	right: 0px;
	width: 70px;
}
	#color-switcher a {
		float: left;
		margin-left: 5px;
		width: 10px;
		height: 10px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	#color-switcher .green {
		margin-left: 0;
		background: #a3b260;
	}
	#color-switcher .blue {
		background: #3b6b9c;
	}
	#color-switcher .orange {
		background: #f57f26;
	}
	#color-switcher .red {
		background: #d11515;
	}
	#color-switcher .violet {
		background: #b41e7a;
	}
/********** End of Color Switcher **********/