<!DOCTYPE HTML>
<html>
<head>
  <title>New World</title>
  <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="newworld.js"></script>
</head>
<body>
  <div id="container">
    <div id="wrapper">
      <header id="header">
          <a href="#" id="logo">New World</a>
          <span id="description">Different view for me and you...</span>

          Socialize me
          <a href="#" class="facebook" title="Microweber at Facebbok">Microweber at Facebbok</a>
          <a href="#" class="twitter" title="Microweber at Twitter">Microweber at Twitter</a>

          <div id="header-cart-navigation">
            <a href="#">View Bag</a>
            <a href="#">Checkout</a>
          </div>
          <a href="#" id="header-cart">99</a>
          <nav id="main-navigation">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Online Shop</a></li>
              <li><a href="#">Gallery</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
            <form id="navigation-search">
                <input autofocus="" type="search" />
            </form>
          </nav>
      </header>

      <div id="rotator">
        <div id="rotator-wrapper">
            <div class="slide">
                <img src="slider.jpg"  />
            </div>
            <div class="slide">
                <img src="http://4.bp.blogspot.com/-NnuVNQwjtIE/UEiNBEtIIyI/AAAAAAAAnow/eca1YuTS8NE/s2000/HI-Tech+HD+Wallpaper+0049.jpg"  />
            </div>
            <div class="slide">
                <img src="http://gsmorder.com/picturesnew/00_Mini_speaker.JPG"  />
            </div>
        </div><!-- /#rotator -->
        <div id="rotator-ctrls" class="unselectable">
            <span class="rotator-next" onclick="Rotator.next();"></span>
            <span class="rotator-prev" onclick="Rotator.prev();"></span>
            <span class="rotator-index-control">
                <a href="javascript:;" onclick="Rotator.goto(0);">1</a>
                <a href="javascript:;" onclick="Rotator.goto(1);">2</a>
                <a href="javascript:;" onclick="Rotator.goto(2);">3</a>
            </span>
        </div>
      </div><!-- /#rotator-wrapper -->

      <script type="text/javascript">
        $(function(){
            Rotator = mw.slider('#rotator');
        });
      </script>

      <div id="main-content">
          <br /><br /><br />
      </div><!-- /#main-content -->

      <footer id="footer">
          <nav>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Online Shop</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">License</a></li>
              </ul>
          </nav>
      </footer>
    </div><!-- /#wrapper -->
  </div><!-- /#container -->
</body>
</html>