[dir="rtl"] {


    .text-right, .text-end {
        text-align: left !important;
    }

    .text-left, .text-left {
        text-align: right !important;
    }


    .text-md-right, .text-md-end {
        text-align: left !important;
    }

    .text-md-left, .text-md-left {
        text-align: right !important;
    }


    .text-lg-right, .text-lg-end {
        text-align: left !important;
    }

    .text-lg-left, .text-lg-left {
        text-align: right !important;
    }


    .text-xl-right, .text-xl-end {
        text-align: left !important;
    }

    .text-xl-left, .text-xl-left {
        text-align: right !important;
    }


    .text-sm-right, .text-sm-end {
        text-align: left !important;
    }

    .text-sm-left, .text-sm-left {
        text-align: right !important;
    }


    .text-right, .text-end {
        text-align: left !important;
    }

    .text-left, .text-left {
        text-align: right !important;
    }


    .text-md-right, .text-md-end {
        text-align: left !important;
    }

    .text-md-left, .text-md-left {
        text-align: right !important;
    }


    .text-lg-right, .text-lg-end {
        text-align: left !important;
    }

    .text-lg-left, .text-lg-left {
        text-align: right !important;
    }


    .text-xl-right, .text-xl-end {
        text-align: left !important;
    }

    .text-xl-left, .text-xl-left {
        text-align: right !important;
    }


    .text-sm-right, .text-sm-end {
        text-align: left !important;
    }

    .text-sm-left, .text-sm-left {
        text-align: right !important;
    }


    .float-right, .float-end {
        text-align: left !important;
    }

    .float-left, .float-left {
        text-align: right !important;
    }


    .float-md-right, .float-md-end {
        text-align: left !important;
    }

    .float-md-left, .float-md-left {
        text-align: right !important;
    }


    .float-lg-right, .float-lg-end {
        text-align: left !important;
    }

    .float-lg-left, .float-lg-left {
        text-align: right !important;
    }


    .float-xl-right, .float-xl-end {
        text-align: left !important;
    }

    .float-xl-left, .float-xl-left {
        text-align: right !important;
    }


    .float-sm-right, .float-sm-end {
        text-align: left !important;
    }

    .float-sm-left, .float-sm-left {
        text-align: right !important;
    }


    .slick-testimonials .slick-prev, .slick-prev {
        left: unset;
    }

    .slick-testimonials .slick-next, .slick-next {
        right: unset;
    }

    .slick-testimonials .slick-prev:before, .slick-prev:before {
        content: '\f054'!important;

    }


    .slick-testimonials .slick-next:before, .slick-next:before {

        content: '\f053'!important;


    }

}
