<?xml version="1.0" encoding="utf-8"?>
<phpunit
        backupGlobals               = "false"
        backupStaticAttributes      = "false"
        colors                      = "true"
        convertErrorsToExceptions   = "true"
        convertNoticesToExceptions  = "true"
        convertWarningsToExceptions = "true"
        processIsolation            = "false"
        stopOnFailure               = "false"
        syntaxCheck                 = "true"
        >

    <testsuites>
        <testsuite name="MW Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

</phpunit>