/*
 * Microweber - Framework
 *
 * Default styles
 *
 */


/*
@import url("../layouts/templates/layouts.css");
*/

/*@import url("api/libs/mw-ui/grunt/plugins/ui/css/main_with_mw.css");*/
/*@import url("api/libs/mw-ui/grunt/plugins/ui/css/main_compiled.css");*/




.mw-filepicker-component-section:hover .dropable-zone{
    border-color: #4592ff;
    background-color: rgba(69, 146, 255, 0.1);
}
.mw-uploader-type-holder{
    position: relative;
}

.mw-filepicker-root .card-header .dropdown.form-control {
    width: auto !important;
}

.mw-filepicker-component-section {
    /*max-height: 70vh;*/
    overflow: hidden;
}
.mw-filepicker-root ,
.mw-filepicker-root *{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bootstrap-select .dropdown-menu li{
    overflow: hidden;
}
.mw-filepicker-component-section,
.mw-filepicker-component-section iframe{
    min-height: 50px;

}
.mw-filepicker-component-navigation-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.mw-user-thumb:before{
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\F0013";
    font-family: "Material Design Icons";
}
.mw-user-thumb{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: inline-flex;
    vertical-align: middle;
    background-color: #F9F9F9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    color: #51acf7;
    font-size: 30px;

}


.mw-richtext-list {
    padding: 6px 0;
}

ul.mw-richtext-list,
ul.mw-richtext-list li{
    list-style-type: disc;
    list-style-position: outside;
}
ol.mw-richtext-list,
ol.mw-richtext-list li {
    list-style-type: decimal;
    list-style-position: outside;
}
ul.mw-richtext-list ul li, ol.mw-richtext-list ul li,
ul.mw-richtext-list ul, ol.mw-richtext-list ul {
    list-style-type: circle;
    list-style-position: outside;

}
ul.mw-richtext-list ul, ol.mw-richtext-list ul,
ol.mw-richtext-list ol, ul.mw-richtext-list ol {
    margin-left: 15px;
}
ol.mw-richtext-list ol, ul.mw-richtext-list ol,
ol.mw-richtext-list ol li, ul.mw-richtext-list ol li {
    list-style-type: lower-latin;
    list-style-position: outside;
}

.mw-richtext-list li {
    padding-left: 14px;
    line-height: 2;
}


/*LIVE EDIT STATIC LAYOUTS*/

/*ORDERED LIST*/
ol.mw-default-layout-ordered-t1 li {

    list-style-type: decimal;
    list-style-position: inside;
    margin-inline-start: 17px;
    text-indent: -17px;
}
ol.mw-default-layout-ordered-t1 li ol li{
    list-style-type: lower-alpha;
}

/*UNORDERED LIST*/
ul.mw-default-layout-un-ordered-t2 li {
    list-style-position: inside;
    margin-inline-start: 17px;
    text-indent: -17px;
}


ul.mw-default-layout-un-ordered-t2 li:before {
    content: '\2714';
}

/*DOTS LIST*/

ul.mw-default-layout-un-ordered-t4 li {
    list-style-type: disc;
    list-style-position: inside;
    margin-inline-start: 17px;
    text-indent: -17px;
}

ul.mw-default-layout-un-ordered-t4 li ul li {
    list-style-type: circle;
}



/*PARAGRAPH*/
.mw-default-layout-highlight-line{
    border-left: 4px solid black;
    padding-left: 10px;
    display: inline-block;
}

/*CHECKED*/

ul.mw-default-layout-un-ordered-checked li {
    list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z' /%3E%3C/svg%3E");
    list-style-position: inside;
    margin-inline-start: 17px;
    text-indent: -17px;
}



/*ARROWS*/
ul.mw-default-layout-un-ordered-arrows {
    position: relative;

}

ul.mw-default-layout-un-ordered-arrows li {
    list-style-position: inside;
    list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M4,15V9H12V4.16L19.84,12L12,19.84V15H4Z' /%3E%3C/svg%3E");
    margin-inline-start: 17px;
    text-indent: -17px;
}

/*Blockquote*/
ul.mw-default-layout-blockquote li {
    position: relative;
    padding-left: 20px;
}

ul.mw-default-layout-blockquote li:before {
    content: '\275D';
    font-size: 22px;
    top: 0;
    left: 0;
    position: absolute;
}

/*small:before {*/
    /*content: "\2014 \00A0";*/
/*}*/

/*Background Text*/
ul.mw-default-layout-background-text {
    background-color: rgba(0, 0, 0, 0.01);
    border: 1px solid rgba(51, 51, 51, 0.1);
    padding: 0.8em;
}


/*Gallery*/
.mw-gallery,
.mw-gallery *:before,
.mw-gallery *:after,
.mw-gallery *{
    box-sizing: border-box;
}
.mw-gallery{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1102;
}

.mw-gallery-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
}

.mw-gallery-content{
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100vw;
}

.mw-gallery-fullscreen-item{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(.93);
    transition: .6s;
    opacity: 0;
    visibility: hidden;
}
.mw-gallery-fullscreen-item.active{
    transform: translate(-50%,-50%) scale(1);
    opacity: 1;
    visibility: visible;
}
.mw-gallery-fullscreen-item-image img{
    display: block;
    max-width: 100%;
    max-height: 78vh;
    width: auto;
    height: auto;
}
.mw-gallery-fullscreen-item-description{
    max-height: 20vh;
    color: white;
    padding: 10px;
    background-color: rgba(0,0,0,.2);
}

.mw-gallery-prev,
.mw-gallery-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 50px;
    color: white;
    display: inline-block;
    padding: 20px;
    font-family: ui-sans-serif, sans-serif;
    z-index: 5;
}
.mw-gallery-prev:after{
    content: '\2039';
}
.mw-gallery-prev{
    left: 20px;
}
.mw-gallery-next{
    right: 20px;
}

.mw-gallery-controls > *{
    padding: 10px;
    cursor: pointer;
    font-family: "Material Design Icons";
    font-size: 20px;
}

.mw-gallery-control-play.pause:after{
    content: "\F03E4";
}
.mw-gallery-control-play:after{
    content: '\F040A';
}

.mw-gallery-control-close:after{
    content: "\F0156";
}

.mw-gallery-controls{
    position: absolute;
    top: 10px;
    right: 10px;
    background: #eee;
    z-index: 11;
}
.mw-gallery-next:after{
    content: '\203A';
}



.mw-ui-btn {
    font-weight: 400;
    text-align: center;
    user-select: none;
    line-height: 1.5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 1.308rem;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    font-size: 0.875rem;
    height: 40px;
    border-radius: 5px;
    color: #686868;
    background-color: #eeefef;
    border: 1px solid #cfcfcf;
    outline: none;
    transition: 0.3s;
    white-space: nowrap;
    vertical-align: middle;
}

.mw-ui-btn-nav, .mw-ui-btn-vertical-nav {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.mw-ui-btn-nav > .mw-dropdown, .mw-ui-btn-nav > .mw-dropdown .mw-ui-btn, .mw-ui-btn-nav > .mw-ui-btn, .mw-ui-btn-nav > .mw-ui-field, .mw-ui-btn-nav > li > .mw-ui-btn {
    border-width: 1px 1px 1px 1px;
    float: left;
    border-radius: 2px;
}

.mw-ui-bg-info, .mw-ui-btn-info, .mw-ui-btn.active-info {
    color: #fff!important;
    background-color: #4592ff!important;
    border-color: #4592ff!important;
}


.mw-ui-btn-info:hover, .mw-ui-btn-info.active {
    background-color: #abceff!important;
    border-color: #abceff!important;
}

.mw-ui-btn:hover:not([class*='active-']):not(.active) {
    outline: none!important;
    text-decoration: none!important;
}
