/* CSS Document */
.material-meta {
	font: 11px tahoma, sans-serif;
	padding: 5px 0;
	color: #888989;
	overflow: hidden;
}
.material-meta img {
	float: left;
	margin: 0 10px -5px 0;
}
.material-meta a {
	color: #c00;
}
.material-comments {
	font: 11px tahoma, sans-serif;
	color: #D2AC5B;
	float: right;
	padding: 6px 0 0;
}
.material-comments a {
	color: #004276;
}
.material-multimedia {
	background: #F2EEE6;
	overflow: hidden;
	padding: 4px;
	width: 618px;
}
.material-multimedia h4 {
	padding: 3px 0 5px 5px;
	text-transform: lowercase;
}
.material-multimedia h4 .navigation {
	margin: 0 0 0 10px;
}
.material-multimedia h4 .navigation a {
	margin: 0 3px 0 0;
}
.material-multimedia h4 img {
	vertical-align: bottom;
}
.material-multimedia p {
	font: 12px tahoma, sans-serif;
	padding: 5px 5px 5px;
	margin: 0;
	color: #895E01;
}
.material-multimedia .photo-author {
	padding: 5px 0 0 5px;
	margin: -20px 0 3px 0;
	text-align: right;
}
.photo-author span {
	background: #000;
	color: #fff;
	font-size: 11px;
	padding: 2px 4px;
}
.material-multimedia .fb-like { float: left; width: 300px; }
.material-multimedia p.material-options {
	padding: 6px 0 9px;
	color: #888989;
	font-size: 11px;
	float: right;
	margin: 0;
}

.material-options a {
	padding: 2px 0 4px 20px;
	margin: 0 4px 0 0;
	border-bottom: none;
	font-weight: normal;
	color: #895E01;
}
.material-options a:hover,.material-options .social-links-strip a:hover {
	text-decoration: underline;
}
.material-options a.facebook,.material-options .social-links-strip a.facebook {
	background: url(http://ibox.bg/img/icon_facebook.gif) no-repeat;
}
.material-options a.svejo,.material-options .social-links-strip a.svejo {
	background: url(../img/i-svejo.gif) 0 3px no-repeat;
}
.material-options a.twitter,.material-options .social-links-strip a.twitter {
	background: url(../img/i-twitter.png) no-repeat;
}

.comments-strip a{
	color: #004276;
	font: 11px tahoma,sans-serif;
	padding:0px 15px 0px 0px;
}
.comments-strip{
  color: #BA8003;
  font: 11px tahoma,sans-serif;
  width:100%;
  display:block;
  margin : 15px 0px 10px 0px;
}

.social-links-strip
{
	background-color: #F2EEE6;
	font: 11px tahoma,sans-serif;
	color: #888989;
	padding : 5px 0px 5px 10px;
}
.social-links-strip a 
{
	
}

.material-tags {
	padding: 5px 0;
	margin: 10px 0 30px 0;
	clear: both;
	font: 11px tahoma, sans-serif;
	color: #888989;
}
.material-tags a:after {
	content: ","
}
.material-tags a.last:after {
	content: "";
}
.material-tags a {
	font: 12px georgia, sans-serif;
	color: #c00;
	text-transform: capitalize;
}
#Story a {
  text-decoration: underline;
}
#Story a:hover {
  text-decoration: none;
}
.material-banner {
	text-align: center;
}
.material-banner h4 {
	text-align: left;
	margin: 0 0 10px;
}
/* Comments */
#Comments {
	clear: both;
	padding: 30px 0;
	border-top: 1px dotted #D2AC5B;
}
.comments-listing-item {
	overflow: hidden;
	width: 100%;
	font-size: 12px;
	border-bottom: 1px dotted #D2AC5B;
	padding: 10px 0;
}
.comment-poster {
	float: left;
	width: 81px;
}
.comment-poster span {
	display: block;
}
.comment-poster .reg-date {
	font-size: 11px;
	color: #777;
	display: none;
}
.comment-poster-nickname {
	font-weight: bold;
}
.comment-body p.comment-meta {
	margin: 0;
	padding: 0;
	color: #BF8814;
}
.comment-body p.comment-meta span {
	color: #dadada;
}
.comment-body {
	position:relative;
	width: 539px;
	float: right;
}
.comment-body p {
	padding: 0;
	color: #888989;
	margin: 0 0 10px;
	font: 13px tahoma, sans-serif;
}

.comment-cont{
	float:left;
	width:470px;
}

.comment-number {
	float: right;
	font-size: 36px;
	margin: 0 0 0 0;
	color: #EAE6DD;
	font-family: Georgia;
	line-height: 26px;
}
.comments-header {
	border-bottom: 3px solid #ECE7DB;
}
.comments-header h4 {
	font-size: 18px;
	font-weight: normal;
}
.comments-header h4 a {
	text-transform: none;
	font: normal 11px tahoma, sans-serif;
	color: #c00;
	margin: 0 0 0 5px;
}
.comments-header p {
	float: right;
	margin: -25px 0 0 0;
	font: 11px tahoma, sans-serif;
	color: #D2AC5B;
}
.comment-text {
	margin: 0;
	width: 415px;
	font: 12px tahoma, sans-serif;
	color: #3C3C3C;
}

.comment-rating{
	position:relative;
	float:right;
	margin:4px 10px 0 0;
}

.comment-rating .rating-btns{position:relative; overflow:hidden; margin:0 0 11px 0;}
.comment-rating .rating-btns a{
	display:block;
	float:left;
	width:23px;
	height:16px;
	background: url("../img/vote.gif") no-repeat scroll 0 0 transparent;
}

.comment-rating .rating-btns a.positive{background-position:0 -16px; margin:0 5px 0 0;}
.comment-rating .rating-btns a:hover.positive{background-position:0 0; text-decoration:none;}
.comment-rating .rating-btns a.negative{background-position:-23px -16px;}
.comment-rating .rating-btns a:hover.negative{background-position:-23px 0; text-decoration:none;}

.comment-rating .rating-result{}
.comment-rating .rating-result p{color:#b0aaac; font-size: 11px; text-transform: capitalize; margin:0; text-align:center;}
.comment-rating .rating-result p .result-plus{color:#ba8201; font-weight:bold;}
.comment-rating .rating-result p .result-minus{color:#262626; font-weight:bold;}


.comments-footer p {
	margin: 0;
	padding: 10px 0;
	font: 12px tahoma, sans-serif;
	color: #D8B770;
}
.comments-footer span {
	color: #A6A5A5;
	margin: 0 23px 0 0;
}
.comments-footer a {
	color: #c00;
	padding: 5px;
}
.comments-footer strong {
	padding: 5px;
}

/* Poll Section Styles */
.material-poll {
	padding: 7px;
}
.poll-view h3 {
	color: #343434;
	margin: 0 0 5px 0;
	padding: 0;
	clear: both;
	font-weight: normal;
	font-size: 23px;
}
.poll-view p {
margin: 10px 0 0 0;
padding: 0;
font-size: 11px;
}
.poll-view a {
	color: #c00;
}
.poll-results {
	margin: 0;
	width: 100%;
}
.poll-results td,
.poll-results th {
	padding: 5px 5px 5px 0;
	border-bottom: 1px solid #ccc;
	text-align: left;
	font: 11px tahoma, sans-serif;
	color: #485762;
	vertical-align: top;
}
.poll-results th {
	color: #888989
}
.poll-vote ul {
	list-style: none;
	margin: 10px 0;
	padding: 0;
	font-size: 12px;
	color: #485762;
}
div.poll-bar {
	height: 10px;
	background: #BF8814;
}
.error p {
    color: red;
	 padding: 0 0 10px 0;
}
.material-poll .submit {
	border: none;
	background: #c00;
	color: #fff;
	font: bold 12px tahoma, sans-serif;
	padding: 3px 5px;
}
.material-poll p:before {
	content: "� ";
	color: #D2AC5B;
}
.material-poll a {
	color: #004276;
}

.post-comment textarea {
	width: 480px;
	height: 200px;
	font: 12px tahoma, sans-serif;
	padding: 4px;
}
.post-comment td {
	vertical-align: top
}
.post-comment a.ln {
	display: block;
	width: 25px;
	padding: 5px;
	font: 11px tahoma, sans-serif;
	background: Green;
	color: #fff;
	text-align: center;
}
.post-comment a.ln:hover {
	text-decoration: none;
}
.post-comment .actions {
	margin: 10px 0 30px;
}
.post-comment .actions .submit {
	padding: 10px;
	background: #c00;
	color: #fff;
	font: bold 11px tahoma, sans-serif;
	border: none;
}
.post-comment p {
	font-size: 12px;
}

.comments-header h4 span a.comments-tab-active {
	background-color:#ECE7DB;
	height: 30px;
	padding: 10px;
	font-size : 14px;
	color: #BA8003;
}

.comments-header h4 span a {
  text-transform: none;
  font: normal 14px tahoma, sans-serif;
  color: #114F7F;
  text-transform : uppercase;
  font-weight : bold;
  margin: 0 5px 0 0;
  padding: 18px 10px 10px 10px;
}


#Story h2
{
	font-size:16px;
	font-weight:normal;
}