html {
	background: #fff;
}
body {
	margin: 0; padding: 0;
	font-family: tahoma, sans-serif;
	font-size: 0.69em;
	color: #000;
	background: #fff;
	width: auto;
}
a {
	color: #036;
	text-decoration: none;
}
*[title]:after {
	content: " (" attr(title) ")";
}
*[alt]:after {
	content: " (" attr(alt) ")";
}
.material a:after {
	content: " (URL: http://news.ibox.bg" attr(href) ")";
}
a[title]:after {
	content: " [" attr(title) "] (URL: " attr(href) ")";
}
.nws-header-banner,
.nws-global-menu,
.nws-local-navigation,
.nws-commerical-column,
.banner,
.strip,
#ibox-strip,
#divtl1,
#divrl1,
#clist,
.material-options,
.nws-search {
	display: none;
}
#MainCol {
	width: 70%;
	float: left;
}
#AttributeCol {
	float: left;
	width: 28%;
}
.material,
.gallery {
	border: none;
	width: auto;
}
.material-picture img {
	width: 450px;
}
p.credits span {
	display: none;
}

.nws-main-content-column
.nws-content-wrapper {
	float: none;
}
.nws-footer-container {
	clear: none;
	margin: 0;
}