.uniForm h2 {
	margin: 1em 0 1em 1.15em;
}
.uniForm fieldset h3 {
	margin: 1.5em -28px;
	padding: 14px 28px;
	line-height: 1;
	background: #efefef;
	color: #343434;
}
.uniForm {
	width: 55%;
	background: #fff;
	margin: 28px auto;
	padding: 28px;
	/* CSS3 */
          border-radius:         12px;
	-webkit-border-radius: 12px;
	-moz-border-radius:    12px;
	-o-border-radius:      12px;
	-khtml-border-radius:  12px;
}
.uniForm .uniForm_header {
	margin: -28px -28px 28px -28px;
	padding: 1px 28px;
	background: #efefef;
	border-bottom: 1px solid #dfdfdf;
	position: relative;
	/* CSS3 */
           border-top-left-radius:          10px;
	border-top-right-radius:         10px;
	-webkit-border-top-left-radius:  10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft:      10px;
	-moz-border-radius-topright:     10px;
}
.uniForm .uniForm_header h2 {
	margin: 1.5em 0 0 0;
	color: #343434;
	color: #777;
}
.uniForm .uniForm_header p {
	margin-top: 0;
	font-size: 12px;
	color: #777;
}
.uniForm .uniForm_header .cta {
	position: absolute;
	bottom: 26px;
	right: 28px;
	text-align: right;
	font-weight: bold;
	background: #194789;
	padding: 7px 14px;
	/* CSS3 */
                    border-radius:         4px;
	-webkit-border-radius: 4px;
	-moz-border-radius:    4px;
	-o-border-radius:      4px;
	-khtml-border-radius:  4px;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, .25);
}
.uniForm .uniForm_header .cta:link,  .uniForm .uniForm_header .cta:visited {
	color: #fff;
}
.uniForm .uniForm_header .cta:focus,  .uniForm .uniForm_header .cta:hover {
	text-decoration: none;
	/* CSS3 */
                          box-shadow:         0 0 9px rgba(0, 163, 255, 1);
	-webkit-box-shadow: 0 0 9px rgba(0, 163, 255, 1);
	-moz-box-shadow:    0 0 9px rgba(0, 163, 255, 1);
}
.uniForm .uniForm_header .cta:active {
	bottom: 25px;
}
.uniForm .browse {
	margin: 0;
	position: fixed;
	top: 28px;
	right: 28px;
	width: 84px;
	padding: 28px 28px 14px 28px;
	font-size: 12px;
	background: #97a2b0;
	/* CSS3 */
         border-radius:         12px;
	-webkit-border-radius: 12px;
	-moz-border-radius:    12px;
	-o-border-radius:      12px;
	-khtml-border-radius:  12px;
}
.browse h2 {
	font-size: 12px;
	margin: 0 0 14px 0;
}
.browse ul {
	margin: 0;
	padding: 0;
}
.browse li {
	margin: 0 0 14px 0;
	padding: 0;
	list-style: none;
} 
/* IE6 fixes for the page */
* html form.uniForm {
	overflow: hidden;
}
* html .uniForm_header {
	zoom: 1;
	overflow: hidden;
}
* html .browse {
	position: absolute;
}
/* Additions for validation */
div.valid {
	background: url(../../img/ok.png) 100% 2.75em no-repeat;
}
