


h1,h2,h3,
h4,h5,h6		{ color: #111; margin-bottom: .75em; }

h1 				{ font-size: 24px; line-height: 1em; }
h2 				{ font-size: 20px; font-weight: normal; color: #222; margin-bottom: 1em }
h3 				{ font-size: 16px; color: #333; line-height: 1; margin-bottom: .75em }
h4 				{ font-size: 14px; color: #666; line-height: 1.25; margin-bottom: 1.25em }
h5 				{ font-size: 12px; font-weight: bold; margin-bottom: 1.5em }
h6 				{ font-size: 11px; font-weight: bold }

p           	{ margin: 0 0 1.5em }
p.last      	{ margin-bottom: 0 }
img         	{ border: none; }

ul, ol			{ margin-left: 28px; margin-bottom: 1.5em; }
ul li			{ list-style-type: square; }

dl          	{ margin: 0 0 1.5em 0 }
dl dt       	{ font-weight: bold }
dd          	{ margin-left: 1.5em }

abbr, 
acronym     	{ border-bottom: 1px dotted #666 }
address     	{ margin-top: 1.5em; font-style: italic }
del         	{ color:#666 }
sup				{ font-size: 9px; vertical-align:top; }

a				{ color: #358; text-decoration: underline }
a:visited		{ color: #667 }
a:focus, 
a:hover     	{ color: #933 }

a:active,
a:focus { outline: none !important; noFocusLine: expression(this.onFocus=this.blur()) }

blockquote  	{ margin: 1.5em; color: #666; font-style: italic }
strong      	{ font-weight: bold }
em,dfn      	{ font-style: italic; background: #ffc }
dfn         	{ font-weight: bold }
pre,code    	{ margin: 1.5em 0; white-space: pre }
pre,code,tt 	{ font: 12px 'andale mono', 'monotype.com', 'lucida console', monospace; line-height: 1.5 } 
tt         		{ display: block; margin: 1.5em 0; line-height: 1.5 }

table.data { width: 100%; font-size: 11px; border: 0; }

	 table.data thead th
	 {
	 	font-size: 12px;
		font-weight: bold;
		text-align: left;
		background: #FFF;
		border-bottom: 1px solid #999;
	}		
	
	th.header { background: url(../images/tables/sorter-bg.gif) no-repeat 0% 50% !important; padding-left: 20px !important; cursor: pointer; }
	
	th.headerSortDown { background-image: url(../images/tables/sorter-desc.gif) !important; } 
	
	th.headerSortUp { background-image: url(../images/tables/sorter-asc.gif) !important; }
	
			 table.data tbody tr td { background: #FFF; border-bottom: 1px solid #DDD; }
		
			table.data th { padding: 10px 0; }
			table.data tbody td { padding: 10px; }
			
			table.data tr.even td { background: #F1F1F1; }

button { 
	position: relative;
	border: 0; 
	padding: 0;
	cursor: pointer;
	overflow: visible; /* removes extra side padding in IE */
}

button::-moz-focus-inner {
	border: none;  /* overrides extra padding in Firefox */
}

button span { 
	position: relative;
	display: block; 
	white-space: nowrap;	
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* Safari and Google Chrome only - fix margins */
	button span {
		margin-top: -1px;
	}
}

/* OPTIONAL BUTTON STYLES for applying custom look and feel: */	

button,
button span
{
	background: transparent url(../images/button_sprite.png) no-repeat;
}	

button,
button .btn-pri { 
	padding: 0 15px 0 0; 
	margin-right:5px; 
	text-align: center; 
	background-position: right -50px !important; 
}
	
button span,
button .btn-pri span {
	font-family: arial, sans-serif;
	padding: 0 0 0 15px; 
	height:30px; 
	font-size:13px;
	line-height: 28px; 
	font-weight: bold;
	font-style: italic;
	background-position: left top; 
	color:#FFF; 
}

button.btn-sec { background-position: right -150px !important; }

button.btn-sec span { background-position: left -100px !important; }

