@import url("ooyes.framework.css");

body{
  font:12px Verdana, arial, sans-serif;
  color: #000;
  background: #2D5E80;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#103651', endColorstr='#36698D');
  background: -webkit-gradient(linear, left top, left bottom, from(#103651), to(#36698D));
  background: -moz-linear-gradient(top,  #103651,  #36698D);
}
html{
    height: 100%;
}
a{
  text-decoration: none;
}

#liquid, .liquid{
  margin: 0 50px;
  min-width: 900px;
}


#wrapper{
  width: 950px;
  margin: 0 auto;
}
#header{
  width: 950px;
  padding-top: 30px;
  zoom:1;
  margin-bottom: 30px;
}
#header:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#logo{
  float: left;
  display: block;
  text-indent: -9999px;
  width:176px;
  height: 23px;
  overflow: hidden;
  background: url(../img/logo.png) no-repeat;
}
#main{
  width: 820px;
  margin: 0 auto;
}
.box{
  background: white;
  padding:10px;
  min-height: 100px;

}

.field{
  width: 100%;
  padding:5px;
  border: 1px solid #C2C2C2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius:10px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  zoom:1;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  background: white;
}
.field:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.boxmiddle{
  width: 720px;
  margin: 0 auto;
}


.field:hover, .field.active{
  border: 3px solid #0A98CC;
  padding: 3px;
}

.field input[type='text']{
    width: 80%;
    font-size: 18px;
    font-weight: bold;
    color: #BEBDBD;
    padding: 11px 0 11px 25px;
    background: none;
    border: none;
    cursor: pointer;
    float: left;
}
.field:hover input[type='text'], .field.active input[type='text'], .field:hover textarea, .field.active textarea{
  color:#1B9FD0;
}
.field.active input[type='text'], .field.active textarea{
  cursor: text;
}


.onoff{
  width:105px;
  height: 45px;
  float: right;
}
.onoff span{
  display: block;
  width:55px;
  height:30px;
  padding-top: 15px;
  background: #DDF1F8;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius:6px;
  border-radius: 6px;
  text-align: center;
  float: left;
  cursor: pointer;
  color: #1B415C
}
.onoff span:hover, .onoff span.active{
  background: #1B415C;
  color: white;
}
.onoff label{
  position: absolute;
  color:#1B9FCF;
  white-space: nowrap;
  font-size: 11px;
  width: 85px;
  height: 20px;
  top: 50%;
  right: 120px;
  margin-top: -7px;
  display: none;
  cursor: pointer;
}
.onoff label:hover{
  text-decoration: underline;
}


.on{
    margin-left: -10px;
    position: relative;
    z-index: 1;
}
.FieldHandle{
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  cursor: move;
  left:5px;
  top: 50%;
  background: url(../img/drag.gif) no-repeat center center;
  margin-top: -10px;
  visibility: hidden;
}
.mainbox{
	-moz-box-shadow: 0px 8px 0px #275676;
	-webkit-box-shadow: 0px 8px 0px #275676;
	box-shadow: 0px 8px 0px #275676;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=180, Color='#275676');
    margin-bottom: 8px;
}
#steps{
    text-align: center;
    padding-top: 12px;
}
#steps p{
  font-size:18px;
  color: white;
  padding-top: 11px;
}
#steps p strong{
  font-weight: normal;
  color:#1F4663;
}


.step{
  display: inline-block;
  padding:10px 15px;
  background:#0C94C6;
  -moz-box-shadow: 0px 3px 0px #275676;
  -webkit-box-shadow: 0px 3px 0px #275676;
  box-shadow: 0px 3px 0px #275676;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#275676');
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius:6px;
  border-radius: 6px;
  color: white;
  font-size: 18px;
}
.step.next{
  padding-right: 33px;
  background-image: url(../img/next.png);
  background-position:right center;
  background-repeat: no-repeat;
}
.step.prev{
  padding-left: 33px;
  background-image: url(../img/prev.png);
  background-position:left center;
  background-repeat: no-repeat;
}
.step:hover{
  background-color: white;
  color:#204664;
}
.btn{
  display: inline-block;
  padding:15px 20px;
  background:#1B9FCF;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius:6px;
  border-radius: 6px;
  color: white;
  font-size: 18px;
}
.btn:hover{
  background:#1B415C;
}





