@import url("ooyes.framework.css");

body{
  font:12px Verdana, Arial, sans-serif;
  color: #393939;
  background: #D8D8D8;
}

a{
  color: #146EB4;
  text-decoration: none;
}


#container{
  overflow: hidden;
}


#wrapper{
  width: 995px;
  margin: 0 auto;
  background: white;
}
#header{
  width: 995px;
}
#logo{
  width: 404px;
  height: 23px;
  display: block;
  text-indent: -9999px;
  background: url(../img/logo.jpg) no-repeat;
  float: left;
  margin: 26px 0 0 23px;
  -margin: 26px 0 0 12px;
}
#header-top{
  zoom:1;
  overflow: hidden;
  padding-bottom: 23px;
}
#header-top:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#header-login{
    float: right;
    width:480px;
    margin:26px 40px 0 0;
    -margin:26px 20px 0 0;
}
#header-login label{
  float: left;
  margin: 3px 6px 0 0;
}
#header-login span{
  display: block;
  overflow: hidden;
  width:114px;
  height: 22px;
  background: url(../img/header_login_field.jpg) no-repeat;
  float: left;
  margin-right: 18px;
  -margin-right: 9px;
}

#header-login .submit-field{
  display: block;
  cursor: pointer;
  width:70px;
  height: 22px;
  overflow: hidden;
  background: url(../img/header_submit.jpg) no-repeat;
  border: none;
  float: right;
}
#header-login .text-field{
  border: none;
  background: none;
  width:110px;
  position: relative;
  top: 3px;
  left: 1px;
}
#navigation-bar{
  position: relative;
  width: 995px;
  background: url(../img/nav_bg.jpg) repeat-x;
  height: 40px;
}

#nb-left, #nb-right{
  position: absolute;
  display: block;
  top: -10px;
  width:12px;
  height: 50px;
}

#nb-left{
    left:-12px;
    background: url(../img/nav_left.jpg) no-repeat;
}
#nb-right{
    right:-12px;
    -right:-13px;
    background: url(../img/nav_right.jpg) no-repeat;
}
#navigation-bar ul{
  list-style: none;
  padding-left: 10px;
}
#navigation-bar li{
  list-style: none;
  float: left;
}
#navigation-bar ul a{
  display: block;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding: 11px 19px 10px 19px;
  font:14px Trebuchet MS, Verdana, Arial, serif;
  text-transform: uppercase;
  color: #125C98;
}
#navigation-bar ul a samp{
  position: absolute;
  font:14px Trebuchet MS, Verdana, Arial, serif;
  color: white;
  left: 17px;
  -left: -1px;
  top: 12px;
}
#navigation-bar ul a:hover{
  background: #102541 url(../img/nav_hover.jpg) no-repeat center center;
}

#navigation-bar ul a:hover span{
   visibility: hidden;
}



#content{
  width: 995px;
  clear: both;
  background: url(../img/content_bg.jpg) repeat-x;
  min-height: 400px;
     -height: 400px;
  zoom:1;
  padding-top:35px;
}
#content:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.main{
  float: left;
  width: 653px;
  -width: 647px;
  zoom:1;
  -overflow: hidden;
}
.main:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#home-title{
    padding: 0 0 24px 24px;
}
#home-title h2{
  font: 21px Verdana, Arial, serif;
  color: #142D4B;
}
#home-flash{
  height: 231px;
  width:653px;
  border-bottom: dotted 1px #C2C2C2;
  background: url(../img/demo_home_flash.jpg) no-repeat;
}
h2.title{
  font: 24px Verdana, Arial, serif;
  color: #102742;
}
h2.title strong{
  color:#146EB4;
  font-weight: normal;
}
#home-tops-slider-wrapper{
    padding: 20px;
}

#home-slider{
    width: 609px;
}
#home-tops-slider-wrapper h2{
    padding-bottom: 10px;
}
#home-slider-content{
  width: 609px;
  height:179px;
  background: #CFD9E2 url(../img/home_slider_top.jpg) no-repeat;
  position: relative;
}
#home-slider-controlls{
  width: 609px;
  height: 33px;
  background: url(../img/home_slider_bottom.jpg) no-repeat;
}
#home-slider-controlls ul{
  list-style: none;
  float: left;
  margin-left: 20px;
  -margin-left: 10px;
  margin-top: 3px;
}

#home-slider-controlls li{
  float: left;
}

#home-slider-controlls ul a{
  text-decoration: none;
  color: white;
  display: block;
  font: 12px 'Trebuchet MS',Verdana, Arial, Serif;
  text-transform: uppercase;
  outline: none;
}
#home-slider-controlls ul span{
  display: block;
  padding: 5px 7px;
}

#home-slider-controlls li.hover, #home-slider-controlls li.active{
  background: url(../img/slider_controlls_middle.jpg) repeat-x;
}
#home-slider-controlls li.hover a, #home-slider-controlls li.active a{
  background: url(../img/slider_controlls_left.jpg) no-repeat;
}
#home-slider-controlls li.hover span, #home-slider-controlls li.active span{
  background: url(../img/slider_controlls_right.jpg) no-repeat right top;
}

#home-slider-left, #home-slider-right{
  position: absolute;
  display: block;
  z-index: 2;
  top:50%;
  margin-top: -5px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  text-indent: -9999px;
}

/*
lqv kalnik
lqv migach
lqv far

za sitroen berlingo
98-ma

*/
#home-slider-left{
  left:7px;
  background: url(../img/slide_left.jpg) no-repeat;
  display: none;
}
#home-slider-left:hover{
  background-position: 0 -21px;
}
#home-slider-right{
  right:7px;
  background: url(../img/slide_right.jpg) no-repeat;
}
#home-slider-right:hover{
  background-position: 0 -21px;
}

#home-slide-holder{
  position: relative;
  width: 542px;
  overflow: hidden;
  height: 145px;
  float: left;
  margin: 17px 0 0 38px;
  -margin: 17px 0 0 19px;
}
#home-slide-animator{
    width: 1100px;
    height: 145px;
    overflow: hidden;
    position: relative;
    top: 0px;
    left: 0px;
}


#home-slide-holder ul{
  list-style: none;
  width: 542px;
  height:145px;
  float: left;
}
#home-slide-holder li{
  float: left;
  margin: 0 3px 7px 4px;
}
#home-slide-holder li a{
    text-decoration: none;
    color: white;
    font: 11px Verdana, Arial, serif;
    display: block;
    position: relative;
    width:69px;
    height: 69px;
}
#home-slide-holder li:hover{
   visibility: visible;
}


#home-slide-holder li a:hover{
  z-index: 2;
}
#home-slide-holder li span{
  position: absolute;
  visibility: hidden;
}


#slidertip{
  display: inline-block;
  position: absolute;
  height: 13px;
  padding: 3px;
  background: #112639 url(../img/slider_name.jpg) no-repeat center top;
  white-space: nowrap;
  z-index: 2;
  visibility: hidden;
  white-space: nowrap;
  color: #fff;
  font: 11px Verdana, Arial, serif;
}


.content-title{
  position: relative;
  clear: both;
  height:31px;
  padding: 5px 0 0 45px;
  border-bottom: solid 1px #D5D6D8;
  background:#E7ECEF;
}
.content-title select{
  width:290px;
  margin: 0 auto;
  padding: 3px 5px;
  border: solid 1px #CFD0D2;
  display: block;
}
.selectbox .content-title{
  padding: 6px 0;
  height: auto;
}


.content-title h2{
  display: inline-block;
}
.content-title-left, .content-title-right{
    display: block;
    width:5px;
    height: 42px;
    position: absolute;
    top: -5px;

}

.content-title-right{
    right: -5px;
    background: url(../img/content_angles_middle_right.jpg) no-repeat;
}
.content-title-left{
    left: -5px;
    background: url(../img/content_angles_middle_left.jpg) no-repeat;
}

h2.experts-online{
  font: 20px Verdana, Arial, serif;
  color: #94B101;
}
.members-number{
  color: #273E4D;
}

#side-add-area{
  width:301px;
  height:253px;
  padding-top: 3px;  
}





.sidebar{
  float: right;
  width:342px;
  zoom:1;
  padding-bottom: 20px;
}
.sidebar:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}



#footer{
  width: 995px;
  position: relative;
}
#footer-navigation{
  background: url(../img/footer_bg.jpg) repeat-x;
  height: 148px;
  overflow: hidden;
}


#footer_left, #footer_right{
  display: block;
  position: absolute;
  top: -4px;
  width: 5px;
  height: 22px;

}

#footer_right{
  right:-5px;
  -right:-6px;
  background: url(../img/footer_right.jpg) no-repeat;
}
#footer_left{
  left: -5px;
  background: url(../img/footer_left.jpg) no-repeat;
}
#footer address{
    background: url(../img/copyright_bg.jpg) repeat-x;
    display: block;
    color: white;
    font:11px Verdana, Arial, serif;
    text-align: center;
    padding: 5px;
}
#footer-navigation li{
  float: left;
  list-style: none;
  margin-right: 60px;
  width: 180px;
}
#footer-navigation ul{
  list-style: none;
  float: left;
  margin: 31px 0 0 47px;
 -margin: 31px 0 0 23px;
  overflow: hidden;
  zoom:1;
  padding-bottom:20px;
 *padding-bottom:0px;
}


#footer-navigation li strong{
    display: block;
    margin-left: 10px;
    font:bold 24px Verdana, Arial, serif;
}
#footer-navigation li#connect-ico strong{
    padding: 18px 0 0 51px;
    background: url(../img/ico.connect.jpg) no-repeat;
}
#footer-navigation li#learn-ico{
  margin-top: 18px;
}
#footer-navigation li#learn-ico strong{
    padding: 0px 0 0 52px;
    background: url(../img/ico.learn.jpg) no-repeat 0 2px;
}
#footer-navigation li#teach-ico{
  margin-top: 15px;
}

#footer-navigation li#teach-ico strong{
    padding: 3px 0 0 46px;
    background: url(../img/ico.teach.jpg) no-repeat 0 2px;
}

#footer-navigation li#grow-ico{
  margin-top: 6px;
  margin-right: 0px;
}

#footer-navigation li#grow-ico strong{
    padding: 11px 0 0 52px;
    background: url(../img/ico.grow.jpg) no-repeat 0 2px;
}


#footer-navigation li a{
    color:white;
    text-decoration: none;
}
#footer-navigation li span{
  display: block;
  text-align: center;
  font-weight: bold;
  color: #95D1FF;
}
#footer-navigation p{
  color: white;
  font-size: 11px;
  width: 950px;
  text-align: center;
  overflow: hidden;
  clear: both;
  margin: auto
}
#footer-navigation p a{
  color: white
}


.pd-ctrl{
  display: block;
  width: 11px;
  height: 11px;
  overflow: hidden;
  background: url(../img/pd_ctrl.jpg) no-repeat -7px 0;
  text-indent: -9999px;
  float: left;
  cursor: pointer;
  margin-right: 3px;
}
#pd-left{
  float: left;
  display: block;
  width: 5px;
  height: 12px;
  background: url(../img/pd_ctrl.jpg) no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  cursor: pointer;
  margin-right: 3px;
}
#pd-right{
  float: left;
  display: block;
  width: 5px;
  height: 12px;
  background: url(../img/pd_ctrl.jpg) no-repeat -24px 0;
  overflow: hidden;
  text-indent: -9999px;
  cursor: pointer;
}
#pd-ctrl{
  float: right;
  position: relative;
  margin: 10px 0 0 0;
}
#popular-discussions{
  background:#EDF1F3;
  overflow: hidden;
  border-bottom: dotted 1px #c2c2c2;
  border-top: dotted 1px #c2c2c2;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
#pd-dot{
  position: absolute;
  width: 12px;
  height: 12px;
  top: 1px;
  left: 9px;
  display: block;
  overflow: hidden;
  background: url(../img/active_dot.png) no-repeat;
  -background: none;
  -filter:expression("progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + imgurl + "active_dot.png', sizingMethod='crop')");
  z-index: 2;

}

#helpelem{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: 0;
}

h2.title{
  font: 22px Verdana, Arial, serif;
  color: #102742;
  text-transform: capitalize;
}
#pd-ctrl-wrapper .title{
  display: inline;
  float: left;
  margin-bottom: 10px;
}
#pd-ctrl-wrapper{
  width: 620px;
  margin: 10px auto 10px auto;
}
.hot-ico{
  display: inline-block;
  width: 28px;
  height: 20px;
  overflow: hidden;
  background: url(../img/ico.hot.jpg) no-repeat;
  position: absolute;
  top: -4px;
  left: 0px
}
#popular-slider a strong{
  position: relative;
  padding: 0 17px;
}
#popular-slider-holder{
  width: 653px;
  overflow: hidden;
  position: relative;
  zoom:1;
  clear: both;
}
#popular-slider{
  width:1310px;
  overflow: hidden;
  position: relative;
}
#popular-slider ul{
  width: 653px;
  overflow: hidden;
  float: left;
}



#popular-slider li{
  list-style: none;
  clear: both;
  margin-bottom: 5px;
}


#popular-slider a{
  display: block;
  padding:2px 0 2px 27px;
  background: white;
  font: 14px Verdana, Arial, serif;
  text-decoration: none;
  overflow: hidden;
  zoom:1;
}
#popular-slider a:hover .pop-title{
  text-decoration: underline;
}
#popular-slider a span.img{
  display: block;
  float: left;
  width:29px;
  height: 29px;
  overflow: hidden;
  background-position: center top;
  background-repeat: no-repeat;
  margin-right: 12px;
}
.p_holder{
  display: inline-block;
  padding-top: 5px;
}
#popular-slider a em{
  font: italic 14px Verdana, Arial, serif;
  text-decoration: none !important;
}

.btn{
  display: inline-block;
  text-decoration: none;
  background: url(../img/btnleft.jpg) no-repeat;
  font: 11px Verdana, Arial, serif;
  color: white;
}
.btn span{
  display: inline-block;
  background: url(../img/btnright.jpg) no-repeat right top;
  text-align: center;
  padding: 4px 17px 6px 17px;
  min-width: 25px;
}
.btn:hover{
  background: url(../img/btnlefth.jpg) no-repeat;
}
.btn:hover span{
  background: url(../img/btnrighth.jpg) no-repeat right top;
}
.get-rss{
  display: inline-block;
  font: 11px Verdana, Arial;
  text-decoration: none;
  color: #102742;
  padding:1px 0 3px 22px;
  background: url(../img/ico.rss.jpg) no-repeat;
}



.get-rss:hover{
  text-decoration: underline;
}

#get-rss-home{
  float: left;
  margin: 3px 0 0 24px;
}
.tabs-nav{
  list-style: none;
}
.side-tabs{
  margin-bottom: 20px;
}


.tabs-nav li{
  list-style: none;
  float: left;
}
.tabs-nav a{
    display: block;
    font:18px Verdana, Arial, serif;
    color: #102742;
    padding:6px 20px;
    background: url(../img/side_tab_mid.jpg) repeat-x;
    text-decoration: none;
    outline: none;
}
.tabs-nav a:hover, .tabs-nav li.active a{
    background: #FF7400;
    color: white;
}
.tab{
  clear: both;
}
.tabs-nav li.first a{
    background: url(../img/side_tab_left.jpg) no-repeat;
}
.tabs-nav li.last a{
    background: url(../img/side_tab_right.jpg) no-repeat right top;
}
.tabs-nav li.first a:hover{
    background: url(../img/side_tab_lefth.jpg) no-repeat;
}
.tabs-nav li.last a:hover{
    background: url(../img/side_tab_righth.jpg) no-repeat right top;
}
.tabs-nav li.active-first a{
    background: url(../img/side_tab_lefth.jpg) no-repeat;
}
.tabs-nav li.active-last a{
    background: url(../img/side_tab_righth.jpg) no-repeat right top;
}
.tabs-nav a{
  border-left: solid 1px white;
  border-right: solid 1px #C8D3DB;
}
.tabs-nav li.last a{
  border: none;
  border-left: solid 1px white;
}
.tabs-nav li.first a{
  border: none;
  border-right: solid 1px #C8D3DB;
}

.voteUp{
  display: inline-block;
  padding: 1px 0 1px 20px;
  background: url(../img/ico.voteup.jpg) no-repeat;
  cursor: pointer;
}
.voteDown{
  display: inline-block;
  padding: 1px 0 1px 20px;
  background: url(../img/ico.votedown.jpg) no-repeat;
  cursor: pointer;
}
#Learning-Center-Tabs li a{
  padding-left:28px;
  padding-right: 27px;
}


.tabs-holder li{
  list-style: none;
}
.side-tabs .author{
  font: 11px Verdana, Arial, serif;
  color: #146EB4;
  text-decoration: none;
  float: left;
  display: inline-block;
  width:200px;
}
.side-tabs .author:hover{text-decoration: underline;}
.side-tabs .tab{
  height: 493px;
  overflow: hidden;
}
.side-tabs .tab li{
  /* padding: 14px 7px 14px 14px; */
  padding: 10px 7px 10px 10px;
  position: relative;
  zoom:1;
  overflow: hidden;
  border-bottom: dotted 1px #D6D6D6;
}
.side-tabs .tab li:last-child{
  border-bottom: none;
}
.side-tabs .tab h2{
  color:#393939;
  font: 18px Verdana, Arial, serif;
  clear: both;
  float: left;
  width: 282px;
}
.side-tabs .tab h2 a{
  color:#393939;
  font: 18px Verdana, Arial, serif;
  text-decoration: none;
}
.side-tabs .tab h2 a:hover{
  color:#0F0F0F;
  font: 18px Verdana, Arial, serif;
  text-decoration: none;
}




.side-tabs .voteUp{
    float:right;
}
.side-tabs .tab{
  width: 299px;
  border: solid 1px #D6D6D6;
}
#home-featured-articles-wrapper{
  height: 290px;
  border-bottom: 1px dotted #D6D6D6;
}


#home-featured-articles{
  width: 580px;
  height: 240px;
  overflow: hidden;
  position: relative;
  zoom:1;
  margin: 0 auto;
}
#featured-articles-slider{
  width: 3020px;
  height: 240px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
}
.home-featured-article{
  float: left;
  width: 580px;
  padding-top: 30px;
  margin-right: 20px;
}
.faimage{
  display: block;
  float: left;
  width: 125px;
  height: 84px;
  border: solid 4px #E8EDF0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 4px 10px 5px 0;
}

.home-featured-article h3{
  color: #146EB4;
  font-size: 18px;
  text-decoration: none;
  padding-bottom: 4px;
}
.home-featured-article h3 a{
  color: #146EB4;
  font-size: 18px;
  text-decoration: none;
}
span.date{
  display: block;
  padding-bottom:4px;
  font: italic 11px Verdana, Arial, serif;
  color: #146EB4;
}
.comments-date{
  padding-left: 19px;
  background: url(../img/ico.comments_date.jpg) no-repeat 0 1px;
}


.home-featured-article p{
  padding-bottom: 5px;
}

#home-featured-articles-wrapper ul{
  list-style: none;
  padding-left: 35px;
}
#home-featured-articles-wrapper li{
    float: left;
    cursor: pointer;
    width:32px;
    padding: 3px 0 5px 0;
    text-align: center;
    color: #505050;
}
#home-featured-articles-wrapper li:hover, #home-featured-articles-wrapper li.active, #home-featured-articles-wrapper li.hover{
  background: url(../img/fpaging.jpg) no-repeat;
  color: white;
}

.paging{
  list-style: none;
  padding-left: 35px;
  margin: 20px 0;
}
.paging li{
    float: left;

}
.paging li a{
    display: block;
    width:32px;
    padding: 3px 0 5px 0;
    text-align: center;
    color: #505050;
}
.paging li.active a, .paging li a:hover{
  background: url(../img/fpaging.jpg) no-repeat;
  color: white;
}

.home-featured-article div{
  overflow: hidden;
  zoom:1;
  padding:14px 0 0 0;
}

.comments-link{
  padding: 0px 0 2px 19px;
  background: url(../img/ico.comments.jpg) no-repeat;
}
.comments-link-big{
  padding: 6px 0 3px 30px;
  background: url(../img/ico.comments.big.jpg) no-repeat;
}
.home-featured-article .comments-link{
  text-decoration: underline;
  color:#3381E6;
  text-transform: uppercase;
  font-size: 11px;
  margin-right: 11px;
  float: left;
}
.home-featured-article .comments-link:hover{
  text-decoration: none;
}
.home-featured-article .voteUp{
  text-decoration: underline;
  color:#3381E6;
  text-transform: uppercase;
  font-size: 11px;
  margin-right: 11px;
}

#footer-scripts{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  left: -10px;
  bottom: -10px;
}
.addthis_button_compact{
  display: inline-block;
  background: url(http://s7.addthis.com/static/t00/logo1414.gif) no-repeat;
  text-decoration: underline;
  color:#3381E6;
  text-transform: uppercase;
  font-size: 11px;
  padding: 1px 0 1px 19px;
}
.addthis_button_compact span{
  position: absolute;
  opacity:0;
  filter:alpha(opacity=0);
}
#at_pspromo{
  display: none !important;
}

.main-padding{
    padding: 14px 14px 14px 35px;
    zoom:1;
}
.main-padding:after{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;

}
.border-bottom{border-bottom: dotted 1px #c2c2c2;}
.border-left{border-left: dotted 1px #c2c2c2;}
.border-right{border-right: dotted 1px #c2c2c2;}
.border-top{border-top: dotted 1px #c2c2c2;}

.pop-side ul{
  list-style: none
}
.pop-side{
  border-left: dotted 1px #c2c2c2;
  border-bottom: dotted 1px #c2c2c2;
  overflow: hidden;
  zoom:1;
  padding-bottom: 7px;
  clear: both;
}
.pop-side li{
  padding: 10px;
  border-bottom: dotted 1px #c2c2c2;
}
.pop-side li:last-child{
 border-bottom: dotted 0px #c2c2c2;
}
.pop-side li .img{
  display: block;
  float: left;
  width: 60px;
  height: 80px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center top;
  margin-right: 7px;
}
.pop-side li h3{
  font: bold 14px Verdana, Arial, serif;
  color:#464646;
}
.pop-side li h3 a{
  font: bold 14px Verdana, Arial, serif;
  color:#464646;
  text-decoration: none;
}
a.ask-a-question{
  display: block;
  width:334px;
  height: 89px;
  overflow: hidden;
  background: url(../img/ask_question_add.jpg) no-repeat;
  text-indent: -9999px;
}
a.ask-a-question:hover{
    background-position: 0 -90px;
}
.facebook-become-fan{
  display: block;
  float: left;
  background: url(../img/facebook_become_fan.jpg) no-repeat;
  width: 130px;
  height: 32px;
  overflow: hidden;
  text-indent: -9999px;
}
.twitter-follow-us{
  display: block;
  float: right;
  background: url(../img/twitter_follow_us.jpg) no-repeat;
  width: 132px;
  height: 32px;
  overflow: hidden;
  text-indent: -9999px;
  margin-right: 10px;
}

#user-top{
  float: right;
  width: 310px;
  margin-top: 8px;
}

#user-top .img{
  display: block;
  float: left;
  width: 62px;
  height: 54px;
  overflow: hidden;
  background: url(../img/user_top_border.jpg) no-repeat;
  margin-right: 10px;
}
#user-top .img span{
  display: block;
  float: left;
  margin: 1px;
  width: 60px;
  height: 52px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center top;
}
#user-top span{
  color:#6A6A6A;
  display: block;
  padding-top: 9px
}
#user-top div{
  padding-top: 7px;
}
.inbox{
  padding-left: 20px;
  background: url(../img/ico.inbox.jpg) no-repeat;
  color:
}
.hasInbox{
  font-weight: bold !important;
}
#user-top div a{
  color:#146EB4;
  text-decoration: none;
  font-size: 11px;
}
#user-top div a:hover{
  text-decoration: underline;
}

#profile-sidebar{
  float: left;
  width: 235px;

}
.about-sidebar-block{
  padding-left:27px;
  padding-bottom: 5px;
}
.profile-image{
  display: block;
  width: 204px;
  height:177px;
  background-repeat: no-repeat;
  background-position: center top;
  border: solid 1px #B6B6B6;

}

a.profile-ico{
  display: inline-block;
  font: 12px Verdana, Arial, serif;
  color:#2478B9;
  text-decoration: none;
  background-repeat: no-repeat;
}
a.profile-ico:hover{
  text-decoration: underline;
}

.profile-title{
  width: 207px;
  padding-left: 38px;
  height:36px;
  padding-top: 18px;
  position: relative;
  background: #F4F6F7 url(../img/profile_title_angle.jpg) no-repeat;
  position: relative;
  left: -8px;
  font: 24px Verdana, Arial, serif;
  color: #102742;

}

.youtube-ico{
  padding:5px 0 6px 31px;
  background: url(../img/ico.youtube.png) no-repeat;
  -background: none;
  -filter:expression("progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + imgurl + "ico.youtube.png', sizingMethod='crop')");
}
.twitter-ico{
  padding:5px 0 9px 31px;
  background: url(../img/ico.twitter2.png) no-repeat;
  -background: none;
  -filter:expression("progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + imgurl + "ico.twitter2.png', sizingMethod='crop')");
}
.facebook-ico{
  padding:5px 0 6px 31px;
  background: url(../img/ico.facebook2.png) no-repeat;
  -background: none;
  -filter:expression("progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + imgurl + "ico.facebook2.png', sizingMethod='crop')");
}
.world-ico{
  padding:1px 0 3px 20px;
  background: url(../img/ico.world.jpg) no-repeat;
}


.value-factor{
  float: right;
  width: 85px;
  text-align: justify;
  color:#83BA4E;
  cursor: default;
}
.value-factor strong{
  display: block;
  font-size: 28px;
  font-weight: normal;
}
.about-sidebar-block .profile-ico{
  margin: 5px 0;
}

.about-list{
  list-style: none;
}
.about-list li{
  padding-bottom: 5px;
}
.profile-gallery-list{
  list-style: none;
  padding:20px 0 5px 0;
}
.profile-gallery-list li{
    overflow: hidden;
    zoom:1;
    padding-bottom:6px;
}
.profile-gallery-list li .img{
    float: left;
    display: block;
    width: 69px;
    height: 69px;
    background-position: center top;
    background-repeat: no-repeat;
    background-color:#949494;
    overflow: hidden;
    margin-right:6px;
}
.profile-gallery-list li a{
  text-decoration: none;
  color: #146EB4;
}










.profile-products{
  list-style: none;
  padding:20px 0 5px 0;
}
.profile-products li{
    overflow: hidden;
    zoom:1;
    padding-bottom:6px;
}
.profile-products-border li{
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: dotted 1px #c2c2c2
}


.profile-products .img{
    float: left;
    display: block;
    width: 89px;
    height: 78px;
    background-position: center top;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-right:6px;
    border: solid 1px #B7B7B7;
}
.profile-products li a{
  text-decoration: none;
  color: #146EB4;
}
.profile-products li h3 a{
  color: #5A5A5A;
  font: bold 14px Verdana, Arial, serif;
}
.profile-products li h3{
  padding-bottom: 5px;
  font: bold 14px Verdana, Arial, serif;
  color: #5A5A5A;
}
#profile-main{
  float: right;
  width:715px;
  margin-right: 30px;
  -margin-right: 15px;

}

#about-nav{
  list-style: none;
  width: 715px;
  background:#E7ECEF;
  overflow: hidden;
  zoom:1;
  margin-bottom: 17px;
}
#about-nav li{
  float: left;
}
#about-nav a{
  display: block;
  text-align: center;
  text-decoration: none;
  color: #505050;
  padding:8px 14px;
  text-transform: uppercase;
}
#about-nav a:hover, #about-nav li.active a{
    background: #102541 url(../img/nav_hover.jpg) no-repeat center center;
    color: white;
}
.status{
  color: #16304F;
  font: 15px Verdana, Arial, serif;
  overflow: hidden;
  zoom:1;
  padding-left: 90px;
  background: #EDEDED url(../img/my_status.jpg) no-repeat left center;
}


.status p{
  width:615px;
  overflow: hidden;
  padding: 4px 0 4px 0;
}
.name-title{
  font: 24px Verdana, Arial, serif;
  color: #262626;
}
.name-title a{
  font: 24px Verdana, Arial, serif;
  color: #262626;
  text-decoration: none;
}

#follow-block{
  float: right;
  width: 485px;
  text-align: right;
  white-space: nowrap;
}
#follow-block a{
  float: right;
  margin-top: 4px;
}
#follow-block .following{
  position: relative;
  top: -3px;
}


.follow-me{
  display: inline-block;
  font:11px Verdana, Arial, serif;
  text-decoration: none;
  color: #262626;
  padding:2px 0 7px 31px;
  background: url(../img/ico.follow.jpg) no-repeat;
}
.followers{
  display: inline-block;
  padding:3px 0 0px 32px;
  background: url(../img/ico.followers.jpg) no-repeat;
  text-decoration: none;
  color:#146EB4;
}
.following{
  display: inline-block;
  padding:5px 0 2px 30px;
  background: url(../img/ico.following.jpg) no-repeat;
  text-decoration: none;
  color:#146EB4;
}
#follow-block a{
  margin-left: 10px;
  margin-top: 20px;
}
.in-content-title{
  clear: both;
  height:30px;
  padding: 6px 0 0 17px;
  background:#E7ECEF;
  font-weight: normal;
  color: #102742;
  position: relative;
}
.in-content-title-ico span, .in-content-title-ico a.profile-ico{
    float: left;
    margin-right: 10px;
}
.in-content-title-ico span{
  margin-top: 5px;
  font: 12px Verdana;
}


.post-title{
  font: 18px Verdana, Arial, serif;
  color: #146EB4;
  display: block;
}
.post-title a{
  font: 18px Verdana, Arial, serif;
  color: #146EB4;
  text-decoration: none;
}
.post .img{
  float: left;
  margin: 0 7px 1px 0;
}
.post{
  padding: 9px 0 9px 27px;
  zoom:1;
  border-bottom: dotted 1px #D6D6D6;
}

#demo_side_form{
  width: 331px;
  min-height: 425px;
     -height: 425px;
  background: url(../img/demo_get_cd.jpg) no-repeat;
  position: relative;
  margin-top: 3px;
}
.category-nav{
  list-style: none;
  border-bottom: 1px dotted #D6D6D6;
}
.category-nav li{
  list-style: none
}
.category-nav li ul{
  list-style: none
}
.category-nav li a{
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 20px;
}
.category-nav li li a{
  padding-left:55px;
}
.category-nav li a:hover{
  background:#EDF4FA;
}
.category-nav li.active a, .category-nav li.active a:hover{
  background:#136EB4;
  color: white;
}
.border-right #popular-slider li{
  padding-right: 1px;
}

.titleleft,
.titleright{
    display: block;
    position: absolute;
    top: -3px;
    width: 5px;
    height:40px;
}
.titleleft{
  left: -5px;
  background: url(../img/title_left.jpg) no-repeat;
}
.titleright{
  right: -5px;
  background: url(../img/title_right.jpg) no-repeat;
}
.list{
  border: solid 1px #E9E9E9;
  border-top: none;
  padding: 10px;
  zoom:1;
  overflow: hidden;
}
.list li{
  list-style: none;
  padding-bottom: 5px;
}
.list li a:hover{text-decoration: underline;}
a.more{
  padding-left:9px;
  background: url(../img/more.jpg) no-repeat 0 3px;
}
a.more:hover{
  text-decoration: underline;
}
.twitterbox{
  width: 330px;
  margin: 20px auto 0 auto;
}
.twitterbox h2{
  float: left;
  width: 330px;
  height: 94px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: url(../img/twitter_box.jpg) no-repeat left bottom;
  color:#102742;
  font:22px Verdana,Arial,serif;
  text-transform:capitalize;
}
.twitterbox div{
  border: solid 1px #E2E2E2;
  border-top: none;
  padding: 10px;
  clear: both;
}
.comment{
  zoom:1;
  overflow: hidden;
  padding-bottom:5px;
  border-bottom: dotted 1px #c2c2c2;
  padding-top: 5px;
}


.comment .img{
  display: block;
  float: left;
  width: 46px;
  height: 45px;
  background: url(../img/comments_no_image.jpg) no-repeat;
  margin-right: 7px;
  margin-bottom: 1px;
  overflow: hidden;
}
.comment .img span{
  display: block;
  float: left;
  width: 38px;
  height: 38px;
  background-repeat: no-repeat;
  background-position: center top;
  margin:3px 0 0 4px;
  overflow: hidden;
}
.comment .post-title{
  display: inline;
  padding-right: 5px;
}
.comment .date{
  display: inline;
}
#comments h2{
  font: 22px Verdana, Arial, serif;
  color: #102742;
  padding: 0 0 12px 58px;
  background: url(../img/ico.comments.big.jpg) no-repeat 7px 4px;
  border-bottom: dotted 1px #c2c2c2;
}
#comment-form{
  padding-left: 28px;
  width: 490px;
}


#comment-form .input{
  float: left;
  width: 220px;
  margin-right:18px;
}
#comment-form .input label{
  display: block;
  font: 12px Verdana;
  color: #09192F;
  padding-bottom: 2px;
}
#comment-form .input input{
  border: solid 1px #B4B4B4;
  padding: 3px;
  width: 212px;
}
#comment-form h2{
  padding: 24px 0 12px 0;
  color: #102742;
  font-size:14px;

}
#comment-form .type-submit{
  float: right;
  width: 80px;
  text-align: center;
  border: none;
  background:#102742;
  color: white;
  cursor: pointer;
  padding: 5px 0;
  margin-right: 32px;
  margin-top: 20px;
}
.not-a-member{
  height: 17px;
  padding: 5px;
  background: #111;
  color: #F6DA6A;
}
.not-a-member a{
  color: #F6DA6A;
  float: left;
  margin: 0 10px;
}
a.join-free{
  display: block;
  float: right;
  width: 70px;
  height: 15px;
  padding-top: 2px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  color: white;
  background: url(../img/itsfree.jpg) no-repeat;
}
.not-a-member a em{
  font-style: normal;
  color:#F69B6A;
}


























