/* Stylesheet for my demo pages for jScrollPane - these styles aren't necessary for using jScrollPane and aren't specific to any particular example */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
}

#new-version
{
	border: 2px solid #f00;
	margin: 1em 0;
	padding: .5em 1em 0;
	background: #ffe;
}

#new-version h1
{
	margin-top: 0;
}

a.jScrollArrowUp {
	background: url(../images/basic_arrow_up.gif) repeat-x 0 0;
}
a.jScrollArrowUp:hover {
	background-position: 0 -15px;
}
a.jScrollArrowDown {
	background: url(../images/basic_arrow_down.gif) repeat-x 0 0;
}
a.jScrollArrowDown:hover {
	background-position: 0 -15px;
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
	background-position: 0 -30px;
}


.orange-bar .jScrollPaneTrack {
	background: #f60;
}
.orange-bar .jScrollPaneDrag {
	background: #00f url(../images/drag_grab.gif) no-repeat 50% 50%;
}
.orange-bar .scroll-pane {
	background: #69f;
}
			
.holder {
	
}

.scroll-pane {
	width: 255px;
	height: 255px;
	margin-right:2px;
	overflow: auto;
	
	float: left;
}

.wide {
	width: 400px;
}

.super-wide {
	width: 700px;
}

.tall {
	height: 400px;
}

#pane1 {
}
#pane2 {
	height: 150px;
}
#pane3 {
	height: 190px;
}
#pane4 {
	height: 190px;
}


.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
	background: url("../images/bckgrScrollbar.png") 0px 0px repeat-y;
	
	width:16px !important;
}
.jScrollPaneDrag {
	position: absolute;
	left:3px;
	background: #c8c8c8;
	cursor: pointer;
	overflow: hidden;
	border-top:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
}
.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
a.jScrollArrowUp {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0px;
	text-indent: -2000px;
	overflow: hidden;
	background: url("../images/scrollArrowTop.png") 0px 0px no-repeat;
	height: 14px;
	width:16px !important;
}
a.jScrollArrowUp:hover {
	background: url("../images/scrollArrowTop.png") 0px 0px no-repeat;
}

a.jScrollArrowDown {
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	background: url("../images/scrollArrowBottom.png") 0px 0px no-repeat;
	height: 14px;
	width:16px !important;
}
a.jScrollArrowDown:hover {
	background: url("../images/scrollArrowBottom.png") 0px 0px no-repeat;
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
	/*background-color: #f00;*/
}