@font-face {
 font-family: 'MyriadProBold';
 src: url('myriadpro-bold-webfont.eot');
 src: url('myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('myriadpro-bold-webfont.woff') format('woff'), url('myriadpro-bold-webfont.ttf') format('truetype'), url('myriadpro-bold-webfont.svg#MyriadProBold') format('svg');
 font-weight: normal;
 font-style: normal;
}
body {
	margin:0px;
	/*	background-image: url(../images/bg.jpg);*/
	background-repeat: repeat;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#4F4F4F
}
.top_stripe {
	width:100%;
	height:45px;
	float:left;
	background-color:#2D2D2D;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #F49C32;
}
.top_line {
	width:100%;
	background-color:#ffffff;
	opacity:0.7;
	float:left;
	height:1px;
}
.top_content {
	width:982px;
	height:45px;
}
.join, a.join {
	width:240px;
	height:45px;
	float:left;
	text-align:left;
	background-image: url(../images/join.png);
}
.header_user_box {
	width:255px;
	height:45px;
	float:left;
	text-align:left;
	line-height:45px;
}
.header_user_box_in {
	color: #666;
	font-size: 11px;
	line-height: 25px;
	font-weight: bold;
	background-color: #444;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	display: block;
	text-shadow: 0 -1px rgba(0, 0, 0, .2);
	box-shadow: 0 0 0 1px rgba(255, 255, 255, .2) inset;
	-moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, .2) inset;
	-webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, .2) inset;
	border: 1px solid black;
	border-image: initial;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-top: 4px;
	margin-right: 9px;
	margin-bottom: 0;
	margin-left: 9px;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	width:180px;
}
.header_user_box_in a {
	color: #CCC;
	font-size: 12px;
	font-weight: bold;
	text-decoration:none;
	padding-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
}




















.header_user_box_in2 {
	color: #666;
	font-size: 11px;
	line-height: 25px;
	font-weight: bold;
  float:left;
	 
 
	display:inline-block; 
	text-shadow: 0 -1px rgba(0, 0, 0, .2);
 	 
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-top: 4px;
	margin-right: 9px;
	margin-bottom: 0;
	margin-left: 9px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	width:150px;
}





















.caption {
	width:295px;
	height:35px;
	float:left;
	text-align:left;
	padding-top:15px;
	color:#EF8335;
	font-weight:normal;
	letter-spacing:1px;
}

.caption_wide {
	width:347px;
	height:35px;
	float:left;
	text-align:left;
	padding-top:15px;
	color:#EF8335;
	font-weight:normal;
	letter-spacing:1px;
}
.likethis {
	width:81px;
	height:45px;
	float:left
}
.like_box {
	float: left;
    height: 23px;
    margin-top: 12px;
    width: 158px;
	overflow:hidden;
	margin-right:10px;
}
.buzz, a.buzz {
	width:37px;
	height:37px;
	float:left
}
.chat_text, a.chat_text {
	width:121px;
	height:29px;
	float:left;
	margin-top:8px;
	text-align:left;
	color:#F6AC3C;
	font-size:12px;
	font-family:Verdana;
	margin-left:7px;
	text-decoration:none;
}
.wrapper {
	width:100%;
	height:auto;
}
.container {
	height: auto;
	width: 982px;
}
.header {
	width:982px;
	height:100px;
	margin:auto
}
.logo {
	width:209px;
	height:76opx;
	float:left;
	margin-top:11px;
}
.ad {
	width:728px;
	height:90px;
	float:left;
	margin-top:10px;
	margin-left:43px;
}
.nav {
	width:982px;
	height:52px;
	float:left;
	margin-top:14px;
	background-image: url(../images/navbg.png);
}
.nav ul {
	padding:0px;
	margin:0px;
}
.nav ul li {
	display:inline;
	list-style:none;
	font-family: 'MyriadProBold';
	;
	font-size:16px;
	color:#555555;
	float:left;
	text-transform:uppercase
}
.nav ul li.active {
	background-image: url(../images/butbg.jpg);
	background-repeat: repeat-x;
}
.nav ul li a {
	color:#555555;
	text-decoration:none;
	padding-left:15px;
	padding-right:15px;
	padding-top:20px;
	height:32px;
	float:left
}
.nav ul li a:hover {
	text-decoration:none;
	height:32px;
	padding-top:20px;
	background-image: url(../images/butbg.jpg);
	background-repeat: repeat-x;/*border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #ffffff;
	border-left-color: #ffffff;*/
}
.nav ul li a.active {
	text-decoration:none;
	height:32px;
	padding-top:20px;
	background-image: url(../images/butbg.jpg);
	background-repeat: repeat-x;
}
.nav ul li:first-child {
	padding-left:9px;
	height:32px;
	width:88px;
	border:none;
}
.nav ul li:first-child:hover {
	padding-left:9px;
	height:32px;
	width:88px;
	padding-bottom:20px;
	background-image: url(../images/home_but.png);
}
.nav ul li:first-child.active {
	padding-left:9px;
	height:32px;
	width:88px;
	padding-bottom:20px;
	background-image: url(../images/home_but.png);
}
/*
.nav ul li:last-child{
	padding-right:9px;
	height:32px;
	width:131px;border:none;
	
	
}
.nav ul li:last-child:hover{
	padding-right:12px;
	height:32px;
	width:131px;
	padding-bottom:20px;
	background-image: url(../images/contcat_but..png);
	background-position: right top;	
}

.nav ul li:last-child.active{
	padding-right:12px;
	height:32px;
	width:131px;
	padding-bottom:20px;
	background-image: url(../images/contcat_but..png);
	background-repeat:no-repeat;
	background-position: right top;	
}
*/

.banner_box {
	width:982px;
	height:auto;
	float:left;
	background-image: url(../images/banner_box_bg.png);
	background-repeat: repeat-y;
	 
}
.banner_box_bot {
	width:982px;
	height:7px;
	float:left;
	background-image: url(../images/banner_box_bot.png);
}
.banner {
	width:684px;
	height:279px;
/*	float:left;*/
	margin-left:4px;
	overflow:hidden;
}
.loginbox {
	width:290px;
	height:279px;
	float:left;
	background-image: url(../images/loginbg.png);
}
.login_tit {
	width:138px;
	height:38px;
	float:left;
	color:#4B4B4B;
	font-size:18px;
	text-align:left;
	margin-left:25px;
	margin-top:21px;
}
#new_reg {
	 
	height:39px;
	float:left;
	text-align:left;
	color:#EE6217;
	font-size:14px;
	font-family: 'MyriadProBold';
	text-decoration:none;
	margin-top:10px;
	font-stretch:condensed;
	margin-left:50px;
}
a#new_reg:hover {
	text-decoration:none;
	color:#333333
}
.login_box {
	width:224px;
	height:31px;
	float:left;
	margin-left:25px;
	background-image: url(../images/textboxbg.png);
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding:5px;
	color:#4B4B4B;
	font-size:14px;
	font-style:italic
}
.rememberbox {
	width:234px;
	height:35px;
	float:left;
	margin-top:17px;
	margin-left:25px;
}
.radio_but {
	width:13px;
	height:13px;
	float:left;
	margin-left:18px;
	background-image: url(../images/radiobg_.png);
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.remember_text {
	width:189px;
	height:35px;
	float:left;
	text-align:left;
	font-style:italic;
	float:left;
	margin-left:10px;
	font-size:12px;
}
.signin_but {
	width:116px;
	height:42px;
	float:left;
	margin-left:86px;
	margin-top:9px;
}
.scrollingbuts {
	width:982px;
	height:57px;
	float:left;
	margin-top:19px
}

.scrollingbuts a{
 text-decoration:none;	
}
.scrollbut {
	padding-left:20px;
	height:57px;
	float:left;
	background-image: url(../images/but_bg_clean.png);
	background-position: left top;
	border:none;
}
a.scrollbut:hover {
	background-position:bottom
}
#scrollbut_1 {
	width:139px;
	height:57px;
	float:left;
	/*	background-image: url(../images/but_7.png);*/



	 background-image: url(../images/but_bg_clean.png);
	background-position: left top;
	border:none;
}
#scrollbut_2 {
	width:150px;
	height:57px;
	float:left;
	background-image: url(../images/but_1_new.png);
	background-position: left top;
	border:none;
}
#scrollbut_3 {
	width:126px;
	height:57px;
	float:left;
	background-image: url(../images/but_2.png);
	background-position: left top;
	border:none;
}
#scrollbut_4 {
	width:132px;
	height:57px;
	float:left;
	background-image: url(../images/but_3.png);
	background-position: left top;
	border:none;
}
#scrollbut_5 {
	width:121px;
	height:57px;
	float:left;
	background-image: url(../images/but_4.png);
	background-position: left top;
	border:none;
}
#scrollbut_6 {
	width:133px;
	height:57px;
	float:left;
	background-image: url(../images/but_5.png);
	background-position: left top;
	border:none;
}
#scrollbut_7 {
	width:125px;
	height:57px;
	float:left;
	background-image: url(../images/but_6.png);
	background-position: left top;
	border:none;
}
.text_div {
	float:right;
	text-transform:uppercase;
	color:#555555;
 font-family: font-family:Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	margin-right:14px;
	color: #555555;
	float: right;
	font-size: 14px;
	font-weight: bold;
	height: 150px;
	min-width: 44px;
	padding-right: 14px;
	padding-top: 20px;
	text-decoration: none;
	text-transform: uppercase
}
a#scrollbut_1:hover, a#scrollbut_2:hover, a#scrollbut_3:hover, a#scrollbut_4:hover, a#scrollbut_5:hover, a#scrollbut_6:hover, a#scrollbut_7:hover {
	background-position:bottom
}
/****************scrolling but css *****************/

.bx-prev {
	background-image: url(../images/scroll_but_left.png);
	width:26px;
	height:57px;
	background-repeat:no-repeat;
	text-indent:-9999px;
	float:left;
	position:relative;
	margin-top:-57px;
}
.bx-next {
	background-image: url(../images/scroll_but_rt.png);
	width:27px;
	height:57px;
	background-repeat:no-repeat;
	text-indent:-9999px;
	float:left;
	margin-left:957px;
	position:relative;
	margin-top:-58px;
}
.bx-window {
	width:982px !important;
	margin-left:0px;
	float:left;
	margin-left:0px;
}
.bx-wrapper {
	width:982px !important;
	position:relative
}
.bx-window ul li {
	width:auto !important;
}
/**************scrolling but css end **************/

.products_container {
	width:959px;
	height:auto;
	float:left;
	background-image: url(../images/products_container_bg.png);
	background-repeat: repeat-y;
	padding-left:23px;
	padding-top:30px;
}
.product_container_bot {
	width:982px;
	height:13px;
	float:left;
	background-image: url(../images/product_container_bot.png);
}
.prodbox {
	width:221px;
	height:auto;
	float:left;
	margin-right:17px;
}
.prod_bg {
	width:221px;
	height:155px;
	float:left;
	background-image: url(../images/prod_bg.png);
	text-align:center
}

.prod_bg_img, a.prod_bg_img {
	width:220px;
	height:143px;
	margin:0px;
	 display:block;
	 background-repeat:no-repeat;
	 background-position:center center;
	 
	 border-radius: 10px; 
-moz-border-radius: 10px; 
-webkit-border-radius: 10px; 
border: 0px solid #999;
	 
	 
 
}


.prod_text, a.prod_text {
	width:221px;
	hight:20px;
	float:left;
	text-align:center;
	color:#ED6517;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	float:left;
}
.prod_all_container {
	width:959px;
	height:175px;
	float:left;
	margin-bottom:10px;
}
#selectall {
	width:194px;
	height:20px;
	float:left;
	margin-left:646px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#ED6517;
	padding-left:20px;
	background-image: url(../images/arr.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	text-decoration:none;
}
a#selectall:hover {
	color:#000000;
	text-decoration:none;
}
.box3 {
	width:982px;
	height:auto;
	float:left;
	margin-top:13px;
}
.logn_small_boxc {
	margin-top:11px; 
}

.box3_logged {
      
  background-image: url("../images/box3_bg_logged.jpg");
    background-repeat: no-repeat;
    float: right;
    height: 274px;
    margin-top: 10px;
    width: 287px;
}


.box3_top {
	width:982px;
	height:12px;
	float:left;
	background-image: url(../images/box3_top.png);
}
.box3_mid {
	width:973px;
	height:auto;
	float:left;
	background-image: url(../images/box3_mid.png);
	background-repeat: repeat-y;
	padding-left:9px;
}
.box3_bot {
	width:982px;
	height:8px;
	float:left;
	background-image: url(../images/box3_bot.png);
}
.box3_about {
	width:312px;
	height:197px;
	float:left;
	background-image: url(../images/box3_bg.png);
	margin-right:14px;
}
.box3_tit {
	width:302px;
	height:31px;
	float:left;
	margin-left:8px;
	margin-top:11px;
	color:#ffffff;
	font-size:18px;
	text-align:left;
}
#about_link {
	width:250px;
	height:20px;
	float:left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#ED6517;
	padding-left:20px;
	background-image: url(../images/arr.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	text-decoration:none;
	margin-left:22px;
	margin-bottom:0px;
	text-align:left;
	margin-top:15px;
}
a#about_link:hover {
	color:#000000;
	text-decoration:none;
}


.box3_logged li, .box3_logged ul{
list-style:none;	
}


.box3_logged li a{
		width:150px;
	height:20px;
	float:left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#ED6517;
	padding-left:20px;
	background-image: url(../images/arr.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	text-decoration:none;
	margin-left:-10px;
	margin-bottom:0px;
	text-align:left;
	margin-top:6px;
}


.about_link {
	width:250px;
	height:20px;
	float:left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#ED6517;
	padding-left:20px;
	background-image: url(../images/arr.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	text-decoration:none;
	margin-left:22px;
	margin-bottom:0px;
	text-align:left;
	margin-top:15px;
}
a.about_link:hover {
	color:#000000;
	text-decoration:none;
}


.sponsored_logo {
	width:148px;
	height:56px;
	float:left;
	margin-left:155px;
	margin-top:-50px;
}
.get_sponsored_bg_img {
	width:300px;
	height:150px;
	float:left;
	background-image: url(../images/sponsored_bg.png);
	margin-left:6px;
	margin-top:-2px;
}
.giving {
	width:296px;
	height:45px;
	float:left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#000000;
	text-align:left;
}
.giving_orange {
	color:#F4932C
}
.getmoney_tit {
	width:156px;
	height:53px;
	float:left;
	margin-left:144px;
	background-image: url(../images/gemoney_tit.png);
}
.applynow_but {
	width:114px;
	height:28px;
	float:left;
	margin-top:11px;
	margin-left:186px;
}
.stuff_box {
	width:287px;
	height:29px;
	float:left;
	margin-bottom:5px;
	margin-left:17px;
}
#stuff_link {
	width:autopx;
	height:24px;
	float:left;
	padding-top:5px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#ED6517;
	padding-left:20px;
	background-image: url(../images/arr.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	text-decoration:none;
	margin-left:0px;
	margin-bottom:0px;
	text-align:left;
	margin-top:0px;
}
a#stuff_link:hover {
	color:#000000;
	text-decoration:none;
}
.askyour {
	width:155px;
	height:24px;
	float:left;
	background-image: url(../images/askyour_bg.png);
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#f0f0f0;
	font-style:italic;
	text-align:center;
	padding-top:5px;
	margin-left:5px;
}
.stuffbg {
	width:300px;
	height:145px;
	float:left;
	background-image: url(../images/stuffbg.png);
}
.cool_stuffbg {
	width:138px;
	height:24px;
	float:left;
	background-image: url(../images/cool_stuffbg.png);
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#f0f0f0;
	font-style:italic;
	text-align:center;
	padding-top:5px;
	margin-left:5px;
}
.userfull_thinksbg {
	width:140px;
	height:24px;
	float:left;
	background-image: url(../images/cool_stuffbg.png);
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#f0f0f0;
	font-style:italic;
	text-align:center;
	padding-top:5px;
	margin-left:5px;
	background-repeat: no-repeat;
}
.findnowbg {
	width:84px;
	height:24px;
	float:left;
	background-image: url(../images/findnowbg.png);
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#f0f0f0;
	font-style:italic;
	text-align:center;
	padding-top:5px;
	margin-left:5px;
}
.footer {
	width:982px;
	height:169px;
	float:left;
	margin-top:12px;
	background-image: url(../images/footerbg.png);
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	padding-top:23px;
	color:#ffffff
}
.footer a {
	color:#ffffff !important;
	text-decoration:none;
	float:left;
	width:100%;
	height:18px;
}
.footer a:visited {
	color:#ffffff;
	text-decoration:none
}
.footer a:hover {
	color:#000000;
	text-decoration:none;
	background-color:#FF8B16
}
.footer_blk_1 {
	width:177px;
	height:auto;
	float:left;
	margin-left:37px;
	text-align:left
}
.footer_blk_2 {
	width:157px;
	height:auto;
	float:left;
	margin-left:37px;
	text-align:left
}
.footer_blk_3 {
	width:147px;
	height:auto;
	float:left;
	margin-left:37px;
	text-align:left
}
.footer_blk_4 {
	width:121px;
	height:auto;
	float:left;
	margin-left:37px;
	text-align:left
}
.footer_blk_5 {
	width:156px;
	height:auto;
	float:left;
	margin-left:37px;
	text-align:left
}
.footer_subhead {
	font-size:12px;
	font-weight:bold;
	height:25px;
	text-align:left;
	width:100%;
	color:#ffffff
}
.icons {
	width:982px;
	height:31px;
	float:left;
	margin-top:14px;
}
.f_icon {
	width:30px;
	height:31px;
	float:left;
	margin-left:910px;
	margin-right:7px;
}
.t_icon {
	width:30px;
	height:31px;
	float:left
}
.bot_line {
	width:100%;
	height:33px;
	float:left;
	background-color:#2D2D2D;
	border-top: solid 4px #F49C32;
	clear:both;
}
.bot_container {
	width:982px;
	height:auto;
}
.bot_left {
	width:300px;
	height:20px;
	float:left;
	margin-top:10px;
	margin-left:10px;
	font-size:11px;
	color:#F0F0F0;
	text-align:left
}
.bot_left a {
	color:#ED6517;
	text-decoration:none;
}
.bot_left a:visited {
	color:#ED6517;
	text-decoration:none;
}
.bot_left a {
:hovercolor:#ffffff;
	text-decoration:none;
}
.bot_rt {
	width:400px;
	height:20px;
	float:right;
	margin-top:10px;
	margin-left:10px;
	font-size:11px;
	color:#F0F0F0;
	text-align:right
}
.bot_rt a {
	color:#ffffff;
	text-decoration:none;
}
.bot_rt a:visited {
	color:#fffff;
	text-decoration:none;
}
.bot_rt a:hover {
	color:#ED6517;
	text-decoration:none;
}
.inner_container {
	height: auto;
	width: 982px;
	float:left
}
.inner_container_top {
	width:982px;
	height:11px;
	float:left;
	background-image: url(../images/inner_content_bg_top.png);
}
.inner_container_mid {
	width:982px;
	height:auto;
	background-image: url(../images/inner_content_bg_mid.png);
	background-repeat: repeat-y;
	float:left
}
.inner_container_bot {
	/*width:982px;
	height:65px; 
	background-image: url(../images/inner_content_bg_bot.png);
	background-repeat: no-repeat;*/
	display:block;
}
.inner_left {
	width:231px;
	height:auto;
	float:left;
	padding-top:29px;
}
.inner_rt {
	width:693px;
	height:auto;
	float:left;
	padding:29px;
	text-align:left
}
.inner_left ul {
	padding:0px;
	margin:0px;
}
.inner_left ul li {
	list-style:none;
}
.inner_left ul li a {
	width:170px;
	height:23px;
	float:left;
	margin-left:14px;
	padding-top:8px;
	font-size:14px;
	padding-left:30px;
	color:#ED6517;
	text-decoration:none;
	text-align:left
}
.inner_left ul li a:hover {
	color:#ffffff;
	font-weight:bold;
	text-decoration:none;
	background-image: url(../images/inner_linkbg_10.png);
}
.inner_left ul li a.current, .inner_left ul li a.active {
	color:#ffffff;
	font-weight:bold;
	text-decoration:none;
	background-image: url(../images/inner_linkbg_10.png);
}
#left_link {
	width:170px;
	height:23px;
	float:left;
	margin-left:14px;
	padding-top:8px;
	font-size:14px;
	padding-left:30px;
	color:#ED6517;
	text-decoration:none;
	text-align:left
}
a#left_link:hover {
	color:#ffffff;
	font-weight:bold;
	text-decoration:none;
	background-image: url(../images/inner_linkbg_10.png);
}
#current {
	color:#ffffff;
	font-weight:bold;
	text-decoration:none;
	background-image: url(../images/inner_linkbg_10.png);
	width:170px;
	padding-left:30px;
	height:23px;
	padding-top:8px;
	float:left;
	margin-left:14px;
	text-align:left
}
.page_tit {
	width:100%;
	/*height:23px;*/
	float:left;
	color:#fe8f01;
	font-size:24px;
	font-weight:bold;
	text-align:left;
}
.page_tit_left {
	width:60%;
	/*height:23px;*/
	float:left;
	color:#4F4F4F;
	font-size:24px;
	font-weight:bold;
	text-align:left;
}

.page_tit_left2 {
	width:60%;
	/*height:23px;*/
	float:left;
	color:#999;
	font-size:18px;
	font-weight:bold;
	text-align:left;
}


.page_tit_right, a.page_tit_right{
	width:30%;
	/*height:23px;*/
	float:right;
	 color:#FFF;
}


.add_new_post, a.add_new_post {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
 
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #cc9f52;
	color:#FFF !important;
}
.add_new_post:hover, a.add_new_post:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
}
.add_new_post:active, a.add_new_post:active {
	position:relative;
	top:1px;
	color:#FFF;
}

.about_banner {
	width:693px;
	height:161px;
	float:left;
	margin-top:44px;
}
.about_content {
	width:693px;
	height:auto;
	text-align:left;
	float:left;
	color:#4F4F4F;
	font-weight:bold;
	margin-top:37px;
}
.like_container {
	width:348px;
	height:20px;
	float:left;
	margin-left:278px;
	margin-top:5px;
	text-align:left;
}
.like_container_cat {
	width:348px;
	height:20px;
	float:left;
	margin-left:50px;
	margin-top:5px;
	text-align:left;
}
.like_but {
	width:45px;
	height:20px;
	float:left
}
.sizebg {
	width:21px;
	height:15px;
	float:left;
	background-image: url(../images/sizebg.jpg);
	padding-left:10px;
	padding-top:5px;
	font-size:9px;
}
.mess_send_but {
	width:50px;
	height:20px;
	float:left;
	margin-left:5px
}
.plus_1 {
	width:24px;
	height:20px;
	float:left;
	margin-left:13px;
}
.no_mess {
	width:15px;
	height:15px;
	float:left;
	padding-left:10px;
	font-size:9px;
	padding-top:5px;
	background-image: url(../images/no_mess.jpg);
}
/******* how it works ***************/


.howit_works_left_img {
	width:210px;
	height:auto;
	margin-left:11px;
	margin-bottom:12px;
}
.sponsored_tit {
	width:230px;
	height:24px;
	font-size:10px;
	font-weight:bold;
	text-align:center;
	margin-top:10px;
	float:left
}
.sponsor_logo {
	width:230px;
	height:auto;
	float:left;
	text-align:center
}
.page_logo {
	width:693px;
	height:67px;
	float:left;
	text-align:left
}
.howit_content {
	width:693px;
	height:auto;
	text-align:left;
	float:left;
	color:#4F4F4F;
	margin-top:15px;
}
.inner_rt a {
	color:#FF8F26;
	text-decoration:none
}
.inner_rt a:visited {
	color:#FF8F26;
	text-decoration:none
}
.inner_rt a:hover {
	color:#000000;
	text-decoration:none
}
/*************KEWL *********/
.agony_blk {
	width:693px;
	height:auto;
	padding-bottom:22px;
	border-bottom:solid 1px #E5E5E5;
	float:left;
	margin-bottom:10px;
	text-align:left
}
.agony_icon {
	width:97px;
	height: auto;
	float:left
}
.agony_rt {
	width:590px;
	height:auto;
	float:left
}
.agony_text {
	width:590px;
	height:auto;
	float:left;
	text-align:left;
	margin-top:15px;
	margin-bottom:10px;
}
#agony_but_left {
	color:#ffffff;
	text-decoration:none;
	background-image: url(../images/agony_but_left.jpg);
	height:23px;
	float:left;
	padding-top:6px;
}
#agony_but {
	color:#ffffff;
	text-decoration:none;
	background-image: url(../images/inner_linkbg_10.png);
	background-repeat: no-repeat;
	height:26px;
	float:left;
	padding-top:6px;
	padding-left:5px;
	min-width:200px;
	text-align:center;
	line-height: 26px;
}
#agony_but_right {
	color:#ffffff;
	text-decoration:none;
	background-image: url(../images/agony_but_right.jpg);
	background-repeat:none;
	height:23px;
	float:left;
	padding-top:6px;
}
a#agony_but:hover {
	color:#000000;
	text-decoration:none
}
.agony_but_left {
	color:#ffffff;
	text-decoration:none;
	background-image: url(../images/agony_but_left.jpg);
	height:23px;
	float:left;
	padding-top:6px;
}
.agony_but {
	color:#ffffff;
	text-decoration:none;
	background-image: url(../images/inner_linkbg_10.png);
	background-repeat: no-repeat;
	height:26px;
	float:left;
	padding-top:6px;
	padding-left:5px;
	min-width:200px;
	text-align:center;
	line-height: 26px;
}
.agony_but_right {
	color:#ffffff;
	text-decoration:none;
	background-image: url(../images/agony_but_right.jpg);
	background-repeat:none;
	height:23px;
	float:left;
	padding-top:6px;
}
a.agony_but {
	color:#FFF !important;
	text-decoration:none;
	line-height:20px !important;
}
a.agony_but:hover {
	color:#000000;
	text-decoration:none
}
/****************** Contact us ****************/

.contactus_text {
	width:900px;
	height:auto;
	float:left;
	text-align:left;
	margin-top:40px;
}
.contact_cols {
	width:910px;
	height:auto;
	float:left;
	margin-top:35px;
}
.contact_col_1 {
	width:192px;
	height:auto;
	float:left;
	margin-right:50px;
	text-align:left;
}
.contact_col_2 {
	width:384px;
	height:auto;
	float:left;
	margin-right:40px;
}
.contact_col_3 {
	width:223px;
	height:auto;
	float:left;
	text-align:left;
	padding-top:10px;
}
.contact_logo {
	width:192px;
	height:73px;
	float:left;
	margin-bottom:20px;
}
.contact_col_1_content {
	width: 181px;
	height:auto;
	float:left;
	padding-left:10px;
	text-align:left
}
.contact_orange {
	color:#F38728;
	float:left
}
.map_iocn {
	width:34px;
	height:45px;
	float:left;
	margin-right:100%
}
.email_but {
	width:383px;
	height:44px;
	float:left;
	margin-top:8px;
	margin-bottom:8px;
}
.thanks_mess {
	width:372px;
	height:42px;
	float:left;
	text-align:left;
	margin-left:7px;
}
.text_box {
	width:357px;
	height:36px;
	float:left;
	padding-left:10px;
	padding-right:10px;
	background-color: transparent;
	background-image: url(../images/textbox_bg.jpg);
	background-repeat: no-repeat;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-bottom:14px;
}
.message_box {
	width:357px;
	height:120px;
	float:left;
	padding:10px;
	background-color: transparent;
	background-image: url(../images/messagebg.jpg);
	background-repeat: no-repeat;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-bottom:14px;
}
.send_message_but {
	width:177px;
	height:46px;
	float:left;
	margin-top:16px;
	margin-left:202px;
}
.contact_cols a {
	color:#4f4f4f;
	text-decoration:none
}
.contact_cols a:visited {
	color:#4f4f4f;
	text-decoration:none
}
.contact_cols a:hover {
	color:#F38728;
	text-decoration:none
}
.be_a_friend {
	width:263px;
	height:63px;
	float:left;
	margin-top:20px;
}
/***************** Money2Study ****************/

.money_container {
	width:982px;
	height:auto;
	float:left;
	background-image: url(../images/products_container_bg.png);
	background-repeat: repeat-y;
	padding-top:30px;
}
.money_page_tit {
	width:100%;
	 
	float:left;
	color:#4F4F4F;
	font-size:23px;
	line-height:24px;
	font-weight:bold;
	text-align:left;
	padding-left:50px;
}
.money_icons {
	width:947px;
	height:70px;
	float:left;
	background-image: url(../images/money_iconsbg.jpg);
	background-repeat: repeat-x;
	margin-top:15px;
	padding-left:34px;
}
#money_icon1 {
	width:66px;
	height:60px;
	float:left;
	background-image: url(../images/money_icon_1.jpg);
	background-position: top;
}
#money_icon2 {
	width:60px;
	height:60px;
	float:left;
	background-image: url(../images/money_icon_2.jpg);
	background-position: top;
}
#money_icon3 {
	width:62px;
	height:60px;
	float:left;
	background-image: url(../images/money_icon_3.jpg);
	background-position: top;
}
#money_icon4 {
	width:62px;
	height:60px;
	float:left;
	background-image: url(../images/money_icon_4.jpg);
	background-position: top;
}
#money_icon5 {
	width:67px;
	height:60px;
	float:left;
	background-image: url(../images/money_icon_5.jpg);
	background-position: top;
}
#money_icon6 {
	width:51px;
	height:60px;
	float:left;
	background-image: url(../images/money_icon_6.jpg);
	background-position: top;
}
#money_icon7 {
	width:46px;
	height:60px;
	float:left;
	background-image: url(../images/money_icon_7.jpg);
	background-position: top;
}
a#money_icon1:hover, a#money_icon2:hover, a#money_icon3:hover, a#money_icon4:hover, a#money_icon5:hover, a#money_icon6:hover, a#money_icon7:hover {
	background-position:bottom
}
.money_icons_logo {
	width:161px;
	height:60px;
	float:left;
	margin-left:330px;
}
.comment {
	width:171px;
	height:70;
	float:left;
	background-image: url(../images/commentbg_11.png);
	color:#ffffff
}
/**************  tool tip **************/ 
a.tt {
	position:relative;
	z-index:24;
	color:#3CA3FF;
	font-weight:bold;
	text-decoration:none;
}
a.tt span {
	display: none;
}
/*background:; ie hack, something must be changed in a for ie to execute it*/
a.tt:hover {
	z-index:25;
	color: #aaaaff;
background:;
}
a.tt:hover span.tooltip {
	display:block;
	position:absolute;
	top:0px;
	left:0;
	padding: 20px;
	width:151px;
	color: #ffffff;
	text-align: center;/*filter: alpha(opacity:90);
	KHTMLOpacity: 0.90;
	MozOpacity: 0.90;
	opacity: 0.90;*/
}
a.tt:hover span.top {
	display: block;
	background-image: url(../images/commentbg.png);
	background-repeat: no-repeat;
	background-position: top;
}
a.tt:hover span.middle { /* different middle bg for stretch */
	display: block;
	padding:10px;
	background-image: url(../images/commentbg.png);
	width:141px;
	height:50px;
	margin-left:20px;
	margin-top:-10px;
	text-align:left;
	font-weight:normal;
	padding-left:20px;
}
a.tt:hover span.bottom {
	display: block;
	padding:3px 8px 10px;
	color: #548912;
	background: url(bubble.gif) no-repeat bottom;
}/***********************/
.money2_page_text {
	width:874px;
	height:38px;
	float:left;
	margin-left:50px;
	text-align:left;
	padding-top:10px;
}
.categories {
	width:920px;
	height:auto;
	float:left;
	margin-top:10px;
	margin-left:52px;
}
.cat_but, a.cat_but{
	width:266px;
	height:249px;
	float:left;
	background-image: url(../images/cat_but.png);
	background-position: top;
	margin-right:46px;
	margin-bottom:26px;
	text-decoration:none !important;
}
.cat_but:hover {
	background-position:bottom;
		text-decoration:none !important;

}
.cat_lable {
	width:234px;
	height:14px;
	float:left;
	text-transform:uppercase;
	color:#ffffff;
	font-size:16px;
	margin-top:14px;
	margin-left:14px;
	text-align:left;
	font-weight:bold;
	margin-bottom:11px;
		text-decoration:none !important;

}
.cat_img {
	width:262px;
	height:120px;
	float:left;
	padding:1px;
	margin-left:1px;
	background-repeat:no-repeat;
	background-position:center center;
}
.cat_text {
	width:248px;
	height:30px;
	float:left;
	text-align:left;
	padding-left:10px;
	margin-top:10px;
	color:#000000;
	text-decoration:none
}
.cat_scroll_icon {
	height:18px;
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}
.browse_cats {
	width:160px;
	height:16px;
	text-align:left;
	color:#FF7F0F;
	margin-top:14px;
	float:left;
	text-align:left;
	color:#FF7F0F;
}
.browse_cat_sm_but {
	width:248px;
	height:30px;
	float:left;
	padding-left:10px;
}
.sm_logo {
	width:72px;
	height:30px;
	float:left;
	background-repeat:no-repeat;
	background-image: url(../images/sm_logo2.jpg);
}

.sm_logo_txt_in {
    color: #333333;
    font-size: 8px;
    font-weight: bold;
    left: 9px;
    position: relative;
    text-align: left;
    top: 2px;
}


.cat_but2, a.cat_but2 {
	width:266px;
	height:249px;
	float:left;
	background-image: url(../images/cat_but.png);
	background-position: top;
	margin-bottom:26px;
	text-decoration:none !important;
}
.cat_but2:hover {
	background-position:bottom
}
.category_bot {
	width:982px;
	height:28px;
	float:left;
	background-image: url(../images/category_bot.png);
}
.money_inner_left {
	width:625px;
	height:auto;
	float:left
}
.money_inner_rt {
	width:300px;
	height:auto;
	float:left;
	margin-left:16px;
}
.choose_cat_lable {
	width:107px;
	height:22px;
	float:left;
	text-align:left;
	margin-top:13px;
	margin-left:19px;
	font-size:11px;
}
.choose_cat_box {
	width:577px;
	height:40px;
	border-bottom:solid 1px #E6E6E6;
	padding-left:48px;
	margin-top:6px;
	float:left;
}
.cat_dropbox {
	width:159px;
	height:22px;
	border:2px solid #EFF0F3;
	margin-top:11px;
	background-color: transparent;
	float:left;
	background-image: url(../images/drop_but.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	margin-left:5px;
}
.drop_but {
	width:17px;
	height:20px;
	float:left;
	margin-left:-19px;
	background-image: url(../images/drop_but.jpg);
	margin-top:12px;
	position:relative
}
.each_cat_box {
	width:625px;
	/*height:194px;*/
	float:left;
	border-bottom:solid 2px #E5E5E5;
	padding-top:29px;
	padding-bottom:10px;
}
.each_cat_box_left {
	width:194px;
	/*	height:194px;*/
	float:left;
	margin-left:46px;
}
.each_cat_box_rt {
	width:375px;
	/*height:194px;*/
	float:left;
	margin-left:10px;
}
.cat_logo {
	width:192px;
	height:126px;
	float:left;
	padding:1px;
	background-image: url(../images/cat_logo_bg.jpg);
	background-repeat:no-repeat;
	background-position:center center;
}
.cat_url {
	width:194px;
	height:20px;
	float:left;
	text-align:left;
	font-weight:bold
}
.cat_url a {
	color:#FF8518;
	text-decoration:none
}
.cat_url a:visited {
	color:#FF8518;
	text-decoration:none
}
.cat_url a:hover {
	color:#000000;
	text-decoration:none
}
.cat_text2 {
	width:100%;
	height:auto;
	float:left;
	text-align:left;
	margin-top:7px;
	margin-bottom:7px;
}
.seethis_offer_but {
	width:194px;
	height:40px;
	float:left
}
.pagination, .paging {
	width:578px;
	height:27px;
	float:left;
	margin-top:27px;
	padding-left:47px;
	margin-bottom:10px;
	list-style:none;
	
}


.paging ul {
	 list-style:none;
}

.paging ul li {
	 float:left;
}


.paging a {
	color:#FF881C;
	font-size:14px;
	text-decoration:none;
	padding-right:5px;
}
.prev, a.prev {
	width:39px;
	height:12px;
	float:left;
	padding-left:19px;
	background-image: url(../images/left_arr.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	color:#FF881C;
	text-align:left;
	text-decoration:none;
	margin-top:5px;
}
.prev:hover, a.prev:hover {
	color:#FF881C;
	text-decoration:underline
}
.next, a.next {
	width:39px;
	/*height:12px;*/
	float:left;
	padding-right:19px;
	background-image: url(../images/rt_arr.jpg);
	background-repeat: no-repeat;
	background-position: right center;
	color:#FF881C;
	text-align:right;/*margin-top:5px;*/
	text-decoration:none
}
.next:hover, a.next:hover {
	color:#FF881C;
	text-decoration:underline;
	font-weight:normal;
}
.page_number {
	width:auto;
	float:left;
	height:27px;
}
.page_number a, a.page_number, a.page_link {
	color:#ff881c;
	text-decoration:none;
	height:20px;
	width:34px;
	float:left;
	padding-top:5px;
	text-align:center
}
.page_number a:hover {
	color:#ffffff;
	font-weight:bold;
	background-image: url(../images/pagination_hover.jpg);
	background-repeat:no-repeat
}
.page_number a.active {
	color:#ffffff;
	font-weight:bold;
	background-image: url(../images/pagination_hover.jpg);
	background-repeat:no-repeat
}
.money_sponsored_text {
	width:300px;
	height:31px;
	float:left;
	border-bottom: none;
	font-size:11px;
	color:#A9A9A9;
	text-align:left;
	padding-top:10px;
	font-weight:bold
}
.sony_img {
	width:298px;
	height:248px;
	float:left;
	border:solid 1px #B6CCA6;
	margin-top:3px;
}
.last10_box {
	width:300px;
	height:auto;
	float:left;
	border-top:solid 2px #F1F1F1;
	margin-top:7px;
	padding-top:7px;
}
.hot_offer_subhead {
	width:295px;
	height:18px;
	float:left;
	background-image: url(../images/blk_or.jpg);
	color:#ffffff;
	text-align:left;
	padding-left:5px;
	padding-top:3px;
	text-transform:uppercase;
	margin-bottom:11px;
}
.hot_offer_rec {
	width:300px;
	height:auto;
	float:left;
	background-image: url(../images/hot_offer_rec_bg.jpg);
	background-repeat: repeat-y;
	margin-bottom:1px;
}
.hot_offer_number {
	width:30px;
	height:auto;
	padding-top:14px;
	text-align:center;
	color:#ffffff;
	float:left;
	padding-bottom:14px;
}
.hot_offer_text {
	width:257px;
	height:auto;
	padding-top:8px;
	padding-bottom:7px;
	margin-left:12px;
	color:#3833B9;
	text-align:left;
	float:left;
	padding-bottom:7px;
}
.subscribe_tit {
	width:296px;
	height:25px;
	float:left;
	color:#ffffff;
	font-size:18px;
	text-align:center;
	text-transform:uppercase;
	background-image: url(../images/subscribe_tit_bg.jpg);
	padding-top:7px;
	font-weight:normal;
}
.subscribebg {
	width:297px;
	height:131px;
	float:left;
	background-image: url(../images/subscribebg.jpg);
	margin-bottom:26px;
}
.subscribe_mail {
	width:232px;
	height:31px;
	float:left;
	margin-top:20px;
	margin-left:37px;
	background-color: transparent;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size:18px;
	color:#4B4B4B;
	font-weight:normal;
}
.subscribe_but {
	width:116px;
	height:48px;
	float:left;
	margin-top:12px;
	margin-left:167px;
}
.money_sponsored_text2 {
	width:300px;
	height:35px;
	float:left;
	border-top:solid 2px #E5E5E5;
	font-size:11px;
	color:#A9A9A9;
	text-align:left;
	padding-top:10px;
	font-weight:bold
}
.sponsor {
	width:125px;
	height:125px;
	float:left;
	margin-left:15px;
	margin-bottom:15px;
}
/*******Shopping center *********/

.shopping_box {
	width:298px;
	height:auto;
	float:left;
	padding-top:10px;
	padding-bottom:10px;
	border:solid 1px #ED6517
}
.shopping_box ul {
	padding:0px;
	margin:0px;
}
.shopping_box ul li {
	list-style:none;
	width:276px;
	height:15px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#ED6517;
	padding-left:20px;
	background-image: url(../images/arr.png);
	background-repeat: no-repeat;
	background-position: left center;
	text-decoration:none;
	margin-bottom:0px;
	text-align:left;
	float:left;
	display:block;
	margin-bottom:5px;
}
.shopping_box ul li a {
	color:#ED6517;
	text-decoration:none;
}
.shopping_box ul li a:hover, .shopping_box ul li a.active {
	color:#ED6517;
	text-decoration:none;
	background-color:#F5F5F5;
	width:276px;
	height:15px;
	float:left;
	padding-top:0px;
	background-image: url(../images/arr.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left:20px;
	margin-left:-20px;
}
.all_cat_but {
	width:142px;
	height:21px;
	float:left;
	margin-left:146px;
	background-image: url(../images/all_cat_but.jpg);
}
.line {
	width:300px;
	height:6px;
	float:left;
	border-bottom:solid 2px #e5e5e5
}
/*************** registration page****************/

.reg_box {
	width:624px;
	height: auto;
	float:left;
	margin-left:145px;
}
.reg_top {
	width:624px;
	height:83px;
	float:left;
	background-image: url(../images/reg_top.jpg);
}

.reg_top2 {
	width:624px;
	height:41px;
	float:left;
	background-image: url(../images/reg_top2.jpg);
}
.reg_mid {
	width:624px;
	height:auto;
	float:left;
	background-image: url(../images/reg_mid.jpg);
	background-repeat: repeat-y;
	min-height:200px;
}
.reg_bot {
	width:624px;
	height:13px; 
	float:left;
	background-image: url(../images/reg_bot.jpg);
}
.products_container a {
	color:#F38628;
	text-decoration:none
}
.products_container a:visited {
	color:#F38628;
	text-decoration:none
}
.products_container a:hover {
	color:#F38628;
	text-decoration:underline
}

.sm_label {
 font-size:10px;    	
}
.reg_logo {
	width:192px;
	height:70px;
	float:left;
	margin-left:94px;
}
.reg_form_tit {
	width:280px;
	height:21px;
	float:left;
	text-align:left;
	font-size:20px;
	font-weight:bold;
	color:#4F4F4F;
	float:left;
	margin-top:50px;
	margin-left:205px;
}
.reg_form_tit2 {
	width:280px;
	height:21px;
	float:left;
	text-align:left;
	font-size:20px;
	font-weight:bold;
	color:#4F4F4F;
	float:left;
	margin-bottom:10px;
	margin-left:205px;
}
.reg_form_box {
	width:377px;
	height:auto;
	float:left;
	margin-left:93px;
	margin-top:10px;
}
.reg_text_Box {
	width:357px;
	height:35px;
	float:left;
	background-image: url(../images/reg_text_bg.jpg);
	background-color: transparent;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:12px;
	float:left
}
.checkbox {
	width:24px;
	height:26px;
	float:left;
	margin-top:18px;
	margin-left:9px;
}
.i_agree {
	width:200px;
	height:26px;
	float:left;
	text-align:left;
	margin-top:18px;
}
.register_but {
	widows:175px;
	height:44px;
	float:left
}
.reg_text {
	width:624px;
	height:30px;
	float:left;
	margin-top:30px;
	margin-left:145px;
	text-align:left;
}
.reg_text2 {
	width:624px;
	 
	float:left;
	margin-top:30px;
	margin-left:145px;
	text-align:left;
}
/************* profile page **************/

.profile_box {
	width:592px;
	height:auto;
	float:left;
	margin-left:145px;
	margin-top:30px;
}
.profile_top {
	width:592px;
	height:10px;
	float:left;
	background-image: url(../images/profile_box_top.jpg);
}
.profile_mid {
	width:592px;
	height:auto;
	float:left;
	background-image: url(../images/profile_box_mid.jpg);
	background-repeat: repeat-y;
}
.profile_bot {
	width:592px;
	height:6px;
	float:left;
	background-image: url(../images/profile_box_bot.jpg);
}
.profile_head {
	width:460px;
	height:81px;
	float:left;
	margin-left:47px;
	margin-bottom:10px;
}
.profilee_image {
	width:81px;
	height:81px;
	float:left
}
.tit_but {
	width:187px;
	height:81px;
	float:left
}
.mypicture_tit {
	width:174px;
	height:30px;
	font-size:18px;
	font-weight:bold;
	color:#4F4F4F;
	text-align:left;
	margin-left:13px;
	margin-top:21px;
	float:left
}
.change_pic_but {
	width:104px;
	height:23px;
	float:left;
	margin-left:10px;
}
.profile_logo {
	width:192px;
	height:74px;
	float:left;
}
.profile_lable {
	width:84px;
	height:22px;
	text-align:left;
	margin-top:11px;
	margin-left:49px;
	color:#525151;
	float:left;
	font-weight:normal;
}
.profile_drop_Box {
	width:377px;
	height:35px;
	float:left;
	background-image: url(../images/reg_text_bg.jpg);
	background-color: transparent;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:12px;
	float:left
}
.profile_text_area {
	width:357px;
	height:86px;
	float:left;
	background-image: url(../images/textarea_bg.jpg);
	background-color: transparent;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-left:10px;
	padding:10px;
	margin-bottom:12px;
	float:left;
}
.profile_lable2 {
	width:122px;
	height:23px;
	text-align:left;
	margin-top:11px;
	margin-left:26px;
	color:#525151;
	float:left;
	font-weight:normal;
}
.click_here_but {
	width:75px;
	height:23px;
	float:left;
	margin-right:350px;
	margin-top:5px;
	margin-bottom:18px;
}
.profile_text_Box2 {
	width:167px;
	height:35px;
	float:left;
	background-image: url(../images/textboxbg_2.jpg);
	background-color: transparent;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:12px;
	float:left;
	margin-right:230px;
}
.save_but {
	width:175px;
	height:45px;
	float:left;
	margin-left:377px;
	margin-bottom:10px;
}
/************* Blog page ***********/

.blog_category_tit {
	width:100%;
	height:23px;
	float:left;
	color:#4F4F4F;
	font-size:24px;
	font-weight:bold;
	text-align:left;
	float:left;
	padding-left:15px;
	margin-bottom:10px;
}
.blog_entry_top {
	width:693px;
	height:63px;
	float:left
}
.blog_title {
	width:539px;
	height:30px;
	font-size:24px;
	color:#FF881C;
	text-align:left;
	margin-top:33px;
	float:left;
}
.blog_title2 {
	width:539px;
	font-size:24px;
	color:#FF881C;
	text-align:left;
	float:left;
}
.blog_sub_title {
	font-size:10px;
	color:#666;
}
.blog_sub_title a {
	font-size:11px;
}
.blog_comments {
	width:80px;
	height:63px;
	float:left;
	background-image: url(../images/blog_commentsbg.jpg);
}
.comments_number {
	width:80px;
	height:20px;
	float:left;
	text-align:center;
	margin-top:7px;
	font-size:24px;
	font-weight:bold;
	color:#FF881C
}
.comments_lable {
	width:80px;
	height:12px;
	float:left;
	text-align:center;
	font-size:11px;
	font-weight:normal;
	color:#2D2D2D;
	margin-top:3px;
}
.posted {
	width:693px;
	height:19px;
	margin-top:10px;
	text-align:left;
	color:#6C6C6C;
	font-size:11px;
	float:left;
}
.blog_img {
	width:693px;
	height:auto;
	float:left;
	margin-bottom:7px;
	text-align:left
}
.blog_text {
	width:693px;
	height:auto;
	float:left;
	text-align:left;
	padding-bottom:15px;
}
.blog_like {
	width:602px;
	height:25px;
	float:left
}
.blog_read_more {
	width:87px;
	height:27px;
	float:left;
	margin-top:11px;
}
.blog_title_inner {
	width:auto;
	height:30px;
	font-size:24px;
	color:#FF881C;
	text-align:left;
	margin-top:33px;
	float:left;
	padding-right:20px;
}
.speak_box {
	width:100%;
	/*height:80px;*/
	float:left;
	border:solid 1px #E6E6E6;
	background-color:#F7F7F7;
	margin-top:10px;
	padding:10px;
	margin-bottom:35px;
}
.commentee_thumb, a.commentee_thumb {
	width:70px;
	height:70px;
	float:left;
	padding:4px;
	border:solid 1px #E6E6E6;
	background-color:#F7F7F7;
	background-repeat:no-repeat;
	background-position:center center;
}
.commentee_text {
	width:490px;
	height:auto;
	float:left;
	margin-left:10px;
	text-align:left
}
.commentee_name {
	font-size:14px;
	font-weight:bold;
	width:100%;
	height:25px;
	text-align:left
}
.speaknow_tit {
	width:639px;
	height:32px;
	float:left;
	font-size:24px;
	text-align:left;
	color:#FF881C;
	margin-bottom:18px;
}
.speak_text_box {
	width:260px;
	height:30px;
	float:left;
	border:solid 1px #E6E6E6;
	background-color:#F7F7F7;
}
.speak_lable {
	width:370px;
	height:22px;
	padding-top:10px;
	text-align:left;
	padding-left:7px;
	float:left;
	margin-bottom:10px;
}
.speak_text_ara {
	width:100%;
	height:160px;
	float:left;
	border:solid 1px #E6E6E6;
	background-color:#F7F7F7;
	margin-bottom:7px;
}
.post_comment_but {
	width:148px;
	height:30px;
	float:left
}
#scrollbut_5 #text_div {
	margin-right: 11px;
	padding-left: 5px;
	padding-right: 5px;
}
#scrollbut_5 #text_div {
	margin-right: 11px;
	padding-left: 5px;
	padding-right: 5px;
}
#scrollbut_2 #text_div {
	float:right;
}


a.orange {
	color:#F90;
}


a.btn_orange {
  
   background: #e96901;
   background: -webkit-gradient(linear, left top, left bottom, from(#fda13f), to(#e96901));
   background: -webkit-linear-gradient(top, #fda13f, #e96901);
   background: -moz-linear-gradient(top, #fda13f, #e96901);
   background: -ms-linear-gradient(top, #fda13f, #e96901);
   background: -o-linear-gradient(top, #fda13f, #e96901);
   padding: 10px 15px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff !important;
   font-size: 16px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   margin:5px;
   }
a.btn_orange:hover {
   text-decoration: none;
   background: #e96901;
   color: #ccc;
   }
a.btn_orange:active {
   text-decoration: none;
   background: #e96901;
   }
   
   .paging .active {
color:#4F4F4F;
}
 .paging .active a{
color:#4F4F4F;
}
