*{
  margin: 0;
  padding: 0;
}
html, body{
  overflow: hidden;
  font: 12px Arial;
}

#iframe{
  width: 100%;
  height: 100%;
}

#toolbar{
    
  position: relative;
  z-index: 200;
  color: white;
  height: 55px;
  overflow: hidden;
   background-color:#333;
}

#toolbarlogo{
  display: block;
  float: left;
margin-left:15px;
  width: 202px;
  height: 60px;
}


.toolbar_photo{
  display: block;
  width:51px;
  height: 40px;
  overflow: hidden;
  position: relative;
  float: left;
}
.toolbar_photo strong{
    display: block;
    width: 49px;
    height: 38px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center top;
}
.toolbar_photo span{
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width:51px;
    height: 40px;
    background: url(../img/toolbar_photo.png) no-repeat;
    -background: none;
	-filter:expression("progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + imgurl + "toolbar_photo.png', sizingMethod='crop')");

    z-index: 1;
}

.toolbar_user_name{
  float: left;
  text-decoration: none;
    font: bold 14px Verdana, Arial;
    color: white;
    margin:9px;
}
.toolbar_post_name{
  font:bold 13px Arial;
  color: white;
  text-decoration: none;
  float: left;
  margin: 10px;
  white-space: pre-wrap;
}
.toolbar_post_name:hover{
  text-decoration: underline;
}

.tbord{
  display: block;
  width: 0px;
  height: 59px;
  overflow: hidden;
  border-left: 1px solid #0B4A7F;
  border-right: 1px solid #3798E2;
  float: left;
}

.toolbar_block{
  float: left;
 margin:11px 0 0 16px;
  overflow: hidden;
  zoom:1;
}
.toolbar_btn{
  display: block;
  position: relative;
  overflow: hidden;
  width:86px;
  height: 26px;
  color: white;
  font:12px Verdana, Arial;
  text-decoration: none;
  margin: 5px;
}
.toolbar_btn b{
  text-decoration: underline;
  float: left;
  margin: 6px 0 0 0;
}


.toolbar_btn_bg{
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width:86px;
  height: 26px;
  background: url(../img/toolbar_votes.png) no-repeat;
  -background: none;
  -filter:expression("progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + imgurl + "toolbar_votes.png', sizingMethod='crop')");

}
.toolbar_btn_content{
  position: relative;
  z-index: 2;
  display: block;
  width:86px;
  height: 26px;
}
.toolbar_btn_content b{
  font-weight: normal;
  text-decoration: none;
}
.voteUp{
  display:block;
  height:19px;
  margin:0 auto;
  padding:0;
  width:19px;
  background:url("../img/t_vote.png") no-repeat scroll 0 0 transparent;
  -background: none;
  -filter:expression("progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + imgurl + "t_vote.png', sizingMethod='crop')");
  float: left;
  margin: 4px 5px 0 20px;
}
.t_comments{
  display:block;
  height:19px;
  margin:0 auto;
  padding:0;
  width:19px;
  background:url("../img/t_comments.png") no-repeat scroll 0 0 transparent;
  -background: none;
  -filter:expression("progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + imgurl + "t_comments.png', sizingMethod='crop')");
  float: left;
  margin: 5px 5px 0 20px;
}
.left{
  float: left !important;
}
.right{
  float: right !important;
}
.share-more{
  color: white;
  text-decoration: underline;
}
.sh{
  background-image:url(../img/t_share.jpg);
}
.share-more{
  margin: 0 3px
}


























