/* Services */
.services-layout-1 {

}

.services-layout-1 .service {
    padding: 20px;
}

.services-layout-1 p {
    max-width: 100%;
    margin: 0;
    color: #6f6f6f;
    font-size: 14px;
    line-height: 28px;
    text-align: justify;
}

.services-layout-1 h3 {
    font-size: 20px;
    font-weight: bold;
    color: #3b3b3b;
    margin-bottom: 30px;
}

.services-layout-1 i {
    font-size: 40px;
    color: #3b3b3b;
    display: block;
    padding: 10px;
    float: left;
    line-height: 0px;
    margin-right: 10px;
}

/* Services */
.services-layout-2 {

}

.services-layout-2 .service {
    padding: 20px;
    text-align: center;
}

.services-layout-2 p {
    max-width: 100%;
    margin: 0;
    color: #6f6f6f;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
}

.services-layout-2 h3 {
    font-size: 20px;
    font-weight: bold;
    color: #3b3b3b;
    margin-bottom: 20px;
}

.services-layout-2 i {
    font-size: 40px;
    color: #3b3b3b;
    display: block;
    padding: 10px;
    line-height: 0px;
    margin: 20px auto 0 auto;
}

.services-layout-2 .btn {
    margin: 10px 0;
}

.services-layout-2 .module-btn {
    height: 60px;
}

.services-layout-2 .btn-default,
.services-layout-2 .btn-default:hover {
    border: 0;
    background: none;
    box-shadow: none;
    color: #3b3b3b;
    font-size: 14px;
}

.services-layout-2 .btn-default:hover {
    color: #000;
}

/* Cards */
.cards-layout-1 .cards {

}

.cards-layout-1 .cards .card {
    text-align: center;
    border: 1px solid transparent;
    /*border-top: 0;*/
    padding: 30px 20px;
}

.cards-layout-1 .cards .card .icon-wrapper {
    border: 2px solid #3b3b3b;
    display: inline-block;
    margin: 0 auto;
    width: 85px;
    height: 85px;
    -webkit-border-radius: 85px;
    -moz-border-radius: 85px;
    border-radius: 85px;
    color: #3b3b3b;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
    line-height: 85px;
}

.cards-layout-1 .cards .card .icon-wrapper span {
    padding: 0px;
    height: 85px;
    display: block;
    line-height: 85px;
    font-size: 40px;
}

.cards-layout-1 .cards .card .card-title {
    font-size: 24px;
    color: #3b3b3b;
}

.cards-layout-1 .cards .card .card-text {
    color: #5a5a5a;
    font-size: 14px;
}

.cards-layout-1 .cards .card .btn {
    visibility: hidden;
    font-size: 13px;
}

.cards-layout-1 .cards .card .btn {
    margin-top: 15px;
}

.cards-layout-1 .cards .card .btn-primary {
    color: #fff;
    background: #3b3b3b;
    border: #3b3b3b;

}

.cards-layout-1 .cards .card:hover {
    border: 1px solid #dfdfdf;
    /*border-top: 0;*/
    box-shadow: 0px 8px 3px -3px rgba(0, 0, 0, .17);
    -webkit-box-shadow: 0px 8px 3px -3px rgba(0, 0, 0, .17);
}

.cards-layout-1 .cards .card:hover .card-title {
    color: #3b3b3b;
}

.cards-layout-1 .cards .card:hover .icon-wrapper {
    background: #3b3b3b;
    color: #fff;
}

.cards-layout-1 .cards .card:hover .btn {
    visibility: visible;
}

/* Head image */
.head-image-layout-1 {
}

.two-images {
    margin-bottom: 40px;
    margin-left: -10px !important;
    margin-right: -10px !important;
}

.two-images .head-image-layout {
    margin: 0;
}

.head-image-layout-1 .mw-image-holder {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center top;
    overflow: hidden;
}

.head-image-layout-1 .mw-image-holder .mw-image-holder-content {
    height: 410px;
    display: table;
    width: 100%;
    text-align: center;
}

.dragStart .mw-image-holder,
.dragStart .mw-image-holder-content{
  pointer-events: none;
}

.head-image-layout-1 .mw-image-holder .mw-image-holder-content h1 {
    font-size: 48px;
    color: #fff;
}

.head-image-layout-1 .mw-image-holder .mw-image-holder-content p {
    font-size: 22px;
    color: #fff;
}

.head-image-layout-1 .mw-image-holder .mw-image-holder-content .content-holder {
    display: table-cell;
    vertical-align: middle;
}

.head-image-layout-1 .mw-image-holder .mw-image-holder-content .content-holder .inner {
    width: 80%;
    margin: 0 auto;
}

/* Text + image */
.text-image-layout-1 {
    display: table;
}

.text-image-layout-1 .mw-image-holder {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center top;
    overflow: hidden;
}

.text-image-layout-1 .mw-image-holder .mw-image-holder-content {
    height: 410px;
    display: table;
    width: 100%;
    text-align: center;
}

.text-image-layout-1 .mw-image-holder .mw-image-holder-content h1 {
    font-size: 48px;
    color: #fff;
}

.text-image-layout-1 .mw-image-holder .mw-image-holder-content p {
    font-size: 22px;
    color: #fff;
}

.text-image-layout-1 .mw-image-holder .mw-image-holder-content .content-holder {
    display: table-cell;
    vertical-align: middle;
}

.text-image-layout-1 .image,
.text-image-layout-1 .info {
    width: 50%;
    display: table-cell;
    clear: none;
    vertical-align: middle;
}

.text-image-layout-1 .info {
    background: #f9f9f9;
    padding: 15px 60px;
}

.text-image-layout-1 .info h4 {
    font-size: 30px;
    color: #3b3b3b;
    margin-bottom: 30px;
}

.text-image-layout-1 .info p {
    font-size: 14px;
    color: #6f6f6f;
    line-height: 24px;
}

@media screen and (max-width: 991px) {
    .text-image-layout-1 .image,
    .text-image-layout-1 .info {
        width: 100%;
        display: block;
    }
}


.mw-image-holder-overlay{
  background-color: rgba(0, 0, 0, .5);
}
