<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
        >
    <testsuites>
        <testsuite name="FunctionsTest">
            <directory>./functions</directory>
        </testsuite>
        <testsuite name="ClassesTest">
            <directory>./classes</directory>
        </testsuite>
    </testsuites>


</phpunit>