.mw-admin-action-links {
    @apply relative no-underline !font-bold text-black dark:text-white hover:cursor-pointer !text-[1rem];
}

.mw-admin-action-links:disabled {
    @apply opacity-30 pointer-events-none;
}

.mw-admin-action-links.mw-adm-liveedit-tabs {
    @apply !font-bold pb-[10px] text-[14px];
}

.mw-admin-action-links.mw-adm-liveedit-tabs:active,
.mw-admin-action-links.mw-adm-liveedit-tabs:focus,
.mw-admin-action-links.mw-adm-liveedit-tabs.active {
    @apply !font-bold;
}

.mw-admin-action-links.mw-adm-liveedit-tabs.text-danger {
    @apply text-red-500 !important;
}

.mw-admin-action-links.mw-adm-liveedit-tabs.text-danger:after {
    @apply bg-red-500;
}

.mw-admin-action-links.mw-adm-liveedit-tabs.text-danger:hover {
    @apply text-red-500 !important;
}

.mw-admin-action-links.mw-liveedit-button-animation-component {
    @apply bg-transparent border-none;
}

.mw-admin-action-links:after {
    @apply absolute bottom-[5px] left-0 h-[2px] w-0 bg-black dark:bg-white opacity-0;
    content: '';
    transition: .5s;
}

.mw-admin-action-links:hover,
.mw-admin-action-links:active,
.mw-admin-action-links:focus,
.mw-admin-action-links.active,
.mw-admin-action-links.mw-action-links-with-accordion:not(.collapsed) {
    @apply !text-black dark:!text-white font-medium;
}

.mw-admin-action-links:hover:after,
.mw-admin-action-links:active:after,
.mw-admin-action-links:focus:after,
.mw-admin-action-links.active:after,
.mw-admin-action-links.mw-action-links-with-accordion:not(.collapsed):after {
    @apply w-full opacity-100;
}

.mw-admin-action-links:not(.mw-admin-action-links.btn) {
    @apply pb-[12px];
}
