.modules-list-block-style-list {
    @apply h-[160px] w-full;
}

@media screen and (min-width: 890px) {
    .modules-list-block-style-list {
        @apply !h-[240px];
    }
}

@media screen and (min-width: 768px) {
    .modules-list-block-style-list {
        @apply !w-[45%];
    }
}

@media screen and (min-width: 1366px) {
    .modules-list-block-style-list {
        @apply !w-[30%];
    }
}

.modules-list-block-style-full {
    @apply w-full h-[500px];
}

.layout-list-buttons {
    @apply mr-[40px] mt-[7px];

}

.mw-le-layouts-dialog-col:first-child, .modules-list-search-field {
    @apply bg-white;
}


.mw-le-layouts-dialog .modules-list-search-block {
    @apply relative;
}

.input-icon-addon {
    @apply absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none min-w-[2.5rem] justify-center text-[1.2em];
}

.mw-le-layouts-dialog .modules-list-search-block .modules-list-search-field {
    @apply !bg-white !border-white w-full !border-b-gray-100;
}

@media screen and (max-width: 1200px) {
    .mw-live-edit-toolbar-link.mw-live-edit-toolbar-link--arrowed span {
        display: none;
    }
}

.mw-live-edit-toolbar-link--arrowed {
    @apply inline-block h-8 leading-8; /* 2rem = 8 * 0.5rem */
}

.mw-live-edit-toolbar-link--arrowed .mw-live-edit-toolbar-arrow-icon {
    @apply relative align-middle; /* Vertical align and position */
    top: -1px;
    @apply transition-transform ease-out duration-300; /* Transitions */
    transform: rotate(180deg); /* Rotate */
}

.mw-live-edit-toolbar-link--arrowed g {
    @apply stroke-black;
}

.mw-live-edit-toolbar-link--arrowed .arrow-icon--circle {
    transition: stroke-dashoffset 0.3s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
    stroke: currentColor; /* No direct Tailwind equivalent for stroke color */
    stroke-width: 2.2px; /* No direct Tailwind equivalent for stroke width */
}

.mw-live-edit-toolbar-link--arrowed .arrow-icon--arrow {
    stroke: currentColor; /* No direct Tailwind equivalent for stroke color */
    stroke-width: 2.2px; /* No direct Tailwind equivalent for stroke width */
}

.mw-live-edit-toolbar-link--arrowed:hover .arrow-icon {
    transform: translate3d(5px, 0, 0); /* Custom transform */
}

.mw-live-edit-toolbar-link--arrowed:hover .arrow-icon--circle {
    stroke-dashoffset: 0; /* Custom stroke offset */
}


.mw-live-edit-toolbar-link {
    @apply text-black cursor-pointer font-normal no-underline flex flex-wrap items-center justify-center;
}

.mw-live-edit-toolbar-link:hover {
    @apply text-black;
}

.live-edit-undo-redo-buttons-wrapper {
    @apply flex items-center;
}

.mw-le-hamburger span {
    @apply !bg-black;
}

#toolbar {
    @apply !bg-white;
}

body {
    scrollbar-gutter: auto !important;
}

.live-edit-toolbar-buttons-undo-redo,
.live-edit-toolbar-buttons-view {
    @apply !bg-gray-100 !border-gray-100;
}

.mw-live-edit-resolutions-wrapper,
.mw-live-edit-right-sidebar-wrapper {
    @apply !bg-gray-100 !rounded-[5px] !p-[5px] !max-h-[35px] !flex !items-center !justify-center !gap-[2px];
}

.mw-live-edit-resolutions-wrapper .live-edit-toolbar-buttons,
.mw-live-edit-right-sidebar-wrapper .live-edit-toolbar-buttons {
    @apply !rounded-[5px] !p-[3px_7px] !border-gray-100 !bg-gray-100 shadow-none;
}

.mw-live-edit-resolutions-wrapper .live-edit-toolbar-buttons:hover,
.mw-live-edit-resolutions-wrapper .live-edit-toolbar-buttons.live-edit-resolution-active,
.mw-live-edit-resolutions-wrapper .live-edit-toolbar-buttons.live-edit-right-sidebar-active,
.mw-live-edit-resolutions-wrapper .live-edit-toolbar-buttons:focus,
.mw-live-edit-resolutions-wrapper .live-edit-toolbar-buttons:active,
.mw-live-edit-resolutions-wrapper .live-edit-toolbar-buttons.active,
.mw-live-edit-right-sidebar-wrapper .live-edit-toolbar-buttons:hover,
.mw-live-edit-right-sidebar-wrapper .live-edit-toolbar-buttons.live-edit-resolution-active,
.mw-live-edit-right-sidebar-wrapper .live-edit-toolbar-buttons.live-edit-right-sidebar-active,
.mw-live-edit-right-sidebar-wrapper .live-edit-toolbar-buttons:focus,
.mw-live-edit-right-sidebar-wrapper .live-edit-toolbar-buttons:active,
.mw-live-edit-right-sidebar-wrapper .live-edit-toolbar-buttons.active {
    @apply !bg-white !border-white;
}

.mw-live-edit-resolutions-wrapper .live-edit-toolbar-buttons svg,
.mw-live-edit-right-sidebar-wrapper .live-edit-toolbar-buttons svg {
    @apply !fill-black;
}

.mw-live-edit-search-dropdown {
    @apply !bg-gray-100 !border-gray-100 !max-h-[35px] !flex !items-center !relative !min-w-[235px] w-full;
}

.mw-live-edit-search-dropdown input {
    @apply !max-w-[180px] !overflow-hidden;
}


.mw-ui-invisible-field  {
    @apply bg-transparent border border-solid border-transparent box-border py-2 relative !outline-none;
}

.mw-ui-invisible-field:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}


.mw-autocomplete .mw-autocomplete-list {
    @apply absolute top-full left-0 min-w-full max-h-[60vh] h-auto overflow-auto p-[20px] bg-gray-100;
}

.mw-autocomplete .mw-autocomplete-list a {
    @apply whitespace-nowrap overflow-hidden text-ellipsis max-w-[400px];
}

#mw-dialog-holder-mw-add-content-editor-front {
    @apply w-[800px] !important;
}

.mw-btn-icon-delete {
    @apply text-danger-100 relative;
}
.mw-btn-icon-delete::after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>');
    @apply absolute right-0 top-0 z-10;
}

/* Base styling for links and items in navigation */
.mw-ui-navigation a,
.mw-ui-navigation-item {
    @apply block relative py-2.5 px-3 h-[36px] border border-transparent whitespace-nowrap;
}


/* Specific margin for dropdown icon */
.mw-ui-navigation a > .mw-icon-dropdown:last-child {
    @apply my-[3px] mr-1 ml-2;
}

/* Icon styling for dropdown */
.mw-ui-navigation .mw-icon-dropdown {
    @apply text-[12px] leading-[12px];
}

/* Hover and focus states */
.mw-ui-navigation a:hover,
.mw-ui-navigation a:focus,
.mw-ui-navigation li:hover > a {
    @apply border-black bg-gray-100;
}

/* Active and selected states */
.mw-ui-navigation a:active,
.mw-ui-navigation a.active,
.mw-ui-navigation li.active > a {
    @apply shadow-inner border-black bg-gray-100;
}

#user-menu-wrapper.active #user-menu {
    @apply bg-gray-100;
}

.active>.mw-le-hamburger>span:nth-child(2) {
    @apply !bg-[#ffffff30];
}

.mw-live-edit-tools-dropdown-menu {
    @apply min-w-[175px];
}

.mw-live-edit-tools-dropdown-menu ul li a {
    @apply flex items-center;
}

.mw_modal_live_edit_settings {
    @apply h-[20px];
}

.mw_modal_live_edit_settings .modal-title {
    @apply absolute top-[-22px] left-0 z-10 text-xs px-1.5 py-0.5 h-5 select-none cursor-grab bg-blue-600 text-white;
}

.mw-dialog-skin-mw_modal_simple.mw_modal_live_edit_settings .mw-dialog-close {
    @apply absolute top-[-22px] right-0 w-[26px] z-10 h-5 cursor-pointer bg-blue-600 text-white bg-no-repeat bg-center;
    margin-inline-start: auto;
    background-image: url("data:image/svg+xml,%3Csvg fill='%23fff' xmlns='http://www.w3.org/2000/svg' height='16' viewBox='0 -960 960 960' width='16'%3E%3Cpath d='m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z'/%3E%3C/svg%3E");
}
