.form-control-live-edit-label-wrapper {
    @apply cursor-pointer block leading-[22px] min-h-[45px] border-0 outline-0 appearance-none shadow-none relative;
}

.form-control-live-edit-label-wrapper textarea.form-control-live-edit-input {
    @apply pt-[10px];
}

@-moz-document url-prefix() {
    .form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select {
        @apply pt-[10px];
    }
}

.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select {
    @apply capitalize;
}

.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select option {
    @apply text-black dark:text-white  dark:bg-[#0e0e0e];
}

.form-control-live-edit-label-wrapper .v-slider-thumb__surface.elevation-2 {
    @apply text-[#f0f0f0];
}

.form-control-live-edit-label-wrapper .text-align .active {
    @apply !bg-[#f0f0f0] !border-[#f0f0f0];

    svg {
        @apply fill-black dark:fill-white;
    }
}

.form-control-live-edit-label-wrapper .form-control-live-edit-input,
.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select {
    @apply border border-gray-100 !rounded-[7px] flex-1 text-[11px] leading-[16px] text-left caret-black min-h-[20px] w-full  dark:!bg-gray-800 dark:!text-white;;
    span {
        @apply dark:text-white;

    }

    li > span{
        &:hover {
           @apply dark:bg-gray-700;
        }
    }
}

.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select:disabled,
.form-control-live-edit-label-wrapper .form-control-live-edit-input:disabled {
    @apply bg-[#f0f0f0] opacity-70;
}

.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select:focus,
.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select:focus-visible,
.form-control-live-edit-label-wrapper .form-control-live-edit-input:focus,
.form-control-live-edit-label-wrapper .form-control-live-edit-input:focus-visible {
    @apply border-0 outline-0 appearance-none !shadow-none bg-transparent;
}

/*.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select:focus + .form-control-live-edit-bottom-effect:after,*/
/*.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select:focus-visible + .form-control-live-edit-bottom-effect:after,*/
/*.form-control-live-edit-label-wrapper .form-control-live-edit-input:focus + .form-control-live-edit-bottom-effect:after,*/
/*.form-control-live-edit-label-wrapper .form-control-live-edit-input:focus-visible + .form-control-live-edit-bottom-effect:after {*/
/*    @apply w-full transition-[width] duration-[0.3s] !shadow-none;*/
/*}*/

.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-control-input-range-slider,
.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select.form-control-input-range-slider {
    @apply bg-transparent max-w-[50px] h-[30px] min-h-[unset] p-0 !pl-2;
}

.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-control-input-range-slider:focus,
.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-control-input-range-slider:focus-visible,
.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select.form-control-input-range-slider:focus,
.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select.form-control-input-range-slider:focus-visible {
    @apply bg-[#4A4A4A];
}

/*.form-control-live-edit-label-wrapper .form-control-live-edit-bottom-effect {*/
/*    @apply absolute bottom-0 h-[1px] left-[6px] w-[calc(100%-12px)] bg-[#e7e7e7] box-border;*/
/*}*/

/*#style-edit-global-template-settings-holder .form-control-live-edit-bottom-effect, #mw-live-edit-gui-editor-box .form-control-live-edit-bottom-effect {*/
/*    @apply !hidden;*/
/*}*/


.form-control-live-edit-label-wrapper .form-control-live-edit-bottom-effect:focus-visible {
    @apply border-none;
}

.form-control-live-edit-label-wrapper .form-control-live-edit-bottom-effect:after {
    @apply bg-[#0e0e0e] bottom-0 block h-[1px] absolute transition-[width] duration-[0.25s] w-0;
}

.form-control-live-edit-label-wrapper .form-control-live-edit-bottom-effect.bottom-effect-textarea {
    @apply bottom-[5px];
}

.form-control-live-edit-label-wrapper .form-control-live-edit-settings-btn {
    @apply absolute top-[10px] right-[16px] cursor-pointer;
}

.mw-filepicker-component-navigation-header .form-control-live-edit-label-wrapper {
    @apply w-full;
}

.mw-live-edit-spacing-wrapper {

    a {
        @apply dark:text-white text-sm;

        svg {
            @apply dark:fill-white;
            width: 20px;
        }
    }
}


.form-check-label {
    @apply dark:!text-white;
}

.mw-dialog-holder {
    @apply dark:!bg-gray-900;
}

.live-edit-label {
    padding: 0 2px;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 9.75px;
    letter-spacing: 0.75px;
    text-overflow: ellipsis;
    @apply font-semibold text-gray-600 dark:text-white ps-0 block overflow-hidden box-border uppercase mb-1;
}
