/* MENU */

#nav {
	float: left;
	width: 62px;
	height:19px;
	margin: 0;
	padding: 0px 0px 0px 5px;
	border-bottom: none;
	font-family: Tahoma, Geneva, sans-serif;
	font-size:11px;
}
#nav li a, #nav li {
	float: left;
}
#nav li {
	list-style: none;
	position: relative;
}
#nav li a {
	text-decoration: none;
	color: #000;
	text-align:center;
	outline:none;
	font-weight:bold;
}
#nav li a:hover {
	color:#fff;
}
#nav li a.home1 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon1.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home1:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home2 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon2.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home2:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home3 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon3.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home3:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home4 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon4.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home4:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home5 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon5.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home5:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home6 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon6.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home6:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home7 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon7.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home7:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home8 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon8.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home8:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home9 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon9.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home9:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home10 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon10.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home10:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home11 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon11.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home11:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home12 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon12.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home12:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home13 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon13.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home13:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home14 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon14.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home14:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home15 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon15.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home15:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home16 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon16.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home16:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home17 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon17.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home17:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home19 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon19.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home19:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home20 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon20.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home20:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home21 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon21.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home21:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home22 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon22.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home22:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home23 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon23.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home23:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home24 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon24.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home24:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home_24 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon_24.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home_24:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home25 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon25.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home25:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home26 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon26.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home26:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home27 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon27.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home27:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home28 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon28.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home28:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home29 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon29.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home29:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home30 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon30.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home30:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home31 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon31.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home31:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home32 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon32.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home32:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home33 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon33.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home33:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.home34 {
	width:201px;
	padding:7px 8px 7px 35px;
	background:url(../images2/icon34.png) no-repeat 10px 4px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.home34:hover {
	color:#b0b0b0;
	background-color:#232323;
}
#nav li a.language {
	width:60px;
	padding:5px 10px 5px 10px;
	text-align: left;
	color: #2c2c2c;
	font-weight: bold;
	border-bottom:solid 1px #e26d10;
}
#nav li a.language:hover {
	color:#b0b0b0;
	background-color:#232323;
}
/* Submenu */

.hasChildren {
	position: absolute;
	width: 5px;
	height: 5px;
	/*background: black;*/
	right : 0;
	bottom: 0;
}
#nav li ul {
	display: none;
	position: absolute;
	width:732px;
	left: -5px;
	top: 100%;
	padding: 0;
	margin: 0;
	background-color:#f1f1f1;
	border:solid 1px #e26d10;
}
#nav li:hover > ul {
	display: block;
}
#nav li ul li, #nav li ul li a {
	float: left;
}
#nav li ul li {
	_display: inline; /* for IE6 */
}
#nav li ul li a {
	width: 150px;
	display: block;
}
/* SUBSUB Menu */

#nav li ul li ul {
	display: none;
}
#nav li ul li:hover ul {
	left: 95%;
	top: 0;
}
 #nav li ul