@import url('./materialdesignicons/css/materialdesignicons.min.css');
@import url('./tabler-icons/webfont/tabler-icons.min.css');


@font-face {
    font-family: 'Inter';
    src: url('./inter/inter.ttf') format('truetype');
    font-display: swap;
}
