input, textarea, select {
	width:250px;
	margin-top:10px;
}
textarea {
	width:500px;
}
.checkboxs {
	margin:10px 0 0 105px;
}
.checkboxs input {
	width:auto;
	margin:0 20px 0 0;
}
label {
	margin-top:12px;
}
span.context-selector {
	white-space:nowrap;
}
