.active li {
	padding:5px 0;
}

.hidden {
	display:none;
}

.active {
	width:400px;
	margin:40px auto;
	text-align:left;
}

#container {
	text-align:center;
}

.next {
	background-position:right center;
	padding:0 18px 0 0;
}