@import url("ooyes.framework.css");
body {
	font:12px Verdana, Arial, sans-serif;
	color: #333;
	background: white;
}
a {
	font:12px Verdana, Arial, sans-serif;
	color: #131313;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, helvetica, Verdana, Arial, sans-serif;
	color: #333;
}
h1 {
	text-align:left;
	color:#414141;
	font-family:Verdana, Geneva, sans-serif;
	font-size:25px;
	font-weight:bold;
}
#header {
	height:130px;
	width:100%;
	background-color:#FFF;
}
#logo {
	height:88px;
	width:287px;
	background-image:url(../img/logo.jpg);
	display:block;
	background-repeat:no-repeat;
	float:left;
}
#header_top {
	width: 990px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#nav {
	padding-top: 50px;
	margin-left:20px;
	width:600px;
	float:left;
}
#nav ul li {
	display:inline-block;
	float:left;
	text-decoration: none;
	list-style-position: outside;
	list-style-type: none;
	font-family:Verdana, Geneva, sans-serif;
	color:#707070;
	text-transform: capitalize;
	margin-left: 15px;
	margin-right: 15px;
}
#nav ul li.active {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #e42421;
}
#nav ul li a {
	font-size:15px;
	color:#707070;
	text-transform: capitalize;
}
#nav ul li.active a {
	font-weight:bold;
	color: #262626;
}






.nav_footer {
	padding-top: 10px;
	padding-bottom:20px;
	width:600px;
	float:left;
}

.nav_footer_right {
	padding-top: 15px;
	padding-bottom:15px;
	width:350px;
 
	float:right;
	color:#838383;
	font-size: 10px;
}
.nav_footer_right a {
	color:#838383;
	font-size: 10px;
}

.nav_footer ul li {
	display:inline-block;
	float:left;
	text-decoration: none;
	list-style-position: outside;
	list-style-type: none;
	font-family:Verdana, Geneva, sans-serif;
	color:#707070;
	text-transform: capitalize;
	margin-left: 15px;
	margin-right: 15px;
}
.nav_footer ul li.active {
	  	color:#333;
}
.nav_footer ul li a {
	font-size:14px;
	color:#838383;
	text-transform: capitalize;
}
.nav_footer ul li.active a {
	font-weight:bold;
	color:#333;
}

.home_center_grad2 {
	height:322px;
	width:100%;
	background-color:#FFF;
	background-image:url(../img/bg1.jpg);
	background-repeat:repeat-x;
}



.home_center_grad {
	height:329px;
	width:100%;
	background-color:#FFF;
	background-image:url(../img/bg1.jpg);
	background-repeat:repeat-x;
}


.footer {
	width:100%;
	clear:both;
	display:block;
}

.footer_border {
	width:100%;
	height:40px;
	clear:both;
	display:block; 
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #adadad;
	border-bottom-color: #adadad;
	margin-bottom:10px;
	margin-top:10px;
}



.content_center {
	
	width: 990px;
	margin-left: auto;
	margin-right: auto;
	display: block;
 
	 
}

.home_center_wide {
 
	width:100%;
	background-color:#FFF;
 
}

.wide_stripe {
 height:7px;
	width:100%;
 background-image:url(../img/stripe.png);
	background-repeat:repeat-x;
 
}
.home_center_grad {
	min-height:384px;
	width:100%;
	display:block;
	 background-image:url(../img/grad1.png);
	background-repeat:repeat-x;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999;	
  
  
}

.home_center_colored {
	height:384px;
	width:100%;
	background-color:#fbf8dd;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;	
  
}
.home_center_mid {
	width: 990px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	min-height:329px;
}


.big_text {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #414141;
	text-decoration: none;	
	
}

.posts-list {
	list-style-position: outside;
	list-style-type: none; 	
	
}

.posts-list li {
	display:block;
	clear:both;
	
}

.single-post-info {
 display:none;	
}
.posts-list .single-post .post-title {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #747474;
	text-decoration: none;	
	
}


.post-title-small {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	text-decoration: none;	
 
	
}

.posts-list .single-post .img {
	height:50px;
	width:80px;
	float:left;
	 
	background-repeat: no-repeat;
	background-position: center top;
	margin-right: 10px;	
}

.posts-list .single-post-description {
	padding: 10px;
	border: 1px solid #CCC;
	min-height:90px;
}


.posts-list .single-post-description2 {
	padding: 10px;
	border: none;
	min-height:90px;
}

.posts-list-blog .single-post {
	width:950px;
	 
	clear:both;
	padding-top: 10px;
	padding-bottom: 5px;	
	display:block;
	
}

.posts-list-blog .single-post-description {
		width:950px;
		 display:block;
}

.posts-list-blog a.single-post-more-link {
	font-size:14px;
	color:#e64040;
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none;
	padding-left:15px;
	background-image:url(../img/arrow_red.png);
	background-repeat:no-repeat;
	background-position: left center;	
	
}

.posts-list-blog a.img2 {
 
 float:left;
 
 
	margin-right: 10px;
	border: 5px solid #dddddd;	
}

.posts-list-blog .post-title-big {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 22px;
	font-style: normal;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;	
	display:block;
}


a.form_submit_button {
	background-color:#e25858;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 22px;
	color: #FFF;
	text-decoration: none;
	padding: 5px;
	height: 22px;
	display:block;
	float:right;
	margin-right:20px;
}
.row {
  margin-left: 0px;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}