@use "drop-indicator";
@use "handles";
@use "draggable";
@use "dialog";
@use "resizer";
@use "editor.scss";
@use "spinner.scss";



.mw-le--hide-selection ::selection {
    color: revert-layer !important;
    background: transparent !important;
}

mw-le-element{
    display: block;
}
mw-le-element{
    line-height: normal;
    font-weight: normal;
    font-style: normal;
    list-style: none;
    letter-spacing: normal;
    word-spacing: normal;
}
mw-le-element, mw-le-element * ,mw-le-element *:before, mw-le-element *:after{
    margin: 0;
    padding: 0;
    //font-family: Verdana, sans-serif;
    box-sizing: border-box;
}

.edit,
.element,
.module {

    &.mw-le-target-to-animate{
        transition: transform .3s !important;
    }
}


.le-selectable-items-list-image{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
}


.le-selectable-items-list-type-layouts{

    .le-selectable-items-list-image{
        background-size: cover;
    }
}


body:not(.is_admin) [contenteditable="true"]{
    outline: 1px dotted #ccc;
    outline-offset: 7px;
}



#sidebar-menu{
    overflow: auto;
    max-height: calc(100vh - 80px);
    padding: 0 !important;
}


body:has(.element[contenteditable="true"]){
    .moveable-control-box{
        display: none !important;
    }
}
html:not(.mw-le--page-preview) .mwembed-iframe{
    pointer-events: none;
}
html:not(.mw-le--page-preview) .mw-prevent-interaction{
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
    * {
        pointer-events: none !important;
    }
}



/* spacer 2 */

.mw-le-resizable{
    .mw-le-spacer-info-content{
        opacity: 0;

    }
    .mw-le-resizable--info{
        opacity: 0;
    }
    .mw-le-resizer-t{
        height: 100%;
    }
    .mw-le-spacer-info{
        pointer-events: none;
        -webkit-user-select: none;
        user-select: none;
    }

    &:hover, &.mw-le-spacer-resizing{
        .mw-le-spacer-info-content{
            opacity: 1
        }
    }
}

.mw-le-spacer-resizing .mw-le-spacer-info{
    opacity: 1;
    background-color: rgba(10, 83, 190, 0.25);
    transition-delay: 0s !important;
}

.mw-le-spacer:hover .mw-le-spacer-info{
    opacity: 1;
    background-color: rgba(10, 83, 190, 0.25);
    transition-delay: 0.32s;
}

.mw-le-spacer-info-content{
    border-radius: 50px;
    display: inline-block;
    padding: 5px 8px;
    color: #ffffffdb;
    background-color: rgba(0,0,0,.7);
    white-space: nowrap;
    font-size: 12px;
    line-height: normal;
}
.mw-le-spacer-info{
    position: absolute;
    bottom: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    left: 0;
    width: 100%;
    transition: background-color .2s, opacity .2s;
    opacity: 0;
    background-color: transparent;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
    box-sizing: border-box;
    color: #414141;
}

/* /spacer */

.mw-pointer-skip{
    pointer-events: none;
    & > :not(.mw-pointer-skip) {
        pointer-events: all;
    }
}


