<!DOCTYPE html>
<html lang="en">
<head>
<title>Decision</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="img/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
<meta name="description" content="Your description">
<meta name="keywords" content="Your keywords">
<meta name="author" content="Your name">
<link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/camera.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/portfolio.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/elements.css" type="text/css" media="screen">
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,400italic' rel='stylesheet' type='text/css'>
<!--[if lt IE 9]>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/docs.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
    <script src="js/html5.js"></script>
  <![endif]-->
</head>
<body>
<!--==============================header=================================-->
<div class="header-block clearfix">
  <!-- Navigation -->
  <header>
    <div class="container">
      <div class="row">
        <div class="span12 clearfix">
          <div class="navbar navbar_ clearfix">
            <div class="navbar-inner">
              <div class="container">
                <h1 class="brand"><a href="index.html"></a></h1>
                <select id = "responsive-main-nav-menu" onchange = "javascript:window.location.replace(this.value);"></select>
                <div id = "main-nav-menu" class="nav-collapse nav-collapse_ collapse">
                  <ul class="nav sf-menu">
                    <li class="sub-menu"><a href="index.html"><span>Home <em> welcome page</em></span></a><em></em>
                      <ul>
                        <li><a href="index.html">Home 1</a><em></em></li>
                        <li><a href="index2.html">Home 2</a></li>
                        <li><a href="index3.html">Home 3</a></li>
                        <li><a href="index4.html">Home Portfolio</a></li>
                        <li class="sub-menu"><a href="#">Template Colors</a>
                          <ul>
                            <li><a href="http://www.owltemplates.com/demo/website/decision/blue/index.html">Blue</a><em></em></li>
                            <li><a href="index.html">Green</a></li>
                            <li><a href="http://www.owltemplates.com/demo/website/decision/yellow/index.html">Yellow</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="active sub-menu"><a href="#"><span>Layouts <em> what we do</em></span></a><em></em>
                      <ul>
                        <li><a href="about.html">About us</a><em></em></li>
                        <li><a href="service.html">Services</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="single-blog.html">Single Post</a></li>
                        <li class="sub-menu"><a href="#">Portfolio</a>
                          <ul>
                            <li><a href="portfolio2.html">2 Columns</a><em></em></li>
                            <li><a href="portfolio3.html">3 Columns</a></li>
                            <li><a href="portfolio4.html">4 Columns</a></li>
                            <li><a href="portfolio6.html">6 Columns</a></li>
                            <li><a href="portfolio1.html">Single Project</a></li>
                          </ul>
                        </li>
                        <li><a href="price.html">Pricing Tables</a></li>
                        <li><a href="sidebar-right.html">Page - Sidebar Right</a></li>
                        <li><a href="sidebar-left.html">Page - Sidebar Left</a></li>
                        <li><a href="row-2.html">Two Rows</a></li>
                        <li><a href="sitemap.html">Sitemap</a></li>
                        <li><a href="404.html">404 Page not found</a></li>
                      </ul>
                    </li>
                    <li class="sub-menu"><a href="#"><span>Elements <em> site elements</em></span></a><em></em>
                      <ul>
                        <li><a href="element.html">Element Page</a><em></em></li>
                        <li class="sub-menu"><a href="#">Bootstrap Page</a>
                          <ul>
                            <li><a href="scaffolding.html">Scaffolding</a><em></em></li>
                            <li><a href="base-css.html">Base CSS</a></li>
                            <li><a href="components.html">Components</a></li>
                            <li><a href="javaScript.html">JavaScript</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href="contact.html"><span>Contact us <em> stay in touch</em></span></a><em></em></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- breadcrumb -->
  <div class="container">
    <div class="row">
      <div class="span12">
        <div id="page-title">
          <ul class="breadcrumb">
            <li><a href="#">Home</a> <span class="divider">/</span></li>
            <li><a href="#">Elements</a> <span class="divider">/</span></li>
            <li class="active">Element Page</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--==============================content=================================-->
<section id="content">
  <div class="container">
    <!-- welcome text -->
    <div class="row">
      <div class="span12">
        <div class="page-header1">
          <h2>Elements<small><a href="#">Download Decision</a> or customize variables, components, javascript plugins, and more.</small></h2>
        </div>
        <p class="p0">Nullam egestas nulla rutrum lorem varius nec faucibus est fringilla. Quisque at urna vel leo tincidunt rutrum vitae at enim. Duis ac mi nulla. Sed convallis lobortis vulputate. Etiam feugiat sapien vel felis scelerisque dapibus. Curabitur dictum massa id urna imperdiet eu blandit dolor faucibus. Fusce eu lobortis sem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh eui smod tincidunt ut laor.</p>
      </div>
    </div>
    <!-- row 1 (List) -->
    <div class="row">
      <div class="span3">
        <h2>Unordered List</h2>
        <ul class="list-style-2">
          <li class="arrow-list"><a href="#">Arrow List - Item Label</a></li>
          <li class="arrow-list-2"><a href="#">Arrow 2 List - Item Label</a></li>
          <li class="circle-list"><a href="#">Circle List - Item Label</a></li>
          <li class="check-list"><a href="#">Check List - Item Label</a></li>
          <li class="check-list-2"><a href="#">Check 2 List - Item Label</a></li>
          <li class="star-list"><a href="#">Star List - Item Label</a></li>
          <li class="plus-list"><a href="#">Plus List - Item Label</a></li>
          <li class="dash-list"><a href="#">Dash List - Item Label</a></li>
        </ul>
      </div>
      <div class="span3">
        <h2>Service List</h2>
        <ul class="list-style-2">
          <li class="arrow-list"><a href="#">Arrow List - Item Label</a></li>
          <li class="arrow-list"><a href="#">Arrow 2 List - Item Label</a></li>
          <li class="arrow-list"><a href="#">Circle List - Item Label</a></li>
          <li class="arrow-list"><a href="#">Check List - Item Label</a></li>
          <li class="arrow-list"><a href="#">Check 2 List - Item Label</a></li>
          <li class="arrow-list"><a href="#">Star List - Item Label</a></li>
          <li class="arrow-list"><a href="#">Plus List - Item Label</a></li>
          <li class="arrow-list"><a href="#">Dash List - Item Label</a></li>
        </ul>
      </div>
      <div class="span3">
        <h2>Feature List</h2>
        <ul class="list-style-2">
          <li class="circle-list"><a href="#">Arrow List - Item Label</a></li>
          <li class="circle-list"><a href="#">Arrow 2 List - Item Label</a></li>
          <li class="circle-list"><a href="#">Circle List - Item Label</a></li>
          <li class="circle-list"><a href="#">Check List - Item Label</a></li>
          <li class="circle-list"><a href="#">Check 2 List - Item Label</a></li>
          <li class="circle-list"><a href="#">Star List - Item Label</a></li>
          <li class="circle-list"><a href="#">Plus List - Item Label</a></li>
          <li class="circle-list"><a href="#">Dash List - Item Label</a></li>
        </ul>
      </div>
      <div class="span3">
        <h2>Ordered List</h2>
        <ol class="list-style-1">
          <li><a href="#">Arrow List - Item Label</a></li>
          <li><a href="#">Arrow 2 List - Item Label</a></li>
          <li><a href="#">Circle List - Item Label</a></li>
          <li><a href="#">Check List - Item Label</a></li>
          <li><a href="#">Check 2 List - Item Label</a></li>
          <li><a href="#">Star List - Item Label</a></li>
          <li><a href="#">Plus List - Item Label</a></li>
          <li><a href="#">Dash List - Item Label</a></li>
        </ol>
      </div>
    </div>
    <!-- row 2 (social icon) -->
    <div class="row">
      <div class="span12">
        <div class="page-header1">
          <h2>Social Icons</h2>
        </div>
        <ul class="tooltip-demo" id="social">
          <li><a href="#" title="Apple" rel="tooltip"><img src="img/social_icons/apple.png" alt="Apple"></a></li>
          <li><a href="#" title="Blogger" rel="tooltip"><img src="img/social_icons/blogger.png" alt="Blogger"></a></li>
          <li><a href="#" title="Deviantart" rel="tooltip"><img src="img/social_icons/deviantart.png" alt="Deviantart"></a></li>
          <li><a href="#" title="Digg" rel="tooltip"><img src="img/social_icons/digg.png" alt="Digg"></a></li>
          <li><a href="#" title="Dribbble" rel="tooltip"><img src="img/social_icons/dribbble.png" alt="Dribbble"></a></li>
          <li><a href="#" title="Facebook" rel="tooltip"><img src="img/social_icons/facebook.png" alt="Facebook"></a></li>
          <li><a href="#" title="Feedburner" rel="tooltip"><img src="img/social_icons/feedburner.png" alt="Feedburner"></a></li>
          <li><a href="#" title="Flickr" rel="tooltip"><img src="img/social_icons/flickr.png" alt="Flickr"></a></li>
          <li><a href="#" title="Forrst" rel="tooltip"><img src="img/social_icons/forrst.png" alt="Forrst"></a></li>
          <li><a href="#" title="Googleplus" rel="tooltip"><img src="img/social_icons/googleplus.png" alt="Googleplus"></a></li>
          <li><a href="#" title="Lastfm" rel="tooltip"><img src="img/social_icons/lastfm.png" alt="Lastfm"></a></li>
          <li><a href="#" title="Flickr" rel="tooltip"><img src="img/social_icons/flickr.png" alt="Flickr"></a></li>
          <li><a href="#" title="Mail" rel="tooltip"><img src="img/social_icons/mail.png" alt="Mail"></a></li>
          <li><a href="#" title="Newsvine" rel="tooltip"><img src="img/social_icons/newsvine.png" alt="Newsvine"></a></li>
          <li><a href="#" title="RSS" rel="tooltip"><img src="img/social_icons/rss.png" alt="RSS"></a></li>
          <li><a href="#" title="Sharethis" rel="tooltip"><img src="img/social_icons/sharethis.png" alt="Sharethis"></a></li>
          <li><a href="#" title="Skype" rel="tooltip"><img src="img/social_icons/skype.png" alt="Skype"></a></li>
          <li><a href="#" title="Tumblr" rel="tooltip"><img src="img/social_icons/tumblr.png" alt="Tumblr"></a></li>
          <li><a href="#" title="Twitter" rel="tooltip"><img src="img/social_icons/twitter.png" alt="Twitter"></a></li>
          <li><a href="#" title="Vimeo" rel="tooltip"><img src="img/social_icons/vimeo.png" alt="Vimeo"></a></li>
          <li><a href="#" title="Wordpress" rel="tooltip"><img src="img/social_icons/wordpress.png" alt="Wordpress"></a></li>
          <li><a href="#" title="Youtube" rel="tooltip"><img src="img/social_icons/youtube.png" alt="Youtube"></a></li>
        </ul>
      </div>
    </div>
    <!-- row 3 (button) -->
    <div class="row">
      <div class="span12">
        <div class="page-header1">
          <h2>Buttons <strong class="sub-heading">&ndash; Buttons with border </strong></h2>
        </div>
        <span class="button-border p1"><a class="button-red" href="#">Button RED</a></span> <span class="button-border p1"><a class="button-green" href="#">Button GREEN</a></span> <span class="button-border p1"><a class="button-blue" href="#">Button BLUE</a></span> <span class="button-border p1"><a class="button-pink" href="#">Button PINK</a></span> <span class="button-border p1"><a class="button-white" href="#">Button WHITE</a></span> <span class="button-border p1"><a class="button-black" href="#">Button BLACK</a></span> </div>
      <div class="span12">
        <div class="page-header1">
          <h2>Buttons <strong class="sub-heading">&ndash; Buttons with border  Round</strong></h2>
        </div>
        <span class="button-border button-radius-50 p1"><a class="button-red button-radius-50" href="#">Button RED</a></span> <span class="button-border button-radius-50 p1"><a class="button-green button-radius-50" href="#">Button GREEN</a></span> <span class="button-border button-radius-50 p1"><a class="button-blue button-radius-50" href="#">Button BLUE</a></span> <span class="button-border button-radius-50 p1"><a class="button-pink button-radius-50" href="#">Button PINK</a></span> <span class="button-border button-radius-50 p1"><a class="button-white button-radius-50" href="#">Button WHITE</a></span> <span class="button-border button-radius-50 p1"><a class="button-black button-radius-50" href="#">Button BLACK</a></span> </div>
      <div class="span12">
        <div class="page-header1">
          <h2>Buttons<strong class="sub-heading">&ndash; Buttons without border</strong></h2>
        </div>
        <a class="button-red p1" href="#">Button RED</a> <a class="button-green p1" href="#">Button GREEN</a> <a class="button-blue p1" href="#">Button BLUE</a> <a class="button-pink p1" href="#">Button PINK</a> <a class="button-white p1" href="#">Button WHITE</a> <a class="button-black p1" href="#">Button BLACK</a> </div>
      <div class="span12">
        <div class="page-header1">
          <h2>Buttons <strong class="sub-heading">&ndash; Buttons without border  Round</strong></h2>
        </div>
        <a class="button-red button-radius-50 p1" href="#">Button RED</a> <a class="button-green button-radius-50 p1" href="#">Button GREEN</a> <a class="button-blue button-radius-50 p1" href="#">Button BLUE</a> <a class="button-pink button-radius-50 p1" href="#">Button PINK</a> <a class="button-white button-radius-50 p1" href="#">Button WHITE</a> <a class="button-black button-radius-50 p1" href="#">Button BLACK</a> </div>
    </div>
    <!-- row 4 (Progress bars) -->
    <div class="row">
      <div class="span4">
        <div class="tagline">
          <h2>Basic Progress bars</h2>
        </div>
        <p>&ndash; Default progress bar with a vertical gradient.</p>
        <div class="progress">
          <div style="width: 60%;" class="bar"></div>
        </div>
      </div>
      <div class="span4">
        <div class="tagline">
          <h2>Striped Progress bars</h2>
        </div>
        <p>&ndash; Uses a gradient to create a striped effect (no IE).</p>
        <div class="progress progress-striped">
          <div style="width: 20%;" class="bar"></div>
        </div>
      </div>
      <div class="span4">
        <div class="tagline">
          <h2>Animated Progress bars</h2>
        </div>
        <p>&ndash; Takes the striped example and animates it (no IE).</p>
        <div class="progress progress-striped active">
          <div style="width: 45%" class="bar"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        <div class="tagline">
          <h2>Additional colors</h2>
        </div>
        <p>&ndash; Progress bars use some of the same button and alert classes for consistent styles.</p>
        <div class="progress progress-info">
          <div style="width: 20%" class="bar"></div>
        </div>
        <div class="progress progress-success">
          <div style="width: 40%" class="bar"></div>
        </div>
        <div class="progress progress-warning">
          <div style="width: 60%" class="bar"></div>
        </div>
        <div class="progress progress-danger">
          <div style="width: 80%" class="bar"></div>
        </div>
      </div>
      <div class="span4">
        <div class="tagline">
          <h2>Striped bars</h2>
        </div>
        <p>&ndash; Similar to the solid colors, we have varied striped progress bars.</p>
        <div class="progress progress-striped progress-info">
          <div style="width: 20%" class="bar"></div>
        </div>
        <div class="progress progress-striped progress-success">
          <div style="width: 40%" class="bar"></div>
        </div>
        <div class="progress progress-striped progress-warning">
          <div style="width: 60%" class="bar"></div>
        </div>
        <div class="progress progress-striped progress-danger">
          <div style="width: 80%" class="bar"></div>
        </div>
      </div>
      <div class="span4">
        <div class="tagline">
          <h2>Animated</h2>
        </div>
        <p>&ndash; Similar to the solid colors, we have varied striped &amp; Animate progress bars.</p>
        <div class="progress progress-striped active progress-info">
          <div style="width: 20%" class="bar"></div>
        </div>
        <div class="progress progress-striped active progress-success">
          <div style="width: 40%" class="bar"></div>
        </div>
        <div class="progress progress-striped active progress-warning">
          <div style="width: 60%" class="bar"></div>
        </div>
        <div class="progress progress-striped active progress-danger">
          <div style="width: 80%" class="bar"></div>
        </div>
      </div>
    </div>
    <!-- row 5 (Tabs & Accordian) -->
    <div class="row">
      <div class="span6">
        <h2>Tabs</h2>
        <ul class="tab-menu">
          <li><a href="#tab1">Tab Menu One</a></li>
          <li><a href="#tab2">Tab Menu Two</a></li>
        </ul>
        <div class="tab-container">
          <div id="tab1" class="tab-content-1">
            <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur. </p>
          </div>
          <div id="tab2" class="tab-content-1">
            <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
            <p> Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur. </p>
          </div>
        </div>
      </div>
      <div class="span6">
        <h2>Accordion</h2>
        <div id="accordion"> <a>Accordion Menu One</a>
          <div>
            <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
            <p>adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
          </div>
          <a>Accordion Menu Two</a>
          <div>
            <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
            <p>adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
          </div>
          <a>Accordion Menu Three</a>
          <div>
            <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
          </div>
          <a>Accordion Menu Four</a>
          <div>
            <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
          </div>
          <a>Accordion Menu Five</a>
          <div>
            <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
          </div>
        </div>
      </div>
    </div>
    <!-- row 6 (Alert Boxes) -->
    <div class="row">
      <div class="span12">
        <div class="page-header1">
          <h2>Alert Boxes</h2>
        </div>
      </div>
      <div class="span3">
        <p class="message-box-error"><strong>Error</strong> - Your message! </p>
      </div>
      <div class="span3">
        <p class="message-box-success"><strong>Success</strong> - Your message! </p>
      </div>
      <div class="span3">
        <p class="message-box-info"><strong>Info</strong> - Your message! </p>
      </div>
      <div class="span3">
        <p class="message-box-notice"><strong>Notice</strong> - Your message! </p>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <div class="message-box fade in info"> <strong>Info: </strong> Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <div class="message-box fade in note"> <strong>Note: </strong> Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
      </div>
      <div class="span6">
        <div class="message-box fade in confirm"> <strong>Confirm:</strong> Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <div class="message-box fade in error"> <strong>Error:</strong> Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
      </div>
    </div>
    <!-- row 7 (Dropcaps) -->
    <div class="row">
      <div class="span12">
        <div class="page-header1">
          <h2>Dropcaps</h2>
        </div>
      </div>
      <div class="span3">
        <p> <span class="dropcap">1</span> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
      </div>
      <div class="span3">
        <p> <span class="dropcap2">2</span> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
      </div>
      <div class="span3">
        <p> <span class="dropcap3">3</span> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
      </div>
      <div class="span3">
        <p> <span class="dropcap4">4</span> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
      </div>
      <div class="span3">
        <p> <span class="dropcap5">5</span> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
      </div>
      <div class="span3">
        <p> <span class="dropcap6">6</span> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
      </div>
      <div class="span3">
        <p> <span class="dropcap7">7</span> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
      </div>
      <div class="span3">
        <p> <span class="dropcap8">8</span> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
      </div>
    </div>
    <!-- row 8 (blockquotes) -->
    <div class="row">
      <div class="span12">
        <div class="page-header1">
          <h2>Blockquotes</h2>
        </div>
      </div>
      <div class="span3">
        <blockquote>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
        </blockquote>
      </div>
      <div class="span3">
        <blockquote class="black">
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </blockquote>
      </div>
      <div class="span3">
        <blockquote class="blue">
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </blockquote>
      </div>
      <div class="span3">
        <blockquote class="red">
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </blockquote>
      </div>
    </div>
    <!-- row 9 (pagination) -->
    <div class="row">
      <div class="span12">
        <div class="page-header1">
          <h2>Pagination <strong class="sub-heading">&ndash; The default pagination component is flexible and works in a number of variations. </strong></h2>
        </div>
      </div>
      <div class="span3">
        <div class="pagination">
          <ul>
            <li class="disabled"><a href="#">«</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">»</a></li>
          </ul>
        </div>
      </div>
      <div class="span3">
        <div class="pagination">
          <ul>
            <li><a href="#">«</a></li>
            <li><a href="#">10</a></li>
            <li class="active"><a href="#">11</a></li>
            <li><a href="#">12</a></li>
            <li><a href="#">»</a></li>
          </ul>
        </div>
      </div>
      <div class="span3">
        <div class="pagination">
          <ul>
            <li><a href="#">«</a></li>
            <li class="active"><a href="#">10</a></li>
            <li class="disabled"><a href="#">...</a></li>
            <li><a href="#">20</a></li>
            <li><a href="#">»</a></li>
          </ul>
        </div>
      </div>
      <div class="span3">
        <div class="pagination">
          <ul>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        <div class="page-header1">
          <h2>Default example centered</h2>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        <ul class="pager">
          <li><a href="#">Previous</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </div>
      <div class="span4">
        <div class="page-header1">
          <h2>Aligned links</h2>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        <ul class="pager">
          <li class="previous"><a href="#">← Older</a></li>
          <li class="next"><a href="#">Newer →</a></li>
        </ul>
      </div>
      <div class="span4">
        <div class="page-header1">
          <h2>Optional disabled state</h2>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        <ul class="pager">
          <li class="previous disabled"><a href="#">← Older</a></li>
          <li class="next"><a href="#">Newer →</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--==============================footer=================================-->
<footer>
  <div class="section-3">
    <div class="container">
      <div class="row">
        <!-- about us -->
        <div class="span3">
          <h2>About Us</h2>
          <div class="clearfix p1">
            <p class="text-info"><i>Lorem ipsum dolor sit amet, consectetuer adipiscing, sed diam nonummy nibh eui.</i></p>
            Lorem ipsum dolor sit amet, consectetuerad ipiscing elit, sed diam nonummy nibh euisod dolore magna aliquam erat volutpatorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinc. </div>
          <ul id="social" class="tooltip-demo">
            <li><a rel="tooltip" title="RSS" href="#"><img alt="RSS" src="img/social_icons/rss.png"></a></li>
            <li><a rel="tooltip" title="Twitter" href="#"><img alt="Twitter" src="img/social_icons/twitter.png"></a></li>
            <li><a rel="tooltip" title="Facebook" href="#"><img alt="Facebook" src="img/social_icons/facebook.png"></a></li>
            <li><a rel="tooltip" title="Dribbble" href="#"><img alt="Dribbble" src="img/social_icons/dribbble.png"></a></li>
            <li><a rel="tooltip" title="Flickr" href="#"><img alt="Flickr" src="img/social_icons/flickr.png"></a></li>
            <li><a rel="tooltip" title="Skype" href="#"><img alt="Skype" src="img/social_icons/skype.png"></a></li>
          </ul>
        </div>
        <!-- links -->
        <div class="span3">
          <h2>Useful Links</h2>
          <ul class="list">
            <li><a href="#">In faucibus orci luctus et</a></li>
            <li><a href="#">Ultrices posuere cubilia Curae</a></li>
            <li><a href="#">Suspendisse sollicitudin velit sed leo</a></li>
            <li><a href="#">Ut pharetra augue nec augue</a></li>
            <li><a href="#">Nam elit agna,endrerit sit amet</a></li>
            <li><a href="#">Tincidunt ac, viverra sed, nulla</a></li>
            <li><a href="#">Donec porta diam eu massa</a></li>
            <li><a href="#">Interdum vitae,dapibus ac</a></li>
          </ul>
        </div>
        <!-- twitter feed  -->
        <div class="span3">
          <h2>Twitter Feed</h2>
          <div class="tweets">
            <p> Loading Tweets... </p>
            <ul id="tweet-list">
            </ul>
          </div>
        </div>
        <!-- latest blog -->
        <div class="span3">
          <h2>Latest From The Blog</h2>
          <ul class="footer-list-news">
            <li>
              <figure class="img-circle"><img src="img/page1-img8.jpg" alt="" class="img-circle"></figure>
              <div class="extra-wrap">
                <p><a href="#">Interdum vitae dapibus volutpat.</a></p>
                <span>12 October 2012</span> </div>
            </li>
            <li>
              <figure class="img-circle"><img src="img/page1-img9.jpg" alt="" class="img-circle"></figure>
              <div class="extra-wrap">
                <p><a href="#">Interdum vitae dapibus volutpat.</a></p>
                <span>12 October 2012</span> </div>
            </li>
            <li>
              <figure class="img-circle"><img src="img/page1-img10.jpg" alt="" class="img-circle"></figure>
              <div class="extra-wrap">
                <p><a href="#">Interdum vitae dapibus volutpat.</a></p>
                <span>12 October 2012</span> </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- footer 2 -->
  <div class="footer-2">
    <div class="container">
      <div class="row">
        <div class="span12">Decision &copy; 2012 <a href="#">Privacy Policy</a></div>
      </div>
    </div>
  </div>
</footer>
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/camera.js"></script>
<script type="text/javascript" src="js/jquery.ui.totop.js"></script>
<script type="text/javascript" src="js/prettify.js"></script>
<script type="text/javascript" src="js/application.js"></script>
<script type="text/javascript" src="js/jquery.cookie.js"></script>
<script type="text/javascript" src="js/jquery.quicksand.js"></script>
<script type="text/javascript" src="js/jquery.mobile.customized.min.js"></script>
<script type="text/javascript" src="js/accordion.js"></script>
<script type="text/javascript" src="js/tabs.js"></script>
<script type="text/javascript" src="js/sitemap.js"></script>
<script type="text/javascript" src="js/nav-small.js"></script>
<script>
      $(document).ready(function(){   
              jQuery('.camera_wrap').camera();
        });    
	</script>
</body>
</html>
