<!DOCTYPE html>
<html lang="en">
<head>
<title>Decision</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="img/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
<meta name="description" content="Your description">
<meta name="keywords" content="Your keywords">
<meta name="author" content="Your name">
<link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/camera.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/portfolio.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/elements.css" type="text/css" media="screen">
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,400italic' rel='stylesheet' type='text/css'>
<!--[if lt IE 9]>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/docs.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
    <script src="js/html5.js"></script>
  <![endif]-->
</head>
<body>
<!--==============================header=================================-->
<div class="header-block clearfix">
  <!-- Navigation -->
  <header>
    <div class="container">
      <div class="row">
        <div class="span12 clearfix">
          <div class="navbar navbar_ clearfix">
            <div class="navbar-inner">
              <div class="container">
                <h1 class="brand"><a href="index.html"></a></h1>
                <select id = "responsive-main-nav-menu" onchange = "javascript:window.location.replace(this.value);"></select>
                <div id = "main-nav-menu" class="nav-collapse nav-collapse_ collapse">
                  <ul class="nav sf-menu">
                    <li class="sub-menu"><a href="index.html"><span>Home <em> welcome page</em></span></a><em></em>
                      <ul>
                        <li><a href="index.html">Home 1</a><em></em></li>
                        <li><a href="index2.html">Home 2</a></li>
                        <li><a href="index3.html">Home 3</a></li>
                        <li><a href="index4.html">Home Portfolio</a></li>
                        <li class="sub-menu"><a href="#">Template Colors</a>
                          <ul>
                            <li><a href="http://www.owltemplates.com/demo/website/decision/blue/index.html">Blue</a><em></em></li>
                            <li><a href="index.html">Green</a></li>
                            <li><a href="http://www.owltemplates.com/demo/website/decision/yellow/index.html">Yellow</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="active sub-menu"><a href="#"><span>Layouts <em> what we do</em></span></a><em></em>
                      <ul>
                        <li><a href="about.html">About us</a><em></em></li>
                        <li><a href="service.html">Services</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="single-blog.html">Single Post</a></li>
                        <li class="sub-menu"><a href="#">Portfolio</a>
                          <ul>
                            <li><a href="portfolio2.html">2 Columns</a><em></em></li>
                            <li><a href="portfolio3.html">3 Columns</a></li>
                            <li><a href="portfolio4.html">4 Columns</a></li>
                            <li><a href="portfolio6.html">6 Columns</a></li>
                            <li><a href="portfolio1.html">Single Project</a></li>
                          </ul>
                        </li>
                        <li><a href="price.html">Pricing Tables</a></li>
                        <li><a href="sidebar-right.html">Page - Sidebar Right</a></li>
                        <li><a href="sidebar-left.html">Page - Sidebar Left</a></li>
                        <li><a href="row-2.html">Two Rows</a></li>
                        <li><a href="sitemap.html">Sitemap</a></li>
                        <li><a href="404.html">404 Page not found</a></li>
                      </ul>
                    </li>
                    <li class="sub-menu"><a href="#"><span>Elements <em> site elements</em></span></a><em></em>
                      <ul>
                        <li><a href="element.html">Element Page</a><em></em></li>
                        <li class="sub-menu"><a href="#">Bootstrap Page</a>
                          <ul>
                            <li><a href="scaffolding.html">Scaffolding</a><em></em></li>
                            <li><a href="base-css.html">Base CSS</a></li>
                            <li><a href="components.html">Components</a></li>
                            <li><a href="javaScript.html">JavaScript</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href="contact.html"><span>Contact us <em> stay in touch</em></span></a><em></em></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- breadcrumb -->
  <div class="container">
    <div class="row">
      <div class="span12">
        <div id="page-title">
          <ul class="breadcrumb">
            <li><a href="#">Home</a> <span class="divider">/</span></li>
            <li><a href="#">Layouts</a> <span class="divider">/</span></li>
            <li class="active">Price</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--==============================content=================================-->
<section id="content">
  <div class="container">
    <!-- Icons -->
    <div class="row">
      <div class="span12">
        <div class="page-header1">
          <h2>Price Table <small><a href="#">Download Decision</a> or customize variables, components, javascript plugins, and more.</small></h2>
        </div>
        <p>Suspendisse vitae libero justo. Integer eu dui nulla. Duis in risus elit, ac vulputate purus. Quisque porttitor luctus risus ac pharetra. Donec pharetra, lectus nec dignissim pharetra, leo felis dapibus nunc, eu laoreet lorem nibh quis libero. Nulla facilisi. Sed pulvinar sem nec tortor congue dictum sed non nibh.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <!-- Price -->
    <div class="row">
      <div class="span12">
        <ul class="nav nav-tabs" id="myTab">
          <li class="active"><a data-toggle="tab" href="#5pricelist">5 Column</a></li>
          <li><a data-toggle="tab" href="#4pricelist">4 Column</a></li>
          <li><a data-toggle="tab" href="#3pricelist">3 Column</a></li>
          <li><a data-toggle="tab" href="#2pricelist">2 Column</a></li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <!-- 5 rows Price list -->
          <div id="5pricelist" class="tab-pane fade in active">
            <div class="price-table price-table-five">
              <div class="price-column  price-column-first">
                <h4>First</h4>
                <ul>
                  <li class="first">
                    <div class="price-tag"><span class="price-value">$9</span><span class="price-period">per month</span></div>
                  </li>
                  <li><strong>1</strong> User</li>
                  <li><strong>3</strong> Theme Templates only</li>
                  <li><strong>3</strong> Reports</li>
                  <li><strong>100MB</strong> Storage</li>
                  <li class="last"><a href="#" class="button">Sign Up</a></li>
                </ul>
              </div>
              <div class="price-column  price-column-even">
                <h4>Second</h4>
                <ul>
                  <li class="first">
                    <div class="price-tag"><span class="price-value">$9</span><span class="price-period">per month</span></div>
                  </li>
                  <li><strong>1</strong> User</li>
                  <li><strong>10</strong> Theme Templates only</li>
                  <li><strong>20</strong> Reports</li>
                  <li><strong>200MB</strong> Storage</li>
                  <li class="last"><a href="#" class="button">Sign Up</a></li>
                </ul>
              </div>
              <div class="price-column price-column-featured">
                <h4>Third</h4>
                <ul>
                  <li class="first">
                    <div class="price-tag"><span class="price-value">$24</span><span class="price-period">per month</span></div>
                  </li>
                  <li><strong>5</strong> User</li>
                  <li><strong>Unlimited</strong> Templates</li>
                  <li><strong>Unlimited</strong> Reports</li>
                  <li><strong>500MB</strong> Storage</li>
                  <li class="last"><a href="#" class="button">Sign Up</a></li>
                </ul>
              </div>
              <div class="price-column  price-column-even">
                <h4>Fourth</h4>
                <ul>
                  <li class="first">
                    <div class="price-tag"><span class="price-value">$69</span><span class="price-period">per month</span></div>
                  </li>
                  <li><strong>20</strong> User</li>
                  <li><strong>Unlimited</strong> Templates</li>
                  <li><strong>Unlimited</strong> Reports</li>
                  <li><strong>1GB</strong> Storage</li>
                  <li class="last"><a href="#" class="button">Sign Up</a></li>
                </ul>
              </div>
              <div class="price-column  price-column-last">
                <h4>Fifth</h4>
                <ul>
                  <li class="first">
                    <div class="price-tag"><span class="price-value">$199</span><span class="price-period">per month</span></div>
                  </li>
                  <li><strong>60</strong> User</li>
                  <li><strong>Unlimited</strong> Templates</li>
                  <li><strong>Unlimited</strong> Reports</li>
                  <li><strong>4GB</strong> Storage</li>
                  <li class="last"><a href="#" class="button">Sign Up</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- 4 rows Price list -->
          <div id="4pricelist" class="tab-pane fade">
            <div class="price-table price-table-four">
              <div class="price-column  price-column-first">
                <h4>First</h4>
                <ul>
                  <li class="first">
                    <div class="price-tag"><span class="price-value">$9</span><span class="price-period">per month</span></div>
                  </li>
                  <li><strong>1</strong> User</li>
                  <li><strong>3</strong> Theme Templates only</li>
                  <li><strong>3</strong> Reports</li>
                  <li><strong>100MB</strong> Storage</li>
                  <li class="last"><a href="#" class="button">Sign Up</a></li>
                </ul>
              </div>
              <div class="price-column price-column-featured">
                <h4>Third</h4>
                <ul>
                  <li class="first">
                    <div class="price-tag"><span class="price-value">$24</span><span class="price-period">per month</span></div>
                  </li>
                  <li><strong>5</strong> User</li>
                  <li><strong>Unlimited</strong> Templates</li>
                  <li><strong>Unlimited</strong> Reports</li>
                  <li><strong>500MB</strong> Storage</li>
                  <li class="last"><a href="#" class="button">Sign Up</a></li>
                </ul>
              </div>
              <div class="price-column  price-column-even">
                <h4>Fourth</h4>
                <ul>
                  <li class="first">
                    <div class="price-tag"><span class="price-value">$69</span><span class="price-period">per month</span></div>
                  </li>
                  <li><strong>20</strong> User</li>
                  <li><strong>Unlimited</strong> Templates</li>
                  <li><strong>Unlimited</strong> Reports</li>
                  <li><strong>1GB</strong> Storage</li>
                  <li class="last"><a href="#" class="button">Sign Up</a></li>
                </ul>
              </div>
              <div class="price-column  price-column-last">
                <h4>Fifth</h4>
                <ul>
                  <li class="first">
                    <div class="price-tag"><span class="price-value">$199</span><span class="price-period">per month</span></div>
                  </li>
                  <li><strong>60</strong> User</li>
                  <li><strong>Unlimited</strong> Templates</li>
                  <li><strong>Unlimited</strong> Reports</li>
                  <li><strong>4GB</strong> Storage</li>
                  <li class="last"><a href="#" class="button">Sign Up</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- 3 rows Price list -->
          <div id="3pricelist" class="tab-pane fade">
            <div class="price-table price-table-three">
              <div class="price-column  price-column-first">
                <h4>First</h4>
                <ul>
                  <li class="first">
                    <div class="price-tag"><span class="price-value">$9</span><span class="price-period">per month</span></div>
                  </li>
                  <li><strong>1</strong> User</li>
                  <li><strong>3</strong> Theme Templates only</li>
                  <li><strong>3</strong> Reports</li>
                  <li><strong>100MB</strong> Storage</li>
                  <li class="last"><a href="#" class="button">Sign Up</a></li>
                </ul>
              </div>
              <div class="price-column price-column-featured">
                <h4>Third</h4>
                <ul>
                  <li class="first">
                    <div class="price-tag"><span class="price-value">$24</span><span class="price-period">per month</span></div>
                  </li>
                  <li><strong>5</strong> User</li>
                  <li><strong>Unlimited</strong> Templates</li>
                  <li><strong>Unlimited</strong> Reports</li>
                  <li><strong>500MB</strong> Storage</li>
                  <li class="last"><a href="#" class="button">Sign Up</a></li>
                </ul>
              </div>
              <div class="price-column  price-column-last">
                <h4>Fifth</h4>
                <ul>
                  <li class="first">
                    <div class="price-tag"><span class="price-value">$199</span><span class="price-period">per month</span></div>
                  </li>
                  <li><strong>60</strong> User</li>
                  <li><strong>Unlimited</strong> Templates</li>
                  <li><strong>Unlimited</strong> Reports</li>
                  <li><strong>4GB</strong> Storage</li>
                  <li class="last"><a href="#" class="button">Sign Up</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- 2 rows Price list -->
          <div id="2pricelist" class="tab-pane fade">
            <div class="price-table price-table-two">
              <div class="price-column  price-column-first">
                <h4>First</h4>
                <ul>
                  <li class="first">
                    <div class="price-tag"><span class="price-value">$9</span><span class="price-period">per month</span></div>
                  </li>
                  <li><strong>1</strong> User</li>
                  <li><strong>3</strong> Theme Templates only</li>
                  <li><strong>3</strong> Reports</li>
                  <li><strong>100MB</strong> Storage</li>
                  <li class="last"><a href="#" class="button">Sign Up</a></li>
                </ul>
              </div>
              <div class="price-column price-column-featured">
                <h4>Third</h4>
                <ul>
                  <li class="first">
                    <div class="price-tag"><span class="price-value">$24</span><span class="price-period">per month</span></div>
                  </li>
                  <li><strong>5</strong> User</li>
                  <li><strong>Unlimited</strong> Templates</li>
                  <li><strong>Unlimited</strong> Reports</li>
                  <li><strong>500MB</strong> Storage</li>
                  <li class="last"><a href="#" class="button">Sign Up</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-2">
    <div class="container">
      <!-- Strip with button -->
      <div class="row">
        <div class="span12">
          <h2>Welcome to Decision. We provide <span>Clean</span> and <span>Simple</span> design.</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh eui smod tincidunt ut laor.</p>
          <a href="#" class="btn btn-large btn-success"><i class="icon-star icon-white"></i> Lets work together!</a> </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!-- welcome -->
      <div class="span4">
        <div class="border-right">
          <h2 class="indent-1">Welcome!</h2>
          <p class="p2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh eui smod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          <ul class="list p2">
            <li><a href="#">In faucibus orci luctus et</a></li>
            <li><a href="#">Ultrices posuere cubilia Curae</a></li>
            <li><a href="#">Suspendisse sollicitudin velit sed leo</a></li>
            <li><a href="#">Ut pharetra augue nec augue</a></li>
            <li><a href="#">Nam elit agna,endrerit sit amet</a></li>
          </ul>
          <a href="#" class="btn btn-small btn-success"><i class="icon-share-alt icon-white"></i> More Features</a> </div>
      </div>
      <!-- meet our team -->
      <div class="span8">
        <div class="clearfix">
          <h2 class="indent-1 bot-0 pull-left">Meet Our Team</h2>
          <div class="btn-group tab-button" id="myTab"> <a data-toggle="tab" href="#team1" class="btn" type="button">Team 1</a> <a data-toggle="tab" href="#team2" class="btn" type="button">Team 2</a> <a data-toggle="tab" href="#team3" class="btn" type="button">Team 3</a> </div>
        </div>
        <div class="tab-content" id="myTabContent">
          <div id="team1" class="tab-pane fade in active">
            <ul class="thumbnails thumbnails_3">
              <li class="span2">
                <div class="thumbnail_3">
                  <figure class="img-circle"><img src="img/page1-img8.jpg" alt="" class="img-circle"></figure>
                  <div><a href="#" class="lead">Alexia Smith</a><br>
                    <small>Creative Design</small> Nam aliquam volutpat leo vel lorem bibendum suncea elit.</div>
                </div>
              </li>
              <li class="span2">
                <div class="thumbnail_3">
                  <figure class="img-circle"><img src="img/page1-img9.jpg" alt="" class="img-circle"></figure>
                  <div><a href="#" class="lead">Sylvia Pete</a><br>
                    <small>Creative Design</small> Nam aliquam volutpat leo vel lorem bibendum suncea elit.</div>
                </div>
              </li>
              <li class="span2">
                <div class="thumbnail_3">
                  <figure class="img-circle"><img src="img/page1-img10.jpg" alt="" class="img-circle"></figure>
                  <div><a href="#" class="lead">Tanzi Smith</a><br>
                    <small>Creative Design</small> Nam aliquam volutpat leo vel lorem bibendum suncea elit.</div>
                </div>
              </li>
              <li class="span2">
                <div class="thumbnail_3">
                  <figure class="img-circle"><img src="img/page1-img11.jpg" alt="" class="img-circle"></figure>
                  <div><a href="#" class="lead">John Doe</a><br>
                    <small>Creative Design</small> Nam aliquam volutpat leo vel lorem bibendum suncea elit.</div>
                </div>
              </li>
            </ul>
          </div>
          <div id="team2" class="tab-pane fade">
            <ul class="thumbnails thumbnails_3">
              <li class="span2">
                <div class="thumbnail_3">
                  <figure class="img-circle"><img src="img/page1-img11.jpg" alt="" class="img-circle"></figure>
                  <div><a href="#" class="lead">Tomas Brown</a><br>
                    <small>business analyst</small> Nam aliquam volutpat leo vel lorem bibendum suncea elit.</div>
                </div>
              </li>
              <li class="span2">
                <div class="thumbnail_3">
                  <figure class="img-circle"><img src="img/page1-img8.jpg" alt="" class="img-circle"></figure>
                  <div><a href="#" class="lead">Andrew Johnson</a><br>
                    <small>business planning</small> Nam aliquam volutpat leo vel lorem bibendum suncea elit.</div>
                </div>
              </li>
              <li class="span2">
                <div class="thumbnail_3">
                  <figure class="img-circle"><img src="img/page1-img9.jpg" alt="" class="img-circle"></figure>
                  <div><a href="#" class="lead">Sean Pete</a><br>
                    <small>Client Support</small> Nam aliquam volutpat leo vel lorem bibendum suncea elit.</div>
                </div>
              </li>
              <li class="span2">
                <div class="thumbnail_3">
                  <figure class="img-circle"><img src="img/page1-img10.jpg" alt="" class="img-circle"></figure>
                  <div><a href="#" class="lead">Sarah Smith</a><br>
                    <small>strategy development</small> Nam aliquam volutpat leo vel lorem bibendum suncea elit.</div>
                </div>
              </li>
            </ul>
          </div>
          <div id="team3" class="tab-pane fade">
            <ul class="thumbnails thumbnails_3">
              <li class="span2">
                <div class="thumbnail_3">
                  <figure class="img-circle"><img src="img/page1-img10.jpg" alt="" class="img-circle"></figure>
                  <div><a href="#" class="lead">Tomas Brown</a><br>
                    <small>business analyst</small> Nam aliquam volutpat leo vel lorem bibendum suncea elit.</div>
                </div>
              </li>
              <li class="span2">
                <div class="thumbnail_3">
                  <figure class="img-circle"><img src="img/page1-img11.jpg" alt="" class="img-circle"></figure>
                  <div><a href="#" class="lead">Andrew Johnson</a><br>
                    <small>business planning</small> Nam aliquam volutpat leo vel lorem bibendum suncea elit.</div>
                </div>
              </li>
              <li class="span2">
                <div class="thumbnail_3">
                  <figure class="img-circle"><img src="img/page1-img8.jpg" alt="" class="img-circle"></figure>
                  <div><a href="#" class="lead">Sean Pete</a><br>
                    <small>Client Support</small> Nam aliquam volutpat leo vel lorem bibendum suncea elit.</div>
                </div>
              </li>
              <li class="span2">
                <div class="thumbnail_3">
                  <figure class="img-circle"><img src="img/page1-img9.jpg" alt="" class="img-circle"></figure>
                  <div><a href="#" class="lead">Sarah Smith</a><br>
                    <small>strategy development</small> Nam aliquam volutpat leo vel lorem bibendum suncea elit.</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- client logo -->
    <div class="row">
      <div class="span12">
        <ul class="list-banners">
          <li><a href="#"><img src="img/banner-1.png" alt=""></a></li>
          <li><a href="#"><img src="img/banner-2.png" alt=""></a></li>
          <li><a href="#"><img src="img/banner-3.png" alt=""></a></li>
          <li><a href="#"><img src="img/banner-4.png" alt=""></a></li>
          <li><a href="#"><img src="img/banner-5.png" alt=""></a></li>
          <li><a href="#"><img src="img/banner-6.png" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--==============================footer=================================-->
<footer>
  <div class="section-3">
    <div class="container">
      <div class="row">
        <!-- about us -->
        <div class="span3">
          <h2>About Us</h2>
          <div class="clearfix p1">
            <p class="text-info"><i>Lorem ipsum dolor sit amet, consectetuer adipiscing, sed diam nonummy nibh eui.</i></p>
            Lorem ipsum dolor sit amet, consectetuerad ipiscing elit, sed diam nonummy nibh euisod dolore magna aliquam erat volutpatorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinc. </div>
          <ul id="social" class="tooltip-demo">
            <li><a rel="tooltip" title="RSS" href="#"><img alt="RSS" src="img/social_icons/rss.png"></a></li>
            <li><a rel="tooltip" title="Twitter" href="#"><img alt="Twitter" src="img/social_icons/twitter.png"></a></li>
            <li><a rel="tooltip" title="Facebook" href="#"><img alt="Facebook" src="img/social_icons/facebook.png"></a></li>
            <li><a rel="tooltip" title="Dribbble" href="#"><img alt="Dribbble" src="img/social_icons/dribbble.png"></a></li>
            <li><a rel="tooltip" title="Flickr" href="#"><img alt="Flickr" src="img/social_icons/flickr.png"></a></li>
            <li><a rel="tooltip" title="Skype" href="#"><img alt="Skype" src="img/social_icons/skype.png"></a></li>
          </ul>
        </div>
        <!-- links -->
        <div class="span3">
          <h2>Useful Links</h2>
          <ul class="list">
            <li><a href="#">In faucibus orci luctus et</a></li>
            <li><a href="#">Ultrices posuere cubilia Curae</a></li>
            <li><a href="#">Suspendisse sollicitudin velit sed leo</a></li>
            <li><a href="#">Ut pharetra augue nec augue</a></li>
            <li><a href="#">Nam elit agna,endrerit sit amet</a></li>
            <li><a href="#">Tincidunt ac, viverra sed, nulla</a></li>
            <li><a href="#">Donec porta diam eu massa</a></li>
            <li><a href="#">Interdum vitae,dapibus ac</a></li>
          </ul>
        </div>
        <!-- twitter feed  -->
        <div class="span3">
          <h2>Twitter Feed</h2>
          <div class="tweets">
            <p> Loading Tweets... </p>
            <ul id="tweet-list">
            </ul>
          </div>
        </div>
        <!-- latest blog -->
        <div class="span3">
          <h2>Latest From The Blog</h2>
          <ul class="footer-list-news">
            <li>
              <figure class="img-circle"><img src="img/page1-img8.jpg" alt="" class="img-circle"></figure>
              <div class="extra-wrap">
                <p><a href="#">Interdum vitae dapibus volutpat.</a></p>
                <span>12 October 2012</span> </div>
            </li>
            <li>
              <figure class="img-circle"><img src="img/page1-img9.jpg" alt="" class="img-circle"></figure>
              <div class="extra-wrap">
                <p><a href="#">Interdum vitae dapibus volutpat.</a></p>
                <span>12 October 2012</span> </div>
            </li>
            <li>
              <figure class="img-circle"><img src="img/page1-img10.jpg" alt="" class="img-circle"></figure>
              <div class="extra-wrap">
                <p><a href="#">Interdum vitae dapibus volutpat.</a></p>
                <span>12 October 2012</span> </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- footer 2 -->
  <div class="footer-2">
    <div class="container">
      <div class="row">
        <div class="span12">Decision &copy; 2012 <a href="#">Privacy Policy</a></div>
      </div>
    </div>
  </div>
</footer>
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/camera.js"></script>
<script type="text/javascript" src="js/jquery.ui.totop.js"></script>
<script type="text/javascript" src="js/prettify.js"></script>
<script type="text/javascript" src="js/application.js"></script>
<script type="text/javascript" src="js/jquery.cookie.js"></script>
<script type="text/javascript" src="js/jquery.quicksand.js"></script>
<script type="text/javascript" src="js/jquery.mobile.customized.min.js"></script>
<script type="text/javascript" src="js/accordion.js"></script>
<script type="text/javascript" src="js/tabs.js"></script>
<script type="text/javascript" src="js/sitemap.js"></script>
<script type="text/javascript" src="js/nav-small.js"></script>
<script>
      $(document).ready(function(){   
              jQuery('.camera_wrap').camera();
        });    
	</script>
</body>
</html>
