<!DOCTYPE html>
<html lang="en">
<head>
<title>Decision</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="img/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
<meta name="description" content="Your description">
<meta name="keywords" content="Your keywords">
<meta name="author" content="Your name">
<link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/camera.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/portfolio.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/elements.css" type="text/css" media="screen">
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,400italic' rel='stylesheet' type='text/css'>
<!--[if lt IE 9]>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/docs.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
    <script src="js/html5.js"></script>
  <![endif]-->
</head>
<body>
<!--==============================header=================================-->
<div class="header-block clearfix">
  <!-- Navigation -->
  <header>
    <div class="container">
      <div class="row">
        <div class="span12 clearfix">
          <div class="navbar navbar_ clearfix">
            <div class="navbar-inner">
              <div class="container">
                <h1 class="brand"><a href="index.html"></a></h1>
                <select id = "responsive-main-nav-menu" onchange = "javascript:window.location.replace(this.value);"></select>
                <div id = "main-nav-menu" class="nav-collapse nav-collapse_ collapse">
                  <ul class="nav sf-menu">
                    <li class="sub-menu"><a href="index.html"><span>Home <em> welcome page</em></span></a><em></em>
                      <ul>
                        <li><a href="index.html">Home 1</a><em></em></li>
                        <li><a href="index2.html">Home 2</a></li>
                        <li><a href="index3.html">Home 3</a></li>
                        <li><a href="index4.html">Home Portfolio</a></li>
                        <li class="sub-menu"><a href="#">Template Colors</a>
                          <ul>
                            <li><a href="http://www.owltemplates.com/demo/website/decision/blue/index.html">Blue</a><em></em></li>
                            <li><a href="index.html">Green</a></li>
                            <li><a href="http://www.owltemplates.com/demo/website/decision/yellow/index.html">Yellow</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="active sub-menu"><a href="#"><span>Layouts <em> what we do</em></span></a><em></em>
                      <ul>
                        <li><a href="about.html">About us</a><em></em></li>
                        <li><a href="service.html">Services</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="single-blog.html">Single Post</a></li>
                        <li class="sub-menu"><a href="#">Portfolio</a>
                          <ul>
                            <li><a href="portfolio2.html">2 Columns</a><em></em></li>
                            <li><a href="portfolio3.html">3 Columns</a></li>
                            <li><a href="portfolio4.html">4 Columns</a></li>
                            <li><a href="portfolio6.html">6 Columns</a></li>
                            <li><a href="portfolio1.html">Single Project</a></li>
                          </ul>
                        </li>
                        <li><a href="price.html">Pricing Tables</a></li>
                        <li><a href="sidebar-right.html">Page - Sidebar Right</a></li>
                        <li><a href="sidebar-left.html">Page - Sidebar Left</a></li>
                        <li><a href="row-2.html">Two Rows</a></li>
                        <li><a href="sitemap.html">Sitemap</a></li>
                        <li><a href="404.html">404 Page not found</a></li>
                      </ul>
                    </li>
                    <li class="sub-menu"><a href="#"><span>Elements <em> site elements</em></span></a><em></em>
                      <ul>
                        <li><a href="element.html">Element Page</a><em></em></li>
                        <li class="sub-menu"><a href="#">Bootstrap Page</a>
                          <ul>
                            <li><a href="scaffolding.html">Scaffolding</a><em></em></li>
                            <li><a href="base-css.html">Base CSS</a></li>
                            <li><a href="components.html">Components</a></li>
                            <li><a href="javaScript.html">JavaScript</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href="contact.html"><span>Contact us <em> stay in touch</em></span></a><em></em></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- breadcrumb -->
  <div class="container">
    <div class="row">
      <div class="span12">
        <div id="page-title">
          <ul class="breadcrumb">
            <li><a href="#">Home</a> <span class="divider">/</span></li>
            <li><a href="#">Layouts</a> <span class="divider">/</span></li>
            <li class="active">Left sidebar</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--==============================content=================================-->
<section id="content">
  <div class="container">
    <!-- welcome text -->
    <div class="row">
      <!------------ Sidebar -------------->
      <div class="span4">
        <!-- Blog Categories -->
        <h2 class="indent-2 p3">Blog Categories</h2>
        <ul class="list">
          <li><a href="#">Quisque diam lorem sectetuer adipiscing</a></li>
          <li><a href="#">Interdum vitae, adipiscing dapibus ac</a></li>
          <li><a href="#">Scelerisque ipsum auctor vitae, pede</a></li>
          <li><a href="#">Donec eget iaculis lacinia non erat</a></li>
          <li><a href="#">Lacinia dictum elementum velit fermentum</a></li>
          <li><a href="#">Donec in velit vel ipsum auctor pulvinar</a></li>
        </ul>
        <!-- Tabs -->
        <div class="sidebar-tabs">
          <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#text" data-toggle="tab">Text</a></li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">other <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#testimonial1" data-toggle="tab">Testimonial 1</a></li>
                <li><a href="#testimonial2" data-toggle="tab">Testimonial 2</a></li>
              </ul>
            </li>
            <li><a href="#recent" data-toggle="tab">Post</a></li>
            <li><a href="#list" data-toggle="tab">List</a></li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="text">
              <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </div>
            <div class="tab-pane fade" id="testimonial1">
              <div class="extra-wrap">
                <blockquote><em>Morbi interdum fermentum nulla, ut imperdiet felis tempus in. Ut lacinia consectetur nisl et iaculis. Duis fringilla dui  at leo.</em><em>Integer pharetra lobortis nisl vitae aliquam. Lorem ipsum dolor sit amet, consectetur elit sapien accumsan quis ...”</em></blockquote>
                <span>- Patrick Pool<br>
                client</span> </div>
            </div>
            <div class="tab-pane fade" id="testimonial2">
              <div class="extra-wrap">
                <blockquote><em>Morbi interdum fermentum nulla, ut imperdiet felis tempus in. Ut lacinia consectetur nisl et iaculis. Duis fringilla dui  at leo.</em><em>Integer pharetra lobortis nisl vitae aliquam. Lorem ipsum dolor sit amet, consectetur elit sapien accumsan quis ...”</em></blockquote>
                <span>- Patrick Pool<br>
                client</span> </div>
            </div>
            <div class="tab-pane fade" id="recent">
              <ul class="footer-list-news">
                <li>
                  <figure class="img-circle"><img src="img/page1-img8.jpg" alt="" class="img-circle"></figure>
                  <div class="extra-wrap">
                    <p><a href="#">Interdum vitae dapibus volutpat.</a></p>
                    <span>12 October 2012</span> </div>
                </li>
                <li>
                  <figure class="img-circle"><img src="img/page1-img9.jpg" alt="" class="img-circle"></figure>
                  <div class="extra-wrap">
                    <p><a href="#">Interdum vitae dapibus volutpat.</a></p>
                    <span>12 October 2012</span> </div>
                </li>
                <li>
                  <figure class="img-circle"><img src="img/page1-img10.jpg" alt="" class="img-circle"></figure>
                  <div class="extra-wrap">
                    <p><a href="#">Interdum vitae dapibus volutpat.</a></p>
                    <span>12 October 2012</span> </div>
                </li>
                <li class="p0">
                  <figure class="img-circle"><img src="img/page1-img11.jpg" alt="" class="img-circle"></figure>
                  <div class="extra-wrap">
                    <p><a href="#">Interdum vitae dapibus volutpat.</a></p>
                    <span>12 October 2012</span> </div>
                </li>
              </ul>
            </div>
            <div class="tab-pane fade" id="list">
              <ul class="list">
                <li><a href="#">Quisque diam lorem sectetuer adipiscing</a></li>
                <li><a href="#">Interdum vitae, adipiscing dapibus ac</a></li>
                <li><a href="#">Scelerisque ipsum auctor vitae, pede</a></li>
                <li><a href="#">Donec eget iaculis lacinia non erat</a></li>
                <li><a href="#">Lacinia dictum elementum velit fermentum</a></li>
                <li><a href="#">Donec in velit vel ipsum auctor pulvinar</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- text widget -->
        <div class="text-widget">
          <h2>Text Widget / Business Services</h2>
          <small class="p2">Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla </small>
          <p class="p1">Lorem ipsum dolor sit amet, consect elied diam nonummy nibh euisod tincidunt ut laoreet dolore magna aliquam erat volutpatorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt dolore magna aliquam erat volutpat.</p>
          <a href="#" class="btn">Business Services</a> </div>
        <!-- Image -->
        <h2>Image Categories</h2>
        <ul class="sidebar-image-list">
          <li>
            <figure class="img-circle"><img class="img-circle" alt="" src="img/page1-img8.jpg"></figure>
          </li>
          <li>
            <figure class="img-circle"><img class="img-circle" alt="" src="img/page1-img9.jpg"></figure>
          </li>
          <li>
            <figure class="img-circle"><img class="img-circle" alt="" src="img/page1-img10.jpg"></figure>
          </li>
          <li>
            <figure class="img-circle"><img class="img-circle" alt="" src="img/page1-img11.jpg"></figure>
          </li>
          <li>
            <figure class="img-circle"><img class="img-circle" alt="" src="img/page1-img8.jpg"></figure>
          </li>
          <li>
            <figure class="img-circle"><img class="img-circle" alt="" src="img/page1-img9.jpg"></figure>
          </li>
        </ul>
      </div>
      <!-------------- row 1 -------------->
      <div class="span8">
        <!-- Feature 1 -->
        <h2 class="indent-2">Featured Services Overview</h2>
        <ul class="thumbnails thumbnails_5">
          <li class="span4 thumbnail_5"> <span class="dropcap-1">1</span>
            <div><a class="lead-1" href="#">Elementum velit</a> <small>Lacinia fermentum Donec in velit vel ipsum pulvinar</small>
              <p>Lorem ipsum dolor sit amet, consectetueradipiscing elied diam nonummy nibh euisod tincidunt ut laoreet dolore magna aliquam erat volutpatorem ipsum dolor sit amet</p>
            </div>
          </li>
          <li class="span4 thumbnail_5"> <span class="dropcap-1">2</span>
            <div><a class="lead-1" href="#">Elementum velit</a> <small>Lacinia fermentum Donec in velit vel ipsum pulvinar</small>
              <p>Lorem ipsum dolor sit amet, consectetueradipiscing elied diam nonummy nibh euisod tincidunt ut laoreet dolore magna aliquam erat volutpatorem ipsum dolor sit amet</p>
            </div>
          </li>
          <li class="span4 thumbnail_5"> <span class="dropcap-1">3</span>
            <div><a class="lead-1" href="#">Elementum velit</a> <small>Lacinia fermentum Donec in velit vel ipsum pulvinar</small>
              <p>Lorem ipsum dolor sit amet, consectetueradipiscing elied diam nonummy nibh euisod tincidunt ut laoreet dolore magna aliquam erat volutpatorem ipsum dolor sit amet</p>
            </div>
          </li>
          <li class="span4 thumbnail_5"> <span class="dropcap-1">4</span>
            <div><a class="lead-1" href="#">Elementum velit</a> <small>Lacinia fermentum Donec in velit vel ipsum pulvinar</small>
              <p>Lorem ipsum dolor sit amet, consectetueradipiscing elied diam nonummy nibh euisod tincidunt ut laoreet dolore magna aliquam erat volutpatorem ipsum dolor sit amet</p>
            </div>
          </li>
        </ul>
        <!-- Feature 2 -->
        <h2>Featured Services Overview</h2>
        <ul class="list-services">
          <li>
            <figure class="img-circle"><img class="img-circle" alt="" src="img/page1-img8.jpg"></figure>
            <div><a class="lead-1" href="#">Proin dictum elementum velit</a> <small>Suspendisse sollicitudin velit sed leo</small> Lorem ipsum dolor sit amet, consectetueradipiscing elied diam nonummy nibh euisod tincidunt ut laoreet dolore magna aliquam
              erat volutpatorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </div>
          </li>
          <li class="clearfix">
            <figure class="img-circle"><img class="img-circle" alt="" src="img/page1-img9.jpg"></figure>
            <div><a class="lead-1" href="#">Proin dictum elementum velit</a> <small>Suspendisse sollicitudin velit sed leo</small> Lorem ipsum dolor sit amet, consectetueradipiscing elied diam nonummy nibh euisod tincidunt ut laoreet dolore magna aliquam
              erat volutpatorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </div>
          </li>
          <li>
            <figure class="img-circle"><img class="img-circle" alt="" src="img/page1-img10.jpg"></figure>
            <div><a class="lead-1" href="#">Tincidunt ac, viverra sed, nulla</a> <small>Vestibulum ante ipsum primis</small> Lorem ipsum dolor sit amet, consectetueradipiscing elied diam nonummy nibh euisod tincidunt ut laoreet dolore magna aliquam
              erat volutpatorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </div>
          </li>
          <li>
            <figure class="img-circle"><img class="img-circle" alt="" src="img/page1-img11.jpg"></figure>
            <div><a class="lead-1" href="#">Suspendisse sollicitudin velit sed leo</a> <small>Praesent vestibulum molestie</small> Lorem ipsum dolor sit amet, consectetueradipiscing elied diam nonummy nibh euisod tincidunt ut laoreet dolore magna aliquam
              erat volutpatorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--==============================footer=================================-->
<footer>
  <div class="section-3">
    <div class="container">
      <div class="row">
        <!-- about us -->
        <div class="span3">
          <h2>About Us</h2>
          <div class="clearfix p1">
            <p class="text-info"><i>Lorem ipsum dolor sit amet, consectetuer adipiscing, sed diam nonummy nibh eui.</i></p>
            Lorem ipsum dolor sit amet, consectetuerad ipiscing elit, sed diam nonummy nibh euisod dolore magna aliquam erat volutpatorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinc. </div>
          <ul id="social" class="tooltip-demo">
            <li><a rel="tooltip" title="RSS" href="#"><img alt="RSS" src="img/social_icons/rss.png"></a></li>
            <li><a rel="tooltip" title="Twitter" href="#"><img alt="Twitter" src="img/social_icons/twitter.png"></a></li>
            <li><a rel="tooltip" title="Facebook" href="#"><img alt="Facebook" src="img/social_icons/facebook.png"></a></li>
            <li><a rel="tooltip" title="Dribbble" href="#"><img alt="Dribbble" src="img/social_icons/dribbble.png"></a></li>
            <li><a rel="tooltip" title="Flickr" href="#"><img alt="Flickr" src="img/social_icons/flickr.png"></a></li>
            <li><a rel="tooltip" title="Skype" href="#"><img alt="Skype" src="img/social_icons/skype.png"></a></li>
          </ul>
        </div>
        <!-- links -->
        <div class="span3">
          <h2>Useful Links</h2>
          <ul class="list">
            <li><a href="#">In faucibus orci luctus et</a></li>
            <li><a href="#">Ultrices posuere cubilia Curae</a></li>
            <li><a href="#">Suspendisse sollicitudin velit sed leo</a></li>
            <li><a href="#">Ut pharetra augue nec augue</a></li>
            <li><a href="#">Nam elit agna,endrerit sit amet</a></li>
            <li><a href="#">Tincidunt ac, viverra sed, nulla</a></li>
            <li><a href="#">Donec porta diam eu massa</a></li>
            <li><a href="#">Interdum vitae,dapibus ac</a></li>
          </ul>
        </div>
        <!-- twitter feed  -->
        <div class="span3">
          <h2>Twitter Feed</h2>
          <div class="tweets">
            <p> Loading Tweets... </p>
            <ul id="tweet-list">
            </ul>
          </div>
        </div>
        <!-- latest blog -->
        <div class="span3">
          <h2>Latest From The Blog</h2>
          <ul class="footer-list-news">
            <li>
              <figure class="img-circle"><img src="img/page1-img8.jpg" alt="" class="img-circle"></figure>
              <div class="extra-wrap">
                <p><a href="#">Interdum vitae dapibus volutpat.</a></p>
                <span>12 October 2012</span> </div>
            </li>
            <li>
              <figure class="img-circle"><img src="img/page1-img9.jpg" alt="" class="img-circle"></figure>
              <div class="extra-wrap">
                <p><a href="#">Interdum vitae dapibus volutpat.</a></p>
                <span>12 October 2012</span> </div>
            </li>
            <li>
              <figure class="img-circle"><img src="img/page1-img10.jpg" alt="" class="img-circle"></figure>
              <div class="extra-wrap">
                <p><a href="#">Interdum vitae dapibus volutpat.</a></p>
                <span>12 October 2012</span> </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- footer 2 -->
  <div class="footer-2">
    <div class="container">
      <div class="row">
        <div class="span12">Decision &copy; 2012 <a href="#">Privacy Policy</a></div>
      </div>
    </div>
  </div>
</footer>
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/camera.js"></script>
<script type="text/javascript" src="js/jquery.ui.totop.js"></script>
<script type="text/javascript" src="js/prettify.js"></script>
<script type="text/javascript" src="js/application.js"></script>
<script type="text/javascript" src="js/jquery.cookie.js"></script>
<script type="text/javascript" src="js/jquery.quicksand.js"></script>
<script type="text/javascript" src="js/jquery.mobile.customized.min.js"></script>
<script type="text/javascript" src="js/accordion.js"></script>
<script type="text/javascript" src="js/tabs.js"></script>
<script type="text/javascript" src="js/sitemap.js"></script>
<script type="text/javascript" src="js/nav-small.js"></script>
<script>
      $(document).ready(function(){   
              jQuery('.camera_wrap').camera();
        });    
	</script>
</body>
</html>
