/* Help */





    #mw_edit_page_left.mw_edit_page_default {
	width: 224px;
}
.help-nav {
	text-transform: capitalize;
	width: 222px;
}
.help-nav li {
	list-style: none;
}
.help-nav ul {
}
.help-nav li.active > ul {
	display: block;
}
.help-nav li > ul > li.active ul {
	display: block;
}
.help-opener, .help-nav li > a {
	background: url(../img/grad.php?top=F6F6F6&bot=F0F0F0);
	border-bottom: 1px solid #E7E7E7;
	padding: 10px 7px 10px 20px;
	display: block;
	cursor: pointer;
	overflow: hidden;
	font-weight: normal;
}
.active > .help-opener {
	font-weight: bold;
	background: url(../img/grad.php?top=F5F5F5&bot=E0E0E0);
	border-bottom-color:#ADADAD;
}
.help-nav li > ul > li > .help-opener {
	padding: 7px 7px 7px 37px;
}
.help-opener * {
	float: left;
}
.help-opener .help-plus {
	background: url(../img/treectrls.png);
	position: relative;
	display: inline-block;
	width:8px;
	height: 8px;
	margin:6px 7px 0 0;
}
.help-opener img + .help-plus {
	margin-top: 10px;
}
.help-opener img + .help-title {
	margin-top: 7px;
	max-width: 75%;
	max-width: calc(100% - 40px);
	max-width: -webkit-calc(100% - 40px);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.help-nav li.active > .help-opener span {
	background-position: 0 -42px
}
.help-nav li.active > .help-opener img, .help-opener:hover img {
	filter:none;
	-webkit-filter:none;
}
.help-nav li > ul > li .help-opener + ul.mw-accordion-content {
	padding: 10px 0;
	background: #FBFBFB;
}
.help-nav li a { /*
      background-color: #FBFBFB;
      background-repeat: no-repeat;
      background-position: 49px 6px;
      padding: 7px 7px 7px 75px;
      display: block;
      cursor: pointer;  */
}
.help-nav li a:hover {
	text-decoration: underline;
	background: white;
}
.help-nav li a.active {
	text-decoration: none;
	background: white;
}
.help-nav img {
	float: left;
	margin-right: 7px;
}
.help-api dt {
	font-weight: bold;
	display: block;
	padding-top: 12px;
	padding-bottom: 2px;
	color: #434343;
}
.help-api dd {
	padding-left: 15px
}
/* /Help */ 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 

 
#help-content a {
	color: #4183C4;
}
#help-content a.absent {
	color: #cc0000;
}
#help-content a.anchor {
	display: block;
	padding-left: 30px;
	margin-left: -30px;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
}
#help-content h1, #help-content h2, #help-content h3, #help-content h4, #help-content h5, #help-content h6 {
	margin: 20px 0 10px;
	padding: 0;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	cursor: text;
	position: relative;
}
#help-content h1:hover a.anchor, #help-content h2:hover a.anchor, #help-content h3:hover a.anchor, #help-content h4:hover a.anchor, #help-content h5:hover a.anchor, #help-content h6:hover a.anchor {
	background: url("../../images/modules/styleguide/para.png") no-repeat 10px center;
	text-decoration: none;
}
#help-content h1 tt, #help-content h1 code {
	font-size: inherit;
}
#help-content h2 tt, #help-content h2 code {
	font-size: inherit;
}
#help-content h3 tt, #help-content h3 code {
	font-size: inherit;
}
#help-content h4 tt, #help-content h4 code {
	font-size: inherit;
}
#help-content h5 tt, #help-content h5 code {
	font-size: inherit;
}
#help-content h6 tt, #help-content h6 code {
	font-size: inherit;
}
#help-content h1 {
	font-size: 28px;
	color: black;
}
#help-content h2 {
	font-size: 24px;
	border-bottom: 1px solid #cccccc;
	color: black;
}
#help-content h3 {
	font-size: 18px;
}
#help-content h4 {
	font-size: 16px;
}
#help-content h5 {
	font-size: 14px;
}
#help-content h6 {
	color: #777777;
	font-size: 14px;
}
#help-content p, #help-content blockquote, #help-content ul, #help-content ol, #help-content dl, #help-content li, #help-content table, #help-content pre {
	margin: 15px 0;
}
#help-content hr {
	background: transparent url("../../images/modules/pulls/dirty-shade.png") repeat-x 0 0;
	border: 0 none;
	color: #cccccc;
	height: 4px;
	padding: 0;
}
#help-content body > h2:first-child {
	margin-top: 0;
	padding-top: 0;
}
#help-content body > h1:first-child {
	margin-top: 0;
	padding-top: 0;
}
#help-content body > h1:first-child + h2 {
	margin-top: 0;
	padding-top: 0;
}
#help-content body > h3:first-child, #help-content body > h4:first-child, #help-content body > h5:first-child, #help-content body > h6:first-child {
	margin-top: 0;
	padding-top: 0;
}
#help-content a:first-child h1, #help-content a:first-child h2, #help-content a:first-child h3, #help-content a:first-child h4, #help-content a:first-child h5, #help-content a:first-child h6 {
	margin-top: 0;
	padding-top: 0;
}
#help-content h1 p, #help-content h2 p, #help-content h3 p, #help-content h4 p, #help-content h5 p, #help-content h6 p {
	margin-top: 0;
}
#help-content li p.first {
	display: inline-block;
}
#help-content ul, #help-content ol {
	padding-left: 30px;
}
#help-content ul :first-child, #help-content ol :first-child {
	margin-top: 0;
}
#help-content ul :last-child, #help-content ol :last-child {
	margin-bottom: 0;
}
#help-content dl {
	padding: 0;
}
#help-content dl dt {
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	padding: 0;
	margin: 15px 0 5px;
}
#help-content dl dt:first-child {
	padding: 0;
}
#help-content dl dt > :first-child {
	margin-top: 0;
}
#help-content dl dt > :last-child {
	margin-bottom: 0;
}
#help-content dl dd {
	margin: 0 0 15px;
	padding: 0 15px;
}
#help-content dl dd > :first-child {
	margin-top: 0;
}
#help-content dl dd > :last-child {
	margin-bottom: 0;
}
#help-content blockquote {
	border-left: 4px solid #dddddd;
	padding: 0 15px;
	color: #777777;
}
#help-content blockquote > :first-child {
	margin-top: 0;
}
#help-content blockquote > :last-child {
	margin-bottom: 0;
}
#help-content table {
	padding: 0;
}
#help-content table tr {
	border-top: 1px solid #cccccc;
	background-color: white;
	margin: 0;
	padding: 0;
}
#help-content table tr:nth-child(2n) {
	background-color: #f8f8f8;
}
#help-content table tr th {
	font-weight: bold;
	border: 1px solid #cccccc;
	text-align: left;
	margin: 0;
	padding: 6px 13px;
}
#help-content table tr td {
	border: 1px solid #cccccc;
	text-align: left;
	margin: 0;
	padding: 6px 13px;
}
#help-content table tr th :first-child, #help-content table tr td :first-child {
	margin-top: 0;
}
#help-content table tr th :last-child, #help-content table tr td :last-child {
	margin-bottom: 0;
}
#help-content img {
	max-width: 100%;
}
#help-content span.frame {
	display: block;
	overflow: hidden;
}
#help-content span.frame > span {
	border: 1px solid #dddddd;
	display: block;
	float: left;
	overflow: hidden;
	margin: 13px 0 0;
	padding: 7px;
	width: auto;
}
#help-content span.frame span img {
	display: block;
	float: left;
}
#help-content span.frame span span {
	clear: both;
	color: #333333;
	display: block;
	padding: 5px 0 0;
}
#help-content span.align-center {
	display: block;
	overflow: hidden;
	clear: both;
}
#help-content span.align-center > span {
	display: block;
	overflow: hidden;
	margin: 13px auto 0;
	text-align: center;
}
#help-content span.align-center span img {
	margin: 0 auto;
	text-align: center;
}
#help-content span.align-right {
	display: block;
	overflow: hidden;
	clear: both;
}
#help-content span.align-right > span {
	display: block;
	overflow: hidden;
	margin: 13px 0 0;
	text-align: right;
}
#help-content span.align-right span img {
	margin: 0;
	text-align: right;
}
#help-content span.float-left {
	display: block;
	margin-right: 13px;
	overflow: hidden;
	float: left;
}
#help-content span.float-left span {
	margin: 13px 0 0;
}
#help-content span.float-right {
	display: block;
	margin-left: 13px;
	overflow: hidden;
	float: right;
}
#help-content span.float-right > span {
	display: block;
	overflow: hidden;
	margin: 13px auto 0;
	text-align: right;
}
#help-content code, #help-content tt {
	margin: 0 2px;
	padding: 0 5px;
	white-space: nowrap;
	border: 1px solid #eaeaea;
	background-color: #f8f8f8;
	border-radius: 3px;
}
#help-content pre code {
	margin: 0;
	padding: 0;
	white-space: pre;
	border: none;
	background: transparent;
}
#help-content .highlight pre {
	background-color: #f8f8f8;
	border: 1px solid #cccccc;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
}
#help-content pre {
	background-color: #f8f8f8;
	border: 1px solid #cccccc;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
}
#help-content pre code, #help-content pre tt {
	background-color: transparent;
	border: none;
}
