
.mw_form{
    position: relative;
    clear: both;
}

.mw_form:after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/* Contact Form Styles */

.message-sent-icon{
    display: block;
    width:52px;
    height: 52px;
    background: url(../img/message-sent.png) no-repeat;
    margin: 0 auto 20px;
}


[class*='contact-form-template-'] .message-sent {
    display:none;
}

.message-sent-icon-orange{background-position: 0 -104px;}
.message-sent-icon-green{background-position: 0 -52px;}



[class*='contact-form-template-'] textarea{
    resize: vertical;
}

.datepicker{
    display: none;
    position: absolute;
    z-index: 12;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0;
}


[class*='contact-form-template-'] .mw-custom-field-price .mw-custom-field-form-controls{
    color: #6C6C6C;
    font-size: 150%;
}

[class*='contact-form-template-'] .mw-custom-field-upload input{
    width:60%;
    float: left;
    margin-right: 12px;
}



