/****************************
    Variables
*****************************/
.mw-accordion-item {
  transition: .4s;
}
.mw-accordion-item.active {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.mw-tab-accordion {
  clear: both;
}
.mw-ui-box-header.mw-accordion-title {
  cursor: pointer;
  position: relative;
}
.mw-ui-box-header.mw-accordion-title:after {
  position: absolute;
  content: "\0118";
  display: inline-block;
  font-family: Microweber !important;
  text-transform: none !important;
  transition: .4s;
  z-index: 1;
  color: #4592ff;
  transform: rotate(-90deg);
  top: 12px;
  right: 12px;
  font-size: 15px;
}
.mw-ui-box-header.mw-accordion-title.active:after {
  transform: rotate(0deg);
}
.mw-ui-box-header-2.mw-accordion-title-2 {
  cursor: pointer;
  position: relative;
}
.mw-ui-box-header-2.mw-accordion-title-2:hover:after {
  position: absolute;
  content: "";
  border-left: 5px solid #2b2b2b;
  display: block;
  z-index: 1;
  top: 0px;
  height: 46px;
}
.mw-ui-box-header-2.mw-accordion-title-2.mw-liveedit-sidebar-background-active:after {
  position: absolute;
  content: "";
  border-left: 5px solid  #1f7cff;
  display: block;
  z-index: 1;
  top: 0px;
  height: 46px;
}
