/****************************
    Variables
*****************************/
.mw-control-box.active {
  z-index: 100;
}
.mw-control-box {
  position: fixed;
  padding: 20px;
  z-index: 99;
}
.mw-control-box-default {
  padding: 0;
  transition: all .5s;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.mw-control-box-default.mw-control-box-right {
  transform: translateX(100%);
}
.mw-control-box-default.mw-control-box-right.active {
  transform: translateX(0);
}
.mw-control-box-default.mw-control-box-left {
  transform: translateX(-100%);
}
.mw-control-box-default.mw-control-box-left.active {
  transform: translateX(0);
}
.mw-control-box-top {
  top: 0;
  left: 0;
  width: 100%;
}
.mw-control-box-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
}
.mw-control-box-right {
  top: 0;
  right: 0;
  height: 100%;
}
.mw-control-box-left {
  top: 0;
  left: 0;
  height: 100%;
}
.mw-control-box {
  position: fixed;
  z-index: 12;
}
.mw-control-box-default .mw-control-boxclose:after {
  content: '';
}
.mw-control-box-default .mw-control-boxclose {
  position: absolute;
  z-index: 10;
  width: 20px;
  height: 20px;
  text-align: center;
}
