<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Дентален Център "3М" - Здрава и красива усмивка всеки ден</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" media="all" href="css/style.css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script type="text/javascript" src="js/libs.js"></script>
  <script type="text/javascript" src="js/functions.js"></script>
</head>
<body>
    <div id="container">
        <div id="wrapper">
            <div id="header">
                <div id="phone">
                    <address class="xhidden">Телефон на клиента - 02 / 962 60 26</address>
                    <a href="http://facebook.com" target="_blank" id="facebook_top">Стани ни приятел</a>
                </div>
                <div class="c" style="padding-bottom: 10px">&nbsp;</div>
                <a href="#" id="logo" title="Дентален Център 3М - Здрава и красива усмивка всеки ден">Дентален Център "3М" - Здрава и красива усмивка всеки ден</a>
                <ul id="nav">
                  <li class="active"><a href="#">Начало</a></li>
                  <li><a href="#">Услуги</a></li>
                  <li><a href="#">Екип</a></li>
                  <li><a href="#">Съвети</a></li>
                  <li><a href="#">Галерия</a></li>
                  <li><a href="#">За контакти</a></li>
                </ul>
            </div><!-- /#header -->
            <div id="content">
                <div class="shadow">
                  <div class="shadow-content box inner_top">
                      <img src="img/ekip.jpg" alt="" />
                  </div>
                </div><!-- /#shadow -->
              <div id="main">
                <h2 class="title">Екип</h2>
                <div id="List">
                  <ul>
                      <li>
                          <div class="shadow img"><div class="shadow-content"><div style="background-image: url(img/d.ekip.jpg)">&nbsp;</div></div></div>
                          <h3>Доктор Митова</h3>
                          <p>Д-р Юлиана Митова е специалист по дентална медицина с опит от над 20 години. Всеки клиент може да се чувства сигурен в нейният професионализъм.</p>
                      </li>
                      <li>
                          <div class="shadow img"><div class="shadow-content"><div style="background-image: url(img/d.ekip.jpg)">&nbsp;</div></div></div>
                          <h3>Доктор Митова</h3>
                          <p>Д-р Юлиана Митова е специалист по дентална медицина с опит от над 20 години. Всеки клиент може да се чувства сигурен в нейният професионализъм.</p>
                      </li>
                      <li>
                          <div class="shadow img"><div class="shadow-content"><div style="background-image: url(img/d.ekip.jpg)">&nbsp;</div></div></div>
                          <h3>Доктор Митова</h3>
                          <p>Д-р Юлиана Митова е специалист по дентална медицина с опит от над 20 години. Всеки клиент може да се чувства сигурен в нейният професионализъм.</p>
                      </li>
                      <li>
                          <div class="shadow img"><div class="shadow-content"><div style="background-image: url(img/d.ekip.jpg)">&nbsp;</div></div></div>
                          <h3>Доктор Митова</h3>
                          <p>Д-р Юлиана Митова е специалист по дентална медицина с опит от над 20 години. Всеки клиент може да се чувства сигурен в нейният професионализъм.</p>
                      </li>
                      <li>
                          <div class="shadow img"><div class="shadow-content"><div style="background-image: url(img/d.ekip.jpg)">&nbsp;</div></div></div>
                          <h3>Доктор Митова</h3>
                          <p>Д-р Юлиана Митова е специалист по дентална медицина с опит от над 20 години. Всеки клиент може да се чувства сигурен в нейният професионализъм.</p>
                      </li>
                      <li>
                          <div class="shadow img"><div class="shadow-content"><div style="background-image: url(img/d.ekip.jpg)">&nbsp;</div></div></div>
                          <h3>Доктор Митова</h3>
                          <p>Д-р Юлиана Митова е специалист по дентална медицина с опит от над 20 години. Всеки клиент може да се чувства сигурен в нейният професионализъм.</p>
                      </li>
                  </ul>
                </div><!-- /#List -->
              </div><!-- /#main -->
            </div><!-- /#content -->
            <div id="footer">
                <div id="footerbox">
                    <div id="f_time">
                        <h5>Работно време</h5>
                        Понеделник - Събота<br />
                        8:00 - 20:00<br />
                        Неделя - почивен ден
                    </div>
                    <address>
                    <h5>къде се намираме?</h5>
                    София<br />
                    ул. "Св. Пимен Зографски" 14
                    </address>
                    <a href="#" id="reserve">запази си час сега</a>
                </div>
                <div class="c" style="padding-bottom: 10px;">&nbsp;</div>
                <address id="copy">&copy; 1999-2011 "Дентален Център 3М" ООД Всички права запазени.</address>
                <div id="wd">Уеб дизайн и разработка: <a href="http://ooyes.net" target="_blank" title="Web Design">ooYes.net</a></div>
            </div>
        </div><!-- /#wrapper -->
    </div><!-- /#container -->
</body>
</html>