#page {
	width: 756px;
	margin: 0 auto;
	font-family: Georgia, Serif;
}

#logo {
	background-image: url('./AlohaEditorLogo.png');
	width: 256px;
	height: 256px;
	clear: both;
	float: right;
}

#tests {
	width: 500px;
	float: left;
}

#footer {
	clear: both;
	padding: 50px 0 0 0;
	font-size: 0.8em;
}
