<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>jQuery Simple Fade SlideShow by Pascal Bajorat</title>
<link rel="stylesheet" type="text/css" href="demoStyleSheet.css" />
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="fadeSlideShow.js"></script>
<script type="text/javascript">
jQuery(document).ready(function(){
	jQuery('#slideshow').fadeSlideShow();
});
</script>
</head>

<body>
<div id="top">
	<h1>Simple Fade SlideShow <span>v.2.0 by <a href="http://www.pascal-bajorat.com" target="_blank" title="Visit Pascal Bajorat's Website">Pascal Bajorat</a></span></h1>
</div>
<div id="slideshowWrapper">
    <ul id="slideshow">
        <li><img src="images/4.jpg" width="640" height="480" border="0" alt="" /></li> <!-- This is the last image in the slideshow -->
        <li><img src="images/3.jpg" width="640" height="480" border="0" alt="" /></li>
        <li><img src="images/2.jpg" width="640" height="480" border="0" alt="" /></li>
        <li><img src="images/1.jpg" width="640" height="480" border="0" alt="" /></li> <!-- This is the first image in the slideshow -->
    </ul><br clear="all" />
</div>
<p><small>free stock by <a href="http://sxc.hu" target="_blank">sxc.hu</a></small></p>

</body>
</html>
