#tree > ul{
    padding-bottom: 25px;
}

#domtree .ui-resizable-s:after{
    content: '...';
    color: #a4a4a4;
    font-size: 17px;
    line-height: 3px;
}
#domtree .ui-resizable-s{
    position: sticky;
    background-color: #eee;
    text-align: center;
    height: 12px;
    bottom: 0;
}
#domtree{
    max-height: 220px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#domtree .mw-domtree{
    min-height: calc(100% - 30px);
    min-height: -webkit-calc(100% - 30px);
}
.mw-domtree li.selectable-true.hover > span {
    background-color: #000;
    color: #fff;
}

.mw-domtree li.selected > span {
    background-color: #000;
    padding-inline-start: 5px;
    color: #fff
}

.mw-domtree li.selectable-true{
    cursor:pointer;
}
.mw-domtree li.selectable-false{
    cursor: default;
    opacity:.8;
}
.mw-domtree li{
    list-style: none;
}
.mw-domtree li li{
    padding-inline-start: 10px;
}
.mw-domtree ul{
    display: none;
}
.mw-domtree .expand > ul{
    display: block;
}

.mw-domtree-item-label .mw_module_settings_sidebar_icon,
.mw-domtree-item-label svg{
    width: 19px;
    height: 19px;
}
.mw-domtree-item-label .mw_module_settings_sidebar_icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin: 0 5px 0 5px;
    display: inline-block;
    vertical-align: middle;
}

.mw-domtree-item-label{
    display: inline-block;
    width: 90%;
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
    overflow: hidden;
    text-overflow: ellipsis;
}

.mw-domtree{
    text-align: left;
    direction: ltr;
}

.mw-domtree-item-opener{
    --size: 14px;
    --color: red;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    border-radius: 3px;
    cursor: pointer;
    vertical-align: top;
    position: relative;
    top: 5px;
    margin-inline-end: 5px;
}

.mw-domtree-item-opener:after{
    content: '';
    transition: .3s;
    position: relative;
    display: inline-block;
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' fill='%23999'%3E%3Cpath d='m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    width: var(--size);
    height: var(--size);

}
.expand > .mw-domtree-item-opener:after{
    transform: rotate(90deg);
}
