/* Icon pickers */
.form-control-live-edit-label-wrapper, .fi-input-wrp {
    @apply cursor-auto block leading-[22px] min-h-[45px] border-0 outline-none appearance-none shadow-none relative m-[3px_7px];
    box-shadow: none !important;
    outline: none !important;
}

.fi-input-wrp:has(.fi-input:focus), .fi-input-wrp:has(textarea:focus-visible) {
    @apply !outline-none !border-none !shadow-none;
    box-shadow: none !important;
}

.fi-input-wrp:has(.fi-input:focus):after, .fi-input-wrp:has(textarea:focus-visible):after {
    @apply w-full !border-none;
}

.fi-input-wrp:after {
    @apply bg-black absolute bottom-0 h-[1px] content-[''] block transition-all duration-[0.25s] ease-in w-0;
}

.form-control-live-edit-label-wrapper textarea.form-control-live-edit-input {
    @apply pt-[10px];
}

@-moz-document url-prefix() {
    .form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select {
        @apply pt-[10px];
    }
}

.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select {
    @apply capitalize;
}

.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select option {
    @apply text-black dark:text-white;
}

.form-control-live-edit-label-wrapper .v-slider-thumb__surface.elevation-2 {
    color: #f0f0f0;
}

/*.form-control-live-edit-label-wrapper .text-align .active {*/
/*    @apply bg-gray-100 border-gray-100;*/
/*}*/

.fi-global-search svg, .fi-input-wrp  svg {
    @apply top-[10px] z-10 right-[10px] absolute;
}

.fi-global-search {
    @apply relative;
}

.form-control-live-edit-label-wrapper .form-control-live-edit-input,
.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select,
.fi-input, .fi-select-input,
.fi-input-wrp textarea {
    @apply !border-none flex-[1_1_0%] text-base leading-[22px] text-left caret-black min-h-[45px] w-full bg-gray-100 outline-none shadow-none px-[10px];
}

.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select:disabled,
.form-control-live-edit-label-wrapper .form-control-live-edit-input:disabled {
    @apply bg-gray-100 opacity-70;
}

.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select:focus,
.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select:focus-visible,
.form-control-live-edit-label-wrapper .form-control-live-edit-input:focus,
.form-control-live-edit-label-wrapper .form-control-live-edit-input:focus-visible {
    @apply !border-none outline-none shadow-none bg-transparent;
}

.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select:focus + .form-control-live-edit-bottom-effect:after,
.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select:focus-visible + .form-control-live-edit-bottom-effect:after,
.form-control-live-edit-label-wrapper .form-control-live-edit-input:focus + .form-control-live-edit-bottom-effect:after,
.form-control-live-edit-label-wrapper .form-control-live-edit-input:focus-visible + .form-control-live-edit-bottom-effect:after {
    @apply w-full transition-[width] duration-300;
}

.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-control-input-range-slider,
.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select.form-control-input-range-slider {
    @apply bg-transparent max-w-[45px] h-[35px];
}

.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-control-input-range-slider:focus,
.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-control-input-range-slider:focus-visible,
.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select.form-control-input-range-slider:focus,
.form-control-live-edit-label-wrapper .form-control-live-edit-input.form-select.form-control-input-range-slider:focus-visible {
    @apply bg-[#4A4A4A];
}

.form-control-live-edit-label-wrapper .form-control-live-edit-bottom-effect {
    @apply absolute bottom-0 h-[1px] left-[6px] w-[calc(100%-12px)] bg-gray-300 box-border;
}

.form-control-live-edit-label-wrapper .form-control-live-edit-bottom-effect:focus-visible {
    @apply !border-none;
}

.form-control-live-edit-label-wrapper .form-control-live-edit-bottom-effect:after {
    @apply bg-black absolute bottom-0 h-[1px] content-[''] block transition-all duration-[0.25s] ease-in w-0;
}

.form-control-live-edit-label-wrapper .form-control-live-edit-bottom-effect.bottom-effect-textarea {
    @apply bottom-[5px];
}

.form-control-live-edit-label-wrapper .form-control-live-edit-settings-btn {
    @apply absolute top-[10px] right-[16px] cursor-pointer;
}

.mw-filepicker-component-navigation-header .form-control-live-edit-label-wrapper {
    @apply w-full;
}
