.module-parallax h1 {
    font-size: 34px;
    color: black;
}

.module-parallax .info-box {
    height: 550px;
    font-size: 36px;
    padding: 10px;
    display: table;
    width: 100%;
    height: 100%;
}

.module-parallax .info-box-fluid {
    min-height: 350px;
    font-size: 36px;
    padding: 10px;
    display: table;
    width: 100%;
    height: 100%;
}

.module-parallax .middle-content {
    display: table-cell;
    vertical-align: middle;
}

.module-parallax .parallax {
    min-height: 550px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.module-parallax img {
    max-width: 100%;
}

.module-parallax p {
    font-size: 18px;
}
