/* Default & Full Width */
.module-parallax h1{
    font-size: 34px;
    color: black;
}

.module-parallax .info-box {
    height:550px;
    font-size:36px;
    padding: 10px;
    display: table;
}

.module-parallax .info-box-fluid {
    min-height:350px;
    font-size:36px;
    padding: 10px;
    display: table;
}


.module-parallax .middle-content{
    display: table-cell;
    vertical-align: middle;
}

.module-parallax .parallax{
    min-height: 550px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.module-parallax img{
    max-width: 100%;
}

.module-parallax p{
    font-size: 18px;
}

/* Fluid 1 */
.module-parallax {
    min-height: auto;
}

.parallax-wrapper.parallax-fluid-1{
    background: #000;
    position: relative;
}

.parallax-wrapper.parallax-fluid-1 .parallax {
    background-size: cover;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: initial;
}

.parallax-wrapper.parallax-fluid-1 .info-box-fluid {
    z-index: 2;
    display: table;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-height: initial;
    padding: 0;
}

.parallax-wrapper.parallax-fluid-1 .info-box-fluid p {
    color: #fff;
    font-size: 48px !important;
    text-align: center;
}

.parallax-wrapper.parallax-fluid-1 .info-box-fluid .module-btn {
    text-align: center;
}

.parallax-wrapper.parallax-fluid-1 .info-box-fluid .module-btn .btn-primary {
    text-align: center;
    font-size: 18px;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 10px 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.parallax-wrapper.parallax-fluid-1 .info-box-fluid .module-btn .btn-primary:hover {
    background-color: #b4b4b4;
    border: 1px solid #b4b4b4;
}

@media screen and (max-width: 767px) {
    .parallax-wrapper.parallax-fluid-1 .parallax {
        background-size: cover;
    }

    .parallax-wrapper.parallax-fluid-1 .info-box-fluid p {
        font-size: 28px !important;
    }
}

@media screen and (max-width: 991px) {
    .parallax-wrapper.parallax-fluid-1 .parallax {
        background-size: cover;
    }

    .parallax-wrapper.parallax-fluid-1 .info-box-fluid p {
        font-size: 32px !important;
    }
}

@media screen and (max-width: 1199px) {
    .parallax-wrapper.parallax-fluid-1 .parallax {
        background-size: cover;
    }

    .parallax-wrapper.parallax-fluid-1 .info-box-fluid p {
        font-size: 36px !important;
    }
}