/*
    Microweber framework for skid-e-kids
*/
.mw_blue_link{
  color: #0489C3;
  text-decoration: none;
}
.mw_blue_link:hover{
  text-decoration: underline;
}
.mw_btn_x{
  display: inline-block;
  background: url(../img/mw_btn_x_left.jpg) no-repeat;
  text-decoration: none;
  color: white;
}
.mw_btn_x span{
  display: inline-block;
  background: url(../img/mw_btn_x_right.jpg) no-repeat right top;
  padding: 15px 20px;
}
.mw_btn_x:hover span{
  text-decoration: underline;
}

.mw_btn_x_orange{
  display: inline-block;
  background: url(../img/mw_btn_x_orange.jpg) no-repeat;
  text-decoration: none;
  color: white;
}
.mw_btn_x_orange span{
  display: inline-block;
  background: url(../img/mw_btn_x_orange_right.jpg) no-repeat right top;
  padding: 15px 20px;
}
.mw_btn_x_orange:hover span{
  text-decoration: underline;
}


.mw_btn_s{
  display: inline-block;
  background: url(../img/mw_btn_s_left.jpg) no-repeat;
  text-decoration: none;
  color: white;
}
.mw_btn_s span{
  display: inline-block;
  background: url(../img/mw_btn_s_right.jpg) no-repeat right top;
  padding: 12px 15px;
}
.mw_btn_s:hover{
  /*background: url(../img/mw_btn_s_left_hover.jpg) no-repeat;*/

}
.mw_btn_s:hover span{
  /*background-image: url(../img/mw_btn_s_right_hover.jpg);*/
  text-decoration: underline;
}

.hr{
  height: 3px;
  overflow: hidden;
  background: #0672AF;
  clear: both;
  float: none;
  margin: 0 auto;
}
.ghr{
  height: 1px;
  overflow: hidden;
  background: #D7D7D7;
  clear: both;
  float: none;
  margin: 0 auto;
}

