@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,300&subset=latin,latin-ext);
body{
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.618;
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, textarea{
    font-family: 'Titillium Web', sans-serif;
}

a{
  outline: none
}

body,
a,
.module-logo,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
.module-logo *{
    color: #303030;
}
p{
  color: #777
}


#main-container{
    margin: 0 auto;
    max-width: 960px;
    padding: 0;
    box-shadow: 0px 2px 10px -6px #000;
    background: white;
}
.container{
  max-width: none;
  width: auto;
}

#header{
  margin-bottom: 0;
  padding: 0;
  position: relative;
  z-index: 99;
}

#header .container{
    padding: 50px 0 15px;
}

#header-main-menu{
  border: none;
}

#header-menu{
  text-align: right;
  padding-top: 10px;
}

#header .nav-small{
  margin-top: 40px;
}

#logo{
  margin-bottom:20px;
}

.nav-small > li > a{
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 12px;
  font-size: 15px;
  color: #999;
}


.nav-small a:hover,
.nav-small a:focus,
.nav-small a.active{
  color: #303030;
}
#header-cart {
  color: white;
  display: inline-block;
  position: fixed;
  right: 20px;
  text-align: right;
  top: 20px;
  width: 170px;
  z-index: 99;
}

.mw-live-edit #header-cart{
  top: 70px;
}

#header-cart .cart-small{
  background: none repeat scroll 0 0 #303030;
  border-radius: 99px;
  padding: 10px 20px;
}

.mw-cart-small-no-items{
  display: none !important;
}

#header-cart, #header-cart *{
  color: white;

}

.module-logo,
.module-logo .mw-ui-col,
.module-logo .mw-ui-col *{
  text-decoration: none !important;
  vertical-align: middle;
}

.module-logo .mw-ui-col .mw-ui-col-container{
  display: inline-block;
}



.mwpgrid-item{
  display: block;
  margin-bottom: 10px;
  width: 33.333%;
  padding: 0 10px;
  float: left;
  overflow: hidden;
  text-align: center;
}
.row .mwpgrid-item{
  width: 50%;
}

.mwpgrid-item-rock-image{
  display: inline-block;
  height: 280px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.module-shop-products .mwpgrid-item-rock-image{
  background-size: contain;
  background-position: center;
}

.mwpgrid-item-container, .mwpgrid-item-rock-image{
  width: 100%;
}


.mwpgrid-item-container{
  text-align: center;
  clear: both;
}


.module-posts-template-mwpgrid .mwpgrid-item:hover h3 a{
  text-decoration: underline
}

.module-posts-template-mwpgrid-single,  .module-posts-template-mwpgrid-single .mwpgrid-item{
  width: 100%;
}
 .module-posts-template-mwpgrid-single .mwpgrid-item-rock-image img{
   max-width: 80%;
 }
 .module-posts-template-mwpgrid-single .mwpgrid-item{
   padding-bottom: 40px;
 }

.module-posts-template-mwpgrid-single .mwpgrid-item-rock-image{
  height: auto;
}

.module-posts-template-mwpgrid-single .product-price-holder .price {
    font-size: 20px;
    margin-right: 21px;
    position: relative;
    top: 6px;
    float: none;
}

.module-posts-template-mwpgrid-single .product-price-holder .mw-icon-shop,
.module-products-template-columns-3  .mw-icon-shop{
  cursor: pointer;
  font-size: 30px;
}

.module-posts-template-mwpgrid-single .product-price-holder{
  padding-top: 0;
  padding-bottom: 30px;
}

.module-posts-template-mwpgrid-single .product-price-holder .btn{
  float: none;
}

#shop-products-conteiner .col-md-3 .edit.page-title{
  padding-top: 0;
  margin-top: 0;
}



#shop-products-conteiner .col-md-3{
  border-right: 1px solid #EAEAEA;
}

.module-posts-head h3{
  margin: 0 auto 10px;
}

.module-posts-head h3, .module-posts-head h3 a{
  font-size: 13px;
  text-align: center;
  color: #707070;
  margin: 0;
}

.category-grid-item{
  display: inline-block;
  width: 33.33%;
  float: left;
}
.category-image{
  display: block;
  height: 280px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: rgba(224, 224, 224, 1);
  opacity: 0.8;
}

.category-image:hover{
  opacity: 1;
}

.category-grid-item-content{
  display: block;
  padding: 10px;
}

.category-grid-item strong{
  font-weight: bold;
  padding: 10px;
  font-weight: 300;
  text-align: center;
  display: block;
}
.post-content .mw-module-images{
  padding: 0;
}

.grayscale{
   filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
}


.mw-pictures-item-simple{
  padding-bottom: 40px;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
.mw-pictures-item-simple-description{
  padding-top: 5px;
}

.portfolio-footer span{
    font-size: 22px;
    float: left;
    margin:15px 12px 0 0;
}

.portfolio-footer a{
    display: inline-block;padding: 15px;background-color: #ffff01;text-align: center;font-size: 22px;float: right
}
.module-posts-template-clean-image{
  display: block;
  margin-top: 10px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}



.module-posts-template-clean-item .mw-ui-link{
  text-decoration: none;
  text-transform: uppercase;
}

.module-posts-template-clean-item{
  padding-bottom:80px;
}
.module-posts-template-clean-item h4{
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 12px;
  margin-bottom: 0;
}
.module-posts-template-clean-description{
  padding: 25px 0 0;
  font-size: 14px;
}

.blog-socials-bar,.blog-socials-bar *{
    vertical-align: middle;
}

.masonry-item-grid{
  width: 49%;
  box-shadow: none;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.richtext{
    line-height: 24px;
}

.richtext > p{
  margin-bottom: 0;
}

.richtext > p + p{
    padding-top: 18px;
}
h2.edit{
  padding-bottom: 18px;
}

.contact-form-template-dream{
   background: white;
   box-shadow: 0 0 6px -3px;
}

.contact-form-template-dream .contact-form-title{
  border-bottom-color:#e3e3e3;
}

.contact-form-template-dream .cft-submit,
.mw-social-links a,
.mw-ui-btn-invert{
  background-color: #303030;
}


.mw-social-links a span{
  color: white !important;
}

.shipping-and-payment .mw-ui-field{
  width: 100%;
  background-color: #f8f8f8;
  border-color: #eeeeee;
  box-shadow: none;
  border-radius: 0;
}


.shipping-and-payment .mw-ui-field:focus{

  background-color: #fff;
}

.shipping-and-payment label.mw-address-label{
  display: none;
}



.social-login{
  clear: both;
  float: none;
}
.social-login .social-login-nav{
  margin-top: 12px;
}

#mw-login input[type='submit']{
  margin-bottom: 24px;
}

.social-login li a{
  -moz-transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
}
.social-login li:hover a{
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}

.captcha-row{
  width: 100%;
}
.mw-captcha-image-holder{
  border-color: transparent;
}

.sign-in{
  width: auto;
  margin: 30px auto;
}

.sign-in > .mw-ui-col, .checkout-login > .mw-ui-col{
  width: 50%
}

.sign-in .box-head{
  padding-bottom: 12px;
}

.sign-in .item-box{
  margin-bottom: 24px;
  width: 380px;
  max-width: 100%;
}

.sign-in .item-box .mw-ui-field-big{
  font-size: 15px;
}


.social-login-top{
  margin: auto;
  max-width:775px;
  text-align: center;
  font-size: 20px;
  background-color: #303030;
  margin-top: 50px;
  border-radius: 100px;
}

.social-login-top [class*='mw-icon-']{
  font-size: 40px;
  margin: 0 12px;
  color: white;
}

.pad{
  padding: 20px 0;
}
.mw-ui-btn.default-invert.active, .mw-ui-btn.default-invert:hover, .mw-ui-btn.default-invert:focus,
.mw-ui-btn.default-invert.active *, .mw-ui-btn.default-invert:hover *, .mw-ui-btn.default-invert:focus *{
  color: white !important;
}



.user-profile-menu{
  width: 100%;
}

.user-profile-menu .mw-ui-btn.active{
  background-color: #303030;
  color: white;
  border-color: transparent
}


.pad {
    padding: 24px;
}
.item-box {
    border: 1px solid #f0f0f0;
    border-radius: 0;
    position: relative;
}

.item-box:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.icon-section-title > [class*="sm-icon-"],
.icon-section-title > [class*="mw-icon-"] {
    font-size: 232%;
    margin: -4px 12px 0 0;
    opacity: 0.7;
}

#shop-container .mw-row .mw-col:first-child > .mw-col-container{
  padding-right: 20px;
}

#shop-container .mw-row .mw-col:last-child > .mw-col-container{
  padding-left: 20px;
}





.module-products-template-columns-productimage{
  display: block;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.btn-action [class*='mw-icon']{
  font-size: 32px;
  margin-right: 16px;
  top: -3px;
}
.mw-ui-btn{
  line-height: 1.4;
}

.mw-ui-btn-info:hover,
.mw-ui-btn-info:focus,
.mw-ui-btn-invert:hover,
.mw-ui-btn-invert:focus,
.mw-ui-btn-success:hover,
.mw-ui-btn-success:focus{
  color: white;
}

#mobile-menu{
  display: none;
  width: 25px;
  margin: auto;
  cursor: pointer;
}



#mobile-menu span{
  display: block;
  height: 2px;
  background-color: #303030;
  margin-bottom: 4px;
}
#mobile-menu:hover span{
  background-color: black;
}

.module-navigation-rock{
  text-align: center;
}

.module-navigation-rock li{
  display: inline-block;
  position: relative;
}

.module-navigation-rock li a{
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none !important;
  position: relative;
}
.module-navigation-rock li:hover > a,
.module-navigation-rock li a.active,
.module-navigation-rock li a:hover,
.module-navigation-rock li a:focus{
  background-color: transparent;
  opacity: 0.7;
}

.module-navigation-rock li ul{
  position: absolute;
  visibility: hidden;
  top: 100%;
  left: 50%;
  width: 160px;
  margin-left: -80px;
  text-align: center;
  padding: 10px 0;
  background-color: white;
  box-shadow: 0 0 6px -3px #000;
}
.module-navigation-rock li ul:before {
    background-color: white;
    content: "";
    display: block;
    height: 10px;
    position: absolute;
    left:50%;
    margin-left: -5px;
    top: -5px;
    transform: rotate(45deg);
    width: 10px;
    z-index: 0;
    box-shadow:-2px -2px 3px -2px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow:-2px -2px 2px 0px rgba(0, 0, 0, 0.10);
}

.module-navigation-rock li ul ul:before{
  top: 12px;
  left: -5px;
  margin-left: 0;
  box-shadow:-2px 2px 3px -2px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow:-2px 2px 3px 0px rgba(0, 0, 0, 0.10);
}
.module-navigation-rock li ul li,
.module-navigation-rock li ul a{
  display: block;
}
.module-navigation-rock li li ul{
  top: 0;
  left: 100%;
  margin: 0;
}

#header-main-menu .module-navigation-rock li li a{
  color: #303030;
}

#header-main-menu .module-navigation-rock li li a:focus,
#header-main-menu .module-navigation-rock li li a:hover,
.module-navigation-rock li li a:hover,
.module-navigation-rock li li a:focus{
  color: white;
  background-color: #303030;
  opacity: 1;
}

.module-navigation-rock li:hover > ul{
  visibility: visible;
}
#mobilemenuclose{
  opacity:0;
  -webkit-transform: scale(0,0);
  -moz-transform: scale(0,0);
  -ms-transform: scale(0,0);
  -o-transform: scale(0,0);
  transform: scale(0,0);
  -webkit-transition: all 0.22s;
  -moz-transition: all 0.22s;
  -ms-transition: all 0.22s;
  -o-transition: all 0.22s;
  transition: all 0.22s;
  display: block;
  opacity: 0;
  width: 36px;
  height: 36px;
  border-radius: 36px;
  background-color: #707070;
  color: white;
  padding: 10px;
  visibility: hidden;
  position: fixed;
  z-index: 100;
  top: 40px;
  right: 40px;
  cursor: pointer;
  font-size: 15px;
  line-height: 15px;
}
#footer{

  margin-top: 0;
}

#footer .container{

 padding: 20px;
}


.admin-login .mw-icon-mw{
  font-size: 20px;
  margin: -3px 7px 0 0;
}

.my-order{
  margin-bottom: 30px;
}
.ptab .my-order:last-child{
  margin-bottom: 0;
}

@media (max-width:768px){


#header .edit #header-main-menu  a{
  color: #303030;
  background-color: transparent;
}

body.mobile-visible{
  overflow: hidden;
}

body.mobile-visible #mobilemenuclose{
  visibility: visible;
  opacity: 1;
    -webkit-transform: scale(1,1);
  -moz-transform: scale(1,1);
  -ms-transform: scale(1,1);
  -o-transform: scale(1,1);
  transform: scale(1,1);
}


.module-navigation-default ul ul{
  padding-left: 20px;
}

.module-navigation-default > ul > li ul {
    background: white;
    border: none;
    display: block;
    position: static;
    z-index: 9;
}

.module-navigation-default li:hover a.active, .module-navigation-default li a:hover, .module-navigation-default li:hover a, .module-navigation-default a.active, .module-navigation-default a.active:hover, .module-navigation-default a.active:active, .module-navigation-default a.active:focus {
    background: transparent !important;
    color: inherit !important;
}

    #header-main-menu{
      -webkit-transition: all 0.22s;
      -moz-transition: all 0.22s;
      -ms-transition: all 0.22s;
      -o-transition: all 0.22s;
      transition: all 0.22s;
      box-shadow: 0 0 6px -3px #000;
      margin: 0 !important;
      padding: 0;
      position: fixed;
      background-color: white;
      left: 30px;
      right: 30px;
      top: 100%;
      opacity: 0;
      overflow: auto;
      -webkit-transform: scale(0,0);
      -ms-transform: scale(0,0);
      -moz-transform: scale(0,0);
      -o-transform: scale(0,0);
      transform: scale(0,0);
    }
    .mobile-visible #header-main-menu{
      margin: 50px auto;
      padding: 20px 0;
      top: 30px;
      bottom: 30px;
      opacity: 1;
      transform: scale(1,1);
    }

    #header-main-menu a{
      display: block;
    }

    #header .nav-small{
      border: none;
      padding: 12px 0;
    }

    #header-main-menu{
      display: none;
    }

    #mobile-menu{
      display: block;
    }

    #header .nav-small a{
      display: block ;
      padding: 10px;
      margin: 0 !important;
      text-align: center;
    }

    .mobile-visible #header-main-menu{
      display: block;
    }

    .module-posts-template-mwpgrid .mwpgrid-item{
      width: 50%;
    }

    #header-cart{
      top: 0;
      left: 0;
      width: 100%;
      text-align: right;


    }
    #header-cart .cart-small{
      border-radius: 0;
      padding: 5px 10px;
      overflow: hidden;
    }
    #header-cart .cart-small-checkout-link{
      width: auto;
      float: right;
    }

    #header-cart .cart-small:after{
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 30px;
      content: "";
      background: -moz-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0)));
      background: -webkit-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
      background: -o-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
      background: -ms-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
      background: linear-gradient(to bottom,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);


    }

    .module-navigation-rock li ul, .module-navigation-rock li{
      display: block !important;
      position: static !important;
      visibility: visible;
      box-shadow: none;
      float: none;
      margin: 0 auto;
    }
    .module-navigation-rock li ul:before{
      display: none;
    }

    .module-navigation-rock ul ul a{
      font-size: 90%;
    }

}

@media (max-width:550px){
    .module-posts-template-mwpgrid .mwpgrid-item{
      width: 100%;
    }
}
/* Settings */
#alltplimages [class*='pick-']{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right:8px;
    margin-bottom:7px;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
    border: 1px solid #111;
    background-size: cover;
    background-position: center;
    -webkit-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    -ms-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
    opacity: 0.8;
}

#alltplimages [class*='pick-']:hover{
  opacity: 1;
}
