.fi-simple-header {
    align-items: center;
    padding-top: 0;
}

.fi-simple-header .fi-logo {
    margin-bottom: 0.375rem;
}

.fi-simple-header-heading,
.fi-simple-header-subheading {
    text-align: center;
}
