@import url("../framework.css");
body{
  font: 18px Arial, sans-serif;
  color: #545454;
  background: #F1F1F1 url(styles/img/bodybg.gif) repeat-x;
}

h1, h2, h3, h4, h5, h6{
  color: #2C2C2C;
  font-weight: bold;
}
h1{
  font-size: 35px;
}

h2{
  font-size:25px;
  padding-bottom: 12px;
}
h3{
  font-size:18px;
}


.wrap{
  width:910px;
  margin: 0 auto;
  zoom:1;
  display: block;
}
.logoarea{
  height: 120px;
}
#logo{
  float: left;
  white-space: nowrap;
  display: inline-block;
  font-size: 50px;
  color: white !important;
  font-weight: normal;
  cursor: pointer;
  margin-top: 28px;
  text-decoration: none !important;
}
#logo b, #logo strong{
  font-weight: normal;
}
#slogan{
  min-height: 240px;
  position: relative;
}
#slogan .wrap{
  position: relative;
  z-index: 1;
}
.lamp{
  display: block;
  width:119px;
  height:126px;
  overflow: hidden;
  float: left;
  background: url(styles/img/lamp.png) no-repeat;
  margin:52px 0 0 0;
}
#slogan-text{
    float: left;
    width: 410px;
    margin-top:80px;
    color:#2C2C2C;
}
#content{
  clear: both;
  zoom:1;
  position: relative;
  z-index: 1;
  padding-bottom: 40px;
}
#content:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#sidebar{
  float: right;
  width: 330px;
  padding-top:30px;
}
#main{
  float: left;
  width:560px;
  padding-top:30px;
  clear: both;
}
.testimonial{
  padding:15px 0;
}
.testimonial a{
    text-decoration: underline;
}
#form{
  float: right;
  width: 330px;
  overflow: hidden;
  min-height:400px;
  margin-top: -276px;
}
.list{
  float: left;
  display: inline;
  list-style: none;
  margin-right:65px;
  padding-bottom: 12px;
}
.list li{
  padding-left:29px;
  background-repeat:no-repeat;
  background-position: 0 2px;
  font-size: 18px;
  padding-bottom: 15px;
  min-height: 22px
}
br{
  clear: both;
  display: block;
  zoom:1;
}
br:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;

}
#footer{
  background: #262626;
  padding: 20px 0;
}
#footer-nav{
  float: left;
  list-style: none;
}
#footer-nav li{
  float: left;
}
#footer-nav a{
  display: block;
  padding:7px 15px;
  background: url(styles/img/footerdelimiter.gif) repeat-y right center;
  color: white !important;
  text-decoration: none !important;
  font-size: 14px;
}
#footer-nav a:hover{
  text-decoration: underline !important;
}


#footer-nav li:last-child a{
  background: none
}
#footer-nav li:first-child a{
  padding-left: 0;
}
#footer-nav br{
  display: none;
}






























































