

    /*DEFAULT*/
        .mw-testimonials-default{
        clear: both;
    }

    .mw-testimonials-default:after{
       visibility: hidden;
       display: block;
       font-size: 0;
       content: " ";
       clear: both;
       height: 0;
    }

    .mw-testimonials-default .mw-testimonials-item{
        float: left;
        width: 30%;
        min-width: 250px;
        margin: 1.5%;
        background: white;
        padding: 20px;
        text-align: center;
        border-radius: 3px;
        border: 1px solid #DCD5D5;
        box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.09);

    }

    .mw-testimonials-default .mw-testimonials-item-image{
        width: 100px;
        height: 100px;
        border-radius: 100px;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        margin: auto
    }

    .mw-testimonials-default .mw-testimonials-item-role{
        color: #7A7A7A;
        display: block;
        padding-bottom: 5px;
    }

    .mw-testimonials-default .mw-testimonials-item h5{
        font-weight: bold;
    }

    /* POSTS */
    .mw-testimonials-posts{
        clear: both;
    }

    .mw-testimonials-posts:after{
       visibility: hidden;
       display: block;
       font-size: 0;
       content: " ";
       clear: both;
       height: 0;
    }

    .mw-testimonials-posts .mw-testimonials-item{
        float: left;
        width: 100%;
        padding: 20px;
        margin: 20px 0;
        background: white;
        text-align: left;
        border-radius: 3px;
        border: 1px solid #DCD5D5;
        box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.09);

    }

    .mw-testimonials-posts .mw-testimonials-item-image{
        width: 150px;
        height: 150px;
        border-radius: 3px;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        margin: 0 20px 0 0;
        float: left;
    }

    .mw-testimonials-posts .mw-testimonials-item-role{
        color: #7A7A7A;
        display: block;
        padding-bottom: 5px;
    }

    .mw-testimonials-posts .mw-testimonials-item h4{
        font-size:190%;
        margin-top: 0;
        margin-bottom: 0;
    }
    .mw-testimonials-posts .mw-testimonials-item h5{
        font-weight: bold;
    }

    .mw-testimonials-posts .mw-testimonials-item-content{
        float: left;
        width: 500px;
        width: calc(100% - 170px);
        width: -webkit-calc(100% - 170px);
    }

    /*Slider*/

        .mw-testimonials-slider{
        clear: both;
        position: relative;
    }

    .mw-testimonials-slider .slick-arrow{
        position: absolute;
        top: 50%;
        border:none;
        font-size:50px;
        cursor: pointer;
        z-index: 2;
    }

    .mw-testimonials-slider .slick-prev{
        left:0
    }
    .mw-testimonials-slider .slick-next{
        right:0
    }

    .mw-testimonials-slider:after{
       visibility: hidden;
       display: block;
       font-size: 0;
       content: " ";
       clear: both;
       height: 0;
    }

    .mw-testimonials-slider .mw-testimonials-item{
        float: left;
        width: 100%;
        padding: 20px;
        margin: 20px 0 0;
        text-align: left;
        border-radius: 3px;

    }

    .mw-testimonials-slider .mw-testimonials-item-image{
        width: 150px;
        height: 150px;
        border-radius: 150px;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        margin: 0 auto 20px;

    }

    .mw-testimonials-slider .mw-testimonials-item-role{
        color: #7A7A7A;
        display: block;
        padding-bottom: 5px;
    }

    .mw-testimonials-slider .mw-testimonials-item h4{
        font-size:190%;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .mw-testimonials-slider .mw-testimonials-item h4 a{
        text-decoration: none;
        font-weight: 400;
    }

    .mw-testimonials-slider .mw-testimonials-item h4,
    .mw-testimonials-slider .mw-testimonials-item h4 a{
        color:#13b44c
    }

    .mw-testimonials-slider .mw-testimonials-item h5{
        font-weight: bold;
    }

    .mw-testimonials-slider .mw-testimonials-item-content{
        text-align: center;
        max-width: 650px;
        margin: auto;
    }
    .mw-testimonials-slider hr{
        clear:both;
        width: 55px;
        height: 1px;
        background: #ccc;
        margin: 25px auto;
        border: none
    }

    .mw-testimonials-slider .slick-dots{
        text-align: center;
    }

    .mw-testimonials-slider .slick-dots li{
        list-style: none;
        display: inline-block;
        margin: 0 3px;
    }

    .mw-testimonials-slider .slick-dots button{
        font-size: 0;
        background:white;
        border-radius:10px;
        border: 1px solid #999;
        display:inline-block;
        width: 8px;
        height: 8px;
    }
    .mw-testimonials-slider .slick-dots .slick-active button{
        background: #13b44c;
        border-color:#13b44c;
    }