/*$Rev: 46 $*/

body {
margin: 0;
padding: 0;
font-family: verdana,arial,helvetica,sans-serif;
font-size: 11px;
color: #4F5155;
}

#content {
margin: 0 20px 0 20px;
line-height: 16px;
padding: 0;
}

h1 {
font-size: 18px;
margin: 0;
padding: 0 0 2px 0;
background-color: #D0D0D0;
text-align: center;
}

h2 {
background-color: #727EA3;
border-right: 1px solid #D0D0D0;
border-bottom: 1px solid #D0D0D0;
color: #FFFFFF;
font-size: 14px;
font-weight: bold;
margin: 14px 0 4px 0;
padding: 1px 10px 1px 10px;
}

ul {
margin-top: 0;
margin-bottom: 0;
line-height:1.5em;
list-style-image:url(bullet.gif);
list-style-type:square;
}

.top {
font-size: 11px;
float: right;
}

.code {
font-size: 11px;
font-family: Monaco, Verdana, Sans-serif;
line-height: 14px;
background-color: #f6f6f6;
border-bottom: 1px solid #D0D0D0;
border-top: 1px solid #A0A0A0;
border-left: 1px solid #A0A0A0;
border-right: 1px solid #D0D0D0;
color: #002166;
display: block;
margin: 2px 0 2px 0;
padding: 2px 10px 2px 10px;
}

.code A:link {color: #002166; text-decoration: none; font-weight: bold;}
.code A:visited {color: #002166; text-decoration: none; font-weight: bold;}
.code A:active {color: #002166; text-decoration: none; font-weight: bold;}
.code A:hover {color: #0000ff; text-decoration: underline; font-weight: bold;}

.code .keyword {
color: #007700;
}

.code .comment {
font-size: 10px;
color: #888;
}

.code .var {
color: #770000;
}

th {
font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
color: #000000;
background-color: #CFD4E6;
margin: 2px 2px 2px 2px;
padding: 2px 2px 2px 2px;
font-size: 13px;
font-weight: normal;
font-style: normal;
}

td {
background-color: #dddddd;
}

.description {
font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
font-size: 11px;
color: #333;
text-ident: 30px;
font-style: normal;
}

.returns {
font-family: Monaco, Verdana, Sans-serif;
font-size: 10px;
color: #888;
float: left;
text-align: right;
margin: 0 4px 0 0;
width: 48px;
}