.mw-backup-v2-import {
    padding-right:40px;
    padding-left:40px;
    text-align: center;
    display: flex;
    flex-flow: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.mw-backup-v2-import > .import-image {
    display: none;
}
.mw-backup-v2-import-option {
    padding-left:15px;
    padding-bottom: 15px;
    background:#FFF;
    border: 1px solid #ebebeb;
    margin-bottom: 15px;
    width:100%;
    text-align: left;
}    .mw-backup-v2-import-option.active {
         box-shadow: 0px 4px 11px #e6e6e6;
     }
.mw-backup-v2-import-option:hover {
    box-shadow: 0px 4px 11px #e6e6e6;
}
.mw-backup-v2-import-option h3 {
    font-weight: bold;
    font-size: 18px;
}
.mw-backup-v2-import-option p {
    font-size: 13px;
}
.mw-backup-v2-import-option > .option-radio {
    width: 50px;
    height: 85px;
    float: left;
    padding-top: 25px;
    padding-left: 10px;
}
.mw-backup-v2-import-buttons {
    text-align: right;
}
.mw-backup-v2-import-buttons > .button-cancel {
    margin-right: 25px;
    font-weight: bold;
    cursor: pointer;
    padding: 15px;
}
.backup-import-modal-log {
    text-align: left;
    color: #fff;
    background: #575757;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    font-family: monospace;
    border-radius: 4px;
    margin-top:15px;
    margin-bottom:15px;
    height: 200px;
    overflow-y: auto;
}
#backup-import-progressbar h3 {
    color: #469a36;
}
.backup-import-modal-log-progress {
    width:80%;
}