/*---------- emacs Styles ---------*/
.sh_emacs{background:none; padding:0; margin:0; border:0 none;}.sh_emacs .sh_sourceCode{background-color:#fff;color:#000;font-weight:normal;font-style:normal;}.sh_emacs .sh_sourceCode .sh_keyword{color:#9c20ee;font-weight:bold;font-style:normal;}.sh_emacs .sh_sourceCode .sh_type{color:#208920;font-weight:normal;font-style:normal;}.sh_emacs .sh_sourceCode .sh_string{color:#bd8d8b;font-weight:normal;font-style:normal;}.sh_emacs .sh_sourceCode .sh_regexp{color:#bd8d8b;font-weight:normal;font-style:normal;}.sh_emacs .sh_sourceCode .sh_specialchar{color:#bd8d8b;font-weight:normal;font-style:normal;}.sh_emacs .sh_sourceCode .sh_comment{color:#ac2020;font-weight:normal;font-style:italic;}.sh_emacs .sh_sourceCode .sh_number{color:#000;font-weight:normal;font-style:normal;}.sh_emacs .sh_sourceCode .sh_preproc{color:#000;font-weight:normal;font-style:normal;}.sh_emacs .sh_sourceCode .sh_function{color:#000;font-weight:normal;font-style:normal;}.sh_emacs .sh_sourceCode .sh_url{color:#bd8d8b;font-weight:normal;font-style:normal;}.sh_emacs .sh_sourceCode .sh_date{color:#9c20ee;font-weight:bold;font-style:normal;}.sh_emacs .sh_sourceCode .sh_time{color:#9c20ee;font-weight:bold;font-style:normal;}.sh_emacs .sh_sourceCode .sh_file{color:#9c20ee;font-weight:bold;font-style:normal;}.sh_emacs .sh_sourceCode .sh_ip{color:#bd8d8b;font-weight:normal;font-style:normal;}.sh_emacs .sh_sourceCode .sh_name{color:#bd8d8b;font-weight:normal;font-style:normal;}.sh_emacs .sh_sourceCode .sh_variable{color:#00f;font-weight:normal;font-style:normal;}.sh_emacs .sh_sourceCode .sh_oldfile{color:#bd8d8b;font-weight:normal;font-style:normal;}.sh_emacs .sh_sourceCode .sh_newfile{color:#bd8d8b;font-weight:normal;font-style:normal;}.sh_emacs .sh_sourceCode .sh_difflines{color:#9c20ee;font-weight:bold;font-style:normal;}.sh_emacs .sh_sourceCode .sh_selector{color:#00f;font-weight:normal;font-style:normal;}.sh_emacs .sh_sourceCode .sh_property{color:#9c20ee;font-weight:bold;font-style:normal;}.sh_emacs .sh_sourceCode .sh_value{color:#bd8d8b;font-weight:normal;font-style:normal;}

/*-------- Snippet Base Styles ----------*/
.snippet-wrap {position:relative;}
*:first-child+html .snippet-wrap {display:inline-block;}
* html .snippet-wrap {display:inline-block;}
.snippet-reveal{text-decoration:underline;}
.snippet-wrap .snippet-menu, .snippet-wrap .snippet-hide {position:absolute; top:10px; right:15px; font-size:.9em;z-index:1;background-color:transparent;}
.snippet-wrap .snippet-hide {top:auto; bottom:10px;}
*:first-child+html .snippet-wrap .snippet-hide {bottom:25px;}
* html .snippet-wrap .snippet-hide {bottom:25px;}
.snippet-wrap .snippet-menu pre, .snippet-wrap .snippet-hide pre {background-color:transparent; margin:0; padding:0;}
.snippet-wrap .snippet-menu a, .snippet-wrap .snippet-hide a {padding:0 5px; text-decoration:underline;}
.snippet-wrap pre.sh_sourceCode{padding:1em;line-height:1.8em;overflow:auto;position:relative;
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-radius:15px;
box-shadow: 2px 2px 5px #000;
-moz-box-shadow: 2px 2px 5px #000;
-webkit-box-shadow: 2px 2px 5px #000;}
.snippet-wrap pre.snippet-textonly {padding:2em;}
*:first-child+html .snippet-wrap pre.snippet-formatted {padding:2em 1em;}
* html .snippet-wrap pre.snippet-formatted {padding:2em 1em;}
.snippet-reveal pre.sh_sourceCode {padding:.5em 1em; text-align:right;}
.snippet-wrap .snippet-num li{padding-left:1.5em;}
.snippet-wrap .snippet-no-num{list-style:none; padding:.6em 1em; margin:0;}
.snippet-wrap .snippet-no-num li {list-style:none; padding-left:0;}
.snippet-wrap .snippet-num {margin:1em 0 1em 1em; padding-left:3em;}
.snippet-wrap .snippet-num li {list-style:decimal-leading-zero outside none;}
.snippet-wrap .snippet-no-num li.box {padding:0 6px; margin-left:-6px;}
.snippet-wrap .snippet-num li.box {border:1px solid; list-style-position:inside; margin-left:-3em; padding-left:6px;}
*:first-child+html .snippet-wrap .snippet-num li.box {margin-left:-2.4em;}
* html .snippet-wrap .snippet-num li.box {margin-left:-2.4em;}
.snippet-wrap li.box-top {border-width:1px 1px 0 !important;}
.snippet-wrap li.box-bot {border-width:0 1px 1px !important;}
.snippet-wrap li.box-mid {border-width:0 1px !important;}
.snippet-wrap .snippet-num li .box-sp {width:18px; display:inline-block;}
*:first-child+html .snippet-wrap .snippet-num li .box-sp {width:27px;}
* html .snippet-wrap .snippet-num li .box-sp {width:27px;}
.snippet-wrap .snippet-no-num li.box {border:1px solid;}
.snippet-wrap .snippet-no-num li .box-sp {display:none;}
