


@import './index.css';
@import './admin.scss';


#mw-live-edit-quickEditComponent-box .mw-ai-chat-form{
    @apply sticky bottom-0 z-10   ;
}

.quick-ai-card{

    background: #7d7d7d17;
    margin-bottom: 1rem;
}

.card-body{
    padding: 20px;
}

.quick-ai-card-header {
    padding: 10px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #74747469;
}
