


@import './index.css';
@import './admin.scss';


#mw-live-edit-quickEditComponent-box .mw-ai-chat-form{
    position: sticky;
    bottom: 0;
    z-index: 1;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0px 2px #292929c7;
}
