root {
    font-size: 16px;
    height: 100%;
    --tblr-primary: #2893ff;
    --tblr-primary-fg: var(--tblr-light);
    --tblr-primary-darken: #2484e6;
    --tblr-primary-rgb: 40,147,255;
    --tblr-secondary: #616876;
    --tblr-secondary-fg: var(--tblr-light);
    --tblr-secondary-darken: #575e6a;
    --tblr-secondary-rgb: 97,104,118;
    --tblr-success: #33a86b;
    --tblr-success-fg: var(--tblr-light);
    --tblr-success-darken: #2e9760;
    --tblr-success-rgb: 51,168,107;
    --tblr-info: #4299e1;
    --tblr-info-fg: var(--tblr-light);
    --tblr-info-darken: #3b8acb;
    --tblr-info-rgb: 66,153,225;
    --tblr-warning: #f76707;
    --tblr-warning-fg: var(--tblr-light);
    --tblr-warning-darken: #de5d06;
    --tblr-warning-rgb: 247,103,7;
    --tblr-danger: #f83b3e;
    --tblr-danger-fg: var(--tblr-light);
    --tblr-danger-darken: #df3538;
    --tblr-danger-rgb: 248,59,62;
    --tblr-light: #f8fafc;
    --tblr-light-fg: var(--tblr-dark);
    --tblr-light-darken: #dfe1e3;
    --tblr-light-rgb: 248,250,252;
    --tblr-dark: #1d273b;
    --tblr-dark-fg: var(--tblr-light);
    --tblr-dark-darken: #1a2335;
    --tblr-dark-rgb: 29,39,59;
    --tblr-muted: #616876;
    --tblr-muted-fg: var(--tblr-light);
    --tblr-muted-darken: #575e6a;
    --tblr-muted-rgb: 97,104,118;
    --tblr-blue: #2893ff;
    --tblr-blue-fg: var(--tblr-light);
    --tblr-blue-darken: #2484e6;
    --tblr-blue-rgb: 40,147,255;
    --tblr-azure: #4299e1;
    --tblr-azure-fg: var(--tblr-light);
    --tblr-azure-darken: #3b8acb;
    --tblr-azure-rgb: 66,153,225;
    --tblr-indigo: #4263eb;
    --tblr-indigo-fg: var(--tblr-light);
    --tblr-indigo-darken: #3b59d4;
    --tblr-indigo-rgb: 66,99,235;
    --tblr-purple: #ae3ec9;
    --tblr-purple-fg: var(--tblr-light);
    --tblr-purple-darken: #9d38b5;
    --tblr-purple-rgb: 174,62,201;
    --tblr-pink: #d6336c;
    --tblr-pink-fg: var(--tblr-light);
    --tblr-pink-darken: #c12e61;
    --tblr-pink-rgb: 214,51,108;
    --tblr-red: #f83b3e;
    --tblr-red-fg: var(--tblr-light);
    --tblr-red-darken: #df3538;
    --tblr-red-rgb: 248,59,62;
    --tblr-orange: #f76707;
    --tblr-orange-fg: var(--tblr-light);
    --tblr-orange-darken: #de5d06;
    --tblr-orange-rgb: 247,103,7;
    --tblr-yellow: #efc603;
    --tblr-yellow-fg: var(--tblr-light);
    --tblr-yellow-darken: #d7b203;
    --tblr-yellow-rgb: 239,198,3;
    --tblr-lime: #74b816;
    --tblr-lime-fg: var(--tblr-light);
    --tblr-lime-darken: #68a614;
    --tblr-lime-rgb: 116,184,22;
    --tblr-green: #33a86b;
    --tblr-green-fg: var(--tblr-light);
    --tblr-green-darken: #2e9760;
    --tblr-green-rgb: 51,168,107;
    --tblr-teal: #0ca678;
    --tblr-teal-fg: var(--tblr-light);
    --tblr-teal-darken: #0b956c;
    --tblr-teal-rgb: 12,166,120;
    --tblr-cyan: #17a2b8;
    --tblr-cyan-fg: var(--tblr-light);
    --tblr-cyan-darken: #1592a6;
    --tblr-cyan-rgb: 23,162,184;
    --tblr-facebook: #1877F2;
    --tblr-facebook-fg: var(--tblr-light);
    --tblr-facebook-darken: #166bda;
    --tblr-facebook-rgb: 24,119,242;
    --tblr-twitter: #1da1f2;
    --tblr-twitter-fg: var(--tblr-light);
    --tblr-twitter-darken: #1a91da;
    --tblr-twitter-rgb: 29,161,242;
    --tblr-linkedin: #0a66c2;
    --tblr-linkedin-fg: var(--tblr-light);
    --tblr-linkedin-darken: #095caf;
    --tblr-linkedin-rgb: 10,102,194;
    --tblr-google: #dc4e41;
    --tblr-google-fg: var(--tblr-light);
    --tblr-google-darken: #c6463b;
    --tblr-google-rgb: 220,78,65;
    --tblr-youtube: #ff0000;
    --tblr-youtube-fg: var(--tblr-light);
    --tblr-youtube-darken: #e60000;
    --tblr-youtube-rgb: 255,0,0;
    --tblr-vimeo: #1ab7ea;
    --tblr-vimeo-fg: var(--tblr-light);
    --tblr-vimeo-darken: #17a5d3;
    --tblr-vimeo-rgb: 26,183,234;
    --tblr-dribbble: #ea4c89;
    --tblr-dribbble-fg: var(--tblr-light);
    --tblr-dribbble-darken: #d3447b;
    --tblr-dribbble-rgb: 234,76,137;
    --tblr-github: #181717;
    --tblr-github-fg: var(--tblr-light);
    --tblr-github-darken: #161515;
    --tblr-github-rgb: 24,23,23;
    --tblr-instagram: #e4405f;
    --tblr-instagram-fg: var(--tblr-light);
    --tblr-instagram-darken: #cd3a56;
    --tblr-instagram-rgb: 228,64,95;
    --tblr-pinterest: #bd081c;
    --tblr-pinterest-fg: var(--tblr-light);
    --tblr-pinterest-darken: #aa0719;
    --tblr-pinterest-rgb: 189,8,28;
    --tblr-vk: #6383a8;
    --tblr-vk-fg: var(--tblr-light);
    --tblr-vk-darken: #597697;
    --tblr-vk-rgb: 99,131,168;
    --tblr-rss: #ffa500;
    --tblr-rss-fg: var(--tblr-light);
    --tblr-rss-darken: #e69500;
    --tblr-rss-rgb: 255,165,0;
    --tblr-flickr: #0063dc;
    --tblr-flickr-fg: var(--tblr-light);
    --tblr-flickr-darken: #0059c6;
    --tblr-flickr-rgb: 0,99,220;
    --tblr-bitbucket: #0052cc;
    --tblr-bitbucket-fg: var(--tblr-light);
    --tblr-bitbucket-darken: #004ab8;
    --tblr-bitbucket-rgb: 0,82,204;
    --tblr-tabler: #206bc4;
    --tblr-tabler-fg: var(--tblr-light);
    --tblr-tabler-darken: #1d60b0;
    --tblr-tabler-rgb: 32,107,196;
    --tblr-gray-50: #f8fafc;
    --tblr-gray-50-fg: var(--tblr-dark);
    --tblr-gray-50-darken: #dfe1e3;
    --tblr-gray-50-rgb: 248,250,252;
    --tblr-gray-100: #f1f5f9;
    --tblr-gray-100-fg: var(--tblr-dark);
    --tblr-gray-100-darken: #d9dde0;
    --tblr-gray-100-rgb: 241,245,249;
    --tblr-gray-200: #e2e8f0;
    --tblr-gray-200-fg: var(--tblr-dark);
    --tblr-gray-200-darken: #cbd1d8;
    --tblr-gray-200-rgb: 226,232,240;
    --tblr-gray-300: #c8d3e1;
    --tblr-gray-300-fg: var(--tblr-dark);
    --tblr-gray-300-darken: #b4becb;
    --tblr-gray-300-rgb: 200,211,225;
    --tblr-gray-400: #9ba9be;
    --tblr-gray-400-fg: var(--tblr-light);
    --tblr-gray-400-darken: #8c98ab;
    --tblr-gray-400-rgb: 155,169,190;
    --tblr-gray-500: #6c7a91;
    --tblr-gray-500-fg: var(--tblr-light);
    --tblr-gray-500-darken: #616e83;
    --tblr-gray-500-rgb: 108,122,145;
    --tblr-gray-600: #49566c;
    --tblr-gray-600-fg: var(--tblr-light);
    --tblr-gray-600-darken: #424d61;
    --tblr-gray-600-rgb: 73,86,108;
    --tblr-gray-700: #313c52;
    --tblr-gray-700-fg: var(--tblr-light);
    --tblr-gray-700-darken: #2c364a;
    --tblr-gray-700-rgb: 49,60,82;
    --tblr-gray-800: #1d273b;
    --tblr-gray-800-fg: var(--tblr-light);
    --tblr-gray-800-darken: #1a2335;
    --tblr-gray-800-rgb: 29,39,59;
    --tblr-gray-900: #0f172a;
    --tblr-gray-900-fg: var(--tblr-light);
    --tblr-gray-900-darken: #0e1526;
    --tblr-gray-900-rgb: 15,23,42;
    --tblr-bg-surface: var(--tblr-white);
    --tblr-bg-surface-secondary: var(--tblr-light);
    --tblr-bg-surface-dark: var(--tblr-dark);
    --tblr-bg-forms: var(--tblr-bg-surface);
    --tblr-border-color: #e6e7e9;
    --tblr-border-color-light: #f2f3f4;
    --tblr-border-color-active: #b3b7bd;
    --tblr-icon-color: var(--tblr-gray-500);
    --tblr-active-bg: rgba(var(--tblr-primary-rgb), 0.04);
    --tblr-disabled-bg: var(--tblr-gray-100);
    --tblr-disabled-color: var(--tblr-gray-300);
    --tblr-code-color: var(--tblr-gray-600);
    --tblr-code-bg: var(--tblr-gray-100);
    --tblr-dark-mode-border-color: #243049;
    --tblr-dark-mode-border-color-light: #243049;
    --tblr-dark-mode-border-color-active: #314264;
    --tblr-font-weight-light: 300;
    --tblr-font-weight-normal: 400;
    --tblr-font-weight-medium: 500;
    --tblr-font-weight-bold: 600;
    --tblr-font-weight-headings: var(--tblr-font-weight-medium);
    --tblr-font-size-h1: 1.5rem;
    --tblr-font-size-h2: 1.25rem;
    --tblr-font-size-h3: 1rem;
    --tblr-font-size-h4: 0.875rem;
    --tblr-font-size-h5: 0.75rem;
    --tblr-font-size-h6: 0.625rem;
    --tblr-line-height-h1: 2rem;
    --tblr-line-height-h2: 1.75rem;
    --tblr-line-height-h3: 1.5rem;
    --tblr-line-height-h4: 1.25rem;
    --tblr-line-height-h5: 1rem;
    --tblr-line-height-h6: 1rem;
    --tblr-shadow: rgba(var(--tblr-body-color-rgb), 0.04) 0 2px 4px 0;
    --tblr-shadow-transparent: 0 0 0 0 transparent;
    --tblr-shadow-button: 0 1px 0 rgba(var(--tblr-body-color-rgb), 0.04);
    --tblr-shadow-button-inset: inset 0 -1px 0 rgba(var(--tblr-body-color-rgb), 0.2);
    --tblr-shadow-card: 0 0 4px rgba(var(--tblr-body-color-rgb), 0.04);
    --tblr-shadow-card-hover: rgba(var(--tblr-body-color-rgb), 0.16) 0 2px 16px 0;
}
