/***************************
Add your custom styles below
****************************/

.logo-text span {
    font-size: 136px;
    line-height: 1.2;
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
    color: #fff;
    font-weight: 600;
    font-variant-ligatures: common-ligatures;
}

.logo.logo-dark .logo-text span {
    font-size: 32px;
    line-height: 32px;
    color: #343434;
}

.logo.logo-light .logo-text span {
    font-size: 32px;
    line-height: 32px;
    color: #fff;
}

/*
@media screen and (max-width: 480px) {
    .logo-text span {
        font-size: 136px;
        line-height: 136px;
    }
}

@media screen and (min-width: 1200px ) and (max-width: 1365px) {
    .logo-text span {
        font-size: 110px;
        line-height: 110px;
    }
}*/

.nav-bar .phone-header {
    margin-right: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 12px;
    color: #232323;
    line-height: 68px;
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
}

.nav--absolute.nav--transparent .phone-header {
    color: #fff;
}

.nav--absolute.nav--transparent.nav--fixed .phone-header {
    color: #232323;
}

.feature .icon {
    font-size: 70px;
}

.background-image-holder {
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    opacity: 1 !important;
}

.inline-element {
    display: inline-block;
    margin: 0 5px;
}

.background-image-holder {
    background-color: transparent !important;
}

.nav-main a.active {
    font-weight: bold;
}

.nav-bar .logo {
    max-height: 100%;
}

.cover-10 .logo {
    max-height: 100%;
}

.slider.slider--controlsoutside {
    overflow: hidden;
}

/*.btn .btn__text{
    color: #fff !important;
}

.btn.btn-default .btn__text{
    color: #343434 !important;
}*/

.search-modal .modal-content {
    background: none !important;
}

/* Typography */

.center {
    text-align: center !important;
}

.justify {
    text-align: justify !important;
}

.bold {
    font-weight: bold !important;
}

.underline {
    text-decoration: underline !important;
}

.italic {
    font-style: italic !important;
}

.red {
    color: #dd2229 !important;
}

.darkred {
    color: #BA0519 !important;
}

.green {
    color: green !important;
}

.silver {
    color: #666666 !important;
}

.m-a {
    margin: auto !important;
}

.m-0 {
    margin: 0px !important;
}

.m-10 {
    margin: 10px !important;
}

.m-20 {
    margin: 20px !important;
}

.m-30 {
    margin: 30px !important;
}

.m-40 {
    margin: 40px !important;
}

.m-t-0 {
    margin-top: 0px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.m-t-40 {
    margin-top: 40px !important;
}

.m-t-50 {
    margin-top: 50px !important;
}

.m-t-60 {
    margin-top: 60px !important;
}

.m-t-70 {
    margin-top: 70px !important;
}

.m-b-0 {
    margin-bottom: 0px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.m-b-30 {
    margin-bottom: 30px !important;
}

.m-b-40 {
    margin-bottom: 40px !important;
}

.m-b-50 {
    margin-bottom: 50px !important;
}

.m-b-60 {
    margin-bottom: 60px !important;
}

.m-b-70 {
    margin-bottom: 70px !important;
}

.p-0 {
    padding: 0px !important;
}

.p-10 {
    padding: 10px !important;
}

.p-20 {
    padding: 20px !important;
}

.p-30 {
    padding: 30px !important;
}

.p-40 {
    padding: 40px !important;
}

.p-t-0 {
    padding-top: 0px !important;
}

.p-t-5 {
    padding-top: 5px !important;
}

.p-t-10 {
    padding-top: 10px !important;
}

.p-t-20 {
    padding-top: 20px !important;
}

.p-t-30 {
    padding-top: 30px !important;
}

.p-t-40 {
    padding-top: 40px !important;
}

.p-t-50 {
    padding-top: 50px !important;
}

.p-t-60 {
    padding-top: 60px !important;
}

.p-t-70 {
    padding-top: 70px !important;
}

.p-b-0 {
    padding-bottom: 0px !important;
}

.p-b-10 {
    padding-bottom: 10px !important;
}

.p-b-20 {
    padding-bottom: 20px !important;
}

.p-b-30 {
    padding-bottom: 30px !important;
}

.p-b-40 {
    padding-bottom: 40px !important;
}

.p-b-50 {
    padding-bottom: 50px !important;
}

.p-b-60 {
    padding-bottom: 60px !important;
}

.p-b-70 {
    padding-bottom: 70px !important;
}

.r-15 {
    border-radius: 15px;
}

@media screen and (min-width: 768px) {
    .parallax .background-image-holder {
        transform: none !important;
        background-attachment: fixed !important;
    }
}

.parallax .slides.owl-carousel .background-image-holder {
    transform: none !important;
    background-attachment: inherit !important;
}

.min-h {
    min-height: 235px;
}

.mwf-gallery .mwf-play:after {
    margin-top: -3px;
    display: block;
}

body.mw-live-edit {
    margin-top: 0 !important;
}

.mw-live-edit .nav--fixed {
    margin-top: 51px;
}

nav .nav-module.search-module {
    /*padding-right: 0 !important;*/
}

.has-opened-sidebar .nav--fixed {
    padding-right: 300px;
    transition: 0.6s;
}

.btn__text i {
    font-size: 18px;
    margin-right: 10px;
}

.card-1 .card__icon i {
    font-size: 4em;
}

.newsletter * {
    opacity: 1 !important;
}

.nav-module.right.cart-module,
.nav-module.right.search-module {
    padding-right: 26px !important;
}

.clean-container img {
    max-width: 100%;
    max-height: 100%;
    height: auto !important;
    /*width: auto;*/
}

.cta-5 h4 {
    white-space: normal !important;
}

section.blog-post .container .container {
    width: auto;
}

.container div[class^="col-"] .container {
    width: auto;
}

.pagination li:first-child, .pagination li:last-child {
    opacity: 1;
}

.module-shop-products {
    clear: both;
}

.module-shop-products .pagination > li > a, .module-shop-products .pagination > li > span, .module-shop-products .pagination > li > a:focus, .module-shop-products .pagination > li > a:hover, .module-shop-products .pagination > li > span:focus, .module-shop-productslayout-1 .pagination > li > span:hover {
    padding: 9px 12px;
    color: #373737;
    text-decoration: none;
    background: none;
    border: 0;
    font-size: 18px;
    font-weight: bold;
}

.mw-cart-data-holder .remove {
    color: red !important;
    text-transform: lowercase;
}

.imagebg {
    overflow: hidden;
}

.input-with-icon label + i {
    top: 68px !important;
}

.accordion li.active .accordion__content {
    max-height: auto !important;
}

.gateway-selector .mw-ui-check input[type=radio] + span:before {
    text-transform: none;
}

.video-background-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover !important;
    background-position: 50% 50% !important;
    z-index: 0;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    /*background: #232323;*/
    opacity: 0.8;
}

.videobg[data-overlay="1"] .video-background-holder {
    opacity: 1;
}

.videobg[data-overlay="2"] .video-background-holder {
    opacity: 0.9;
}

.videobg[data-overlay="3"] .video-background-holder {
    opacity: 0.8;
}

.videobg[data-overlay="4"] .video-background-holder {
    opacity: 0.7;
}

.videobg[data-overlay="5"] .video-background-holder {
    opacity: 0.6;
}

.videobg[data-overlay="6"] .video-background-holder {
    opacity: 0.5;
}

.videobg[data-overlay="7"] .video-background-holder {
    opacity: 0.4;
}

.videobg[data-overlay="8"] .video-background-holder {
    opacity: 0.3;
}

.videobg[data-overlay="9"] .video-background-holder {
    opacity: 0.2;
}

.videobg[data-overlay="10"] .video-background-holder {
    opacity: 0.1;
}

.video-background-holder:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background: url('../img/videooverlay.png');
}

.video-background-holder video {
    width: 100%;
}

.mw-heading-image {
    position: static;
}

.mw-embed-iframe iframe,
.mwembed video,
.mwembed audio,
.mwembed iframe {
    max-width: 100%;
    width: 100%;
    /*height: auto;*/
}

.mw-payment-gateway-cart-checkout-shop-payments .mw-ui-check input + span {
    float: left;
    margin-top: 3px;
}

.module-bxslider .owl-item .imagebg .background-image-holder {
    top: 0 !important;
}

.contact-form-template-dream textarea[name="Message"] {
    min-height: 180px;
}

@media screen and (min-width: 992px) {
    .nav-bar {
        display: flex;

        /*flex-flow: row wrap;*/
        align-items: center;
        justify-content: center;
    }

    .nav-bar .nav-module:last-of-type {
        padding: 0 1em !important;
    }

    .nav-bar,
    .nav-bar .menu,
    .nav-bar .nav-module {

        height: auto;
        max-height: none;
    }

    .nav-bar .menu > li {
        line-height: 30px;
    }

    .nav-bar .menu > li > a {
        padding: 0 1.3em !important;
    }

    .nav-bar .dream-phone-text {
        min-width: 220px;
    }
}

.menu > li > ul:not(.multi-column) > li.dropdown > a:after {
    display: none;
}

.pagination-holder {
    text-align: center;
    clear: both;
}

/*
.mw-live-edit .nav-bar {
    margin-top: 51px;
}*/

body.mw-live-edit {
    margin-top: 0 !important;
}

.parallax > .background-image-holder, .parallax .slides li > .background-image-holder {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.masonry__container {
    overflow: hidden;
}

.height-10,
.height-20,
.height-30,
.height-40,
.height-50,
.height-60,
.height-70,
.height-80,
.height-90,
.height-100 {
    height: auto !important;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
}

.height-10 .pos-vertical-center,
.height-20 .pos-vertical-center,
.height-30 .pos-vertical-center,
.height-40 .pos-vertical-center,
.height-50 .pos-vertical-center,
.height-60 .pos-vertical-center,
.height-70 .pos-vertical-center,
.height-80 .pos-vertical-center,
.height-90 .pos-vertical-center,
.height-100 .pos-vertical-center {
    /*display: flex;*/
    /*align-items: center;*/
    /*align-content: center;*/
    top: auto;
    transform: none;
    -webkit-transform: none;

    display: block;
    /*top: 50%;*/
    /*transform: translateY(100%);*/
}

@media all and (min-height: 600px) and (min-width: 767px) {
    .height-10 {
        min-height: 10vh;
    }

    .height-20 {
        min-height: 20vh;
    }

    .height-30 {
        min-height: 30vh;
    }

    .height-40 {
        min-height: 40vh;
    }

    .height-50 {
        min-height: 50vh;
    }

    .height-60 {
        min-height: 60vh;
    }

    .height-70 {
        min-height: 70vh;
    }

    .height-80 {
        min-height: 80vh;
    }

    .height-90 {
        min-height: 90vh;
    }

    .height-100 {
        min-height: 100vh;
    }
}