h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{ font-family: 'Karla', 'Montserrat', 'Helvetica Neue', 'Helvetica', Arial, sans-serif; }

p,span:not(.btn__text),ul,blockquote,figcaption,input[type],textarea{ font-family: 'Open Sans','Helvetica Neue', 'Helvetica', Arial, sans-serif; }

h6,.h6{ font-weight: 600; }