h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4,.h5{ font-family: 'Roboto Slab', 'Montserrat', 'Helvetica Neue', 'Helvetica', Arial, sans-serif; font-weight: 400; }

p,span:not(.btn__text),ul,blockquote,figcaption,input[type],textarea,h6,.h6{ font-family: 'Roboto','Helvetica Neue', 'Helvetica', Arial, sans-serif; }

h6,.h6{ font-weight: 500; }