<?php
# this file should be renamed to config.php if you want to override ../config.php with scripts and such.

/*
 THIS IS AN EXAMPLE


session_start();
include($_SERVER['DOCUMENT_ROOT'].'/config/config.php');
//var_dump($_SESSION);
if(!isset($_SESSION['system_auth'])||!isset($_SESSION['system_auth']['user']))exit('access denied!');
{ # load config.ini
	$c=array();
	$f=file(APP_ROOT.'/application/config/config.ini');
	foreach($f as $l){
		$s=explode('=',$l);
		if(count($s)!=2)continue;
		$k=ltrim(rtrim($s[0]));
		$v=ltrim(rtrim($s[1]));
		if(!isset($c[$k]))$c[$k]=$v;
	}
}
$kfm_userfiles_address='./uploads/'.$_SESSION['system_auth']['user']->uid;
$kfm_userfiles_output=$kfm_userfiles_address.'/';
$kfm_db_host=$c['db.config.host'];
KFM_DB_PREFIX="kfm_".$_SESSION['system_auth']['user']->uid.'_';
$kfm_db_name=$c['db.config.dbname'];
$kfm_db_username=$c['db.config.username'];
$kfm_db_password=$c['db.config.password'];
$kfm_api_auth_override=1;
*/

?>
