/* -------------------------------------------------------------
DEFAULT STYLES
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

body
{
	background: #333 url(bg.png) repeat-x 0 0;
	font: 12px/1.7em arial, sans-serif;
	padding: 0;
	margin: 0;
}



/* -------------------------------------------------------------
PAGE
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#page {	width: 960px; margin: 60px auto; position: relative; }

	.pad { width: 960px; margin: 0 auto; position: relative; }



/* -------------------------------------------------------------
HEADER
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#header
{
	width: 250px;
	height: 120px;
	color: #FFF;
	font-size: 11px;
	text-align: center;
	position: relative;
	position: absolute;
	right: 0;
	top: 30px; 
	
}

	#header h1
	{
		margin-top: 17px;
		margin-bottom: .25em;
	}
	
	#header a { color:#FFF; }
	
	#header #newMessages { position: relative; padding-right: 5px; }	
		
	#header #newMessages span
	{
		background: #C00;
		font-size: 10px;
		position: absolute;
		top: -10px;
		right: -5px;
		line-height: 1em;
		padding: 3px 5px;
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		border-radius: 50px;
	}





/* -------------------------------------------------------------
NAVIGATION
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#megadropdown { width: 710px; height: 40px; top: -10px; position: relative; z-index: 80; float: left; }
	
	#megadropdown ul	{ width: 710px; padding: 0 !important; margin: 0 auto !important; }

		#megadropdown li
		{
			background: #444;
			list-style-type: none;
			line-height: 34px;
			float: left;
			font-size: 14px;
			padding: 5px 20px;
			margin: 6px 8px 0 0;
			position: relative;
			-moz-border-radius-topright: 4px; 
			-moz-border-radius-topleft: 4px;
			-webkit-border-top-left-radius: 4px;		
			-webkit-border-top-right-radius: 4px;
		}
		
			#megadropdown li.right { float: right; }
		
			#megadropdown li a { color: #FFF; font-weight: bold; text-decoration: none; text-shadow: 1px 1px #000; }

			#megadropdown li.hasSubNav { background: #444 url(nav-arrow-2.png) no-repeat 89% 55%; padding-right: 2.5em !important; }
		
				#megadropdown li.current,
				#megadropdown li.hover { background-color: #FFF !important; }

				
					#megadropdown li.current a,
					#megadropdown li.hover a { color: #222; text-shadow: 1px 1px #CCC; }

		.subNav 
		{ 
			background: #FFF;
			width: 200px;
			font-size: 11px;
			line-height: 1.7em;
			position: absolute; 
			top: 11px; 
			left: -1px; 
			z-index: 10000; 
			overflow: hidden;
			border: 1px solid #CCC;
			border-top: none;
			border-bottom: 3px solid #999;
			display: none;
			padding: 1.5em 10px 0;
			margin-top: 3em !important;
			z-index: 1001;
			-moz-border-radius-bottomleft: 6px;
			-webkit-border-bottom-left-radius: 6px;			
			-moz-border-radius-bottomright: 6px;
			-webkit-border-bottom-right-radius: 6px;
		}		
			
		.subNavRight,
		#megadropdown li.right .subNav { right: -1px; left: auto; }
		
		.subNav ul { padding: 0; margin: 0; list-style-type: none ; }

			.subNav li 
			{ 
				background: none !important;
				float: none !important; 
				border-bottom: 1px dotted #DDD !important;
				border: none !important;
				padding: 0 5px 0 0px !important;
				margin: 0 0 1.5em 0px !important;
				list-style-type: none !important;
				line-height: 1.5em !important;
			}
	
				.subNav li a
				{
					background: none !important;
					font-size: 11px !important;
					/* color: #358 !important; */
					text-decoration: underline !important;
					display: block !important;
					padding: 0 !important;
					margin: 0 0 0 !important;			
					border: none !important;
					outline: none !important;
				}	

	.subNav .col { width: 150px; margin: 0 10px .5em 0; float: left; }	
	.oneCol { width: 175px !important; /* width: 160px !important; */ }
	.twoCol { width: 320px !important; }
	.threeCol { width: 480px !important;  }	

	.subNav h3 { font-weight: bold; font-size: 12px; margin: 0 0 1.5em 0; padding: 0; }	
	.subNav p { line-height: 1.7em !important; }
	.subNav a { text-decoration: underline !important; }


/* -------------------------------------------------------------
BODY
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */	
#body { width: 960px; margin: 0 auto 4.75em auto; position: relative; }



/* -------------------------------------------------------------
MAIN
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#main 
{ 
	background: #FFF; 
	width: 710px; 
	min-height: 800px; 
	float: left; 
	margin-bottom: 3em; 
	padding-top: 25px;
	
	border: 1px solid #999;
	border-top: none;
	border-left: none;
	
	box-shadow: 1px 1px 10px rgba(0,0,0,.4);
	-moz-box-shadow: 1px 1px 10px rgba(0,0,0,.4);
	-webkit-box-shadow: 1px 1px 10px rgba(0,0,0,.4);
  
	-webkit-border-radius: 6px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 6px;
	-moz-border-radius-topleft: 0;
	border-radius: 6px;
	border-top-left-radius: 0;
	
	position: relative;
	
	z-index: 20;
}


/* -------------------------------------------------------------
SIDEBAR
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#sidebar 
{ 
	background: #EEE; 
	margin-top: 90px; 
	width: 220px; 
	font-size: 11px; 
	
	margin-bottom: 3em;
	box-shadow: 1px 1px 10px rgba(0,0,0,.25);
	-moz-box-shadow: 1px 1px 10px rgba(0,0,0,.25);
	-webkit-box-shadow: 1px 1px 10px rgba(0,0,0,.25);
	
	padding: 15px 10px 5em 20px;

	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	right: 0;
	top: 40px;
	position: absolute;
	z-index: 10;
}
 
	#sidebar h3 
	{
		border-bottom:1px solid #e0e0e0;
		font-weight:bold;
		font-size:14px;
		display:block;
		width:185px;
		padding:6px;
		color:#444444;
		margin-top:10px;
	}
	
	#sidebar .menu h3 { margin-bottom: 0; }

	#sidebar .menu ul { list-style-type:none; padding:0; margin:0 0 20px; }
	
		#sidebar .menu li 
		{
			border-top:1px solid #f6f6f6;
			border-bottom:1px solid #e0e0e0;
			padding:6px;
			width:185px;
			list-style-type: none;
		}
		
			#sidebar .menu li a 
			{
				background-position: left;
				background-repeat: no-repeat;
				color: #333;
				padding: 6px 12px 6px 24px; 
				text-decoration:none; 
			} 
	
			#sidebar .menu a.icn_manage_pages { background-image: url(page.png); }
			#sidebar .menu a.icn_add_pages { 	background-image: url(page_add.png); }
			#sidebar .menu a.icn_edit_pages { background-image: url(page_edit.png); }
			#sidebar .menu a.icn_delete_pages { background-image: url(page_delete.png); }
			#sidebar .menu a.icn_manage_comments { background-image: url(comment.png); }
			#sidebar .menu a.icn_add_comments { background-image: url(comment_add.png); }
			#sidebar .menu a.icn_edit_comments { 	background-image: url(comment_edit.png); }
			#sidebar .menu a.icn_delete_comments { background-image: url(comment_delete.png); }





/* -------------------------------------------------------------
FOOTER
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#footer
{
		
	width: 710px;
	font-size: 11px;
	color: #FFF;
 	clear: both;
	margin: 0;
	margin-bottom: 2.5em;
	padding-top: 0;
}

	#footer a { color: #FFF; }
	

/* -------------------------------------------------------------
PORTLET
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.block1
{
	background: #FFF;
	width: 96%;	
	margin: 0 auto;
	margin-bottom: 1.5em;
	position: relative;
}

.portlet
{
	background: #FFF;
	width: 96%;	
	margin: 0 auto;
	margin-bottom: 1.5em;
	position: relative;
}

	
	.portlet-header
	{
		background: #D9D9D9 url(portlet-header.png) repeat-x 0 0;
		color: #444;
		padding: 10px 15px 10px 15px;
		cursor: pointer;		
		position: relative;
		overflow: hidden;
		border: 1px solid #CCC;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}

		.portlet-state-closed .portlet-header { padding-bottom: 10px; }
	
		.portlet-header h4
		{
			font-size: 12px;			
			font-style: normal;
			font-weight: bold;
			color: #333;
			padding: 0;
			margin: 0;
		}
		
		.portlet-state-closed .portlet-header { -moz-border-radius: 6px; -webkit-border-radius: 6px; }
		
	.portlet-content { 	padding: 15px; position: relative; }	
	
	.portlet-state-closed .portlet-content { display: none; }
	.portlet-state-closed h4 { border: none; }
	
		.portlet-toggle-icon
		{
			background: url(portlet-arrow-close.png) no-repeat 0 0 !important;
			width: 12px;
			height: 5px;
			display: block;
			position: absolute;
			right: 15px;
			top: 16px;
		}
	
		.portlet-state-closed .portlet-toggle-icon { background: url(portlet-arrow-open.png) no-repeat 0 0 !important; }
		
	.portlet-tab-nav
	{
		padding: 0;
		margin: 0;
		position: absolute;
		top: 5px;
		right: 25px;
	}
	
	.portlet-state-closed .portlet-tab-nav { display: none; }

		.portlet-tab-nav li
		{
			background: transparent;
			line-height: 2em;
			list-style-type: none;
			float: left;
			margin: 0 1em 0 0;
			-moz-border-radius: 100px;
			-webkit-border-radius: 100px;
		}

			.portlet-tab-nav li a
			{
				color: #444;
				font-size: 11px;
				font-weight: bold;
				text-decoration: none;
				padding: 5px 8px;
				outline: none !important;
			}
			
				.portlet-tab-nav li a:hover { text-decoration: underline; }
							
		.portlet-tab-content { display: none; }
		
		.portlet-tab-nav-active
		{
			background: #FFF !important;
			border: 1px solid #CCC;
		}
		
			.portlet-tab-nav-active a { color: #444 !important; }
			
			.portlet-tab-nav-active a:hover { text-decoration: none !important; }
		
		.portlet-tab-content-active { display: block !imporant; }		
			.portlet-tab-nav .portlet-tab-nav-active  a { color: #0B66B9; text-decoration: none; }


/* -------------------------------------------------------------
MESSAGE
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.message
{
	background: #CCC url(icon_notice.gif) no-repeat 10px 11px;
	font-size: 13px;
	color: #74655f;
	display:block;	
	padding:10px 10px 10px 40px;
	margin-bottom: 1em;
	border: 1px solid #c2beb1;
	position:relative;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

	.message span  
	{	
		display: none !important;
		position: absolute;
		right:7px;
		top:7px;
		font-weight:bold;
		font-size:10px;
		padding:5px;
		cursor:pointer;
	}
	
		.message-closable span { display: block !important; }

	.message-warning 
	{
		background-color: #fffcd3;
		background-image: url(error.png);
		color: #74655f;
		border-color: #c2beb1;
	}
	
	.message-success 
	{
		background-color: #e5f993;
		background-image: url(accept.png);
		color: #688006;
		border-color: #9bac55;
	}
	
	.message-info 
	{
		background-color: #d4ebfa;
		background-image: url(information.png);
		color: #4b6bab;
		border-color: #90b1c7;
	}
	
	.message-error 
	{
		background-color: #f6b9b9;
		background-image: url(exclamation.png);
		color: #c32727;
		border-color: #e18484;
	}


/* -------------------------------------------------------------
FORM
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.form { padding: 5px; margin: 10px; }
.form .field { width: 100%; }
.form .field_help { margin-left: 145px; font-size: 90%; color: #777; }
.form label, 
.form span.label { margin-right: 10px; padding-right: 10px; width: 125px; display: block; float: left;  font-weight: bold; text-align: right; position: relative; }
.form label em, 
.form span.label em { position: absolute; right: 0; font-size: 120%; font-style: normal; color: #C00; }
.form input:focus,
.form input.error:focus, 
.form textarea:focus {	background-color: #FFC; border-color: #FC6; }
.form .upload { margin-bottom: -5em;}


.form .buttonrow { margin-left: 145px; display: block; }
.form .cancel { font-size: 11px; color: #C00; padding-left: 10px; }
.form .field { margin-bottom: 1.5em; }
.form .uploader { margin-bottom: .5em !important; }
.form .field input
{
	padding: 4px;
	border: 1px solid #CCC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.form .xsmall { width: 50px; }
.form .small { width: 100px; }
.form .medium { width: 200px; }
.form .large { width: 300px; }
.form .xlarge { width: 400px; }

/* Label top styles */
.label-top .field label { width: 100%; display: block; text-align: left; }
.label-top .field span.label { width: 100%; display: block; float: left; text-align: left; position: relative; }
.label-top .field .field_help { margin-left: 0; font-size: 11px; }
.label-top .buttonrow { margin-left: 0; }
.label-top .selector { width: 100%; display: block; float: left; }

.form div.controlset label, 
.form div.controlset input { display: inline; float: none; }
.form .controlset label {font-size: 11px; font-weight: normal !important; }
.controlset { margin-bottom: 2.5em; float: left; }
.controlset .controlset-pad { width: 300px; float: left;  }







/* -------------------------------------------------------------
PAGINATION
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.pg
{
	width: 400px;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 10px;
	margin: 0 auto;
	margin-top: 1em;
	padding: 10px;
}
	
	.pg a 
	{
		font-size: 11px;
		text-decoration: none;
		color: #000000;
		border: 1px solid #dddddd;
		padding: 3px;
		-moz-border-radius: 3px;
	}

		.pg a:hover 
		{
			font-size: 11px;
			text-decoration: none;
			color: #000000;
			border: 1px solid #A7A7A7;
			background-color: white;
			padding: 3px;
			-moz-border-radius: 3px;
		}

			.pg a.current 
			{
				font-size: 10px;
				text-decoration: none;
				color: #FFF;
				border: 1px solid #ddd;
				background-color: #333;
				padding: 3px;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border-radius: 3px;
			}

	.pg span.disabled 
	{
		font-size: 10px;
		text-decoration: none;
		color: #C6C7C7;
		border: 1px solid #C6C7C7;
		background-color: white;
		padding: 3px;
		-moz-border-radius: 3px;
	}



/* -------------------------------------------------------------
MISC
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
	
.clear { clear: both; }	

.hide { display: none; }






/* -------------------------------------------------------------
LOGIN
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#login { width: 450px; margin: 150px auto; text-align: center;  }

#login h1#title
{
	background: url(logo.png) no-repeat 0 0;
	width: 230px;
	height: 40px;
	line-height: 800px;
	margin: 0 auto .90em;
	overflow: hidden;	
}

	#login h1#title a { display: block; }
	
#login-body 
{ 
	background: #FFF; 
	padding-bottom: 15px; 
	border: 1px solid #ccc;
	padding: 0 0 10px 0; 
	text-align: left;
	width: 100%; 
	overflow: hidden; 
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;	

	box-shadow: 1px 1px 10px rgba(0,0,0,.4);
	-moz-box-shadow: 1px 1px 10px rgba(0,0,0,.4);
	-webkit-box-shadow: 1px 1px 10px rgba(0,0,0,.4);
}


#login-body form { padding: 0 0 50px; position: relative; }

#login-body input#login_password { width: 170px; position: absolute; top: 5px; left: 5px; }


#login-body input.text 
{
    width: 275px;
	font: bold 18px Helvetica, Arial, Verdana, sans-serif;
	letter-spacing: -1px;
	vertical-align: bottom;
}


#login-body .field { width: 100%; position: relative; float: left; }
	
#login-body .pad { padding: 20px 20px 0 20px; }

#login-body label,
#login-body .label 
{
	font-size: 12px;
    float: left;
    line-height: 15px;
    width: 100px;
    padding: 15px 0 0 0;
	margin: 0;
	text-align: left;
	font-weight: bold; 
	
}

#login-body .field div 
{
     float: left;
     position: relative;
     width: 300px;
     padding: 0;
	 margin: 0;
 }
             
#login-body .field div span.input { text-align: right; line-height: 3em; font-size: 11px; padding-right: 10px !important; }

#login-body .checkbox input { float: none !important; display: inline !important;}
#login-body .checkbox label { float: none; display: inline; font-weight: normal; font-size: 11px; }

#login-body input,
#login-body select,
#login-body textarea 
{
	margin: 0;
	padding: 5px;
	border: solid 1px #CCC;
	color: #444;
	background: #fff;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#login-body input[type=checkbox] { border: none; }
		
#login-body span.input,
#login-body  span.checkbox
{
	display: block;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #EEE;
	padding: 5px;
	margin: 0 0 15px 0;
}

	
	

	
	
/* -------------------------------------------------------------
GALLERY
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#gallery img
{
	width: 60px; padding: 1px; margin: 2px; border: 1px solid #CCC;
}


	
	
