.mw-editor-image-handle-wrap{
    position: absolute;
    border: none;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    display: flex;
    pointer-events: none;
    border: 3px solid rgb(26, 93, 238);
    max-width: 100%;


}

.mw-editor-image-handle-wrap > *{

    pointer-events: all;


}



.mw-small-editor{
    position: absolute;
}
.mw-editor-link-tooltip{
    position: absolute;
    z-index: 10;
    padding: 5px;
    border-radius: 3px;
    background-color: #ffffff;
    color: #5e5e5e;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

