 
.mw-finder-content .posts-list {
	font-size:10px;
	height:250px;
	overflow:scroll;
	overflow-x: hidden;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	background-color:#FFF;
	border: 1px solid #CCC;  
	margin:10px;
}
.mw-finder-content .single-post{
  border-bottom: 1px solid #999999;
    clear: both;
    display: inline-block;
    margin: 0;
    width: 90%;
	padding:10px;
}
.mw-finder-content .single-post:hover{
  background-color:#CCC;
}


.mw-finder-content a{
 	color:#036;
	text-decoration:none;
}

 


.mw-finder-content .single-post-description {
 width:70%;
 float:left;
}
.mw-finder-content a.single-post-more-link {
 width:9%;
 float:right;
 
  
border: 0px solid #ffffff;
cursor: pointer;
text-align: center;
text-decoration: none;
font: 10px Arial;
font-weight: normal;
padding: 2px 4px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
text-shadow:0px 0px 0px #444444;
-moz-box-shadow: 0px 0px 0px 0px #444444;
-webkit-box-shadow: 0px 0px 0px 0px #444444;
box-shadow: 0px 0px 0px 0px #444444;
color: #ffffff;
background: #16ad0a;
background-image: -webkit-gradient(linear, left top, left bottom, from(#16ad0a), to(#4bab22));
background-image: -moz-linear-gradient(top,  #16ad0a,  #4bab22);
background-image:     -ms-linear-gradient(top, #16ad0a,  #4bab22);
background-image:      -o-linear-gradient(top, #16ad0a,  #4bab22);
background-image:         linear-gradient(top, #16ad0a,  #4bab22);
filter:  progid:DXImaGETransform.Microsoft.gradient(startColorstr='#16ad0a', endColorstr='#4bab22');

}
.mw-finder-content .content-type-post a.single-post-more-link {
	background-color: #ABA710 !important;
	background: #ABA710;
	background-image: none;
}


.mw-finder-content a.post-title {
clear: right;
    display: block;
    width: 100%;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
 
 
}