@charset "iso-8859-1";
.drop_active {
	background: #6600FF !important;
	outline: 4px solid #3466B8
}
.bar_module {
	width: 50px;
	height: 50px;
	background: #34557A;
	margin: 10px;
	text-align: center;
	font-size: 15px;
}
#module_bar {
	width: 300px;
	position: fixed;
	right:0;
	top: 0px;
	background: #000;
}
#module_bar_modules_holder {
	padding: 10px;
}



 
/*.drag_files {
	position: absolute !important;
	z-index: 999;
	background: white;
	opacity:0;
	overflow: hidden;
}*/
#main_side {
	min-height:300px;
}
#edit_bar {
	position: absolute;
	padding: 5px;
	background: #719BC6;
	border: 1px solid #303854;
}
.ui-sortable-placeholder {
	border: 1px dotted black;
	visibility: visible !important;
	height: 150px !important;
	display: block;
	background:#ccc;
}
.ui-sortable-placeholder * {
	visibility: hidden;
}
.create_module {
	display: block;
	width: 60px;
	height: 30px;
	background: #2F8AB7;
	text-align: center;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	color:white;
	padding: 15px 0;
	float: left;
	margin: 0 5px;
}
/*.drag_files .plupload_filelist * {
	display: none;
}*/
.context {
	list-style: none;
}
.context li {
	padding:  5px;
	cursor: pointer;
}
.context li:hover {
	color: white;
	background: #0078f0;
}

.module_edit_bar {
	position: absolute;
	width: 100%;
	height: 20px;
	overflow: hidden;
	top: 0px;
	left: 0px;
	display: none;
}
.edit .module:hover {
	/*position: relative;
	zoom:1;
	zoom:1;*/
 
 outline-style:solid;
outline-width:1px;
outline-color:#FC0; 
}

.edit .mw_layout:hover, .ui-resizable-helper, .ui-resizable:hover {
	/*position: relative;
	zoom:1;
	zoom:1;*/
 
 outline-style:dashed;
outline-width:1px;
outline-color:#bdbdbd; 
}



.edit .module:focus, .edit .module:active, .edit .module:click {
	/*position: relative;
	zoom:1;
	zoom:1;*/
/* 
outline-style:none;
outline-width:0px;*/

}
.edit .module:after {
	/*content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;*/
}
.module_edit_bar_handle {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #AAAAAA;
	cursor: move;
	float: left;
	margin: 0 5px;
}
.module:hover .module_edit_bar {
	display: block;
}
.module_edit_bar_delete {
	text-decoration: underline;
	color: red;
	float: left;
	text-align: right;
	width: 50px;
	cursor: pointer;
}
/*toolbar */
.toobar_container {
	height:45px;
	width:100%;
	position:fixed;
	z-index: 100;
	top:0;
	left:0;
	background-image:url(../img/toolbar/bg.jpg);
	background-repeat:repeat-x;
	box-shadow: -3px 1px 3px #747474;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #747474;	
	 
	
	
	
}
.toobar_container_right {
	height:45px;
	color:#717880;
	width:590px;
	float:right;
	margin-right:15px;
}
.toobar_container_left {
	height:45px;
	color:#FFF;
	float:left;
	width:600px;
}
#mw_toolbar {
	background-image:url(../img/toolbar/bg2.jpg);
	background-repeat:repeat-x;
	position: fixed;
	top: 55px;
	z-index: 100;
	width: 100%;
	text-align: center;
}
#mw_toolbar_nav {
	display: inline;
	float: left;
}
#mw_toolbar_pre_nav {
	display: inline;
	float: left;
	padding-right: 25px;
}
#mw_toolbar_pre_nav_title {
	display: inline;
	font-size:17px;
	line-height:30px; 
	font-family: Verdana, Geneva, sans-serif;
	font-weight:bold;
	color: #576075;
	padding-right: 10px;
}
#mw_toolbar_pre_nav img {
	top:10px;
	position:relative;
}
#mw_toolbar_nav img {
	margin-top: 5px; 
}
#mw_toolbar_nav a {
	border-left: 1px solid #CBCBCB;
	border-right: 1px solid #AFAFAF;
	display: inline-block;
	float: left;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
		height:34px;
}
#mw_toolbar_nav a:hover, #mw_toolbar_nav a.active {
	background: url("../img/toolbar/hbg.jpg") no-repeat scroll 0 0 transparent;

}
.mw_toolbar_nav_go_to_admin {
	background: url("../img/toolbar/btn_go_to_admin.png") no-repeat scroll 0 0 transparent;
	color: #434343;
	display: inline;
	float: left;
	height: 33px;
	margin-left: 15px;
	margin-top: 8px;
	width: 120px;
}
.mw_toolbar_nav_go_to_admin span {
	left: 18px;
 
	position: relative;
	top: 10px;
	font-size:10px;
}
.mw_toolbar_nav_go_to_admin:hover span {
	text-decoration: underline;
}
#admin_sidebar {
	position: fixed;
	top: 45px;
	width: 300px;
	z-index:50000;
	right:0px;
	height:10px;
	background-color:#e1e4e9;
	
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #666;	
	
 
	border-left: 1px solid #747474;
   
	
	
	-moz-box-shadow:1px 0px -4px #747474;
-webkit-box-shadow:1px 0px -4px #747474;
box-shadow:1px 0px -4px #747474;

	overflow:scroll;
	
	
}
#admin_sidebar .search_container {
	height:55px;
	background-color:#eaeaea;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	border-bottom:1px solid #cfd1d4;
}
#admin_sidebar .mw_admin_sidebar_text {
	font-size:10px;
	font-family:Verdana, Geneva, sans-serif;
	color:#4c566c;
	margin:15px;
	display:block;
}
#admin_sidebar .mw_admin_sidebar_text a {
	font-size:9px;
	color:#0A0AAF;
}
#admin_sidebar .mw_sidebar_searchform_input_holder {
	background-image:url(../img/toolbar/search2.png);
	background-repeat:no-repeat;
	width:232px;
	height:29px;
	display:block;
}
.mw_sidebar_searchform_searchfield {
	position:relative;
	left:35px;
	top:7px;
	height:16px;
	width:180px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
	color:#CCC;
	font-size:14px;
	line-height: 16px;
}
.mw_sidebar_searchform_searchfield:hover {
	color:#999;
}
.mw_sidebar_searchform_searchfield1 {
	box-shadow: 0px 0px 2px #ccc inset;
	-moz-box-shadow: 0px 0px 2px #ccc inset;
	-webkit-box-shadow: 0px 0px 2px #ccc inset;
	border:1px solid #bbbbbb;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px 15px 15px 15px; /* for some reason you have to declare all corners in ie*/
	background-color: #FFF;
	height:20px;
	width:200px;
}
/* search form 
 
/* modules */
.mw_sidebar_module_group_title {
	font-size:18px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight:bold;
	color: #576075;
	clear:both;
	margin-left:5px;
	text-transform: capitalize;
	margin-bottom:3px;
	display:block;
}


.mw_sidebar_module_box_title {
	font-size:14px;
	font-family: Verdana, Geneva, sans-serif;
	color: #333 !important;
	clear:both;
	margin-left:5px;
	text-transform: capitalize;
	margin-bottom:3px;
	display:block;
	font-weight: bold;
  

}

.mw_sidebar_module_group_div {
	clear: both;
	margin-left:10px;
	margin-right:10px;
	width:250px;
	display:block;
}
.mw_sidebar_module_group_div_roundtop {
	background: url(../img/toolbar/table_top.png) no-repeat top right;
	width:250px;
	height:9px;
	display:block;
}
.mw_sidebar_module_group_div_roundbottom {
	background: url(../img/toolbar/table_bottom.png) no-repeat top right;
	width:250px;
	height:9px;
	display:block;
}
.mw_sidebar_module_group_table {
	background-color: #f7f7f7;
	width:250px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #bbbbbb;
	border-right-color: #bbbbbb;
	border-bottom-color: #bbbbbb;
	border-left-color: #bbbbbb;
}
#module_bar_resp .mw_sidebar_module_group_table .module_draggable {
	height:32px;
	padding-top:11px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #bbbbbb;
	border-right-color: #bbbbbb;
	border-bottom-color: #bbbbbb;
	border-left-color: #bbbbbb;
	padding-left:11px;
	font-family: calibri, Verdana, Geneva, sans-serif;
}
#mw_sidebar_modules_holder, #mw_sidebar_design_holder, #mw_sidebar_add_holder, #mw_edit_module_iframe_holder, #mw_sidebar_css_editor_holder {
	display:none;
 
}
/*#mw_sidebar_module_edit_holder iframe {
	height:800px;
	width:300px;
	border:0;
	display:block;
}*/


#mw_sidebar_module_edit_holder{
	display:block;
overflow:hidden;	
}


.module_draggable_last {
	background-color:red;
}
.mw_sidebar_module_group_table .module_draggable:hover {
	background-image:url(../img/toolbar/tr_hover.jpg);
	background-repeat:repeat-x;
	color:#FFF;
}
.mw_sidebar_module_group_table tr td {
	font-size:14px;
	font-family: Verdana, Geneva, sans-serif;
	color: #000;
	margin-left:10px;
}
.mw_sidebar_module_group_table tr td:hover {
	color:#FFF;
}
.mw_sidebar_module_icon {
	float:left;
	margin-right:15px;
	margin-left:5px;
}
#module_temp_holder {
	font-size:9px;
	background-color:#09F;
	opacity:0.8;
	filter:alpha(opacity=80);
	cursor:move;
	height:30px;
	width:30px;
	display:block;
}
