/*
api css
*/

/* Forms styles */

.fancy_input{
    display: inline-block;
    height: 33px;
    border: 1px solid #D6D6D6;
    box-shadow:0 -1px 0 #BDBDBD;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-image: linear-gradient(bottom, rgb(236,236,236) 0%, rgb(237,237,237) 66%);
    background-image: -o-linear-gradient(bottom, rgb(236,236,236) 0%, rgb(237,237,237) 66%);
    background-image: -moz-linear-gradient(bottom, rgb(236,236,236) 0%, rgb(237,237,237) 66%);
    background-image: -webkit-linear-gradient(bottom, rgb(236,236,236) 0%, rgb(237,237,237) 66%);
    background-image: -ms-linear-gradient(bottom, rgb(236,236,236) 0%, rgb(237,237,237) 66%);

    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0, rgb(236,236,236)),
    	color-stop(0.66, rgb(237,237,237))
    );
}
.fancy_input.white{
  background: white;
}

.fancy_input input{
  background: none;
  border: none;
  padding: 7px;
}

.left{
  float: left ;
}
.right{
  float: right ;
}

.field_wrapper{
  display: inline-block;
  border: 1px solid #F4F4F4;
  cursor: pointer;
  padding: 4px;
  box-shadow:0 -1px 0 #EDEDED;
  background-image: linear-gradient(bottom, rgb(249,249,249) 0%, rgb(245,245,245) 100%);
  background-image: -o-linear-gradient(bottom, rgb(249,249,249) 0%, rgb(245,245,245) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(249,249,249) 0%, rgb(245,245,245) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(249,249,249) 0%, rgb(245,245,245) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(249,249,249) 0%, rgb(245,245,245) 100%);
  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0, rgb(249,249,249)),
  	color-stop(1, rgb(245,245,245))
  );
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.field_wrapper:hover{
  border-color: #D5D5D5;
  box-shadow:0 -1px 0 #BCBCBC;
  background-image: linear-gradient(bottom, rgb(230,230,230) 37%, rgb(221,221,221) 100%);
  background-image: -o-linear-gradient(bottom, rgb(230,230,230) 37%, rgb(221,221,221) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(230,230,230) 37%, rgb(221,221,221) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(230,230,230) 37%, rgb(221,221,221) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(230,230,230) 37%, rgb(221,221,221) 100%);
  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.37, rgb(230,230,230)),
  	color-stop(1, rgb(221,221,221))
  );
}
.field_wrapper.active, .field_wrapper.active:hover{
  background-image: linear-gradient(bottom, rgb(83,154,198) 37%, rgb(136,196,237) 99%, rgb(203,230,247) 100%);
  background-image: -o-linear-gradient(bottom, rgb(83,154,198) 37%, rgb(136,196,237) 99%, rgb(203,230,247) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(83,154,198) 37%, rgb(136,196,237) 99%, rgb(203,230,247) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(83,154,198) 37%, rgb(136,196,237) 99%, rgb(203,230,247) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(83,154,198) 37%, rgb(136,196,237) 99%, rgb(203,230,247) 100%);
  box-shadow:0 0 0 transparent;
  border-color:#3D80AB;
  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.37, rgb(83,154,198)),
  	color-stop(0.99, rgb(136,196,237)),
  	color-stop(1, rgb(203,230,247))
  );
}

.field_wrapper input[type='radio']{
  float: left;
  margin:10px 10px 10px 5px;
}
.link_type_holder{
  display: inline-block;
  float: left;
}

/* End of Forms styles */



/* dropdowns */


/*  Dropdown  */
.mw_dropdown{
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 10;
}
  .mw_dropdown_fields{
    position: absolute;
    z-index: 9;
    top: 27px;
    left: 0;
    width: 100%;
    display: none;
    padding-top: 5px;
  }
    .mw_dropdown_type_navigation ul{
      background: #f1f1f1 url(../img/dropdown_fields_bottom.png) no-repeat center bottom;
      background-size: 100% 6px;
      margin: 0;
      width: 100%;
      box-shadow:1px 1px 0px #f0f0f0;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
      .mw_dropdown_fields li{
          list-style: none;
      }
       .mw_dropdown_type_navigation li a{
            display: block;
            padding: 5px 6px 5px 13px;
            text-shadow:1px 1px 0px white;
            font-size: 11px;
            color: #212121;
            text-decoration: none !important;
       }
       .mw_dropdown_type_navigation li:first-child a{
          -webkit-border-top-left-radius: 5px;
          -webkit-border-top-right-radius: 5px;
          -moz-border-radius-topleft: 5px;
          -moz-border-radius-topright: 5px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
       }
       .mw_dropdown_type_navigation li:last-child a{
          -webkit-border-bottom-right-radius: 5px;
          -webkit-border-bottom-left-radius: 5px;
          -moz-border-radius-bottomright: 5px;
          -moz-border-radius-bottomleft: 5px;
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;
       }

       .mw_dropdown_type_navigation li a:hover{
            border:1px solid #8CB2CA;
            padding: 4px 5px 4px 12px;
            background: -moz-linear-gradient(top,  #ffffff 0%, #b5d8ee 1%, #9ac0d9 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(1%,#b5d8ee), color-stop(100%,#9ac0d9));
            background: -webkit-linear-gradient(top,  #ffffff 0%,#b5d8ee 1%,#9ac0d9 100%);
            background: -o-linear-gradient(top,  #ffffff 0%,#b5d8ee 1%,#9ac0d9 100%);
            background: -ms-linear-gradient(top,  #ffffff 0%,#b5d8ee 1%,#9ac0d9 100%);
            background: linear-gradient(to bottom,  #ffffff 0%,#b5d8ee 1%,#9ac0d9 100%);


       }

    .mw_dropdown_val{
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      font-size: 11px;

    }

    .mw_dropdown_type_navigation .mw_dropdown_val{
        border: 1px solid #DCDCDC;
        border-top: none;
        background: #F1F1F1 url(../img/dropdown.png) no-repeat right top;
        padding: 8px 39px 7px 11px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
        box-shadow:inset 0px 1px 0px #B8B8B8;
    }




.mw_dropdown_type_wysiwyg {
    height:25px;
    width: 75px;
    float: left;
    border:1px solid transparent;
    color: #595959;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.mw_dropdown_type_wysiwyg:hover{
  border-color:#D2D2D2;
background-image: linear-gradient(bottom, rgb(229,229,229) 1%, rgb(243,243,243) 51%);
background-image: -o-linear-gradient(bottom, rgb(229,229,229) 1%, rgb(243,243,243) 51%);
background-image: -moz-linear-gradient(bottom, rgb(229,229,229) 1%, rgb(243,243,243) 51%);
background-image: -webkit-linear-gradient(bottom, rgb(229,229,229) 1%, rgb(243,243,243) 51%);
background-image: -ms-linear-gradient(bottom, rgb(229,229,229) 1%, rgb(243,243,243) 51%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.01, rgb(229,229,229)),
	color-stop(0.51, rgb(243,243,243))
);
}

.mw_dropdown_type_wysiwyg ul{
  padding: 0;
  margin: 0;
}

.mw_dropdown_type_wysiwyg a{
  color: #595959;
  text-decoration: none;
  font-size: 11px;
  display: block;
  padding: 2px 10px;
}
.mw_dropdown_type_wysiwyg a:hover{
  background: #F0F0F0;
}

.mw_dropdown_type_wysiwyg .mw_dropdown_val{
  padding: 6px;
  width:47px;
}
.dd_rte_arr{
   background: url(../img/dd_wysiwyg_arr.png) no-repeat;
   display: block;
   height: 3px;
   width: 5px;
   float: right;
margin-right: 6px;
    margin-top: 12px;
}

.mw_dropdown_type_wysiwyg .mw_dropdown_fields{
  top: 22px;
}

.mw_dropdown_type_wysiwyg .mw_dropdown_fields ul{
  width: 200px;
  padding: 5px 0;
  border:1px solid #D2D2D2;
  box-shadow:inset -2px -2px 2px #F6F6F6;
  -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
 background: white;
}


.mw_dropdown_action_font_size{
  width: 46px;
}

.mw_dropdown_action_font_size .mw_dropdown_val{
  width: 19px;
}
.mw_dropdown_action_font_size .mw_dropdown_fields ul{
  width: 50px;
}

.mw_editor_btn, .mw_dropdown_type_wysiwyg{
  margin-left: 1px;
  margin-right: 1px;
}


