/*
api css
*/

body.mw-live-edit{
    padding-top: 170px;
}

.relative{
  position: relative;
}
.z-1{z-index:1}
.z-2{z-index:2}
.z-3{z-index:3}
.z-4{z-index:4}
.z-5{z-index:5}
.z-6{z-index:6}
.z-7{z-index:7}

/* Forms styles */

.fancy_input{
    display: inline-block;
    height: 33px;
    border: 1px solid #D6D6D6;
    box-shadow:0 -1px 0 #BDBDBD;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-image: linear-gradient(bottom, rgb(236,236,236) 0%, rgb(237,237,237) 66%);
    background-image: -o-linear-gradient(bottom, rgb(236,236,236) 0%, rgb(237,237,237) 66%);
    background-image: -moz-linear-gradient(bottom, rgb(236,236,236) 0%, rgb(237,237,237) 66%);
    background-image: -webkit-linear-gradient(bottom, rgb(236,236,236) 0%, rgb(237,237,237) 66%);
    background-image: -ms-linear-gradient(bottom, rgb(236,236,236) 0%, rgb(237,237,237) 66%);

    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0, rgb(236,236,236)),
    	color-stop(0.66, rgb(237,237,237))
    );
}
.fancy_input.white{
  background: white;
}

.fancy_input input{
  background: none;
  border: none;
  padding: 7px;
}

.left{
  float: left ;
}
.right{
  float: right ;
}

.field_wrapper{
  display: inline-block;
  border: 1px solid #F4F4F4;
  cursor: pointer;
  padding: 4px;
  box-shadow:0 -1px 0 #EDEDED;
  background-image: linear-gradient(bottom, rgb(249,249,249) 0%, rgb(245,245,245) 100%);
  background-image: -o-linear-gradient(bottom, rgb(249,249,249) 0%, rgb(245,245,245) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(249,249,249) 0%, rgb(245,245,245) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(249,249,249) 0%, rgb(245,245,245) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(249,249,249) 0%, rgb(245,245,245) 100%);
  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0, rgb(249,249,249)),
  	color-stop(1, rgb(245,245,245))
  );
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.field_wrapper:hover{
  border-color: #D5D5D5;
  box-shadow:0 -1px 0 #BCBCBC;
  background-image: linear-gradient(bottom, rgb(230,230,230) 37%, rgb(221,221,221) 100%);
  background-image: -o-linear-gradient(bottom, rgb(230,230,230) 37%, rgb(221,221,221) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(230,230,230) 37%, rgb(221,221,221) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(230,230,230) 37%, rgb(221,221,221) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(230,230,230) 37%, rgb(221,221,221) 100%);
  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.37, rgb(230,230,230)),
  	color-stop(1, rgb(221,221,221))
  );
}
.field_wrapper.active, .field_wrapper.active:hover{
  background-image: linear-gradient(bottom, rgb(83,154,198) 37%, rgb(136,196,237) 99%, rgb(203,230,247) 100%);
  background-image: -o-linear-gradient(bottom, rgb(83,154,198) 37%, rgb(136,196,237) 99%, rgb(203,230,247) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(83,154,198) 37%, rgb(136,196,237) 99%, rgb(203,230,247) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(83,154,198) 37%, rgb(136,196,237) 99%, rgb(203,230,247) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(83,154,198) 37%, rgb(136,196,237) 99%, rgb(203,230,247) 100%);
  box-shadow:0 0 0 transparent;
  border-color:#3D80AB;
  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.37, rgb(83,154,198)),
  	color-stop(0.99, rgb(136,196,237)),
  	color-stop(1, rgb(203,230,247))
  );
}

.field_wrapper input[type='radio']{
  float: left;
  margin:10px 10px 10px 5px;
  position: relative;
  z-index: 1;
}
.link_type_holder{
  display: inline-block;
  float: left;
  position: relative;
  z-index: 1;
}

/* End of Forms styles */



/* dropdowns */


/*  Dropdown  */
.mw_dropdown{
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 10;
}
.mw_dropdown.active{
  z-index: 11;
}

  .mw_dropdown_fields{
    position: absolute;
    z-index: 9;
    top: 27px;
    left: 0;
    width: 100%;
    display: none;
    padding-top: 5px;
  }
    .mw_dropdown_fields ul{
        margin: 0;
    }
    .mw_dropdown_fields > ul{
      background: #f1f1f1 url(../img/dropdown_fields_bottom.png) no-repeat center bottom;
      /*max-height: 250px;
      overflow-x:hidden;
      overflow-y:auto;*/
      background-size: 100% 6px;
      width: 100%;
      box-shadow:1px 1px 0px #f0f0f0;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
      .mw_dropdown_fields li{
          list-style: none;
      }
       .mw_dropdown_type_navigation li a{
            display: block;
            padding: 5px 6px 5px 13px;
            text-transform: capitalize;
            text-shadow:1px 1px 0px white;
            font-size: 11px;
            color: #212121;
            text-decoration: none !important;
       }
       .mw_dropdown_type_navigation li li li a{
         padding:3px 6px 3px 26px;
       }

       .mw_dropdown_type_navigation li:first-child a{
          -webkit-border-top-left-radius: 5px;
          -webkit-border-top-right-radius: 5px;
          -moz-border-radius-topleft: 5px;
          -moz-border-radius-topright: 5px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
       }
       .mw_dropdown_type_navigation li:last-child a{
          -webkit-border-bottom-right-radius: 5px;
          -webkit-border-bottom-left-radius: 5px;
          -moz-border-radius-bottomright: 5px;
          -moz-border-radius-bottomleft: 5px;
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;
       }

       .mw_dropdown_type_navigation li a:hover{
            border:1px solid #8CB2CA;
            padding: 4px 5px 4px 12px;
            background: -moz-linear-gradient(top,  #ffffff 0%, #b5d8ee 1%, #9ac0d9 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(1%,#b5d8ee), color-stop(100%,#9ac0d9));
            background: -webkit-linear-gradient(top,  #ffffff 0%,#b5d8ee 1%,#9ac0d9 100%);
            background: -o-linear-gradient(top,  #ffffff 0%,#b5d8ee 1%,#9ac0d9 100%);
            background: -ms-linear-gradient(top,  #ffffff 0%,#b5d8ee 1%,#9ac0d9 100%);
            background: linear-gradient(to bottom,  #ffffff 0%,#b5d8ee 1%,#9ac0d9 100%);
       }

       .mw_dropdown_type_navigation li li li a:hover{
         padding:2px 5px 2px 25px;
       }

    .mw_dropdown_val{
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      font-size: 11px;

    }

    .mw_dropdown_type_navigation .mw_dropdown_val{
        border: 1px solid #DCDCDC;
        text-transform: capitalize;
        border-top: none;
        background: #F1F1F1 url(../img/dropdown.png) no-repeat right top;
        padding: 8px 39px 7px 11px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
        box-shadow:inset 0px 1px 0px #B8B8B8;
    }




.mw_dropdown_type_wysiwyg {
    height:25px;
    width: 75px;
    float: left;
    border:1px solid transparent;
    color: #595959;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.mw_dropdown_type_wysiwyg:hover{
  border-color:#D2D2D2;
background-image: linear-gradient(bottom, rgb(229,229,229) 1%, rgb(243,243,243) 51%);
background-image: -o-linear-gradient(bottom, rgb(229,229,229) 1%, rgb(243,243,243) 51%);
background-image: -moz-linear-gradient(bottom, rgb(229,229,229) 1%, rgb(243,243,243) 51%);
background-image: -webkit-linear-gradient(bottom, rgb(229,229,229) 1%, rgb(243,243,243) 51%);
background-image: -ms-linear-gradient(bottom, rgb(229,229,229) 1%, rgb(243,243,243) 51%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.01, rgb(229,229,229)),
	color-stop(0.51, rgb(243,243,243))
);
}

.mw_dropdown_type_wysiwyg ul{
  padding: 0;
  margin: 0;
}

.mw_dropdown_type_wysiwyg a{
  color: #595959;
  text-decoration: none;
  font-size: 11px;
  display: block;
  padding: 2px 10px;
}
.mw_dropdown_type_wysiwyg a:hover{
  background: #F0F0F0;
}

.mw_dropdown_type_wysiwyg .mw_dropdown_val{
  padding: 6px;
  width:47px;
}
.dd_rte_arr{
   background: url(../img/dd_wysiwyg_arr.png) no-repeat;
   display: block;
   height: 3px;
   width: 5px;
   float: right;
margin-right: 6px;
    margin-top: 12px;
}

.mw_dropdown_type_wysiwyg .mw_dropdown_fields{
  top: 22px;
}

.mw_dropdown_type_wysiwyg .mw_dropdown_fields ul{
  width: 200px;
  padding: 5px 0;
  border:1px solid #D2D2D2;
  box-shadow:inset -2px -2px 2px #F6F6F6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
   border-radius: 3px;
   background: white;
}


.mw_dropdown_action_font_size{
  width: 46px;
}

.mw_dropdown_action_font_size .mw_dropdown_val{
  width: 19px;
}
.mw_dropdown_action_font_size .mw_dropdown_fields ul{
  width: 50px;
}

.mw_editor_btn, .mw_dropdown_type_wysiwyg{
  margin-left: 1px;
  margin-right: 1px;
}

.mw_upload_frame{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}

.disabled{
  opacity:.5;
  cursor: default !important;
}

.ed_slider{
  display: inline-block;
  position: relative;
  background: white;
  height: 9px;
  min-width: 50px;
  box-shadow:0px 1px 0px #C4C3C3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.ed_slider .ui-slider-handle{
  display: block;
  position: relative;
  top: -5px;
  left: 0;
  margin-left: -5px;
  outline: none;
  width: 9px;
  height: 17px;
  border: 1px solid #DAD8D8;
  background: url(../img/grad.php?top=F5F5F5&bot=E0E0E0);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


.square_map{
    padding: 3px;
    margin: 0 auto;
}

.square_map td{
  width: 12px;
  height: 12px;
}
.square_map td .square_map_item{
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  width: 10px;
  height: 10px;
  background: url(../img/grad.php?top=FDFDFD&bot=F5F5F5);
  cursor: pointer;
  border: 1px solid #D6D6D6;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.square_map td .square_map_item:hover, .square_map td .square_map_item.active{
  background: url(../img/grad.php?top=C1E1F6&bot=75AACD);
  border-color:#429BD5;
}
.square_map_value{
  display: block;
  clear: both;
  padding:3px 0 3px;
  text-align: center;
  font-size: 10px;
}

#items_handle{
  position: absolute;

  z-index: 999;
  width: 18px;
  height: 18px;
  background: white url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/cursor_drag_arrow_2.png) no-repeat center center;
  cursor: move;

  box-shadow: 1px 0 1px #212121;
  opacity:0.66;

    -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 32px;
  margin-left: -32px;
  margin-top: 25px;

}

#items_handle:hover{
  opacity:1;
}

.fx{
  display: none;
}

.edit.currentDragMouseOver{
  background-color:#E2D63F;
}

.mw_element_resizer{
  position: absolute;
  z-index: 997;
}

.mw_element_resizer .ui-resizable-e{
  width: 20px;
  height: 20px;
  top: 50%;
  left: -10px;
}
.mw_element_resizer .ui-resizable-w{
  width: 20px;
  height: 20px;
  background: #595959;
  top: 50%;
  right: -10px;
}

.center{
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

#mw_handle_row{
  position: absolute;
  z-index: 995;
  margin-top: -10px;
  margin-top: 7px;
  padding-bottom: 10px;
}
#mw_handle_element{
  z-index: 996;
}
#mw_handle_module{
  z-index: 996;
}



.mw_drag_current *{
  visibility: hidden !important;
}



#mw_handle_module,
#mw_handle_row,
#mw_handle_element,
#items_handle{
  left: -9999px;
  top: -9999px;
}

.mw_resizing > .column{
  height: auto !important;
}
.column .empty-element:first-child .delete_column,
.column .ui-resizable-e:first-child + .empty-element .delete_column{
  display: inline-block;
}

.delete_column{
  position: absolute;
  top:10%;
  left: 50%;
  margin: 0 0 0 -15px;
  display: none;
}

.ed_label{
  display: inline-block;
    font-size: 11px;
    overflow: hidden;
    white-space: nowrap;
    color: #595959;
    padding-right: 9px;
    position: relative;
    top: 2px;
}


.ed_item{
  display: block;
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #C7C7C7;
  overflow: hidden;
  background-color: #F5F5F5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.ed_item span{
  display: block;
  width: 18px;
  height: 18px;
  float: left;
  margin: 1px 0 0 1px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}
.ed_color_pick span{
  background-image:url(../img/ico.transparentbg.png);
}

.fx_canvas_slider{
  border:1px solid #D2D2D2;
  background: url(../img/cross.png) no-repeat center;
  border-radius:3px;
  position: relative;
}
.fx_canvas_slider canvas{
  position: absolute;
}

.mw-free-element > .ui-resizable-handle{
  visibility: hidden;
}

.mw-free-element > .ui-resizable-e{
  width: 5px;
  height: 100%;
  background: #D2D2D2;
  position: absolute;
  top: 0;
  right: 0;
}
.mw-free-element > .ui-resizable-s{
  width: 100%;
  height: 5px;
  background: #D2D2D2;
  position: absolute;
  bottom: 0;
  left: 0;
}
.mw-free-element:hover > .ui-resizable-handle{
  visibility: visible;
}

.mw-free-element:hover{
  outline: 1px dotted #D5D5D5;
}

.free-element-item .ui-resizable-s{
  width: 10px;
  height: 10px;
  background: #D2D2D2;
  position: absolute;
  bottom: 0;
  left: 50%;
}
.free-element-item .ui-resizable-e{
  width: 10px;
  height: 10px;
  background: #D2D2D2;
  position: absolute;
  top: 50%;
  right: 0;
}

.ed_btn{
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  font-size: 11px;
  color: #595959;
  text-decoration: none;
  padding: 2px 9px;
  background: url(../img/grad.php?top=F5F5F5&bot=E1E1E1);
  border-top: 1px solid #EAE6E6;
  border-left: 1px solid #BDBBBB;
  border-right: 1px solid #BDBBBB;
  border-bottom: 1px solid #B1B0B0;
}
.ed_btn:hover{
  color: #595959;
  text-decoration: none;
}

#mw-history-panel{
  display: none;
}
#MagicTheme{
  padding-top: 25px;
}

body.dragStart .ui-resizable-handle,
body.dragStart #items_handle{
  display: none !important;
}


.element {

/*    outline: 1px solid #3D80AB !important;
    outline:none\9;
    outline-offset: 3000px;
    -webkit-transition: outline-offset 0.6s;
       -moz-transition: outline-offset 0.6s;
         -o-transition: outline-offset 0.6s;
            transition: outline-offset 0.6s;*/
}

img.element{
  padding: 0;
}

.element-current{
  outline: 1px solid #3D80AB !important;
  outline-offset: -1px
}

.lipsum{
  color: rgba(0, 0, 0, 0.5);
}

.element.CL{
  outline:6px solid red !important;
}





