/*
api css
*/



body.mw-live-edit{
    margin: 0;
    padding: 0;
    padding-top: 170px;
}

.mw-defaults .left{ float: left; }
.mw-defaults .right{ float: right; }


body#UnsupportedBrowser div {
  display: none !important;
}

body#UnsupportedBrowser  #UnsupportedBrowserMSG{
  display: block !important;
  position: absolute;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #3D80AB;
  color: white;
  text-align: center;
  font-weight: normal;
  z-index: 9999;
  border-bottom: 1px solid #ccc;
}


body#UnsupportedBrowser #UnsupportedBrowserMSG h1{
  padding: 30px;
}

.relative{
  position: relative;
}
.z-1{z-index:1}
.z-2{z-index:2}
.z-3{z-index:3}
.z-4{z-index:4}
.z-5{z-index:5}
.z-6{z-index:6}
.z-7{z-index:7}

/* Let's get this party started */
.desc_area ::-webkit-scrollbar {
    width: 6px;
    height: 6px;

}

/* Track */
.desc_area  ::-webkit-scrollbar-corner {
    background: purple;
}

/* Handle */
.desc_area ::-webkit-scrollbar-corner {
    background: red;
}
.desc_area  ::-webkit-resizer {
    background: blue
}


.desc_area ::-webkit-resizer {
    background: grey
}

.semi_hidden{
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}












.ed_slider{
  display: inline-block;
  position: relative;
  background: white;
  height: 9px;
  min-width: 50px;
  box-shadow:0px 1px 0px #C4C3C3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.ed_slider .ui-slider-handle{
  display: block;
  position: relative;
  top: -5px;
  left: 0;
  margin-left: -5px;
  outline: none;
  width: 9px;
  height: 17px;
  border: 1px solid #DAD8D8;
  background: url(../img/grad.php?top=F5F5F5&bot=E0E0E0);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


.square_map{
    padding: 3px;
    margin: 0 auto;
}

.square_map table{
  margin: auto;
}

.square_map td{
  width: 20px;
  height: 20px;
  text-align: center;
}
.square_map td .square_map_item{
  display: block;
  margin:auto;
  text-indent: -9999px;
  overflow: hidden;
  width: 10px;
  height: 10px;
  background: url(../img/grad.php?top=FDFDFD&bot=F5F5F5);
  cursor: pointer;
  border: 1px solid #D6D6D6;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.square_map td .square_map_item:hover, .square_map td .square_map_item.active{
  background: url(../img/grad.php?top=C1E1F6&bot=75AACD);
  border-color:#429BD5;
}
.square_map_value{
  display: block;
  clear: both;
  padding:3px 0 3px;
  text-align: center;
  font-size: 10px;
}

#items_handle{
  position: absolute;

  z-index: 999;
  width: 18px;
  height: 18px;
  background: white url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/cursor_drag_arrow_2.png) no-repeat center center;
  cursor: move;

  box-shadow: 1px 0 1px #212121;
  opacity:0.66;

    -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 32px;
  margin-left: -32px;
  margin-top: 25px;

}

#items_handle:hover{
  opacity:1;
}

.fx{
  display: none;
}



.mw_element_resizer{
  position: absolute;
  z-index: 997;
}

.mw_element_resizer .ui-resizable-e{
  width: 20px;
  height: 20px;
  top: 50%;
  left: -10px;
}
.mw_element_resizer .ui-resizable-w{
  width: 20px;
  height: 20px;
  background: #595959;
  top: 50%;
  right: -10px;
}

.center{
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

#mw_handle_row{
  position: absolute;
  z-index: 995;
  margin-top: -10px;
  margin-top: 7px;
  padding-bottom: 10px;
}
#mw_handle_element{
  z-index: 996;
}
#mw_handle_module{
  z-index: 998;
}



.mw_drag_current *{
  visibility: hidden !important;
}



#mw_handle_module,
#mw_handle_row,
#mw_handle_element,
#items_handle{
  left: -9999px;
  top: -9999px;
  font-family: Verdana, sans-serif;
  font-size:12px;
}

html.mw_pages #mw_handle_module,
html.mw_pages #mw_handle_row,
html.mw_pages #mw_handle_element,
html.mw_pages #items_handle{
  display: none;
}



.mw_resizing > .mw-col{
  height: auto !important;
}
.mw-col .empty-element:first-child .delete_column,
.mw-col .ui-resizable-e:first-child + .empty-element .delete_column{
  display: inline-block;
}

.delete_column{
  position: absolute;
  top:10%;
  left: 50%;
  margin: 0 0 0 -15px;
  display: none;
}

.ed_label{
  display: inline-block;
    font-size: 11px;
    overflow: hidden;
    white-space: nowrap;
    color: #595959;
    padding-right: 9px;
    position: relative;
    margin: 4px 0 0 8px;
}


.ed_item{
  display: block;
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #C7C7C7;
  overflow: hidden;
  background-color: #F5F5F5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.ed_nobg{
  background-color: transparent;
  border-color: transparent;
}
.ed_nobg:hover{
  background-color: #F5F5F5;
  border-color: #C7C7C7;
}

.ed_item span{
  display: block;
  width: 18px;
  height: 18px;
  float: left;
  margin: 1px 0 0 1px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}
.ed_color_pick span{
  background-image:url(../img/ico.transparentbg.png);
}
.ed_item img{
  max-width: 18px;
  max-height: 18px;
  float: left;
  margin: 1px 0 0 1px;
}

.fx_canvas_slider{
  border:1px solid #D2D2D2;
  background: url(../img/cross.png) no-repeat center;
  border-radius:3px;
  position: relative;
}
.fx_canvas_slider canvas{
  position: absolute;
}
.canvas-slider:focus{
    box-shadow:inset 0 0 6px #B4B4B4;
}

.mw-free-element > .ui-resizable-handle{
  visibility: hidden;
}

.mw-free-element > .ui-resizable-e{
  width: 5px;
  height: 100%;
  background: #D2D2D2;
  position: absolute;
  top: 0;
  right: 0;
}
.mw-free-element > .ui-resizable-s{
  width: 100%;
  height: 5px;
  background: #D2D2D2;
  position: absolute;
  bottom: 0;
  left: 0;
}
.mw-free-element:hover > .ui-resizable-handle{
  visibility: visible;
}

.mw-free-element:hover{
  outline: 1px dotted #D5D5D5;
}

.free-element-item .ui-resizable-s{
  width: 10px;
  height: 10px;
  background: #D2D2D2;
  position: absolute;
  bottom: 0;
  left: 50%;
}
.free-element-item .ui-resizable-e{
  width: 10px;
  height: 10px;
  background: #D2D2D2;
  position: absolute;
  top: 50%;
  right: 0;
}






body.dragStart .ui-resizable-handle,
body.dragStart #items_handle{
  display: none !important;
}










.element-current, .element-current:hover{
  outline: 1px solid  #429BD5 !important;
  outline: 1px solid  #9FCCEA !important;
}




li.module-item.ui-draggable-dragging{
  border-radius: 2px;
  box-shadow: 0 0 3px #7A7A7A;
  background: white;
  padding: 5px !important;
  border: 1px solid #C7C7C7;
}

li.module-item.ui-draggable-dragging .mw_module_hold, li.module-item.ui-draggable-dragging .module_name, li.module-item.ui-draggable-dragging .mw_module_image{
  margin: auto;
  text-align: center;
  min-width: 0;
  display: block;
  width: 90px;
}

.mw_image_txt{
  position: relative;
  overflow: hidden;
}

.mw_free_element{
  position: relative;
  overflow: hidden;
}

.mw_free_element img,
.mw_free_element div,
.mw_free_element h1,
.mw_free_element h2,
.mw_free_element h3,
.mw_free_element h4,
.mw_free_element h5,
.mw_free_element h6,
.mw_free_element p,
.mw_free_element ul,
.mw_free_element ol{
  cursor: move;
  position: absolute;
}
.mw_image_txt div,
.mw_image_txt h1,
.mw_image_txt h2,
.mw_image_txt h3,
.mw_image_txt h4,
.mw_image_txt h5,
.mw_image_txt h6,
.mw_image_txt p,
.mw_image_txt ul,
.mw_image_txt ol{
  cursor: move;
  position: absolute;
}


.mw_resizer_X{
    background: none repeat scroll 0 0 white;
    border: 1px solid white;
    box-shadow: 0 0 2px -1px #595959;
    display: block;
    height: 15px;
    opacity: 0.8;
    position: absolute;
    left: -999px;
    top: -999px;
    width: 15px;
}

.ts_border_position_selector .mw_dlm{
  margin-top: 1px;
  margin-left: 5px;
  margin-right: 5px;
}

.mw_alert_holder{
  max-height: 115px;
  overflow: hidden;
}


[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


body.dragStart .no-drop{
  cursor: not-allowed;
}

/* MSIE ContentEditable elements */

div[id*='SSDIVEL']{
  display: none !important;
}




#mw_toolbar_back_to_live_edit {
 position:fixed;
 top:4px;
 left:50%;
 width:120px; 
 margin-left:-10px;

  opacity:0.6;
  z-index:99999 !important;
}















