<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Monye Study</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/Kozuka_Gothic_Pro_OpenType_700.font.js"></script>
<script type="text/javascript" src="js/Kozuka_Gothic_Pro_OpenType_400.font.js"></script>
<script type="text/javascript" src="js/Helvetica_LT_700.font.js"></script>
<script type="text/javascript" src="js/Myriad_Pro_400.font.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>

<!--  button scroller files -->
<script type="text/javascript" src="js/l10n.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery_003.js"></script>
<script type="text/javascript" src="js/jquery_002.js"></script>
<!--  button scroller files -->


<style>

body{
	background-color: #ffffff;
	background-image: url(images/innerbg.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
</style>
</head>
</head>

<body>
<div class="main" align="center">
<div class="top_stripe" align="center">
	<div class="top_content">
		<div class="join"></div>
		<div class="caption">The Best Stuff for Students!</div>
		<div class="likethis"><img src="images/likethis.jpg" alt="likehtis" /></div> <div class="like_box"><img src="images/likebut.jpg" alt="like" /></div>
		<div class="buzz"><img src="images/buzz.jpg" alt="buzz" /></div>
		<div class="chat_text">Start chat with others online</div>
		
	</div>

</div>
<div class="top_line"></div>
<div class="wrapper">
	<div class="header">
		<div class="logo"><img src="images/logo.png" alt="logog" /></div>
		<div class="ad"><img src="images/ad.jpg" alt="ad" /></div>
		<div class="nav">
		
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="howitworks.html" >How It Works</a></li>
				<li><a href="money2study.html">Money2Study</a></li>
				<li><a href="stuff2study.html">Stuff2Study</a></li>
				<li><a href="the_kewl_stuff.html" class="current">The Kewl Stuff</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="aboutus.html" >About Us</a></li>
				<li><a href="contactus.html">Contact Us</a></li>
				
				
				
			</ul>
		
		</div>
	</div>
	
	<div class="container">
		<div class="inner_container">
		<div class="inner_container_top"></div>
		<div class="inner_container_mid">
			<div class="inner_left">
				<div class="howit_works_left_img"><img src="images/blog_left_img.jpg" width="210" height="172" /></div>
				<div class="blog_category_tit">Categories</div>
				
				<ul>
				<li><a href="#" id="current">Category1</a></li>
				<li><a href="#" id="left_link">Category2</a></li>
				<li><a href="#" id="left_link">Category3</a></li>
				<li><a href="#" id="left_link">Category4</a></li>
				</ul>
				<div class="sponsored_tit">Money2study.com is sponsored by:</div>
				<div class="sponsor_logo"><img src="images/sponsor_logo.jpg" alt="sponsor" /></div>
			</div>
		  <div class="inner_rt">
				
				<div class="agony_blk">
					
					<div class="blog_entry_top">
						<div class="blog_title">Recruiter Tips & Tricks: starting your search</div> <div class="blog_comments">
						<div class="comments_number">35</div>
						<div class="comments_lable">Comments</div>
						
						</div>
					</div>
					
					<div class="posted">Posted by Admin 22/07/2011</div>
				<div class="blog_img"><img src="images/blog_img_1_large.jpg" alt="blog" width="682" height="339" /></div>  <div class="blog_text">
				  <p>You&rsquo;ve got your resume done and it&rsquo;s totally awesome but now you have to get started with the job search. First, don&rsquo;t panic, you&rsquo;ll be fine. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
				  <p> <br />
				    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of &quot;de Finibus Bonorum et Malorum&quot; (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, &quot;Lorem ipsum dolor sit amet..&quot;, comes from a line in section 1.10.32.</p>
				  <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from &quot;de Finibus Bonorum et Malorum&quot; by Cicero are also reproduced in their exact original form, accompanied by English versions from the ooking for a new job can be a fun and exciting time, especially if you are looking for your first job. Before you do anything, take a deep breath, and then let&rsquo;s get this search started.</p>
				  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).<br />
			      </p>
				</div>
				
				<div class="blog_entry_top">
						<div class="blog_title_inner">Would you like to comment?</div> 
						<div class="blog_comments">
						<div class="comments_number">35</div>
						<div class="comments_lable">Comments</div>
						
						</div>
				  </div>
				</div>
				<div class="speak_box">
					<div class="commentee_thumb"><img src="images/commentee_1.jpg" alt="commentee" /></div>
					<div class="commentee_text">
					<div class="commentee_name">John Allige say:</div>
					Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

					</div>
				</div>
				<div class="speaknow_tit">Speak Now</div>
				<input type="text" class="speak_text_box" />
				<div class="speak_lable">Name *</div>
				<input type="text" class="speak_text_box" />
				<div class="speak_lable">E-mail *</div>
				
				<input type="text" class="speak_text_box" />
				<div class="speak_lable">Website *</div>
				
				<textarea name="" cols="" rows="" class="speak_text_ara"></textarea> <div class="post_comment_but"><input type="image" src="images/post_coment_but.jpg" /></div>
		  </div>
		</div>
		<div class="inner_container_bot">
			<div class="like_container">
				<div class="like_but"><img src="images/like_but.jpg" alt="like" /></div> <div class="sizebg">14K</div>
				<div class="mess_send_but"><img src="images/mess_send_but.jpg" alt="messge send" /></div>
				<div class="plus_1"><img src="images/plus1.jpg" /></div>
				<div class="no_mess">5</div>
			</div>
		</div>
		</div>
		
				
		
		<div class="footer">
		
			<div class="footer_blk_1">
			
				<div class="footer_subhead">How it works</div>
				<a href="#">The Charity</a>
				<a href="#">Meet the team</a>
				<a href="#">Meet the panel</a>
			</div>
			
			<div class="footer_blk_2">
			
				<div class="footer_subhead">Stuff2study </div>
				<a href="#">Legal</a>
				<a href="#">Insure</a>
				<a href="#">Recruit</a>
				<a href="#">Rent</a>
				<a href="#">Medical</a>
				<a href="#">Travel</a>
				<a href="#">See all</a>
				
				
			</div>
			
			<div class="footer_blk_3">
			
				<div class="footer_subhead">The Kewl Stuff</div>
				<a href="#">Agony Corner</a>
				<a href="#">Shopping Center</a>
				<a href="#">Content</a>
				<a href="#">Menthoring</a>
				
			</div>
			
			<div class="footer_blk_4">
			
				<div class="footer_subhead"> About Us</div>
				<a href="#">About this website</a>
				<a href="#">Our mission</a>
				<a href="#">Partners</a>
				<a href="#">What you say</a>
				<a href="#">More...</a>
			</div>
			
			<div class="footer_blk_5">
			
				<div class="footer_subhead">Contact Us</div>
				<a href="#">Send us a message</a>
				<a href="#">Advartisment</a>
				<a href="#">FAQ</a>
				
				
			</div>
			
		</div>
		
		<div class="icons">
			<div class="f_icon"><img src="images/f_icon.png" alt="f" /></div>
			<div class="t_icon"><img src="images/t_icon.png" alt="t" /></div>
		</div>
		
	</div>
</div>
	
	<div class="bot_line" align="center">
	
		<div class="bot_container">
			<div class="bot_left">&copy; All rights reserved 2011 <a href="http://www.money2Study.com">Money2Study.com</a>.</div>
			
			<div class="bot_rt">
				<a href="#">Terms and conditions</a>  |
				<a href="#">Privacy policy</a>  |
				<a href="#">FAQ </a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
