<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Monye Study</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/Kozuka_Gothic_Pro_OpenType_700.font.js"></script>
<script type="text/javascript" src="js/Kozuka_Gothic_Pro_OpenType_400.font.js"></script>
<script type="text/javascript" src="js/Helvetica_LT_700.font.js"></script>
<script type="text/javascript" src="js/Myriad_Pro_400.font.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>

<!--  button scroller files -->
<script type="text/javascript" src="js/l10n.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery_003.js"></script>
<script type="text/javascript" src="js/jquery_002.js"></script>
<!--  button scroller files -->


<style>

body{
	background-color: #ffffff;
	background-image: url(images/innerbg.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
</style>
</head>
</head>

<body>
<div class="main" align="center">
<div class="top_stripe" align="center">
	<div class="top_content">
		<div class="join"></div>
		<div class="caption">The Best Stuff for Students!</div>
		<div class="likethis"><img src="images/likethis.jpg" alt="likehtis" /></div> <div class="like_box"><img src="images/likebut.jpg" alt="like" /></div>
		<div class="buzz"><img src="images/buzz.jpg" alt="buzz" /></div>
		<div class="chat_text">Start chat with others online</div>
		
	</div>

</div>
<div class="top_line"></div>
<div class="wrapper">
	<div class="header">
		<div class="logo"><img src="images/logo.png" alt="logog" /></div>
		<div class="ad"><img src="images/ad.jpg" alt="ad" /></div>
		<div class="nav">
		
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="howitworks.html">How It Works</a></li>
				<li><a href="money2study.html">Money2Study</a></li>
				<li><a href="stuff2study.html">Stuff2Study</a></li>
				<li><a href="the_kewl_stuff.html">The Kewl Stuff</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="aboutus.html" >About Us</a></li>
				<li class="current"><a href="contactus.html" >Contact Us</a></li>
				
				
				
			</ul>
		
		</div>
	</div>
	
	<div class="container">
		
		
		<div class="products_container">
			
			<div class="page_tit">Contact Us</div>
			<div class="contactus_text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. </div>
			
			<div class="contact_cols">
				<div class="contact_col_1">
					<div class="contact_logo"><img src="images/logo.png" /></div>
					<div class="contact_col_1_content">
					
						  <span class="contact_orange">PHONES					      </span><br />
					      <br />
					      <p>+0044 887 443 456,<br />
					        +0044 962 60 26<br />
			          </p>
					      <p>+359 887 443 456,<br />
					        +359 2 962 60 26<br />
					        <br />
					        <span class="contact_orange">FIND UD ON MAP</span><br /><div class="map_iocn"><a href="#"><img src="images/map_icon.png" border="0" /></a></div>
							<span class="contact_orange">Click Here to See Map</span>
			          </p>
					      <p></p>
					</div>
				
				</div>
				
				
				<div class="contact_col_2">
					<div class="email_but"><a href="#"><img src="images/eamil_but.jpg" alt="email" border="0" /></a></div>
					<div class="thanks_mess">We will contact you very soon!<br />
				    Thank you for your e-mail and advices.</div>
					
					<input type="text" class="text_box" />
					<input type="text" class="text_box" />
					<input type="text" class="text_box" />
					
					<textarea name="" cols="" rows="" class="message_box"></textarea>
					<div class="send_message_but"><input type="image" src="images/send_mess_but_41.jpg" /></div>
					
				</div>
				
				
			  <div class="contact_col_3">
					<span class="contact_orange">WHERE WE ARE LOCATED</span>
					<br />
<br />
<p>London, UK<br />
  Str. Street name  17<br />
</p>
<p>Chelse, UK<br />
  Str. Street name  17<br /><br />

</p><span class="contact_orange">E-MAIL</span><br />
<br />
<a href="mailto:info@money2study.com">Info (at) money2study.com			  </a>

<div class="be_a_friend"><a href="#"><img src="images/be_a_friend_but.jpg" alt="be a friend" border="0" /></a></div>

</div>
			</div>
			
		</div>
		<div class="product_container_bot"></div>
				
		
		<div class="footer">
		
			<div class="footer_blk_1">
			
				<div class="footer_subhead">How it works</div>
				<a href="#">The Charity</a>
				<a href="#">Meet the team</a>
				<a href="#">Meet the panel</a>
			</div>
			
			<div class="footer_blk_2">
			
				<div class="footer_subhead">Stuff2study </div>
				<a href="#">Legal</a>
				<a href="#">Insure</a>
				<a href="#">Recruit</a>
				<a href="#">Rent</a>
				<a href="#">Medical</a>
				<a href="#">Travel</a>
				<a href="#">See all</a>
				
				
			</div>
			
			<div class="footer_blk_3">
			
				<div class="footer_subhead">The Kewl Stuff</div>
				<a href="#">Agony Corner</a>
				<a href="#">Shopping Center</a>
				<a href="#">Content</a>
				<a href="#">Menthoring</a>
				
			</div>
			
			<div class="footer_blk_4">
			
				<div class="footer_subhead"> About Us</div>
				<a href="#">About this website</a>
				<a href="#">Our mission</a>
				<a href="#">Partners</a>
				<a href="#">What you say</a>
				<a href="#">More...</a>
			</div>
			
			<div class="footer_blk_5">
			
				<div class="footer_subhead">Contact Us</div>
				<a href="#">Send us a message</a>
				<a href="#">Advartisment</a>
				<a href="#">FAQ</a>
				
				
			</div>
			
		</div>
		
		<div class="icons">
			<div class="f_icon"><img src="images/f_icon.png" alt="f" /></div>
			<div class="t_icon"><img src="images/t_icon.png" alt="t" /></div>
		</div>
		
	</div>
</div>
	
	<div class="bot_line" align="center">
	
		<div class="bot_container">
			<div class="bot_left">&copy; All rights reserved 2011 <a href="http://www.money2Study.com">Money2Study.com</a>.</div>
			
			<div class="bot_rt">
				<a href="#">Terms and conditions</a>  |
				<a href="#">Privacy policy</a>  |
				<a href="#">FAQ </a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
