<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Monye Study</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/Kozuka_Gothic_Pro_OpenType_700.font.js"></script>
<script type="text/javascript" src="js/Kozuka_Gothic_Pro_OpenType_400.font.js"></script>
<script type="text/javascript" src="js/Helvetica_LT_700.font.js"></script>
<script type="text/javascript" src="js/Myriad_Pro_400.font.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>

<!--  button scroller files -->
<script type="text/javascript" src="js/l10n.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery_003.js"></script>
<script type="text/javascript" src="js/jquery_002.js"></script>
<!--  button scroller files -->



</head>
</head>

<body>
<div class="main" align="center">
<div class="top_stripe" align="center">
	<div class="top_content">
		<div class="join"></div>
		<div class="caption">The Best Stuff for Students!</div>
		<div class="likethis"><img src="images/likethis.jpg" alt="likehtis" /></div> <div class="like_box"><img src="images/likebut.jpg" alt="like" /></div>
		<div class="buzz"><img src="images/buzz.jpg" alt="buzz" /></div>
		<div class="chat_text">Start chat with others online</div>
		
	</div>

</div>
<div class="top_line"></div>
<div class="wrapper">
	<div class="header">
		<div class="logo"><img src="images/logo.png" alt="logog" /></div>
		<div class="ad"><img src="images/ad.jpg" alt="ad" /></div>
		<div class="nav">
		
			<ul>
				<li class="current"><a href="index.html" >Home</a></li>
				<li><a href="howitworks.html">How It Works</a></li>
				<li><a href="money2study.html">Money2Study</a></li>
				<li><a href="stuff2study.html">Stuff2Study</a></li>
				<li><a href="the_kewl_stuff.html">The Kewl Stuff</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="aboutus.html">About Us</a></li>
				<li><a href="contactus.html">Contact Us</a></li>
				
				
				
			</ul>
		
		</div>
	</div>
	
	<div class="container">
		<div class="banner_box">
			<div class="banner"><img src="images/banner.jpg" alt="banner" border="0" usemap="#Map" />
<map name="Map" id="Map"><area shape="rect" coords="332,206,630,230" href="#" /></map></div>
<div class="loginbox">
	<div class="login_tit">PLEASE LOG IN</div>
	<a href="#" id="new_reg">New Registration</a>
	
	<input type="text" class="login_box"/>
	<input type="text" class="login_box" style="margin-top:11px;"/>
	<div class="rememberbox">
		
		<input type="radio" class="radio_but"/>
		<div class="remember_text">Remember me on this site ? Forgot your Password ?
</div>
	</div>
	<div class="signin_but"><img src="images/signin_but.png" alt="sing in" /></div>
</div>
		</div>
		<div class="banner_box_bot"></div>
		
		<div class="scrollingbuts">
			
			<div id="footer-partners">
                <div class="bx-wrapper" style=" position: relative; float:left; ">
                    <div class="bx-window" style="position: relative; overflow: hidden;  ">
                       <ul style="width: 999999px; position: relative; padding:0px; margin:0px;">
                                    <li style=" float: left; list-style: none outside none;"> <a href="#" id="scrollbut_1"> </a> </li>
									
                                    <li class="pager" style=" float: left; list-style: none outside none;"> <a href="#" id="scrollbut_2"></a> </li>
									
                                    <li class="pager" style=" float: left; list-style: none outside none;"> <a href="#" id="scrollbut_3"> </a> </li>
									
                                    <li class="pager" style=" float: left; list-style: none outside none;"> <a href="#" id="scrollbut_4"></a> </li>
									
									 <li style=" float: left; list-style: none outside none;"> <a href="#" id="scrollbut_5"></a> </li>
									 
                                    <li class="pager" style=" float: left; list-style: none outside none;"> <a href="#" id="scrollbut_6"></a> </li>
									
                                    <li class="pager" style="width: 125px; float: left; list-style: none outside none;"> <a href="#" id="scrollbut_7"> </a> </li>
									
                                   <li style=" float: left; list-style: none outside none;"> <a href="#" id="scrollbut_1"> </a> </li>
									
                                    <li class="pager" style=" float: left; list-style: none outside none;"> <a href="#" id="scrollbut_2"></a> </li>
									
                                    <li class="pager" style=" float: left; list-style: none outside none;"> <a href="#" id="scrollbut_3"> </a> </li>
									
                                    <li class="pager" style=" float: left; list-style: none outside none;"> <a href="#" id="scrollbut_4"></a> </li>
									
									 <li style=" float: left; list-style: none outside none;"> <a href="#" id="scrollbut_5"></a> </li>
									 
                                    <li class="pager" style="width: 133px; float: left; list-style: none outside none;"> <a href="#" id="scrollbut_6"></a> </li>
									
                                    <li class="pager" style=" float: left; list-style: none outside none;"> <a href="#" id="scrollbut_7"> </a> </li>
                                    
                                  </ul>
                                </div>
							</div>
                               
			  </div>
			
		</div>
		<div class="products_container">
		
			<div class="prod_all_container">
			<div class="prodbox">
			
				<div class="prod_bg"><img src="images/prod_img_88.png" alt="product" /></div>
				<div class="prod_text">See products from Nike</div>
			</div>
			
			<div class="prodbox">
			
				<div class="prod_bg"><img src="images/prod_img_91.png" alt="product" width="200" height="120" /></div>
				<div class="prod_text">See products from Adidas</div>
			</div>
			
			<div class="prodbox">
			
				<div class="prod_bg"><img src="images/prod_img_93.png" alt="product" width="200" height="120" /></div>
				<div class="prod_text">See products from Apple</div>
			</div>
			
			<div class="prodbox">
			
				<div class="prod_bg"><img src="images/prod_img_95.png" alt="product" width="200" height="120" /></div>
				<div class="prod_text">See products from Apple</div>
			</div>
			
			</div>
			
			<a href="#" id="selectall">See All from Shopping Center</a>
		</div>
		
		
		
		<div class="product_container_bot"></div>
		
		<div class="box3">
			<div class="box3_top"></div>
			<div class="box3_mid">
				<div class="box3_about">
					<div class="box3_tit">About Us</div>
			          <a href="#" id="about_link">About this website</a>
					  <a href="#" id="about_link">Our Mission</a>
					  <a href="#" id="about_link">What You say about us</a>
					  <a href="#" id="about_link">Partners</a>
				</div>
				
				<div class="box3_about">
					<div class="box3_tit">Get Sponsored</div>
					<div class="sponsored_logo"><img src="images/sponsored_logo.png" alt="sponsored" /></div>
					<div class="get_sponsored_bg_img">
						<div class="giving">Giving you the opportunity to <br />
					    get <span class="giving_orange">Help2Study</span></div>
						<div class="getmoney_tit"></div>
						<div class="applynow_but"><a href="#"><img src="images/applynow_but.png" alt="apply now" border="0" /></a></div>
					</div>
			
				</div>
				
				<div class="box3_about" style="margin-right:0px;">
					<div class="box3_tit" style="margin-bottom:10px;">The Kewl Stuff</div>			
					<div class="stuffbg">
					<div class="stuff_box">
						<a href="#" id="stuff_link">Agony Corner</a>
						<div class="askyour">Ask your question</div>
					</div>
					<div class="stuff_box">
						<a href="#" id="stuff_link">Shopping Center</a>
						<div class="cool_stuffbg">Cool stuff for you</div>
					</div>
					<div class="stuff_box">
						<a href="#" id="stuff_link">Content</a>
						<div class="userfull_thinksbg">Usefull thinks to know</div>
					</div>
					<div class="stuff_box">
						<a href="#" id="stuff_link">Mentoring</a>
						<div class="findnowbg"> Find Now!</div>
					</div>
					
					
					</div>
			
				</div>
			</div>
			<div class="box3_bot"></div>
		
		</div>
		
		<div class="footer">
		
			<div class="footer_blk_1">
			
				<div class="footer_subhead">How it works</div>
				<a href="#">The Charity</a>
				<a href="#">Meet the team</a>
				<a href="#">Meet the panel</a>
			</div>
			
			<div class="footer_blk_2">
			
				<div class="footer_subhead">Stuff2study </div>
				<a href="#">Legal</a>
				<a href="#">Insure</a>
				<a href="#">Recruit</a>
				<a href="#">Rent</a>
				<a href="#">Medical</a>
				<a href="#">Travel</a>
				<a href="#">See all</a>
				
				
			</div>
			
			<div class="footer_blk_3">
			
				<div class="footer_subhead">The Kewl Stuff</div>
				<a href="#">Agony Corner</a>
				<a href="#">Shopping Center</a>
				<a href="#">Content</a>
				<a href="#">Menthoring</a>
				
			</div>
			
			<div class="footer_blk_4">
			
				<div class="footer_subhead"> About Us</div>
				<a href="#">About this website</a>
				<a href="#">Our mission</a>
				<a href="#">Partners</a>
				<a href="#">What you say</a>
				<a href="#">More...</a>
			</div>
			
			<div class="footer_blk_5">
			
				<div class="footer_subhead">Contact Us</div>
				<a href="#">Send us a message</a>
				<a href="#">Advartisment</a>
				<a href="#">FAQ</a>
				
				
			</div>
			
		</div>
		
		<div class="icons">
			<div class="f_icon"><img src="images/f_icon.png" alt="f" /></div>
			<div class="t_icon"><img src="images/t_icon.png" alt="t" /></div>
		</div>
		
		
		
	</div>
</div>
	
	<div class="bot_line" align="center">
	
		<div class="bot_container">
			<div class="bot_left">&copy; All rights reserved 2011 <a href="http://www.money2Study.com">Money2Study.com</a>.</div>
			
			<div class="bot_rt">
				<a href="#">Terms and conditions</a>  |
				<a href="#">Privacy policy</a>  |
				<a href="#">FAQ </a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
