<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Monye Study</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/Kozuka_Gothic_Pro_OpenType_700.font.js"></script>
<script type="text/javascript" src="js/Kozuka_Gothic_Pro_OpenType_400.font.js"></script>
<script type="text/javascript" src="js/Helvetica_LT_700.font.js"></script>
<script type="text/javascript" src="js/Myriad_Pro_400.font.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>

<!--  button scroller files -->
<script type="text/javascript" src="js/l10n.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery_003.js"></script>
<script type="text/javascript" src="js/jquery_002.js"></script>
<!--  button scroller files -->


<style>

body{
	background-color: #ffffff;
	background-image: url(images/innerbg.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
</style>


</head>
</head>

<body>
<div class="main" align="center">
<div class="top_stripe" align="center">
	<div class="top_content">
		<div class="join"></div>
		<div class="caption">The Best Stuff for Students!</div>
		<div class="likethis"><img src="images/likethis.jpg" alt="likehtis" /></div> <div class="like_box"><img src="images/likebut.jpg" alt="like" /></div>
		<div class="buzz"><img src="images/buzz.jpg" alt="buzz" /></div>
		<div class="chat_text">Start chat with others online</div>
		
	</div>

</div>
<div class="top_line"></div>
<div class="wrapper">
	<div class="header">
		<div class="logo"><img src="images/logo.png" alt="logog" /></div>
		<div class="ad"><img src="images/ad.jpg" alt="ad" /></div>
		<div class="nav">
		
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="howitworks.html">How It Works</a></li>
				<li><a href="money2study.html" class="current">Money2Study</a></li>
				<li><a href="stuff2study.html">Stuff2Study</a></li>
				<li><a href="the_kewl_stuff.html">The Kewl Stuff</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="aboutus.html" >About Us</a></li>
				<li><a href="contactus.html" >Contact Us</a></li>
				
				
				
			</ul>
		
		</div>
	</div>
	
	<div class="container">
		
		
		<div class="money_container">
			
			<div class="money_page_tit">Money2Study</div>
			<div class="money_icons" >
				<a href="#" id="money_icon1" class="tt"><span class="tooltip" style="margin-left:10px;"><span class="middle" ><strong>Medical</strong> <br />Cclick to browse this category</span><span class="bottom"></span></span></a>
				
				<a href="#" id="money_icon2" class="tt" ><span class="tooltip"><span class="middle"><strong>Medical</strong> <br />Cclick to browse this category</span><span class="bottom"></span></span></a>
				
				<a href="#" id="money_icon3" class="tt" ><span class="tooltip" style="margin-left:5px;"><span class="middle"><strong>Medical</strong> <br />Cclick to browse this category</span><span class="bottom"></span></span></a>
				
				<a href="#" id="money_icon4" class="tt" ><span class="tooltip" style="margin-left:10px;"><span class="middle"><strong>Medical</strong> <br />Cclick to browse this category</span><span class="bottom"></span></span></a>
				
				<a href="#" id="money_icon5" class="tt" ><span class="tooltip" style="margin-left:15px;"><span class="middle"><strong>Medical</strong> <br />Cclick to browse this category</span><span class="bottom"></span></span></a>
				<a href="#" id="money_icon6" class="tt" ><span class="tooltip"><span class="middle"><strong>Medical</strong> <br />Cclick to browse this category</span><span class="bottom"></span></span></a>
				<a href="#" id="money_icon7" class="tt" ><span class="tooltip"><span class="middle"><strong>Medical</strong> <br />Cclick to browse this category</span><span class="bottom"></span></span></a>
				<div class="money_icons_logo"><img src="images/money_icons_logo.jpg" alt="logo" /></div>
			</div>
			
			<div class="money2_page_text">
			Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. </div>
			
			
			<div class="money_inner_left">
				<div class="choose_cat_box">
					<div class="sm_logo" style="float:left"><img src="images/sm_logo.jpg" alt="logo" /></div> <div class="choose_cat_lable">Choose category</div>
					<select class="cat_dropbox">
					  <option>Medical</option>
					</select>
					<!--<div class="drop_but"></div>-->
				</div>
				
				<div class="each_cat_box">
					<div class="each_cat_box_left">
						<div class="cat_logo"><img src="images/cat_logo_1.jpg" alt="logo" /></div>
						<div class="cat_url"><a href="http://www.companysite.com" target="_blank">www.companysite.com</a></div></div>
					<div class="each_cat_box_rt">
						<div class="page_tit">Connect Solution</div>
						<div class="cat_text2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummya</div> <div class="seethis_offer_but"><a href="#"><img src="images/seethis_offer_but.jpg" alt="offer" border="0" /></a></div>
					
					</div>
				</div>
			<div class="each_cat_box">
					<div class="each_cat_box_left">
						<div class="cat_logo"><img src="images/cat_logo_2.jpg" alt="logo" width="192" height="118" /></div>
						<div class="cat_url"><a href="http://www.companysite.com" target="_blank">www.companysite.com</a></div></div>
					<div class="each_cat_box_rt">
						<div class="page_tit">Connect Solution</div>
						<div class="cat_text2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummya</div> <div class="seethis_offer_but"><a href="#"><img src="images/seethis_offer_but.jpg" alt="offer" border="0" /></a></div>
					
					</div>
			  </div>
			<div class="each_cat_box">
					<div class="each_cat_box_left">
						<div class="cat_logo"><img src="images/cat_logo_3.jpg" alt="logo" width="192" height="118" /></div>
						<div class="cat_url"><a href="http://www.companysite.com" target="_blank">www.companysite.com</a></div></div>
					<div class="each_cat_box_rt">
						<div class="page_tit">Connect Solution</div>
						<div class="cat_text2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummya</div> <div class="seethis_offer_but"><a href="#"><img src="images/seethis_offer_but.jpg" alt="offer" border="0" /></a></div>
					
					</div>
			  </div>
				<div class="each_cat_box">
					<div class="each_cat_box_left">
						<div class="cat_logo"><img src="images/cat_logo_1.jpg" alt="logo" /></div>
						<div class="cat_url"><a href="http://www.companysite.com" target="_blank">www.companysite.com</a></div></div>
					<div class="each_cat_box_rt">
						<div class="page_tit">Connect Solution</div>
						<div class="cat_text2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummya</div> <div class="seethis_offer_but"><a href="#"><img src="images/seethis_offer_but.jpg" alt="offer" border="0" /></a></div>
					
					</div>
				</div>
				<div class="each_cat_box">
					<div class="each_cat_box_left">
						<div class="cat_logo"><img src="images/cat_logo_1.jpg" alt="logo" /></div>
						<div class="cat_url"><a href="http://www.companysite.com" target="_blank">www.companysite.com</a></div></div>
					<div class="each_cat_box_rt">
						<div class="page_tit">Connect Solution</div>
						<div class="cat_text2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummya</div> <div class="seethis_offer_but"><a href="#"><img src="images/seethis_offer_but.jpg" alt="offer" border="0" /></a></div>
					
					</div>
				</div>
				<div class="each_cat_box">
					<div class="each_cat_box_left">
						<div class="cat_logo"><img src="images/cat_logo_1.jpg" alt="logo" /></div>
						<div class="cat_url"><a href="http://www.companysite.com" target="_blank">www.companysite.com</a></div></div>
					<div class="each_cat_box_rt">
						<div class="page_tit">Connect Solution</div>
						<div class="cat_text2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummya</div> <div class="seethis_offer_but"><a href="#"><img src="images/seethis_offer_but.jpg" alt="offer" border="0" /></a></div>
					
					</div>
				</div>
				
				<div class="pagination">
				
				 <a href="#" id="prev">Prev</a>
				 <div class="page_number">
				 	<a href="#" class="current">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#" id="next">Next</a>
				 </div>
				</div>
				
			</div>
			<div class="money_inner_rt">
			
				<div class="money_sponsored_text">
					Money2study is sponsored by:
				</div>
				
				
				
				
				<div class="sony_img"><img src="images/sony_img.jpg" alt="sony" border="0" usemap="#Map" />
<map name="Map" id="Map"><area shape="rect" coords="17,209,143,229" href="#" /></map></div>

				<div class="last10_box">
					<div class="hot_offer_subhead">Last 10 Hot Offers</div>
					<div class="hot_offer_rec">
						<div class="hot_offer_number">1</div>
						<div class="hot_offer_text">Lorem ipsum dollar sit amet consectuter Lorem ipsum dollar sit amet consectuter</div>
					</div>
					<div class="hot_offer_rec">
						<div class="hot_offer_number">2</div>
						<div class="hot_offer_text">Lorem ipsum dollar sit amet consectuter Lorem ipsum dollar sit amet consectuter</div>
					</div>
					<div class="hot_offer_rec">
						<div class="hot_offer_number">3</div>
						<div class="hot_offer_text">Lorem ipsum dollar sit amet consectuter Lorem ipsum dollar sit amet consectuter</div>
					</div>
					<div class="hot_offer_rec">
						<div class="hot_offer_number">4</div>
						<div class="hot_offer_text">Lorem ipsum dollar sit amet consectuter Lorem ipsum dollar sit amet consectuter</div>
					</div>
					<div class="hot_offer_rec">
						<div class="hot_offer_number">5</div>
						<div class="hot_offer_text">Lorem ipsum dollar sit amet consectuter Lorem ipsum dollar sit amet consectuter</div>
					</div>
				<div class="hot_offer_rec">
						<div class="hot_offer_number">6</div>
						<div class="hot_offer_text">Lorem ipsum dollar sit amet consectuter Lorem ipsum dollar sit amet consectuter</div>
					</div>
				<div class="hot_offer_rec">
						<div class="hot_offer_number">7</div>
						<div class="hot_offer_text">Lorem ipsum dollar sit amet consectuter Lorem ipsum dollar sit amet consectuter</div>
					</div>
				<div class="hot_offer_rec">
						<div class="hot_offer_number">8</div>
						<div class="hot_offer_text">Lorem ipsum dollar sit amet consectuter Lorem ipsum dollar sit amet consectuter</div>
					</div>
				<div class="hot_offer_rec">
						<div class="hot_offer_number">9</div>
						<div class="hot_offer_text">Lorem ipsum dollar sit amet consectuter Lorem ipsum dollar sit amet consectuter</div>
					</div>
					<div class="hot_offer_rec">
						<div class="hot_offer_number">10</div>
						<div class="hot_offer_text">Lorem ipsum dollar sit amet consectuter Lorem ipsum dollar sit amet consectuter</div>
					</div>
				</div>
				
				<div class="last10_box">
					
					<div class="subscribe_tit">Subscribe for best offers </div>
					<div class="subscribebg">
						<input type="text" class="subscribe_mail" />
						
						<div class="subscribe_but"><input type="image" src="images/subscribe_but.jpg" /></div>
					</div>
					
					<div class="money_sponsored_text2">
					Money2study is sponsored by:
				</div>
				<div class="sponsor"><img src="images/sponsor_84.jpg" alt="sponsor" /></div>	<div class="sponsor"><img src="images/sponsor_86.jpg" alt="sponsor" /></div>
<div class="sponsor"><img src="images/sponsor_90.jpg" alt="sponsor" /></div>
<div class="sponsor"><img src="images/sponsor_92.jpg" alt="sponsor" /></div>
				</div>

			</div>
			
	  </div>
		<div class="category_bot">
		
		<div class="like_container_cat">
				<div class="like_but"><img src="images/like_but.jpg" alt="like" /></div> <div class="sizebg">14K</div>
				<div class="mess_send_but"><img src="images/mess_send_but.jpg" alt="messge send" /></div>
				<div class="plus_1"><img src="images/plus1.jpg" /></div>
				<div class="no_mess">5</div>
			</div>
		
		</div>
				
		
		<div class="footer">
		
			<div class="footer_blk_1">
			
				<div class="footer_subhead">How it works</div>
				<a href="#">The Charity</a>
				<a href="#">Meet the team</a>
				<a href="#">Meet the panel</a>
			</div>
			
			<div class="footer_blk_2">
			
				<div class="footer_subhead">Stuff2study </div>
				<a href="#">Legal</a>
				<a href="#">Insure</a>
				<a href="#">Recruit</a>
				<a href="#">Rent</a>
				<a href="#">Medical</a>
				<a href="#">Travel</a>
				<a href="#">See all</a>
				
				
			</div>
			
			<div class="footer_blk_3">
			
				<div class="footer_subhead">The Kewl Stuff</div>
				<a href="#">Agony Corner</a>
				<a href="#">Shopping Center</a>
				<a href="#">Content</a>
				<a href="#">Menthoring</a>
				
			</div>
			
			<div class="footer_blk_4">
			
				<div class="footer_subhead"> About Us</div>
				<a href="#">About this website</a>
				<a href="#">Our mission</a>
				<a href="#">Partners</a>
				<a href="#">What you say</a>
				<a href="#">More...</a>
			</div>
			
			<div class="footer_blk_5">
			
				<div class="footer_subhead">Contact Us</div>
				<a href="#">Send us a message</a>
				<a href="#">Advartisment</a>
				<a href="#">FAQ</a>
				
				
			</div>
			
		</div>
		
		<div class="icons">
			<div class="f_icon"><img src="images/f_icon.png" alt="f" /></div>
			<div class="t_icon"><img src="images/t_icon.png" alt="t" /></div>
		</div>
		
	</div>
</div>
	
	<div class="bot_line" align="center">
	
		<div class="bot_container">
			<div class="bot_left">&copy; All rights reserved 2011 <a href="http://www.money2Study.com">Money2Study.com</a>.</div>
			
			<div class="bot_rt">
				<a href="#">Terms and conditions</a>  |
				<a href="#">Privacy policy</a>  |
				<a href="#">FAQ </a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>

</body>
</html>
