<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Monye Study</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/Kozuka_Gothic_Pro_OpenType_700.font.js"></script>
<script type="text/javascript" src="js/Kozuka_Gothic_Pro_OpenType_400.font.js"></script>
<script type="text/javascript" src="js/Helvetica_LT_700.font.js"></script>
<script type="text/javascript" src="js/Myriad_Pro_400.font.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>

<!--  button scroller files -->
<script type="text/javascript" src="js/l10n.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery_003.js"></script>
<script type="text/javascript" src="js/jquery_002.js"></script>
<!--  button scroller files -->


<style>

body{
	background-color: #ffffff;
	background-image: url(images/innerbg.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
</style>
</head>
</head>

<body>
<div class="main" align="center">
<div class="top_stripe" align="center">
	<div class="top_content">
		<div class="join"></div>
		<div class="caption">The Best Stuff for Students!</div>
		<div class="likethis"><img src="images/likethis.jpg" alt="likehtis" /></div> <div class="like_box"><img src="images/likebut.jpg" alt="like" /></div>
		<div class="buzz"><img src="images/buzz.jpg" alt="buzz" /></div>
		<div class="chat_text">Start chat with others online</div>
		
	</div>

</div>
<div class="top_line"></div>
<div class="wrapper">
	<div class="header">
		<div class="logo"><img src="images/logo.png" alt="logog" /></div>
		<div class="ad"><img src="images/ad.jpg" alt="ad" /></div>
		<div class="nav">
		
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="howitworks.html">How It Works</a></li>
				<li><a href="money2study.html">Money2Study</a></li>
				<li><a href="stuff2study.html">Stuff2Study</a></li>
				<li><a href="the_kewl_stuff.html">The Kewl Stuff</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="aboutus.html" >About Us</a></li>
				<li><a href="contactus.html" class="current">Contact Us</a></li>
				
				
				
			</ul>
		
		</div>
	</div>
	
	<div class="container">
		
		
	  <div class="products_container">
			
			<div class="page_tit">My Profile </div>
			<div class="contactus_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
			
			
	        <div class="profile_box">
				<div class="profile_top"></div>
				<div class="profile_mid">
					
					<div class="profile_head">
						<div class="profilee_image"><img src="images/profilee_img.jpg" alt="profilee" /></div>
						
						
						<div class="tit_but">
						<div  class="mypicture_tit">My Picture</div>
						<div class="change_pic_but"><a href="#"><img src="images/change_pi_but.jpg" alt="change picture" border="0" /></a></div>
						</div>
						<div class="profile_logo"><img src="images/reg_ogo.png" alt="logo" /></div>
						
					
					</div>
					
					<div class="profile_lable">Username:</div>
					<input type="text" class="reg_text_Box" />
					<div class="profile_lable">First Name:</div>
					<input type="text" class="reg_text_Box" />


<div class="profile_lable">Last Name:</div>
					<input type="text" class="reg_text_Box" />


<div class="profile_lable">Country:</div>
					<input type="text" class="reg_text_Box" />
					
					<div class="profile_lable">City:</div>
					<input type="text" class="reg_text_Box" />
					
					<div class="profile_lable">Last Name:</div>
					<input type="text" class="reg_text_Box" />
					<div class="profile_lable">Birth day:</div>
					<select class="profile_drop_Box"></select>
					
					
					<div class="profile_lable">Borth month:</div>
					<select class="profile_drop_Box"></select>
					
					<div class="profile_lable">Birth year:</div>
					<select class="profile_drop_Box"></select>
					
					<div class="profile_lable">About me:</div>
					
					<textarea name="" cols="" rows="" class="profile_text_area"></textarea>
                    <div class="profile_lable2">Change Password</div>
					<div class="click_here_but"><img src="images/click_here_but.jpg" alt="change pasword?" /></div>

					<div class="profile_lable2">New Password</div>
					<input type="text" class="profile_text_Box2" />
					
							<div class="profile_lable2">Repeat Password</div>
					<input type="text" class="profile_text_Box2" />
					
					<div class="save_but"><input type="image" src="images/save_but.jpg" /></div>
				
				</div>
				<div class="profile_bot"></div>
			
			</div>
		   
		   <div class="reg_text"></div>
		   
		   
	  </div>
		<div class="product_container_bot"></div>
				
		
		<div class="footer">
		
			<div class="footer_blk_1">
			
				<div class="footer_subhead">How it works</div>
				<a href="#">The Charity</a>
				<a href="#">Meet the team</a>
				<a href="#">Meet the panel</a>
			</div>
			
			<div class="footer_blk_2">
			
				<div class="footer_subhead">Stuff2study </div>
				<a href="#">Legal</a>
				<a href="#">Insure</a>
				<a href="#">Recruit</a>
				<a href="#">Rent</a>
				<a href="#">Medical</a>
				<a href="#">Travel</a>
				<a href="#">See all</a>
				
				
			</div>
			
			<div class="footer_blk_3">
			
				<div class="footer_subhead">The Kewl Stuff</div>
				<a href="#">Agony Corner</a>
				<a href="#">Shopping Center</a>
				<a href="#">Content</a>
				<a href="#">Menthoring</a>
				
			</div>
			
			<div class="footer_blk_4">
			
				<div class="footer_subhead"> About Us</div>
				<a href="#">About this website</a>
				<a href="#">Our mission</a>
				<a href="#">Partners</a>
				<a href="#">What you say</a>
				<a href="#">More...</a>
			</div>
			
			<div class="footer_blk_5">
			
				<div class="footer_subhead">Contact Us</div>
				<a href="#">Send us a message</a>
				<a href="#">Advartisment</a>
				<a href="#">FAQ</a>
				
				
			</div>
			
		</div>
		
		<div class="icons">
			<div class="f_icon"><img src="images/f_icon.png" alt="f" /></div>
			<div class="t_icon"><img src="images/t_icon.png" alt="t" /></div>
		</div>
		
	</div>
</div>
	
	<div class="bot_line" align="center">
	
		<div class="bot_container">
			<div class="bot_left">&copy; All rights reserved 2011 <a href="http://www.money2Study.com">Money2Study.com</a>.</div>
			
			<div class="bot_rt">
				<a href="#">Terms and conditions</a>  |
				<a href="#">Privacy policy</a>  |
				<a href="#">FAQ </a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
