*{
  margin: 0;
  padding: 0;
}


/*************************
       Main Styles
**************************/

body, textarea{
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size: 13px;
}

body, a{
  color: #3B3B3B;
}

a{
  text-decoration: none;
}

img{
  border: none;
}

h1, h2, h3, h4, h5, h6{
  font-weight: normal;
}

h1{
  font-size: 200%;
}
h2{
  font-size: 170%;
}
h3{
  font-size: 140%;
}
h4{
  font-size: 130%;
}
h5{
  font-size: 120%;
}
h6{
  font-size: 110%;
}




/************************************
        Primary Admin Grid
*************************************/

.fixed-side-column{
  position: fixed;
  top: 0;
  height: 100%;
  background-color: #F5F5F5;
  overflow: hidden;
}

.fixed-side-column:hover{
  overflow: auto;
}

.tree-column{
  width: 20%;
  min-width: 210px;
}
.tree-column-holder{
  width: 100%;
  min-width: 210px;
}


/************************************
       Scrollbar styles
*************************************/

.slimScrollBar{
  max-height: 150px;
}



/************************************
        Media queries
*************************************/

@media (max-width: 768px) {
    .fixed-side-column{
      display: none;
    }
    #pages_edit_container{
      margin-left: 120px;
    }
}
