@import url("ui.css");
*{
  margin: 0;
  padding: 0;
}


/*************************
       Main Styles
**************************/

body, textarea,input{
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-family: Segoe UI, sans-serif;
  font-size: 13px;
  line-height: 1.3;
}

body, a{
  color: #3B3B3B;
}

a{
  text-decoration: none;
}

img{
  border: none;
}

h1, h2, h3, h4, h5, h6{
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 5px;
}

h1{
  font-size: 200%;
}
h2{
  font-size: 170%;
  line-height: 170%;
}
h3{
  font-size: 140%;
  line-height: 140%;
}
h4{
  font-size: 130%;
  line-height: 130%;
}
h5{
  font-size: 120%;
}
h6{
  font-size: 110%;
}

hr, .hr{
  height: 1px;
  border: none;
  position: relative;
  clear: both;
  display: block;
  background: #E5E5E5;
  overflow: hidden;
  margin: 22px 0;
}
.hr1{ margin: 12px 0;}
.hr2{ margin: 32px 0;}


h2 > [class*="mw-icon-"]:first-child{
  margin-right: 10px;
}

/************************************
        Primary Admin Grid
*************************************/

.main-admin-row, .mw-simple-rotator{
  max-width: 999px;
}
.mw-iframe-editor{
  max-width: 1200px !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box ;
  box-sizing: border-box;
}

.fixed-side-column-container{
  position: relative;
  z-index: 0;
}

.mw-simple-rotator{
  overflow: hidden;
  position: relative;
  padding: 20px;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box ;
  box-sizing: border-box;
}

.fixed-side-column{
  position: fixed;
  top: 0;
  height: 100%;
  background-color: #F5F5F5;
  overflow: hidden;
}

.tree-column, .fixed-side-column{
  min-width: 210px;
  max-width: 310px;
}

.main-content-column > .mw-ui-col-container{
  padding-left: 35px;
  background-color: white;
}

.main-bar-column{
  width:100px;
}

#pages_tree_toolbar [class*='mw-icon-']{
  font-size: 12px;
  display: block;
  visibility: hidden;
  position: absolute;
  height: 21px;
  width: 20px;
  top: 7px;
  padding: 3px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box ;
  box-sizing: border-box;
  border: 1px solid transparent;
  color: #3B3B3B;
  opacity: 0.5;
}
#pages_tree_toolbar a:hover > [class*='mw-icon-']{
  visibility: visible;
}
#pages_tree_toolbar .mw-icon-pen{
  right: 30px;
}
#pages_tree_toolbar .mw-icon-bin{
  right: 10px;
  font-size: 15px;
  padding: 2px;
}
#pages_tree_toolbar [class*='mw-icon-']:hover{
  background-color: #191919;
  opacity: 1;
  color: white;
}
#pages_tree_toolbar .mw-icon-bin:hover{
  background-color: #999999;
}

.mw-tree .module a:hover, .mw-tree li.active-bg > a{
  color:#4494C7 ;
}




/************************************
       Scrollbar styles
*************************************/

.slimScrollBar{
  max-height: 150px;
}

/************************************
              Main Menu
*************************************/

#main-bar{
  width:100px;
  height: 100%;
  background: #000000;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

#main-bar-mw-icon{
  height: 20px;
  display: block;
  overflow: hidden;
}

#main-bar-mw-icon svg{
  height: 20px;
  width: 75px;
  display: block;
  margin: auto;
  position: relative;
  top: 5px;
}
#main-bar-mw-icon .mwpolycolor{
  fill:#999999;
}


#main-menu li{
  list-style: none;
}
#main-menu li a{
  list-style: none;
  position: relative;
}

#main-menu > li > a{
  color: #999;
  font-size: 13px;
  display: block;
  text-align: center;
  padding: 10px 0;
}

#main-menu > li > ul > li > a{
    color: #999;
    text-align: center;
    display: block;
    padding: 5px 0;
}
#main-menu > li > ul > li:first-child > a{
  padding-top: 0px;
}
#main-menu > li > ul > li:last-child > a{
  padding-bottom: 10px;
}

#main-menu > li > ul > li > a:hover,
#main-menu > li > ul > li > a:focus,
#main-menu > li > ul > li.active,
#main-menu li.active-parent > a{
  color: white
}

#main-menu > li #main-nav-live{
  margin-top: 10px;
  padding-top: 0;
}

#main-nav-live:hover,
#main-nav-live:focus{
  background: #4494C7;
}

#main-menu a strong{
  display: block;
  position: relative;
  padding-top: 4px;
  visibility: hidden;
  color: white;
  font-weight: normal;
}
#main-menu li.active, #main-menu li.active-parent{
  background-color:#3B3B3B
}

#main-menu li:hover a strong, #main-menu li.active a strong, #main-menu li.active-parent a strong, #main-menu li a:focus strong{
  visibility: visible;
}

#main-menu li.active-parent a strong{
  color: #888;
}
#main-menu li.active-parent a:hover strong{
  color: white;
}


#main-menu li ul{
  display: none;
}
#main-menu li.active ul, #main-menu li.active-parent ul{
  display: block;
}

#main-menu a [class*='mw-icon-']{ font-size: 36px; }
#main-menu a .mw-icon-menu{ font-size: 30px; }

#main-menu li.active > a{
  color: white;
  background: #3B3B3B;
}
#main-menu > li > a:hover,
#main-menu > li > a:focus{
  color: white;
}

#main-menu > li > a:active{
  box-shadow: inset 0 0 6px -3px #000;
}

#main-menu > li > a#main-nav-live:active{
  box-shadow: inset 0 0 6px -2px #000;
}

#main-menu-back, #main-menu-toggle{
  display: none;
}



#main-menu li li.active > a:after, #main-menu li.active strong:after{
    display: block;
    position: absolute;
    right: -5px;
    top: 50%;
    margin-top: -5px;
    overflow: hidden;
    width: 10px;
    height: 10px;
    background:#F5F5F5;
    content:"";
    transform: rotate(45deg) ;
    -webkit-transform: rotate(45deg) ;
    -moz-transform: rotate(45deg) ;
    -o-transform: rotate(45deg) ;
    -ms-transform: rotate(45deg) ;
}
#main-menu li.active strong:after{
  margin-top: -1px;
}

.main-menu-active{
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    right: -5px;
}
.main-menu-active:after{
    display: block;
    overflow: hidden;
    width: 10px;
    height: 10px;
    background: white;
    content:"";
    transform: rotate(45deg) ;
    -webkit-transform: rotate(45deg) ;
    -moz-transform: rotate(45deg) ;
    -o-transform: rotate(45deg) ;
    -ms-transform: rotate(45deg) ;
}



/**/
#create-content-menu{
  display: none;
}

.create-content-menu{
  width: 175px;
}

.create-content{
  padding: 30px 0;
  text-align: center;
}


.create-content-menu a{
  display: block;
  float: left;
  text-align: center;
  width: 47%;
  width: calc(50% - 4px);
  width: -webkit-calc(50% - 4px);
  border-radius: 2px;
  color: #B3B3B3;
  background-color: #191919;
  margin: 7px 7px 0 0;
}
.create-content-menu a:nth-child(2), .create-content-menu a:first-child{
    margin-top: 0;
}
.create-content-menu a:nth-child(2n){
  margin-right: 0;
}

.create-content-menu a:hover{
  background-color: #3F3F3F;
}
.create-content-menu a [class*='mw-icon-']{
  font-size: 50px;
  line-height: 50px;
  height: 40px;
  display: block;
  color: #F5F5F5;
}
.create-content-menu a .product-icon{
  margin: 10px auto 0px;
}

.create-content-menu a strong{
  font-weight: normal;
  font-size:11px;
   display: block;
   padding-top:6px;
   padding-bottom:12px;
}



/************************************
            Posts
*************************************/
.manage-post-item{
  background: white;
}

.manage-post-item-links a{
  margin-right: 7px;
}
.manage-post-item-link-small{
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.manage-post-item-links a:hover{
  text-decoration: underline
}

.manage-post-item:hover .manage-post-item-links a, .manage-post-item:hover .manage-post-item-title a{
  color: #2C82DD;
}
.manage-post-item:hover .manage-post-item-title a [class*='mw-icon-']{
    color: #3b3b3b;
}


.manage-post-item-col-1{
  width: 40px;
}
.manage-post-item-col-2{
  width: 120px;
}
.manage-post-item-col-3{
  width: auto;
}
.manage-posts-holder .manage-post-item-col-4{
  width:110px;
  text-align: center;
  vertical-align: middle;
}
.manage-post-item-author{
  max-width: 70px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}
.manage-item-main-top{
  min-height: 60px;
}

.manage-posts-holder .manage-post-item-col-5{
  width: 40px;
  vertical-align: middle;
}

.manage-post-item .manage-post-item-title [class*='mw-icon-']{
  font-size: 22px;
  top: -2px;
}

.manage-post-item .mw-icon-drag{
  cursor: move;
  z-index:1;
  visibility: hidden;
  left: 0;
  top: 15px;
  color: #ccc;
  display: block;
  font-size: 20px;
}

.manage-post-item .mw-icon-drag:hover{
  color: black;
}

.manage-post-item:hover .mw-icon-drag{
  visibility: visible;
}

.manage-post-item .product-icon{
  width: 25px;
  height: 25px;
}

.manage-post-item-title{
  margin-top: 0;
}

.comments-bubble{
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.comments-bubble .mw-icon-comment{
  font-size: 32px;
  color: #3B3B3B;
}

.comments-bubble .comment-number{
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 11px;
  top: 25%;
  left: 0;
  z-index: 1;
  white-space: nowrap;
  color: white;
}
#quick-add-post-options-item-advanced input.mw-ui-field,
#quick-add-post-options-item-advanced textarea.mw-ui-field{
  width: 100%;
}
#quick-add-post-options{
  position: fixed;
  z-index: 12;
  bottom: 0;
  box-shadow:0 -3px 4px rgba(0, 0, 0, 0.12);
  width: 100%;
  background: white;
  padding:12px;
}

.preview_frame_wrapper .mw-overlay{
  z-index: 1;
  cursor: pointer;
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
.mw-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.preview_frame_wrapper{
  height: 500px;
  position: relative;
  overflow: hidden;
}
#preview-edit-links{
  position: absolute;
  text-align: center;
  height: 36px;
  top: 50%;
  left: 50%;
  margin-top: -18px;
  margin-left: -110px;
  visibility: hidden;
}
#preview-edit-links .mw-ui-btn{
  width: 110px;
}

.mw-overlay-quick-link:hover{
  background-color: rgba(255, 255, 255, 0.5);
}

.preview_frame_wrapper:hover #preview-edit-links{
  visibility: visible;
}

#mw-admin-container .preview_frame_small, .preview_frame_small {
   height: 1000px;;
   width: 200%;
  -moz-transform: scale(0.5, 0.5);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.5, 0.5);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.5, 0.5);
  -webkit-transform-origin: 0 0;
  -ms-transform: scale(0.5, 0.5);
  -ms-transform-origin: 0 0;
  transform: scale(0.5, 0.5);
  transform-origin: 0 0;
  overflow: hidden;
}

/* Content title */


#un-or-published{
  width: 220px;
  width: auto;
  position: fixed;
  bottom: 12px;
  right: 10px;
  z-index: 99;
}

.pulished-state-column{
  width: 220px;
  width: 0;
}

input#edit-content-url{
  display: none;
}
input#edit-content-url:focus, input#edit-content-url.active{
  display: block;
}
.view-post-slug{
  display: none;
}

.view-post-slug.active{
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

#slug-base-url{

}
.edit-post-url, #edit-content-url, .edit-post-url .mw-ui-invisible-field{
  font-size: 11px;
  color: #888888;
}
.edit-post-url .mw-ui-invisible-field{
  top: -3px;
  padding-left: 0;
}

.edit-post-url{
  clear: both;
  padding-top: 5px;
}



/* Toolbar */

.manage-toobar{
  clear: both;
  overflow: hidden;
  position: relative;
  height: 40px;
  z-index: 10;
}
.manage-toobar-content{
  position: fixed;
  top: 0;
  max-width: 870px;
  background: white;
  padding: 10px 0;

}
.manage-toobar-content *{
  vertical-align: middle;
}

.manage-toolbar-top{
    margin-bottom:20px;
}

.manage-post-item{
  padding: 10px 0 0;
  margin: 10px 0 0;
  border-top: 1px solid #eee;
  position: relative;
  overflow: hidden;
}
.mw-ui-box-content .manage-post-item:first-child{
  border-top: none
}
.manage-post-image{
  display: block;
  float: left;
  position: relative;
  width: 100px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #f5f5f5;
}
.manage-post-image-no-image:after{
    color: #CCCCCC;
    content: "\0109";
    display: block;
    font-family: Microweber;
    font-size: 31px;
    line-height: 31px;
    margin-top: -15px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}
.manage-post-image-page:after{ content: "\0071"; }
.manage-post-image-post:after{ content: '\006f'; }
.manage-post-image-shop:after{ content: 's'; }

.manage-post-item.ui-sortable-helper{
  border-color: transparent;
  background: #FBF9D0;
  padding-left: 10px;
  padding-bottom: 10px;
}
.quick-add-post-options-item{
  display: none;
}

#pages_edit_container{
  padding-top: 45px;
}

/************************************
        Modules section
*************************************/


.mw-modules-admin li{
  list-style: none;
  border-bottom:1px solid #eee;
  padding: 12px;
}
.mw-modules-admin li:last-child{
  border: none;
}

.admin-modules-list-buttons{
  float: right;
}
.admin-modules-list-buttons .mw-ui-btn{
  float: left;
}


/************************************
        Media queries
*************************************/

@media (max-width: 768px) {
    .fixed-side-column{
      display: none;
    }
    .admin-content-column{
      padding: 20px;
    }

    /* Main Menu */
    body.is_admin{
      padding-top: 60px;
    }
    #main-bar{
      width: 100%;
      height: 60px;
      max-height: 60px;
      overflow: hidden;
    }
    #main-bar-mw-icon{
      display: none;
    }
    #main-menu > li,  #main-menu > li strong{
      display: none;
    }
    #main-menu > li#main-menu-back,
    #main-menu > li#main-menu-toggle,
    #main-menu > li.active,
    #main-menu > li.active-parent{
      display: list-item;
    }
    #main-menu li.active, #main-menu li.active-parent{
      background-color: transparent;
    }

    #main-menu > li.active > a, #main-menu > li.active-parent > a{
      display: block;
      float: left;
    }

    #main-menu li ul{
      float: left;
    }

    #main-menu > li.active > a{
      background-color: #3B3B3B;
    }
    #main-menu li.active-parent > a{
      color: #999;
    }
    #main-menu li.active-parent > a:hover,
    #main-menu li.active-parent > a:focus{
      color: white;
    }

    #main-menu li{
      float: left;
    }
    #main-menu li#main-menu-toggle{
      float: right;
    }

    #main-menu li a, #main-menu > li > ul > li > a, #main-menu > li > ul > li:first-child > a, #main-menu > li > ul > li:last-child > a{
      padding: 21px;
      height: 60px;
      overflow: hidden;
    }
    #main-menu > li.active > a,
    #main-menu > li.active-parent > a{
      padding: 12px;
    }

    #main-menu li#main-menu-back a{
      padding: 10px 21px;
    }
    #main-menu li#main-menu-toggle a{
      padding: 16px 21px;
    }

    #main-menu li li.active > a:after, #main-menu li.active strong:after{
      bottom: -5px;
      top: auto;
      left: 50%;
      margin-top: 0;
      margin-left: -5px;
    }

    /* Main menu */

    .manage-toobar{
      display: none !important;
    }

}
@media (max-width: 640px) {
  .mw-ui-row-nodrop .manage-post-item-col-4,
  .mw-ui-row-nodrop .manage-post-item-col-5{
      display: none;
  }
}
@media (max-width: 480px) {
.mw-ui-row-nodrop .manage-post-item-title{
  font-size: 14px;
}
.mw-ui-row-nodrop .manage-post-item-col-2{
    display: none;
}
.manage-post-item-link-small{
  display: none;
}

}
@media (max-width: 320px) {
.mw-ui-row-nodrop .manage-post-item-col-1{
    display: none;
}
}
