

/*
    Styles that are in both "Admin" and "Live edit"

*/

body#UnsupportedBrowser div {
  display: none !important;
}

body#UnsupportedBrowser  #UnsupportedBrowserMSG{
  display: block !important;
  position: absolute;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #3D80AB;
  color: white;
  text-align: center;
  font-weight: normal;
  z-index: 9999;
  border-bottom: 1px solid #ccc;
}


body#UnsupportedBrowser #UnsupportedBrowserMSG h1{
  padding: 30px;
  font-weight: normal;
}


body#UnsupportedBrowser #download_browsers_holder{
  display: block !important;
  padding: 20px 0;
    position: fixed;
    top: 97px;
    width: 100%;
    text-align: center;
}

#choose_browsers{
  width: 307px;
  height: 58px;
  position: relative;
  background: url(../img/update_browser.png) no-repeat;
  margin: 20px auto;
}

#choose_browsers a{
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
}

#u__ff{
  left: 80px;
}
#u__chr{
  left: 160px;
}
#u__sf{
  left: 250px;
}

.mw-defaults{
  line-height: 1.5;
  -moz-box-sizing: content-box;
       box-sizing: content-box;
}

.mw-defaults * {
  color: inherit;
  -moz-box-sizing: inherit;
       box-sizing: inherit;
}

.mw-defaults li{
  line-height: 22px;
}

.mw-defaults, .mw-defaults textarea, .mw-defaults input, .mw-defaults select{
  font: 12px Verdana,Arial,Helvetica,sans-serif;
  color: #212121;
}
.mw-defaults a{
  color: #212121;
  text-decoration: none;
  outline: none;
}

.mw-defaults li, .mw-defaults ol, .mw-defaults ul{
  margin: 0;
  padding: 0;
}


/*


TEMP

*/

.vl, .hl{
  position: fixed;
  z-index: 99999;
  overflow: hidden;
  background: #FF0000;
  display: none;
  opacity:0.5;
}

.cross .vl, .cross .hl{
  display: block;
}

.vl:hover, .hl:hover{
  opacity:1;
}

body.cross{
    cursor: crosshair;
  cursor: none;
}

.vl{
  width: 2px;
  height: 100%;
  cursor: crosshair;
  cursor: none;
  top: 0;
  left: 100px;
}
.hl{
  width:100% ;
  height: 2px;
  cursor: crosshair;
  cursor: none;

  top: 400px;
  left: 0px;
}



.has_sidebar{
  background-image: url("../img/treebg.gif");
  background-repeat:  repeat-y;
  background-position:  -999px 0;
  background-color: white;
}










.mw-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: transparent;
}


/*******************************************/


/* tabs navigation */

#mw_toolbar_nav{
    width: 100%;
    min-width: 700px;
    height:52px;
    position: relative;
    z-index: 12;
    background: url(../img/navbg.jpg) repeat-x;
}

#mw_toolbar_nav.mw-small-toolbar{
  height: 40px;
}

#mw_toolbar_nav .mw-ui-btn{
    margin: 4px 6px 0 12px;
}

#mw_toolbar_nav.mw-small-toolbar .mw-ui-btn{ margin-top: 2px;}

#mw_toolbar_nav.mw-small-toolbar .mw-ui-btn.mw-btn-single-ico{ margin-top: 5px; }


#mw_tabs{
  float: left;
  list-style: none;
  height: 50px;
}

#mw_tabs li{
  float: left;
  border-right: 1px solid #C2C2C2;
}

#mw_tabs li.dropped{
    visibility: hidden;
}

#mw_tabs li a{
  display: block;
  white-space: nowrap;
  border-right: 1px solid #E6E6E6;
  padding: 15px 20px 12px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #212121;
  transition: box-shadow 0.09s linear;
  -moz-transition: box-shadow 0.09s linear;
  -webkit-transition: box-shadow 0.09s linear;
  -o-transition: box-shadow 0.09s linear;
  text-shadow:1px 1px 0px white;
}
#mw_tabs li a:hover{
  background-color: #E8E8E8;
}

#mw_tabs li a:active{box-shadow: inset 0 0 5px #888;}



#mw_tabs li:first-child a{
  background-image: url(../img/nav_item_border.jpg);
  background-repeat: no-repeat;
}

#mw_tabs li.active{
  background: url(../img/nav_active_left.jpg) no-repeat;
  margin-left: -2px;
  padding-left: 2px;
  border: none;
  box-shadow: none;
}

#mw_tabs li.active-prev{
  border:none;
}



#mw_tabs li.active a:active{
  box-shadow : none;
}

#mw_tabs li.active a{
  background:url(../img/nav_active_right.jpg) no-repeat right top;
}

#mw_toolbar_logo{
  display: block;
  float: left;
  text-indent: -100%;
  background: url(../img/mw_live.png) no-repeat;
  width:159px;
  height: 29px;
  overflow: hidden;
  margin: 12px 44px 0 20px;
}

#mw_logo_modules{
  display: block;
  float: left;
  text-indent: -100%;
  background-image: url(../img/logo_modules.png), url("../img/nav_item_border.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: left center, right bottom;
  margin: 0 15px;
  width: 210px;
  height: 40px;
}

#mw-toolbar-right{
  display: inline-block;
  position: fixed;
  top: 6px;
  right: 80px;
  z-index: 999;
  width: 400px;
}
#mw-toolbar-right .mw-ui-btn{
  margin: 4px 10px 0 0 ;
  float: right;
}

html.mw_pages #show_hide_sub_panel,
html.mw_pages #mw-toolbar-right{
  display: none;
}

html.mw_pages #mw_toolbar_nav{
  height: 49px;
}

html.mw_pages #mw_tabs li.active a{
  padding: 15px 20px 11px;
}




.mw_tree_title{
  background: url(../img/ico.tree.png) no-repeat 9px 0;
  padding: 12px 0 13px 55px;
  margin: 0;
  font-family: 'Kozuka Gothic Pro', 'Myriad Pro', Arial, sans-serif;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #777777;
  font-size: 15px;
  letter-spacing: 2px;
  display: block;
}
.mw_tree_title_shop{
  background-image: url(../img/shop.big.png);
  background-position: 9px 7px;
}

#mw_edit_pages_content{
  position: relative;
  /*overflow: auto;*/
  width: 980px;
}





/* Add/Edit Page */


.mw-title-field-label{
  display: block;
  clear: both;
  position: relative;
  z-index: 1;
  border-color:#C6C6C6 transparent #E6E6E6 #E6E6E6;
  border-style:solid;
  border-width:1px;
  float: left;
  width:45px;
  height: 33px;
  background-image:  url(../img/add_new_labels.png), url(../img/grad.php?top=FAFAFA&bot=EFEFEF);
  background-repeat: no-repeat, repeat;
  background-position:  15px 7px, 0 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}





.mw-title-field-label-post{ background-position:  15px -32px, 0 0; }
.mw-title-field-label-category{ background-position:  15px -69px, 0 0; }
.mw-title-field-label-product{ background-position:  15px -106px, 0 0; }
.mw-title-field-label-sub-page { background-position:  11px -229px, 0 0;}
.mw-title-field-label-subcat { background-position:  10px -276px, 0 0;}






/* Add/Edit Post */




.mw-template-selector{
  float:right;
  width:235px;
}


.mw-ui-field-holder{
  padding: 10px 0;
  position: relative;
}
.mw-ui-field-holder:after{
  content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}



.mw_save_buttons_holder input[type='submit']{
  float: left;
  width: 46%;
}
.mw_save_buttons_holder input[type='button']{
  float: right;
  width: 46%;
}

form.add-edit-page-post textarea{
  width: 590px;
  width: calc(100% - 22px);
  width: -webkit-calc(100% - 22px);
  height: 85px;
}



.edit-post-url{
  font-size: 10px;
  color: #8F8F8F;
  padding: 0 0 15px;
  overflow: hidden;
  width: 60%;
  height: 14px;
  float: left;
}

.edit_page_content_parent{
  float: right;
  width: 40%;
  text-align: right;
}

.edit_page_content_parent span{
  float: none;
  font-size: 11px;
  opacity:.7;
}
.edit_page_content_parent span.ico{
  float: none;
  height: 20px;
  top: 2px;
  margin-left: 5px;
}
.edit_page_content_parent span.ipage_arr_up{
  top: 1px;
}

.page_parent{
  display: inline-block;
  position: relative;
  top: -8px;
}

.edit-post-slug{
    box-shadow: 0 0 2px #EDEDED inset;
    color: #8F8F8F;
    float: left;
    font-size: 10px;
    margin-left: -2px;
    max-width: 250px;
    min-width: 25px;
    padding: 0;
    height: 14px;
}
.edit-post-url-field:focus{

}

.edit-post-url > *{
  float: left;
  white-space: nowrap;
}

.edit-post-url .view-post-slug,
.edit-post-url .edit-post-slug{
    position: absolute;
    left: -9999px;
    top: -9999px;
}
.edit-post-url .view-post-slug.active,
.edit-post-url .edit-post-slug.active{
  position: static;
}





/*\manage posts/*/



.manage-post-item{
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #E2E2E2;
  background: white;
  clear: both;
  color: #4D4D4D;
}





.manage-post-itemleft{
  float: left;
  width: 580px;
}

.manage-posts-holder{
  border-top: 1px solid #E2E2E2;
  position: relative;
}

.manage-post-item:hover{
  background-color:#f9f9f9;
}

.manage-post-item.ui-sortable-helper,
.page_posts_list_tree li.ui-sortable-helper,
.mw-modules-admin li.ui-sortable-helper{
  box-shadow:0px 5px 8px -7px #000000;
  box-shadow:0px 5px 8px -7px #000000,  0px -5px 4px -6px #000000;
}

.manage-post-item a{
  color: #4D4D4D;
}

.manage-post-item:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}


.manage-post-image{
  display: block;
  float: left;
  width: 72px;
  height: 72px;
  overflow: hidden;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: white;
}


.manage-post-image-no-image{
    background-color: #8B8B8B;
}



.manage-post-item-comments{
  display: block;
  float: right;
  cursor: default;
  font-size: 9px;
  height: 23px;
  padding-top: 3px;
  text-align: center;
  width: 27px;
  background: url(../img/cmnts.png) no-repeat;
}
.manage-post-item-title, .manage-post-item-title a{
  font-size: 14px;
  font-weight: normal;
}

.manage-post-item-title a:hover{
  color: #245E99;
}

.manage-post-item-links{
  position: absolute;
  bottom:5px;
  left: 0;
  visibility: hidden;
}

.manage-post-item-links a{
  margin: 0 12px 0 0;
  color: #245E99;
}

.manage-post-item-links a:hover{
  text-decoration: underline;
}

.manage-post-item:hover .manage-post-item-links{
  visibility: visible;
}

.manage-post-item .manage-post-image{
  margin: 0 10px;
}

.manage-post-main{
  float: left;
  width: 365px;
  position: relative;
  padding-bottom: 30px;
  margin-right: 15px;
  overflow: hidden;
}

.manage-post-item-author{
  float: left;
  width: 80px;
  text-align: center;
  color: #434343;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* paging */


.mw-paging {
  clear: both;
  overflow: hidden;
  padding-bottom: 20px;
}

.mw-paging li{
  list-style: none;
  float: left;
}

.mw-paging a{
  display: inline-block;
  padding: 3px 5px;
  min-width:12px;
  font-size: 12px;
  text-align: center;
  border: 1px solid transparent;
  border-radius:2px;
}
.mw-paging a.active, .mw-paging a:hover{
  border-top-color:#E2DDDD;
  border-left-color:#BCB9B9;
  border-right-color:#BCB9B9;
  border-bottom-color:#AFAEAE;
  background: url(../img/grad.php?top=F5F5F5&bot=E1E1E1);
}

.posts-selector{
  font-size: 11px;
  color: #235F99;
  padding: 9px 14px 0 14px;
}

.posts-selector span{
  cursor: pointer;
  margin: 0 5px;
}


.mn-tb-arr-bottom, .mn-tb-arr-top{
  display: inline-block;
  width: 20px;
  height: 11px;
  background: url(../img/posts_arr.png) no-repeat;
  overflow: hidden;
  margin-top: 13px;
}

.mn-tb-arr-bottom{
  background-position: 0 -11px;
}

.manage-toolbar-top, .manage-toolbar-bottom{
  padding: 5px 17px;
}

.manage-toolbar-top .mw-ui-btn{
  margin-right: 4px;
  float: left;
}

.manage-toolbar-top .manage-search{
  float: left;
  margin-top: 3px;
}

.manage-toolbar-top{
  background: #F4F4F4;
  border-top: 1px solid #E2E2E2;
  bottom: 0;
  left: 0;
  position: static;
  width: 610px;
  overflow: hidden;
}

.manage-ico{
  display: block;
  width: 18px;
  height: 18px;
  background: url(../img/managebar-ico.png) no-repeat;
  cursor: pointer;
  float: left;
}
.mComments{
  background-position: -69px 0;
  float: right;
}

.post-th{
  float: right;
  width: 99px;
  padding-top: 7px;
}

.mw-paging{
  padding-top: 12px;
}

#mw_admin_posts_manage .mw-paging{
  padding-left: 20px;
}




.mw-quick-links-cols{
  columns: 4 auto;
  -webkit-columns: 4 auto;
  -moz-columns: 4 auto;
  -o-columns: 4 auto;
  padding-right: 0;
}



.mw-module-live-edit-settings .mw-quick-links-cols{
  columns: 3 auto;
  -webkit-columns: 3 auto;
  -moz-columns: 3 auto;
  -o-columns: 4 auto;


   column-gap: 0px;
   -webkit-column-gap: 0px;
   -moz-column-gap: 0px;
   -o-column-gap: 0px;
}

.mw-quick-links li {
  list-style: none;
  display: block;
  padding: 5px 0;
}

.mw-quick-links li > a, .mw-quick-links li > strong{
  position: relative;
  list-style: none;
  display: inline-block;
  white-space: nowrap;
  padding: 2px 14px 2px 7px;
  margin-right: 20px;
  cursor: pointer;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  color: #434343;
  font-size: 11px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.mw-quick-links.mw-quick-links-cols li a  {
    display:inline; /* webkit colums bug */
}

.mw-quick-links.mw-quick-links-cols li > strong{
    font-weight: normal;  /* webkit colums bug */
    display:inline-block;  /* webkit colums bug */
    padding: 0 6px 0 1px;
    margin-right: 0;
}




.custom_fields_selector .mw-quick-links li > a{
  padding: 0 14px 0 7px;
  overflow: hidden;
}

.mw-quick-links li > a:hover, .mw-quick-links li.active > a, .mw-quick-links li > strong:hover, .mw-quick-links li.active > strong{
  background: url(../img/grad.php?top=F5F5F5&bot=E1E1E1) no-repeat;
  border: 1px solid #DFDDDD;
  border-top-color: #E9E6E6;
  border-bottom-color: #A1A0A0;
}

.mw-quick-links-green li > a:hover, .mw-quick-links-green li.active > a{
    background:#DEFFB8;
    border: 1px solid #9BCB61;
}
.mw-quick-links-blue li > a:hover, .mw-quick-links-blue li.active a{
    background: url(../img/grad.php?top=D3EEFE&bot=8CC4E9);
  border-color: #A1D1EF #589DC8 #4991C0;
}



.custom_fields_selector .quick-links li a:hover{
  background: white;
}

.mw-quick-links li > a:active, .mw-quick-links li > strong:active{
  box-shadow:inset 0 0 6px #ccc;
}

.mw-quick-links li a span + span{
  position: relative;
  top: 5px;
}

.mw-quick-links li a span.mw-ui-btn-plus{
  position: absolute;
  left: 10px;
  top: 9px;
}

.mw-quick-links li a span.mw-ui-btn-plus + span{
  margin-left:23px;
  top: 0;
}


.mw-overlay-quick-link #preview-edit-links {
  position: absolute;
  top: 50%;
  margin: -10px 0 0;
  width: 100%;
  text-align: center;
}


.quick-links-case{
  float: left;
  width: 24%;
}

.quick-links-case .mw-quick-links{
  padding-top: 42px;
}
.quick-links-case > h2 + .mw-quick-links{
  padding-top: 0;
}

.mw-quick-links .ico{
  margin-right: 10px;
  float: left;
}




.quick-lists{
  padding:20px 0 0 20px;
  border-top:1px solid #E5E5E5;
  clear: both;
}


.custom_fields_selector{
  width: auto;
  padding: 10px 8px;
  margin-top: 12px;
  margin-bottom: 28px;
  background: url(../img/grad.php?top=EDEDED&bot=F4F4F4);
  border: 1px solid #E6E6E6;
  border-top-color: #C6C6C6;

}
.custom_fields_selector:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.custom_fields_selector .mw-quick-links li{
  padding: 0;
  overflow: hidden;
}

.custom-field-set{
  display: none;
}

.custom-field-table div.active .custom-field-set{
  display: block;
  width: 340px;
  overflow: hidden;
  position: relative;
}
.module-custom-fields-admin-holder{
  position: relative;
}

.custom-field-edit-header{
  height: 25px;
  background: url(../img/grad.php?top=D7EEFA&bot=B8DBF2);
  background: url(../img/grad.php?top=EDEDED&bot=F4F4F4);
}
.mw-custom-fields-from-page-title-text{
  display: block;
  padding: 5px 0;
  color: #595959;
  font-size:11px;
}

.mw-custom-fields-from-page-title-text strong{
  text-transform: capitalize;
}

#UITU{
  display: none;
}
.mwoffice #UITU{
  display: block;
  max-height: 90%;
  padding: 30px;
  overflow-y:scroll;
  bottom:0;
  top: auto !important;
}

.custom-field-table input[type='text']{
  padding: 5px 10px;
  width: 190px;
}
.mw-custom-field-form-controls{
  clear: both;
  padding: 8px 0;
}
div .mw-custom-field-form-controls:first-child{
  padding-top: 0;
}
div .mw-custom-field-form-controls:last-child{
  padding-bottom: 0;
}

.mw-custom-field-form-controls:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.mw-custom-field-group .mw-custom-field-form-controls:first-child .mw-removefield{
  display: none;
}

.mw-custom-field-group{
  padding-top: 0;
}




.custom-field-col-right .mw-custom-field-form-controls input.mw-ui-field{
   width: calc(100% - 198px);
   width: -webkit-calc(100% - 198px);
   float: left;
   margin-right: 10px;
}

.mw-custom-field-form-controls .ico{
  float: left;
  margin-right: 0px;
  opacity:0.62;
}

.mw-custom-field-form-controls .iAdd2,
.mw-custom-field-form-controls .iRemove2{
  top: 4px;
}

.custom-field-edit{
    border: 1px solid #82B6D6;
    margin-bottom: 18px;
    font-weight: bold;

    box-shadow:0 0 6px #555555;
    border: 1px solid #EDEDED;

}

.custom-field-edit .mw-ui-check input + span + span{
  font-size: 11px;
  white-space: nowrap;
}
.custom-field-edit .mw-ui-check input + span {
  top: 6px;
}

.mw-admin-custom-field-edit-item{
  padding: 15px;
}

.mw-admin-custom-field-edit-item{

  position: relative;
}
.mw-admin-custom-field-edit-item:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.custom-field-edit-title{

  text-shadow:0 1px 0 #fff;
  text-transform: capitalize;
  display: inline-block;
  padding: 3px 10px;
}
.custom-field-edit-title strong{
  font-weight: normal;
}

.custom-field-edit-title .ico{
  left: -4px;
  top: -4px;
}

.mw-custom-fields-tags .mw-ui-btn-small .ico-phone,
.mw-custom-fields-tags .mw-ui-btn-small .iPhone,
.custom-field-edit-title .ico-phone,
.custom-field-edit-title .iPhone{
  top: -2px;
}


.mw-custom-field-form-controls .ico:hover{
  opacity:1;
}


.custom-field-preview{
  position: relative;
  overflow: hidden;
  width: 280px;
}

.custom-field-col-left{
  width: 40%;
  float: left;
  min-height: 60px;
}
.custom-field-col-left input.mw-ui-field{
  width:calc(100% - 22px);
  width:-webkit-calc(100% - 22px);
}

.custom-field-col-right .mw-ui-field{
    width: calc(100% - 120px);
    width: -webkit-calc(100% - 120px);
}

.mw-module-live-edit-settings .custom-field-col-right .mw-ui-field{
    width: calc(100% - 22px);
    width: -webkit-calc(100% - 22px);
}
.mw-module-live-edit-settings .custom-field-col-right .mw-custom-field-form-controls input.mw-ui-field{
  width:calc(100% - 111px);
  width:-webkit-calc(100% - 111px);
}

.mw-module-live-edit-settings .tab{
  padding: 20px;
}

.custom-field-col-right{
    float: right;
    min-height: 60px;
    position: relative;
    width: 55%;
}


.mw-custom-fields-save{
    position: absolute;
    right: 0;
    white-space: nowrap;
    bottom: 0;
    width: 80px;
}

.mw-module-live-edit-settings .mw-custom-fields-save{
  position: relative;
  clear: both;
  float: right;
  margin-top: 5px;
}


form.add-edit-page-post{
  padding-left: 20px;
}

body.loading:after, .mw-loading:after{
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: default;
    z-index: 99998;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0);
}

body.loading:before, .mw-loading:before{

    background: #D8FFC2 url(../img/load.gif) no-repeat center center;


    background-size: 15px auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    content: " ";
    cursor: default;
    font-size: 10px;
    line-height: 11px;
    white-space: nowrap;
    display: block;
    left: 50%;
    margin-left: -26px;
    padding: 2px 5px;
    position: fixed;
    text-align: left;
    top: 0;


    width: 56px;
    height: 13px;
    z-index: 99999;
    box-shadow: 0 0 2px #ccc;
}

.mw-loading{
  position: relative;
}

.mw-loading:before{
  border-radius: 5px;
  top: 10px;
}

.mw-loading:before, .mw-loading:after{
  position: absolute;
}

body.still-loading:before{
    background-position: -webkit-calc(100% - 10px) center;
    background-position: calc(100% - 10px) center;
    content: "Still loading";
    width: 105px;
    margin-left: -52px;
}






/* Datepick */
.ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; font-size:0em; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }



/* /Datepick */






/* Admin Navigation */


#mw-admin-shop-navigation{
  width:781px;
  height: 65px;
  float: left;
  border: 1px solid #DCDCDC;
  background: #f7f7f7;
  border-radius:2px;
}

#mw-admin-shop-navigation ul{
  padding: 14px 6px;
  overflow: hidden;
}

#mw-admin-shop-navigation li{
  float: left;
  list-style: none;
  margin: 0;
}


.order-table-info-list{
  list-style: none;
  font-size: 11px;
  line-height: 19px;
  padding-top: 12px;
}

.new-order-notification{
  min-width:130px;
  display: block;
  height:65px;
  padding: 1px 15px 0;
  float: left;
  margin-right: 17px;
  text-align: center;
  border-radius:2px;
  font-size: 12px;
  color: #4D7301;
  background: #D7FFC3;

}
.new-order-notification strong{
  font-size: 36px;
  font-weight: normal;
  margin-right: 10px;
  display: inline;
}
.new-order-notification:hover{
  box-shadow:0 0 2px #349F00;
}
.new-order-notification:active{
  box-shadow:inset 0 0 4px #349F00;
}


#mw-shop-menu{
  padding: 20px 0 20px 20px;
  overflow: hidden;
  position: relative;
  background: white;
  border-bottom:1px solid #E2E2E2;
}

.mw-admin-wrap{
  padding: 20px;
  width: 960px;
}

.mw-ui-admin-table{
  border: 1px solid #F0ECEC;
  background: #f7f7f7;
  border-radius:2px;
}


.mw-ui-admin-table td,
.mw-ui-admin-table th{
  border-right:1px solid #E5E5E5;
  border-bottom:1px solid #E5E5E5;
}
.mw-ui-admin-table tfoot td{
  border-bottom-width:0px;
}

.mw-ui-admin-table-small{
  font-size: 11px;
  color: #A1A0A0;
}

.bigger-cell{
  min-width: 250px;
  width: 20%;
}

.mw-ui-admin-table-delete-item{
  vertical-align: middle;
  text-align: center;
}

.mw-ui-admin-table-delete-item .del-row,
.mw-ui-admin-table-delete-item .mw-close{
  margin: auto;
  float: none;
}

.mw-ui-admin-table tr td:last-child,
.mw-ui-admin-table tr th:last-child{
  border-right: none;
}
.mw-ui-admin-table tr:last-child td{
  /*border-bottom: none;*/
}

.mw-ui-admin-table td{
    padding: 10px;
    text-align: center;
}

.mw-ui-admin-table .update-items td{
  padding: 15px 10px;
}

.mw-ui-admin-table th,
.mw-ui-admin-table tfoot td{
  font-size: 11px;
  color: #666666;
}
.mw-ui-admin-table tr th:first-child,
.mw-ui-admin-table tr td:first-child{
  text-align: left;
}

.mw-ui-admin-table th, .mw-ui-admin-table tfoot td{
    font-weight: normal;
    text-align: center;
    padding: 10px;
}
.mw-ui-admin-table tbody tr:nth-child(2n+1){
  background: white;
}
.mw-ui-admin-table tbody tr.mw-order-status-pending {
  background: #F1FFEB;

}
.mw-ui-admin-table tbody tr.mw-order-status-pending td.mw-order-item-amount,
.mw-ui-admin-table tbody tr.mw-order-status-pending td.mw-order-item-id{
  font-weight: bold;
}

.mw-ui-admin-table tbody tr:not(.no-hover):hover, .mw-ui-admin-table tbody tr.active{
  background: #D8FFC4;
}

.mw-items-rate{
  display: inline-block;
  width: 45px;
  height: 7px;
  overflow: hidden;
  background: url(../img/order-rate.png) no-repeat;
}

.mw-items-rate-1{width: 12px;}
.mw-items-rate-2{width: 23px;}
.mw-items-rate-3{width: 34px;}

.mw-ui-admin-table-show-on-hover{
  visibility: hidden;
}

tr:hover > td > .mw-ui-admin-table-show-on-hover{
  visibility: visible;
}
tr.active > td > .mw-ui-admin-table-show-on-hover{
  visibility: visible;
}



.del-row, .mw-close{
  background: url("../img/delete_item.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 8px;
  width: 8px;
  float: right;
  cursor: pointer;
}


.del-row:hover, .mw-close:hover{
  background-position:0 -16px;
}

.mw-order-item-id a{
  color:#0D5C98;
}
.mw-order-item-id a:hover span{
  text-decoration: underline;
}

.mw-ord-id{
  font-size: 10px;
}

.mw-table-sorting ul{
  display: inline;
}

.mw-table-sorting li{
  list-style: none;
  float: left;
  margin-left:25px;
}

.mw-table-sorting li span{
  white-space: nowrap;
  padding:2px 15px 2px 0;
  color:#0B568D;
  background: url(../img/sort.png) no-repeat 100% 3px;
  cursor: pointer;
}

.mw-table-sorting li span.ASC{
  background-position: 100% -40px;
}
.mw-table-sorting li span.DESC{
  background-position: 100% -79px;
}


.mw-table-sorting-controller{
  padding: 20px 0 20px;
  overflow: hidden;
  position: relative;
  clear: both;

}

.mw-table-sorting *{
  font-size: 11px;
}

.mw-table-sorting label{
  float: left;
  color: #8B8B8B;
  white-space: nowrap;
}


.mw-table-sorting{
  padding-top: 5px;
}

.order-status-selector{
  padding-bottom: 10px;
}

.order-status-selector .font-11{
  color: #8B8B8B;
  padding: 0 9px 0 16px;
}

.order-status-selector .mw-ui-check input + span{
  top: 3px;
  margin-left: 25px;
  margin-right: 5px;
}


.mw-no-posts-foot{
  clear: both;
  padding: 20px;
}

.mw-no-posts-foot h2{
  display: inline;
  margin-right: 15px;
}


.mw_sort_tree_handle, .mw_admin_posts_sortable_handle{
  float: none;
  position: absolute;
  left: -4px;
  margin-top: -3px;
  opacity:0.4;
  visibility: hidden;
}

.mw_admin_posts_sortable_handle{left:3px;top: 31px;}

.mw_sort_tree_handle:hover, .mw_admin_posts_sortable_handle:hover{
  opacity:1;
}

.manage-post-item:hover .mw_admin_posts_sortable_handle{
  visibility: visible;
}

#pages_edit_container li a:hover .mw_sort_tree_handle{
    visibility: visible;
}





.mw-ui-delete-x{
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url(../img/delete_item.png) no-repeat 3px 3px;
  text-indent: -100%;
  overflow: hidden;
  cursor: pointer;
}
.mw-ui-delete-x:hover{background-position: 3px -13px;}



.mw-help-field{
  display: inline-block;
}
.mw-help-field .mw-ui-label-help{
    clear: both;
}

.mw-ui-arr{
   display: inline-block;
   width: 0;
   height: 0;
   border-top: 6px solid black;
   border-left: 4px solid transparent;
   border-right: 4px solid transparent;
}

.mw-ui-arr-up{transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);}
.mw-ui-arr-left{transform:rotate(90deg);-ms-transform:rotate(90deg);-moz-transform:rotate(90deg);-webkit-transform:rotate(90deg);-o-transform:rotate(90deg);}
.mw-ui-arr-right{transform:rotate(-90deg);-ms-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);-o-transform:rotate(-90deg);}

.mw-ui-arr-blue{border-top-color: #0D5D97;}


.mw-admin-sidebar{
    padding: 10px 20px 10px 20px;
}
.mw-admin-sidebar .mw-ui-btn{
  	margin: 5px auto;
	display: block;
	text-align: center;
	padding: 8px 10px;
}

.mw-admin-side-nav{
  padding: 10px;
}

.mw-admin-sidebar .mw-admin-side-nav{
  padding: 0;
}

.side-nav-max{
  max-height: 345px;
  overflow: hidden;

}
.side-nav-max:hover{  
  overflow-x: hidden;
  overflow-y: auto;
}

.mw-admin-side-nav li{
    list-style: none;
    margin-bottom: 5px;
    list-style: none;
}

.mw-admin-side-nav li a, .mw-admin-side-nav li label{
    display: block;
    text-transform: capitalize;
    border:1px solid transparent;
    padding:6px 6px 6px 45px;
    border-radius:2px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mw-admin-side-nav li a:hover, .mw-admin-side-nav li label:hover{
    box-shadow:0 1px 0 0 #FFFFFF inset;
    border-color:#F0F0F0 #F0F0F0 #D3D2D2 #F0F0F0;
    background: url(../img/grad.php?top=F4F4F4&bot=ECECEC)
}

.mw-admin-side-nav li a.active, .mw-admin-side-nav li a.active:hover,
.mw-admin-side-nav li label.active, .mw-admin-side-nav li label.active:hover{
    box-shadow:0 1px 0 0 #FFFFFF inset;
    border-color:#E9E6E6 #C5C2C2 #A1A0A0 #C5C2C2;
    background: url(../img/grad.php?top=F4F4F4&bot=ECECEC)
}

.mw-admin-side-nav-simple li{
  list-style: none;
  margin-bottom: 5px;
}

.mw-admin-side-nav-simple a{
  display: block;
  color: #245E99;
  text-decoration: none;
  padding: 5px 20px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.mw-admin-side-nav-simple a:hover{
  background: rgba(255,255,255,0.5);
  border-top-color:#EDEDED;
  border-bottom-color:#EDEDED;
}
.mw-admin-side-nav-simple a.active{
  background: white;
}


.mw-modules-admin{
  border-top: 1px solid #E0DEDE;
}

.mw-modules-admin ul{
  height: auto !important;
  position: relative;
}

.mw-modules-admin ul ul:not(.pages_tree){
  padding-left: 40px;
  background: url(../img/deeparr.png) no-repeat 2px 18px;
 /* display: none; */
}

.menu_nested_controll_arrow {
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 9;
    display: block;
    width: 12px;
    height: 12px;
    background: url(../img/downarr.png) no-repeat center;
    cursor: pointer;
    top: 0;
    right: 0;
    height: 42px;
    width: 20px;

}

.menu_nested_controll_arrow.toggler-active{
  background-image: url(../img/uparr.png);
  box-shadow:inset 0 0 3px #BDBDBD;
  background-color: #EBEBEB;
}

.module_item:hover .menu_nested_controll_arrow {
    background-color: #E8E8E8;
}

.module_item:hover .menu_nested_controll_arrow:hover{
  background-color: #D9D9D9;
}

.custom-field-main-table-placeholder{
  background-color: #F2F2F2 !important;
  border: 2px dashed #ccc;
  width: auto !important;
  display: block !important;
}

.ui-state-highlight {
  height: 2em;
  background: #FF0000
}

.mw-modules-admin li {
  list-style: none;
  background: white;
}
.mw-modules-admin li > .module, .mw-modules-admin .module_item  {
  padding: 13px 0 10px;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color:#E5E5E5 #E0DEDE #E5E5E5;
  min-height: 40px;
}


.mw-modules-admin li > .module:hover,
.mw-modules-admin .module_item:hover{
  background: url(../img/grad.php?top=FBFBFB&bot=F1F1F1);
}
.mw-modules-admin li > .module.active,
.mw-modules-admin .module_item.active{
  background: url(../img/grad.php?top=FBFBFB&bot=F1F1F1);
  font-weight: bold;
}



.admin-modules-list-image{
  float: left;
  position: relative;
  width:100px;
  text-align: center;
}
.admin-modules-list-image .iMove{
  position: absolute;
  top: 6px;
  left: 2px;
  opacity: 0.4;
  visibility: hidden;
}
.admin-modules-list-image .iMove:hover{
  opacity:1;
}

.mw-modules-admin li > .module:hover .iMove{
  visibility: visible;
}

.mw_module_image_holder{
  margin:0 auto;
  display: inline-block;
  position: relative;
}
.mw_module_image_holder img{
  max-height: 32px;
  position: relative;
  z-index: 1;

}

#mw_edit_page_left .mw_module_image_holder img{
   margin-top: 6px;
}

.mw_module_image_shadow{
    display: inline-block;
    text-decoration: none;
    height: 12px;
    width: 64px;
    position: absolute;
    left: 50%;
    bottom: -1px;
    margin-left: -32px;
    z-index: 0;
    background: url(../img/module_shadow.png) no-repeat;
}

.admin-modules-list-description{
  float: left;
  width: 370px;
}

.admin-modules-list-description h2{
  padding: 0;
}

.admin-modules-list-buttons{
  display: inline-block;
  float: right;
  visibility: hidden;
  padding-top: 4px;
}

.mw-modules-admin li > .module:hover .admin-modules-list-buttons{
  visibility: visible;
}

.admin-modules-list-buttons > *{
  margin-right: 10px;
  float: left;
}

.mw_module_new{
  position: absolute;
  z-index: 2;
  top: -7px;
    top: -11px;
  left:15px;
    left:7px;
  white-space: nowrap;
  color: #FF0000;
  text-transform: lowercase;
  font-weight: normal;
  font-size: 9px;
  text-shadow: 0 0 1px #bbb;
}

.module-toolbar-info{
  text-align: center;
  padding-top: 5px;
}

.module-toolbar-info .admin-modules-list-image{
  float: none;
  display: inline-block;
  white-space: nowrap;
}

.module-toolbar-info-description{
  white-space: nowrap;
  font-size: 11px;
  position: relative;
  top: 5px;
}

.mw-small-toolbar .mw-ui-btn-rect{
  padding: 5px 14px;
  margin-top: 4px;
  margin-right: 12px;
}

.module-toolbar-info .mw_module_image_holder img{
  margin-top: 0;
}

.module-toolbar-info .mw_module_image_holder{
  margin-right: 10px;
}




.modules-index-bar{
  padding-top: 12px;
}


.mw-client-information input[type='text']{
    width: 86px;
    padding: 4px;
}
.mw-client-information.nonactive input[type='text']{
    display: none;
}

.mw-client-information .val{
  display: none;
}

.mw-client-information.nonactive .val{
  display: inline-block;
  padding: 5px;
}

.mw-client-image-holder{
  width: 115px;
  height: 115px;
  border: 1px solid #E9E9E9;
  background-color: white;
  margin: 0 12px 12px;
  text-align: center;
}
.mw-client-image-holder img{
  max-width: 115px;
  max-height: 115px;
}

.mw-save-bar{
  clear: both;
  overflow: hidden;
  position: relative;
  padding: 12px 0;
}

.mw-save-bar-edit-client .mw-ui-btn{
  margin: 0 10px;
}
.mw-client-information td{
  padding: 0;
}



.preview_frame_wrapper{
  width:355px;
  height: 290px;
  border: 6px solid #ededed;
  position: relative;
  background-color:white;
  background-repeat: no-repeat;
  background-position: center center;
  overflow:hidden;
  margin-top: 5px;
}



.preview_frame_container{
  width:355px;
  height: 290px;
  overflow: hidden;
}
.preview_frame_ctrls{
  position: absolute;
  z-index: 2;
  right: 7px;
  top: 10px;
  height:21px;
}

.zoom .preview_frame_ctrls{
  right: 25px;
}

.preview_frame_wrapper .mw-overlay{
    z-index: 1;
    cursor: pointer;
}

.preview_frame_wrapper .mw-overlay:hover{
  background: url(../img/magn.png) no-repeat center center;
}

.preview_frame_wrapper .mw-overlay-quick-link:hover{
  background: rgba(198, 198, 198, 0.2);
}

.preview_frame_wrapper .mw-overlay-quick-link a{
  visibility: hidden;
  margin: 0 5px;
}

.preview_frame_wrapper .mw-overlay-quick-link:hover a{
  visibility: visible;
}


.preview_frame_ctrls span{
  display: block;
  cursor: pointer;
  float: left;
  margin:0 3px;
  width: 20px;
  height: 21px;
  background: url(../img/iframe_preview_ctrls.png) no-repeat;
}
.preview_frame_ctrls span.zoom{
  display: none;
}

.preview_frame_ctrls span.prev{
  background-position: -26px 0;
}
.preview_frame_ctrls span.next{
  background-position: -52px 0;
}
.preview_frame_ctrls span.close{
  background-position: -103px 0;
  display: none;
}

.zoom .preview_frame_ctrls span.close{
  display: block;
}

.preview_frame_wrapper.loading{
  background-image: url(../img/img_check_loading.gif);
}

.preview_frame_wrapper.loading iframe{
  visibility: hidden;
    overflow: hidden;
}

.preview_frame_small{
  overflow:hidden;
  overflow-x:hidden;
  overflow-y:hidden;
  width:950px;
  height: 1000px;
  -moz-transform: scale(0.376, 0.376);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.376, 0.376);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.376, 0.376);
  -webkit-transform-origin: 0 0;
}

 .preview_frame_small::-webkit-scrollbar {
    width:0;
 }
.preview_frame_wrapper.zoom{
  position: fixed;
  overflow: hidden;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  z-index: 9999;
  background-color: white;
  box-shadow:0 0 10px #5B5B5B;
}
.preview_frame_wrapper.zoom iframe{
  width: 100%;
  height: 100%;
  overflow-x:auto;
  overflow-y:auto;
  zoom: 1;
  -moz-transform: scale(1,1);
  -o-transform: scale(1,1);
  -webkit-transform: scale(1,1);
}

.preview_frame_wrapper.zoom iframe.preview_frame_small::-webkit-scrollbar {
    width:10px;
 }

.preview_frame_wrapper.zoom .preview_frame_container{
  width: 100%;
  height: 100%;
}
.preview_frame_wrapper.zoom span.zoom{
  background-position: -78px 0;
}

.preview_frame_wrapper.zoom .mw-overlay{
  display: none;
}

.layouts_box_holder{
  float: right;
}
.layouts_box_holder > label{
  padding-left: 15px;
}

.layouts_box_container{
  padding-left:15px;
  background: url(../img/layouts_selector_arr.png) no-repeat 0 32px;
}

.layouts_box{
  padding: 10px;
  min-height: 65px;
  width: 215px;
  max-height: 179px;
  overflow-x:hidden;
  overflow-y:auto;
  background:#EDEDED;
}

.layouts_box ul{
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.layouts_box li{
  list-style: none;
  white-space: nowrap;
  height: 18px;
  padding: 4px 14px 2px;
  margin: 9px 0;
  cursor: pointer;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  color: #868686;
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*.layouts_box li:hover, */.layouts_box li.active{
  background: url(../img/grad.php?top=F5F5F5&bot=E1E1E1);
  border: 1px solid #DFDDDD;
  border-top-color: #E9E6E6;
  border-bottom-color: #A1A0A0;
  color: #111111;
}

.mw-simple-rotator{
    overflow: hidden;
    position: relative;
}


.mw-simple-rotator-container{
  overflow: hidden;
  position: relative;

}


.mw-simple-rotator-item, .mw-simple-rotator-container > div{
  float: left;
  margin-right: 20px;
}

div > .mw-simple-rotator-item:last-child, .mw-simple-rotator-container > div:last-child{
  margin-right: 0;
}



#mw-admin-edit-order{
  width: 960px;
  margin-right: 0;
  padding: 0;
}

#mw-clients-orders{
  width: 960px
}




.mw-switcher{
  display: inline-block;
  cursor: pointer;
  position: relative;
  height:16px;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  background: #D7D7D7;
  border: 1px solid #CDCDCD;
  border-top-color: #BABABA;
  cursor: pointer;
  border-radius:3px;
  box-shadow:inset 0 1px 1px #CFCFCF;
}
.mw-switcher-green.mw-switcher-on{
    background: #D7FFC3;
    box-shadow: 0 0 0;
}


.mw-switch-handle{
  background: url("../img/onoff_slider.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 16px;
  position: absolute;
  top: 1px;
  right:0;
  width: 23px;
  z-index: 1;
}

.mw-switcher input{
  display: none;
}
.mw-switcher label{
  white-space: nowrap;
  color: #6F6F6F;
  cursor: pointer;
  font-size: 10px;
  float: left;
  margin: 1px 0 0 1px;
  margin: 1px 8px 0 4px;
  line-height: 13px;
  text-shadow: 1px 0 0 #FFFFFF;



}

.mw-switcher label:last-child{
  visibility: hidden;
  margin: 1px 0 0;
  margin: 1px 3px 0 6px;
  padding-right: 2px;
  float: right;
}
.mw-switcher-off label{
  visibility: hidden;
}
.mw-switcher-off label:last-child{
  visibility: visible;
}

.mw-switcher-off .mw-switch-handle{
    left: 0;
}

.mw-dump-list {
    color: #222222;
    font-family: 'Courier New';
    font-size: 15px;
    font-weight: bold;
    padding-left: 40px;
}

.mw-dump-list li:hover{
  background: #EDEDED;
}

.mw-dump-list a{
  text-decoration: underline;
  color: #0D5D97;
}



.mw-side-nav-label{
    color: #212121;
    padding-bottom: 0;
    padding-left: 12px;
    padding-top: 12px;
    display: block;
    font-weight: bold;
}




.mw-order-images{
  padding: 0 10px 0 0;
}

.mw-order-images img{
  margin: 0 0 10px 10px;
  cursor: pointer;
}

.mw-order-images img:hover, .mw-order-images img.hovered{
  outline: 1px solid #9F9F9F;
  outline: 1px solid #4D7301;
}

tr.mw-order-item:hover, tr.mw-order-item.hovered{
  background-color: #E6E6E6;
  background-color: #D7FFC3;
}

.mw-postaction-bar{
  clear: both;
  overflow: hidden;
  padding: 15px 0;
}

.mw-postaction-bar .left .mw-ui-btn{
  margin-right: 10px;
}
.mw-postaction-bar .right .mw-ui-btn{
  margin-left: 10px;
}


.mw-page-menu-selector{
  width: 100%;
  height: auto;
  min-height: 31px;
  overflow: visible;
  z-index: 10;
  background: none;
  cursor: text;
}

ul.mw-menu-selector-list{
  position: absolute;
  display: none;
  top: 100%;
  left: -1px;
  width:625px;
  background: white;
  border: 1px solid #E0E0E0;
  padding: 15px 0 10px;
  -moz-columns:3 120px;
  -webkit-columns:3 120px;
  columns:3 120px;
  border-bottom-right-radius: 2px;
border-bottom-left-radius: 2px;
}

ul.mw-menu-selector-list li{
  list-style: none;
  white-space: nowrap;
  margin-left: 15px;
  margin-bottom: 5px;
}

.mw-menuselector-menu-title{
  color: #8C8C8C;
  font-size: 11px;
  position: relative;
  top: -4px;
}


/*
.edit *:before  , .edit *:after{
  color: #235F99;
  font-weight: bold;
  font-size: 13px;
  font-family: 'Courier New';
}

.edit p:before{content:'<p>'} .edit p:after{content:'</p>'}
.edit b:before{content:'<b>'} .edit b:after{content:'</b>'}
.edit strong:before{content:'<strong>'} .edit b:after{content:'</strong>'}
.edit li:before{content:'<li>'} .edit li:after{content:'</li>'}
.edit ul:before{content:'<ul>'} .edit ul:after{content:'</ul>'}
.edit span:before{content:'<span>'} .edit span:after{content:'</span>'}
.edit em:before{content:'<em>'} .edit em:after{content:'</em>'}
.edit i:before{content:'<i>'} .edit i:after{content:'</i>'}
.edit h1:before{content:'<h1>'} .edit h1:after{content:'</h1>'}
.edit h2:before{content:'<h2>'} .edit h2:after{content:'</h2>'}
.edit h3:before{content:'<h3>'} .edit h3:after{content:'</h3>'}
.edit h4:before{content:'<h4>'} .edit h4:after{content:'</h4>'}
.edit h5:before{content:'<h5>'} .edit h5:after{content:'</h5>'}
.edit h6:before{content:'<h6>'} .edit h6:after{content:'</h6>'}


*/

.view_all_subs.active,
.hide_all_subs.active{
  font-weight: bold;
}

.export-label{
  display: inline-block;
  float: right;
  color: #8E8E8E;
  font-size: 11px;
  margin: 16px 10px 0;
}

#forms_data_keyword{
  margin-top: 13px;
}

.export-label span{
  float: left;
}

.export-label .ico{
  top: -3px;
}

.export-label a{
  color: #8E8E8E;
  font-size: 11px;

}

#start-email-campaign{
  float: right;
  padding-top: 14px;
  color: #8C8C8C;
}

#start-email-campaign .g-btn{
  margin-left: 10px;
}

.g-btn{
  display: inline-block;
  padding:2px 10px;
  font-size: 11px;
  color: white;
  font-weight: bold;
  background: #67A54B;
  border: 1px solid #86A44E;
  border-top-color: #A4BB7A;
  text-align: center;
  border-radius: 2px;
  box-shadow:0 1px 0 0 #D9E8D2 inset;
}

.g-btn:hover{
  background: #5C9442;
  box-shadow: 0 1px 0 0 #B8D4AB inset;
}

.g-btn:active{
  box-shadow: 0 1px 0 0 #B8D4AB inset, inset 0 0 6px #446D31;
}


a.module-icon-title{
  display: inline-block;
  padding: 21px 0 21px 42px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size:  32px;
  font-size: 18px;
  font-weight: normal;
}


.mw-side-main-title .ico {
  margin-right: 10px;
}

/*
.module-icon-title, .module-icon-title {
  padding: 21px 0;
}

.module-icon-title img, .mw-side-main-title .ico, .module-icon-title .ico, .mw-side-main-title img {
	position: relative;
	z-index: 1;
	margin-right: 8px;
	top: 9px;
}
    */


    #post_pass_field input.mw-ui-field{
      width: 602px;
    }
    #edit_post_select_category .mw-tag-selector{
      width: 602px;
    }
    #edit_post_select_category .input{
      width: 250px;
    }




  .mw-content-wrapper{
        min-width: 800px;
      }
      .mw-content-container{
        width: 100%;
        float: left;
      }
      .mw-content-sidebar{
        float: left;
        width: 225px;
      }
      .mw-content-sidebar-master{
        width: 333px;
      }
      .mw-content-sidebar + .mw-content-container{
        width: 46%;
        width: calc(100% - 225px);
        width: -webkit-calc(100% - 225px);
      }
      .mw-content-sidebar-master + .mw-content-container{
        width: 40%;
        width: calc(100% - 333px);
        width: -webkit-calc(100% - 333px);
      }
      .mw-content-info{
        float: right;
        width: 200px;
        position: relative;
        z-index: 1;
      }
      .mw-content-sidebar + .mw-content-info + .mw-content-container{
        width: 40%;
        width: calc(100% - 425px);
        width: -webkit-calc(100% - 425px);
      }
      .mw-content-sidebar-master + .mw-content-info + .mw-content-container{
        width: 40%;
        width: calc(100% - 533px);
        width: -webkit-calc(100% - 533px);
      }





   /*
.module-item:hover:after{
    display: block;
    content: attr(data-module-name);
    position: absolute;
    top: 40px;
    left: 0;
    padding: 3px;
    background: #A1D1EF;
    font-size: 11px;
    color: white;
}  */

.video-module-default-view{
  padding: 120px 0;
  text-align: center;
  background: #111 url(../img/logomark_modules.png) no-repeat 20px 20px;
  background-size: 25px 25px;
}
.video-module-default-view img{
  opacity: 0.5;
}
.pictures-module-default-view{
  padding: 60px;
  width: 100px;
  text-align: center;
  background: #fff url(../img/logomark_modules.png) no-repeat 20px 20px;
  background-size: 25px 25px;
}
.pictures-module-default-view img{
  opacity: 0.5;
}

.picture-module-default-view{
  padding: 120px 0;
  text-align: center;
  background: #fff url(../img/logomark_modules.png) no-repeat 20px 20px;
  background-size: 25px 25px;
}
.picture-module-default-view img{
  opacity: 0.5;
}



#mw-quick-page,
#mw-quick-post,
#mw-quick-product{
  padding-right: 20px;
}





