@import url("ui.css");



.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}



.toolbar-sections-tabs .mw-dropdown-list > li a:hover{
    background-color: #f5f5f5;
}
.mw-help{
  cursor: default;
  font-weight: bold;
  font-size: 11px;
  color: #3D89B8;
  position: relative;
  padding: 0 2px;
  border: 1px solid transparent;
  z-index: 9;
  border-radius:2px;
}
.mw-ui-more + .mw-help{
  top: -2px;
}

[data-help]{
  position: relative;
}

.mw-help:before, [data-help]:before{
  position: absolute;
  content: attr(data-help);
  bottom: 100%;
  margin-bottom: 2px;
  left: -8px;
  display: table;
  visibility: hidden;
  padding: 7px;
  background: #FFFD8C;
  width: auto;
  min-width: 150px;
  max-width: 250px;
  font-weight: normal;
  border: 1px solid #E6E6E6;
  border-radius:2px;
  box-shadow: 0 0 8px #CCCCCC;
  box-shadow: 0 0 8px -2px #CCCCCC;
  color: #212121;
  z-index: 10;
 }

.mw-help-right:before, [data-help-right]:before{
  left: auto;
  right: -8px;
}

.mw-help:hover:before, [data-help]:hover:before{
  visibility: visible;
}

.mw-help:hover{
  border-color: #E6E6E6;
}

.to-edit{
  padding-right: 30px;
  display: inline-block;
}
.to-edit:hover{
   background: url(../img/liveedit.png) no-repeat right center;
}

.modal-iphone{
  background: url(../img/iphone.svg) no-repeat;
  padding: 95px 29px 138px 33px;
  border: none;
}

.modal-iphone .mw_modal_container{
  background: black;
}

.modal-iphone .mw_modal_toolbar{
  display: none;
}

.mw-iframe-editor{
  border: none;
  overflow: hidden;
  min-height: 150px;
}

[class*="mw-social-ico"]{
  display: inline-block;
  width: 30px;
  height: 29px;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9999px;
  position: relative;
}

.mw-social-ico-facebook {background-image: url(../img/mw.soc.fb.png);}
.mw-social-ico-twitter {background-image: url(../img/mw.soc.tw.png);}
.mw-social-ico-live {background-image: url(../img/mw.soc.win.png);}
.mw-social-ico-github {background-image: url(../img/mw.soc.git.png);}
.mw-social-ico-google {background-image: url(../img/mw.soc.goog.png);}
.mw-social-ico-google-plus {background-image: url(../img/mw.soc.googplus.png);}

.mw-v-table{
  display: table;
}
.mw-v-cell{
  display: table-cell;
  float: none !important;
}

.mw-date, .mw-small{
  color: #707070;
  font-size: 10px;
  font-weight: normal;
}

div.mw-date{
  padding: 2px 0;
}

.mw-sided{
  overflow: hidden;
  zoom:1;
}

.mw-side-left{
  float: left;
}

.mw-sided > .mw-side-left:first-child{
  margin-right: 20px;
}


.mw-box{
  display: block;
  background: white;
  border-radius: 5px;
  border: 1px solid #B0B0B0;
  box-shadow: 0 0 5px #B0B0B0;
}

.mw-box-content{
  padding: 12px;
  position: relative;
  zoom:1;
}
.mw-box-content:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}





/* Notification */


.mw-notification{
    display: table;
    padding: 5px;
    text-align: center;
    font-size: 12px;
}

.mw-notification-lite{
    display: block;
    padding: 0;
    text-align: inherit;
    font-size: inherit;
}



.mw-notification > div{
  display: table-cell;
  height: 25px;
  padding: 0 11px;
  vertical-align: middle;
}

.mw-notification > div > * {
  vertical-align: middle;
}


.mw-success{background-color:#D8FFC4;color: #696969;}
.mw-warning{background-color:#FFFD8C;color: #696969;}
.mw-error{background-color:#FE4B59;color: white; }



#mw-notifications-holder{
  position: relative;
  z-index: 9999;
}

#mw-notifications-holder .mw-notification:first-child{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
#mw-notifications-holder .mw-notification{
    left: 50%;
    margin-left: -175px;
    position: fixed;
    top: 0;
    transition: opacity 2s;
    -moz-transition: opacity 2s;
    -webkit-transition: opacity 2s;
    -o-transition: opacity 2s;

}
#mw-notifications-holder .mw-notification + .mw-notification { top:40px; }
#mw-notifications-holder .mw-notification + .mw-notification + .mw-notification { top:80px; }
#mw-notifications-holder .mw-notification + .mw-notification + .mw-notification + .mw-notification { top:120px; }
#mw-notifications-holder .mw-notification + .mw-notification + .mw-notification + .mw-notification + .mw-notification { top:160px; }
#mw-notifications-holder .mw-notification + .mw-notification + .mw-notification + .mw-notification + .mw-notification + .mw-notification{ top:200px; }
#mw-notifications-holder .mw-notification + .mw-notification + .mw-notification + .mw-notification + .mw-notification + .mw-notification + .mw-notification{ top:240px; }

/* /Notification */





/* External Tools */

.mw-external-tool{
  position: absolute;
  z-index: 1101;
  top: 100px;
  left: 100px;
}

/* /External Tools */



@media (max-width: 1024px) {
    .hide-1024{ display: none;  }
    .show-1024{ display: block;  }
}

@media (max-width:960px) {
    .hide-960{ display: none;  }
    .show-960{ display: block;  }
}

@media (max-width: 768px) {
    .hide-768{ display: none;  }
    .show-768{ display: block;  }
}

@media (max-width: 768px) {
    .hide-768{ display: none;  }
    .show-768{ display: block;  }
}







