#logo b, #logo strong{
  color:#6BADDD;
}
#slogan{
  background: #236FA3 url(img/blue/slogan.jpg) no-repeat center top;
}
.testimonial h3 a, .testimonial h3{
  color:#196599 !important;
}
.list li{
  background-image: url(img/blue/list.jpg);
}
