@media (max-width: 1200px) {
  #h-features p{
    font-size: 13px;
  }

}
@media (min-width: 979px) {

#main-nav{
  display: block !important;
}

}
@media (max-width: 979px) {
  #main-nav {
    clear: both;
    padding-top: 30px;
    margin-left:0
  }
  #usernav{
    float: right;
    padding-right: 10px;
  }

  #h-features h3{
    font-size: 19px;
  }
  #h-features .start{
    position: relative;
    margin-top: 12px;
  }

   #footer {
     text-align: center;
   }

  #footer .nav{
    float: none;
    text-align: center;
  }

  #footer .nav li, #footer .nav a{
    display: inline-block;
    float: none;
  }

  #footer #copyright{
    display: inline-block;
    float: none;
    white-space: normal;
  }

}  /* / max-width: 979px */

@media (max-width: 767px) {

  #main-nav {

     display: none;

  }

  #h-features-container{
    display: none;
  }

  #main-menu-toggle{
    display: inline-block;
  }

  #main-menu-toggle{
    display: block;
  }

  #mw-team{
    display: none;
  }
  #mw-team-mobile{
    display: block;
  }

  #header{
    padding-left: 20px;
    padding-right: 20px;
  }

  #usernav{
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 12px;
    clear: both;
    display: none;
  }
  #usernav-mobile {
    display: block;
  }

  #footer{
    padding-top: 0;
  }

}

@media (max-width: 490px) {

    #logo, #download_section, #usernav, .download-btn{
      float: none;
      margin-left: auto;
      margin-right: auto;
      width: 193px;
      text-align: center;
      display: block;
    }
     .download-btn{
       width: 135px;
     }

    #download_section{
        padding-top: 20px;
    }


    #usernav{
      padding-top: 5px;
      padding-right: 0;
      clear: both;
      display: none;
    }
    #usernav-mobile {
      float: none;
    }

    #main-menu-toggle{
      display:block;
      clear: both;
      width: 193px;
      float: none;
      margin: auto;
      padding: 20px 0 0;
    }
    #main-menu-toggle .btn{
      width: 170px;
      padding: 10px;
    }
     #main-menu-toggle  .dropdown-menu{
       width: 190px;
     }
     #footer #copyright{
        background-position:  center bottom;
        padding-right: 0;
        padding-bottom: 50px;
      }

}