/* Global styles */

*{
  margin: 0;
  padding: 0;
}

img{
  border: none;
}

body{
  background: #ECEEF1;
  font: 14px/1.5 'Open Sans', Arial, sans-serif;
  color: #696969;
}

body.blue{
    background: #4791C8;
}

input, textarea, select, a,
input:focus, textarea:focus, select:focus, a:focus{
  outline: none;
}

a, a:hover{
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 300;
  line-height: normal;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{
    border-radius: 0;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus{
  outline: none; /* bootstrap puts outline for ies */
  box-shadow: none;
}


/* /Global styles */



/* Layout Styles */


#header{
  min-height: 82px;
  background-color: #307EB1;
  background-color: #4791c8;
  color: white;
}

#content{
  clear: both;
  min-height: 400px;
  padding-top: 55px;
  position: relative;
  zoom:1;
}
#content:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#footer{
  clear: both;
  padding: 55px 0;
  font-size: 12px;
  color: #878787;
}




/* /Layout Styles */




/* Header */

#logo{
  background: url("../img/logo.png") no-repeat;
  background-size: contain;
  display: block;
  float: left;
  height: 46px;
  margin-top: 15px;
  text-indent: -9999px;
  width: 195px;
  max-width: 100%;
}

#main-nav{
  float: left;
  margin: 24px 0 24px 40px;
}

#main-menu-toggle{
    float: right;
    display: none;
    position: relative;
    margin-right: 10px;
    margin-top: 28px;
}


#main-nav a{
  color: white;
  border-radius: 0;
}

#main-nav li a:hover, #main-nav li a:focus{
  background:#539ED0;
  color:white;
}

#main-nav li.active a, #main-nav li.active a:hover{
  background:#E7F1F7;
  color:#4692C5;
}



#usernav{
  font-size: 12px;
  float: right;
  padding: 31px 50px 0 0;
}

#usernav a{
  color: #7EC1EE
}
#usernav a:hover{
  text-decoration:underline
}

#download_section{
  float: right;
  display: inline-block;
}
#mwversion{
  display: block;
  font-size: 11px;
  padding: 8px 0 2px;
  text-align:right;
}

.download-btn{
  display: inline-block;
  background: #E7F1F7 url(../img/download.png) no-repeat;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  color: #4692C5;
  padding: 7px 12px 7px 45px;
}

.download-btn:hover{
  box-shadow: inset 0 0 6px #ccc;
}

.download-btn:active{
  box-shadow: inset 0 0 6px #949494;
  border-radius: 2px;
  text-decoration: none
}


#usernav-mobile {
    clear: both;
    margin: auto;
    float: right;
    padding: 20px 0;
    width: 193px;
    display: none;
}

#usernav-mobile .btn{
  width: 70px;
}


/* /Header */


/* Content */


#content{

}




/* /Content */


/* footer */


#copyright{
  float: right;
  white-space: nowrap;
  padding:7px 50px 11px 0;
  background: url(../img/logocopy.png) no-repeat right 1px;
}




/* /footer */



/* UI Framework */

.hnd{
  font-family: 'Segoe Script', Arial;
}

h1.blue, h1.blue > *,
h2.blue, h2.blue > *,
h3.blue, h3.blue > *,
h4.blue, h4.blue > *,
h5.blue, h5.blue > *{
  color: #296FA5;
}

h1.orange, h1.orange > *,
h2.orange, h2.orange > *,
h3.orange, h3.orange > *,
h4.orange, h4.orange > *,
h5.orange, h5.orange > *{
  color: #F58735;
}

video{
  background-color: #4791C8;
  max-width: 100%;
  min-width: 100%;
}


.box{
  background: white;
  display: inline-block;
  position: relative;
  box-shadow: 0 0 3px #ccc;
}


/* Blue box */

.box-blue{
  background-color: #BDD9ED;
  color: #4793C5;
  box-shadow: inset 0 1px 0 #E3EFF7;
  border-width: 1px;
  border-style: solid;
  border-color: #91B3CE #B4CEE2 #91B3CE;
}
.box-blue > [class*="box-arr"] i{
  background: url(../img/bluebox-arr.svg) no-repeat center top;
  border: none;
  box-shadow: none;
  transform: none;
  -ms-transform: none;
  -webkit-transform: none;
}
.box-blue > [class*="box-arr-top"]{
  border-bottom: 1px solid #BDD9ED;
  border-radius:  0 0 2px 2px;
}

.box-blue > [class*="box-arr-top"] i{
  top: 0;
}


/* /Blue box */




/* Gray box */

.box-gray{
  background-color: #F4F4F4;
  box-shadow: inset 0 1px 0 #FAFAFA;
  border-width: 1px;
  border-style: solid;
  border-color: #D4D4D4 #DDDDDD #D4D4D4;
}
.box-gray > [class*="box-arr"] i{
  background: url(../img/graybox-arr.svg) no-repeat center top;
  border: none;
  box-shadow: none;
  transform: none;
  -ms-transform: none;
  -webkit-transform: none;
}
.box-gray > [class*="box-arr-top"]{
  border-bottom: 1px solid #F4F4F4;
  border-radius:  0 0 2px 2px;
}

.box-gray > [class*="box-arr-top"] i{
  top: 0;
}

/* /Gray box */


/* Bordered white box */
.box-blue-border{
  box-shadow: none;
  border-width: 1px;
  border-style: solid;
  border-color: #91B3CE;
}

.box-blue-border > [class*="box-arr"] i{
  background: url(../img/blue-border-boxarr.svg) no-repeat center top;
  border: none;
  box-shadow: none;
  transform: none;
  -ms-transform: none;
  -webkit-transform: none;
}
.box-blue-border > [class*="box-arr-top"]{
  border-bottom: 1px solid #fff;
  border-radius:  0 0 2px 2px;
}

.box-blue-border > [class*="box-arr-top"] i{
  top: 0;
}

/* /Bordered white box */


body.blue .box{
  box-shadow: 0 0 3px #777;
}

.box-content{
  padding: 12px;
  position: relative;
  zoom:1;
}

.box-content:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

[class*='box-arr']{
    display: block;
    width: 10px;
    height: 20px;
    overflow: hidden;
    position: absolute;
}

[class*='box-arr'] i{
    display: block;
    width: 20px;
    height: 20px;
    background: white;
    box-shadow: 0 0 3px #ccc;
    position: absolute;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.blue-box > [class*='box-arr'] i{ background-color: #C0E0F5; }


[class*='box-arr-left'] { left:-10px; }
[class*='box-arr-left'] i { top: 0; left: 6px; }

[class*='box-arr-right'] { right:-10px; }
[class*='box-arr-right'] i { top: 0; right: 6px; }

[class*='box-arr-top'] { top:-10px;width:20px;height: 10px }
[class*='box-arr-top'] i { top: 6px; left: 0px; }

.box-arr-leftcenter, .box-arr-rightcenter{ top: 50%; margin-top: -10px; }
.box-arr-topcenter, .box-arr-bottomcenter{ left: 50%; margin-left: -10px; }

.box-arr-topleft, .box-arr-bottomleft{ left: 20px; }
.box-arr-topright, .box-arr-bottomright{ right: 20px; }

body.blue .box > [class*='box-arr'] i{ box-shadow: 0 0 3px #777 }

.box.box-deactivated{
  background-color: transparent;
  box-shadow: none;
}
.box.box-deactivated > [class*='box-arr']{
  display: none;
}

.box.hover:hover{
  background: white;
  box-shadow: 0 0 3px #ccc;
}

body.blue .box.hover:hover{ box-shadow: 0 0 3px #777; }

.box.hover:hover > [class*='box-arr']{
  display: block;
}
.box.hover2.box-deactivated:hover{
  background: white;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 3px #DBDBDB;
}

body.blue .box.hover2.box-deactivated:hover{ box-shadow: 0 0 3px #777; }

.box.hover2.box-deactivated:hover > [class*='box-arr']{
  display: block;
  opacity:0.5;
}



.start{
  display: block;
  text-align: center;
  font-size: 24px;
  padding: 9px 10px 10px;
  text-decoration: none;
  color: white;
  border: 1px solid #D64E25;
  background: #fc8236;
  background: -moz-linear-gradient(top,  #fc8236 0%, #fb7030 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc8236), color-stop(100%,#fb7030));
  background: -webkit-linear-gradient(top,  #fc8236 0%,#fb7030 100%);
  background: -o-linear-gradient(top,  #fc8236 0%,#fb7030 100%);
  background: -ms-linear-gradient(top,  #fc8236 0%,#fb7030 100%);
  background: linear-gradient(to bottom,  #fc8236 0%,#fb7030 100%);
  box-shadow: inset 0 1px 0px #FECBAB;
}

.start:hover, .start:active, .start:focus{
   color: white;
   text-decoration: none;
}

.start:hover, .start:focus{
    background: #fb7030;
}

.start:active{
  box-shadow: inset 0 0 8px #DC4904;
  box-shadow: inset 0 1px 0px #FECBAB, inset 0 0 16px #C84204;
}

.start-medium{
  padding: 7px;
  font-size: 18px;
}

.vspace{
  display: block;
  clear: both;
  height: 12px;
  overflow: hidden;
  position: relative;
}


.dropdown-menu a:hover,
.dropdown-menu a:focus{
  background: #307EB1;
}

.btn{
  outline: none
}

.btn, .dropdown-menu, .well, .thumbnail, .alert{
  border-radius: 0px;
}

.loginbtn{
  display: block;
  position: relative;
  border: 1px solid #3F88B7;
  border-radius:2px;
  background: #4793C5;
  text-align: center;
  font-size: 30px;
  color: white;
  padding: 7px 20px;
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.loginbtn [class*='box-arr']{ left: 50px; height: 11px; }

.loginbtn [class*='box-arr'] i{
  background:#4793C5;
  border:1px solid #3581B3;
  box-shadow: 1px 1px 0px #77AFD5 inset;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.loginbtn:hover, .loginbtn:focus{
  background-color: #3B87BA;
  border-color: #71AACF;
  box-shadow:0 5px  5px -6px #000;
}

.loginbtn:hover [class*='box-arr'] i,
.loginbtn:focus [class*='box-arr'] i{
  background-color: #3B87BA;
  border-color: #71AACF;
  box-shadow: none;
}

.loginbtn:active [class*='box-arr'] i{
    background: #31709A;
    border-color: transparent
}

.loginbtn:active{
  box-shadow: inset 0 0 8px #255474;
  border-top-color:rgba(204, 0, 0, 0);
}

.semi_hidden{
  position: absolute;
  left: -9999px;
  top: -9999px;
}


.btn1{
  background: #4793C5;
  color: white;
  text-shadow: 0 1px 1px #296C99;
}
.btn1:hover, .btn1:focus{background: #377FAE;color: white; }

.btn2{
  background: #52AAE4;
  color: white;
  text-shadow: 0 1px 1px #296C99;
}
.btn2:hover, .btn2:focus, .btn2:active, .btn-group.open .btn2.dropdown-toggle{background: #349BDF ;color: white; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus,
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a{
  background: #4791C8;
}

.color-blue{
  color: #2F7DB1;
}

.block{ display: block !important; }
.relative{ position: relative !important; }


.pbtn{
  display: inline-block;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #DBDDE0 #DBDDE0 #B8BABC;
  box-shadow: inset 0 1px 0 #F4F4F6;
  padding: 10px;
  color: #898989;
  font-size: 16px;
  -webkit-transition: background 0.22s linear;
  -moz-transition: background 0.22s linear;
  -o-transition: background 0.22s linear;
  transition: background 0.22s linear;
  background: #e9ebee;
  background: -moz-linear-gradient(top, #e9ebee 0%, #dbdbdb 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #e9ebee), color-stop(100%, #dbdbdb));
  background: -webkit-linear-gradient(top, #e9ebee 0%, #dbdbdb 100%);
  background: -o-linear-gradient(top, #e9ebee 0%, #dbdbdb 100%);
  background: -ms-linear-gradient(top, #e9ebee 0%, #dbdbdb 100%);
  background: linear-gradient(to bottom, #e9ebee 0%, #dbdbdb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9ebee', endColorstr='#dbdbdb', GradientType=0 );
}

.pbtn:hover, .pbtn:focus{
  color: #898989;
  background: #e9ebee;
  text-decoration: none;
}
.pbtn:active{
  text-decoration: none;
  box-shadow:inset 0 0 8px #dbdbdb;
}

.pbtn.active, .pbtn.active:hover, .pbtn.active:focus, .pbtn.active:active{
  cursor: default;
  color: #2970A5;
  background: #BDD9EE;
  border-color: #7E919F #AAC4D7 #AAC4D7;
  box-shadow: inset 0 0 1px #A6BFD1;
  box-shadow: inset 0 0 2px -1px #A6BFD1;
}



.mw_dropdown_type_mw .mw_dropdown_val_holder{
    display: block;
    padding-right: 30px;
    border: 1px solid #D4D4D4;
}

.mw_dropdown_type_mw  .mw_dropdown_val{
  font-size: 24px;
  display: block;
  padding:2px 10px;
}

.mw_dropdown_type_mw  .mw_dropdown_val small{
  color: #296FA5;
  font-size: 14px;
}

.mw_dropdown_type_mw  .dd_rte_arr{
  display: block;
  height: 100%;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  background: #4791C8 url(../img/darr.png) no-repeat center;
}

.mw_dropdown_type_mw  .mw_dropdown_fields{
  top: 39px;
  border: 1px solid #D4D4D4;
  padding-top: 0;
}

.mw_dropdown_type_mw  .mw_dropdown_fields ul{
  border-radius: 0px;

}


.mw_dropdown_type_mw  .mw_dropdown_fields a{
  color:#696969;
  display: block;
  padding:2px 10px;
}

.mw_dropdown_type_mw .mw_dropdown_fields a:hover{
  color:white;
  background: #4791C8;

}


body .invisible-field, body .invisible-field:focus{
  border: none;
  background: transparent;
  outline: none;
  box-shadow: none;
}



/* /UI Framework */


/* Home */




#mw-team{
  height:85px;
  width: 100%;
  display: table;
  margin-bottom: 30px;
}

.mw-member{
  display: table-cell;
  vertical-align: top;
  width: 77px;
}
.mw-member.active{
  width: auto;
}


.mw-member-info{
  display: none;
}

#mw-team .box{
  position: relative;
  float: left;
  min-height: 76px;
  margin: 0 20px 0 10px;
}

#mw-team-activator{
  width: 100%;
}

#mw-team-activator .box{
  display: inline-block;
  width: 80%;
  width: calc(100% - 120px);
  width: -webkit-calc(100% - 120px);
}

.mw-member-image{
  display: inline-block;
  position: relative;
  float: left;
  margin-right:10px;
  width: 77px;
  height: 76px;
  background: white;
  box-shadow: 0 0 3px #ccc;
}

.mw-member-image img{
  width: 77px;
  height: 76px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  transition: all 0.6s linear;
}


#h-features{
  position: relative;
  min-height: 370px;
}


#h-features .box{
  cursor: pointer;
  display: block;
  margin-bottom: 12px;
}

.how-it-works h3,
.shop-for-free h3,
.need-a-blog h3{
    font-size:24px;
    color: #2F7DB1;
    font-weight: 300;
    line-height:32px;
    margin: 0 0 5px;
    padding: 0 0 2px 68px;
    background: url(../img/home.about.icons.png) no-repeat;
}



#h-features .box-deactivated h3, #h-features .box-deactivated p{
  /*opacity: 0.5;
    */
}

#h-features h3, #h-features p{
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}


.how-it-works h3 { background-position: 0px 0px }
.shop-for-free h3 { background-position: 0px -97px }
.need-a-blog h3 { background-position: 0px -192px }

#h-features p{
  margin: 0;
}

#h-features .start{
  position: absolute;
  bottom: 0;
  width: 90%;
  width: calc(100% - 20px);
  width: -webkit-calc(100% - 20px);
}



#home-videos{
  width: 100%;
  min-height: 370px;
}

#mw-team-mobile{
  display: none;
}

#mw-team-mobile hr{
  clear: both;
}

#mw-team-mobile .box{
  margin-bottom: 20px;
}

#mw-team-mobile img{
  float: left;
  margin-right: 12px;
  margin-bottom: 8px;
}


/* /Home */






/* Login Page */

#login-form{
  /*width: 520px;*/
  width: 100%;
  min-height: 400px;
  margin: 65px auto 30px;
  max-width: 100%;
}

#login-form form{
  padding-left: 38px;
  margin-right: 20px;
}


.boxtable{
  display: table;
  width: 100%;
}
.boxcell{
  display: table-cell;
}

#login-form-status{
  height: 110px;
}
#login-form-status > .boxcell{
  vertical-align: middle;
  text-align: center;
}

#login-form-status .alert{
    margin: 0;
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}


.loginico{
  position: absolute;
  left:-44px;
  top: 108px;
  display: block;
  width:88px;
  height: 187px;
  background: url(../img/loginicons.png) no-repeat
}

.wlogo{
  display: block;
  position: absolute;
  background: url(../img/wlogo.png) no-repeat;
  width: 90px;
  height: 88px;
  top: -115px;
  left: 50%;
  margin-left: -45px;
}

.liunput{
  position: relative;
  z-index: 1;
}

.liunput input{
  padding:18px;
  border-radius: 0;
  box-shadow: none;
  font-size: 18px;
  color: #858585;
  border-color: #E0E0E0;
  margin-bottom: 0;
}

.liunput input:focus{
  box-shadow: none;
  border-color: #71AACF;
}

.liunput [class*='box-arr'] { left:-9px; }
.liunput [class*='box-arr'] i {  border:solid 1px #E0E0E0; box-shadow:none !important;}
.liunput input:focus + .box-arr-leftcenter i {  border:solid 1px #71AACF; }


#login-form .liunput{
  margin-bottom: 42px;
}

#login-form .liunput input{
  width: 90%;
  width: calc(100% - 38px);
  width: -webkit-calc(100% - 38px);
}

.forgot-password-holder{
  clear: both;
  text-align: center;
  padding: 10px 0;
}

#login-registration-bar .box{
  display: block;
  text-align: center;
}

 #login-registration-bar h3{
   text-align: center;
   color: white;
   padding-bottom: 12px;
 }


/* /Login Page */


/* Features */


#feature-nav-holder{
  clear: both;
  padding-top: 70px;
  height: 190px;
}

.feature-nav{
  position: relative;
  clear: both;
}

.feature-nav a{
  display: inline-block;
  z-index: 0;
  width: 53px;
  height: 53px;
  left: 0;
  top: 0;
  border:6px solid transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  -webkit-transition: all 0.12s linear;
  -moz-transition: all 0.12s linear;
  -o-transition: all 0.12s linear;
  transition: all 0.12s linear;
  filter: gray;
  filter: url(../img/fx/grayscale.svg#grayscale);
  filter: filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");;
  -webkit-filter: grayscale(100%);
}
.feature-nav a.active, .feature-nav a:hover{
  z-index: 1;
  width: 71px;
  height: 71px;
  left: -9px;
  top: -18px;
  box-shadow: 1px 1px 0px #DDDDDE, -1px -1px 0px #DDDDDE;
  border-color: white;
  filter:none;
  -webkit-filter: none;
}

.f-page{ background-image: url(../img/features/page.png); }
.f-live{ background-image: url(../img/features/live.png); margin-left: 70px;}



/* /Features */




/* Plans and Pricing */


#plans-and-pricing-tabs{
  text-align: center;
  padding-bottom: 25px;
}


#plans-and-pricing-tabs a{
  width: 170px;
  margin: 0 7px;
}

.plan-image{
  background: none repeat scroll 0 0 orange;
  color: white;
  display: block;
  font-size: 30px;
  margin: auto;
  text-align: center;
}

.plan-features i{
  display: inline-block;
  width: 25px;
  height: 26px;
  background: url(../img/personal.ico.png) no-repeat;
  position: absolute;
  top: 2px;
  left: 8px;
}
.plan-features  .plan-features-media a i{ background-position:0px 5px; }
.plan-features  .plan-features-media a:hover i{ background-position:-26px 5px; }

.plan-features  .plan-features-images a i{ background-position:0px -35px; }
.plan-features  .plan-features-images a:hover i{ background-position:-26px -35px; }

.plan-features  .plan-features-website a i{ background-position:0px -72px; }
.plan-features  .plan-features-website a:hover i{ background-position:-26px -72px; }

.plan-features  .plan-features-mobile a i{ background-position:0px -113px; }
.plan-features  .plan-features-mobile a:hover i{ background-position:-26px -113px; }


.plan-features  .plan-features-domain a i{ background-position:0px -151px; }
.plan-features  .plan-features-domain a:hover i{ background-position:-26px -151px; }




.plan-features li{
  list-style: none;
  padding: 2px 0;
}

.plan-features li a{
  display: block;
  padding: 5px 0 5px 65px;
  color: #296FA5;
  position: relative;
}

.plan-features li a:hover, .plan-features li a:focus{
  background: white;
  color:#F68736;
}

.personal-plans .plan-micro,
.personal-plans .plan-weber,
.personal-plans .plan-business{
  width: 178px;
  margin-right: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.personal-plans .plan-micro{ left: 0; }
.personal-plans .plan-weber{ left: 190px; }
.personal-plans .plan-business{ left: 380px; }

.personal-plans .plan-micro .box,
.personal-plans .plan-weber .box,
.personal-plans .plan-business .box{
  display: block;
}

.personal-plans .plan-weber .box{
  height: 200px;
}

.personal-plans .box h3{
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}
.personal-plans .box h4{
  margin: 0;
}

.plan-features-list{
  list-style: none;
  color: #6F9FC3;
  font-size: 12px;
  padding: 10px 0;
  margin:0;
}

.features-list{
  padding-top: 63px;
}

.plan-features-list li{
  display: block;
  padding: 2px 0;

}


.personal-plans{
  height: 300px;
  position: relative;
}

.plan-title{
  font-size: 48px;
  text-align: center;
  font-weight: 600;
}

.plan-title small {
  font-size: 14px;
}

#domain-search > .box-content{
  padding: 30px;
}

.domain-search-form .invisible-field{
   padding: 11px;
   margin: 0;
}

.domain-search-form .mw_dropdown_type_mw .mw_dropdown_val_holder{
  width: 260px;
}



/* /Plans and Pricing */

