/*
 * Microweber - Javascript Framework
 *
 * Default styles
 * Do not change anything!
 *
 */


.mw-reset, .mw-reset *{
  margin: 0;
  padding: 0;
  line-height: normal;
}
.mw-reset img{
  border: none;
}
.mw-reset div,
.mw-reset input,
.mw-reset select,
.mw-reset textarea,
.mw-reset button{
  height: auto;
}

.col, .row, .element {
    position: relative;
}

.element {
    display: block;
    clear: both !important;
    max-width:100%;
}
.element, .column, .mw_item{
 -ms-transform-origin:50% 50%;
 -webkit-transform-origin:50% 50%;
 -moz-transform-origin:50% 50%;
 -o-transform-origin:50% 50%;
 transform-origin:50% 50%;
}

.element-image {
    display: inline-block;
    clear: none;
    max-width: 100%;
}
.edit:after, .column:after, .element:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.column {
    float: left !important;
    margin: 0 !important;
    padding: 0 !important;
}
.edit, .column {
    min-height: 50px;
    position: relative;
}
.edit .column img{
  height: auto !important;
  max-width: 100% !important;
}

.mw_drag_float{
    display: inline-block !important;
    float: left !important;
}
.mw_drag_float_right {
    display: inline-block !important;
    float: right !important;
}
.layout-element{
  clear: both;
  float: none;
}

.mw-free-element{
  position: relative !important;
  min-height: 100px;
  overflow: hidden;
}

.mw-free-element .element{
  position: absolute;
}
.mw-free-element:empty{
  background:#ffffb9
}
.free-element-item{
  position: absolute;
  display: inline-block !important;
}


.free-element{
  position: relative;
  display: block;
  overflow: hidden;
}

.free-element img,
.free-element div,
.free-element p,
.free-element ul,
.free-element ol{
  position: absolute;
}






