/*
 * Microweber - Javascript Framework
 *
 * Default styles
 * Do not change anything!
 *
 */

.col, .row, .element {
    position: relative;
}
.element {
    display: block;
    /*clear: both;*/
}
.element-image {
    display: inline-block;
    clear: none;
    max-width: 100%;
}
.edit:after, .column:after, .element:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.column {
    float: left !important;
    margin: 0 !important;
    padding: 0 !important;
}
.edit, .column {
    min-height: 50px;
    position: relative;
}
.edit .column img{
  height: auto !important;
  max-width: 100% !important;
}

.mw_drag_float{
    display: inline-block !important;
    float: left !important;
}
.mw_drag_float_right {
    display: inline-block !important;
    float: right !important;
}
.layout-element{
  clear: both;
  float: none;
}

.mw-free-element{
  position: relative !important;
  min-height: 100px;
  overflow: hidden;
}

.mw-free-element .element{
  position: absolute;
}
.mw-free-element:empty{
  background:#ffffb9
}
.free-element-item{
  position: absolute;
  display: inline-block !important;
}

/* Effects */

img.sepia{
  -webkit-filter: sepia(100%);
  -moz-filter: sepia(100%);
  -ms-filter: sepia(100%);
  -o-filter: sepia(100%);
  filter: url(img/fx/sepia.svg#sepia);
  -webkit-filter: sepia(1);
  filter: sepia(100%);
}

img.grayscale{
  filter: url(img/fx/grayscale.svg#grayscale);
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(100%);
}
img.blur{

}
