/*
 * Microweber - Javascript Framework
 *
 * Default styles
 * Do not change anything!
 *
 */


* {
   margin: 0;
   padding: 0;
}

article, aside, figure, footer, header, hgroup, menu, nav, section { display:block; }

body.mw-preview{
  zoom: 0.36;
  -moz-transform: scale(0.36);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.36);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.36);
  -webkit-transform-origin: 0 0;
}

.mw-hide{
  display: none !important;
}


.col, .mw-row, .element {
    position: relative;
}

.element {
    display: block;
    clear: both !important;
    max-width:100%;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -o-transition: color 0 ease-in !important;
    transition: none !important;
}
.element, .mw-col, .mw_item{
 -ms-transform-origin:50% 50%;
 -webkit-transform-origin:50% 50%;
 -moz-transform-origin:50% 50%;
 -o-transform-origin:50% 50%;
 transform-origin:50% 50%;
}

.element-image {
    display: inline-block;
    clear: none;
    max-width: 100%;
}
.edit:after, .mw-col:after, .element:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.mw-col {
    float: left !important;
    margin: 0 !important;
    padding: 0 !important;
}
.edit, .mw-col {
    min-height: 50px;
    position: relative;
}
.edit .mw-col img{
  height: auto !important;
  max-width: 100% !important;
}

.mw_drag_float{
    display: inline-block !important;
    float: left !important;
}
.mw_drag_float_right {
    display: inline-block !important;
    float: right !important;
}
.layout-element{
  clear: both;
  float: none;
}

.mw-free-element{
  position: relative !important;
  min-height: 100px;
  overflow: hidden;
}

.mw-free-element .element{
  position: absolute;
}
.mw-free-element:empty{
  background:#ffffb9
}
.free-element-item{
  position: absolute;
  display: inline-block !important;
}


.free-element{
  position: relative;
  display: block;
  overflow: hidden;
}

.free-element img,
.free-element div,
.free-element p,
.free-element ul,
.free-element ol{
  position: absolute;
}






