/*
 * Microweber - Javascript Framework
 *
 * Default styles
 * Do not change anything!
 *
 */


* {
   margin: 0;
   padding: 0;
}

article, aside, figure, footer, header, hgroup, menu, nav, section { display:block; }

body.mw-preview{
  zoom: 0.36;
  -moz-transform: scale(0.36);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.36);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.36);
  -webkit-transform-origin: 0 0;
}

.mw-empty{
  display: none;
}


.autoscale{
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  display: block;
}
.autoscale-x{
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}
.autoscale-y{
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  width:auto;
  display: block;
}

.mw-hide{
  display: none !important;
}

.mw-row{
  zoom:1;
}

.mw-row:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.mw-col, .mw-row, .element {
    position: relative;
}

.mw-col-container{
  padding: 0px;
  margin: 6px 0;
}

.mw-row > .mw-col + .mw-col > .mw-col-container{ padding: 10px; }

.mw-row > .mw-col:first-child > .mw-col-container{ padding: 10px 10px 10px 0; }
.mw-row > .mw-col:last-child > .mw-col-container{ padding: 10px 0 10px 10px; }
.mw-row > .mw-col:only-child > .mw-col-container{ padding: 0px; }



.element {
    display: block;
    clear: both !important;
    max-width:100%;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -o-transition: color 0 ease-in !important;
    transition: none !important;
}
img.element{
  display: inline-block;
}

.element, .mw-col, .mw_item{
 -ms-transform-origin:50% 50%;
 -webkit-transform-origin:50% 50%;
 -moz-transform-origin:50% 50%;
 -o-transform-origin:50% 50%;
 transform-origin:50% 50%;
}

img.element{
  margin-top: 12px;
  margin-bottom: 12px;
}

.element-image {
    display: inline-block;
    clear: none;
    max-width: 100%;
}
.edit:after, .mw-col:after, .element:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.mw-col {
    float: left;
    margin: 0;
    padding: 0;
}
.edit, .mw-col {
    min-height: 50px;
    position: relative;
}
.mw-col img{
  height: auto !important;
  max-width: 100%;
}



@media (max-width: 767px) {
  .mw-col{
    width: auto !important;
    float: none;
    margin: 6px;
  }

  .mw-col > .ui-resizable-e{
    display: none;
  }

.mw-col-container{ padding: 10px; }

.mw-row > .mw-col:first-child > .mw-col-container{ padding: 10px; }
.mw-row > .mw-col:last-child > .mw-col-container{ padding: 10px; }


}

.layout-element{
  clear: both;
  float: none;
}

.mw-embed-iframe, .mwembed{
  padding: 12px 0;
  min-height: 200px;
  position: relative;
}
.mw-embed-iframe iframe, .mwembed iframe{
  max-width: 100%;
  max-height: 100%;
}

body.dragStart .mwembed:after,
body.Resizing .mwembed:after{
  position: absolute;
  display: block;
  content:"";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: transparent;
}

.mw-embed-embed{
  padding: 12px 0;
}
.mw-embed-embed embed, .mw-embed-embed object{
  max-width: 100%;
}

.mw-uploaded-file{
  font-size: 12px;
  text-decoration: underline;
  color: #4688EC;
  display: inline-block;
  margin-right: 7px;
}

.mw-uploaded-file:hover{
  text-decoration: none;
}

.mw_clear{
  display: block;
  height: 1px;
  overflow: hidden;
  clear: both;
}

.mw-uploader{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
}


.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}


.relative{
  position: relative;
}
.inline-block{
  display: inline-block;
}
.mw-vspace{
  padding: 12px 0;
}
.vSpace {
    clear: both;
    display: block;
    padding-bottom: 6px;
    padding-top: 6px;
}



.mw-textfx-3d{
  font-size: 20px;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);

}

.mw-textfx-neon{
  font-size: 20px;
  text-shadow: 0 0 10px #fff,
                   0 0 20px #fff,
                   0 0 30px #fff,
                   0 0 40px #ff00de,
                   0 0 70px #ff00de,
                   0 0 80px #ff00de,
                   0 0 100px #ff00de,
                   0 0 150px #ff00de;
}



/* FILETYPES  */


/* Adding icons to pdf span, doc span, etc.mw-filetype- */
/* MICROSOFT */
/* MS Access */
.mw-filetype-ade span, .mw-filetype-adp span, .mw-filetype-adn span, .mw-filetype-accdb span, .mw-filetype-accdr span, .mw-filetype-accdt span, .mw-filetype-mdb span, .mw-filetype-mda span, .mw-filetype-mdn span, .mw-filetype-mdt span, .mw-filetype-mdw span, .mw-filetype-mdf span, .mw-filetype-mde span, .mw-filetype-accde span, .mw-filetype-mam span, .mw-filetype-maq span, .mw-filetype-mar span, .mw-filetype-mat span, .mw-filetype-maf span {
   padding-left: 18px;
   background: transparent url('img/filetypes/access.png') no-repeat center left;
}
/*MS Excel*/
.mw-filetype-xls span, .mw-filetype-xlb span, .mw-filetype-xlc span, .mw-filetype-xld span, .mw-filetype-xlk span, .mw-filetype-xlt span, .mw-filetype-xlw span, .mw-filetype-xlsx span, .mw-filetype-xlsm span, .mw-filetype-xlsb span, .mw-filetype-xltm span {
   padding-left: 18px;
   background: transparent url('img/filetypes/excel.png') no-repeat center left;
}
/*MS Excel Scripts*/
.mw-filetype-xla span, .mw-filetype-xll span, .mw-filetype-xlm span, .mw-filetype-xlv span, .mw-filetype-xlam span {
   padding-left: 18px;
   background: transparent url('img/filetypes/script-excel.png') no-repeat center left;
}
/*MS Excel CSV*/
.mw-filetype-csv span {
   padding-left: 18px;
   background: transparent url('img/filetypes/excel-csv.png') no-repeat center left;
}
/*MS Outlook*/
.mw-filetype-eml span, .mw-filetype-msg span, .mw-filetype-ost span, .mw-filetype-pst span {
   padding-left: 18px;
   background: transparent url('img/filetypes/outlook.png') no-repeat center left;
}
/*MS Powerpoint*/
.mw-filetype-ppt span, .mw-filetype-pptx span, .mw-filetype-pps span, .mw-filetype-ppsx span {
   padding-left: 18px;
   background: transparent url('img/filetypes/powerpoint.png') no-repeat center left;
}
/*MS Word*/
.mw-filetype-doc span, .mw-filetype-docx span, .mw-filetype-docm span, .mw-filetype-dotx span, .mw-filetype-dotm span, .mw-filetype-dot span, .mw-filetype-rtf span {
   padding-left: 18px;
   background: transparent url('img/filetypes/word.png') no-repeat center left;
}
/*MS Visual Studio ('Common Programming Languages')*/
.mw-filetype-h span, .mw-filetype-hh span, .mw-filetype-hpp span, .mw-filetype-h++ span, .mw-filetype-cc span, .mw-filetype-cpp span, .mw-filetype-cxx span, .mw-filetype-c++ span, .mw-filetype-vb span, .mw-filetype-vbs span, .mw-filetype-cs span, .mw-filetype-h span, .mw-filetype-c span, .mw-filetype-f# span, .mw-filetype-fs span, .mw-filetype-fsi span, .mw-filetype-ml span, .mw-filetype-mli span, .mw-filetype-fsx span, .mw-filetype-fsscript span {
   padding-left: 18px;
   background: transparent url('img/filetypes/visual-studio.png') no-repeat center left;
}
/*ADOBE*/
/*Public Data File (PDF)*/
.mw-filetype-pdf span {
   padding-left: 18px;
   background: transparent url('img/filetypes/pdf.png') no-repeat center left;
}
/*Flash*/
.mw-filetype-fla span, .mw-filetype-swf span, .mw-filetype-flv span, .mw-filetype-f4v span, .mw-filetype-f4p span, .mw-filetype-f4a span, .mw-filetype-f4b span {
   padding-left: 18px;
   background: transparent url('img/filetypes/flash.png') no-repeat center left;
}
/*Photoshop*/
.mw-filetype-psd span, .mw-filetype-psb span {
   padding-left: 18px;
   background: transparent url('img/filetypes/photoshop.png') no-repeat center left;
}
/*Illustrator*/
.mw-filetype-ai  span {
   padding-left: 18px;
   background: transparent url('img/filetypes/illustrator.png') no-repeat center left;
}
/*COREL*/
/*WordPerfect*/
.mw-filetype-wp span, .mw-filetype-wp7 span, .mw-filetype-wp6 span, .mw-filetype-wp5 span, .mw-filetype-wp4 span, .mw-filetype-wpd span {
   padding-left: 18px;
   background: transparent url('img/filetypes/wordperfect.png') no-repeat center left;
}
/*Presentations*/
.mw-filetype-chs span, .mw-filetype-cmx span, .mw-filetype-mst span, .mw-filetype-pqf span, .mw-filetype-pqw span, .mw-filetype-prc span, .mw-filetype-shb span, .mw-filetype-shw span, .mw-filetype-wpg span {
   padding-left: 18px;
   background: transparent url('img/filetypes/presentations.png') no-repeat center left;
}
/*Quattro Pro*/
.mw-filetype-clp span, .mw-filetype-mu span, .mw-filetype-mxe span, .mw-filetype-gbe span, .mw-filetype-gpw span, .mw-filetype-som span, .mw-filetype-trn span, .mw-filetype-vrm span, .mw-filetype-wb0 span, .mw-filetype-wb1 span, .mw-filetype-wb2 span, .mw-filetype-wb3 span, .mw-filetype-wb? span, .mw-filetype-wkg span, .mw-filetype-wg! span, .mw-filetype-wq1 span, .mw-filetype-wq2 span, .mw-filetype-wq? span {
   padding-left: 18px;
   background: transparent url('img/filetypes/quattropro.png') no-repeat center left;
}
/*OPEN OFFICE*/
/*odf*/
.mw-filetype-odf span {
   padding-left: 18px;
   background: transparent url('img/filetypes/opendocument.png') no-repeat center left;
}
/*Writer*/
.mw-filetype-odt span, .mw-filetype-sxw span, .mw-filetype-ott span {
   padding-left: 18px;
   background: transparent url('img/filetypes/writer.png') no-repeat center left;
}
/*Draw*/
.mw-filetype-odg span, .mw-filetype-otg span {
   padding-left: 18px;
   background: transparent url('img/filetypes/draw.png') no-repeat center left;
}
/*Math*/
.mw-filetype-sms span, .mw-filetype-sxm span, .mw-filetype-mml span {
   padding-left: 18px;
   background: transparent url('img/filetypes/math.png') no-repeat center left;
}
/*Impress*/
.mw-filetype-odp span, .mw-filetype-otp span, .mw-filetype-sdp span {
   padding-left: 18px;
   background: transparent url('img/filetypes/impress.png') no-repeat center left;
}
/*Base*/
.mw-filetype-odb span {
   padding-left: 18px;
   background: transparent url('img/base.mw-filetype-png') no-repeat center left;
}
/*Calc*/
.mw-filetype-ods span, .mw-filetype-sxc span {
   padding-left: 18px;
   background: transparent url('img/filetypes/calc.png') no-repeat center left;
}
/*BASIC FILE FORMATS*/
/*Images (not even close to ALL image file formats span, just common ones)*/
.mw-filetype-jpg span, .mw-filetype-jpeg span, .mw-filetype-png span, .mw-filetype-gif span, .mw-filetype-bmp span, .mw-filetype-tif span, .mw-filetype-tiff span, .mw-filetype-ink span, .mw-filetype-jpeg span, .mw-filetype-giff span {
   padding-left: 18px;
   background: transparent url('img/filetypes/image.png') no-repeat center left;
}
/*Icon*/
.mw-filetype-ico span {
   padding-left: 18px;
   background: transparent url('img/filetypes/icon.png') no-repeat center left;
}
/*svg (Scalable Vector Graphics)*/
.mw-filetype-svg span {
   padding-left: 18px;
   background: transparent url('img/filetypes/svg.png') no-repeat center left;
}
/*Video*/
.mw-filetype-amv span, .mw-filetype-avi span, .mw-filetype-dv-avi span, .mw-filetype-m4v span, .mw-filetype-mpeg span, .mw-filetype-mpg span, .mw-filetype-mov span, .mw-filetype-qt span, .mw-filetype-mp4 span, .mw-filetype-wmv span {
   padding-left: 18px;
   background: transparent url('img/filetypes/video.png') no-repeat center left;
}
/*Music*/
.mw-filetype-wav span, .mw-filetype-aiff span, .mw-filetype-flac span, .mw-filetype-mp3 span {
   padding-left: 18px;
   background: transparent url('img/filetypes/music.png') no-repeat center left;
}
/*Text*/
.mw-filetype-txt span, .mw-filetype-text span {
   padding-left: 18px;
   background: transparent url('img/filetypes/text.png') no-repeat center left;
}
/*Executable/Binary*/
.mw-filetype-bin span, .mw-filetype-exe span, .mw-filetype-bat span, .mw-filetype-msi span {
   padding-left: 18px;
   background: transparent url('img/filetypes/binary.png') no-repeat center left;
}
/*Zipped Folder*/
.mw-filetype-tar span, .mw-filetype-gz span, .mw-filetype-zip span, .mw-filetype-7z span {
   padding-left: 18px;
   background: transparent url('img/filetypes/binary.png') no-repeat center left;
}
/*non-html web documents*/
.mw-filetype-css span, .mw-filetype-js span, .mw-filetype-xml span, .mw-filetype-htm span, .mw-filetype-html span {
   padding-left: 18px;
   background: transparent url('img/filetypes/webdoc.png') no-repeat center left;
}
/*RSS Feeds*/
.mw-filetype-rss span {
   padding-left: 18px;
   background: transparent url('img/filetypes/rss.png') no-repeat center left;
}



#mw-html-info{
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.free-item{
  position: absolute;
}


.edit .module-video, .edit .module-pictures {
  padding: 10px 0;
}













