/* CSS Document */

 

  * {
	margin:0;
	padding: 0;
}
body {
	font-family: Segoe UI;
	color: #666666;
}
a {
font-family: Segoe UI;	
}
#wrapper {
	 
	margin: 20px auto;
	padding: 40px;
	min-height:200px;
	 
}
h2 {
	font-size: 23px;
	font-weight: normal;
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom: 1px solid #ccc;
}
ul {
	 
}
li {
	padding: 10px 0;
	color: #333333
}
li span {
	font-family: Courier New;
	font-size: 19px;
}
.fn {
font-family: Courier New !important;	
}
li strong {
	color: #1D8AC5;
	font-size: 17px;
}
li p {
	padding-left: 40px;
}

.mw_help_nav {
 position:fixed;
 top:50px;	
  left:5%;
}
.mw_help_index {
 padding:10px;
 margin:20px;	
}
.directory_tree ul{
	list-style: circle;
	padding: 5px 0;
	
}

.directory_tree ul li{
	list-style: circle;
	padding: 0px 15px; 
}

 
.directory_tree_is_folder a{
 
 font-weight:bold;
}
.directory_tree_is_file a{
 
 font-weight:normal;
}