/* CSS Document */

 
#wrapper {
	 
	 
	padding: 10px;
	min-height:200px;
	 
}
/*h2 {
	font-size: 23px;
	font-weight: normal;
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom: 1px solid #ccc;
}
ul {
	 
}
li {
	padding: 10px 0;
	color: #333333
}
li span {
	font-family: Courier New;
	font-size: 19px;
}
.fn {
font-family: Courier New !important;	
}
li strong {
	color: #1D8AC5;
	font-size: 17px;
}
li p {
	padding-left: 40px;
}*/

.mw_help_nav {
 position:fixed;
 top:50px;	
  left:5%;
}
.mw_help_index {
 padding:10px;
 margin:20px;	
}
.directory_tree ul{
	list-style: circle;
	padding: 5px 0;
	
}

.directory_tree ul li{
	list-style: circle;
	padding: 0px 15px; 
}

 
.directory_tree_is_folder a{
 
 font-weight:bold;
}
.directory_tree_is_file a{
 
 font-weight:normal;
}



.table-wrap {
 margin:5%;	
  
}
.table-wrap th{
  font-size:13px;
}
.table-wrap td{
  font-size:12px;
  padding:2px;
}

 
.table-wrap select, .table-wrap input,.table-wrap input[type="search"]{
   width:150px;
   font-size:12px;
   height:23px;
   line-height:16px;
   padding:2px;
}
