/* Typography */
.right {
    text-align: right !important;
}

.left {
    text-align: left !important;
}

.center {
    text-align: center !important;
}

.justify {
    text-align: justify !important;
}

.bold {
    font-weight: bold !important;
}

.underline {
    text-decoration: underline !important;
}

.italic {
    font-style: italic !important;
}

.red {
    color: #dd2229 !important;
}

.darkred {
    color: #BA0519 !important;
}

.green {
    color: green !important;
}

.silver {
    color: #666666 !important;
}

.m-a {
    margin: auto !important;
}

.m-0 {
    margin: 0px !important;
}

.m-10 {
    margin: 10px !important;
}

.m-20 {
    margin: 20px !important;
}

.m-30 {
    margin: 30px !important;
}

.m-40 {
    margin: 40px !important;
}

.m-t-0 {
    margin-top: 0px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.m-t-40 {
    margin-top: 40px !important;
}

.m-t-50 {
    margin-top: 50px !important;
}

.m-t-60 {
    margin-top: 60px !important;
}

.m-t-70 {
    margin-top: 70px !important;
}

.m-b-0 {
    margin-bottom: 0px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.m-b-30 {
    margin-bottom: 30px !important;
}

.m-b-40 {
    margin-bottom: 40px !important;
}

.m-b-50 {
    margin-bottom: 50px !important;
}

.m-b-60 {
    margin-bottom: 60px !important;
}

.m-b-70 {
    margin-bottom: 70px !important;
}

.p-0 {
    padding: 0px !important;
}

.p-10 {
    padding: 10px !important;
}

.p-20 {
    padding: 20px !important;
}

.p-30 {
    padding: 30px !important;
}

.p-40 {
    padding: 40px !important;
}

.p-t-0 {
    padding-top: 0px !important;
}

.p-t-5 {
    padding-top: 5px !important;
}

.p-t-10 {
    padding-top: 10px !important;
}

.p-t-20 {
    padding-top: 20px !important;
}

.p-t-30 {
    padding-top: 30px !important;
}

.p-t-40 {
    padding-top: 40px !important;
}

.p-t-50 {
    padding-top: 50px !important;
}

.p-t-60 {
    padding-top: 60px !important;
}

.p-t-70 {
    padding-top: 70px !important;
}

.p-b-0 {
    padding-bottom: 0px !important;
}

.p-b-10 {
    padding-bottom: 10px !important;
}

.p-b-20 {
    padding-bottom: 20px !important;
}

.p-b-30 {
    padding-bottom: 30px !important;
}

.p-b-40 {
    padding-bottom: 40px !important;
}

.p-b-50 {
    padding-bottom: 50px !important;
}

.p-b-60 {
    padding-bottom: 60px !important;
}

.p-b-70 {
    padding-bottom: 70px !important;
}

.r-15 {
    border-radius: 15px;
}

.m-r-10{
    margin-right: 10px;
}

/* Petko */

/* Tables */
.table-style-2 tr {
    border: 1px solid #ebebeb;
    background: #fafafa;
}

.table-style-2 tr:hover {
    border-left: 1px solid #f6a555;
}

.table-style-2 tr td,
.table-style-2 tr th {
    border-right: 0 !important;
    border-left: 0 !important;
}

.table-style-2 tr td:last-of-type,
.table-style-2 tr th:last-of-type {
    border-right: 1px solid #ebebeb !important;
}

.table-style-2 tr td:first-of-type {
    border-left: 1px solid #ebebeb;
}

.table-style-2 tr td {
    padding: 12px;
}

.table-style-2 thead {
    margin-bottom: 10px;
}

.table-style-3 tr {
    border: 1px solid #ebebeb;
    background: #fff;
}

.table-style-3 tr th {
    border-right: 0 !important;
    border-left: 0 !important;
}

.table-style-3 tr th:last-of-type {
    border-right: 1px solid #ebebeb !important;
}

.table-style-3 tr td:first-of-type {
    border-left: 1px solid #ebebeb;
}

.table-style-3 tr td {
    padding: 12px 25px;
}

.table-style-3 tr th {
    padding: 15px 25px;
}

.table-style-3 thead {
    margin-bottom: 10px;
}

.table-style-3 thead tr th {
    background: #fff !important;
    color: #909090;

}

.table-style-3 tr:nth-child(odd) {
    background: #fafafa;
}

.table-style-3 tr:nth-child(even) {
    background: #fff;
}

.table-style-3 .text-center {
    text-align: center;
}

.table-style-3 th h3 {
    font-size: 18px;
    color: #2b2b2b;
}

/* Forms */
.element-block {
    display: block;
    width: 100%;
}

.form-new-style input, .form-new-style textarea, .form-new-style select {
    border-color: #c2c2c2;
    padding: 8px;
    height: 36px !important;
}

.form-new-style label {
    font-size: 13px;
    color: #2b2b2b;
    font-weight: bold;
}

/* UI Box */
.mw-ui-settings-box {
    background: #fafafa;
    padding: 0px 25px;
    margin-bottom: 10px;
}

.mw-ui-settings-box.box-white {
    background: #fff;
}

.mw-ui-settings-box.box-enabled {
    background: rgba(170, 237, 154, 0.18);
}

.mw-ui-settings-box.box-disabled {
    background: rgba(255, 192, 210, 0.18);
}

.clearfix {
    clear: both;
}

.inline-switch {
    margin-top: 9px;
    margin-left: 20px;
}

.disabled-and-enabled-label {
    padding: 10px 0;
    font-weight: bold;
}



/* Modals */
/*
.mw_modal.mw_modal_default {
    background: #fafafa;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 0 27px -20px #111;
}

.mw_modal.mw_modal_default .mw_modal_toolbar {
    background: #2b2b2b;
    padding: 8px 10px;
    height: 38px;
    background-image: none !important;
}
*/
.mw_modal.mw_modal_default .mw_modal_toolbar .mw_modal_title {
    font-size: 13px;
}

/*
.mw_modal.mw_modal_default .mw_modal_toolbar .mw-modal-close {
    top: 7px;
    right: 8px;
    background: #000000;
    border: 0;
}
*/
.mw_modal.mw_modal_default .mw_modal_container {
    padding: 30px 50px;
}

.action-buttons {
    text-align: center;
}

.action-buttons .act {
    color: #666666;
    font-weight: bold;
    padding: 0 3px;
    cursor: pointer;
}

.action-buttons .act.act-edit {

}

.action-buttons .act.act-remove {
    background: none;
    border: 0;
}

.action-buttons .act.act-remove:hover {
    color: #df332b;
}

/* Shipping */
.mw-shipping-items .shipping-country-label {
    color: #2b2b2b;
    font-size: 13px;
    font-weight: 500;
}

.mw-shipping-items input,
.mw-shipping-items select,
.mw-shipping-items textarea {
    background-color: #f8f8f8;
    border-color: #c2c2c2;
}

.mw-shipping-items .input-with-currency input,
.mw-shipping-items .input-with-currency input:focus {
    border-left: 0;
    margin-left: -6px;
    z-index: 1;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-left: 5px;
    outline: none !important;
    outline-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.mw-shipping-items .input-with-currency span {
    background-color: #f8f8f8;
    border: 1px solid #c2c2c2;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 8px 2px 8px 10px;
    z-index: 2;
}

.mw-shipping-items .mw-ui-label-help {
    font-size: 12px;
    color: #2b2b2b;
    font-style: italic;
    margin-top: 10px;
}

.mw-shipping-items .toggle-item .hide-item.hidden {
    display: none;
}

.mw-shipping-items .toggle-item {
    cursor: pointer;
}

.mw-shipping-items .mw-ui-table td,
.mw-shipping-items .mw-ui-table tfoot td,
.mw-shipping-items .mw-ui-table thead th {
    padding: 20px 10px;
}

.mw-shipping-items .closed-fields .mw-ui-table td,
.mw-shipping-items .closed-fields .mw-ui-table tfoot td,
.mw-shipping-items .closed-fields .mw-ui-table thead th {
    border: 0;
}

.mw-shipping-items .mw-ui-table tr:nth-child(even) td {
    /*background: #f5f5f5;*/
}

.mw-shipping-items .mw-ui-table > tbody > tr > td:first-child,
.mw-shipping-items .mw-ui-table > tfoot > tr > td:first-child {
    width: 300px;
}

.mw-shipping-items.add-new-country {
    display: none;
}

.mw-shipping-items.add-new-country .mw-ui-table tr:nth-child(even) td {
    background: none;
}

.mw-shipping-items .shipping-country-holder .mw-icon-close {
    visibility: visible;

    color: #0086db;
    background: #fff;
    padding: 4px 5px;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    border-radius: 52px;
    font-size: 10px;
    border: 1px solid #0086db;
}

.mw-shipping-items .shipping-country-holder .mw-icon-close:hover {
    color: #fff;
    background: #0086db;
    border: 1px solid #0086db;
}

.switcher-label-left {
    font-weight: bold;
    padding: 10px;
    display: inline-block;
}