@import url("../api/libs/mw-ui/assets/ui/plugins/css/plugins.min.css");
@import url("./ui.css");
@import "../css/fonts/materialdesignicons/css/materialdesignicons.min.css";

.btn[disabled]{
    cursor: default !important;
}
.btn-save[disabled] {
    filter: grayscale(.7);
}
.nav {
    align-items: center;
}

.mw-admin-logo {
    display: inline-block;
}

.mw-admin-logo img {
    max-width: 170px;
    max-height: 50px;
}

#mw-order-table-holder {
    clear: both;
}

.main aside > ul > li.nav-item {
    width: 100%;
}

#mw-admin-main-navigation li.active-parent > .dropdown-menu,
#mw-admin-main-navigation li.active > .dropdown-menu {
    display: block;
    position: relative;
}

#stats_nav .btn + .btn {
    margin-left: 10px;
}

.hidden {
    display: none;
}

#edit-content-row .tree {
    margin-right: 15px;
}

.window-holder {
    padding: 25px;
}

.manage-post-image {
    display: block;
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

a.manage-post-image-no-image:not([href]) {
    font-family: "Material Design Icons";
    width: 80px;
    height: 80px;
    font-size: 64px;
    line-height: 80px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #bcbfc2;
}

.manage-post-image-shop:after {
    content: "\F049A";
}

.manage-post-image-post:after {
    content: "\F09A8";
}

.manage-post-image-product:after {
    content: "\F049A";
}

div.form-control {
    height: auto;
}

.mw_admin_posts_sortable_handle {
    margin: 0;
    padding: 15px 0 0;
    font-size: 1.3rem;
    line-height: 0.5em;
    position: relative;
    cursor: grab;
    display: block;
    color: #BCBFC2;
}

.manage-posts-holder .card-body .manage-post-item-links {
    white-space: nowrap;
    padding-top: 10px;
}

.manage-posts-holder .manage-post-item-col-2 {
    max-width: 100px;
}

.manage-posts-holder .manage-post-item-col-1 {
    max-width: 40px;
}

.mw-file-window-frame {
    width: 100%;
    height: 345px;
}

div.form-control {
    height: auto;
}

.mw-ui-category-tree li {
    list-style: none
}

.mw-ui-category-tree li li {
    padding-left: 30px;
}

.mw-ui-category-tree li li:before {
    content: "\F060D";
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    margin-top: 12px;
    margin-left: -20px;
}

.mw-ui-category-tree {
    position: relative;

}

.mw-ui-category-tree-row:hover {
    background: #fcfcfc;
    border-color: #eeeff1;
    -webkit-box-shadow: -1px 1px 1px 0px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: -1px 1px 1px 0px rgba(0, 0, 0, 0.11);
    box-shadow: -1px 1px 1px 0px rgba(0, 0, 0, 0.11);
}

.mw-ui-category-tree-row .btn {
    float: right;
}

.mw-ui-category-tree-row {
    background: #fcfcfc;
    padding: .5rem 1rem;
    display: block;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

.logo img {
    max-height: 45px;
}

.category-parent-selector {
    width: 100%;
    max-height: 82vh;
    overflow: auto;
}

#category-edit-advanced {
    clear: both;
}

.js-category-advanced-seetings-button-block {
    clear: both;
    text-align: center;
}

.js-category-advanced-seetings-button {
    clear: both;
}

.main:after{
    display: block;
    clear: both;
    content:'.';
    font-size: 0;
}
.main{
    overflow: visible;
}
.main > aside > #mw-admin-main-navigation{
    position: sticky;
    top: 80px;
}
.main .tree {
    border: 0 !important;
}

.dropdown-languages {
    max-height: 300px;
    overflow-y: scroll;
}

#mw-content-backend {
    position: relative;
}

#mw-content-backend.has-mw-spinner:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .7);
    z-index: 10;
}

#mw-content-backend.has-mw-spinner > .mw-spinner {
    position: absolute;
    left: 50%;
    top: 120px;
    transform: translate(-50%, 0);
    z-index: 12;
}

#mw-content-backend.has-mw-spinner {
    pointer-events: none;
    min-height: 300px;
}

.mw-module-settings-box + .mw-module-settings-box {
    margin-top: 15px;
}

.mw-module-settings-box .mw-ui-box-header .mdi-drag {
    cursor: grab;
}

.mw-module-settings-box .mw-ui-box-header {
    padding: 15px;
}

.menu-item-box {
    border: 1px solid #cfcfcf;
    border-radius: 7px;
    list-style: none;
    overflow: hidden;
    margin-bottom: 10px;
    align-items: center;
 }

#mw_uploader_loading .progress-bar{
    padding: 0 10px;
    white-space: nowrap;
    overflow: visible;
    color: #221d31;
    text-shadow: 0px 0px 1px #ffffff;
}
#mw_uploader_loading{
    margin: 10px 0;
 }

.mw-admin-post-slug{
    white-space: nowrap;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mw-admin-post-slug-text{
    font-size: 0;
}
.mw-admin-post-slug-text > span{
    font-size: .75rem;
}
.mw-admin-post-slug .contenteditable{
    position: relative;
}
.mw-admin-post-slug .contenteditable:after{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}
.mw-admin-post-slug .contenteditable:focus{
    padding: 0;
}
.mw-admin-post-slug > *:last-child{
    flex: 1;
}

.card-header-fix .card-header{
    top: -100px;
    transition: top .3s;
    position: static;
}
.card.style-1 .card-header-fix .card-header{
    position: static;
    transition: background-color .2s;
}
.card-header-fix .card-header.fixed{
    position: fixed !important;
    top: 69px;
    z-index: 30;
}
#settings-container .card-header-fix .card-header.fixed{
    top: 0;

}
.card-header-fix{
    height: 55px;
}

.card.ui-sortable-helper{
    background-color: #fff !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px !important;
}

.module-content-manager .card.style-1 .card-body .card.ui-sortable-helper{
    /* sorting posts */
    margin-inline-start: 25px;
    left:0 !important;
}

#edit-content-btn{margin-left: 10px;}

.upload-button-prop:only-child .mw-badge{
    display: none;
}
.upload-button-prop.mw-ui-box.mw-ui-box-content {
    width: 115px;
    display: inline-block;
    margin: 10px;
}
.post-header-content-changed {
    background-color: #ecfff5 !important;

}

.datetimepicker .prev *,
.datetimepicker .next *{
    display: none;
}
.datetimepicker .prev:after{
    content: "\F013D";
}
.datetimepicker .next:after{
    content: "\F013E";
}
.datetimepicker .prev:after,
.datetimepicker .next:after{
    font-family: "Material Design Icons";
}

 .datetimepicker th {
     width: auto;
     height: auto;
    padding: 8px;
}

#mw-dialog-holder-mw-module-settings-editor-front .mw-dialog-container,
.mw-dialog-module-settings .mw-dialog-container{
    padding: 0 !important;
}


.copyright .text-muted a {
    color: var(--gray);
}


#quick-parent-selector-tree .mw-tree-nav-skin-default .mw-tree-item-title{
    padding-right: 0;
}

.mw-btn-icon{
    padding: 6px 10px;
  font-size: 20px;
 margin: 0 10px;
 border-radius: 3px;
 cursor: pointer;
}

#content-tags-search-block .mw-select{
    width: 100%;
}



@media screen and (max-width: 1024px) and (min-width: 768px){

    .manage-posts-holder-inner > .card-product-holder .item-author {
        display: none;
    }

}

.mw-custom-field-icon-color:before {
    content: '\F0765';

}

.mw-custom-field-icon-country:before {
    content: '\F0826';

}

.custom-fields-add-buttons [class*='mw-custom-field-icon-'] {
    font-size: 25px;
    display: block;
    margin-bottom: 10px;
}

.custom-fields-add-buttons button .mw-custom-field-title text-break-line-1 {
    font-size: 12px;
}

.custom-fields-add-buttons button {
    width: 20%;
    text-align: center;
    display: block;
    float: left;
}

.custom-fields-add-buttons button:hover {
    background: #f2f3f5;
}

.card-closed {
    width: auto !important;
    display: inline-block;
}

.card .card-header {
    /*cursor: pointer;*/
}

.card-closed .card-header:first-child {
    border-radius: 10px;
}

.card-closed .card-header:after {
    display: none;
}

.content-title-field-row .card-header:after{
    border: none!important;
}

.btn .mdi{
    font-size: 16px;
    margin-inline-end: 6px;
}

@media (max-width: 1024px) {


    .btn .mdi{
        margin-inline-end: 0px;
        margin-inline-start: 0px;

    }

}



.mw-bs-card-collpase[aria-expanded="true"]:before{
    content: "\F015A";
}
.mw-bs-card-collpase[aria-expanded="true"]{

    font: normal normal normal 24px/1 "Material Design Icons";
    color: #4592ff;
    font-size: 1.4em;
    position: absolute;
    right: 10px;
    top: 10px;

}
.mw-bs-card-collpase:not([aria-expanded="true"]){
    position: absolute;
    inset: 0;
    z-index: 3;
    cursor: pointer;
}

.one-column-module-layouts-viewer {
    column-count: 1!important;
}

.mw-editor-wrapper module.module:after{
    content: attr(data-mw-title);
}

.mw-editor-wrapper module.module {
    display: flex;
    height: 100px;
    width: 100%;
     position: relative;
    pointer-events: none;
    border: 3px dashed #ccc;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.mw-ui-box.mw-module-settings-box .mw-ui-box-header [data-action="remove"]:hover{
    color: #c50000;
}
.mw-ui-box.mw-module-settings-box .mw-ui-box-header [data-action="remove"]{
    font-size: 19px;
    color: #797979;
    line-height: 20px;
    cursor: pointer;
}
