.orders-holder .you-have-new-orders p.new-orders {
    color: #0086db;
    font-size: 14px;
    font-weight: bold;
}

.orders-holder .you-have-new-orders p.no-new-orders {
    color: #333333;
    font-size: 24px;
    text-align: center;
}

.orders-holder .you-have-new-orders p.no-new-orders span {
    color: #0086db;
    font-size: 80px;
    text-align: center;
}

.orders-holder .you-have-new-orders .order-holder {
    background: #ecf9d7;
}

/* UI Box */
.mw-ui-settings-box {
    background: #fafafa;
    padding: 15px 25px;
    margin-bottom: 10px;
}

.mw-ui-settings-box.box-white {
    background: #fff;
}

.mw-ui-settings-box.box-enabled {
    background: rgba(170, 237, 154, 0.18);
}

.mw-ui-settings-box.box-disabled {
    background: rgba(255, 192, 210, 0.18);
}

.new-notification {
    background: #a7d55e;
    color: #2f5816;
    font-size: 14px;
}

.new-notification span {
    font-size: 16px;
    margin-right: 6px;
}

.new-warn {
    background: #f6ecb2;
    color: #b47112;
    font-size: 14px;
}

.new-warn span {
    font-size: 16px;
    margin-right: 6px;
}

.mw-ui-box .close-alert {
    position: absolute;
    right: 15px;
    font-size: 10px !important;
    border: 0;
    background: none;
    cursor: pointer;
    outline: none !important;
    top: 15px;
}

.mw-ui-box-notification .close-alert {
    color: #2f5816;
}

.mw-ui-box-warn .close-alert {
    color: #b47112;
}

/* Stats */
.stats-view .visitors {
    margin: 0 7px;
    padding: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.stats-view .visitors .visitor {
    border-bottom: 1px solid #e5e5e5;
    padding: 7px 0;
}

.stats-view .visitors .visitor:last-of-type {
    border-bottom: 0;
}

.stats-view .visitors .visitor .top-row {
    clear: both;
    width: 100%;
}

.stats-view .visitors .visitor .top-row .flag {
    width: 20px;
    margin-right: 10px;
}

.stats-view .visitors .visitor .top-row .flag,
.stats-view .visitors .visitor .top-row .visitor-name {
    float: left;
    font-size: 13px;
}

.stats-view .visitors .visitor .top-row .timestamp {
    float: right;
    min-width: 100px;
    text-align: right;
    font-size: 11px;
    color: #858681;
}

.stats-view .visitors .current-page-row {
    display: block;
    width: 100%;
    font-size: 11px;
    margin: 10px 0;
}

.stats-view .visitors .visitor .referral img {
    width: 16px;
}

.stats-view .visitors .visitor .page-dots {
    border: 1px solid #e5e5e5;
    clear: both;
    height: 14px;
    padding: 1px;
    margin-top: 2px;
}

.stats-view .visitors .visitor .page-dots .page-circle {
    float: left;
    display: block;
    margin: 0 1px 0 0;
    width: 5px;
    height: 10px;
    background: #ccc;
    -webkit-box-shadow: inset 0 -1px 2px rgba(0, 0, 0, .15), inset 0 1px 0 rgba(255, 255, 255, .25);
    box-shadow: inset 0 -1px 2px rgba(0, 0, 0, .15), inset 0 1px 0 rgba(255, 255, 255, .25);

}

.stats-view .contents {
    margin: 0 7px;
    padding: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.stats-view .contents .content {
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}

.stats-view .contents .content .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #4B555C;
    padding: 7px 10px 10px 10px;
    font-weight: bold;
}

.stats-view .contents .content .slug {
    white-space: nowrap;
    color: #323538;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0px 10px 7px 10px;
}

.stats-view .contents .content .cnt {
    text-align: right;
    padding: 7px 10px 7px 0;
    font-weight: bold;
}

.stats-view .contents .content .content-progressbar {
    background-color: rgba(177, 177, 177, 0.13);
    display: block;
    height: 57px;
    position: absolute;
}

.stats-view .sources {
    margin: 0 7px;
    padding: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.stats-view .sources ul {
    list-style-type: none;

}

.stats-view .sources .source {
    border-bottom: 1px solid #e5e5e5;
}

.stats-view .sources .source .subsources {
    display: none;
    padding: 5px 10px 5px 25px;
    list-style-type: none;
}

.stats-view .sources .source .subsources li {
    padding: 5px 0;
    clear: both;
}

.stats-view .sources .source .subsources li span.subsource-url {
    display: block;
    float: left;
}

.stats-view .sources .source .subsources li span.subsource-cnt {
    display: block;
    float: right;
}

.stats-view .sources .source.active .subsources {
    display: block;
}

.stats-view .sources .source .arrow {
    vertical-align: middle !important;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    position: relative;
    display: inline-block;
    font-size: 100%;
    vertical-align: middle;
    padding: 5px 3px 5px 5px;
    width: 20px;
    text-align: center;
    color: #868686;
}

.stats-view .sources .source .source-name,
.stats-view .sources .source .icon-wrapper {
    display: inline-block;
}

.stats-view .sources .source .source-name span {
    display: inline-block;
    vertical-align: middle;
}

.stats-view .sources .source .icon-wrapper img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.stats-view .sources .source .arrow:before {
    content: "\f10a";
    display: inline-block;
    font-family: Microweber !important;
    text-transform: none !important;
    font-size: 18px;
}

.stats-view .sources .source.active .arrow:before {
    content: "\0118";
    /*font-size: 20px;*/

}

.stats-view .sources .source .source-title {
    position: relative;
    width: 100%;
    display: block;
}

.stats-view .sources .source .source-progressbar {
    background-color: rgba(177, 177, 177, 0.13);
    display: block;
    height: 28px;
    position: absolute;
}

.stats-view .sources .source .cnt {
    text-align: right;
    min-width: 35px;
    padding: 7px 10px 7px 0;
    font-weight: bold;
    right: 0;
    display: block;
    position: absolute;
    top: 0;
}

.stats-view > .mw-ui-col {
    width: 33%;
}

.stats-view .heading {
    margin: 0 7px;
    padding: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
    font-weight:bold;
}