


.mw-ui-category-selector{
    position: relative;
    padding: 0;
    background:#FFFFFF;
    border:1px solid #DCDCDC;
    border-top-color:#BDBDBD;
    overflow: hidden;
    border-radius:2px;
    overflow: auto;
    display: none;
    height: 200px;
    min-height: 115px;
    resize: vertical;
}

.mw-ui-category-selector-abs{
    position: absolute;
    z-index: 99;
    min-width: 100%;
    width: auto;
    left: 0;
    top: 46px;
    max-height: 300px;
    box-shadow: 0 4px 10px -6px #999;
}



.mw-ui-category-selector div.module-categories-selector {
    overflow-y: auto;
    overflow-x:hidden;
    padding: 5px 15px;
}
.mw-ui-category-selector div.module-categories-selector * {
  resize:none; /* webkit strange inheritance bug for resize property */
}

.mw-ui-category-selector li{
  list-style: none;
  clear: both;
  padding: 0 20px;
}

.mw-ui-category-selector li a{
    display: block;
    padding: 5px 0;
    overflow: hidden;
    line-height: 24px;
    resize:none; /* !!!webkit */
}
.mw-ui-category-selector li a:hover{
  background-color: rgba(255, 255, 255, 0.5);
}

.mw-ui-category-selector div.module-categories-selector  .mw-ui-check input[type="radio"] + span{
  top: 0;
}


.cat_selector_view_ctrl{
  clear: both;
  padding:7px  10px;
  font-size: 11px;
  position: absolute;
  z-index: 2;
  right: 15px;
  top: 6px;
  display: none;
}

.cat_selector_view_ctrl a{
  padding:2px 12px;
  border: 1px solid transparent;
  font-size: 11px;
  border-radius:2px;
}

.cat_selector_view_ctrl a.active{
  background:#E1E1E1;
  border-color:#BDBBBB;
}

.mw-tag-selector {
  cursor: text;
  width: auto;
  display: block;
  min-height: 40px;
  padding-bottom: 2px;
}


.mw-tag-selector.mw-ui-field-full{
  width: 100%;
}


.mw-tag-selector > span > i{
  font-size: 16px;
  color: #E8E8E8;
  margin-right: 7px;
  margin-top: 1px;
  float: left;
}

.mw-tag-selector > span > i:after{
  font-family: Microweber;
  font-style: normal;
}

.mw-tag-selector > span > i.have_category:after{ content:'\0071' }

.mw-tag-selector > span > i.is_page:after{ content:'\0071';}
.mw-tag-selector > span > i.category_element:after{ content:'\0063'; }
.mw-tag-selector > span > i.is_shop:after{content:'s';}
.mw-tag-selector > span > i.is_blog:after{ content:'\0062'; }
.mw-tag-selector > span > i.is_home:after{ content:'\0105' }


div.mw-custom-fields-tags a.ui-draggable-dragging:after{
  display: none !important;
}

.mw-tag-selector .mw-ui-invisible-field{
  font-size: 11px;
  padding: 2px 0;
  color: #8C8C8C;
}

.mw-tag-selector{
    background: #fafafa
}

.mw-tag-selector .mw-ui-btn{
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  padding-right: 16px;
  height: 24px;
  line-height:16px;
  background-color: #fff;
  border-color:#eaeaea;
}

.mw-tag-selector .mw-ui-btn:hover{
    background: #0086db;
    color:#fff;
}

.tag-label-content{
  position: relative;
  top: 0;
  margin-right: 5px;
  line-height: 180%;
}




.mw-text-checker{
  display: inline !important;
}

.advanced_settings_holder{
  display: none;
}

.mw-ui-check-selector{
  line-height: 14px;
}

.mw-ui-check-selector  .mw-ui-check span{
  margin: 0 3px 3px;
}



.post-thumb-uploader{
  width: 129px;
  height: 129px;
  border: 2px dashed #8DBF2D;
  background:#EBFFE0 url(../img/add_img_thumbnail.png) no-repeat center center;
  overflow: hidden;
  cursor: pointer;
  float: left;
  margin: 0 15px 15px 0;
  position: relative;
}
#backend_image_uploader_label{
  position: absolute;
  top: 82px;
  left: 0;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 11px;
  color: #8DBE2C;
}


.post-thumb-uploader:hover{
  border-color: #618D0D;
  background-color: #D8FFC4;
}

.post-thumb-uploader:hover #backend_image_uploader_label{
  text-decoration: underline
}


.admin-thumbs-holder{
  padding-top: 5px;
}

.mw-post-media-img{
  display: block;
  position: relative;
  float: left;
  width: 131px;
  height: 131px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: white;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.ui-sortable-helper .mw-post-media-img{
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.admin-thumbs-holder .admin-thumb-item:first-child .mw-post-media-img:after{
    content: ".";
    display: block;
    height: 17px;
    width: 17px;
    text-indent: -9999px;
    background: url(../img/postthumbnail.png) no-repeat;
    position: absolute;
    top: 2px;
    right: 2px;
}

.admin-thumb-item .mw-ui-check span{
  margin-right: 0 !important;
}

.admin-thumb-item .mw-ui-check{
  position: absolute;
  bottom: 9px;
  right: 0;
  z-index: 1;
  /*visibility: hidden;
  opacity: 0;*/
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.select_actions > span{
  cursor: pointer;
  font-size: 20px;
}

#select_dropdown{
  float: left;
}

.select_actions_holder:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.select_actions_holder{

}

.select_actions{
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  float: right;
}

.select_actions .mw-ui-btn{
  width: 40px;
}

.btnnv-label{
  float: left;
  margin: 3px 7px 0 0;
}

.select_actions.active{
  opacity: 1;
  visibility: visible;
}

.do-select .admin-thumb-item .mw-ui-check{
  visibility: visible;
  opacity: 1;
}

.admin-thumb-item{
  display: block ;
  position: relative ;
  float: left;
  width: 125px;
  height: 165px;
  margin: 0 12px 15px 0;
}


.admin-thumbs-holder .admin-thumb-item:first-child{
  margin-left: 0;
}



.uimprogress{
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: #D8FFC4;
  width: 0%;
  overflow: hidden;
  font-size: 10px;
  padding:1px 0;
  color: #618D0D;
  font-style: normal;
  text-align: center;
}



.admin-thumb-item-loading .mw-post-media-img{
  background: #F7F7F7 /*url(../img/img_check_loading.gif) no-repeat center center*/;
}


.mw-post-media-img-edit{
  clear: both;
  padding-top: 5px;
}
.mw-post-media-img-edit-temp{
  text-align:right;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap
}

.mw-post-media-img-edit input{
  width: 100%;
}

.mw-post-media-img-edit .image-tags{
    display: none;
    margin-top: 3px;
}

.mw-post-media-img-edit{
  display: none;
}

.mw-post-media-img-edit .mw-icon-close,
.image-tag-view{
    position: absolute;
    border: none;
    top: 0;
    right: 0;
    background: white;
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 3px 5px;
    cursor: pointer;
    font-size: 12px;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: none;
    height: 19px;
}


.image-tag-view{
    left: 0;
    right: auto;
    padding-top:2px;
    display: none !important;
}

.admin-thumb-item:hover .mw-post-media-img-edit .mw-icon-close,
.admin-thumb-item:hover .image-tag-view{
    display: inline-block;
}




.admin-thumb-item:hover .mw-post-media-img-edit input, .mw-post-media-img-edit input:focus{
  border-color: #BDBDBD
}

.mw-icon-close:hover{
  opacity:1;
}

.admin-thumb-item.ui-sortable-helper .mw-post-media-img{
  box-shadow: 0 0 18px -14px #111;
}
.admin-thumb-item.ui-sortable-helper .mw-post-media-img-edit{
  visibility: hidden;
}

.admin-thumbs-holder .admin-thumb-item-placeholder{
  display: block;
  float: left;
  position: relative;
  margin: 0 15px 45px 0;
  width: 131px;
  height: 131px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #FFFF66;
  border: 1px dotted #235F99;
  visibility: visible !important;
}




#pages_edit_container{
  position: relative;
  -webkit-transition: left 0.4s;
  -moz-transition: left 0.4s;
  -o-transition: left 0.4s;
  transition: left 0.4s;
}




#pages_edit_container .page_posts_list_tree li{
  list-style: none;
}

#pages_edit_container .page_posts_list_tree li > a{
  display: block;
  position: relative;
  padding: 15px 0 15px 95px;
  background-image:url(../img/static.big.png);
  background-repeat: no-repeat;
  background-position:  25px 50%;
  background-color: white;
  border-bottom: 1px solid #D9D9D9;
}

#pages_edit_container .page_posts_list_tree li:last-child > a{
  border-bottom: none;
}
#pages_edit_container .page_posts_list_tree li:first-child > a{
  border-top: 1px solid #D9D9D9;
}

body #pages_edit_container .page_posts_list_tree li a.depth-2{padding-left: 125px;background-position: 44px 50%;}
body #pages_edit_container .page_posts_list_tree li a.depth-3{padding-left: 145px;background-position: 66px 50%;}
body #pages_edit_container .page_posts_list_tree li a.depth-4{padding-left: 165px;background-position: 88px 50%;}

#pages_edit_container .page_posts_list_tree li a .mw_toggle_tree{
  display: none;
}

#pages_edit_container .page_posts_list_tree li > a:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#pages_edit_container .page_posts_list_tree li > a:hover{
  background-color: #F9F9F9;
}

#pages_edit_container .page_posts_list_tree li.category_element > a{
    background-image: url(../img/cat.big.png);
    background-position: 22px 50%;
}

#pages_edit_container .page_posts_list_tree li.have_category > a{
    background-image: url(../img/dynamic.big.png);
}



#pages_edit_container .page_posts_list_tree li.is_shop > a{
    background-image: url(../img/shop.big.png);
    background-position:  21px 50%;
    background-size: 24px auto;
}

#pages_edit_container .page_posts_list_tree li.is_blog > a{
   background-image: url(../img/blog.big.png);
   background-position: 23px 50%;
}

#pages_edit_container .page_posts_list_tree li.is_home > a{
   background-image: url(../img/home.big.gif);
   background-position: 23px 50%;
}


.mw_upload_frame{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.mw-ui-btn.go-live:hover{
  background: #D3EEFE;
  border-color: #A1D1EF #589DC8 #4991C0;
}







.mw-file-browser  .mw-ui-box-header a{
  margin: 0 3px;
}

.mw-file-browser .mw-ui-box-content{
  overflow-x:hidden;
  overflow: auto;
}
.mw-file-browser .mw-ui-box-header{
  margin-bottom: 0;
}

.mw-file-browser  .mw-ui-box-header a:hover{
  text-decoration: underline;
}

.mw-browser-list ul, .mw-browser-list li{
  display: inline-block;
  padding: 8px;
  list-style: none;
  position: relative;
}

.mw-browser-list li .mw-icon-close{
  visibility: hidden;
  cursor: pointer;

}

.mw-browser-list li .mw-ui-check + .mw-icon-close{
    float: right;
    margin-top: 2px;
}

.mw-browser-list li:hover .mw-icon-close{
  visibility: visible;
}

.mw-browser-list a{
  display: inline-block;
  text-align: center;
  font-size: 10px;
  width: 55px;
  text-decoration: none;
  color: #434343;
  padding: 3px 0;
  border-radius:3px;
}
.mw-browser-list a:hover{
  text-decoration: underline;
}

.mw-browser-list a [class*='mw-icon-']{
  float: none;
}
.mw-browser-list a input[type='text']{
  font-size: 11px;
  width: 95%;
}

.mw-browser-list a img + span,
.mw-browser-list a .mw-fileico + span,
.mw-browser-list a [class*='mw-icon-'] + span,
.mw-browser-list a [class*='mw-icon-'] + span{
  display: block;
  clear: both;
  overflow: hidden;
  text-overflow:ellipsis;
  text-align: center;
  white-space: nowrap;
}

.mw-file-item-check{
  clear: both;
  text-align: center;
  padding: 5px 0;
  overflow: hidden;
}

#admin_notifications .mw-success{
  background-color: rgba(72, 173, 121, 0.7);
}

#admin_notifications .mw-notification-new{
    background: #f5f5f5
}







.mw-scaleto{
  position: fixed;
  z-index: 9998;
  top: 50%;
  left:50%;
/*  transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;*/
}


#mw-main-postpage-editor.mw-scaleto{
  background: white;
  padding: 0 20px 20px;
  box-shadow:0 0 6px #ccc;
}



#mw-main-postpage-editor.mw-scaleto iframe{
  width: 100%;
  height: 535px;
  height: 85%;
  height: calc(100% - 70px);
  height: -webkit-calc(100% - 70px);
}

#mw-main-postpage-editor-drag-handle{
  display: none;
  height: 20px;
  cursor: move;
}

.mw-scaleto #mw-main-postpage-editor-drag-handle{
  display: block;
}

#mw-main-postpage-editor-drag-handle .mw-close{
  position: absolute;
  right: 8px;
  top: 8px;
}



body.mw-external-loading:after{
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background: white url(../img/img_check_loading.gif) no-repeat center center;
  opacity:.8;
}

.mw-save-content-bar{
  clear: both;
  text-align: right;
  padding: 12px 0;
}



#module-modal-settings-menu-holder .mw-dropdown-content{
  width: 220px;
  font-size: 11px;
  padding: 12px;
}

#module-modal-settings-menu-holder .mw-dropdown-content ul{
  list-style: none;
  padding: 0;
  margin:0;
}


#module-modal-settings-menu-holder .mw-dropdown-content .mw-close{
  margin-top: 7px;
}

#module-modal-settings-menu-holder  ul .module-templates-action-btn{
      float: right;
      margin-right: 10px;
}

.mw-before-leave-container{
  text-align: center;
}

.mw-before-leave-container p{
  padding: 16px 0;
}


.mw-before-leave-container [class*='confirm-btn']{
  margin:10px 13px 8px;
  width: 165px;
  opacity: 0.6;
}

.mw-before-leave-container [class*='confirm-btn']:hover{
  opacity: 1;
}



[class*='confirm-btn']{
  display: inline-block;
  text-align: center;
  font-size:12px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding:12px;
  cursor: pointer;
}

.confirm-btn-red{
  color: white !important;
  border-color: #ED4B12;
  background: #ED4B12;
}

.confirm-btn-green{
  background: #C5FFA8;
  border-color: #BAC99C;
  color: #4D7301;
}


.mw_alert_holder{
  font-size: 17px;
}






.add-edit-page-post .toggle-active{
    background:#FAFAFA;
    margin: 10px 0 5px;
    padding: 15px;
}
.add-edit-page-post .mw-layout-selector-holder{
  background: none;
  padding: 15px 0;
}

.add-edit-page-post .toggle-active:after{
  content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}



#page_title_and_url{
  padding-bottom: 20px;
}





.quick_done_alert{
  padding: 12px;
  text-align: center;
}

#mw-ui-category-selector-manage{
  border: none;
  background: transparent
}


#mw-ui-category-selector-manage > ul > li{
  padding-left: 0;
}



#mw-ui-category-selector-manage > ul > li a{
  padding-left: 20px;
  position: relative;
}

.category-edit-label{
  position: absolute;
  right: 12px;
    top: 6px;
  font-size: 12px;
  color: #0078ff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  pointer-events: none;
}
#mw-ui-category-selector-manage > ul > li a:hover {
  background: white;
}

#mw-ui-category-selector-manage > ul > li a:hover .category-edit-label{
  opacity: 1;
}







