.mw-file-manager-list-item-thumb{
    display: inline-flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    font-size: 12px;

}
.mw-file-manager-root{
    color: #2b2b2b;
}
.mw-file-manager-root[data-view="list"] .mw-file-manager-list-item-thumb{
    width: 46px;
    height: 43px;
}

.mw-file-manager-root[data-view="list"] .mw-file-manager-view-table th{
    white-space: nowrap;
    font-size: 12px;
    font-weight: normal;

    border-bottom: 1px solid #dbdcdd;

}
.mw-file-manager-root[data-view="list"] .mw-file-manager-list-item-thumb-image{

}
.mw-file-manager-root .mw-file-manager-list-item-thumb-folder{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z' /%3E%3C/svg%3E");
}


.mw-file-manager-view-table {
    width: 100%;
}

.mw-file-manager-view-table thead.sticky-true > tr > th{
    position: sticky;
    top: 0;
}

.mw-file-manager-view-table tbody tr.selected,
.mw-file-manager-view-table tbody tr.selected td{
    background-color: rgb(204, 222, 255);
}
.mw-file-manager-view-table tr > *{
    padding: 10px;

}
.mw-file-manager-view-table tr > *:last-child{
    width: 40px;
    text-align: right;
}

.mw-file-manager-view-table th[data-sortable]{
    cursor: pointer;
}
.mw-file-manager-view-table th.asc[data-sortable]:after,
.mw-file-manager-view-table th.desc[data-sortable]:after{
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M222.138,91.475l-89.6-89.6c-2.5-2.5-6.551-2.5-9.051,0l-89.6,89.6c-2.5,2.5-2.5,6.551,0,9.051s6.744,2.5,9.244,0L122,21.85 V249.6c0,3.535,2.466,6.4,6,6.4s6-2.865,6-6.4V21.85l78.881,78.676c1.25,1.25,2.992,1.875,4.629,1.875s3.326-0.625,4.576-1.875 C224.586,98.025,224.638,93.975,222.138,91.475z'/%3E%3C/svg%3E");
    display: inline-block;
    width: 10px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: transform .3s;
    vertical-align: top;
    margin: 0 0 0 7px;
}

.mw-file-manager-view-table th.desc[data-sortable]:after{
    transform: rotateX(180deg);
}

.mw-file-manager-view-table tbody tr:hover > *{
    background-color: #fafafa;
}


.mw-file-manager-list-item-options-button:before{
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    margin-bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    color: #fff;
    background: #2b2b2b;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
    border-radius: 3px;
    pointer-events: none;
}
.mw-file-manager-list-item-options-button:hover:before{
    opacity: 1;
    visibility: visible;
}
.mw-file-manager-list-item-options-button{
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 25px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 3px;
    text-align: center;
    font-size: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px auto;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z' /%3E%3C/svg%3E");
}

.mw-file-manager-list-item-options-button:hover{
    background-color: #f2f3f5;
}

.mw-file-manager-list-item-options{
    position: relative;
}

.mw-file-manager-list-item-options-list > *{
    display: block;
    cursor: pointer;
    padding: 10px;
}
.mw-file-manager-list-item-options-list > *:hover{
    background-color: #f2f3f5;
}
.mw-file-manager-list-item-options-list{
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
    transform: scale(.8);
    transform-origin: center top;
    text-align: left;

}

.mw-file-manager-list-item-options.active {
    z-index: 1;
}
.mw-file-manager-list-item-options.active .mw-file-manager-list-item-options-list{
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}

.mw-filemanager-actions-bar{
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
}

.mw-file-manager-root[data-view="grid"] thead th:empty{
    display: none;
}
.mw-file-manager-root[data-view="grid"] thead,
.mw-file-manager-root[data-view="grid"] tbody{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: start;
    align-content: flex-start;
}

.mw-file-manager-root[data-view="grid"] tr,
.mw-file-manager-root[data-view="grid"] tr td,
.mw-file-manager-root[data-view="grid"] tr th{
    display: block;
}
.mw-file-manager-root[data-view="grid"] tr .mw-file-manager-list-item-options{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.mw-file-manager-root[data-view="grid"] tr .mw-ui-check{
    position: absolute;
    bottom: 5px;
    left: 10px;
}
.mw-file-manager-root[data-view="grid"] tr{
    width: 160px;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-bottom: 35px;
}


.mw-file-manager-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dbdcdd;
    padding: 0px 0 12px;
}

.mw-file-manager-bar-view-type-selector{
    display: inline-block;
}

.mw-file-manager-bar-path-root{
    text-align: left;
    flex: 1;
    padding: 0 20px;
}
.mw-file-manager-bar-path{
    display: inline-block;
    max-width: 90%;
    overflow:hidden;
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mw-file-manager-bar-path > * + *:before{
    display: inline-block;
    content: '/';
    margin: 0 5px;
}
.mw-file-manager-bar-path > *{
    display: inline-block;
}

.mw-file-manager-root[data-view="list"]  .mw-file-manager-list-item-thumb-image-cell{
    width: 70px;
}
.mw-file-manager-root[data-view="list"]  .mw-file-manager-list-item-check-cell{
    width: 40px;
}
.mw-file-manager-root[data-view="list"]  .mw-file-manager-list-item-thumb-file{
    background-color: #b7b7b7;
    font-weight: bolder;
    border-radius: 3px;
    font-size: 10px;
    text-transform: uppercase;
}

.mw-file-manager-root[data-view="grid"] .mw-file-manager-list-item-thumb{
    width: 140px;
    height: 140px;
}

.mw-file-manager-root[data-view="grid"] .mw-file-manager-list-item-thumb-folder{
    background-size: 50px auto;
}

.mw-file-manager-root[data-view="grid"]  thead{
    display: none !important;
}
.mw-file-manager-root[data-view="grid"]  .mw-file-manager-list-item-thumb-file{
    background-color: #b7b7b7;
    font-weight: bolder;
    border-radius: 3px;
    font-size: 20px;
    text-transform: uppercase;
}
