/* live edit */

.toolbar-sections-tabs{
    float: right;
}

#mw-toolbar-right{
    float: left;
}

.wysiwyg-undo-redo{
    float: right;
}

.toolbar-sections-tabs > ul > li{
    float: right;
}

#live_edit_toolbar_holder [class*='tst-']{
    border-right:0;
    border-left:1px solid #EAEAEA;
}

.mw-toolbar-add-new-content-ctrl {
    margin: 9px 12px 0 0 !important;
}

.create-content-dropdown-list{
    left:0 !important;
    right:auto;
}

#sidebar-hidden-area{
    left:0;
    right:auto;
}

.mw-toolbar-add-new-content-ctrl{
    width: auto;
    margin-left:10px !important;
}

.mw-ui-navigation a>[class*=mw-icon-] {
    margin-right:0;
    margin-left:8px;
}

.mw_edit_delete{
    left: 0px !important;
    right: auto !important;
}
#mw_handle_module_up, #mw_handle_module_down{
    right: auto;
    left: 30px;
    float: left;
}

