.mw-gallery{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1102;
}

.mw-gallery-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
}

.mw-gallery-content{
    position: relative;
    z-index: 1;
    max-height: 100vh;
    max-width: 100vw;
}

.mw-gallery-item{
    position: absolute;
}

.mw-gallery-prev,
.mw-gallery-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 50px;
    color: white;
    display: inline-block;
    padding: 20px;
}
.mw-gallery-prev:after{
    content: '\2039';
}
.mw-gallery-prev{
    left: 20px;
}
.mw-gallery-next{
    right: 20px;
}

.mw-gallery-next:after{
    content: '\203A';
}
