* {
    margin: 0;
    padding: 0;
}

a, input, textarea, select {
    outline: none;
}

html, body {
    height: 100%;
}

body {
    overflow-y: auto;
}

/*.mw-ui-btn-nav-tabs .mw-ui-btn.active {
    background: #262626;
    color: white;
    font-weight: bold;
    border-color: black;
}

.mw-ui-btn-nav-tabs-new .mw-ui-btn.active {
    background: #0086db;
    color: white;
    font-weight: bold;
    border-color: #0086db;
}*/

.mw-popup-footer {

    height: 60px;
}


.mw-popup-footer-content {
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    padding: 12px;
    box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.17);
    z-index: 9;
    background: white;
    height: 60px;
}



select.mw-ui-field:hover {
    /*border-color: #82c4ed;*/
    /*border-color: #cdcdcd;*/
    -webkit-box-shadow: 0 0 4px #82c4ed;
    box-shadow: 0 0 4px #82c4ed;
}

.prop-ui-field-holder .mw-ui-field-icon+input{
    max-width: -webkit-calc(100% - 2.923rem);
    max-width: calc(100% - 2.923rem);
}
.prop-ui-field-holder .mw-ui-field{
    width: 100%;
}

#settings-main #settings-container {
    padding: 25px;
}