*{
  margin: 0;
  padding: 0;
}
a, input, textarea, select{
  outline: none;
}
html, body{
  height: 100%;
}
body{
  overflow-y: scroll;
}



.mw-ui-btn-nav-tabs .mw-ui-btn.active{
     background: #262626;
    color: white;
    font-weight: bold;
    border-color: black;
}
