[contenteditable] {
    outline: none;
}

/* FONTS */

.isTyping .mw-plus-bottom,
.isTyping .mw-columns-resizer,
.isTyping .mw-plus-top {
    visibility: hidden !important;
}

#mw-text-editor {
    width: 100%;
    min-height: 35px;
    background: #F5F5F5;
    z-index: 996;
}

.mw_editor.disabled, #mw_small_editor.disabled,
.mw_editor.disabled *, #mw_small_editor.disabled * {
    cursor: default;
}

.mw_editor.disabled:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 99;
}

#mw-text-editor:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#mw-admin-text-editor {
    width: 100%;
    min-height: 35px;
    background: #fff;
}

.editor_wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#mw-text-editor.hover {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.mw_editor {
    line-height: normal;
}

.mw_editor_btn {
    display: inline-block;
    float: left;
    cursor: pointer;
    height: 25px;
    padding: 1px;
    border-radius: 1px;
    position: relative;
}

.mw-editor-disabled #liveedit_wysiwyg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: #F5F5F5;
    opacity: 0.8;
    cursor: default;
    visibility: visible;
    z-index: 99;
}

.mw-editor-disabled .wysiwyg-convertible.active {
    display: none !important;
}

.editor_wrapper {
    padding: 0px;

}

.mw_editor_btn:hover, .mw_editor_btn_active, .wysiwyg-convertible-toggler.active {
    border: 1px solid #dadada;
    padding: 0;
    background: #fff;
}

.mw_editor_btn_mousedown, .mw_editor_btn_mousedown:hover {
    box-shadow: 0 0 6px #CCCCCC inset;
}

.mw_editor_btn.disabled,
.mw_editor_btn.disabled:hover,
.mw_editor_btn.disabled.mw_editor_btn_mousedown,
.mw_editor_btn.disabled.mw_editor_btn_mousedown:hover {
    cursor: default;
    background: none;
    border-color: transparent;
    box-shadow: none;
}

.mw_editor_btn_active {
    box-shadow: inset 0 0 4px #ccc;
}

.mw_dlm {
    height: 17px;
    width: 1px;
    overflow: hidden;
    position: relative;
    background: #D1D1D1;
    border-right: 1px solid #FFFFFF;
    display: inline-block;
    float: left;
    margin-top: 6px;
}

.mw_dlm_style {
    height: 61px;
}

.mw_editor_btn .ed-ico {
    background-image: url(../img/editor.png);
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    display: inline-block;
}

.wyswyg-ico {
    background-image: url(../img/editor.png);
    background-repeat: no-repeat;
    height: 19px;
    width: 25px;
    float: left;
    display: inline-block;
}

.wyswyg-ico.mw_editor_bold {
    background-position: -91px 0;
}

.wyswyg-ico.mw_editor_ol {
    background-position: -401px 0;
}

.wyswyg-ico.mw_editor_justifyleft {
    background-position: -525px 0;
}

.wysiwyg_external {
    position: fixed;
    top: -9999px;
    z-index: 1101;
}

.mw_editor_bold .ed-ico {
    background-position: -89px 5px;
}

.mw_editor_italic .ed-ico {
    background-position: -119px 5px;
}

.mw_editor_underline .ed-ico {
    background-position: -150px 6px;
}

.mw_editor_strike .ed-ico {
    background-position: -715px 4px;
}

.mw_editor_font_color .ed-ico {
    background-position: -181px 3px;
    width: 33px;
}

.mw_editor_font_background_color .ed-ico {
    background-position: -215px 6px;
    width: 33px;
}

.mw_editor_undo .ed-ico {
    background-position: -802px 4px;
}

.mw_editor_redo .ed-ico {
    background-position: -756px 4px;
}

.mw_editor_prev .ed-ico {
    background-position: -12px 4px;
}

.mw_editor_next .ed-ico {
    background-position: -42px 4px;
}

.mw_editor_justifyleft .ed-ico {
    background-position: -525px 4px;
}

.mw_editor_justifycenter .ed-ico {
    background-position: -551px 4px;
}

.mw_editor_justifyright .ed-ico {
    background-position: -577px 4px;
}

.mw_editor_justifyfull .ed-ico {
    background-position: -603px 4px;
}

.mw_editor_ul .ed-ico {
    background-position: -427px 4px;
}

.mw_editor_ol .ed-ico {
    background-position: -401px 4px;
}

.mw_editor_indent .ed-ico {
    background-position: -479px 4px;
}

.mw_editor_outdent .ed-ico {
    background-position: -452px 4px;
}

.mw_editor_link .ed-ico {
    background-position: -285px 4px;
}

.mw_editor_image .ed-ico {
    background-position: -321px 4px;
}

.mw_editor_remove_formatting .ed-ico {
    background-position: -351px 4px;
}

.mw_editor_t .ed-ico {
    background-position: -848px 3px;
}

.mw_editor_css_editor .ed-ico {
    background-image: url(../img/editor.css_editor.png);
    background-position: center center;
	opacity: 0.75;
}

.mw_editor_html_editor .ed-ico, .mw_editor_html_editor_ico {
    background-image: url(../img/editor.html_editor.png);
    background-position: center center;
	opacity: 0.75;
}
 
.mw_editor_unlink .ed-ico {
    background-image: url(../img/editor.link_active.png);
    background-position: center center;
}

.mw_editor_element .ed-ico {
    background-position: -637px 4px;
}

.mw_editor_design .ed-ico {
    background-position: -667px 4px;
}

.wysiwyg_checker {
    display: none;;
}

.mw_dlm {
    margin-left: 10px;
    margin-right: 10px;
}

#mw_small_editor {
    position: absolute;
    left: -9999px;
    top: -9999px;
    visibility: hidden;
    z-index: 1003;
    width: 250px;
    height: 68px;
    border: 1px solid #DCDCDC;
    background: #F5F5F5;
    border-radius: 1px;
}

#font_family_selector_small {
    width: 105px;
}

.mw_small_editor.mw-editor-disabled {
    display: none !important;
}

#mw_small_editor:hover {
    opacity: 1 !important;
}

#mw_small_editor .mw_dlm {
    margin-left: 0px;
    margin-right: 0px;
}

#mw_small_editor .mw_small_editor_top .mw_dlm {
    margin-left: 1px;
    margin-right: 1px;
}

.mw_small_editor_bottom,
.mw_small_editor_top {
    padding: 3px;
}

.mw_small_editor_top {
    border-bottom: 1px solid #DCDCDC;
}

.mw-dropdown-type-wysiwyg {
    height: 25px;
    width: 75px;
    float: left;
    border: 1px solid transparent;
    color: #595959;
    border-radius: 0px;
    white-space: nowrap;
    border-radius: 3px;
    cursor: pointer;

}

.mw-dropdown-type-wysiwyg.active {
    border-radius: 3px 3px 0 0;
}

.mw-dropdown-type-wysiwyg input.mw-dropdown-field {
    border: none;
    padding: 5px;
    background: white;
    position: absolute;
    z-index: 2;
    visibility: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.mw-dropdown.active > .mw-dropdown-value > input.mw-dropdown-field {
    visibility: visible;
}

.mw-dropdown-type-wysiwyg input.mw-dropdown-field:focus {
    background: white;
    box-shadow: inset 0 0 6px #ccc;
}

.mw-dropdown-type-wysiwyg:hover, .mw-dropdown-type-wysiwyg.hovered, .mw-dropdown-type-wysiwyg.active {
    border-color: #DADADA;
    background: #fff;
}

.mw-dropdown-type-wysiwyg:active {
    box-shadow: inset 0 0 6px #ccc;
}

.mw-dropdown-type-wysiwyg_blue {
    border-color: #8EC4F0;
    background: #ABD3F4;
    color: #125287;
}

.mw-dropdown-type-wysiwyg_blue:hover, .mw-dropdown-type-wysiwyg_blue.hovered {
    background: #81BDEF;
    border-color: #8EC4F0;
}

.mw-dropdown-type-wysiwyg ul {
    padding: 0;
    margin: 0;
}

.mw-dropdown-type-wysiwyg a {
    color: #595959;
    text-decoration: none;
    font-size: 11px;
    display: block;
    padding: 2px 10px;
    line-height: normal;
}

.mw-dropdown-type-wysiwyg a:hover {
    background: #F0F0F0;
}

.mw-dropdown-type-wysiwyg .mw-dropdown-val {
    display: inline-block;
    padding: 3px 7px;
    max-width: 80%;
    max-width: calc(100% - 17px);
    max-width: -webkit-calc(100% - 17px);
    overflow: hidden;
    text-overflow: ellipsis;
}

.mw-dropdown-type-wysiwyg .mw-dropdown-val * {
    font-size: 11px !important;
    padding: 0 !important;
    margin: 0 !important;
    line-height: normal;
}

.mw-dropdown-arrow {
    background: url(../img/dd_wysiwyg_arr.png) no-repeat;
    display: block;
    height: 3px;
    width: 5px;
    float: right;
    margin-right: 6px;
    margin-top: 12px;
}

.mw-dropdown-type-wysiwyg .mw-dropdown-content {
    top: 100%;
    padding: 0;
    margin-left: -1px;
}

.mw-dropdown-type-wysiwyg .mw-dropdown-content ul {
    padding: 5px 0;
    border-radius: 0px;
    background: white;
    max-height: 230px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: auto;
}

.mw_dropdown_action_font_size {
    width: 65px;
}

.mw_dropdown_action_font_size .mw-dropdown-content ul {
    width: 100%;
}

.mw_dropdown_action_format .mw-dropdown-content ul {
    width: 245px;
}

.mw_editor_btn, .mw-dropdown-type-wysiwyg {
    margin-left: 1px;
    margin-right: 1px;
}

#mw_small_editor .mw_editor_btn, #mw_small_editor .mw-dropdown-type-wysiwyg {
    margin-bottom: 0;
}

#mw-admin-text-editor {
    position: relative;
    z-index: 20;
    box-shadow: 0 1px 2px -1px #CCCCCC;
}

#mw-admin-text-editor .mw_dlm {
    margin-left: 1px;
    margin-right: 1px;
}

#mw-admin-text-editor .editor_wrapper {
    padding: 4px;
    background: white;
    z-index: 10;
    width: 100%;
}

.mw-admin-editor {
    background: white;
}

.wysiwyg-break {
    float: left;
    position: relative;
}

.wysiwyg-break:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.mw-editor-iframe-loading {
    background: white url(../img/img_check_loading.gif) no-repeat center center;
}

.mw_dropdown_action_format h1,
.mw_dropdown_action_format h2,
.mw_dropdown_action_format h3,
.mw_dropdown_action_format h4,
.mw_dropdown_action_format h5,
.mw_dropdown_action_format h6,
.mw_dropdown_action_format p {
    margin: 0 !important;
    padding: 5px 0 !important;
    color: #595959 !important;
}

#liveedit_wysiwyg {
    height: 40px;
    cursor: default;
}

.mw_editor_redo.disabled,
.mw_editor_undo.disabled {
    display: none;
}

.show_editor {
    display: none;
    font-size: 25px;
}

.show_editor u {
    padding-top: 15px;
    display: inline-block;
}

#history_dd {
    position: relative;
}

#mw-history-panel {
    left: -22px;
    width: 150px;
    border: 1px solid #D2D2D2;
    top: 12px;
}

#mw_history_files a {
    display: block;
    padding: 5px 10px;
}

.wysiwyg-convertible-toggler {
    display: none;
}

.wysiwyg-convertible > * {
    float: none;
    vertical-align: top;
}

.wysiwyg-table {
    display: table;
    padding-top: 11px;
    position: relative;
    left: 0;
}

.wysiwyg-table > .wysiwyg-cell {
    display: table-cell;
    vertical-align: middle;
    float: none;
    white-space: nowrap;
    padding: 0 6px;
    background: url(../img/mw_dlm.png) no-repeat right center;
}

.wysiwyg-table > .wysiwyg-cell:first-child {

}

.wysiwyg-table > .wysiwyg-cell:last-child {
    background-image: none;
}

.wysiwyg-table > .wysiwyg-cell > *, .wysiwyg-table .wysiwyg-cell-limitter > * {
    float: none;
}

.wysiwyg-table, .wysiwyg-table * {
    vertical-align: middle;
}

.visible-1024 {
    display: none !important;
}

.visible-1366 {
    display: none !important;
}

.visible-1440 {
    display: none !important;
}

@media (max-width: 1024px) {
    .hidden-1024 {
        display: none !important;
    }

    .visible-1024 {
        display: inherit !important;
    }

    .wysiwyg-convertible-toggler-1024 {
        display: inline-block;
        width: 35px;
    }

    .wysiwyg-convertible-1024.active {
        display: block;
    }

    .wysiwyg-convertible-1024 {
        display: none;
        padding: 4px;
        left: -4px;
        z-index: 3;
        width: auto;
        position: absolute;
        top: 37px;
        background: #F2F2F2;
        position: absolute;
        border: 1px solid #d1d1d1;
        box-shadow: inset 2px 2px 0 -1px white;
    }

    .wysiwyg-convertible-1024:before {
        content: "";
        position: absolute;
        display: block;
        width: 16px;
        height: 9px;
        background: url(../img/convertible_arr.png) no-repeat;
        top: -8px;
        left: 20px;
    }
}

@media (max-width: 1440px) {
    .visible-1440 {
        display: inherit !important;
    }

    .wysiwyg-convertible-toggler-1440 {
        display: inline-block;
        width: 35px;
    }

    .wysiwyg-convertible-1440.active {
        display: block;
    }

    .wysiwyg-convertible-1440 {
        display: none;
        padding: 4px;
        left: -4px;
        z-index: 3;
        width: auto;
        position: absolute;
        top: 37px;
        background: #F2F2F2;
        position: absolute;
        border: 1px solid #d1d1d1;
        box-shadow: inset 2px 2px 0 -1px white;
    }

    .wysiwyg-convertible-1440:before {
        content: "";
        position: absolute;
        display: block;
        width: 16px;
        height: 9px;
        background: url(../img/convertible_arr.png) no-repeat;
        top: -8px;
        left: 20px;
    }
}

@media (max-width: 1366px) {
    .visible-1366 {
        display: inherit !important;
    }

    .wysiwyg-convertible-toggler-1366 {
        display: inline-block;
        width: 35px;
    }

    .wysiwyg-convertible-1366.active {
        display: block;
    }

    .wysiwyg-convertible-1366 {
        display: none;
        padding: 4px;
        left: -4px;
        z-index: 3;
        width: auto;
        position: absolute;
        top: 37px;
        background: #F2F2F2;
        position: absolute;
        border: 1px solid #d1d1d1;
        box-shadow: inset 2px 2px 0 -1px white;
    }

    .wysiwyg-convertible-1366:before {
        content: "";
        position: absolute;
        display: block;
        width: 16px;
        height: 9px;
        background: url(../img/convertible_arr.png) no-repeat;
        top: -8px;
        left: 20px;
    }
}

@media (max-width: 1000px) {
    .visible-1000 {
        display: inherit !important;
    }

    .wysiwyg-convertible-toggler-1000 {
        display: inline-block;
        width: 35px;
    }

    .wysiwyg-convertible-1000.active {
        display: block;
    }

    .wysiwyg-convertible-1000 {
        display: none;
        padding: 4px;
        left: -4px;
        z-index: 3;
        width: auto;
        position: absolute;
        top: 37px;
        background: #F2F2F2;
        position: absolute;
        border: 1px solid #d1d1d1;
        box-shadow: inset 2px 2px 0 -1px white;
    }

    .wysiwyg-convertible-1000:before {
        content: "";
        position: absolute;
        display: block;
        width: 16px;
        height: 9px;
        background: url(../img/convertible_arr.png) no-repeat;
        top: -8px;
        left: 20px;
    }
}

.selection-simulation {
    background: #3399FF;
    color: white;
}

/* Icons */

.mw-icon-selector {
    max-height: 120px;
    width: 300px;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
}

.mw-icon-selector-set-icon-size {
    bottom: 10px;
    display: inline;
    left: 10px;
    position: absolute;
    border: 1px;
    width: 280px !important;

}

.mw-icon-selector li {
    color: #9e9e9e;
    cursor: pointer;
    display: inline-block;
    font-size: 21px;
    list-style: outside none none;
    margin: 2px;
    padding: 2px;
    text-align: center;
    width: 40px;
}

.mw-icon-selector li:hover,
.mw-icon-selector li:focus {
    background-color: #EEEEEE;
    color: #222222;
}

.icon-section-title > [class*="sm-icon-"],
.icon-section-title > [class*="mw-icon-"] {
    font-size: 232%;
    margin: -4px 12px 0 0;
    opacity: 0.7;
}

.icon-section-title + .mw-ui-box {
    margin-top: 12px;
}

/* /Icons */