<IfModule mod_fcgid.c>
FcgidMaxRequestLen 15728640
</IfModule> 
### mw htaccess
RewriteEngine on


#Uncomment bellow and set the name of your sub-folder if you are installing MW in subfolder
RewriteBase /


RewriteRule ^userfiles/media - [L,NC]
RewriteRule ^userfiles/templates - [L,NC]
RewriteRule ^application/includes/ - [L,NC]
RewriteRule ^application/includes/img/ - [L,NC]
RewriteRule ^application/includes/js/ - [L,NC]
RewriteRule ^application/includes/api/ - [L,NC]
RewriteRule ^application/includes/css/ - [L,NC]
RewriteRule ^userfiles/ - [L,NC]
RewriteRule ^cache/ - [L,NC]
#prevents the db from being downloaded
RewriteCond %{REQUEST_URI} (.*).db [NC]
RewriteRule ^(.*)$ 404.html [R=404,L]

#goes to the index.php file
RewriteCond %{REQUEST_URI} !\.(gif|jpg|jpeg|png|js|css)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ /index.php
RewriteRule ^(.*)$ index.php [NC,L]



#Uncomment bellow and set the name of your sub-folder if you are installing MW in subfolder
RewriteBase /mw/


RewriteRule ^userfiles/media - [L,NC]
RewriteRule ^userfiles/templates - [L,NC]
RewriteRule ^application/includes/ - [L,NC]
RewriteRule ^application/includes/img/ - [L,NC]
RewriteRule ^application/includes/js/ - [L,NC]
RewriteRule ^application/includes/api/ - [L,NC]
RewriteRule ^application/includes/css/ - [L,NC]
RewriteRule ^userfiles/ - [L,NC]
RewriteRule ^cache/ - [L,NC]
#prevents the db from being downloaded
RewriteCond %{REQUEST_URI} (.*).db [NC]
RewriteRule ^(.*)$ 404.html [R=404,L]

#goes to the index.php file
RewriteCond %{REQUEST_URI} !\.(gif|jpg|jpeg|png|js|css)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ /index.php
RewriteRule ^(.*)$ index.php [NC,L]

### end of mw htaccess


RewriteBase /Microweber/


RewriteRule ^userfiles/media - [L,NC]
RewriteRule ^userfiles/templates - [L,NC]
RewriteRule ^application/includes/ - [L,NC]
RewriteRule ^application/includes/img/ - [L,NC]
RewriteRule ^application/includes/js/ - [L,NC]
RewriteRule ^application/includes/api/ - [L,NC]
RewriteRule ^application/includes/css/ - [L,NC]
RewriteRule ^userfiles/ - [L,NC]
RewriteRule ^cache/ - [L,NC]
#prevents the db from being downloaded
RewriteCond %{REQUEST_URI} (.*).db [NC]
RewriteRule ^(.*)$ 404.html [R=404,L]

#goes to the index.php file
RewriteCond %{REQUEST_URI} !\.(gif|jpg|jpeg|png|js|css)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ /index.php
RewriteRule ^(.*)$ index.php [NC,L]