/* Start of .checkout-modal */
.checkout-modal  .checkout-modal-products-wrapper .checkout-modal-product-list-item {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.checkout-modal  .checkout-modal-products-wrapper .checkout-modal-product-list-item:hover {
    background: #fff
}

.checkout-modal .checkout-modal-header {
    padding: 0.7rem 1rem;
}



