

/* Start of .checkout-modal */
/* Start of .checkout-modal */
/* Start of .checkout-modal */
/* Start of .checkout-modal */

.checkout-modal  .checkout-modal-products-wrapper .checkout-modal-product-list-item {
    font-size: 14px;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 10px 0;
    align-items: center;
    justify-content: center;
}


.checkout-modal .checkout-modal-products-wrapper .products {
    max-height: 400px;
    overflow: auto;
    overflow-x: hidden;
}

.checkout-modal  .checkout-modal-products-wrapper .checkout-modal-product-list-item .ul {
    list-style-type: none;
    margin-bottom: 0.4rem;
}

@media screen and (max-width: 767px) {
    .checkout-modal  .checkout-modal-products-wrapper .checkout-modal-product-list-item img {
        max-width: 200px;
        margin: 0 auto;
        display: block
    }
}

.checkout-modal  .checkout-modal-products-wrapper .checkout-modal-product-list-item:hover {
    background: #fff
}

.checkout-modal  .checkout-modal-products-wrapper .checkout-modal-product-list-item .checkout-modal-product-list-item-action {
    padding-left: 0;
    padding-right: 0
}

.checkout-modal  .checkout-modal-products-wrapper .checkout-modal-product-list-item .checkout-modal-product-list-item-action a {
    color: #282627;
    opacity: 1;
    display: inline-block
}

.checkout-modal  .checkout-modal-products-wrapper .checkout-modal-product-list-item .checkout-modal-product-list-item-qty {
    padding-left: 0;
    padding-right: 0;
    text-align: center
}

 .checkout-modal-products-wrapper .checkout-modal-product-list-item .checkout-modal-product-list-item-qty select {
    margin-top: 25px
}

.checkout-modal  .checkout-modal-products-wrapper .checkout-modal-product-list-item .checkout-modal-product-list-item-action .tooltip {
    margin-top: 5px
}

.checkout-modal  .checkout-modal-products-wrapper .checkout-modal-product-list-item .checkout-modal-product-list-item-action, .checkout-modal .checkout-modal-products-wrapper .checkout-modal-product-list-item .checkout-modal-product-list-item-price, .checkout-modal .checkout-modal-products-wrapper .checkout-modal-product-list-item .checkout-modal-product-list-item-title {
    /*padding-top: 35px;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.checkout-modal  .checkout-modal-products-wrapper .checkout-modal-product-list-item .checkout-modal-product-list-item-action, .checkout-modal .checkout-modal-products-wrapper .checkout-modal-product-list-item .checkout-modal-product-list-item-price {
    text-align: center
}

.checkout-modal  .checkout-modal-amount-holder .checkout-modal-promocode-holder, .checkout-modal .checkout-modal-amount-holder .checkout-modal-total-holder {
    /*padding-top: 35px*/
}


.checkout-modal  .checkout-modal-amount-holder .checkout-modal-promocode-holder p, .checkout-modal .checkout-modal-amount-holder .checkout-modal-total-holder p {
    margin-bottom: 20px
}

.checkout-modal  .checkout-modal-amount-holder .checkout-modal-promocode-holder .form-control {
    margin: 0
}

.checkout-modal  .checkout-modal-amount-holder .checkout-modal-total-holder, .checkout-modal .js-step-content {
    font-size: 16px
}


.checkout-modal .checkout-modal-total-price {
    font-weight: bold;
}

.checkout-modal .form-control {
    margin-bottom: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 16px
}

.checkout-modal .row .field-holder {
    margin-bottom: 0
}

.checkout-modal .row .field-holder .bootstrap-select, .checkout-modal .js-step-content .row .field-holder .form-control {
    width: 100% !important
}

.checkout-modal .row .field-holder .bootstrap-select .btn {
    margin-bottom: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 0
}

.checkout-modal .row:after {
    display: block;
    clear: both;
    content: ''
}

.checkout-modal .row.x2, .checkout-modal .js-step-content .row.x3 {
    margin: 0 -5px
}

.checkout-modal .row.x2 .field-holder {
    float: left;
    width: 50%;
    padding: 0 5px
}

.checkout-modal .row.x3 .field-holder {
    float: left;
    width: 33.3%;
    padding: 0 5px
}

.checkout-modal-products-wrapper .table *{
    vertical-align:middle;
}
.checkout-modal-products-wrapper .table .td-title{
   max-width: 140px;
}
/* End of .checkout-modal */


/* .Modal-content*/

.modal-content .table th {
    background: none;
    color: black;
}

.modal-content .btn-lg {
    min-width: auto;
    padding: 15px 20px;
}

.modal-content .btn-primary {
    color: #fff;
    background-color: #0055ff;
    border-color: #007bff;
}

.modal-content .btn-primary:hover {
    background-color: #007bff;

}

.checkout-modal .checkout-modal-header {
    padding: 0.7rem 1rem;
}

/* End of .modal-content */


@media screen and (max-width: 767px) {
    .checkout-modal .checkout-modal-products-wrapper .checkout-modal-product-list-item .checkout-modal-product-list-item-title {
        text-align: center
    }
}

@media (min-width: 1450px) {
    .checkout-modal .modal-dialog {
        width: 700px
    }
}



