<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript" src="js/flash_resize.js"></script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>balianti.com; balianti; Web Development; graphic Design, animations, consulting, websites, programming</title>

<script src="js/flash_detect.js" language="javascript"></script>
<script type="text/javascript" src="js/swfobject.js"></script>
<script language="JavaScript" type="text/javascript">
if(FlashDetect.majorAtLeast(8)){
}else{
	var answer = confirm("This page requires latest version of Flash Player. Click Yes to install now.")
	if (answer){
		window.location = "http://www.adobe.com/go/getflash/";
	}
	else{
	}
}
</script>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #232323;
}
-->
</style>
<style type="text/css">
#flashid {
	float:right;
	position: absolute;
	left: 0px;
	bottom: 0px;
}
div > div#flashid {
	position: fixed;
}
pre.fixit {
	overflow:auto;
	border-left:1px dashed #000;
	border-right:1px dashed #000;
	padding-left:2px;
}
</style>
<script src="js/AC_RunActiveContent.js" type="text/javascript"></script>
<link href="js/stylephp.css" rel="stylesheet" type="text/css">

</head>

<body>

<div id="content">
<div id="flashid" style="z-index:999;width:275px; height:315px;">
		<script type="text/javascript" language="JavaScript">
			e = canResizeFlash();
			document.write('<object data="player.swf" width="100%" height="100%" type="application/x-shockwave-flash">');
			document.write('<param name="movie" value="player.swf" />');
			document.write('<param name="wmode" value="transparent" />');			
			document.write('<param name="quality" value="high" />');			
			document.write('<param name="align" value="right" />');			
			document.write('<param name="LOOP" value="false" />');			
			document.write('<param name="FlashVars" value="allowResize='+e+'" />');
			document.write('Flash Movie With Resizing Content');
			document.write('</object>');
		</script>
		<noscript>Javascript must be enabled to view Flash movie</noscript>
	</div>

  <!--<div id="fixmetoo"  style="z-index:999">
    <SCRIPT type=text/javascript>
		   var so = new SWFObject("include/createit_left.swf", "mymovie", "528", "296", "7", "");
			  so.addParam("movie", "include/createit_left.swf");
			  so.addParam("quality", "high");
			  so.addParam("wmode", "transparent");
			  so.addParam("LOOP", "false");
			  so.addParam("PLAY", "true");
			  so.addParam("align", "left");
			  so.write("fixmetoo");
        </SCRIPT>
  </div>-->
  
</div>
<table width="1002px" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><img src="background.jpg" width="1262" height="1024" /></td>
  </tr>
</table>
</body>
</html>
