.bgvid {
 display:block;
 width:100%;	
}


.bgvid video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	background-size: cover;
}
.video_with_text_holder {
	position: absolute;
	top: 50%;
	right: 30%;
	font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
	font-weight: 100;
	background: rgba(0,0,0,0.3);
	color: white;
	padding:30px;
}
