name: Microweber build & upload

on:
  push:

jobs:
  microweber-build-and-upload:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install Dependencies
      run: composer install

    - name: Dump autoload dependecies
      run: composer dump-autoload

    - name: Inject slug/short variables
      uses: rlespinasse/github-slug-action@v3.x

    - name: Zip the files
      run: |
        rm -rf .git
        rm -rf .github
        find . \( -name ".git" -o -name ".gitignore" -o -name ".gitmodules" -o -name ".gitattributes" \) -exec rm -rf -- {} +
        zip -r microweber-${{ env.GITHUB_REF_SLUG }}.zip `ls -A`
        curl -T microweber-${{ env.GITHUB_REF_SLUG }}.zip ftp://${{ secrets.FTP_USERNAME }}:${{ secrets.FTP_PASSWORD }}@${{ secrets.FTP_HOST }}

    - name: Upload composer.json
      run: |
        cp -r composer.json composer-${{ env.GITHUB_REF_SLUG }}.json
        curl -T composer-${{ env.GITHUB_REF_SLUG }}.json ftp://${{ secrets.FTP_USERNAME }}:${{ secrets.FTP_PASSWORD }}@${{ secrets.FTP_HOST }}
