<phpunit
  colors="true"
  bootstrap="bootstrap.php"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  >
  <testsuite name="SabreDAV">
    <directory>Sabre/</directory>
  </testsuite>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
       <directory suffix=".php">../lib/</directory>
       <exclude>
         <file>../lib/Sabre.includes.php</file>
         <file>../lib/Sabre.autoload.php</file>
       </exclude>
    </whitelist> 
  </filter>
</phpunit>
