body {
	margin-top:165px;
	margin-bottom:30px;
}
.sortable-placeholder, .ui-sortable-placeholder, .ui-state-highlight, .sortable-dragging {
	/* padding-top:15px;
		    padding-bottom:15px;
		 margin-top:10px;
		 margin-bottom:10px;*/
		  width:100%;
	margin-top:20px;
	margin-bottom:35px;
	background-image: url(images/drop.png);
	background-color:#FFFF93 !important;
	background-repeat: no-repeat;
	background-position: center center;
	outline: 1px dashed #a5b3ac;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #333;
	text-decoration: none;
	font-style: normal;
	line-height: 11px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	height:150px;
	
	
	/*padding-right: 3%;
	padding-left: 3%;    */     
}
.row {
	margin-left: 0px !important;
	min-height:40x;
}
.row:hover {
	outline: 2px solid #d0d0d0;
}



.ui-state-highlight2, .also-resize {
	background-color: #990099 !important;
}
.also-resize-inner {
	background-color: #990000 !important;
}

.hl1 {
	background-color: #FFFF00 !important;
}
.hl2 {
	background-color: #33CCFF !important;
}


.empty-column {
	width:95%;
	height:20px;
	margin:1%;
   margin:5px;
   padding-bottom:-20px;
   margin-bottom:35px; 
}

.empty-column-big {
 	height:150px;
	margin-top:10px; 
    margin-bottom:45px; 
}


.empty-column:hover {
 
}
.empty-column span {
color: #AAAAAA;
    font-size: 20px;
  
    text-align: center;
 	
}


.empty {
	width:100%;
 	line-height:20px !important;
	margin-top:20px;
	margin-bottom:20px;
	background-image: none;
	background-color:#CCCCCC !important;
	clear: both !important;
	display:block !important;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 	text-decoration: none;
 }

.mw-outline-column {
	outline-style:solid;
	outline-width:1px;
	outline-color: #d0d0d0;
	outline-offset: 0px;
}

.mw-outline {
	outline-style:solid;
	outline-width:2px;
	outline-color: #000;
	outline-offset: 2px;
}
/*.edit .ui-state-highlight {
 z-index:99	!important;
}
 
.column-outline {
	outline: 1px dotted #0CF;
 	
}
.column .ui-state-highlight, .column .empty {
 z-index:300	!important;
}

.column .column,.column .column .empty {
 z-index:993	!important;
}

.row>.column>.row>.column>.ui-state-highlight, .column .empty, .row .column .row .column .ui-state-highlight, .row .empty {
 z-index:9990	!important;
}


*/
.ui-sortable:not(.edit):hover, .col:hover {
/*outline: 1px dotted #0CF;*/
}

.columns_set {
	float:left;
	font-size:10px;
	color:#999999;
}


a.mw-make-cols {
	 
	font-size:10px;
	color:#FFFFFF;
	background-color:#CCC;
	padding-left:3px;
	padding-right:3px;
	text-decoration:none;
}
a.mw-make-cols.active {
	background-color:#FFFFFF;
	color:#333;
}
.column {
	float:left;
/*	outline-style:solid;
outline-width:1px;
outline-color: #039;
outline-offset: 1px;
position:relative;*/
 
	 
}
.column-min-height {
	min-height:100px;
}
.col, .row, .element {
	position:relative;
}
.edit {
	position:relative;
}


.mw-sorthandle {
	width:100%;
	position:absolute;
 left: 0px; 
	background-repeat: repeat-x;
	cursor:move;
}
.mw-sorthandle span {
	width:100%;
}
.columns_set {
	float:left;
}
.mw_delete_element {
 float:right;
}
.mw-sorthandle-col {
	background-color:#0F0;
	height:12px;
	top:0px;
	z-index:1000;
	background-image: url(images/col-handle.png);
 
	background-repeat: repeat-x;
	background-position:center center;
	display:none;
	cursor:move;
}

.element {
 word-wrap: break-word;
 	
}
.element:hover {
	outline: 2px solid #e8e8e8;
}




.mw-sorthandle-row {
	background-color:#CCC;
	height:24px;
	top:-24px;
	background-image: url(images/row-handle.png);
	z-index:900;
	background-repeat: repeat-x;
	background-position:center center;
	display:none;
	cursor:move;
 }
.row .column .mw-sorthandle-row {
	z-index:999;
  
}


.row .column .row .column .mw-sorthandle-row {
	z-index:1000;
 
}


.ui-resizable-helper {
	border: 2px dotted #00F;
}
 [contenteditable=true], .outline, .mw_dragover, .ui-resizable:hover {
}
[contenteditable=true]:hover {
}
.edit .module, .edit img {
/*resize: both;  */
}
#mw-layout-edit-footer-bar {
	background-color: #F0F0F0;
	border-top: 1px solid #CCCCCC;
	bottom: 0px;
	font-family: verdana, arial;
	font-size: 11px;
	height: 15px;
	position: fixed;
	width: 100%;
	z-index: 1000;
}
#ContentSave {
	position:fixed;
	bottom:40px;
	right:20px;
}
#mw-layout-edit-site-top-bar {
	background-color: #CCCCCC;
	border-top: 1px solid #CCCCCC;
	top: 0px;
	font-family: verdana, arial;
	font-size: 11px;
	height: 155px;
	position: fixed;
	width: 100%;
	z-index: 1000;
}
#mw-layout-edit-site-text-editor {
	top: 1px;
	height: 30px;
	position: relative;
	width: 100%;
	z-index: 1000;
}
#mw-layout-edit-toolbar-top-container {
	top: 0px;
	height: 130px;
	position: relative;
	width: 100%;
	z-index: 1000;
	background-image: url(images/mw_toolbar_top.jpg);
	background-repeat: repeat-x;
}
#mw-layout-edit-toolbar-top-container .ui-tabs-panel {
	height: 63px !important;
}
#mw-layout-edit-toolbar-top-container-items {
	top: 0px;
	height: 75px;
	position: relative;
	width: 100%;
	z-index: 1000;
	background-color:#e9e9e9;
}
#mw-layout-edit-site-top-bar-l, .mw-layout-edit-site-bar-l {
	width: 100%;
	float:left;
}
.mw-layout-edit-curent-row-element {
	color:#6C6C00;
}
.mw-layout-edit-curent-element {
	color:#005E00;
}
/* To make up for scroll-bar. */
		#mw-layout-edit-site-top-bar {
	_top: -1px;
	_position: absolute;
	_right: 16px;
}
.modules-list-holder {
	width:100%;
	overflow: scroll;
	height:75px;
}
.modules-list {
	list-style-position: inside;
	list-style-image: none;
	list-style-type: none;
	width:3000px;
	;
}
.modules-list img {
	border: 0 none;
	height: 32px;
	;
	vertical-align: middle;
}
.modules-list li {
	float:left;
	display:inline;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	text-decoration: none;
	margin-right: 5px;
	margin-left: 5px;
}
.modules-list span {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	text-align:center;
}


 